[2018-01-22 14:33] Rohoover commented on #443
Thanks @mcarrano.

I've updated the document/design to answer questions and resolve issues.

[2018-01-22 16:19] LHinson opened #535 "Use genderless descriptions in utilization bar chart"
http://www.patternfly.org/pattern-library/data-visualization/utilization-bar-chart/
Should use genderless descriptions when it isn't necessary.

Should be:

[2018-01-22 16:25] LHinson opened #536 "Utilization Bar Chart Edits"
http://www.patternfly.org/pattern-library/data-visualization/utilization-bar-chart/#/design

- fix formatting, nesting, and random hyphens in the first list
- Change "with the exact percentage value of the used value." to "with the exact used value percentage." or "with the exact percentage used."
- Change "provides for an warning" to "provides for a warning"
- Change "When a warning threshold is

[2018-01-23 21:47] serenamarie125 commented on #470
I'd like to put up a quick PR with some higher level info to help set the context.  I'll put something up by the end of the week!

[2018-01-23 22:33] jeperry commented on #505
Understood - cafeteria testing is easy and quick so won't burn too many precious valuable cycles. I'm not trying to cause trouble, it's just that neither the problem or the solution are novel so it is not clear to me what our concerns or test questions are. Anyhow, I look forward to the results and hope the design here holds up well.

[2018-01-23 23:17] michael-coker opened #538 "Should "Background Disabled" show a disabled background under Canvas Containers on the Canvas View Pattern?"
- [x] I would like to report a bug on, design documentation, visual or interaction design inconsistencies, feedback or suggestions<br>

In the screenshot under "Canvas Containers" on http://www.patternfly.org/pattern-library/content-views/canvas-view/#/design, should the background canvas area outside of the containers be disabled to represent #2 in the numbered list below the screenshot?

[2018-01-24 01:23] serenamarie125 commented on #341
I've worked up a couple of options which are more in line with Google Mail

Option #1 - simple dropdown checkbox, interacting with the checkbox will either select all or deselect all .  Selecting the dropdown will provide options ( All & None by default, but other optional filters could be added such as a state - Running VMs, for instance in RHV - or Unread emails in Gmail )
![select dropdown1](ht

[2018-01-24 13:44] Mgranfie commented on #341
These look great Serena! I'm not sure on Jeremy and Mary's line of
thought... tossing in a couple of points.

1. Singular check boxes without some type of feedback typically are not
well understood, so Option 1 would be the better choice in the sense that
the drop down text confirms, for the user, what exactly is being selected
by clicking on the checkbox.

2. The only question I have for both of

[2018-01-24 16:39] maryclarke commented on #341
Although I generally agree that singular checkboxes aren't usually good, I do think it is a well understood pattern in this case.  I also am not crazy about dropdowns that have only the two very obvious options related to the checkbox.  I don't have a really strong opinion one way or the other, but I would vote for option 2 in this case.  Although, if we feel that more options could be added to th

[2018-01-24 16:54] mcarrano commented on #538
@vconzola Can you comment on this? This was your design and I'm not sure of all of the nuance here.

[2018-01-24 16:59] Mgranfie commented on #341
I agree with Mary that a checkbox with a tooltip and feedback on the
selection numbers, with pagination would work...

On Wed, Jan 24, 2018 at 11:39 AM, Mary Clarke <notifications@github.com>
wrote:

[2018-01-24 17:52] serenamarie125 commented on #322
We have an initial proposal too :) If people are ok with this, we can start the contribution process.  Would be nice to have a discussion as to "where" this would live and what the pattern should be called

https://docs.google.com/document/d/1UvnNPrl35osBHR0mr7ACZXhr9qN6nZ2IxI2HEgtnwwE/

[2018-01-24 20:30] mcarrano commented on #293
I no longer see this issue so will close.

[2018-01-24 20:30] #293 closed

[2018-01-24 20:37] mcarrano commented on #237
I am just cleaning up old issues. I think this was addressed @michpetrov . Can you verify?

[2018-01-24 20:43] mcarrano commented on #191
@LHinson I'm just combing through some old issues and found this. Do you think the solution here is to just remove Info Tip from the widgets page? It's not really a thing that we support any more.

[2018-01-24 21:08] mcarrano commented on #360
@jennyhaines @schizari Given the icon work you both have been doing, wondered if you could give this a look. We currently do not have separate icons for Delete and Remove, although they are functionally different. Do you have any ideas on this?  Do you think users understand the difference?

[2018-01-24 22:17] mcarrano commented on #341
Thanks for posting this @serenamarie125 . This is the approach that Google has taken and seems consistent with what users called for in the usability test that was done last year (see link above). I prefer the overall approach that is expressed in Option 1 since while the dropdown options are redundant, it makes it clear what's happening here and allows use of either the menu or checkbox. The chec

[2018-01-25 11:52] michpetrov commented on #237
@mcarrano yes, the jquery plugin issue was fixed with #435.

[2018-01-25 11:52] #237 closed

[2018-01-25 15:31] schizari commented on #360
@mcarrano based on our recent research results, most users associated the ‘trash’ with delete/deleted function both in context and out of context. There were 5 (out of 20) instances that users describe the icon as 'remove'. And from that 5, half of them mentioned 'delete' and 'remove' together. So there is a high chance that users tend to understand the icon as ‘delete’.

[2018-01-25 15:40] jennyhaines commented on #360
@mcarrano @LHinson - I don't know of any difference function-wise between "delete" and "remove", so I don't see why we'd need to keep both. It makes sense to me to follow the results that Sara got, and only keep "pficon-delete" since that wording seemed to resonate more with testers/users.

[2018-01-25 15:54] mcarrano commented on #360
There actually is a functional difference in many use cases, @jennyhaines .  Delete is destructive, remove is not. Removing an object in the context of management does not get rid of it. It's still there and I can potentially add it back later. Not sure that we often have Delete and Remove shown together, but I do think that the Trash icon is not the right metaphor if what I really want is to temp

[2018-01-25 15:59] jennyhaines commented on #360
@mcarrano - That does make sense. In that case, keeping "pficon-delete" the same (as the trashcan) seems to make sense, and determining a different icon for "remove" could be good. I'd be curious to see a current UI that uses "remove", because it seems that the "close" icon (the X) could serve dual purposes... to close or remove.

[2018-01-25 18:58] mcarrano commented on #360
We had Remove actions in Storage, but they were all from actions menus so this issue did not come up. @serenamarie125 @maryclarke @catrobson are you aware of specific examples of where we need a Remove icon?

Using "X" or something like it seems like a reasonable direction.

[2018-01-25 19:03] mcarrano commented on #360
p.s. something like fa-minus-circle might also work. It feels more like the inverse of pficon-add-circle-o.

[2018-01-25 20:27] mcarrano commented on #530
@beanh66 can you send a screen shot so we can see what this looks like? Thnx.

[2018-01-25 21:32] michael-coker opened #542 "Unclear wording in Wizard design panel"
https://github.com/patternfly/patternfly-design/blob/master/pattern-library/communication/wizard/design/design.md

Under [First Step](https://github.com/patternfly/patternfly-design/blob/master/pattern-library/communication/wizard/design/design.md#first-step), this text is unclear.

Can anyone explain what "it views progress in the wizard and ends up changing the label of that button" means? I _th

[2018-01-26 05:32] #416 closed

[2018-01-26 16:05] mcarrano opened #543 "Review and update Data Tables design to consider framework variations"
During the Repo Leads meeting on Jan 26, it was noted that data table behavior across framework repos is somewhat dependent on third-party components used for delivering this capability. Currently [Table View](http://www.patternfly.org/pattern-library/content-views/table-view/) design was largely built around Datatables.net capabilities that may or may not be present of identically implemented in

[2018-01-26 16:08] mcarrano commented on #543
@serenamarie125 @maryclarke I have created this new issue, as requested, to consider how to address interaction differences between data tables frameworks as discussed in today's meeting. Feel free to comment if you have anything further to add.

@LHinson FYI

[2018-01-26 16:09] mcarrano commented on #516
A new issue #543 has been created to look at data tables consistency across repo implementations and how to address from a design perspective. The resolution of this question will be dependent on that outcome.

[2018-01-26 16:17] mcarrano commented on #461
This issue is further complicated by discussion of https://github.com/patternfly/patternfly-react/pull/88. This raises issues about desired behavior of selecting parent nodes when there are multi-level menus present. Per [Repo Leads mtg on Jan 26](https://docs.google.com/document/d/19GFkbc25C9OEOTI9W4NUoyF2dvNJAvwYQDADPT42wWY/edit?usp=sharing), a detailed analysis and recommendations are needed th

[2018-01-26 16:40] mcarrano commented on #532
Per @maryclarke , Cockpit has a need for this design. I will coordinate meeting with Mary and @matthewcarleton to discuss possible design modifications that will satisfy user case requirements as well as being addressing implementation concerns.

[2018-01-26 16:58] mcarrano commented on #341
Per PF-UXS meeting on Jan 25, will proceed forward with Option 1 approach. I have created https://patternfly.atlassian.net/browse/PTNFLY-2735 and assigned it to myself to explore how this plays with pagination and filtering for reporting items selected in view.

[2018-01-26 17:02] mcarrano commented on #485
Per PF-UXS meeting on Jan 25, all agree that interactive elements, excepting core HTML controls like radio buttons and checkboxes, should show the hand cursor on hover. I have reassigned this to myself and will enter appropriate issues against PF core repo.

[2018-01-26 18:32] mturley commented on #461
To clarify one detail from the discussion above, we agreed on changing the behavior in patternfly-react such that a click will skip the delay for the hover. i.e., if you just hover, you'll have to wait 500ms, but if you click after 100ms it will go ahead and enter the hovered state immediately. That click would not also navigate the application unless the item clicked is a leaf node, or has its ow

[2018-01-26 18:38] mcarrano commented on #461
@matthewcarleton @andresgalante Can you reply to @mturley 's comment above? Not sure if we currently have these delays build into the core implementation.

[2018-01-26 19:15] matthewcarleton commented on #461
This may need to wait for @andresgalante as I haven't done much work on the nav, but from what I can see there is only a 100ms delay in vertical nav in core.

[2018-01-26 21:43] mcarrano commented on #322
@serenamarie125 I gave this a review and think it all makes sense as a basic approach. We should consider whether a warning icon is desirable here. Also, there may be situations where one want to include other object details or options.

Here's an example of one of the Delete workflows we did for storage: https://redhat.invisionapp.com/share/729GRP1W9 You'll see that is includes some current state

[2018-01-29 13:13] beanh66 commented on #530
@mcarrano the OpenShift issue I provided a link to has some relevant conversation as well as a screenshot of the suggested change. Please check it out: https://github.com/patternfly/angular-patternfly/pull/701

I am attaching the image from that issue here as well:
<img width="301" alt="screen shot 2018-01-29 at 8 12 47 am" src="https://user-images.githubusercontent.com/18057044/35512025-450843c8-

[2018-01-29 15:37] mcarrano commented on #530
@beanh66 Thanks for posting. @kybaker can you take a look and let us know what you think?

[2018-01-29 16:20] catrobson commented on #360
@mcarrano yes, we do have "remove" as separate from "delete" as a concept in many places in our products, and I agree the trash can would be inappropriate for "remove".  I'm not sure that we use icons very often for this though, the only ones I can think of are text only buttons or kabob menu options.

[2018-01-29 19:44] mcarrano opened #545 "Adding SerialConsole Component"
#### 1. Choose the type of contribution for this pattern:
- [x ] This is a new pattern
- [ ] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
#### 3. Title: SerialConsole
#### 4. Use Cases + Requirements
* Allows a terminal window to be embedded inside a page.

#### 5. References
This component is being introdu

[2018-01-29 19:47] mcarrano commented on #545
@jgiardino @LHinson @maryclarke I have opened a new issue on patterfly-design to track the request for a SerialConsole component. Feel free to comment or add further information.

[2018-01-29 20:29] mcarrano opened #546 "Add Type-Ahead Input Pattern"
## For Pattern contribution proposal, tell us about your idea...
(delete section if filing a bug)
#### 1. Choose the type of contribution for this pattern:
- [x ] This is a new pattern

#### 4. Use Cases + Requirements
As a user, I want the system to make suggestions or recall  previously entered search or filter terms as I type.  Suggestions are listed in a drop-down menu that is filtered as the

[2018-01-29 21:15] kybaker commented on #530
@mcarrano @beanh66 I am concerned about how introducing this new styling will affect the rest of the library. This dropdown background is used in many other places in the library, do we make them all transparent? I am also concerned that it adds visual noise that takes away from the readability of the content. I also have concerns about levels of contrast.

My question is, does the complexity of a

[2018-01-29 21:45] mcarrano commented on #485
I have entered a new issue (https://github.com/patternfly/patternfly/issues/942) to address the Notification Drawer.

@beanh66 Based on my review, I believe the list view example code is correct. By default I would not expect the hand cursor on hover over a list item unless that item is linked to a drill-down page for drill down. Card View does seem inconsistent between single and multi-select vie

[2018-01-30 14:44] priley86 commented on #546
Hi @mcarrano - thanks for the issue.

Here is a few things I think that have been mentioned that would be possible nice additions when we have time:

*Select Multiple*:
http://ericgio.github.io/react-bootstrap-typeahead/  (controlling selections example)
Implementation pattern:
http://downshift.netlify.com/?selectedKind=Examples&selectedStory=multiple&full=0&addons=1&stories=1&panelRight=0

*Custo

[2018-01-30 15:01] ncameronbritt opened #547 "Add to Help on Forms pattern"
#### 1. Choose the type of contribution for this pattern:
- [ X] This is an enhancement on an existing pattern
#### 3. Title
Help on Forms
#### 4. Use Cases + Requirements
######
User needs to be able to access help, documentation, or other more general information about a form, i.e. help that is neither field-level nor syntax hints.
https://docs.google.com/document/d/10ByUafD4h3INRUhUt1zZzmpo4uwR

[2018-01-30 15:30] mcarrano opened #548 "Clarify use of alternate login methods in Multi-Factor Login"
The [Multi-Factor Login](http://www.patternfly.org/pattern-library/application-framework/multi-factor-login/) documentation lacks clarity around use of "Other Login Methods." There are two primary issues that I see:

(1) It's not clear where these screens fit into the overall flow. After the system validates the username, do these screens come next (i.e. before the password), after the password sc

[2018-01-30 17:39] mcarrano commented on #337
The results of usability testing can be found here: https://docs.google.com/presentation/d/19idNza_ff56YHODPLa0pdes4lnAcxFI3CJeSGtLOLVQ/edit?usp=sharing

As a result of this, the recommended path forward is to include sort-amount-asc/ and sort-amount-desc/ from the font awesome icon set as additional sort options on the Sort pattern design page (http://www.patternfly.org/pattern-library/forms-and-

[2018-01-31 10:33] yih-wang commented on #548
@mcarrano I made some updates and pulled a request #549 to fix these two issue:

1. For Overview page, changed the subtitle "Other Login Methods" to "Additional Authentication Methods", and modified the description to better demonstrate the relationship between these screens.

I also moved the one-sentence description of Authenticator/SMS/Backup Codes from Design page to this part. Because it's mo

[2018-01-31 18:44] beanh66 commented on #530
No problem @kybaker just wanted to contribute back the change we made in OpenShift if it made sense. I wasn't aware this filter panel was being used anywhere else yet, but that's good if it is! I understand your concerns for changing it across the board and it's a minor difference so happy to close this issue if everyone agrees @mcarrano?

[2018-01-31 18:55] beanh66 commented on #485
@mcarrano The card view is a tough one. Something I notice is the checkboxes are not visible all the time, they only appear on hover which is not the case for list view so the selection process is less obvious. Card views are also sometimes used with a single select option for performing actions so I like the idea of not requiring checkboxes. I think it is fair to allow each use case to determine

[2018-01-31 19:14] mcarrano commented on #485
That's fair @beanh66 . There is currently a related issue (#110) about reconciling selection and drill-down for different view types that I'd like to get to at some point. So these issues are probably more appropriate to consider in that context. As for the checkbox, as mentioned about, it's not standard to display the hand-cursor for checkboxes. I can see why that might be debatable, but I don't

[2018-01-31 19:14] #485 closed

[2018-01-31 19:16] mcarrano commented on #530
Let me just run past the strategists this week and confirm that we can close, @beanh66 . I think the approach taken was reasonable for OpenShift, but not sure I want to apply this in general to the design given @kybaker 's concerns.

[2018-01-31 21:15] danseethaler commented on #546
@priley86 thanks for the thoughts on the component!

I did want to bring up one thing that may help the discussion. In my mind this component should remain fairly simple since it's goal is to provide suggestions as a user is typing. When a dropdown item is selected the user can continue typing and more options may appear. I think this differs quite a bit from other types of dropdowns like filterin

[2018-02-01 14:57] serenamarie125 commented on #546
We have something in OpenShift take a look at the design here, http://openshift.github.io/openshift-origin-design/web-console/homepage/search-filter#search-catalog.  This is similar, yet different :) Do people think this would be a variation of the design?

[2018-02-01 16:11] vconzola commented on #538
The text says, "**_Some toolbox elements_** can only be added to containers. When such elements are selected in the toolbox, the canvas area outside of the containers is disabled so that items cannot be dropped into this area." Because the referenced screenshot applies to **_all_** toolbox elements - those that can only be added to containers as well as those that can be added anywhere on the canv

[2018-02-01 16:13] mcarrano commented on #341
I've taken @serenamarie125 's mockups a step further to explore what this looks like if we add filtering and pagination. Here's what that looks like...
![screen shot 2018-02-01 at 10 59 22 am](https://user-images.githubusercontent.com/6619860/35688685-b8ccdd44-073f-11e8-847a-eddcb0ddf2f1.png)

I have 2 issues or concerns:

1. Not sure how best to report selection. An earlier design (that did not t

[2018-02-01 16:24] mcarrano commented on #542
@LHinson Do you know who originally wrote this and can give more explanation? If not, I'm fine to let @michael-coker revise the wording. I agree this could be made more clear. Thoughts?

[2018-02-01 18:57] maryclarke commented on #341
My thoughts on this design and your issues/concerns @mcarrano:

- overall, I think this is the right direction
- because of filtering changes, etc., the stuff to the right of the selection text will already be moving around.  I would be ok with either approach of keeping 0 selected or by removing the selection text all together
- I like the pagination at the top right as well and think we should t

[2018-02-01 19:09] Mgranfie commented on #341
My feedback here...

1. I am OK with the selection text going away. If there is a use case to know the total items in the list, these could toggle when items are selected.
2. I am not sure what is in progress with the positioning of the filters, but a wrap and stack might work, it would be my first thought. The behavior of the filters seems to need more thought? Truncating would seem to require a

[2018-02-01 19:43] jeperry commented on #341
- I also think its fine if selection text is not shown if 0
- I think we should address the filter wrap/stack as a separate issue. I agree it needs more thought but there are some good options already here and it seems easily resolved around these other decisons, I just think we should compartmentalize our work.

[2018-02-01 19:58] kybaker commented on #518
@zhutaoredhat @mcarrano The ones in the rawgit is the correct one since it is setting the sizes for the patterns in the actual codebase. @andresgalante Can you confirm?

[2018-02-01 20:43] mcarrano commented on #461
Will close this in favor of considering specific issues as they arise per UXS-PF call on Feb 1

[2018-02-01 20:43] #461 closed

[2018-02-01 20:56] jeperry commented on #341
I would suggest referring to this feature as **Bulk Selection** moving forward. Since it refers not only to 'select all', but also selecting pre-defined sets of items. And, brevity FTW.

[2018-02-01 20:57] LHinson commented on #322
please add @matthewcarleton as a reviewer to the design PR.

[2018-02-02 15:34] mcarrano commented on #545
Per Feb 1 PF-UXS meeting, will hold on this until we can determine appropriate handling of domain specific features like this. Unclear how we should document design.

[2018-02-02 15:36] mcarrano commented on #547
Per Feb 1 PF-UXS meeting, want to hold on this until the work on form-field labeling and info top placement is completed. See #505

[2018-02-02 15:50] mcarrano commented on #530
@LHinson @catrobson @serenamarie125 @maryclarke @jeperry
I somehow skipped over this one in yesterday's PF-UXS call. I'd like to recommend that we close this issue and not make this change to the Checkbox filter pattern. I concur with @kybaker 's comments above. I'm fine to consider this a reasonable customization for OpenShift to adopt, but would like to avoid introducing semi-transparent panels

[2018-02-02 16:18] jeperry commented on #530
+1

[2018-02-02 17:56] maryclarke commented on #530
sounds good to me @mcarrano

[2018-02-05 14:58] Mgranfie commented on #530
+1

On Fri, Feb 2, 2018 at 1:12 PM, Mary Clarke <notifications@github.com>
wrote:

[2018-02-05 15:03] Mgranfie commented on #341
Great suggestion Jeremy +1

On Thu, Feb 1, 2018 at 3:56 PM, jeperry <notifications@github.com> wrote:

[2018-02-05 15:25] priley86 commented on #546
yep - i think Downshift would support the OpenShift example noted above (with icons).

To @danseethaler 's question - I'm not sure how to best group and and name the React components  (but they'd all be using Downshift). My vote would be have `AutoComplete` support profile icons and create an additional component (`TypeaheadSelect`) in a subsequent PR to support multiple typeahead selections (if t

[2018-02-05 17:08] mturley opened #551 "Change Request: Vertical Navigation: add integrated search for nav items."
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.

No specific application, it is just something I thought may be useful when testing my React implementation of this pattern.

#### 3. Title

Vertical Navigation: add integ

[2018-02-05 17:09] mturley commented on #551
I don't have the permissions to add the MD size label.

@patternfly-design-maintainers as mentioned above, I would be happy to implement this in the JavaScript repos, but I would need help with the design side of it, and maybe some of the CSS.

[2018-02-05 18:44] mcarrano commented on #551
I think this is an interesting idea @mturley . As well as making navigation more accessible, it could benefit accessibility, I think. Since this would not be trivial to design and develop, it will be a question of whether there is a product priority for this. Welcome other thoughts. @serenamarie125 @catrobson @maryclarke @jeperry @andresgalante

[2018-02-05 19:16] mturley commented on #551
I agree on all counts. I think it would be very nice for a11y to have a simple function that turns a user's search string (or even the first letter or two) into a page navigation.

[2018-02-05 19:21] mturley commented on #551
If I find free time, I might make a rough prototype of it in pf-react, and then if a designer wants to come along and make it pretty they are welcome to. :) we don't have to merge it until there is product priority. It can stay in my fork.

[2018-02-06 18:40] LHinson opened #552 "Comment out embedded wizard documentation"
For now, we will remove the embedded wizard documentation on the wizard pattern because of issues we were having with implementation (current design does not allow for a flexible enough implementation). see: https://github.com/patternfly/patternfly/pull/899

this documentation will just be commented out in the markdown with references to associated issues for further evaluation at a later date.

[2018-02-06 20:04] lclay2 opened #553 "Mega menu"
Mega menu: expandable dropdown navigation that presents high level IA categories and links to lower level sections at a glance.

#### 1. Choose the type of contribution for this pattern:
- [X] This is a new pattern
- [ ] This is an enhancement on an existing pattern

#### 2. If this enhancement or new pattern was made for an application, specify which one.
KIE http://www.kiegroup.org/, jBPM (http:

[2018-02-06 20:34] mcarrano commented on #532
Per meeting on Feb 5 with @LHinson @matthewcarleton @maryclarke ... For now, we will remove the embedded wizard documentation on the wizard pattern because of issues we were having with implementation (current design does not allow for a flexible enough implementation). see: patternfly/patternfly#899

this documentation will just be commented out in the markdown with references to associated issue

[2018-02-06 20:35] mcarrano commented on #552
@LHinson I copied you comment into this existing issue #532 and I am closing this as a duplicate.

[2018-02-06 20:35] #552 closed

[2018-02-06 21:22] mcarrano commented on #532
@matthewcarleton Can you briefly summarize the issue(s) with the embedded design so I can add these to the comment? Thx.

[2018-02-06 21:32] mcarrano commented on #553
Thanks @lclay2 for submitting this well considered and detailed proposal!

@serenamarie125 @catrobson @maryclarke @jeperry @LHinson
This is a proposal to add a "mega-menu" pattern to PatternFly as an alternative navigation. See the Google doc referenced above for more details about what this is, how it will work, and usage in the KIE/jBPM product.

Would like to get thoughts about cross-product ap

[2018-02-07 13:52] catrobson commented on #553
@lclay2 @mcarrano looks good to me, I'd be happy to see this added to PatternFly.  We might also want to sync up with Jeremy and Tiffany since I think there are Mega menus used on the websites today.  If our pattern can generally cover all those use cases it would be a good thing.

[2018-02-07 14:56] matthewcarleton commented on #532
hey @mcarrano sure. The main issue with this design is the full height. This can only be done if we can know the height of all the other elements on the page with the wizard.
So for example: wizard height = (100 % of viewport height - combined height of other elements).
If we build the example and another element is added it will break.

[2018-02-07 18:17] #548 closed

[2018-02-07 22:13] michael-coker commented on #535
PR submitted - https://github.com/patternfly/patternfly-design/pull/556

[2018-02-07 22:13] michael-coker commented on #536
PR submitted - https://github.com/patternfly/patternfly-design/pull/556

[2018-02-08 14:51] mcarrano commented on #551
This sounds like a good approach @mturley . If anyone has a product priority for this we can move on it faster. But right ow, I would consider it a "nice to have."

[2018-02-08 14:53] mcarrano commented on #530
Sounds like there are no objections, so I am going to close this one out.

[2018-02-08 14:53] #530 closed

[2018-02-08 14:54] mcarrano commented on #532
A PR has been sent to address this. See #554

[2018-02-08 15:06] mcarrano commented on #538
@vconzola I read this over again and speaking for myself, the reason I find this a bit confusing is that I don't know what it means to disable an area or in this case the background.  I think you mean that elements cannot be dropped in the area outside of a container. Is that right? It's a subtle distinction, but in this case I wouldn't necessarily expect a change in the background appearance as m

[2018-02-08 15:07] mcarrano commented on #521
@amysueg @catrobson Any update on this one? Do we need to keep this issue open/active?

[2018-02-08 15:10] mcarrano commented on #516
@Mgranfie Just an FYI. Here's a specific issue about data tables that relates to the story you will be taking on. It's a good example of the types of questions that are coming up.

[2018-02-08 15:19] mcarrano commented on #518
Thanks, @kybaker . That makes sense. I suspect that the Typography page on the website is just out of date. But as I look at this, it does make me question what purpose the page on the website serves. Seems to be just an opportunity for inconsistency. IMO the website page should provide designers with some guidance around usage. We can just link to the test page to see examples.

@LHinson let's di

[2018-02-08 15:59] mcarrano commented on #543
A PatternFly story has been opened here to begin the initial investigation: https://patternfly.atlassian.net/browse/PTNFLY-2751

[2018-02-08 16:06] vconzola commented on #538
@mcarrano I understand and like your idea about the cursor change. Much better design solution. I'll update the text if I can remember how to make changes in github. Might need to ping you for help.

[2018-02-08 16:58] mcarrano commented on #538
Thanks @vconzola . Do feel free to reach out if you need help.

[2018-02-09 17:39] ajacobs21e opened #558 "Unclear guidance on color usage (red)"
I would like to report a bug on design documentation.

Guidance on color usage is inconsistent.
pf-red is #a30000. The status palate uses pf-red-100 #cc0000 (red hat red) and pf-red-300 #8b0000. The error alert and pficon-error-circle-o both use #cc0000.

When should pf-red or pf-red-300 be used?

A Red Hat specific issue that has come up is Brand would prefer if we do not use our brand color to d

[2018-02-09 18:41] mcarrano commented on #558
@kybaker can you take a look at this and comment?

[2018-02-09 20:15] mcarrano opened #559 "Pagination pattern requires updating to reflect new filter and selection approach"
## For Pattern contribution proposal, tell us about your idea...
(delete section if filing a bug)
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [ x] This is an enhancement on an existing pattern
#### Pagination

###### The Pagination pattern requires updating to reflect changes to Filtering and Bulk selection.

#### References
###### See #341 for changes t

[2018-02-12 14:15] nlcwong commented on #505
After receiving feedback from UXR on a study proposal, it was determined that the proposal was insufficient in helping us properly test the design.  UXR provided suggestions on alternative approaches, but due to limited availability, I had to close out the [Recommendation Research Story](https://patternfly.atlassian.net/browse/OSUX-435) for the previous sprint.

Conversations can be found in the c

[2018-02-12 18:53] serenamarie125 opened #564 "Bulk Editing of a table"
- Unsure if this is a new pattern or an enhancement to a table

We have 3 instances in different products utilizing bulk editing of a table.  Essentially, allowing a table to be put in edit mode, then all cells become editable.  And then the user can save the edits.

Here's an example of OpenShift's implementation:
<img width="1331" alt="screen shot 2018-02-12 at 1 49 47 pm" src="https://user-imag

[2018-02-12 18:55] serenamarie125 commented on #564
@mcarrano this is an example of a use case that is being supported differently by CloudForms, OpenShift & Satellite.

[2018-02-12 19:48] mcarrano commented on #564
I am going to start by calling this a new pattern. We do have [Inline Editing](http://www.patternfly.org/pattern-library/forms-and-controls/inline-edit/) but I agree this is a different use case. We should also consider whether this might apply to list views as well as tables.

[2018-02-12 20:57] mcarrano commented on #498
@yih-wang Thanks for being willing to take this on. Please just let us know when you have something to review.

[2018-02-12 21:00] mcarrano commented on #473
@zhutaoredhat Thanks for offering to take this on. Please review your proposal with folks on this issue.

[2018-02-12 21:04] mcarrano commented on #459
Thanks for offering to take this on @nding-anges  When you are ready, please just attach your proposal for review.

[2018-02-12 21:56] mcarrano commented on #496
Thanks for taking this one, @zhutaoredhat Just send a PR when ready.

[2018-02-12 22:03] #495 closed

[2018-02-13 06:10] zhutaoredhat commented on #496
Thanks @mcarrano I have pulled a new PR to fix this bug, please have a check https://github.com/patternfly/patternfly-design/pull/566

[2018-02-13 07:11] zhutaoredhat commented on #473
@mcarrano I have pulled a new PR to fix this bug, please help me have a review https://github.com/patternfly/patternfly-design/pull/567 Thank you~

[2018-02-13 13:43] #422 closed

[2018-02-13 14:15] yih-wang commented on #498
@serenamarie125 I'll take this task and here's some questions.

1. Does the inline notification (warning) only occur when the user ignore the modal and the system automatically jump to the login page? If the user click on the "Log Out" button and then jump to the login page, there won't be an inline notification, right?

2. Do you think the modal need a title like "Session Expiration Alert" or som

[2018-02-13 15:34] catrobson commented on #521
This issue can be closed.  I believe the KeyCloak team has adopted the latest PatternFly designs in their most recent sprint.

[2018-02-13 16:43] serenamarie125 commented on #341
After talking to @mcarrano, we are proposing that "Bulk Selection" will be an optional feature of the [toolbar pattern](http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/), and documented there.  Additionally, the content views should link back to this Bulk Selection feature.
@catrobson @maryclarke do you support this suggestion?
@Mgranfie @jeperry @LHinson FYI

Additionally, @m

[2018-02-13 16:45] maryclarke commented on #341
That sounds reasonable to me @serenamarie125

[2018-02-13 16:58] catrobson commented on #341
Sounds good to me too @serenamarie125

[2018-02-13 18:17] kybaker commented on #473
@zhutaoredhat @mcarrano These changes look great. Thanks for making the update.

[2018-02-13 19:15] kybaker commented on #558
@ajacobs21e This is a great point. We should always use pf-red this will avoid any conflict with brand guidelines. I added pf-red-300 to the status palette as an accent if we needed it for things like outlines etc.

@mcarrano Can we make a story to go through the PatternFly library and website to update the alert/error color from pf-red-100 to pf-red? I am not sure if there is a single status or a

[2018-02-13 20:46] suzannehillman commented on #464
I've done some additional research, to better understand the contexts within which dropdown menu/lists are likely to appear, as well as other types of menus. (dropdown lists and dropdown menus seem to be used interchangeably, and it is unclear if context or content matters)

Overall, it seems like menus are typically are used for navigation (including search) and filtering of data. Dropdown menus

[2018-02-13 20:48] mcarrano opened #569 "Update Context Selector design docs for consistency with core implementation"
During the process of implementing Context Selector, the design needed to be modified to consider responsive behaviors when shrinking viewport. The final implementation can be seen here: https://rawgit.com/matthewcarleton/patternfly/context-selector-dist/dist/tests/context-selector-vertical-nav.html

Overview.md and design.md pages should be updated for consistency.

[2018-02-13 22:56] serenamarie125 commented on #467
@mcarrano the proposed design is to use the same solutions we give for the base card.  Display a Large Spinner control with the "Loading" text below it.  Loading would be the default text ( with no ellipses ), but should be customizable from an implementation perspective.

Note that this suggestion is consistent with the loading state of the card shown here: http://www.patternfly.org/pattern-libra

[2018-02-13 22:57] serenamarie125 commented on #468
@mcarrano the proposed design is to use the same solutions we give for the base card.  Display a Large Spinner control with the "Loading" text below it.  Loading would be the default text ( with no ellipses ), but should be customizable from an implementation perspective.

Note that this suggestion is consistent with the loading state of the card shown here: http://www.patternfly.org/pattern-libra

[2018-02-13 22:57] serenamarie125 commented on #469
@mcarrano the proposed design is to use the same solutions we give for the base card.  Display a Large Spinner control with the "Loading" text below it.  Loading would be the default text ( with no ellipses ), but should be customizable from an implementation perspective.

Note that this suggestion is consistent with the loading state of the card shown here: http://www.patternfly.org/pattern-libra

[2018-02-14 02:03] zhutaoredhat commented on #473
@kybaker Thank you too.

[2018-02-14 14:34] serenamarie125 commented on #467
![pageloading](https://user-images.githubusercontent.com/12504403/36209645-3fe85bda-116a-11e8-940a-4f6c38610b44.jpg)
FYI - here are some examples of how inconsistent we are between products and within products now
<img width="1440" alt="screen shot 2018-02-14 at 7 52 30 am" src="https://user-images.githubusercontent.com/12504403/36209454-c5f19436-1169-11e8-93f3-345ee04a4f92.png">
<img width="1440"

[2018-02-14 15:12] mcarrano commented on #467
I think one of the questions might be whether the toolbar controls appear while the view is loaded and what state they are in, i.e. everything disabled?

[2018-02-14 15:14] serenamarie125 commented on #467
Good point @mcarrano
IMO, the toolbar should be displayed
I'm not sure if things should be disabled, as if someone wants to change the filter criteria during load time, I'd imagine they should be able to ...

[2018-02-14 15:34] mcarrano commented on #498
@yih-wang Your proposal here looks good to me: https://docs.google.com/document/d/19CC14Ne-JdxO2GPZtwcCT091Ma-6CoKEXAce2GKHRrA/edit?usp=sharing

@serenamarie125 can you take a look and see if this is what you expected? Also see @yih-wang 's questions above. @kybaker would also like you to take a look. We don't have a standard modal alert form (we probably should) so wasn't sure about the use of th

[2018-02-14 18:52] ajacobs21e commented on #558
thanks @kybaker

@mcarrano let me know if I can help at all

[2018-02-14 20:38] dtaylor113 commented on #317
Here's the [pfTopology](https://www.patternfly.org/angular-patternfly/#/api/patternfly.charts.component:pfTopology) impl in angular-patternfly.

[2018-02-14 20:53] mcarrano commented on #317
Great!

On Wed, Feb 14, 2018 at 3:38 PM, David Taylor <notifications@github.com>
wrote:

--
Matt Carrano
Sr. Interaction Designer
Red Hat, Inc.
mcarrano@redhat.com

[2018-02-15 03:31] serenamarie125 commented on #317
I actually started some .md on these a while back @mcarrano let me see if i can dig them up

[2018-02-15 19:44] mcarrano commented on #505
After discussing with @nlcwong and @serenamarie125 we like to make the following recommendations:
(1) Abandon test/research plan as it's likely to become an expensive effort and may still not yield conclusive results.
(2) Move forward with Natalie's proposed changes which include:
* Moving the required field asterisk from right to left for all label alignments.
* Keeping info tip icon to right of

[2018-02-15 19:56] catrobson commented on #505
I'm happy to move forward with this approach.  However, the only thing that I'm concerned about is left-aligned labels and the required asterisk.  The use case for Left aligned labels is usually that you want easy scanability down the left hand side for the word that matters for changing that field value.  By bumping in the words when the asterisk is present, it degrades from the value of this use

[2018-02-15 19:59] maryclarke commented on #505
The approach is fine with me too, but I second @catrobson's proposal for the placement of the asterisk with left-aligned labels.

[2018-02-15 20:08] mcarrano commented on #505
Unfortunately I'm told this presents a technical challenge for responsive forms.

[2018-02-15 20:48] mcarrano commented on #521
Great. Thanks for the follow-up @catrobson . I will close.

[2018-02-15 20:48] #521 closed

[2018-02-16 15:57] mcarrano commented on #507
@Mgranfie This issue has been sitting in our backlog for a while. As you are looking at functional requirements for data tables, can you consider this in the mix? Is it something we have support for today? Should it be added to out design library as a supported feature?

[2018-02-16 18:10] Mgranfie commented on #507
@mcarrano we have this in the PF_NG Angular 4 implementation. Is this asking for this functionality for a specific implementation of the table?

[2018-02-16 18:43] terezanovotna commented on #467
[Work in Progress](https://docs.google.com/presentation/d/1-nqhbY5QcI7SNEsXOM1C0EO9vGkGAnyDFGDYmtjkCdc/edit?usp=sharing)

[2018-02-16 20:09] terezanovotna commented on #467
@serenamarie125 had a great comment that Load state is a very similar pattern as Empty state.

Can we remove Loading from [Cards - > Base Card], and add it to [Communication -> Loading State]?

**Loading state**
_description of loading state_
![loading-state-html](https://user-images.githubusercontent.com/36040135/36326908-bd5e09d6-132a-11e8-9cbe-93d02a762dc6.png)

The loading state pattern is mos

[2018-02-16 20:11] terezanovotna commented on #467
This makes it straightforward and we don't need to specify visuals for all List, Table and Card View.

@serenamarie125 @mcarrano Thoughts?

[2018-02-16 20:25] mcarrano commented on #558
Per 2/26 UXS Call... @kybaker will file new issue against patternfly core and reference this issue. Not changes to design needed at this time.

[2018-02-16 21:02] catrobson opened #570 "Inconsistent story for masthead icons, pop-ups, dropdowns"
I would like to report a bug on consistent use of a pattern in our design documentation and visuals in the masthead.

Today, we show a caret next to the help dropdown, but not the launcher popup.  The fact that these two icons in the masthead act differently, one as a dropdown and one as a pop-up, seems inconsistent as well.

In discussion with @kybaker we felt that none of the icons in the masthe

[2018-02-16 21:07] mcarrano commented on #467
I like this idea, @terezanovotna . Always looking for opportunities to not duplicate materials. If we do that, we should include examples of what this would look like in a card vs. a table or list.

@serenamarie125 @LHinson what do you think?

[2018-02-16 21:09] mcarrano commented on #505
Per 2/26 PF-UXS meeting, we'd like to proceed with this recommendation by first doing some technical feasibility investigation to explore form layout in various permutations. I will create a PF core dev story and link here.

[2018-02-16 21:16] mcarrano commented on #553
Per 2/16 PF-UXS meeting, we approve this to move forward to create a first draft of this pattern. Primary concern is to make it clear when to use vs existing vertical or horizontal nav. [Navigation Guidelines](http://www.patternfly.org/pattern-library/navigation/guidelines/) documentation should be updated as part of this process.

@lclay2 I have assigned to you and glad to answer questions about

[2018-02-16 21:22] mcarrano commented on #570
@catrobson Thanks for filing this issue. I think this inconsistency was intentional, but I can see where it wouldn't make sense and feels more like a bug. Let's discuss at the next meeting. I would not have a problem updating this to be more consistent.

[2018-02-16 22:11] lclay2 commented on #553
@mcarrano That's great Matt, thanks for the update. I'll followup with you and Kyle.

[2018-02-16 22:16] amysueg commented on #553
woo-hoo @lclay2 ![bitmoji](https://render.bitstrips.com/v2/cpanel/469d4aea-0aaa-4b89-919e-0fd853b6f0f0-cc737c0e-145d-4d97-aea9-1fdd38b44e0a-v1.png?transparent=1&palette=1&width=246)

[2018-02-19 17:07] jgiardino opened #571 "pf-react component updates on status page"
The following components have been recently merged and should be added to the [patternfly status page](http://www.patternfly.org/patternfly-design/status/):

- [content views: table-view](https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Show%20Modal=true&knob-content=Enter%20the%20hostname%20in%20a%20valid%20format%20%3Cbr%3E%20%20%3Ca%20target%3D%22_blank%22%20href%3D%22htt

[2018-02-19 17:12] amarie401 commented on #571
Thanks! @jgiardino

[2018-02-19 19:07] mcarrano commented on #558
I have created a PF core issue t track this. See the above reference.

[2018-02-19 19:25] priley86 commented on #571
re: table-view. works for me @jgiardino . I guess eventually it would be nice to have an example with filters as well (but right now we don't have the integrated example). I believe @Mgranfie will reach out to you and @jeff-phillips-18  on this (around table terminology/organization).

[2018-02-20 14:06] terezanovotna commented on #467
@mcarrano please [review this doc,](https://docs.google.com/document/d/1Q1cLSJ9dFbRJDT9954NLvNmFqP5eEoqtFHDHfpGbsFU/edit?usp=sharing) thanks!

[2018-02-20 14:22] amarie401 commented on #571
@jgiardino @priley86 I already have the react example for forms and controls: filter under the textbox filter example, not plain "filter". Is this okay? The react example seemed specific to the textbox filter design pattern.

[2018-02-20 18:18] catrobson opened #572 "Improve documentation on error resolution"
In our pattern "Validation and Errors" for Forms and Controls, we provide some guidance on when validation should occur.  After confusion from developers, I'd suggest adding "and the widget loses focus" on the description of when validation disappears after a user fixes the field entry.

[2018-02-20 18:20] catrobson commented on #572
Sorry, I'd submit a PR if my system was set up!  Hope this small change can be added by someone who is already in making changes. :)

[2018-02-20 18:35] matthewcarleton opened #573 "Notification drawer wastes space by showing up at fixed height"
This is reference to this [issue](https://github.com/patternfly/patternfly/issues/959) filed in core.

[2018-02-20 18:44] gregsheremeta commented on #573
This is an interesting design issue. On a 1920x1080 PC, I like when the drawer opens all the way. https://github.com/patternfly/patternfly/issues/959 is a screenshot from a screen in vertical orientation, and it does look weird. But the whole thing looks weird to me -- it's 2k tall :) Does PatternFly design for vertical and or high dpi screens?

[2018-02-20 20:06] mcarrano commented on #572
@catrobson This makes total sense. I will queue this up as a small fix that someone can take when they have some time. Would be a great training exercise if we have someone new who is needing to learn the contribution process.

[2018-02-21 22:06] mcarrano commented on #473
PR has been merged. I will close.

[2018-02-21 22:06] #473 closed

[2018-02-22 14:59] LHinson commented on #542
@cshinn I believe you worked on this one? If so, will you please review the issue and provide your input? Thanks!

[2018-02-22 15:03] mcarrano commented on #518
A PR has been sent to update this page on the .org repo. https://github.com/patternfly/patternfly-org/pull/524

[2018-02-22 15:16] cshinn commented on #542
@LHinson I believe this is one of the patterns that I uploaded, but did not write the original content for, but I'm happy to weigh in on it.

I agree with @michael-coker that the "button bar" section is pretty unclear, and should at least be broken into sub-bullets or something. It looks like the other sections called out in the issue are what it refers to, and I wonder if maybe some of that descr

[2018-02-22 15:48] mcarrano commented on #564
@Mgranfie Is this something to consider as part of your table investigation?

[2018-02-22 15:52] mcarrano commented on #507
@catrobson perhaps you can comment here.

@Mgranfie I think the request is to add this to our design documentation as we already have an implementation for it. But the bigger question in my mind is whether this is something that should be supported across any table implementation.

[2018-02-22 17:48] #532 closed

[2018-02-22 19:44] mcarrano commented on #443
@serenamarie125 @Rohoover I took another look at the Google doc and I think we are ready to move ahead with this. I'll just look forward to seeing a PR when you are ready to submit. I would add this to Forms and Controls. Note that there are still files present from the old PR you submitted over a year ago that never got published @Rohoover . Would can just replace those with this new version. Sho

[2018-02-22 20:02] mcarrano commented on #506
@gdoyle1 is currently working on a design proposal and will post here for review when ready. The following PatternFly stories have been created to track this work:
* Requirements and conceptual design: https://patternfly.atlassian.net/browse/PTNFLY-2757
* Final design and documentation: https://patternfly.atlassian.net/browse/PTNFLY-2781

Propose that this will be added as a new pattern to Forms a

[2018-02-22 20:40] LHinson commented on #542
Thanks for weighing in @cshinn! Agreed @mcarrano @michael-coker that we should clean it up.

Looping in @serenamarie125 just in case she might have any other insight or comments on the intent.

[2018-02-23 14:07] jgiardino commented on #571
@amarie401 I would put that under both, since the design documents seem to overlap. So if they navigate to the [Filter](http://www.patternfly.org/pattern-library/forms-and-controls/filter/) page, it would be nice for them to be able to find the pf-react Filter component.

[2018-02-23 14:45] amarie401 commented on #571
@jgiardino @LHinson I have currently only linked textbox filter and checkbox filter and other filter specific patterns to their implementations. Currently there is nothing linked under filter along with no pf core example. I am a bit confused on what is considered filter or if filter is made up of the specific kinds of filter?

I have no issue with linking the pf-react filter example, just want to

[2018-02-23 15:27] serenamarie125 opened #575 "View selector icons and order are inconsistent throughout PF documentation"
There are visual & design inconsistencies throughout the PF documentation

Note that we will be talking to @mcarrano on 3/1 to go over this issue

View types which we should make sure are captured:
- Card View
- Dashboard View / Overview
- List View
- Object / Summary View
- Table View
- Topology View

@terezanovotna will be including additional information today ...

[2018-02-23 15:31] serenamarie125 opened #576 "Filter bar component is inconsistent throughout PF documentation"
I would like to visual & design inconsistencies throughout the PF documentation

Note that we will be talking to @mcarrano on 2/29 to go over this issue

*** will be including additional information today ...

[2018-02-23 15:41] serenamarie125 opened #577 "Wizard button bar should span width of wizard"
There are visual & design inconsistencies throughout the PF documentation

Note that we will be talking to @mcarrano on 3/1 to go over this issue

@nlcwong will be including additional information today ...

[2018-02-23 15:58] serenamarie125 opened #578 "Inconsistent Documentation of Interaction Behavior with Wizard"
There are visual & design inconsistencies throughout the PF documentation

Note that we will be talking to @mcarrano on 3/1 to go over this issue

@nlcwong will be including additional information today ...

[2018-02-23 16:17] serenamarie125 opened #579 "Update PF images to use correct badge visuals"
The Overview page of the vertical navigation pattern has 2 out of date visuals
- change the flag to the bell
- badge should be blue and on top right corner
- add the user name

be sure to be consistent with what's defined here: http://www.patternfly.org/pattern-library/application-framework/masthead/

[2018-02-23 18:58] amarie401 opened #580 "Loading state pattern not rendering properly"
## For Bug contributions, please provide the following information...
- [x] I would like to report a bug on, design documentation, visual or interaction design inconsistencies, feedback or suggestions<br>

The loading state pattern is not rendering on org or being updated on the design status page currently. After some investigation, it seems to be due to 3 missing dashes underneath the front matt

[2018-02-23 19:00] amarie401 commented on #580
@serenamarie125 @catrobson

[2018-02-23 20:09] KendraMar commented on #576
Images in multiple places in PatternFly show the following incorrectly:

--Filtered items count: placement, format, text treatment (e.g. style, bold, etc.)
--Textbox filter: Text treatment (e.g. font, weight, style, etc.)

![filter](https://user-images.githubusercontent.com/32581146/36614666-67de21d6-18ab-11e8-9d5d-77e4cd20f225.png)

[2018-02-23 20:12] KendraMar commented on #576
Additional content view images that don’t observe the filter standard are located at:
--List, table and card view images: http://www.patternfly.org/pattern-library/forms-and-controls/find/
--Application level, tab level, Component level image: http://www.patternfly.org/pattern-library/communication/experimental-features/
--image at http://www.patternfly.org/pattern-library/communication/toast-noti

[2018-02-23 20:13] dtaylor113 commented on #576
I'm also curious on how to handle the filter results label in a Table View?  Currently, it says 'Selected' which seems to indicate the labels if for the selection checkboxes.  How do we show filter results and selected?

[2018-02-23 20:25] #580 closed

[2018-02-23 21:09] terezanovotna commented on #575
It is not very clear what the icon order and name are. Should they be called Grid, Tile and List View?
<img width="1324" alt="screen shot 2018-02-22 at 11 10 51" src="https://user-images.githubusercontent.com/36040135/36616850-4811729c-18b3-11e8-9b2b-6fdcb2863e16.png">

Because Drag and Drop section shows different icons.
<img width="1324" alt="screen shot 2018-02-22 at 11 18 37" src="https://user

[2018-02-23 23:07] nlcwong commented on #577
**Description:** The design documentation for the Wizard's button bar is inconsistent with what has been implemented.  The screenshots on the overview & design tabs of the Wizard designs show that the wizard's button bar does not take up the entire width of the wizard and instead only spans up to the sub-steps panel (see example image below):

<img width="677" alt="screen shot 2018-02-22 at 11 23

[2018-02-24 02:58] gdoyle1 commented on #478
Here's the [InVision project](https://redhat.invisionapp.com/share/HUFTGHCWKRG#/281288915_TOC) with the most recent wireframes. We are at the end of our process, making final decisions on the community and downloads pages, as well as some content tweaks.

[2018-02-24 03:48] serenamarie125 commented on #498
@yih-wang I left a bunch of comments in the doc ... but re: your questions above
#1 - correct, if they click on Log Out, do NOT show inline notification
#2 - I think Session Expiration Warning" makes more sense
#3 - I would suggest 60 seconds for the count down

Should we also offer a suggestion for the period of inactivity before getting logged out?

[2018-02-26 04:03] #496 closed

[2018-02-26 08:12] dabeng commented on #546
Hi @danseethaler . I used jquery version of autocomplete. I think [Bootstrap-3-Typeahead](https://github.com/bassjobsen/Bootstrap-3-Typeahead) and [typeahead.js](https://github.com/corejavascript/typeahead.js) will give you inspirations if you want to add interesting features.

[2018-02-26 19:07] serenamarie125 commented on #564
@Rohoover once you have a proposal for Satellite worked up, can you add the mocks here so we can use it as input for a pattern?

[2018-02-26 20:22] Rohoover commented on #564
@serenamarie125 Yup. Here it is!

[Table Bulk Edit.pdf](https://github.com/patternfly/patternfly-design/files/1760174/Table.Bulk.Edit.pdf)

[2018-02-26 20:48] nlcwong commented on #578
**Description:** The documentation of the wizard pattern, mentions in the main steps and Button Bar, that the user cannot advance to the next step (either through the steps panel buttons or through the wizard's button bar) without satisfying requirements, yet there is no indication that is the same case with the wizard's sub-steps.  In addition, the desired interaction behavior is not properly enf

[2018-02-27 18:33] gdoyle1 commented on #506
Here is the [Google Doc](https://docs.google.com/document/d/1yMv-GIWML3UYgN-koJnp21L4ASwr4gHcQzojLF0nHG0/edit?usp=sharing) with Requirements, Use Cases, Best/Common Practices and the [Proposed Design link](https://redhat.invisionapp.com/share/4AG2N43N5WH). If anyone has any feedback on the current wireframes provided, that'd be great to hear!

[2018-02-27 19:54] Mgranfie commented on #564
@mcarrano Yes, this should be included in the table evaluation. Thanks for noting and please keep me in the loop here.
@Rohoover this is great! I have a few questions on the intent and the behavior.
1. Is the intent to put all the fields in one column into an edit mode and be able to tab or arrow between them and enter new data? I was not sure because the 3rd image shows two fields displaying the

[2018-02-27 20:25] LHinson opened #585 "Social Login Pattern"
All of the Login implementations have their own patterns however social login is missing.

On PF.org:
- Basic: http://www.patternfly.org/pattern-library/application-framework/login-page/
- Multi-factor: http://www.patternfly.org/pattern-library/application-framework/multi-factor-login/
- SSO: http://www.patternfly.org/pattern-library/application-framework/single-sign-on/

Missing:
- Social login h

[2018-02-27 21:16] matthewcarleton opened #586 "Fix link for Multi Factor login"
On the login page there is a link "Identity First Login" which should be renamed to Multi factor Login to be consistent with the navigation. That link is also broken because it points to a page that doesn't exist. It can then link to that same Multi Factor Login page.

[2018-02-27 22:49] amarie401 commented on #586
Thanks for finding this @matthewcarleton

[2018-02-28 07:28] deernano commented on #360
@mcarrano I did a small research on what metaphor we should use for 'remove'. Hope it is helpful :)
https://docs.google.com/document/d/1duqO0gYgpvpL-SmxYuhcHhU3g2tsz2uF4yas8CEMIBw/edit?usp=sharing

[2018-02-28 07:45] zhutaoredhat commented on #498
Hi @serenamarie125 @yih-wang is PTO, I will continue this issue.
Offer a suggestion for the period of inactivity will be better, 15mins, 30mins and 1 hour usually be used in the most system.
Shall we allow user to control the Session Expiration time? Do you have some good idea about this suggestion?

The PR link: https://github.com/patternfly/patternfly-design/pull/582

[2018-02-28 12:56] matthewcarleton opened #587 "Selectpicker with placeholder indistinguishable from disabled selectpicker"
This is related to [this](https://github.com/patternfly/patternfly/issues/888) issue that was filed in core.

[2018-02-28 16:06] Rohoover commented on #564
@Mgranfie
1. In this instance, only the fields in that column are editable. Theoretically any and all editable fields would be editable. The pencil is the icon we use on hover (already defined by patternfly), and it's currently used again to indicate the field was edited. There are other good pencil icons but I don't have access to them since font awesome changed their site and permission levels.

[2018-02-28 16:50] Mgranfie commented on #564
@Rohoover  thanks just a couple of follow ups
1. It sounds like when in edit mode, all fields in that column are editable?
2. I like the idea of having the pencil to indicated edited! It was a little confusing but now makes sense. Maybe an outline pencil and then fill on hover?... not a big deal.
3. My expectation on clicking on a pencil, on hover, for a single field, would be that it would move o

[2018-02-28 18:20] Rohoover commented on #564
1. Yes. In my case, only that column is editable (because that is all you could edit) but I could see a use case where any and all editable fields in the entire table are editable.
2. Yea, I saw a hollow pencil but don't have access to that icon. I opted to use the same icon vs. pull a new icon that was stylistically dissimilar.
3. The click can occur anywhere in the field as referenced in the exi

[2018-02-28 19:39] beanh66 opened #588 "Design for Data not Applicable"
Looking for guidance around cases where data is not applicable.
- Not sure if this would enhance an existing pattern or stand on its own.
- Applies to tables, list views, card views, etc.
- Use cases exist today in both Foreman and OpenShift where we are looking to distinguish between data not applicable/not provided and data not available or not loading at the moment.
- Foreman uses "NA" for this

[2018-02-28 20:05] Mgranfie commented on #564
Thanks @Rohoover ! To sum this up, the Bulk edit, invoked an edit mode on a singular column, in which only individual fields can be edited? Am I getting warmer :)

[2018-02-28 20:29] ncameronbritt commented on #588
FWIW, I'm more accustomed to seeing "N/A", as opposed to "NA" for not applicable.

[2018-02-28 20:57] Rohoover commented on #564
For my use case. However, if another column was editable, those fields would become editable as well.

[2018-02-28 21:22] Mgranfie commented on #564
Thanks got it!

[2018-02-28 22:26] nlcwong commented on #505
@mcarrano @serenamarie125
I've taken what is already described in PatternFly (for both Field Labeling &  Help On Forms) and started to edit it to what I think it would look like with the recommendation. (The areas where I changed content is highlighted in yellow.): [https://docs.google.com/document/d/1bheM2861fcemrlCe1AcUffPGE0M2sT0GN7Q1drMdNt8/edit?usp=sharing](https://docs.google.com/document/d/

[2018-03-01 14:01] Rohoover commented on #588
Would this be a good opportunity to involve Stacy McAuliffe? I don't know her github handle off-hand.

[2018-03-01 15:07] mcarrano commented on #571
@amarie401 I can see how this is confusing! The [Filter pattern](http://www.patternfly.org/pattern-library/forms-and-controls/filter/) is more like a general design specification for how all filters should work. We did not want to repeat specifications of specific behaviors within the design page for each filter instance. There can potentially be many different filter types that can plug into this

[2018-03-01 15:10] mcarrano commented on #579
@serenamarie125 @kendraMar I am aware that there are many inconsistencies in the library, but can you list specific items that this issue refers to for clarity? Thanks.

[2018-03-01 15:31] beanh66 commented on #588
@stacymcauliffe Can you take a look at the issue above? Thanks!

[2018-03-01 15:31] KendraMar commented on #579
Hey, Matt! Definitely...we are putting together our detailed list of issues and will give you the reveal (HGTV speak) tomorrow when we meet.

[2018-03-01 15:39] LHinson opened #589 "Add Context Selector Code to patternfly.org"
http://www.patternfly.org/pattern-library/navigation/context-selector/
Merged PR: https://github.com/patternfly/patternfly/pull/954

[2018-03-01 15:48] Mgranfie commented on #571
+1 on the naming. It really has a big impact.

On Thu, Mar 1, 2018 at 10:07 AM, mcarrano <notifications@github.com> wrote:

[2018-03-01 15:57] mcarrano commented on #506
@gdoyle1 Thanks for posting. I think this is a good start. Left a couple of comments on your InVision deck to think about. Let me know if we need to discuss live. Also, just a general question. This design assumes that drag and drop to upload would always be supported. Do we know if there are instances where we might just want a simple textbox and browse button approach either to save space or oth

[2018-03-01 16:13] mcarrano commented on #585
@LHinson When we discussed organization of the new login pages, we made a decision to just include the social login as a variation of the standard login page rather than call this a separate pattern. From a test page point of view, not sure if standard and social login should be combined onto one test page, kept separate, or if it matters.

Thoughts?

[2018-03-01 16:42] matthewcarleton opened #590 "Labels (in forms) have too much emphasis"
This is related to [this](https://github.com/patternfly/patternfly/issues/838) issue that was filed in core.

[2018-03-01 16:49] mcarrano commented on #360
@deernano Thanks for picking up this issue. I have reassigned it to you. I read your recommendations and think that using some variation that includes the "-" symbol makes sense. I would vote for 'fa-minus-circle' since we use 'fa-plus-circle' for Add. @kybaker and @jennyhaines can you look at Melody's recommendations and comment? @LHinson FYI.

[2018-03-01 16:59] matthewcarleton opened #591 "Arrow button not always visible in 2nd level pinnable menu"
This is related to [this](https://github.com/patternfly/patternfly/issues/837) issue that was filed in core.

[2018-03-01 17:05] mcarrano commented on #587
I agree that there is not enough visual differentiation between the "nothing selected" state and the disabled state. @kybaker can you take a look at this? My opinion would be to keep the same visual styling but perhaps italicize the text as an instruction.

[2018-03-01 17:08] jennyhaines commented on #360
@deernano - I also think the "-" makes sense! @mcarrano - I thought that we are using the 'fa-plus-square' for Add (not the circle). That's what we have recommended in PatternFly now. I would recommend using the 'fa-minus-square' [https://fontawesome.com/v4.7.0/icon/minus-square/](https://fontawesome.com/v4.7.0/icon/minus-square/)

I noticed that the two icon suggestions in the Google doc are from

[2018-03-01 17:10] jennyhaines commented on #360
For whichever icon we decide on, I can make sure that in the PR I'm creating for the updated PF icon table, I include our recommendation.

[2018-03-01 17:45] matthewcarleton opened #592 "The recommendations for primary button placement are inconsistent"
This is related to [this](https://github.com/patternfly/patternfly/issues/830) issue filed in core.

[2018-03-01 17:55] matthewcarleton commented on #553
I've closed an issue that was in core that was related to this. We should consider it as this moves forward. Thanks!

[2018-03-01 18:51] mcarrano commented on #591
Right now I think this is functioning as designed. @serenamarie125 can you look at the original issue and let me know if you think there is a problem? As far as I know this is only implemented in the Angular version here: https://www.patternfly.org/angular-patternfly/#/api/patternfly.navigation.component:pfVerticalNavigation%20-%20Basic

[2018-03-01 18:55] mcarrano commented on #590
@kybaker Can you respond to this?

[2018-03-01 19:04] mcarrano commented on #588
@beanh66 Is there a distinction in your mind between "not applicable" and "not available?" Agree that "loading" is different since the data is available, but it hasn't been loaded yet. Maybe it's a matter of where the data is permanently unavailable (i.e. an error condition) or the field is not applicable in this instance. Is there a screenshot that illustrates the case you are describing?

[2018-03-01 21:55] KendraMar commented on #579
Badges should look like this:

![badge1](https://user-images.githubusercontent.com/32581146/36871766-44331a3c-1d71-11e8-95d8-3fc1b6b27c5d.png)

Images that are showing the wrong badges are below:

- Notification icon on horizontal navigation image currently looks like this:
![badge2](https://user-images.githubusercontent.com/32581146/36871288-cb665980-1d6f-11e8-89da-d5b751d98042.png)

Image locati

[2018-03-01 22:20] beanh66 commented on #588
@mcarrano I think it is a matter of data not available because it does not apply. It is not an error case since the data just does not apply for the specific instance. Does that make sense?  @ncameronbritt and @Rohoover can you share the examples you have?

[2018-03-01 22:32] Rohoover commented on #588
@mcarrano
For example: Satellite has both custom subscriptions and Red Hat subscriptions. Both are housed in the same table. Custom subs do not have a sku or contract number but Red Hat subs do. In the table, NA is listed for sku/contract for those custom subs.

They are both subscriptions and the interactions with them are the same so they do belong in the same table despite a few pieces of infor

[2018-03-01 22:56] beanh66 commented on #322
The detailed design doc here makes sense for basic delete/remove cases, but for more extreme detrimental actions, we way want to provide an alternative design option. Forcing the user to type the name of the thing they want to delete for example, should cover this. We have this use case in OpenShift and @catrobson mentioned it for OSIO in relation to deleting projects or spaces. This action would

[2018-03-01 23:07] beanh66 commented on #330
@serenamarie125 I agree we need a global search pattern. Would you expect this search to provide a results page? We should be sure there is a clear distinction between search and filter for this pattern. Wondering if it makes sense to contribute the search widget below (show the top 5, then link out to remaining results).
![results](https://user-images.githubusercontent.com/18057044/36874833-655b1

[2018-03-01 23:31] beanh66 opened #593 "Need guidance on action button location for toolbars and breadcrumbs"
Update Toolbar and Breadcrumbs patterns to provide explicit guidance on where primary and secondary actions belong. For example in the toolbar, two actions are shown, but it is not clear if the primary action is the right-most or left-most action. In the breadcrumbs pattern, can actions be placed on right side when there is no toolbar below? Seems like a better use of space then adding another hor

[2018-03-01 23:33] beanh66 commented on #593
Here are some examples where actions are not consistent when used in conjunction with a breadcrumbs bar and without a toolbar.
<img width="451" alt="screen shot 2018-03-01 at 6 31 55 pm" src="https://user-images.githubusercontent.com/18057044/36875669-fe0dd4ee-1d7e-11e8-981e-d930bc6cbc43.png">
<img width="942" alt="screen shot 2018-03-01 at 6 32 12 pm" src="https://user-images.githubusercontent.co

[2018-03-01 23:42] beanh66 opened #594 "Need guidance around actions and the use of icons, buttons, links"
Looking for guidance around the visual appearance of actions. Can we provide details around when actions can or should have an icon associated with them and where those icons belong? Can we provide details around when actions should be links vs buttons?

This is a pattern enhancement. Use cases were discussed with @catrobson @serenamarie125 and @amysueg as we are not currently consistent across pr

[2018-03-02 03:49] zhutaoredhat commented on #498
Hi @serenamarie125 @mcarrano I have added a suggestion about Session Timeout, could you help me have a review. The content is in the comment above. Thank you~

[2018-03-02 04:45] deernano commented on #360
@jennyhaines @mcarrano
great~ I agree with u by using 'fa-minus-square' 4.7.0. Just pasted it in ghe doc.

[2018-03-02 12:58] ncameronbritt commented on #588
It's possible to have both cases in OpenShift. For example, we will have a table that shows (among other things) the amount of storage consumed. Not all of the storage types will support this metric, so we need to show that that metric does not apply for that storage type--there will never be data.

But it is also possible for the storage types that do support the metric that those data are not av

[2018-03-02 14:04] mcarrano commented on #588
Thanks for all the clarification @beanh66 @Rohoover and @ncameronbritt . This makes more sense to me now. Yes, I agree this is something that calls for more guidance. I'm not sure whether this is a pattern or part of our overall terminology and wording guidelines. I will queue this up for more discussion with the strategists.

[2018-03-02 14:09] stacymcauliffe commented on #588
Just getting caught up on this! I haven't seen this case before, so off the top of my head I got nothing. Let me dig into this a little with of our various Red Hat writing standards this afternoon and see what I can find. Stay tuned...

[2018-03-02 14:26] mcarrano commented on #593
@beanh66 Agree that more guidance on placement of primary actions in the Toolbar will be helpful. @cshinn has been working on an Actions pattern so I want to involve him in this discussion. See #508 . As for including actions as part of a "breadcrumbs bar" I think this is potentially a different pattern that is useful for drill-down or object detail pages but not really part of the breadcrumb IMO.

[2018-03-02 14:27] mcarrano commented on #594
@cshinn FYI. This relates to the Actions pattern you are working on See #508

[2018-03-02 15:59] #586 closed

[2018-03-02 16:08] serenamarie125 opened #597 "Unclear guidance on the Notification Drawer Design Tab re: Toast Notification"
<img width="961" alt="screen shot 2018-03-02 at 11 07 47 am" src="https://user-images.githubusercontent.com/12504403/36908688-fd52f544-1e09-11e8-9fc9-4d3025591e5e.png">

[2018-03-02 16:15] serenamarie125 opened #598 "Notification Drawer pattern has some inconsistencies"
[Notification Drawer pattern](http://www.patternfly.org/pattern-library/communication/notification-drawer/) has some inconsistencies

- On Overview tab, the image is missing "Clear All"
- The drawer title should be consistent, suggest that it is "Notifications".  Images in the pattern show "Title of Drawer", "Notifications" and "Notification Drawer" right now

[2018-03-02 17:08] mcarrano commented on #597
What exactly do you feel is unclear @serenamarie125 ? Technically toast notifications are not part of the drawer, so maybe the issue is whether we need more guidance around alerts in general?

[2018-03-02 17:20] mcarrano commented on #542
@nlcwong has filed a related issue. See #578 . We should definitely clean this up. @michael-coker and @nlcwong can you coordinate? I'm happy to have whoever has bandwidth take this and resolve both issues. Thanks.

[2018-03-02 17:27] mcarrano commented on #508
@cshinn can you please address #593 and #594 as part of this work?

[2018-03-02 19:02] #558 closed

[2018-03-02 19:09] mcarrano commented on #342
@serenamarie125 I am going to assign this one to you with the assumption that you will address as part of the bulk selection changes currently being tracked as #341.

[2018-03-02 19:13] mcarrano commented on #360
OK. If we are all in agreement here, I am going to reassign this to @jennyhaines to add this guidance to the icon table as she is making other updates. Thanks for your help @deernano . I don't think there are any further updates to make here.

[2018-03-02 19:23] mcarrano commented on #576
This is closely related to two existing issues: #474 and #497. Whoever take this on should address all of these issues together.

[2018-03-02 19:30] KendraMar commented on #597
Hey, Matt -- Serena can give more detail, but I didn't understand what "the drawer should utilize the current toast notification" means. In what way is it utilizing them? repeating the same text? inserting the visual into the drawer (I know that's not the case, but I couldn't understand the description.)

If I recall what Serena said correctly, I think it means that designers will want to consider

[2018-03-02 20:19] mcarrano commented on #570
Per 3/2 UXS-PF mtg:
* Update masthead to remove dropdown arrow from Help.
* Make sure we differentiate what uses pop-up vs. drop-down style. What are general rules. (add to General Considerations).

[2018-03-02 20:42] mcarrano commented on #593
Per 3/2 PF-UXS mtg we should address the "breadcrumb header" case as either a new pattern of guideline to cover common cases. Consider how this plays within the page.

[2018-03-02 21:13] mcarrano commented on #588
There was an earlier story to address this topic, the details of which can be see here: https://patternfly.atlassian.net/browse/PTNFLY-2181 This resulted in an update to the Table View pattern to use "--" to indicate not applicable or unavailable data. See http://www.patternfly.org/pattern-library/content-views/table-view/#design (item #8).

@beanh66 do you think this addresses the problem? If so,

[2018-03-02 21:21] mcarrano commented on #564
Per 3/2 PF-UXS meeting: This still requires requirements gathering and concept design work. Will mark as "Help Wanted" and move to the backlog. Satellite design attached from @Rohoover should be considered a point of departure but not the comprehensive solution.

[2018-03-02 21:32] beanh66 commented on #588
@mcarrano I thought the issue here was that we wanted to distinguish between the data is not available at this moment (system issue) and the data does not apply for this object.  Sounds like we have a solution for the former but not the latter.

[2018-03-02 22:03] mcarrano commented on #505
@nlcwong I just reviewed your document and left some comments. I'd like to hold on making actual updates to the site until @matthewcarleton is able to review and prototype these forms. There is a story in the PatternFly backlog here: https://patternfly.atlassian.net/browse/PTNFLY-2775

Another thing I'd like to consider is whether these two patterns should be combined into one since they both addr

[2018-03-02 22:16] mcarrano commented on #588
@beanh66  If you see "--" what does that reflect to you? Not available? Not Applicable? Neither? To me it's more like "not applicable" and maybe we need to do something different for "not available?" Not sure. @stacymcauliffe let us know if you find anything in your research.

I'm willing to queue this up for further exploration and discovery. Does someone want to take this on? After giving it mor

[2018-03-02 22:39] mcarrano commented on #576
@serenamarie125 @nlcwong @KendraMar Per our discussion this morning, I'm attaching this mockup that shows how I think this view would look if we have filtering, selection, and pagination living together. Let me know if you think this will work.
![list-view-select-all pagination](https://user-images.githubusercontent.com/6619860/36925386-b408010e-1e40-11e8-9897-58fd1122f35c.png)

[2018-03-05 06:07] zhutaoredhat commented on #598
@mcarrano No problem, I have pulled a new PR to fix them, please have a check~ PR link: :https://github.com/patternfly/patternfly-design/pull/600

[2018-03-05 17:58] Rohoover commented on #507
@mcarrano
This is helpful as I also need a table with row expansion. As a note, in my use case, only some rows are expandable.

[2018-03-05 19:46] michael-coker commented on #578
Some more issues with the Wizard demo code.

1. Even when "back" and "next" are greyed out, and the cursor indicates the buttons are disabled, you can click either button and it will take you to the previous/next step. You can even click "next" during the loading screen and it will load the first step in the wizard in the loading screen.
2. At any point, you can advance to next steps even though y

[2018-03-05 19:49] michael-coker commented on #578
The disabled "back" button also allows you to go back when you click it.

Also clicking on the steps in the top and left navigation allow you to advance through the wizard without filling out required fields.

[2018-03-05 20:40] nlcwong commented on #578
@michael-coker so about the code portion, when reviewing this issue with @serenamarie125 & @mcarrano they noted that the code is perhaps purposely that way because there is no real backend to it, so the logic might not be there to enforce the intended behavior.  I've corrected this issue to state that the goal is to address the textual design documentation for this pattern and not the demo portion

[2018-03-06 10:37] LHinson commented on #571
@mcarrano I've added it to the agenda for Friday :)

Thanks!

[2018-03-06 13:47] terezanovotna commented on #575
<img width="612" alt="view selector" src="https://user-images.githubusercontent.com/36040135/37035296-61e34ae6-214c-11e8-91b8-c3aaa5396423.png">
Which view do we want to use for View Selector? I think we should use the one in Card View

[2018-03-06 13:52] terezanovotna commented on #575
I suggest this order and naming of these icons.
<img width="590" alt="table card list view" src="https://user-images.githubusercontent.com/36040135/37035783-e955f310-214d-11e8-9668-35401129b370.png">

[2018-03-06 13:52] terezanovotna commented on #575
@mcarrano @serenamarie125

[2018-03-06 16:51] stacymcauliffe commented on #588
I haven't been able to find any solid recommendations on this anywhere.
A few options -
1. Use "--" to represent any missing value
2. Use "n/a" to represent any missing value
3. Use "--" to represent a value that is not available and "n/a" for data that is not applicable
4. Use "--" for everything and assign a tool tip of "Not applicable" or "Not available" depending on the context

I think the am

[2018-03-06 17:52] mcarrano commented on #575
@serenamarie125 @catrobson @maryclarke @jeperry  Please take a look at @terezanovotna 's proposal. I wasn't sure about the desired order of these. I think that we also discussed replacing the Table icon with something better. @kybaker @jennyhaines do you have a suggestion?

[2018-03-06 21:00] #498 closed

[2018-03-07 10:20] terezanovotna commented on #575
Serena confirmed that Toolbar shows a correct order of the icons (1) List (2) Card (3) Table
<img width="884" alt="screen shot 2018-03-07 at 11 19 56" src="https://user-images.githubusercontent.com/36040135/37087093-972d25d4-21f9-11e8-939d-914d1642ae85.png">

[2018-03-07 10:24] terezanovotna commented on #575
We need one consistent icon for List, Card, and Table
<img width="877" alt="screen shot 2018-03-07 at 11 21 42" src="https://user-images.githubusercontent.com/36040135/37087247-0c660e38-21fa-11e8-8845-72ebe7c1308e.png">

[2018-03-07 13:26] nlcwong commented on #577
This issue will be taken care of by Pull Request #601

[2018-03-07 14:13] jgiardino opened #604 "Pattern enhancement - Cards with no data available"
The need for a card with no data available came up in the following PR:
https://github.com/patternfly/patternfly-react/pull/212

For now, we're using the empty state pattern inside the card, with some style changes for the context of the card. See examples pasted below.

A design should address the following use cases:

- A card has no data and the user can add data (i.e. empty state with an actio

[2018-03-07 14:31] #571 closed

[2018-03-07 15:13] mcarrano commented on #604
There is a related issue here: #588

[2018-03-07 15:16] mcarrano commented on #604
@jgiardino did you see this pattern? http://www.patternfly.org/pattern-library/cards/base-card/#design

Looks like the No Data Available state is covered, but we still may need to address the first use case.

[2018-03-07 15:24] mcarrano commented on #575
@jennyhaines and I just went through a review of icon usage. I think that we want 'fa-table' for Table View, 'fa-th-large' for Card View. @jennyhaines can you confirm.

The icon shown in the mockups for List View is correct but I can't find that on our Icons page. Anyone know what this is? We should explicitly call this out is the pattern.

[2018-03-07 15:46] jgiardino commented on #604
Oh. Thanks!

I'll close this issue then and open on in patternfly to have css added, because I couldn't find html/css examples for these patterns.

[2018-03-07 15:46] #604 closed

[2018-03-07 20:58] serenamarie125 opened #606 "About Modal should provide guidance on build information"
This is an enhancement to the existing [About Modal design pattern](http://www.patternfly.org/pattern-library/communication/about-modal/#design)

The call out image should have 6 callouts:
1. Modal
2. Close Button
3. Title ** new
4. Content ** new
5. Trademark & Copyright info ** new
6. Corner Graphic

As an interim design, we are utilizing the following:
When version and build information are bot

[2018-03-07 20:59] serenamarie125 commented on #606
@mcarrano FYI - just spoke about this with a few folks, and added a new issue to capture our current thoughts on an interim solution

[2018-03-07 21:51] jennyhaines commented on #575
@mcarrano - yes, I agree that we should be using 'fa-table' for table view,and  'fa-th-large' for card view. 'fa-th-list" is what we should be using for list view. (Not in that table- that's being updated in the upcoming PR!) @terezanovotna

[2018-03-08 15:34] mcarrano commented on #606
@serenamarie125 I agree that we should be more specific about the content that goes here. I will move this to the backlog as a good small issue for someone to pick up. @LHinson FYI.

[2018-03-08 15:39] mcarrano commented on #597
@serenamarie125 @KendraMar I agree that this should be better explained. I will add this to the backlog. @KendraMar is this something that you'd be willing to take on?

[2018-03-08 15:49] LHinson commented on #606
make sense. thanks @mcarrano!

[2018-03-08 16:01] #467 closed

[2018-03-08 17:43] KendraMar commented on #597
Happy to take it on (will just double check with Serena). Thanks @mcarrano.

[2018-03-08 21:58] kybaker commented on #587
@matthewcarleton Good catch. I agree with @mcarrano here.

[2018-03-09 15:39] mcarrano commented on #587
So sounds like we all agree. Then what are the next steps here? @matthewcarleton wouldn't this just require a CSS change? I don't think there anything else for us to do from a design standpoint. Thoughts?

[2018-03-09 16:24] matthewcarleton commented on #587
@mcarrano yes I believe so.

[2018-03-09 16:28] mcarrano commented on #587
@matthewcarleton Do you want me to open a new issue against Core then, or can you just reopen the original issue?

[2018-03-09 16:30] matthewcarleton commented on #587
@mcarrano I'll just reopen, thanks! :)

[2018-03-09 16:31] mcarrano commented on #587
Great. Thanks @matthewcarleton . I will close this as a design issue then.

[2018-03-09 16:31] #587 closed

[2018-03-12 13:09] serenamarie125 commented on #597
@mcarrano at this point, there is upcoming product work, and there's not current bandwidth to take on additional PatternFly work this sprint.

[2018-03-13 06:09] deernano opened #609 "Stacked or Accordion Navigation"
Catalog pattern:  Display the sub content to avoid users losing focus when reading.

#### 1. Choose the type of contribution for this pattern:
- [X] This is a new pattern
- [ ] This is an enhancement on an existing pattern

#### 2. If this enhancement or new pattern was made for an application, specify which one.
Patternfly.org, Patternfly showcases

#### 3. Use Cases + Requirements:
- Use Case 1:

[2018-03-13 16:00] mcarrano commented on #570
@deernano Thanks for taking on this issue. Please create a Google doc and/or InVision prototype with you proposed mockups so we may review them before updating the library.

[2018-03-13 16:03] mcarrano commented on #606
@zhutaoredhat Thanks for taking this issue. Please share a revised mockup so we may review it before making changes to the library.

[2018-03-13 16:04] mcarrano commented on #569
Thanks for taking this one @zhutaoredhat !

[2018-03-13 17:11] #542 closed

[2018-03-13 17:22] mcarrano commented on #609
@deernano Thanks for entering this. This is what Boostrap calls ScrollSpy navigation. https://getbootstrap.com/docs/4.0/components/scrollspy/

I think that we already have code for something like this in the website to support the widgets section navigation (http://www.patternfly.org/pattern-library/widgets/). @amarie401 @LHinson can you confirm that? I definitely think this is useful for the webs

[2018-03-14 06:05] deernano commented on #609
@mcarrano Just want to mension:
 When we were doing designs for Keycloak, we found that we would like to have sub nav with indentation as the following pic:
<img width="275" alt="2018-03-05 5 44 24" src="https://user-images.githubusercontent.com/5396309/37385703-27b58790-2790-11e8-9cdc-5a2e8acd99dc.png">
Sometimes we prefer the second level nav to be displayed automatically without flying out anot

[2018-03-14 06:10] deernano commented on #570
@mcarrano before the mockup, I would like to research a little bit on this use case. I will create a google doc and maybe put some draft design in it and review with you. If we are agree with the direction I will develop the draft design. What do you think?

[2018-03-14 08:20] zhutaoredhat commented on #606
Hi @mcarrano I had pulled a PR about this issue. Please help me have a review. Great thanks~ https://github.com/patternfly/patternfly-design/pull/613

[2018-03-14 09:00] terezanovotna commented on #575
Thanks for your input! I am adding more info about [View Selectors](https://docs.google.com/document/d/1avSfEJevRKA6oI-q3AIJU1bpoHaWYq5yWn88jER9kVs/edit?usp=sharing) into Toolbar. As we introduce consistent order and look of the icons, images have to be updated throughout PF.

@serenamarie125 @mcarrano please comment, so I can put PR

[2018-03-14 09:07] serenamarie125 commented on #575
@jennyhaines does 'fa-th-list' make sense?  it has a dot with line on it (looks like radio button list), which really doesn't depict our list views.  I thought that we were moving towards something similar to the hamburger menu, but with four lines?

[2018-03-14 09:15] terezanovotna commented on #575
[This is the latest](https://fontawesome.com/v4.7.0/icon/th-list/) fa-th-list @jennyhaines shared with me

[2018-03-14 12:22] gregsheremeta opened #614 "Bootstrap Select width guidance"
Documentation -- I need guidance, and perhaps better documentation, around how we should deal with select boxes that have options longer than the select box itself.

Example below. Note that the third option is currently selected, and the text is truncated in the current selection part (the top, don't know exactly what to call that). [It's not a great example because here we could probably increas

[2018-03-14 14:26] mcarrano commented on #570
That's fine @deernano . Just keep in mind that we are not looking to make substantial changes here. But will be interested to see what you come back with.

[2018-03-14 23:34] LHinson commented on #609
@mcarrano our old site used it but our current site does not.

[2018-03-15 08:34] zhutaoredhat commented on #569
@mcarrano Hi matt, I have updated the all mockups, please help me have a review. https://github.com/patternfly/patternfly-design/pull/615

[2018-03-15 15:27] jennyhaines commented on #575
@serenamarie125 @terezanovotna - [fa-th-list](https://fontawesome.com/v4.7.0/icon/th-list/) and [fa-list](https://fontawesome.com/v4.7.0/icon/list/) are the only list-related icon that FontAwesome supplies, though they do have a [fa-align-justify](https://fontawesome.com/v4.7.0/icon/align-justify/) that isn't  intended for list views, but we could use it if it A) visually depicts our list view mor

[2018-03-15 15:45] mcarrano commented on #575
@jennyhaines I would be OK to use fa-align-justify or do you this we should just create a unique Pf icon for this? I don't really anticipate that we will use text justification in anything we design at RH, although one could argue that if PF is an open design system, there's no restriction on what someone might build. Mainly, I'm a bit uneasy that the icon is called "align-justify" but we are usin

[2018-03-15 15:51] terezanovotna commented on #575
I agree that [fa-align-justify](https://fontawesome.com/v4.7.0/icon/align-justify/) depicts the list view more accurately.

[2018-03-15 16:05] jennyhaines commented on #575
Okay, I'll change our recommendation to fa-align-justify for the list view icon!

[2018-03-15 16:07] jennyhaines commented on #575
I'm fine with creating a new icon for the PF icon set based on fa-align-justify. We could could add that icon in at the same time as the new sort icons that are going in this PF sprint.

[2018-03-15 16:11] mcarrano commented on #360
@jennyhaines Have you addressed this with other icon table changes? If so, I will close this.

[2018-03-15 17:12] jennyhaines commented on #360
@mcarrano  - yes I have! Feel free to close it out.

[2018-03-15 17:36] mcarrano commented on #360
Thanks @jennyhaines I will close.

[2018-03-15 17:36] #360 closed

[2018-03-15 17:38] #579 closed

[2018-03-15 19:31] #572 closed

[2018-03-15 19:49] mcarrano commented on #609
@deernano I discussed this with the UX Strategists and we agreed to move forward with a proposal for a stack/accordion style navigation pattern as you referenced in your last comment regarding KeyCloak navigation. Please work on this and post a proposal for review when ready. Some considerations include:
* How to ensure appropriate visual hierarchy between the primary and secondary items.
* When t

[2018-03-15 19:52] mcarrano commented on #614
@gregsheremeta I discussed with the UX Strategists and the consensus seemed to be that truncation should be applied whenever a label is too long to fit it's container. Pls see the truncation rules here: http://www.patternfly.org/styles/terminology-and-wording/  Do you feel this will resolve the issue?

[2018-03-15 20:00] mcarrano commented on #588
I did have an opportunity to discuss with the UX Strategists today and based on that, I'm proposing that we use "--" to reflect Data not Applicable and "N/A" for Data not Available. The difference being that the first one would indicate that the data in question would never be available for the object in question.

@beanh66 @ncameronbritt @Rohoover @serenamarie125 does that work for you?

[2018-03-15 20:06] mcarrano commented on #575
@terezanovotna Please move forward with this by creating a new pattern in Forms and Controls called "View Selector" that contains guidance on icons as you describe. Existing content views and Toolbar pattern should also be updated reflect this and link to the new pattern.

You may also want to consider the effect of switching between views. Does the view get re-paginated? For example, what happens

[2018-03-16 01:08] gregsheremeta commented on #614
Yes, thanks!

[2018-03-16 01:08] #614 closed

[2018-03-16 01:35] deernano commented on #609
@mcarrano  sounds great~ I will continue work on this task.

[2018-03-16 12:50] Rohoover commented on #588
If that is the consensus then I'm good with it!

[2018-03-16 16:17] beanh66 commented on #588
That works @mcarrano!

[2018-03-16 20:15] mcarrano commented on #505
@matthewcarleton has sent a PR to update the core implementations. @nlcwong @serenamarie125 @maryclarke @catrobson @jeperry @LHinson see https://github.com/patternfly/patternfly/pull/991. I think this is a good solution and we should update the design docs to be in sync. Thoughts?

[2018-03-19 14:59] deernano commented on #570
@mcarrano Here is the research doc https://docs.google.com/document/d/1zsoGeBPbfr67VsUHbadzmzLs2f2sDS6XMp_flr9-xIs/edit?usp=sharing
I expained the general rules concept only. If we agree with, I will write a more comrehansive description of the rules with images.

[2018-03-19 16:39] jeperry commented on #505
LGTM

[2018-03-19 16:41] LHinson commented on #505
![bitmoji](https://render.bitstrips.com/v2/cpanel/eb1a2ea1-7c1f-4a92-abdb-e89cdc52edfd-15206079-98a4-479e-bb46-baa63bbd1a81-v1.png?transparent=1&palette=1&width=246)

[2018-03-19 17:46] mcarrano commented on #570
@deernano I reviewed your document. Your recommendations seem reasonable based on the research. What I would like to see next would be some mockups or detailing of specific changes that you are proposing that we make.

@catrobson @serenamarie125 @maryclarke @jeperry @kybaker @LHinson your feedback is also welcome.

[2018-03-20 06:06] deernano commented on #570
@mcarrano ok, I will continue work on this

[2018-03-20 12:15] catrobson commented on #505
The implementation looks good.  Are we going to update the design docs to follow this implementation as well?

[2018-03-20 13:07] mcarrano commented on #505
Yes, that's the plan.

[2018-03-20 17:59] LHinson opened #619 "Empty State for Cards"
There are implementations for empty state for cards in both pf-ng and pf-react and they look different. It would be great to have some design documentation on some standards.

https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?knob-Match%20Height=true&selectedKind=Cards&selectedStory=Base%20Card%20w%2FHeightMatching&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fsto

[2018-03-20 19:09] johnnyNcsu commented on #506
@mcarrano I am new to PatternFly but also have this use case (file input). I have been integrating the design pattern for file input created by krajee to my project (in addition to PatternFly elements) - in particular I am using the file input pattern he defines in his [example 9](http://plugins.krajee.com/file-basic-usage-demo#basic-example-9). His code is already in npm registry as a bootstrap s

[2018-03-20 19:21] sjcox-rh commented on #619
@LHinson @catrobson

Amy and I were just discussing how to move forward with the empty state card we are using in iPaaS. Could we possibly add in what we are using in iPaaS as a design option rather than the standard in the design documentation?

We noticed that ng and react are somewhat similar, where as ipaas varies more. See below:

<img width="290" alt="screen shot 2018-03-20 at 11 16 22 am" s

[2018-03-20 20:12] johnnyNcsu commented on #506
@mcarrano will do - Thanks.

[2018-03-20 20:57] dlabrecq commented on #619
FYI, we don't have an implementation of an empty card state for patternfly-ng. I believe you may be looking at a custom card? If so, that's just an example of something we use in OpenShift.io.

For OSIO, we use different headers, margins, etc. The example is simply a test case to prove the component can be used for that particular scenario. We also add a warning at the top of the example indicatin

[2018-03-20 22:25] terezanovotna commented on #575
[Mockup](https://docs.google.com/document/d/19YRgDY1FeSm72zYDyNg4E5daWyjMAh5XJGBb_SSUpiM/edit?usp=sharing) for View Selector

[2018-03-21 09:30] deernano commented on #570
@mcarrano Here is the proposed changes of the masthead menu. Please take a look. Thank you~
https://docs.google.com/document/d/1J4VNRPCmpHsoPaJro_LgvKblgW4D7-cz21rPjxO_JMM/edit?usp=sharing

[2018-03-21 11:56] terezanovotna commented on #575
@mcarrano let me know what you think. Then I will go ahead and adjust the images throughout PF for consistency

[2018-03-21 14:55] mcarrano commented on #570
Your recommendations look good @deernano . Please also review @catrobson @serenamarie125 @maryclarke @jeperry @LHinson @kybaker @matthewcarleton . I think this would mean updating our current masthead design pages and implementation to be consistent with this.

[2018-03-21 15:52] catrobson commented on #619
@sjcox-rh I think this is a valid variant of an empty state card for the reasons you mentioned and worthy of its own design documentation.  Its actually unique in that this is used I think in a list view where you're pointing out that you can add more cards in an additional way than just having the "create" button up in the header, which gives users more context about how they can get cards to sho

[2018-03-21 16:13] matthewcarleton commented on #570
LGTM, thanks @deernano :)

[2018-03-21 16:32] mcarrano commented on #575
@terezanovotna In looking at your PR's I think you may have mixed these changes with prior work on the Loading States. Perhaps we should do a Bluejeans call to sort this out. I can discuss how to do this with multiple branches to isolate you changes. I will try to set something up for us.

[2018-03-21 16:34] sjcox-rh commented on #619
@catrobson Yes that's exactly right! Glad that intention came across.

So moving forward, did you want me to create design documentation for this particular option and it will just be added to the design docs for the empty state card?

Also, since Michael Coker is working on implementation, should he go ahead and contribute it back to patternfly-ng, or wait until the design docs are complete?

@dl

[2018-03-21 17:14] maryclarke commented on #570
LGTM

[2018-03-21 18:01] catrobson commented on #619
@mcarrano do you think this pattern belongs in the card list view, or in a new empty state card (probably reference one way or another, but for where the content lives).  I think SJ's situation is specific to a card view, so I feel like it might belong there.

Michael can contribute back to patternfly-ng before the design docs are complete.

We never created a specific empty state card for pattern

[2018-03-22 03:17] deernano commented on #570
@mcarrano @catrobson @matthewcarleton @maryclarke  Thanks for the comment:)
I will submit a pr.

[2018-03-22 03:33] #606 closed

[2018-03-22 16:17] #598 closed

[2018-03-22 19:47] mcarrano commented on #505
Per the PF-UXS meeting on 3/22 we'd like to go ahead with the current implementation as modeled in https://github.com/patternfly/patternfly/pull/991. The assessment is that we can live with the mis-alignment of right aligned labels when some have info tips until a better approach can be found for pf-next.

@matthewcarleton and @nlcwong please proceed with making changes to the code examples and de

[2018-03-22 19:53] mcarrano opened #623 "Add "create card" to Card View"
Want to update the [Card View](http://www.patternfly.org/pattern-library/content-views/card-view/) pattern to include a Create/Empty card that can fall at the end of a list of cards. This card should include an Add/Create button and appropriate messaging that will allow users to launch an action to create new objects that will add to the view.

Ref https://github.com/patternfly/patternfly-design/i

[2018-03-22 19:55] mcarrano commented on #623
@sjcox-rh This is a new issue created out of today's UXS-PF to cover the iPaaS use case you raised for card empty states. We were hoping you can help out here with a design contribution. @catrobson will follow up with more details.

[2018-03-22 21:21] dlabrecq commented on #619
@sjcox-rh OpenShift.io adds their own empty state to the body of the patternfly-ng card. It's not really part of the card component perse, but it could be.

We do have a empty state component in patternfly-ng that's used elsewhere in OpenShift.io. It's also used as a stand alone component in the Planner UI.

For patternfly-ng, we display the empty state component when the table has no rows. We wer

[2018-03-23 13:32] terezanovotna commented on #575
Matt and Tereza reviewed changes - it looks 👍.

As approved, Tereza starts working on updating mockups for

- CARD VIEW OVERVIEW
- CARD VIEW DESIGN
- LIST VIEW OVERVIEW
- LIST VIEW DESIGN
- TREE LIST VIEW OVERVIEW
- TREE LIST VIEW DESIGN
- PAGINATION OVERVIEW
- PAGINATION DESIGN

[2018-03-23 15:20] sjcox-rh commented on #623
@mcarrano Sounds good, thanks for creating this! I'll be on the lookout for deets from @catrobson

[2018-03-23 19:47] mcarrano commented on #576
@terezanovotna Since you will be cleaning up all content views to reflect correct ordering of the view selectors, I wonder if you can take this one on too (there are actually 3 related issues). It addresses known inconsistencies in the way filters and filter results are selected. The revised [Filter pattern](http://www.patternfly.org/pattern-library/forms-and-controls/filter/) should be used as a

[2018-03-26 01:24] catrobson commented on #623
@sjcox-rh basically the card pattern you were proposing for card views when you want to show an "empty card" to add another card to the view should go against this issue.  Can you start by creating a document that captures your PatternFly proposal that we can share across strategists to see if there are any other products doing something similar?

[2018-03-26 16:28] beanh66 opened #625 "Optional Column Headers for List Views"
- Enhancement on an existing pattern
- This is currently implemented in OpenShift.io and Tectonic.
- Depending on the content/ complexity of a list view,  column headers may be beneficial. Tectonic, OpenShift and OpenShift.io all use a similar font style for certain headings, light grey in all CAPS. We would like to contribute this optional heading style to the List View pattern.
- See attached sc

[2018-03-26 16:42] jennyhaines commented on #625
@beanh66 - Love the style! Only concern is the color of the light grey text. It looks like you probably used pf-black-400, but pf-black-600 is the lightest that is accessible. (Which totally stinks because I like the look of the color you picked.)

[2018-03-26 16:43] jennyhaines commented on #625
*for reference, I think you used #bbbbbb, and it should be #72767b

[2018-03-26 18:22] sjcox-rh commented on #623
@catrobson Sure thing, I'll try and finish that up today.

[2018-03-26 20:37] mcarrano commented on #625
I have a couple of questions and things I'd like to clarify @beanh66 . First, in the screen shot you attached, I had a hard time understanding what the headers were applying to until I understood that this was basically a list nested inside another list. @jennyhaines is there something we can do visually to clarify that?

Before we contribute this as a new pattern, I want to make sure this works a

[2018-03-26 20:56] lclay2 commented on #553
@mcarrano @LHinson @amysueg @catrobson
Hi Matt, I have a draft for the mega menu pattern that I believe is ready for review:
https://docs.google.com/document/d/1y1BCRxCo5ofIdinV0eenHZwSPbA1EwPtQcI73pXFlJE/edit#
Thanks, Liz

[2018-03-27 06:01] nding-anges commented on #459
@mcarrano Please find the first version of " Selecting date and time - Concept Design " with this link:
https://docs.google.com/document/d/1evHUQwFY7KaVg0xgltUdqX92jMKgS71YjQCZu6yBLIk/edit?usp=sharing

[2018-03-27 11:43] catrobson commented on #553
Thanks @lclay2!  I left a few comments in the document for you.

[2018-03-27 12:12] beanh66 commented on #625
@mcarrano Sorry for the confusion. To be clear the attached image in my initial post is a screenshot from the existing Tectonic console and is meant to be an example only. That is not a design we created and I am not planning on contributing a nested list, only column headers above our standard list view. Please see below for a contribution example:
![group 7](https://user-images.githubusercontent

[2018-03-27 12:37] serenamarie125 commented on #625
@mcarrano we will need to determine an approach for responsive behavior. IMO we should consider hiding the headers when items become stacked in rows.  We may want to consider just hiding the headers at specific breakpoints, for example at x-sm and sm.  @beanh66 do you think this would be a good idea?

[2018-03-27 13:51] mcarrano commented on #625
@beanh66 This makes me feel better as I found the Tecktonic design very confusing. The mockup you attached above is much clearer and I agree that we should avoid nested lists, if possible. I still have questions about how this will work responsively. @serenamarie125 agree that hiding the headers when the list starts to wrap makes sense. The problem is that since the width of the list is dependent

[2018-03-27 14:29] serenamarie125 opened #626 "Provide guidance on using "Select" in Terminology & Wording"
Enhancement to [Terminology & Wording](http://www.patternfly.org/styles/terminology-and-wording/)

Let's add some general guidance for wording in the UI when prompting the user to choose/select from a list ?  It sounds like "select" is the correct verb to use:

- Microsoft Manual of Style prefers "select"
- [IBM's editorial style guide](https://www.ibm.com/developerworks/library/styleguidelines/)

[2018-03-27 15:15] mcarrano commented on #553
@lclay2 Thanks for posting this. Overall your document looks great. There were just a few comments/questions I left in the document.

Want to add @kybaker @serenamarie125 @jeperry @maryclarke and @matthewcarleton to the list of reviewers. Besides reading the Google doc, you can see a sample implementation here: https://cdn.rawgit.com/srambach/BxMS-frontend/master/bpm-home.html#

One question for @

[2018-03-27 15:41] mcarrano commented on #459
@jeperry @serenamarie125 @catrobson @maryclarke @kybaker @LHinson please review. @matthewcarleton would also like you to take a look. This implies extending what we currently support now for our date and time picker so want to make sure that we can integrate these suggestions into our existing component set.

[2018-03-27 17:23] maryclarke commented on #553
+1 to Cat's comments/questions regarding responsive design, but overall looks good.

[2018-03-28 13:18] akieling opened #627 "About Modal: add description section"
A good enhancement to the About modal would be the addition of a description section under the title and above the label/value items.

[2018-03-28 18:26] abonas opened #628 "pficon-service is missing from website"
The icon for service that is used in openshift, manageiq, kiali, etc is missing from patternfly website.
Not sure what is the reason for that, it used to be there for sure.
Any dev going to explore the icons available from pf will not know about it if it's missing

This is the icon:
![serviceicon](https://user-images.githubusercontent.com/6277245/38048665-a6417a58-32ce-11e8-98a3-0cf961af69ff.png)

[2018-03-29 14:04] mcarrano commented on #592
The current button placement is intentional and is consistent with standard practice for full page vs. modal forms, respectively. While this is internally inconsistent, it should conform with user's existing mental model for form layout.

[2018-03-29 14:04] #592 closed

[2018-03-29 14:04] beanh66 commented on #625
@matthewcarleton Is it possible to hide the headers when the list starts to wrap? If so, I'm wondering if I can move forward with this design or if we need to wait on a prototype to find out. Thanks!

[2018-03-29 19:45] catrobson commented on #627
Hi @akieling!  Thanks for submitting a PatternFly design issue for this.  I don't think we would want to have a description of the product in the About Modal for any of our product situations.  Here's why:

* The description that marketing and others use for our product do evolve and change over time.  This is an occurrence that is likely to get out of date with those.
* Usually the purpose of the

[2018-03-29 20:11] mcarrano commented on #628
@jennyhaines can we add this one back and in the description note that it is specifically for a Kubernetes service? Thx.

[2018-03-29 23:51] akieling commented on #627
HI @catrobson . Thanks for the explanation.

[2018-03-29 23:51] #627 closed

[2018-04-01 09:28] abonas commented on #628
:cake:

[2018-04-02 07:26] yih-wang commented on #626
@mcarrano I'll take this issue. How about insert a row into [the "Terminology and Wording for Action Labels" table](http://www.patternfly.org/styles/terminology-and-wording/#common-terms-and-words).

Label | Action | Complement | Notes
-- | -- | -- | --
Select | Select an item from a list, group, view, or other container element. |   | “Choose” is not recommended for this use case.

[2018-04-02 10:29] deernano commented on #609
@mcarrano Here is the draft design proposal of the stacked / accordion navigation
https://docs.google.com/document/d/1CL6Cl5MH4_rvzqfFUz0KRr9eK0jnUzM6rhVQVTF2kjI/edit?usp=sharing
Please take a look. Thank you:)

[2018-04-02 18:26] mcarrano commented on #609
Good start on this @deernano . See my comments/questions.

[2018-04-02 18:38] mcarrano commented on #626
@yih-wang I don't think this belongs in the Actions table since it is more like instructional text usage. Maybe just add to "Common Words and Terms?" @LHinson what do you think?

[2018-04-02 18:51] #628 closed

[2018-04-02 18:55] mcarrano commented on #588
@yih-wang If you will be updating Terminology and Wording for #626 , can you take this one too and roll into one PR?

[2018-04-03 08:32] yih-wang commented on #588
Sure, I'll take this.

[2018-04-03 18:04] #570 closed

[2018-04-03 18:33] #569 closed

[2018-04-04 15:06] mcarrano opened #632 "Add Confirmation Dialog pattern"
Add a standard pattern for confirmation dialogs. This can include a generic confirmation dialog together with specific instances (i.e. delete confirmation) as part of one pattern.

Requirements:
* Address use of alert types
* Address standards/guideline for writing confirmation messages.
* Address standard buttons and button placement.

Prior work was done here: https://www.dropbox.com/s/ix1zl4hpw

[2018-04-04 15:10] mcarrano commented on #322
@serenamarie125 I have created issue #632 to address confirmation dialogs in general. I think that Delete confirmation should just be addressed as a special case of that. Do you agree?

[2018-04-04 15:20] mcarrano opened #633 "Appearance of expanded row in list view differs between design and implementation"
There is currently a difference between the design and implementation of an expanded row in List view.

Design specifies that row should be light gray when expanded (http://www.patternfly.org/pattern-library/content-views/list-view/#design). Core implementation shows expanded row as light blue (http://www.patternfly.org/pattern-library/content-views/list-view/#code).

This is further complicated b

[2018-04-04 20:10] mcarrano commented on #506
@gdoyle1 Any updates on this?

[2018-04-04 20:17] mcarrano opened #634 "Update contributing.md file with new text"
Want to update https://github.com/patternfly/patternfly-design/blob/master/.github/CONTRIBUTING.md to be the primary point of reference for design contributors. Proposed changes:

Some preliminary work will happen up front from Matt Carrano and Leslie Hinson including:

* Review document and identify what needs to be included in the contributing.md (will also loop in Stacy for edit review) https:/

[2018-04-04 20:32] mcarrano commented on #634
@LHinson I created an issue to track this work. Just let me know when you have added "How to become a maintainer" and I will bundle this into a PR.

[2018-04-04 20:46] LHinson commented on #634
Thanks @mcarrano. It's added now!

[2018-04-05 12:51] gdoyle1 commented on #506
@mcarrano I uploaded the newest wireframes a couple weeks ago! They begin at "Initial Screen V2." https://redhat.invisionapp.com/share/N5G2SX76QDZ It's the same InVision project as posted above. I would love to hear what you/others think about these.

[2018-04-05 17:29] mcarrano commented on #633
@kybaker @jennyhaines Just a heads up on this one. I will try to set up a meeting with the three of us and @matthewcarleton to discuss. I think this is more complicated than just changing the Core implementation to reflect the design since this the gray may not play well with what is now a blue hover and selection state.

[2018-04-05 18:12] mcarrano commented on #506
@gdoyle1 the revised design looks great. @catrobson @serenamarie125 @maryclarke @jeperry @kybaker @LHinson please take a look. It's the screens labeled "V2" that you should be looking at.

@gdoyle1 for future reference, it's good to post a comment here when changes are made, that way I'll be sure not to miss updates! Thanks.

[2018-04-05 20:37] mcarrano commented on #506
Per 4/5 PF-UXS Meeting - Let's create a draft in the form of a Google Doc that includes Overview and Design pages. Want to consider use cases and variations that may be needed. @catrobson to follow up with @gdoyle1 . Also should get Visual Design involved to create hi-fi mockups.

[2018-04-05 20:39] #626 closed

[2018-04-05 21:02] mcarrano commented on #609
Per the UXS-PF review meeting on 4/5, let's put this one on hold. We are concerned about introducing new navigation patterns at this time but can reassess this one we better understand our navigation strategy for PatternFly next.

@deernano thanks for your efforts on this. Your design provides a good basis for this pattern should we decide to move forward in the future.

[2018-04-08 02:43] deernano commented on #609
@mcarrano ok, thank you ~

[2018-04-09 06:39] yih-wang commented on #546
@danseethaler @priley86 @mcarrano I have a similar design for OpenShift.io and here's the wireframe, https://redhat.invisionapp.com/share/MECYL572D. Do you think this design can fit the needs?

[2018-04-09 14:06] mcarrano commented on #546
I think this is an interesting design @yih-wang . Does the OpenShift team have an implementation for this?

[2018-04-09 15:31] #634 closed

[2018-04-10 03:48] yih-wang commented on #546
@mcarrano I think it hasn't been implemented yet. @catrobson Can you confirm the status please? The original issue of the design is #516 .

[2018-04-10 06:35] deernano commented on #632
@mcarrano The prior work link can not be opened. Can I have a update link?

[2018-04-10 08:28] yih-wang opened #638 "Existing PatternFly Color Swatches is unfriendly to Color-Blind Users"
I was asked to help a local team today to improve the color accessibility for red/green colorblind users. When I view PatternFly labels like the color blind, I found our Red and Green colors are difficult to distinguish. (See the image below)
![slice](https://user-images.githubusercontent.com/23331885/38543689-d3123410-3cd7-11e8-8751-399fb8785dd6.png)

I just read [a blog from Tableau](https://www

[2018-04-10 12:52] mcarrano commented on #632
@deernano I'm attaching acopy here.

[MessageDialog-PatternProposal.pdf](https://github.com/patternfly/patternfly-design/files/1894612/MessageDialog-PatternProposal.pdf)

[2018-04-10 15:06] mcarrano commented on #638
@yih-wang Thanks for raising this issue. You are correct that we do not provide much existing design guidance here for PatternFly. In practice, I would advise that color should never be used alone to communicate severity level of a warning, but there should always be some type of redundant coding - an icon, for example along with the color.

I'm copying in @kybaker and @jgiardino in case they woul

[2018-04-10 17:18] #337 closed

[2018-04-10 17:32] catrobson commented on #546
Correct, this hasn't been implemented in patternfly-ng - this is something that we wanted to do but haven't been able to prioritize since we already have something different that technically works, but isn't ideal, in the product.

[2018-04-11 04:02] yih-wang commented on #638
@mcarrano I agree that it's enough for the current website. It will be nice if we could consider this area for PatternFly Next.

[2018-04-12 07:50] nding-anges opened #642 "Sort icon and guidance on Toolbar design page are inconsistent"
## Bug Contributions:
- Currently, the sort icon displayed and guidance are inconsistent on " Form and control"- Toolbar, design page
- Sort image need to be changed.
-see more detail here:http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/#design

![issue of toolbar](https://user-images.githubusercontent.com/34368385/38663300-0a8b1c80-3e69-11e8-9153-757284448d87.png)

[2018-04-12 10:07] nding-anges commented on #459
@mcarrano  I made a new design proposal in Invision and put all component for completeness. It was based on the reference of Bootstrap , which is suggested by Liz Clayton, see detail here: https://redhat.invisionapp.com/share/TZGSUJZXG9A#/290220418_Date_-time_Selector_Proposal_A
We could comment on that and after I go back to finalize the design guidance.

[2018-04-12 17:40] mcarrano commented on #642
@nding-anges Thanks for raising this issue. If you want to send a PR for this, I will review and merge.

[2018-04-12 19:54] mcarrano commented on #632
Per UXS-PF meeting on 4/12 - Please move forward with this @deernano .  There is another issue specifically for Delete Confirmation which you should also address as part of this work. That's #322 . The new pattern should:

1- Provide a standard template for modal confirmation dialogs.
2- Call out specific instances for common use cases requiring confirmation like Delete (and others?).
3- Provide s

[2018-04-12 19:55] mcarrano commented on #322
I am going to close this one out with the assumption that it will be handled as part of #632 .

[2018-04-12 19:55] #322 closed

[2018-04-13 01:53] deernano commented on #632
@mcarrano @serenamarie125  Ok I get it, keep working, thank you~

[2018-04-13 07:33] deernano commented on #632
A reference doc from #322 https://docs.google.com/document/d/1UvnNPrl35osBHR0mr7ACZXhr9qN6nZ2IxI2HEgtnwwE/

[2018-04-13 09:41] yih-wang commented on #546
@mcarrano I'd like to take this issue cuz it's similar as what I did before.

When I take another look at the autocomplete component in PatternFly React, I found the type-ahead results will just show one word until beginning to input the next word. But I prefer to show the whole sentence. For example, if I input "ora", the dropdown shows "orange", but I think directly showing "orange is agreeable/

[2018-04-13 14:54] jennyhaines commented on #633
@kybaker , @mcarrano , @matthewcarleton , and I just met about this, and the consensus was to have the [previously determined](https://github.com/patternfly/patternfly-design/issues/314#issuecomment-338284058) #edf8ff blue be the color we use for the list view row color for both hover and selected states. (No grey used whatsoever for list view rows.)

[2018-04-13 15:12] mcarrano commented on #633
Just to clarify @jennyhaines . I think that when you say selected state you mean expanded/open, right? According to my notes, we will remove the blue background color for selected rows and use only the checkbox to signify selection. So the target will be equivalent to the current React implementation here: https://rawgit.com/patternfly/patternfly-react/gh-pages/index.html?selectedKind=ListView&sel

[2018-04-13 15:25] jennyhaines commented on #633
@mcarrano - yes, correct! I just edited my above comment so there is no confusion. It should be equivalent to the link you provided (except the "fa-angle-down" caret should continue to stay that default dark gray/black color)

[2018-04-13 15:34] mcarrano commented on #546
Thanks for volunteering to take this on @yih-wang . I think that we need more discussion about that with a larger team. For now, I recommend documenting your design proposal as you think best. We do currently have a multi-select and single select drop down list based on Bootstrap http://www.patternfly.org/pattern-library/widgets/#bootstrap-select  How do you feel this fits with those? Is this an a

[2018-04-13 15:45] mcarrano commented on #633
Thanks, @jennyhaines . Also, would you be able to update the mockups on the Overview and Design pages in the pattern doc here to reflect that? http://www.patternfly.org/pattern-library/content-views/list-view/  ?  @matthewcarleton I will open a separate issue in the core repo for updating the CSS.

[2018-04-13 18:05] mcarrano commented on #588
This was address by #631 . Will close.

[2018-04-13 18:05] #588 closed

[2018-04-13 18:17] jennyhaines commented on #633
@mcarrano - yes- working on that now!

[2018-04-13 18:26] mcarrano opened #645 "Review/Update Contributor's Guide on Design Wiki"
Review and update the Contributor's Guide text here: https://github.com/patternfly/patternfly-design/wiki  in order to bring detailed contribution instructions up to date and position this as one-stop shopping for on-boarding new designers.

* Integrate useful content from https://docs.google.com/document/d/1esLbHNEhOah5iYNgGi86kFSgCRijcXEgiQhyQs1TQZA/edit?usp=sharing

*Reference use of the new Pa

[2018-04-16 09:57] nding-anges commented on #459
Hi, Dear all, @mcarrano @jeperry @serenamarie125 @catrobson @maryclarke @kybaker @LHinson please review. @matthewcarleton  I put the image of design proposal of date time picker here and also you could check it and comment on Invision with the link https://redhat.invisionapp.com/share/TZGSUJZXG9A#/290220418_Date_-time_Selector_Proposal_A
![2018-04-16 5 50 42](https://user-images.githubusercontent.

[2018-04-16 09:59] nding-anges commented on #459
![2018-04-16 5 57 49](https://user-images.githubusercontent.com/34368385/38802735-d957c7fa-419f-11e8-9c3b-bc02f736b8f5.png)

[2018-04-16 09:59] nding-anges commented on #459
![2018-04-16 5 58 02](https://user-images.githubusercontent.com/34368385/38802754-e89d8b64-419f-11e8-977e-5a6663d9b84d.png)

[2018-04-16 09:59] nding-anges commented on #459
![2018-04-16 5 58 21](https://user-images.githubusercontent.com/34368385/38802775-f36c2186-419f-11e8-89a2-6322a3ebffa6.png)

[2018-04-16 12:34] matthewcarleton commented on #625
Hey @beanh66, sorry for the late reply to this.  To answer your question, yes we can add a media query that removes the headings at a certain breakpoint.

After talking to @mcarrano @kybaker @LHinson @jennyhaines here are my concerns with the design from a development perspective.

1. We can hide the headers but it will have to be custom for every implementation. The content length will dictate wh

[2018-04-16 14:27] maryclarke commented on #459
Added some comments to the Invision doc.

[2018-04-17 08:31] yih-wang commented on #546
@mcarrano I think the use case of auto-complete is not only when selecting from dropdown list. It should also include [Filter](http://www.patternfly.org/pattern-library/forms-and-controls/filter/) and [Search](http://www.patternfly.org/pattern-library/widgets/#search). That means the auto-complete component is individual and can combine with current Dropdowns/Filter/Search patterns.

According to

[2018-04-18 15:50] #589 closed

[2018-04-18 17:12] #505 closed

[2018-04-18 19:00] catrobson commented on #625
Normally we start dropping columns and content on smaller devices in product, as well as the headers.   @mindreeper2420 would you be able to demo how this works in OpenShift.io as an example?  I don't think building this as a HTML table with horizontal scroll is ideal.  The header alignment I'm not sure if that was solved in our implementation or not in OpenShift.io.

[2018-04-18 19:10] nlcwong opened #647 "Update patternfly library screenshots with latest pattern for required field labeling."
This issue deals with documentation inconsistencies due to the recent update of the required field labels pattern.  The following patternfly library pages contain screenshots that shows an outdated pattern for required field labels.  Either the required symbol is located in the wrong location (left of label), or it is not the correct color (red), or both and also in the case of top-aligned labels,

[2018-04-19 12:30] serenamarie125 commented on #625
Agreed that the HTML table won't really meet all needs.

I think that there are a couple of use cases for the List View.  For example, a compound list view would never really be able to have headers.  But there are instances of list views which necessitate this imo.  I'd love to see a demo - @mindreeper2420 maybe you could add an animated gif here?

[2018-04-19 14:02] gdoyle1 commented on #506
Here is the [Google Doc](https://docs.google.com/document/d/1CM1BZdMFUUWXttI9oRaNb518TFpDP8LX_hA9OIjYXUU/edit?usp=sharing) with:
1. Overview
2. Use Cases
3. Design Pages
4. Design Write-ups
For reference, here is the [previous Doc](https://docs.google.com/document/d/1yMv-GIWML3UYgN-koJnp21L4ASwr4gHcQzojLF0nHG0/edit?usp=sharing) I was using to gather requirements and use cases as well as the [InVis

[2018-04-19 17:06] mindreeper2420 commented on #625
@catrobson @serenamarie125 OpenShift.io currently uses the list view component from PatternFly with the simple expansion and optional headers turned on (https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/list), which also uses the responsive properties from the list view pattern. With this, the headers do disappear when on smaller screens, eliminating the need for a horizontal scr

[2018-04-19 20:14] mcarrano commented on #625
@beanh66 per today's PF Design meeting, we'd like to proceed with adding design guidance for this by adding as a variation to the List View pattern. Can you also sync up with @kybaker regarding visuals? He has a few concerns about header styles so we should do a visual design pass before finalizing. Implementation concerns will be deferred to PatternFly-Next where they can be more fully considered

[2018-04-19 22:09] matthewcarleton commented on #625
Also just to follow what @mcarrano said, the one thing I noticed that makes this less problematic is if all content is left aligned. If the label is left aligned and the content below is right aligned it will cause alignment issues as the screen shrinks.

[2018-04-20 06:08] sjcox-rh commented on #619
Started a design doc [here](https://docs.google.com/document/d/1K0CJWuYoUxOe2H-pzkQSPLACEEc9oEnDUvK3ZOIjaDI/edit?usp=sharing), can also be found on issue #623

[2018-04-20 06:11] sjcox-rh commented on #623
@mcarrano @catrobson @serenamarie125 @jeperry @maryclarke @LHinson

Please review the design document for a potential new update to the card view pattern. This doc goes over the requirements/uses/considerations of a Create/Empty State card.

https://docs.google.com/document/d/1K0CJWuYoUxOe2H-pzkQSPLACEEc9oEnDUvK3ZOIjaDI/edit?usp=sharing

Thanks!

[2018-04-20 13:39] #642 closed

[2018-04-20 14:32] #508 closed

[2018-04-20 14:32] #593 closed

[2018-04-20 14:32] #594 closed

[2018-04-20 14:58] mcarrano opened #650 "New Actions pattern missing site.md file"
Recently merged Actions pattern (PR #608 ) is not displaying on the website. Site.md file is missing.

[2018-04-20 18:47] #469 closed

[2018-04-20 18:47] #468 closed

[2018-04-20 19:02] beanh66 commented on #625
@mcarrano sounds good, thanks for the update! I'll get with @kybaker on the visuals before posting the documentation for review.

[2018-04-23 07:46] yih-wang commented on #546
@mcarrano I have did some research on this issue, and proposed a design. Have a look at this document: https://docs.google.com/document/d/1ZrtUMibkC_6oqjwTi6vx_xmFZMXk4SmJBC1VjjtiFII/edit?usp=sharing

[2018-04-23 11:53] beanh66 commented on #625
Updated the example to follow existing PF typography per Kyle's request. FYI @mceledonia @bdellasc @jennyhaines products will need to be updated from the current use of all caps for headings.

![list-view-headers](https://user-images.githubusercontent.com/18057044/39124723-7b8e4326-46ca-11e8-8855-a3fdca9c4f99.png)
@kybaker let me know if this design works or if it needs further updates.

[2018-04-23 15:44] jennyhaines commented on #625
@beanh66 - I believe that this treatment makes sense for the current version of PF. I do see Kyle's point around not wanting to add yet another text style if we don't have to. We will continue to have the optional column headers for PatternFly Next, but would style that text slightly differently due to our font change to Overpass, different specified weights, and base font size change.

[2018-04-23 17:36] mcarrano commented on #546
@yih-wang Thanks for posting your proposal. It is thoughtful and well researched, as usual. @serenamarie125 and @lizsurette have been working on a similar proposal based on the React implementation and their product needs. Serena will post a copy by the end of this week. I'd like to make sure your proposal here is aligned with that and then I think we can move forward with turning this into a Patt

[2018-04-23 19:43] beanh66 commented on #625
Great, thanks for the info @jennyhaines!

[2018-04-24 00:30] serenamarie125 commented on #625
@jennyhaines @beanh66 the interesting thing is that the products who are already using their own variant of this feature are all using ALL CAPS for their titles, not only for List View column headers, but for other titles & headings as well.

[2018-04-24 08:51] nding-anges commented on #459
Hi Matt, @mcarrano
After internal discussion of our UX team , I made a new alternative design - proposal C.
The differences compared with previous design are basically focus on date-time picker and  date-time range picker. These two components in Proposal A  are using a picker associated  time picker and calendar, and in Proposal C, time picker and calendar  are separately.

The improving points o

[2018-04-24 09:01] yih-wang commented on #546
@mcarrano Got it, thanks.

[2018-04-24 13:59] mcarrano commented on #459
@nding-anges Thanks for providing this additional proposal. Agree that separating date and time makes this easier. I left a few questions/comments on your InVision project.

As for next steps with this, now that we are beginning work on PatternFly-next, I'm reluctant to make any major changes to our existing date and time picker approach. I do think that this research is useful for informing our n

[2018-04-24 17:27] mcarrano commented on #363
I am doing some clean up and will close this issue as it has not been actively worked on in a while. We can revisit this at a later time if it re-emerges as a priority.

[2018-04-24 17:27] #363 closed

[2018-04-24 20:18] mcarrano commented on #559
This issue is dependent on #341

[2018-04-25 06:46] deernano commented on #632
@mcarrano @serenamarie125
https://docs.google.com/document/d/1SSv4YPU1b2qlLGJSBnLxsI2BboFdJlWySqIwA0T7nfE/edit?usp=sharing
Here is the draft confirmation dialog design and pattern description. It may not be the same as our current pattern design description, as I'm trying to include all the use cases. Please help to review it and leave comments for further refinement. Thank you!

[2018-04-25 07:30] nding-anges commented on #459
@mcarrano OK.I get your point. So to thinking about PF next , the first priority task for now is time range design by making less changes and providing better guidance for it. I will work on this firstly. And I just saw The issue #336, that is a good use case. We could thinks about how could be a appropriate design and relative guidance based on that .

[2018-04-25 12:36] Rohoover opened #653 "Various Login Screen Error Messaging is inconsistent"
The current login screens are handling error messaging such as failed login validation, mistyping, etc. two different ways.

Pattern one follows our inline form error handling style, which is also defined on the design pattern for Login Page. [PF Design](http://www.patternfly.org/pattern-library/application-framework/login-page/#design)

![screen shot 2018-04-25 at 8 35 20 am](https://user-images.

[2018-04-25 14:32] mcarrano commented on #653
@Rohoover I have never seen the version that has the info tip style error messages. Where was this taken from? All of the documentation on the website uses the form-field error handling style (pattern 1) as far as I can tell.

[2018-04-25 15:04] Rohoover commented on #653
@mcarrano

If you go to the single sign on code link on the patternfly.org site...
http://www.patternfly.org/pattern-library/application-framework/single-sign-on/#code

input some nonsense in both fields to generate an error, it will show there.

It's also shown on the patternfly rawgit site. I know that site is for development purposes but the implementation is the same for single sign on - which

[2018-04-25 15:55] mcarrano commented on #653
@matthewcarleton Can you please take a look at this and let me know what's going on? Seems like there is a tooltip style error message that displays when the user enters invalid text into a field and clicks Log In. This differs from the type of messaging that's specified in the design docs.

[2018-04-25 16:33] serenamarie125 commented on #632
@deernano you've done a great job here!  I'm adding comments to the doc, but in general, I'm wondering if we have the pattern be "Message Dialog", and then have an example of each type below.  For example, a Delete Confirmation Dialog, etc.

@mcarrano fyi

[2018-04-25 17:16] matthewcarleton commented on #653
@mcarrano @Rohoover what you are seeing is the default behaviour for the browser. If we want to implement custom styling for input level errors will need to achieve that with javascript. This brings us back to the conversation around using javascript for core.

[2018-04-25 19:51] LHinson commented on #625
Since there is no all caps style in the PatternFly styling definitions to date, I agree that we should proceed with the style definitions that we have today (as seen in the latest screenshot). Any decisions to introduce a new style should be done so systematically vs on a case by case basis. I would consider any considerations for a new text style out of scope for this issue.

[2018-04-26 07:38] deernano commented on #632
@mcarrano @serenamarie125  Thank you for the comments:)
The doc has been updated, please take another look.
https://docs.google.com/document/d/1SSv4YPU1b2qlLGJSBnLxsI2BboFdJlWySqIwA0T7nfE/edit?usp=sharing

[2018-04-26 16:08] mcarrano commented on #632
This is looking good @deernano . Agree with changing this to Message Dialog to me more general and like the suggestion about including examples of some specific dialogs to address common use cases like Delete.

@serenamarie125 can you think of other common dialogs we need besides delete? Maybe a situation where the user makes some changes on an item and then tries to navigate away?

[2018-04-27 01:32] deernano commented on #632
@mcarrano @serenamarie125
I added a title for each use case
Warning Confirmation:
Acknowledgement Confirmation:
Complete Confirmation:
Error Confirmation:
Maybe we should add another example in warning confiratmation other than delete?
There is a use case in Keycloak. Keycloak request access privileges to user's account, it will show a list of consents in the dialog:
https://redhat.invisionapp.com

[2018-04-27 18:08] mcarrano commented on #632
I'm wondering whether we should include any guidance on writing messages or text for standard messages that go with some of these use cases. We might even want to create templates for these standard dialogs. @serenamarie125 what do you think? I could request some help with crafting the message content.

[2018-04-27 20:46] mcarrano commented on #645
@LHinson I have made some updates to the Wiki in the Design repo when the detailed contribution instructions live.  https://github.com/patternfly/patternfly-design/wiki What's changed?

* Removed any redundant text about contributions that is already present on Contributing.md page.
* Added a new Understanding GitHub Concepts page and diagram.
* Highlighted the importance of branching for working

[2018-04-28 10:05] nding-anges commented on #459
@mcarrano Hi Matt, Please find the first version of " Date Range Design and Guidance " with this link:https://docs.google.com/document/d/1pOMxt6rqJgH0_jc0dDWQhH0IfMwjvSWCMRNxl-TMhZA/edit?pli=1

[2018-04-30 13:00] LHinson commented on #645
Hey Matt, this looks good. I went back through and did the following:

- Removed some redundancy at the beginning
- Remove unnecessary sentences (for example, I didn't think it necessary to state "You don't need to have years of expertise to make a contribution, just a desire to learn about design and become part of a community of designers and developers working to create a better experience for

[2018-04-30 18:03] mcarrano commented on #459
@nding-anges Looks good, but just a question. I see two proposals and not sure how to evaluate them. Is proposal A the one that is more aligned with the current Datepicker we are using? If so, see my questions/comments. @matthewcarleton can you also take a look. Do you see anything that would be problematic from an implementation standpoint?

@jeperry @maryclarke @serenamarie125 @catrobson would a

[2018-04-30 18:20] #633 closed, assigned to jennyhaines

[2018-04-30 19:37] mcarrano commented on #645
Thanks for your comments @LHinson. Agree that the revised copy reads better and removes lots of redundant text left from earlier revisions. I made a few small updates here: https://github.com/patternfly/patternfly-design/wiki  I think we are in good shape to close this out.

[2018-05-02 01:31] jeperry commented on #459
I'm sure that we do, but I don't think a single control needs to also handle all of these cases. Instead, I'd expect this to be handled as by combining existing controls. For example, a picker to select the input I want to provide (days before, exact day, days after, or specific range.)

[2018-05-02 07:03] nding-anges commented on #459
@mcarrano The Proposal A is the one that is more aligned with the date range example on this test page: https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/bootstrap-datepicker.html and I have made some little changes. The proposal B is more improved in term of usability that some of our products are using a date range pattern like this. Since it is a completely a new pattern from an i

[2018-05-04 15:52] mcarrano commented on #459
@nding-anges Before we commit to a design approach, I'd like to see us create a working prototype of this. If possible we'd like you to work with @dabeng to create a new test page that demonstrates the following use cases:

- Picking a single date or time.
- Picking a date range
- Picking a date and time in combination.

We'd like you to begin with trying to utilize the existing Bootstrap Datepick

[2018-05-07 03:58] nding-anges commented on #459
@mcarrano  It will be great that we could arrange a short discuss live. I'm available from this Wednesday to Friday between 20:00-22:00 (Beijing time) I think 30 mins should be okay .  Please let me know which time should be suitable for you ? Thanks.

[2018-05-08 06:35] dabeng commented on #459
Additional Info:
1. I think it's better to use two standalone input boxes to host begin date and end date for date range picker rather than single input box. As far as I know, in practical development, backend developers like using two columns of database table to store begin date value and end date value.

2. There is no need to include many similar bootstrap date picker components in patternfly-

[2018-05-08 14:17] mcarrano commented on #459
Thanks for posting this @dabeng . I am OK with using separate fields for start and end date/time as you have implemented this. It seems like a very clear way to handle ranges. @nding-anges what do you think? One question I have is what if we want to specify "any time before x" or "any time after y"? would it make sense to be able to just clear either the start of end date to get this result?

I th

[2018-05-09 09:28] deernano commented on #647
@nlcwong @mcarrano
Please help to review the updated images. Thank you!
https://github.com/patternfly/patternfly-design/pull/657

[2018-05-09 11:33] terezanovotna opened #658 "Determine whether Table View should be included in View Selector"
View Selector does not include Table View. Is Table View a common view? How do you switch in and out of table view if it is used together with a list or card? Do we have that use case in the product? How was it handled?

issue came from #656

[2018-05-09 17:57] mcarrano commented on #658
@serenamarie125 @LHinson  would be interested in your thoughts about this. During the course of making View Selector updates, we realized that none of your Table View designs actually include a View Selector. See @terezanovotna 's questions. Wondering if this needs to be added to the Table View examples here: http://www.patternfly.org/pattern-library/content-views/table-view/#overview

[2018-05-09 19:11] mcarrano commented on #459
@nding-anges @dabeng and I met today to further discuss next steps. For PatternFly 3, we will continue to explore an approach as demonstrated by @dabeng above that uses separate Bootstrap Datepickers for selecting a range. We can explore a more elegant approach for pf-next. The is an open feature issue for pf-next here: https://github.com/patternfly/patternfly-next/issues/180 @nding-anges feel fre

[2018-05-09 20:21] mcarrano opened #660 "Introduce PatternFly Writer's Guide to Contribution Docs"
The PatternFly Writer's Guide would be a reference for PatternFly design contributors who want to learn about writing for the PatternFly website. It will provide guidance on usage and style for writing pattern copy and other content. Potential topics include (but are not limited to):

* Voice and tone.
* Formatting and captitalization.
* Standard templates.

This existing document can be used as a

[2018-05-10 13:10] dabeng commented on #459
Hi @mcarrano . The following is updated demo page of prototypes :blush:
https://rawgit.com/dabeng/patternfly/date-range-dist/dist/tests/time-picker2.html

[2018-05-11 18:12] #645 closed

[2018-05-11 18:33] mcarrano commented on #459
This looks good @dabeng But I just have a few questions.

* It seems like for the single date picker we lost the Today button at the bottom. See http://www.patternfly.org/pattern-library/forms-and-controls/datepicker/#code

* For Date & Time, I'm not sure about the calendar and the time picker side by side. Why should this be different from the way we toggle between date and time in the Range pick

[2018-05-12 00:41] dabeng commented on #459
Hi @mcarrano @nding-anges
1. The whole page of time-picker2 is built up based on ["bootstrap datetimepicker"](https://eonasdan.github.io/bootstrap-datetimepicker/). IMO, this plugin can fulfill all the demands we described in design doc of date picker.
"today" button is the feature ["bootstrap datepicker"](https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDat

[2018-05-14 10:33] dabeng commented on #459
Hi @nding-anges , I have enable toadybutton of bootstrap datetimepicker - https://rawgit.com/dabeng/patternfly/date-range-dist/dist/tests/time-picker2.html

[2018-05-15 03:11] serenamarie125 commented on #341
@mcarrano finally have a draft in a Doc : https://docs.google.com/document/d/1gtDUMASD2dc8G2A82i0lYBjaSxFBw34-65TuilDQjHQ/edit
Need to get some visuals help this week.  Once the text is reviewed, I'll put up the MD.

[2018-05-15 14:50] #647 closed

[2018-05-15 20:14] mcarrano commented on #500
@catrobson any update on this? Would like to discuss at Thursday's meeting and close out if we have no intent to address.

[2018-05-15 20:17] mcarrano commented on #551
Consider for PatternFly Next navigation.

[2018-05-15 20:19] #551 closed

[2018-05-15 23:12] catrobson commented on #500
Stan,

Sorry, it was on my list to follow up with you.  Leslie and I discussed, and we both had different understandings of the need.  I know you've talked us through this a few times, so I'm sorry that we still are not on the same page.  Can you clarify if you are looking for:

A.  A **definition** of what the standards are for building a custom icon that can be used in PatternFly applications -

[2018-05-16 01:03] dabeng commented on #459
Hi @mcarrano I added custom code to replace all icons of action buttons with text as shown below:

<img width="512" alt="screen shot 2018-05-16 at 8 40 15 am" src="https://user-images.githubusercontent.com/5689075/40091023-fe5d13de-58e7-11e8-810a-f04a2418c521.png">

[2018-05-16 02:27] dabeng commented on #459
Additional Info:

1. bootstrap datetimepicker itself can not provide ["select range in one input" feature  ](https://github.com/Eonasdan/bootstrap-datetimepicker/issues/2163).

2. bootstrap datetmepicker can not allow users to select range in one calendar.

3. But above two demands have practical significance.

4. With the help of[ a huge mount of custom code](https://github.com/dabeng/patternfly/

[2018-05-16 12:37] ssilvert commented on #500
We need "A" as a bare minimum.  That way, our customers can create their own icons and upload them to KeyClocak/SSO.  "B" and "C" would be very helpful as well.

I would also add "D", which would be helpful for PatternFly generally:

D. PatternFly should provide a larger set of approved icons.  Perhaps the full set of FontAwesome icons could be rebuilt to fit the PatternFly style standards.

[2018-05-17 13:58] matthewcarleton commented on #459
I would say that we should stay away from it for core. We wouldn't introduce this with custom JS for PF-next so core should be the same.

[2018-05-17 14:17] mcarrano commented on #459
Thanks @matthewcarleton .

@nding-anges can you please proceed with finalizing the design and creating a new Date and Time pattern to replace the current Datepicker in Forms and Controls? I think that the design page can show these various options with a note that the single date range picker will not be available in PatternFly core, but can be an alternative approach for JS implementations. Let m

[2018-05-17 21:47] stacymcauliffe commented on #632
@mcarrano - I put together an outline that includes most of the content from @deernano and added in additional message dialog types - error and passive. I had to reorganize some of the content to make it work for all of the different dialog types.

Let me know what you guys think. We could probably include more prescriptive content guidelines for each dialog, but I'd like to hear your feedback on

[2018-05-18 00:46] dabeng commented on #459
Hi @matthewcarleton Is it our explicit convention to exclude the patterns or demos which contain custom js code snippets ?

[2018-05-18 12:15] serenamarie125 opened #662 "Visuals for Bullet Charts have changed"
While implementing the [Bullet Chart](http://www.patternfly.org/pattern-library/data-visualization/bullet-chart/) pattern, additional work was done with the visual designers which needs to be incorporate back into the design documentation

cc @mcarrano @jennyhaines

[2018-05-18 14:28] mcarrano commented on #632
@stacymcauliffe Thanks for putting this together. I like the direction. My only question is how we should organize this in the context of our current design documentation. I am going to schedule a meeting for you, @deernano , and myself to review and talk about next steps.

[2018-05-18 14:37] stacymcauliffe commented on #632
Thanks @mcarrano! I'm happy to meet earlier if it works better for @deernano

[2018-05-18 16:10] #443 closed

[2018-05-18 20:18] mcarrano opened #663 "Consider interaction between Notification Drawer and other masthead menus"
In testing some recent changes to the masthead utility items (see https://github.com/patternfly/patternfly/pull/1055) I noticed that when the Notification Drawer was opened, it remained open when other items, i.e., the Help or User menu, were clicked such that both menus were opened at the same time and overlap. See attached screenshot.

![screen shot 2018-05-18 at 10 47 37 am](https://user-images

[2018-05-21 02:54] deernano commented on #632
@mcarrano @stacymcauliffe  ok~

[2018-05-21 08:32] terezanovotna opened #665 "Error Message for Radio Buttons"
There is no documentation on Error State of [Radio Button in PatternFly. ](https://www.patternfly.org/pattern-library/forms-and-controls/data-input/)

![data-input-radio-buttons 1](https://user-images.githubusercontent.com/36040135/40298026-f2fe3312-5ce1-11e8-80e0-9e43a472c014.png)

Here is a suggestion how that could be implemented, and it would be great to see it in PF as an example.
![data-inpu

[2018-05-21 09:27] nding-anges commented on #459
Hi Matt

I just want to confirm 3 small  issues with you that summary as below:

1. Design of Today and Time Button need to be reviewed.

2. The  Single Date picker  on currently  patternFly will replaced  by components  based on Bootstrap date time picker that @dabeng  did as prototype, I will also make all components using a same UI design .

3. After I discuss with @dabeng  , we recommend that

[2018-05-21 13:33] mcarrano commented on #665
Yes, I agree with you @serenamarie125 . There should always be one radio button selected in a group. The user should not be able to deselect an option by clicking on it like a checkbox. That's the definition of a radio button group. It's a way to select between two or more mutually exclusive options.

[2018-05-21 14:09] terezanovotna commented on #665
I was asked this question by UI devs, and they had this use case when no default selection and asked for help how to show that. @serenamarie125 @mcarrano I agree it should have a default state. I just asked for an example in a UI and we can't find it now. So we can close this issue. Thanks for your help!

[2018-05-21 15:01] mcarrano commented on #459
@nding-anges See my responses to your questions:

1. I'm not sure that either option works for me completely. I definitely would avoid Option B because it does not seem right that one action is a link style and the other is a button. So option A seems closer, but I'm not sure that the "v" is right. It indicates that this is a dropdown to me which I know is not the case.  Maybe something like "Time

[2018-05-21 15:16] mcarrano commented on #665
OK. I will close it then. If this comes up again and we need to reconsider, you can always reopen @terezanovotna .

[2018-05-21 15:16] #665 closed

[2018-05-21 15:45] #497 closed

[2018-05-22 08:48] nding-anges commented on #459
Thanks! @mcarrano
Regarding Time button , I also think that using a symbol to indicate navigation will be better.But since the new panel will get in from bottom to top, something like " ^ "  maybe indicate clearly the direction.
Otherwise, I think that Option A is more clear to inform which panel user will enter and which they will come back to. What do you think?
See more detail
![today - time](h

[2018-05-22 17:15] mcarrano commented on #576
@deernano Thanks for offering to help with this. There are lots of mockups across the library that need to be made consistent to reflect the correct filtering and toolbar design. @serenamarie125 has been working on a PR to introduce bulk selection (https://github.com/patternfly/patternfly-design/issues/341) I was kind of waiting for that to go in so we can capture this all at once. @serenamarie125

[2018-05-22 21:18] mcarrano commented on #662
@serenamarie125 Are those visuals available somewhere? Is this just a matter of replacing existing mockups or do new mockups need to be created?

[2018-05-22 23:13] serenamarie125 commented on #576
@mcarrano plan is to have the PR up by Tuesday 5/29 morning at the latest.  I've got a few things queued up for @jennyhaines to help me on.

[2018-05-22 23:13] serenamarie125 commented on #662
@mcarrano plan is to have the PR up by Tuesday 5/29 morning at the latest. I've got a few things queued up for @jennyhaines to help me on.  I think there may be some text changes as well

[2018-05-22 23:22] serenamarie125 commented on #663
IMO ... there should never be more than one utility menu open at a time.  The notification drawer is something totally different to me.  @mcarrano, if the notification drawer is open, you should still be able to access the help menu items.  For example, you may want to pull up documentation to look up notification text.

The error to me seems to be that there is some kind of selection state on the

[2018-05-23 02:30] deernano commented on #576
@mcarrano @serenamarie125  ok I'll look across the libray of the inconsistent filtering and toolbar first until the PR of bulk selection has been merged. Thank you~

[2018-05-23 08:48] dabeng commented on #459
Hi @nding-anges @mcarrano bootstrap datetimepicker doesn't provide the APIs to switch action buttons' caption between calendar view and clock view. If necessary, I can try to add trick code to fulfill this demand:

[2018-05-23 09:50] nding-anges commented on #459
That makes sense. "Now" is better. We just need to confirm with @dabeng to see whether it could be customized separately. And I did the first version of Design note, https://docs.google.com/document/d/1kVAhNzSB-szucfeGgq815dB6e214WavZ-gqRR0Sydj0/edit?usp=sharing @mcarrano please have a review.

[2018-05-23 12:57] mcarrano commented on #663
@serenamarie125 Given your comments, I will close this out. It struck me as odd that it worked this way, but I do see your argument. And since it's already implemented this way, I feel no need to change it. The selection state is the result of the last PR we processed which addressed the inconsistency in behavior of masthead items.

[2018-05-23 12:57] #663 closed

[2018-05-23 17:06] jeff-phillips-18 commented on #663
@mcarrano The selection state on the notification toggle seems to be something new. It is not applied in angular-patternfly, patternfly-ng, or patternfly-react.

[2018-05-23 17:46] mcarrano commented on #663
Yes, this is a recent design change @jeff-phillips-18 that was made so that all masthead items would behave consistently. It is a result of https://github.com/patternfly/patternfly/pull/1055.

[2018-05-23 21:19] mcarrano commented on #459
@nding-anges Thanks for posting the design document. I did not have a chance today, but will try to review by the end of this week and give you some feedback.

[2018-05-24 20:41] mcarrano commented on #459
@nding-anges I reviewed and adding some comments. Please make one more round of edits and then I will circulate this for review with the other UX leads before we proceed with sending a PR.

[2018-05-25 20:38] mcarrano opened #668 "Update App Launcher design pages to reflect Masthead updates"
The [Launcher pattern](http://www.patternfly.org/pattern-library/application-framework/launcher/) design pages are now out of date following the updates to the [Masthead](http://www.patternfly.org/pattern-library/application-framework/masthead/).  Note that the Launcher menu, when open, should no longer use the infotip style and the Help icon should no longer have the down arrow. The Application L

[2018-05-25 20:40] mcarrano commented on #668
@junezhang @deernano @zhutaoredhat This is a small issue that came up this week and I wonder if it's something one of you can take? It just requires an update to the mockups, I think. Thanks in advance.

[2018-05-28 07:30] deernano commented on #668
@mcarrano Updated the images
Please take a look, if no problems, I will make a PR, Thank you.
![launcher1 2x](https://user-images.githubusercontent.com/5396309/40602626-e4baa3bc-628b-11e8-92d9-d7fa9b456f1c.png)
![launcher2 2x](https://user-images.githubusercontent.com/5396309/40602629-e8288c30-628b-11e8-8ac9-8c6b2270e4b9.png)
![launcher3 2x](https://user-images.githubusercontent.com/5396309/406026

[2018-05-28 07:49] nding-anges commented on #459
@mcarrano Thanks so much for all suggestions. I just did some modifications, please have a look.

[2018-05-29 12:05] terezanovotna opened #670 "Suspend x Resume - Terminology and Wording"
In MIQ, Compute - Containers - Providers, we have a new functionality about Suspending and Resuming a Provider. @romanblanco is asking for help.

![image](https://user-images.githubusercontent.com/36040135/40657666-f56dd69e-6348-11e8-99b3-fdf6bbfefac6.png)

What wording is better?
**a. Pause - Resume
b. Suspend - Resume**

What icons should we used for these?
@jeperry @serenamarie125 Thanks for th

[2018-05-29 12:06] terezanovotna commented on #670
Pause and Suspend explained here https://wiki.openstack.org/wiki/Kvm-Pause-Suspend

[2018-05-29 13:29] romanblanco commented on #670
related to BZ https://bugzilla.redhat.com/show_bug.cgi?id=1455145#c12

[2018-05-29 14:15] mcarrano commented on #459
Looks much better @nding-anges . I will submit this for review and comment by the UX Leads this week. Assuming they are in agreement with the approach, we can then go forward with sending a PR. Thanks.

[2018-05-29 14:36] mcarrano commented on #668
@deernano Just two comments...

First, the image for the Overview page seems off. There is a gap between the menu and the masthead bar. The Design page images are correct.

You raise a good question about the tooltip. Let's change the design document to say that the tooltip is optional and should only be used if more information is needed about the app that will be launched. In most cases I don't

[2018-05-29 20:35] lizsurette opened #671 "Inline form errors: Do we want to allow space for them? Or do we want to form to jump on errors?"
The PatternFly-React team is currently implementing the latest Login designs. While talking through the best way to do inline errors, we have talked back and forth about the experience of the form either growing to allow for space to show the error or simply having space already built into the form for a less jumpy experience. You can see the initial discussion and some code examples [here](https:

[2018-05-29 21:26] mcarrano opened #672 "Contribution doc update - Page title added to site.md"
A field for the page title has been added to site.md (see https://github.com/patternfly/patternfly-org/issues/569). A corresponding update should be made to contribution instructions so contributors know about this when contributing new patterns.

[2018-05-29 21:26] serenamarie125 commented on #668
@mcarrano i agree that the tooltip should be optional

[2018-05-29 21:29] serenamarie125 commented on #670
I'm wondering if Suspend = Pause
and Resume = Play

@jennyhaines can you take a look at this ? I don't see those 2 icons in the PF Icons setup anymore.  Would you agree that these are correct suggestions, and do you know the icons?

[2018-05-30 07:37] Laviro commented on #671
Thanks @lizsurette for opening this discussion.
Here are the examples as I promised, fading errors vs. collapsing errors.

**Fading** input errors with **collapsing** form error:
![38928ae5-d01a-45f3-y92e-abc11b67f656 1](https://user-images.githubusercontent.com/26363699/40706081-5c005dda-63f5-11e8-998a-ec8f90053955.gif)

**Collapsing errors:**
![0c75c7d8-2045-4568-y48b-e8499a6b7a83](https://user-

[2018-05-30 07:50] deernano commented on #668
@mcarrano @serenamarie125 I agree.
Updated as following, only remain one tooltip in design description:
![launcher1 2x](https://user-images.githubusercontent.com/5396309/40706643-121ecb76-6421-11e8-8b2d-2ccf0555e0a2.png)
![launcher2 2x](https://user-images.githubusercontent.com/5396309/40706653-173c651e-6421-11e8-9e4d-4db0ebaee3db.png)
![launcher3 2x](https://user-images.githubusercontent.com/5396

[2018-05-30 08:51] deernano commented on #632
@mcarrano @stacymcauliffe  I think the overall content is accurate and clear now. We could just add some button description for users to know how to use the correct button. As we can see from https://github.com/patternfly/patternfly/issues/1038#issuecomment-392787000, it may not easy for developers to understand the design doc.
Thus, we can introduce the dialog usage, the style, the button& icon u

[2018-05-30 11:21] terezanovotna commented on #670
I like the Pause and Play concept @serenamarie125

[2018-05-31 13:34] jgiardino commented on #671
In the same pf-react pr mentioned above, a [similar discussion](https://github.com/patternfly/patternfly-react/pull/362#pullrequestreview-124432635) has come up regarding the section of social media links. Here, the overall height of the login modal is being predefined to avoid resizing in height when the More link is clicked. Guidance on this aspect would be appreciated too.

[2018-05-31 19:54] mcarrano commented on #671
@matthewcarleton Can you take a look at this issue and give an opinion? We discussed today in the PF Design Sync mtg and feel like this change would make sense for the login screen specifically, but not necessarily forms in general. Is it reasonable to apply that change in spacing to this pattern only or would that effect field spacing on forms in general?

[2018-06-01 19:15] LHinson opened #752 "Dashboard demo"
In this issue (which might be broken up to separate issues later), visuals will begin by providing hi-fi examples of various dashboards with our components. After this, we will determine which make sense to add as demos.

Design Folder: https://drive.google.com/open?id=1kRZClTWey5ZtDPK81Yrk2ZozRugoZyPx

Consider both full page dashboards and "dashbars."

Component lifecycle:
- [x] Interaction desi

[2018-06-04 13:09] deernano commented on #668
@mcarrano https://github.com/patternfly/patternfly-design/pull/673
Updated to pf-design, please review it. Thank you.

[2018-06-04 14:41] #668 closed

[2018-06-05 15:58] mcarrano commented on #632
On 6/1 @deernano @serenamarie125 @stacymcauliffe @jennyhaines @michaelkro met to sync with React repo team. Some relevant take aways for design:

- Message dialogs should be build on top of a standard PatternFly modal. That means they will always have a title and a close button in the header.

- They many just include a simple message (i.e. just a block of text) or a complex message that includes

[2018-06-05 17:51] mcarrano commented on #459
@nding-anges So I think we are good to move forward with taking what you've done so far and creating a PR to add this to the Forms and Controls section of the design library. Please replace the existing Datepicker with this. Let mw know if you have questions.

[2018-06-05 19:31] vconzola commented on #459
@mcarrano Is this ready to be used? I have an application for a date/time picker in VM Migration.  Also, this is going into pf-core, correct?

[2018-06-05 19:59] mcarrano commented on #671
@matthewcarleton and I discussed today. While we think there is merit to the proposal, making this change would potentially affect form layout across PatternFly and I don't think this is something we should consider for PatternFly 3. The other potential issue is that it's not always possible to know the length of error messages, so allowing for a single line message mat still result in problems wh

[2018-06-05 20:07] mcarrano commented on #459
@vconzola Yes, the plan is to put this into PF Core. It leverages the current Bootstrap widget, so there is minimal dev work to be done. You should feel free to use this approach and let @nding-anges and I know if you see any issues with applying this.

[2018-06-06 02:16] dabeng commented on #546
Hi @mcarrano , is it necessary to reopen this [task](https://github.com/patternfly/patternfly/issues/332) to put jquery autocomplete into patternfly-core repo ?

[2018-06-06 07:37] nding-anges commented on #459
@mcarrano Ok, I'll send the PR A.S.A.P

[2018-06-06 07:41] Laviro commented on #671
@mcarrano @matthewcarleton We can give the two options for developers to choose from,
and I have some solutions in mind:
- The component may decide by itself whether to fade or collapse by the line length/height.
- maybe even limit the provided error message length (like twitter).
- if we don't want to limit the message, we can put a -- [more...](url) -- link which will collapse the rest of the me

[2018-06-06 15:15] mcarrano opened #674 "Icons Table: pficon-enhancement cannot be copied to the clipboard"
There is a bug in the Icons table http://www.patternfly.org/styles/icons/ that is preventing the pficon-enhancement to be copied to the clipboard. See https://github.com/patternfly/patternfly-org/issues/575 for more info.

[2018-06-06 15:37] mcarrano commented on #546
Just wanted to give everyone an update on this based on recent discussions this week.

First, I have renamed this to "Type-Ahead Input" and reassigned to @serenamarie125 to better align with the contribution that is being made directly to React (https://github.com/patternfly/patternfly-react/pull/374). @dabeng we can reconsider where to add to Core at a later date, but for now will focus on React

[2018-06-07 18:42] #674 closed

[2018-06-11 22:07] jennyhaines commented on #632
@mcarrano @stacymcauliffe

The minimum total height that a modal should ever be is 150px. (40px title bar+20px spacing+9px minimum text+40px spacing+26px buttons+15px spacing=150px) I don't even know that this needs to be specified in the code, though, as long as there is always exactly 40px of space between the secondary message text and the buttons. (See "Minimum Height Dialog" mockup below for

[2018-06-12 11:55] terezanovotna opened #679 "Select Multi Group - Form"
This is a component that was originally created for miq ui classic, and it would be great if we could contribute this pattern to PF as well.

<img width="784" alt="screen shot 2018-06-12 at 13 45 59" src="https://user-images.githubusercontent.com/36040135/41288594-27765f72-6e47-11e8-80f1-a5e1900adaf2.png">
<img width="787" alt="screen shot 2018-06-12 at 13 46 08" src="https://user-images.githubuse

[2018-06-12 12:36] terezanovotna commented on #679
chatted with @serenamarie125 and it looks like there [is already an implementation](https://github.com/patternfly/patternfly-react/pull/374) that has just few differences with this one:

- different chip color
- alphabetical order

[2018-06-12 12:37] terezanovotna commented on #679
@mcarrano I am not really sure what to do here. Do we want to add this design to PF (as it's really similar to labeling)? or we don't want to have it?

[2018-06-12 12:41] serenamarie125 commented on #679
@terezanovotna I think we need to understand the use cases of this component.  Can you elaborate on those?

[2018-06-12 13:55] mcarrano commented on #632
Thanks @jennyhaines

@deernano perhaps we should include the basic template with pixel spacing on the Design page?

[2018-06-12 16:05] mcarrano commented on #679
@terezanovotna Agree that it would be helpful to understand use cases. My first take is that this is pretty similar to the Auto-Complete/Type-Ahead control that we are already adding. Would that serve your needs or perhaps we can consider your use cases as part of that contribution? I don't really want to have two separate components that do almost the same thing.

[2018-06-12 17:19] serenamarie125 commented on #679
@Hyperkid123 I spoke with Ron ( that PR contributor ) and he said that you can override the visual representation of the chip, so I think you should be able to utilize what he's contributing.

From what i understand, the use case for ManageIQ is that they are selecting tags, which have a unique visualization, thus they want them displayed differently.  To me, that's just a variation of what's been

[2018-06-12 17:46] Hyperkid123 commented on #679
@serenamarie125 yes i am ok with using your implementation, we just needed it a bit sooner and if we can customize the visuals, there should ne no problem using it when its finished.

But i was wrong about saying it may be exactly the same. After i've checked the code i think that the type ahead is a bit different from implementation stand point. Specifically the options data structure. We need ar

[2018-06-13 02:51] deernano commented on #632
@mcarrano Yes, I agree.

[2018-06-13 11:47] terezanovotna opened #680 "Add/Modify Tag & Assigned Tags"
**Background:**
This component was created for MIQ and will be available in miq ui classic. Compute - Infrastructure - Hosts/Nodes. Policy - Edit Tags.

**Original solution for tagging.**
<img width="1198" alt="screen shot 2018-06-13 at 13 55 54" src="https://user-images.githubusercontent.com/36040135/41349916-abdcb8cc-6f11-11e8-9833-5b7d921c6af0.png">
<img width="1197" alt="screen shot 2018-06-13

[2018-06-13 20:53] LHinson opened #764 "Dual list selector"
http://www.patternfly.org/pattern-library/forms-and-controls/dual-list-selector/

[2018-06-14 20:29] mcarrano commented on #680
@terezanovotna I brought this up today at the weekly PF Design leads meeting and there is general agreement that adding a new Tagging pattern would be useful. Is this something you have the bandwidth to work on? It was suggested that we should get input from some other folks to make sure this gets cross-project input. But I wanted to check with you first. If you are to move forward with this, it m

[2018-06-14 20:51] amysueg commented on #500
@ssilvert - We met with the Patternfly team today and @kybaker provided updates to two documents that describe how to create custom icons and how to contribute them to Patternfly:

This document describes how you would design the icon
https://docs.google.com/document/d/1ErSqzD1lgMTyRVEuFNvNUfbIQipTx078EohBhPcuv_M/edit

This document describes how you would add the new icon to the existing library

[2018-06-15 04:31] dabeng commented on #459
Hi @mcarrano  Is there any other comments before sending PR ?

[2018-06-15 08:30] terezanovotna commented on #680
@mcarrano Thank you so much for bringing this up:)

@serenamarie125 @jeperry @nlcwong @KendraMar did quite a research on unified tagging experience across RH Management products. [Here is a doc about it,](https://docs.google.com/presentation/d/1CblISYqdZ0EBPDxa8HD7EP5aqG5O4mv9Vf0TzxqTsDM/edit?usp=sharing) slide 3 includes even more links.

I'll be adding shared Google doc soon.

[2018-06-15 20:39] mcarrano commented on #459
I think we are good to go @dabeng . I created a new issue in PF Core and assigned to you for tracking: https://github.com/patternfly/patternfly/issues/1078

[2018-06-15 20:50] #459 closed

[2018-06-19 14:32] serenamarie125 opened #681 "Need guidance on entering time zone when selecting a "time""
When a user selects "time", often they need to provide an associate time zone as part of their user flow.  It would be helpful to include this use case as part of the Time Picker design documentation.

[2018-06-19 14:32] serenamarie125 commented on #681
@vconzola @nlcwong created this issue based on our slack discussion

[2018-06-19 17:15] mcarrano commented on #681
Makes sense. @serenamarie125 @vconzola @nlcwong do any of you have examples of how this is done in product today?

[2018-06-19 18:21] nlcwong commented on #681
Quick scan of CloudForms yielded this...
![screen shot 2018-06-19 at 2 19 45 pm](https://user-images.githubusercontent.com/31672086/41616422-fb0b0dd6-73cb-11e8-87a7-fad1d6d5c8bd.png)

[2018-06-19 18:23] serenamarie125 commented on #681
thanks @nlcwong !

[2018-06-19 20:08] mindreeper2420 opened #682 "Remove Background Color & Border from Empty State"
Per a discussion in the uxd-visual Slack channel with @serenamarie125 and @jennyhaines, the empty state pattern should not have a set background color or border. As such, the background should be set as transparent and the border removed.

http://www.patternfly.org/pattern-library/communication/empty-state/#code

The code needs to be updated as well, as that shows a background with color and a bor

[2018-06-20 10:31] ohadlevy commented on #671
@mcarrano I just want to double check, are you suggesting these kind of issues are not going to be fixed for pf3? is there an official SLA for pf3? there are a lot of important projects that are using pf3 and do not plan to migrate to pf4 (as there is no upgrade plan yet), statements like these make me feel very worried and uncomfortable with the direction patternfly is headed.

[2018-06-21 07:05] terezanovotna commented on #680
@mcarrano and I discussed the tagging component and [here is a design proposal](https://docs.google.com/document/d/19Vu9Q_lfCQDkwO3LQuwsImSH0rH9i0o9AF24Uer6WqA/edit?usp=sharing)

Feel free to comment!

[2018-06-21 18:40] bmignano opened #684 "Design inconsistency with dual list selector"
This is a design inconsistency with bulk selector pattern.

Industry standards show that users would expect the bulk selector to deselect all items when acting on a partially selected list. The [dual list selector](http://www.patternfly.org/pattern-library/forms-and-controls/dual-list-selector/) currently does the opposite and states: "When some items are selected, if the user then clicks the Sele

[2018-06-21 18:57] mcarrano commented on #684
@Rohoover Can you please comment on this since you were the primary designer on Dual List Selector? Do you agree with this change?

[2018-06-21 19:11] bmignano commented on #506
@dongniwang do you happen to have the source files for the images? I think you may have been working on this with Gina but I'm not sure. Thanks!

[2018-06-21 19:31] Rohoover commented on #684
If I understand your concern correct, then I disagree.

If only a few items are selected, then the bulk selector (which is a checkbox) is in an de-actived state (un-checked).

If you were to have a partial selection, and THEN to click the de-actived bulk selector it would cause ALL items to be selected (changing the box to checked). It would not deselect items (with no effect on the checkbox).

Th

[2018-06-21 19:38] serenamarie125 commented on #684
PatternFly's tables don't show partial selection, so i don't think it's the same.  When an item is selected in the table, the guiding checkbox is in the unselected state, which doesn't make much sense, does it?

The new proposal is in line with industry standards IMO.  If 1+ elements are selected (but not all) , the guiding checkbox shows partial selection.  Clicking a partial selected checkbox wi

[2018-06-21 19:39] serenamarie125 commented on #684
@Rohoover i wonder if table/dual selector should show partial selection and update to this same model?

[2018-06-21 19:51] Rohoover commented on #684
@serenamarie125

The tables do show a partial selection in that you can select individual rows much like in dual pane - you can select individual items. Clicking on bulk would select all. The dual pane and table bulk selector, selection functionality is the same. It's the old school way of how bulk editing is handled. The functionality being described above is new (as visible in gmail).

I'm not a

[2018-06-21 19:59] bmignano commented on #684
I actually also tend to think that it makes more sense to select all if the checkbox is clicked in a partially selected list (this just matches my mental model better as it is a bulk selector). If industry standards have changed though, maybe we should as well? I think it's also a matter of what the checkbox looks like in a partially selected list. Gmail has a - sign, indicating that clicking the

[2018-06-21 20:17] beanh66 commented on #684
@serenamarie125 @Rohoover Yeah, I am actually in the same boat as @bmignano. I expected that clicking the checkbox for partially selected list would select all. Agreed if industry standard says otherwise, happy to change and be consistent across PF :+1:

[2018-06-21 20:22] dongniwang commented on #506
@bmignano - I don't have the source files, unfortunately, but I think you might be able to find some files in Google drive.

[2018-06-21 20:37] lizsurette commented on #684
Yeah totally agree about at the very least being consistent between PatternFly patterns :)

I don't have a strong opinion either way, so I lean towards the industry standard of "the bulk selector should deselect all items when acting on a partially selected list."

[2018-06-21 20:45] Rohoover commented on #684
Just for clarification as I’m seeing different industry standards reflected here...

This is my understanding:

Old standard - Bulk select always selects all and deselects all when all are selected. If bulk is selected, and user deselects some items, bulk checkbox is then deselected. There is no partial state.

New hotness:
The bulk selector now accommodates a partial state. This partial state wil

[2018-06-21 20:48] beanh66 commented on #684
haha well summarized @Rohoover, I think that's what everyone's saying 💯

[2018-06-21 21:15] catrobson commented on #506
@bmignano - You can find the files in this folder:
https://drive.google.com/drive/folders/18dWjrkS-rtvUz7PMimLt-16tBIYKbDBr

On Thu, Jun 21, 2018 at 4:22 PM, Dongni (Iris) Wang <
notifications@github.com> wrote:

[2018-06-22 08:10] terezanovotna commented on #680
Tagging people for visibility @nlcwong @KendraMar @jeperry @kybaker @Rohoover @lclay2

[2018-06-22 13:49] mcarrano commented on #684
I did a bit of research on this. Currently in PatternFly we use a standard HTML checkbox which only supports two states: checked and unchecked. To get an intermediate state, additional JS customization is required. This is described well in this article: https://css-tricks.com/indeterminate-checkboxes/  I confirmed this in a conversation with @matthewcarleton .

IMO, the value of the intermediate

[2018-06-22 13:53] serenamarie125 commented on #684
@mcarrano - please be sure to comment [here](https://github.com/patternfly/angular-patternfly/pull/742) then, as a PR is up in Angular implementing the proposed design.  Thanks!

[2018-06-22 14:32] serenamarie125 opened #685 "Provide support for partial selection of a checkbox"
We need the ability to support partial selection of a checkbox.

The fact that we do not have this support causes a degraded user experience, and doesn't allow us to match industry standard user experiences.

Related conversations can be found here: #683 #684 and https://github.com/patternfly/angular-patternfly/pull/742

cc @catrobson @beanh66 @bmignano

[2018-06-22 14:41] catrobson commented on #684
@mcarrano while I understand your point about the HTML/CSS not being able to support this, I'm not sure I'm following the result that we shouldn't do this in our design pattern documentation.  I thought we've talked about many behaviors only be supported at the JS layer, and this feels like an example of that where our design pattern specifies a certain behavior that can only be supported once you

[2018-06-22 14:50] mcarrano commented on #684
I thought about that, too, @catrobson .  I guess that's OK if we are comfortable with the idea that the behavior might be inconsistent across our products depending on the framework they use.

I guess that the question I'd pose to folks is do you think supporting this mixed state provides enough value to justify the extra implementation work? IMO it didn't seem to, and to some extent complicated t

[2018-06-22 15:05] Rohoover commented on #684
I have no strong opinion on whether the work is justified but I also don't find the current selection behavior problematic.

[2018-06-25 10:58] deernano commented on #632
@mcarrano @stacymcauliffe
Updated the PR, please help to review it.
Thank you ~
https://github.com/patternfly/patternfly-design/pull/686

[2018-06-25 14:41] beanh66 commented on #684
@mcarrano I lean towards supporting the partial selection since (1) As a user I find it useful in Gmail and Sketch and (2) we have the Angular implementation and Design contribution to support it. I agree with @catrobson and was also thinking of it as an iterative process, where other repos may update to include this piece in the future. Could we file corresponding issues in those repos to track t

[2018-06-25 15:06] matthewcarleton commented on #684
just to add to what @mcarrano was saying. If we go the route of partial selection we will need custom JS work but also we will need to create a totally custom css/html implementation as well. In a default checkbox there is no partial selection available. I'm not saying this is a bad idea, but just wanted to clarify the amount of work required.

[2018-06-25 15:59] serenamarie125 commented on #684
IMO we shouldn't disallow because of core not being able to support the behavior.
I suggest we take bulk selection as proposed, file associated issues to support partial selection for checkbox.

[2018-06-26 17:09] LHinson commented on #681
This has been added to the PF4 issue and list of requirements seen here: https://github.com/patternfly/patternfly-next/issues/180

Removing this from the PF4 feature board as you can track progress via the above issue.

[2018-06-27 14:32] beanh66 commented on #506
@serenamarie125 @catrobson @maryclarke @mcarrano Please review the latest [File Upload Design document.](https://docs.google.com/document/d/1hT0snitJwyDN9Wz2nzbzA0-AyzS8GJbds3v6rJ-UOqo/edit?ts=5b3244f6) @bmignano has updated this doc to reflect what she would be looking to contribute for the overview and design pages in PF. Note: the design is based on the initial work done by @gdoyle1 and @dongni

[2018-06-27 20:36] serenamarie125 opened #689 "Copy to Clipboard [New Pattern]"
This is a request for a new pattern around copying to clipboard:

This [doc](https://docs.google.com/document/d/1KXTWC6-J7-dKDXFdzX_5v28fUu9dKDwM7pGzareTZ0g/edit) is a starter for a new design pattern

[2018-06-27 20:42] serenamarie125 commented on #689
here are some screenshots of different patterns being used in our products/in industry:
Tectonic:
<img width="487" alt="screen shot 2018-06-27 at 4 37 40 pm" src="https://user-images.githubusercontent.com/12504403/41998320-77f1af14-7a28-11e8-99a7-3486ea61c1a1.png">
GitHub:
<img width="488" alt="screen shot 2018-06-27 at 4 37 25 pm" src="https://user-images.githubusercontent.com/12504403/41998321-7

[2018-06-27 20:42] serenamarie125 commented on #689
@catrobson @bmignano @beanh66 @cdcabrera FYI

[2018-07-02 14:15] bmignano commented on #689
Please review the [design proposal](https://docs.google.com/document/d/1tieVwiPeReAQVE-pcu8wf-O2ZSxgV78CIBVhzj466dU/edit?usp=sharing) for this pattern including competitive research and a proposed solution. I would love to get some feedback before starting MD files. Thanks!

[2018-07-04 09:24] terezanovotna commented on #680
[Updated the doc](https://docs.google.com/document/d/19Vu9Q_lfCQDkwO3LQuwsImSH0rH9i0o9AF24Uer6WqA/edit?usp=sharing). Can you think of more use cases for a compound label?

[2018-07-04 17:23] sjcox-rh commented on #689
Fyi - @seanforyou23 just worked on a copy to clipboard component for PatternFly-ng. Possibly something you can use!

https://github.com/patternfly/patternfly-ng/pull/351

[2018-07-05 22:17] jennyhaines opened #691 "Add new Drag/Drop Handle to PF icon set"
We have a new drag and drop handle icon that should be added to our PF icon library (located [here](https://patternfly.atlassian.net/browse/PTNFLY-2861)). Mary Shakshober did a great job creating it, (design reviews documented [here](https://patternfly.atlassian.net/browse/OSUX-628))… Please let me know whether you need anything else or other guidance to add the icon in! Thank you!

FYI: @LHinson

[2018-07-09 14:32] terezanovotna commented on #680
A storybook can be found here.
https://github.com/patternfly/patternfly-react/pull/464

[2018-07-10 19:16] mcarrano opened #694 "Standard ListView mockup on Design page needs updating"
On this page http://www.patternfly.org/pattern-library/content-views/list-view/#design there is a mockup of a standard list view with rows selected. This image does not agree with the specification below for background colors of selected rows.

[2018-07-10 20:17] jennyhaines commented on #691
Okay that sounds good to me @mcarrano ... there is no code for that drag and drop pattern in PatternFly, so I doubt that it is highly used at the moment.

[2018-07-11 14:41] mcarrano commented on #684
I am going to close this one out for now as we agreed that partial state selection is an optional capability. We can revisit contingent on #685 to support partial selection state in Core.

[2018-07-11 14:41] #684 closed

[2018-07-11 20:29] mcarrano opened #929 "Filter Demo"
Introduce a filter demo that includes different types of filters that can live in a Toolbar. Should address the following use cases:

* Filtering by attribute-value pairs
* Filtering by full or partial string (see [Textbox filter](http://www.patternfly.org/pattern-library/forms-and-controls/textbox-filter))
* Filtering by multiple values, i.e. faceted filtering (see [Checkbox filter](http://www.pa

[2018-07-12 08:37] akaRem opened #695 "Placeholder is added as option in drop-downs"
There is a bug in ansible galaxy https://github.com/ansible/galaxy/issues/818

The problem is that dropdown placeholder is added as first option in dropdown list.
This looks strange. And there is no such behaviour in most of frameworks.

<img width="420" alt="image" src="https://user-images.githubusercontent.com/1472728/42218885-ad742758-7ed2-11e8-951c-f0072f4e23f4.png">

Team says that they can't

[2018-07-12 13:11] LHinson commented on #695
@akaRem Given this seems like an implementation concern, I'm going to open this again our patternfly-core repo. Before doing so, I'd like to to confirm, you are using patternfly-core vs one of our js implementations (e.g PF-React), correct?

[2018-07-12 13:39] mcarrano opened #696 "Refine Empty State design to allow more secondary button options"
There is a proposal to allow alternate options for displaying secondary actions in an [Empty State](http://www.patternfly.org/pattern-library/communication/empty-state/) pattern. These are summarized in this issue filed against patternfly-core (https://github.com/patternfly/patternfly/issues/907).

The Design page should be updated to add these alternate designs.

[2018-07-12 20:16] mcarrano commented on #691
@catrobson showed a current implementation in OpenShift.io that follows the approach outlined in the pattern referenced above. Would like to hold on this until we can arrive at a consistent cross-product approach that we will use moving forward.

[2018-07-12 21:23] akaRem commented on #695
@LHinson
Hmm.. Well, I found defect in AnsibleGalaxy by RedHat (on screenshot). They use Angular-based patternfly framework. So.. This is **correct**, but I'm not 100% sure. 🙂

This is what mentioned in package.json:
[code]

I'm not insider. I just trying to help them with launching new version of Ansible Galaxy because I like this site.
So it's better to ask someone from Galaxy team directly.  I

[2018-07-13 17:10] LHinson commented on #695
@akaRem Assuming they use patternfly-ng, I'm not able to see this same bug on our end. You can see the patternfly-ng implementation of this component, here: http://www.patternfly.org/patternfly-ng/#/filters

I'd suggest filing a bug against Ansible Galaxy to investigate how it's implemented there. We (PatternFly) are happy to follow up though if they find there is an issue with a specific componen

[2018-07-13 18:59] #341 closed

[2018-07-15 09:53] akaRem commented on #695
@LHinson I can confirm the same behaviour on demo site:
<img width="343" alt="image" src="https://user-images.githubusercontent.com/1472728/42732130-c2b37aec-8823-11e8-9552-1ebea1df4d92.png">

Here are the problems I see with this weekday filter.
First I choose Monday -> drop-down does not change it's state, but tag is appended
<img width="421" alt="image" src="https://user-images.githubuserconten

[2018-07-16 14:17] LHinson commented on #695
@akaRem yes you are right. Thanks for taking the time to clarify the bug/concern. I've filed an issue against patternfly-ng with your description of the bug. You can see that here: https://github.com/patternfly/patternfly-ng/issues/418

@mcarrano neither the checkbox filter or filter patterns describes what the behavior of the filter should be when only one can be selected. I'm leaving this issue

[2018-07-16 15:23] dlabrecq commented on #695
Is the issue here that the component needs to show the current selection?

Other than showing the current selection (I agree that is a bug), it appears to behave similarly to the Angular Patternfly implementation, which this was ported from. http://www.patternfly.org/angular-patternfly/#/api/patternfly.filters.component:pfFilter

I'm a little confused by the terminology (i.e., what is referred to

[2018-07-16 20:34] serenamarie125 commented on #691
@catrobson let's see if we can update OSIO to use this new icon as well.  As long as that's ok, @mcarrano I'd suggest we change the D&D documentation to use the new icon and get this in.  Let me comment here again once Catherine & I have had the chance to talk

[2018-07-19 19:52] beanh66 commented on #689
sjcox-rh Can you review the [design proposal](https://docs.google.com/document/d/1tieVwiPeReAQVE-pcu8wf-O2ZSxgV78CIBVhzj466dU/edit#) from @bmignano if you haven't already? @catrobson mentioned you are using something similar and we want to be sure you have seen this before we put up a PR. Thanks!

[2018-07-20 15:38] sjcox-rh commented on #689
Thanks for the heads up! Left a couple comments, looking good! @beanh66

[2018-07-23 15:03] mcarrano commented on #695
@akaRem @LHinson I looked into this issue a bit more. The conclusion I've drawn is that none of our PatternFly implementations exactly match the design intent. This should work as a Select list (either single or multiple) with placeholder text. You can see that behavior if you go to this page and scroll down to Placeholder. You'll see that the placeholder text does not appear in the menu. Agree th

[2018-07-23 19:59] mcarrano commented on #632
This work is complete and the new pattern can be found here. https://www.patternfly.org/pattern-library/communication/message-dialog/ Will close.

[2018-07-23 19:59] #632 closed

[2018-07-24 03:35] nding-anges commented on #696
@mcarrano Definitely ;-)  I will updated the Design page with relative design.

[2018-07-25 09:16] yih-wang commented on #694
@mcarrano I'd like to take this task and here is the pr #699 . Also modified a typo when I go over the List View documents. Please have a review.

[2018-07-25 13:56] mcarrano commented on #694
Just merged your PR @yih-wang . Will close.

[2018-07-25 13:56] #694 closed

[2018-07-26 13:40] bmignano opened #700 "Inconsistency in breadcrumbs design"
There is a design inconsistency with breadcrumbs documentation.

On the breadcrumbs [design page](https://www.patternfly.org/pattern-library/navigation/breadcrumbs/#design), screenshots show the "fa-angle-right" icon being used. In the callout text, however, the "fa-angle-double-right" icon is listed as the recommended icon. I'm happy to update this to be consistent but I'm not sure which icon is

[2018-07-26 14:02] mcarrano commented on #700
@bmignano Thanks for flagging this. We updated the mockups a while ago to consistently use the single arrow (fa-angle-right) but must have missed this text. @kybaker please confirm. If you can make this update and send a PR @bmignano, that would be much appreciated!

[2018-07-26 20:44] #689 closed

[2018-07-27 01:34] lizsurette commented on #682
@mcarrano Looking closer at this for oVirt with dev, just the two CSS properties 'background-color' and 'border' would need to be removed from the blank-slate-pf class. The current workaround is to override these PatternFly values with project-specific CSS.

[2018-07-31 20:51] mcarrano commented on #680
@terezanovotna Any update on this? I believe that the next steps we agreed on were to send a PR top add this to Forms and Controls. Is that right?

[2018-08-01 15:05] LHinson commented on #695
I agree that we should address this in core first. There is an issue created here: https://github.com/patternfly/patternfly/issues/1116

Once this is complete, we'll proceed with fixing the pf-ng example.

Closing this issue here since it's not a design doc bug.

[2018-08-01 15:05] #695 closed

[2018-08-01 15:10] LHinson opened #701 "PF3 Expandable row for table"
PatternFly-ng has the expandable row for table. https://www.patternfly.org/patternfly-ng/#/table
@vconzola would like to add this to PF-React.

We just need to update our documentation to show how this optional feature should look/behave.

[2018-08-02 07:57] nding-anges commented on #696
Hi @mcarrano, please find the updated Design guidance related @dabeng demo page of multiple secondary action. https://docs.google.com/document/d/12kSla-sTocg-mNQTgZ2NHNs58BsX4PxisEfl8vJvg5M/edit?usp=sharing . Thanks;-)

[2018-08-02 19:17] LHinson commented on #682
Since this is not a large effort to override on product side, I'm closing this issue due to the risk it presents to breaking change on core. That said, we will add dev notes to the empty state code page to identify/ack this as an option. See: patternfly/patternfly-org#615

[2018-08-02 19:18] #682 closed

[2018-08-02 19:48] #506 closed

[2018-08-03 15:38] #662 closed

[2018-08-06 10:58] terezanovotna commented on #680
Correct! We had Provider meetup in Brno, and then I was on PTO. Back in the office, it's on my to do list!

[2018-08-06 19:08] mcarrano commented on #680
Welcome back @terezanovotna .  Just an FYI that today I met with @jgiardino @kybaker and @jeff-phillips-18 on this topic. We decided to base the core implementation for this on your design as shown above that is being implemented in React. We will retrofit this to of [Filter pattern](https://www.patternfly.org/pattern-library/forms-and-controls/filter) which shows a different color treatment.

Ple

[2018-08-07 14:16] mcarrano commented on #680
@terezanovotna has created a draft proposal that is documented here: https://docs.google.com/document/d/19Vu9Q_lfCQDkwO3LQuwsImSH0rH9i0o9AF24Uer6WqA/edit?usp=sharing  This looks good to me, but @jgiardino can you also review? The only issue I see is that if we also apply this to the Filter pattern, it changes the way we represent a filter chip when there is only a single attribute:value pair. If w

[2018-08-07 22:00] jgiardino commented on #680
After reviewing visual designs for both Filters and Assigned Tags, the main questions I have are how similar do we want these designs? Functionally they're similar, and can be achieved with a single react component, but we can still have different styles applied for the different variations (Filters vs Assigned Tags). Even if we do consolidate on the color palette, there are differences between fo

[2018-08-08 20:32] mcarrano commented on #696
This has been fixed with PR #702.

[2018-08-08 20:32] #696 closed

[2018-08-09 14:10] kybaker commented on #700
@mcarrano @bmignano Yes the single angle right is perfect. Thanks for catching this!

[2018-08-09 14:50] #700 closed

[2018-08-15 14:47] garrett opened #706 "Progressive disclosure lacks code example & formal widget"
I noticed there is no HTML or React code example for progressive disclosures, even though a design exists.

I've written a bit of code with the goal of using just HTML+CSS (no JavaScript needed). Unfortunately, this means we cannot nest the `<input>` in a `<label>`; we have to rely on the `for` attribute. Aside from that, everything "just works".

Class names and HTML structure may change, but I t

[2018-08-15 16:43] serenamarie125 commented on #691
@beanh66 can you provide some guidance here ? I think last we talked, you mentioned that the pattern documentation included low fidelity mockups, not high.  Am i remembering correctly ?

[2018-08-16 14:18] garrett commented on #706
Just FYI: I'll be on vacation for 2 weeks, but I might sneak a peek at GitHub. (No guarantees though. :wink:)