[2016-07-06 13:57] dtaylor113 opened #2 "Please add description of what patternfly-design repo's intended use. -thanks"

[2016-10-04 13:34] andresgalante commented on #2
@cshinn is working on it 😄

[2016-10-04 13:34] #2 closed

[2016-11-07 20:25] beanh66 opened #50 "In the Vertical Navigation Pattern, we are missing a link to the new Masthead pattern"
Here is the PR for the new Masthead pattern: https://github.com/beanh66/patternfly-design/blob/fb4b2e134405ed5006fe30620b584a7a50437fdb/pattern-library/application-framework/masthead/masthead_overview.md

[2016-11-22 20:17] serenamarie125 opened #72 "Fix templates to include proper format for links"
I used the template, which has relative links.  Can we update the templates to have the correct format @cshinn ?

[2016-11-23 17:09] LHinson commented on #72
Thanks for reporting this @serenamarie125!

[2016-11-23 21:11] LHinson opened #73 "Masthead update"
Re masthead, Kyle confirmed that the following example is outdated and should come off the PF site: http://www.patternfly.org/pattern-library/navigation/horizontal-navigation/horizontal-navigation.html#

[2016-11-29 16:40] LHinson opened #77 "* List View: Data Toolbar should be Toolbar"
On the list view page [1], replace all instances of "Data Toolbar" with "Toolbar" and link them over to the Toolbar pattern here: http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/

[1] http://www.patternfly.org/pattern-library/content-views/list-view/#/api

[2016-11-29 16:42] LHinson opened #78 "* Table View: Data Toolbar should be Toolbar"
On the table view page [1], replace all instances of "Data Toolbar" with "Toolbar" and link them over to the Toolbar pattern here: http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/

[1] http://www.patternfly.org/pattern-library/content-views/table-view/

[2016-11-29 16:45] LHinson opened #79 "* Incorrect capitalization on design.md for Area Chart callouts"
"Grid lines:" (the second bullet) should be "Grid Lines:" http://www.patternfly.org/pattern-library/data-visualization/area-chart/#/api

[2016-11-30 16:03] LHinson opened #80 "* Link to line chart from the Bar Chart pattern"
Upon mention of the "line chart", the bar chart pattern (https://github.com/patternfly/patternfly-design/blob/master/pattern-library/data-visualization/bar-chart/design/overview.md) should link to it  (http://www.patternfly.org/pattern-library/data-visualization/line-chart/#/api).

"Line Chart" should has have header style capitalization.

[2016-11-30 16:05] LHinson opened #81 "* Remove unnecessary folders from heat map"
Heat map does not have usabiilty tests or discovery so those folders should be removed. See:
https://github.com/patternfly/patternfly-design/tree/master/pattern-library/data-visualization/heat-map

[2016-11-30 16:09] LHinson opened #82 "* remove unnecessary folders from card folder"
Card does not have any information for discovery or usability testing so it's not necessary to have those template .md files or folders in there. See: https://github.com/patternfly/patternfly-design/tree/master/pattern-library/card

[2016-11-30 16:31] LHinson opened #83 "* consolidate the cards and a card folder"
There should not be a cards AND a card folder under the pattern-library. add the design folder for "card" underneath the "cards" folder and removed the "card" folder from the pattern-library

[2016-11-30 19:22] LHinson opened #84 "* Update About Modal pattern to remove "description""
Remove "description" from the About Modal https://github.com/patternfly/patternfly-design/blob/master/pattern-library/communication/about-modal/design/design.md

[2016-11-30 19:24] LHinson opened #85 "* Remove the word "Overview" as it's redundant on Heat Map pattern"
Remove the word "Overview" as it's redundant on Heat Map pattern  https://github.com/patternfly/patternfly-design/blob/master/pattern-library/data-visualization/heat-map/design/overview.md

[2016-12-04 12:32] LHinson opened #86 "Toolbar pattern needs added to the repo"
http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/#_

[2016-12-06 14:39] cshinn opened #87 "* drag-and-drop filenames are incorrect"
the design and overview files in the drag-and-drop folder are incorrectly named.
Currently, they are called `drag-drop_design.md` and `drag-drop_overview.md`; they should be called   `design.md` and `overview.md`

[2016-12-06 20:20] #87 closed

[2016-12-06 20:32] tiffanynolan commented on #85
I'll do this one.

[2016-12-06 20:34] maryclarke commented on #80
I'll do this one

[2016-12-06 20:34] maryclarke commented on #80
Matt will do it

[2016-12-06 20:34] lclay2 commented on #84
I'll try this one?

[2016-12-06 20:35] maryclarke commented on #82
I'll do this one

[2016-12-06 20:35] LHinson commented on #79
I got this one

[2016-12-06 20:53] catrobson commented on #77
I'm working on this issue.

[2016-12-06 20:55] catrobson commented on #78
I'm working on this issue.

[2016-12-06 21:27] LHinson commented on #78
Addressed with PR #93

[2016-12-06 21:27] #78 closed

[2016-12-07 14:21] #84 closed

[2016-12-07 21:43] tiffanynolan commented on #85
This can be closed.

[2016-12-08 15:11] #85 closed

[2016-12-14 11:41] serenamarie125 opened #99 "Buttons in modal examples in the form pattern should be updated"
The buttons in the modal examples in the form pattern (link is below) should be updated.https://www.patternfly.org/pattern-library/forms-and-controls/forms/#_

- "Save changes" should be changed to "Save" ( or at a minimum "Save Change" with initial caps)
- "Close" should be changed to "Cancel", since this is canceling the operation not just closing the modal

<img width="635" alt="screen shot 201

[2016-12-20 14:12] #82 closed

[2016-12-22 15:38] ajacobs21e opened #105 "wrong screenshot on form field layouts page"
http://www.patternfly.org/pattern-library/forms-and-controls/form-field-layouts/#/api

The section for left aligned labels has a screenshot that shows top aligned labels instead

[2017-01-04 17:01] mcarrano opened #107 "Card View: Inconsistent appearance and behavior between HTML and Angular implementation"
In the Card View pattern, the HTML and Angular implementations don't match.  HTML follows the design in terms of form and function.  Angular implementation lacks formatted card contents and supports selection options that are not described in the design.

Recommend to update Angular card appearance and clarify selections model (updating the design if necessary).

[2017-01-04 18:54] mcarrano opened #108 "Table View: Table View is presented differently from Card and List views"
The pattern library currently includes three parallel view types for presenting summary level content: Card, List, and Table views.  Card and List views are presented as full page examples to show how this view can be used in the context of a page.  Table View is presented as a stand-alone pattern without additional context.  Table view seems to focus more specifically on behaviors associated with

[2017-01-04 21:34] mcarrano opened #109 "List View: Example in Overview page is too wide to fit container"
The example used in the Overview page for List View is too wide to fit in the page template and therefor wraps.  It therefore looks different when opened in a separate window.

Recommendation:  Redesign the example so it fits.

[2017-01-04 21:53] mcarrano opened #110 "List View/Card View: Drill-down behavior needs clarification"
Existing documentation is not clear about how to handle drill-down if multiple elements within a list item or card are linked.  Current guidance that a single click on a list or card item should drill down to the next level may not be sufficient for all use cases.

Recommendation:  Consider cases where there may be multiple drill-down links and how one should handle this case vs. single drill-down

[2017-01-04 22:11] mcarrano opened #111 "List View: Inconsistent/incomplete examples between HMTL/CSS and Angular"
The Angular implementation does not present row variations as does the HTML/CSS example.  There is also no guidance on how these variations can be used, what types of element are available and how they can be defined.

Recommendation:  Provide more context for examples and explain general template that should be used to format list items.  This would promote better consistency between designs that

[2017-01-04 22:16] mcarrano opened #112 "List View: Inconsistent behavior for row expansion"
Behavior for row expansion is inconsistent between HTML and Angular implementations.  HTML expands when clicking the row.  Angular only when clicking the caret icon.  Design is closer to HTML implelmentation.

[2017-01-10 20:30] mcarrano opened #116 "Aggrgate Status Card: Need more specific guidance for using multiple status icons in the same card"
Current documentation does not explain what to display if multiple conditions are being shown in a card and only some of them are reporting conditions that need attention (others are OK).  Documentation only addresses what to show if everything is shown or if everything is running OK.

[2017-01-10 20:48] mcarrano opened #117 "Trend Card: Internal inconsistencies between design examples and implementations"
There are multiple inconsistencies between trend card design examples and Angular implementation examples.  Some of these include:
- Treatment of card with single trend and card with multiple trends are inconsistent in appearance of card title, placement of time frame selector, and placement of text labels.
- Treatment and placement of card titles differs between examples.

[2017-01-10 21:03] mcarrano opened #118 "Utilization Bar Card: Internal inconsistencies between design and implementation"
The are various inconsistencies and omissions between design, HTML, and Angular examples.  These include:
- Angular examples do not include top-labeled bars as per HTML example and design.
- Tooltip styles are inconsistent between HTML and Angular example.   HTML chart does not display PatternFly standard tool tips.
- Examples do not consistently express utilization in bar labeling.

There is also

[2017-01-10 21:17] mcarrano opened #119 "Utilization Trend Card: Unclear what label in center of donut chart should reflect"
No guidelines on what the value in the center of the donut chart should report.  Examples show either Available or Used value, but what is preferable and when?

[2017-01-10 21:24] mcarrano opened #120 "Dashboard Card (Angular): Footer link does not display hand cursor"
In Angular example, footer link does not display hand cursor on hover.  See example for Footer with Link & Timeframe filter

[2017-01-10 21:39] mcarrano opened #121 "Dashboard Card (Base): Needs further elaboration"
The Dashboard Card (Base) pattern is intended as a general container for other dashboard cards, but the relationship between this pattern and other dashboard card patterns in unclear.  These is also redundancy between the documentation of features that may be part of the card base pattern (like the time frame filter) rather than the card content itself.  This seems like a perfect opportunity for m

[2017-01-12 16:13] mcarrano opened #122 "Vertical Navigation: Examples are for 2-Level nav only"
While the design page includes for 2-Level (Secondary) and 3-Level (Tertiary) navigation options, the examples on the Overview and Code pages are only for 2-Level Nav.

[2017-01-12 16:17] mcarrano opened #123 "Vertical Navigation: Pin feature available for Tertiary Navigation only"
The optional Pin feature is documented as part of Tertiary Navigation, but wouldn't this feature be just as valid for 2 levels of navigation?

Also, not sure that the icon used for Pin is what we ended up with.  Pin feature is not demonstrated in any of the examples.

[2017-01-12 16:40] mcarrano opened #124 "Forms Patterns: Numerous inconsistencies between Forms design and other patterns"
The Forms pattern has numerous inconsistencies with other patterns in the library.  Some specific issues are:
 - Inconsistency between button usage in examples and other button guidelines in PatternFly.
- Inconsistency between labeling recommendations between Forms and Form Field Layout pages.

Current Forms pattern only addresses simple data entry forms focusing on modals.

Recommendation:  Entir

[2017-01-20 00:09] LHinson commented on #86
This is being addressed by #101

[2017-01-20 00:09] #86 closed

[2017-01-20 00:10] LHinson commented on #80
This has been fixed.

[2017-01-20 00:10] #80 closed

[2017-01-20 00:12] LHinson commented on #83
this has been addressed.

[2017-01-20 00:12] #83 closed

[2017-01-20 00:13] LHinson commented on #81
addressed so i'm going to close this.

[2017-01-20 00:13] #81 closed

[2017-01-20 00:14] LHinson commented on #79
addressed.

[2017-01-20 00:14] #79 closed

[2017-01-20 00:16] LHinson commented on #77
can still be seen here: https://github.com/patternfly/patternfly-design/blob/master/pattern-library/content-views/list-view/design/design.md

[2017-01-20 00:17] #72 closed

[2017-01-31 19:01] #77 closed

[2017-01-31 19:02] #73 closed

[2017-02-01 21:14] LHinson commented on #110
For reference, here are the links to the two patterns being referred to in this issue.
List view: http://www.patternfly.org/pattern-library/content-views/list-view/#/api
Card view: http://www.patternfly.org/pattern-library/content-views/card-view/#/api

[2017-02-01 21:20] LHinson commented on #124
@mcarrano will you be addresses these concerns this sprint? If so, will you update this issue appropriately? Thanks!

[2017-02-01 21:22] LHinson commented on #119
@mcarrano I do not think that PatternFly can specify such things. This is really specific to the product. Are you looking for a statement that says just that?

[2017-02-01 21:27] LHinson commented on #110
Multiple drill downs can be supported by including links, buttons, icons.

Under the standard view, we said:
"If drill down behavior is supported, clicking on an item will link to the appropriate page."

Under the expansion example, it says:
Interaction
"Hovering over a row highlights it. Single clicking anywhere in the row expands the row.
If the list supports both expansion and drill-down to det

[2017-02-01 21:34] mcarrano commented on #119
Well, the chart is about reporting utilization, so that's pretty specific.  My issue was that in some places we report the amount used here and in others the amount available.  I think we should have a position on which is preferred and reflect it consistently in our examples.

[2017-02-01 21:45] mcarrano commented on #110
This was an issue that was raised during the pattern audit.  It has nothing to do with expansion.  Basically a strict reading of this implies that there would only be a single drill down link from any row.  But what if you have multiple elements that are linked?  Just clicking on the row would be ambiguous in that case and I think we would need explicit actions or links within the row item.

I rem

[2017-02-09 02:55] dabeng commented on #112
PR - https://github.com/patternfly/angular-patternfly/pull/400

[2017-02-14 13:39] LHinson commented on #105
@bkjeffer has addressed this with PR #186 so closing here.

[2017-02-14 13:39] #105 closed

[2017-02-16 19:23] mcarrano opened #191 "Info Tip example outdated/inconsistent"
The example shown on this page: http://www.patternfly.org/pattern-library/widgets/#info-tip  was superseded by the Notification Drawer and new masthead design and should be revised.  Furthermore, an Info Tip is just a general pop-up that is not specifically associated with messages or notifications so this example is misleading.

[2017-03-02 13:54] LHinson opened #202 "Login page images are broken"
http://www.patternfly.org/pattern-library/application-framework/login-page/#/api

[2017-03-02 13:56] LHinson opened #203 "Capitalization bug"
In the overview section, "aggregate status card" should be "Aggregate Status Card"
http://www.patternfly.org/pattern-library/cards/aggregate-status-card/#/api

[2017-03-02 13:58] LHinson opened #204 "Trend Card: Overview and Examples titles are not necessary"
Remove the h1 titles "Overview" and "Examples"
http://www.patternfly.org/pattern-library/cards/trend-card/#/api

[2017-03-02 13:59] LHinson opened #205 "Trend Card: Design tab has unnecessary dashes included"
On the Trend Card page: http://www.patternfly.org/pattern-library/cards/trend-card/#/api
There are "-" listed after all the labels and should be removed.

[2017-03-02 14:21] LHinson opened #206 "Empty State: remove necessary title"
Remove the title "Example" from the overview page
http://www.patternfly.org/pattern-library/communication/empty-state/#/api

[2017-03-02 14:23] LHinson opened #207 "Toast Notifications: Capitalization bug"
All instances of "Toast notifications" on the Overview page should be "Toast Notifications"
http://www.patternfly.org/pattern-library/communication/toast-notifications/#/api

[2017-03-02 14:23] LHinson opened #208 "Wizard: No need for "Example" header"
Remove the section header called "Example" on the overview page. http://www.patternfly.org/pattern-library/communication/wizard/#/api

[2017-03-02 14:25] LHinson opened #209 "Table View: Remove unnecessary headers"
Remove the section title called "Overview" on the overview tab. Remove the example header called "Default Table". It's not necessary and we can just show the screenshot. http://www.patternfly.org/pattern-library/content-views/table-view/#/_

[2017-03-02 14:29] LHinson opened #210 "Bar Chart: "-" should be removed"
On the design tab (http://www.patternfly.org/pattern-library/data-visualization/bar-chart/#/api), after item "5. Bar:", there is a bug because "Interaction" has a "-" before it. I think it was supposed to be a sub-bullet.

It should look like...

- Bar:
  - Interaction:
     - If drill down behavior is supported, clicking on a bar will navigate to the appropriate page.
     - If supported, right c

[2017-03-02 14:31] LHinson opened #211 "Bar Chart: Interactive Legend should be a sub-bullet"
On this page - http://www.patternfly.org/pattern-library/data-visualization/bar-chart/#/api

Right now it looks like:
Legend: It is recommended to include a legend to define the colors on the chart. On the bar chart, the legend may be located left aligned and underneath the chart or left aligned and to the right of the chart. - Interactive Legend (optional): Clicking on a series in the legend shou

[2017-03-02 14:32] LHinson opened #212 "Bullet Graph need to be capitalized"
http://www.patternfly.org/pattern-library/data-visualization/bullet-chart/#/api

On the overview page, "bullet graph" should be "Bullet Graph"

[2017-03-02 14:33] LHinson opened #213 "Donut chart should be capitalized"
On the Overview tab for the Donut Chart, all instances of "donut chart" should be "Donut Chart"
http://www.patternfly.org/pattern-library/data-visualization/donut-chart/#/api

[2017-03-02 14:35] LHinson opened #214 "Heat Map should be capitalized"
- All instances of "heat map" should be "Heat Map" on the Overview tab
- Instead of referring to "a" heat map, we want to refer specifically to our heat map. Therefore...
  - Instead of "A heat map is a visualization of objects as blocks in a grid.", change to "The Heat Map is a visualization of objects as blocks in a grid. "
  - Instead of "When heat map items become so...", change to "When the H

[2017-03-02 19:18] jennyhaines commented on #208
I'll take this!

[2017-03-02 19:19] jeperry commented on #205
got this

[2017-03-02 19:22] Rohoover commented on #213
MINE!

[2017-03-02 19:31] jryhanyc commented on #203
Taking this one

[2017-03-02 19:31] wrnkld commented on #207
taking this

[2017-03-02 19:32] ncameronbritt commented on #210
Got it.

[2017-03-02 19:32] maryclarke commented on #210
I'll do this one

[2017-03-02 19:32] phcox commented on #212
First!

[2017-03-02 19:33] maryclarke commented on #214
I'll take this one

[2017-03-02 19:33] jgiardino commented on #211
taking this one

[2017-03-02 19:46] rblackbu commented on #209
Test Test

[2017-03-02 20:17] priley86 commented on #203
fixed by #224

[2017-03-02 20:17] #203 closed

[2017-03-02 20:26] LHinson commented on #213
This was addressed by #217

[2017-03-02 20:27] maryclarke commented on #214
Resolved by #219

[2017-03-02 20:27] wrnkld commented on #207
this is addressed by #220

[2017-03-02 20:28] jryhanyc commented on #206
I'll take this one

[2017-03-02 20:28] jennyhaines commented on #208
This should be resolved by #218 !

[2017-03-02 20:28] phcox commented on #212
this should be resolved by #221

[2017-03-02 20:30] #214 closed

[2017-03-02 20:30] #213 closed

[2017-03-02 20:30] #212 closed

[2017-03-02 20:31] jgiardino commented on #211
this should be resolved by #222

[2017-03-02 20:31] #211 closed

[2017-03-02 20:31] #208 closed

[2017-03-02 20:31] #207 closed

[2017-03-02 20:33] #205 closed

[2017-03-09 15:40] LHinson commented on #112
Nice! Thank you @dabeng. I see this is merged so closing here!

[2017-03-09 15:41] #112 closed

[2017-03-09 15:46] #206 closed

[2017-03-13 14:03] #202 closed

[2017-03-13 14:03] LHinson opened #233 "Login Page: Formatting issues"
There is some problems with the formatting on the Login page under the Notifications section. See: http://www.patternfly.org/pattern-library/application-framework/login-page/#/design

[2017-03-14 17:14] #233 closed

[2017-03-15 12:53] michpetrov opened #237 "Broken resource links"
Same issue as patternfly/patternfly#607, `jquery.matchHeight-min.js` has changed location.

However there are also some pages that pull resources from CDNs and I suppose that's not what you want. Changing those would require further synchronization with patternfly-org.

[2017-03-21 19:51] LHinson commented on #204
@KellyMiller has addressed this with her PR #238. Thank you!!!

[2017-03-21 19:51] #204 closed

[2017-03-21 20:00] LHinson commented on #209
@KellyMiller has offered to work on this one. Thanks Kelly!

[2017-03-24 20:52] catrobson opened #240 "List view design doc link to Pagination incorrect"
The list view design documentation has the following:

"Pagination: Card view can also support pagination. See Pagination for more details."

Should say Card view instead of list view.  Link goes to github instead of the pattern on the site.

[2017-04-03 18:57] LHinson commented on #124
@mcarrano just a reminder to make sure to close issues as you address the concerns. nice to reference PR numbers on the issues as well. Thanks!

[2017-04-04 00:07] serenamarie125 opened #245 "Document capitalization recommendation for kebab menu items"
The PF kebab example (https://www.patternfly.org/pattern-library/widgets/#kebabs) shows sentence style capitalization for menu items.

In PF T&W (http://www.patternfly.org/styles/terminology-and-wording/) the section for Capitalization for Common Components - it doesn’t talk about capitalization for menu items.  But it does say to use Headline capitalization for Button labels.  My thought would be

[2017-04-04 01:17] serenamarie125 opened #246 "Update small inconsistencies in filter design documentation"
In the Overview section of the Filter design documentation (http://www.patternfly.org/pattern-library/forms-and-controls/filter/#/overview) there are inconsistencies with reference to "Data Toolbar", the usage of ":" in the low fidelity mocks & capitalization style of the default text in the filter query field.
1 - Data Toolbar has been renamed to Toolbar and should be updated
2 - In the low fidel

[2017-04-04 21:04] suzannehillman commented on #240
I'm interested in working on this, but I'm a bit confused by the bug.

Looking at the code, it looks like it says "Card view" after "Pagination:" already. Is this correct or should it be list view? Given that it's the list view page, I assume that you just reversed what you meant to say, but wanted to make sure. (looking at http://www.patternfly.org/pattern-library/content-views/list-view/#/design

[2017-04-04 21:11] suzannehillman commented on #240
Also, the Card view Pagination link also goes to github: http://www.patternfly.org/pattern-library/content-views/card-view/#/design - should I go ahead and fix that as well?

[2017-04-04 21:29] suzannehillman commented on #246
Hi, I'm a little uncertain what the correct thing to do for this bug is.

For 2 and 3, do you not want ":" there?

And where would I go to find out the preference for what to do with the caps and ellipses? I'd imagine we must have somewhere to decide these things. :)

[2017-04-05 19:01] LHinson commented on #240
You got it @suzannehillman! Nice job. Checking your PR now.

[2017-04-05 19:14] LHinson commented on #246
@suzannehillman
- You can view recommendations for capitalization on the terminology and wording page found here: http://www.patternfly.org/styles/terminology-and-wording/ (do a find for "capitalization" and it will take you to the correct section)
- Correct, remove the ":" for 2 and 3
- Terminology and wording says to use an ellipsis (...) to indicate that text is truncated. In this case, it's no

[2017-04-06 14:11] LHinson commented on #245
@suzannehillman this one might interest you as well.

[2017-04-06 19:12] suzannehillman commented on #245
This is an interesting question!

My inclination would also be to use Headline for menu items, and the style guides I looked at seem to agree with me: ([Vmware](https://code.vmware.com/web/standards/-/capitalization-of-ui-elements), [Open Stack](https://docs.openstack.org/contributor-guide/ux-ui-guidelines/ui-text-guidelines/ui-text-capitalization.html)) I also liked the second answer to the quest

[2017-04-06 19:17] suzannehillman commented on #246
I'm not sure of the best software to edit png files with; I haven't really had to do that much yet. I'm likely going to try using inkscape without any guidance, though.

Also, I investigated further on input hints (I think that's what the 'filter by name' thing is called?), and I agree on sentence style in general.

I'm a little concerned by the idea of having two (apparently) different capitaliza

[2017-04-06 21:21] LHinson commented on #246
@suzannehillman good question. I don't find it odd to make the labels capitalized vs the syntax or inline hints because the hints are sentence-y :P I do recognize this as a ridiculous reason though! lol. Would you be interested in researching this a bit more? After talking with @essjaysee, she recommended checking out MSFT style guide

[2017-04-07 13:14] LHinson opened #250 "Move the content for buttons so that it's visible on the site"
Right now the content for buttons is not visible because it's located under widgets and the widgets template does not support documentation like the pattern library pages. Move the buttons content under pattern library so that this is accessible via the website.

Buttons docs located here: https://github.com/patternfly/patternfly-design/tree/master/pattern-library/widgets/buttons/design

FYI @mcar

[2017-04-07 13:25] mcarrano commented on #250
@LHinson I've actually taken the content from this document and rolled it into a new pattern called Buttons on Forms which is part of PR #241.  So we should be all set here.

[2017-04-07 13:57] suzannehillman commented on #245
@LHinson, I can't find the md file for the terminology and wording section. The only thing showing up under terminology-and-wording is truncation: https://github.com/patternfly/patternfly-design/tree/master/styles/terminology-and-wording

[2017-04-07 13:59] suzannehillman commented on #246
@LHinson I'm not actually confused by headline vs sentence. I'm confused by why "Name" is a proper noun and "keyword" isn't, and more importantly by the fact that if we capitalize "Name" within the inline hint and not "keyword" it'll look weird and may confuse people.

[2017-04-07 17:37] serenamarie125 commented on #246
@suzannehillman IMO Name is a proper noun in this case because it's a field name.  "keyword" indicates that it is matching a keyword to any of the fields, thus not a proper noun.  hth!

[2017-04-07 19:11] LHinson commented on #246
I agree that it's odd to have "Filter by Name" and "Filter by keyword" I think we need a rule / definition to help address this concern. @suzannehillman have you research how other style guides approach this?

[2017-04-07 20:54] #250 closed

[2017-04-07 20:55] LHinson commented on #250
Fantastic @mcarrano. I think we should remove the instance under widgets too then.

FYI @serenamarie125 @lizsurette

[2017-04-09 13:42] LHinson commented on #245
@suzannehillman: we have PR to contribute T&W as an .md https://github.com/patternfly/patternfly-design/pull/172

Are you looking to make a change to it? Or just want to reference it? If reference then refer to: http://www.patternfly.org/styles/terminology-and-wording/

[2017-04-10 13:03] mcarrano commented on #250
Yep.  That's part of the same PR

[2017-04-11 01:07] suzannehillman commented on #246
Hi @Lhinson,

I haven't been able to find a lot of information on how people define
proper nouns in the context of things like 'Name' vs 'keyword'.
Nor have I found much on the preferred choice to make in the kind of
situation where sentences should have proper nouns capitalized, but doing
it would make the interface look weird when you also have the possibility
of no proper noun in an otherwise i

[2017-04-11 12:42] LHinson opened #251 "Wizard (design tab) > "Loading Screen" image"
Pink reference numbers are backwards. "Title Bar" should be 1, and "Loading Wizard State" should be 2.

http://www.patternfly.org/pattern-library/communication/wizard/#/design

Thanks for identifying this one @ryanaltvater!

[2017-04-11 13:02] ryanaltvater commented on #251
@lhinson Hey no problem! Thanks for getting it documented under the correct repo. :)

[2017-04-11 19:56] suzannehillman commented on #245
@LHinson, I was looking to add the part about menu items being Headline caps to it. I can't tell if that's already been done, or someone else was looking to do it as part of that PR?

To make sure: is it accurate that changes don't get pushed to live until a new release happens?

[2017-04-11 20:01] suzannehillman commented on #245
As far as I can tell, I don't have access to the kebab stuff to adjust it to Headline, presumably because they aren't yet released (I see only buttons under widgets). I do see why they are sentence format though, as Bootstrap has menu items in Headline format.

[2017-04-11 20:11] suzannehillman commented on #246
Hi again @LHinson:

I think the sticking point is the idea of 'Name' or some other UI element being a proper noun.

Does anyone know where that idea came from, or if there is some source for that belief? I'm not really finding anything anywhere saying that UI elements are proper nouns, and if that is not the case, then the confusion gets cleared up quickly enough.

[2017-04-11 20:38] suzannehillman commented on #246
The best definition I've found so far to explain this is at [UXmatters](http://www.uxmatters.com/about-us/uxmatters-style-guide.php):

"Follow the capitalization conventions specific applications use—for example, case-sensitive keywords—as well as those for product and feature names—for example, names with internal capitalization like _LinkedIn_. However, be conservative in capitalizing the names

[2017-04-12 19:54] LHinson commented on #246
First, there is many ways to skin a cat. It's always interesting to get into these discussions on how to best approach these things.

@suzannehillman thank you for doing all this research. I agree with the you. To add to your point...

Our current style guide defines that "Name" should be capitalized because if it is a "label". It specifics that Tooltips should use sentence style capitalization. I

[2017-04-12 20:09] suzannehillman commented on #246
@LHinson, to make sure that I follow:

1) Name (and others) are capitalized because they are labels which are themselves title caps in the style guide.

2) Tooltips are defined as sentence style caps in the style guide, and we think that syntax and input hints are similar enough to also belong as sentence style caps.

And yes, I absolutely prefer clear and simple over lots of exceptions! :)

I'm l

[2017-04-12 20:52] suzannehillman commented on #246
@LHinson Another quick question: how closely should I be matching the dimensions of new PNG files as compared to old ones?

[2017-04-13 13:00] LHinson opened #252 "Table View should be capitalized"
"Table View" should be capitalized because it is referring to a pattern. Make sure all instances of "Table View" have the correct capitalization on the Table View: design tab. For example, under the pagination item, it is listed as "Table view" and should be updated.

Filed to be updated is here: pattern-library/content-views/table-view/design/design.md

[2017-04-13 13:34] LHinson commented on #246
@suzannehillman yep, your re-cap is accurate and in line with my thinking!

As for he dimensions, what's the reason for changing the dimensions? Want to make sure I understand either the problem you are solving or the challenges that you are running up against that would result in a different png size.

[2017-04-13 19:18] suzannehillman commented on #246
@LHinson When I used Inkscape to replace the text on the PNG, and then exported the adjusted file as PNG, the dimensions were larger than the previous PNG files. I was unsure if I should be telling Inkscape to export to the same or approximately the same dimensions (if that's even possible, but it seems likely to be possible).

[2017-04-18 13:26] LHinson opened #253 "Canvas View Bullets not rendering correctly"
On the design tab of the canvas view, there are random "*" throughout the page because the bullets are not rendering properly.

http://www.patternfly.org/pattern-library/content-views/canvas-view/#/design

[2017-04-18 13:39] LHinson commented on #246
@suzannehillman It doesn't have to be exact by any means but I would try and match as closely as possible. If you would like, you can go ahead and send a PR so I can review. That way I can see what you are talking about.

[2017-04-18 13:44] LHinson commented on #245
@suzannehillman we've merged the PR to include T&W in GitHub. You can send a PR to update the .md file. It lives here: https://github.com/patternfly/patternfly-design/tree/master/styles/terminology-and-wording

To clarify though, the website is not yet consuming this .md file. We have a to-do to swap that out.

[2017-04-18 23:26] suzannehillman commented on #246
@LHinson, well I'm now very confused. I didn't think that I had actually committed my pull request, but 'create pull request' shows me a website with no available changes. Last time I had done that and not actually submitted, there were all my files showing up and the png file size differences (which is why I noticed). Can you tell if that actually got pushed? It shows up above in this bug as fixe

[2017-04-19 00:11] suzannehillman commented on #252
I'm going to try to work on this later in the week!

[2017-04-19 12:51] LHinson opened #254 "Sort pattern table needs CSS?"
Toolbar [1] has a similar table. Look at how it's done there and apply to the table here. I' assuming it needs some CSS

[1]
Site: http://www.patternfly.org/pattern-library/forms-and-controls/toolbar/#/design
Github: https://github.com/patternfly/patternfly-design/blob/master/pattern-library/forms-and-controls/toolbar/design/design.md

[2017-04-19 12:52] LHinson commented on #254
FYI @mcarrano @yih-wang

[2017-04-19 14:04] mcarrano commented on #254
@yih-wang Please compare these and update the .md file for Sort as needed.  When done, you can just open a new pull request that will update the Sort pattern on the site.  Thanks.

[2017-04-19 19:24] #253 closed

[2017-04-19 19:24] #50 closed

[2017-04-19 20:43] suzannehillman commented on #252
@LHinson:

I've found and fixed two instances of this on the page you pointed to, one of which appears to be alt text.

Before I go ahead and submit this, should 'The table view' which starts the first sentence of the overview tab also have 'table view' be capitalized? I can see why it might go either way, but it feels like it's referring to the pattern again, and should also be capitalized.

[2017-04-19 20:55] #209 closed

[2017-04-20 18:48] #210 closed

[2017-04-21 13:57] LHinson opened #262 "Numbering is not correct and does not match image"
Numbering in the list does not match that in the image. See:
http://www.patternfly.org/pattern-library/content-views/table-view/#/design

[2017-04-24 16:10] #252 closed

[2017-04-26 13:08] LHinson commented on #246
@suzannehillman Let's talk on Friday at 10 am and we will get it sorted out :)

[2017-04-28 19:32] suzannehillman commented on #246
This appears to have been inadvertently submitted along with issue #252. I clearly need to be using multiple branches, and will do so in the future.

[2017-05-02 20:32] suzannehillman commented on #245
Hi @LHinson! Looks like the terminology and wording .md file is in github master now, or at least I can see it there when I couldn't before.

Is the website using this file now? Should I go ahead and add the bit about Menu Items being Headline style?

The kebab files still seems to be unavailable through master, though.

[2017-05-02 20:37] suzannehillman commented on #251
@LHinson:

I was going to work on this, but I do not see any pink colors here: http://www.patternfly.org/styles/color-palette/

I'd prefer to be able to use the correct color to cover the number and then make new numbers. Is there a source color that I can refer to? Or a better way to do this?

[2017-05-02 20:43] suzannehillman commented on #262
@LHinson am I correct in interpreting this to mean that the numbers on the first image are fine (it looks likely?), and the numbers in the relevant text are not?

I also note that the text says to use 1-2 items max in the Inline Actions description, and there are three actually shown in the image. Which is correct?

[2017-05-02 20:43] ryanaltvater commented on #251
@suzannehillman #ff00ff is the pink being used. :)

[2017-05-05 01:54] tadityar opened #270 "Broken image of Patternfly Symbol on the Modal demo"
Page: http://www.patternfly.org/pattern-library/communication/about-modal/#/code
When you click 'Launch Modal' it will show a modal with a broken image of Patternfly Symbol on it.

![screenshot from 2017-05-05 09-49-16](https://cloud.githubusercontent.com/assets/7445868/25731413/bbb8d118-3178-11e7-8f9a-57893181de9e.png)

[2017-05-05 15:05] suzannehillman commented on #262
@LHinson: Hrm. Looking at the markdown for this page, the numbering should actually be correct. Precisely which Markdown variant does patternfly use?

[2017-05-05 15:50] cshinn commented on #262
@suzannehillman so it looks like switching to 4 space indentation should resolve this one

[2017-05-08 17:54] suzannehillman commented on #270
I'm wondering where the "logo-alt.svg" actually is located. That appears to be the issue.

This is also a problem on http://www.patternfly.org/pattern-library/application-framework/login-page/#/code

I bet it's a problem anywhere we have code looking for that icon. Or possibly any icon.

[2017-05-08 18:23] suzannehillman commented on #270
The correct location for this file is http://www.patternfly.org/assets/img/logo-alt.svg.

It is not within the patternfly-design repo, but instead at https://github.com/patternfly/patternfly.github.io/blob/master/assets/img/logo-alt.svg.

I don't think we can use relative URLs to include things from other patternfly repos. We might need some documentation around this, @LHinson?

[2017-05-08 18:35] suzannehillman commented on #270
I'm not at all sure which repositories the code is stored in, though. I'm wondering if this is part of the problem.

[2017-05-08 18:48] suzannehillman commented on #270
AngularJS looks to be in https://github.com/patternfly/angular-patternfly/blob/master/src/modals/about-modal.directive.js - I think changing that image src to the full URL would work for that part.

The HTML/CSS one might be in bits and pieces in the base patternfly repo?

https://github.com/patternfly/patternfly/blob/master/tests/pages/_includes/widgets/communication/about-modal.html looks promis

[2017-05-09 09:02] michpetrov commented on #270
@suzannehillman There are two kinds of issues:

I've filed patternfly/patternfly-org#393 for the angular part, the issue is that the angular demo has to work both as a standalone demo and as a part of the patternfly-org site (or so I assume). Changing the URL will not work unless the image is in the same location in both cases.

As for the regular part I think just changing the urls in [patternfly

[2017-05-09 14:51] mcarrano commented on #254
I believe this has been fixed.  @LHinson can you verify and close?

[2017-05-09 17:55] #254 closed

[2017-05-10 01:18] LHinson commented on #251
Thanks @ryanaltvater and @suzannehillman! This issue has been addressed so closing here.

[2017-05-10 01:18] #251 closed

[2017-05-10 13:23] LHinson commented on #245
+1 for updating the .md for T&W! I just created a note for myself to add a story next sprint to have the website consume this file so it won't be immediately reflected on the website but will be nice to have the info there when we do.

Re kebab, this actually should be a bug against patternfly as this kebab is the implementation vs documentation. Are you interested in filing that? I can merge your

[2017-05-10 15:05] mcarrano commented on #124
I am closing this as these issues are currently being addressed.

[2017-05-10 15:05] #124 closed

[2017-05-12 20:33] suzannehillman commented on #245
@LHinson I think I've done the appropriate things for this bug? :)

[2017-05-12 20:35] suzannehillman commented on #270
@michpetrov Does the regular part belong in a base patternfly ticket? I'm still a little unclear how it works when a bug is entered against one repo but actually is related to a different one. I do not have the patternfly-org repo on my machine, and given that I'm not completely sure why the config settings are doing weird things, am not comfortable just making that change myself.

[2017-05-13 18:22] LHinson commented on #245
Sure did @suzannehillman! I just merged the PR to add headline for menu items and see the issues filed against PatternFly. Thank-you! Closing this one.

[2017-05-13 18:22] #245 closed

[2017-05-14 02:21] serenamarie125 opened #276 "Toast notifications should be top aligned under the application bar"
The toast notifications documentation shows that a toast notification should be top right aligned. I suggest that this be changed to be top aligned under the application bar, and if there is a horizontal bra, should be top aligned under that.

The toast notification covers items on the banner, and among other things blocks the user from accessing the notification drawer, in some cases. We have rec

[2017-05-15 14:16] michpetrov commented on #270
@suzannehillman I don't know what the policy is either. I can fix it in patternfly-org providing that's where it should be fixed.

@bleathem could you clarify what is the expected value of `{{site.baseurl}}` in patternfly-org?
- If I run patternfly-org locally it's `/patternfly-org` resulting in `/patternfly-org//assets/img/logo-alt.svg` (which works despite the double slash)
- however on the live

[2017-05-15 17:31] LHinson commented on #262
Thanks @suzannehillman!

[2017-05-15 17:31] #262 closed

[2017-05-23 12:21] LHinson opened #279 "Notification Drawer pattern clean-up"
*What happens if you have the notification drawer open, then open the navigation? Does the notification drawer auto collapse or do they layer?
* I like that addition of explaining the difference in icons (seen under responsive section). I think that need to be listed above. Not sure that we need to list twice. The callouts under the mobile section can be very specific to the responsive behavior in

[2017-05-25 06:38] yih-wang commented on #279
@LHinson @lizsurette @mcarrano Updated the mockup as comments in #283 . See if there still any issue.

[2017-06-21 14:57] mcarrano opened #293 "Launcher pattern's Code page shows code for Login screen"
If you select the Code tab for the Launcher pattern the example given is of the Login screen. See http://www.patternfly.org/pattern-library/application-framework/launcher/#/code/html-css

![screen shot 2017-06-21 at 10 54 37 am](https://user-images.githubusercontent.com/6619860/27390868-667bc54e-5670-11e7-9b57-3de2570d0792.png)

[2017-06-22 20:03] LHinson opened #295 "Truncation: update tooltip image"
I think this image (truncation7) should be using the true PatternFly Tooltips visuals especially since we are linking to that pattern. The PF tooltips use the dark grey/black with the caret.

[2017-06-22 20:07] #295 closed

[2017-07-06 18:29] ajacobs21e opened #303 "Wrong link in pattern library"
The link to the Date Picker pattern is incorrect on the main Pattern Library page.

https://www.patternfly.org/pattern-library/
links to
https://www.patternfly.org/pattern-library/forms-and-controls/date-picker

but the correct URL is
http://www.patternfly.org/pattern-library/forms-and-controls/datepicker/
datepicker one word, no hyphen

[2017-07-07 13:05] mcarrano commented on #303
@zhutaoredhat can you fix this bug since you are currently working on this page?  Thanks.

[2017-07-10 02:50] zhutaoredhat commented on #303
@mcarrano @ajacobs21e Sure. This bug had been fixed in #417 of PatternFly.org https://github.com/patternfly/patternfly-org/pull/417/files
<img width="639" alt="2017-07-10 10 48 04" src="https://user-images.githubusercontent.com/13375283/28001219-96f9ea6a-655d-11e7-8571-2387b799805f.png">

[2017-07-10 18:14] ajacobs21e commented on #303
Thank you @zhutaoredhat !

[2017-07-12 15:22] Mgranfie opened #304 "(2) JUnk"

[2017-07-13 14:08] mcarrano opened #305 "Breadcrumb Switcher"
The breadcrumb switcher is a new component that will allow the user no navigate between multiple views at the same level in the information hierarchy. This is useful, when browsing details of objects, for example, as it allows the user to navigate to a new object without the need to return first to a higher level summary view.

**Use Cases:** As a user, I want to quickly navigate to view another o

[2017-07-14 13:59] mcarrano opened #306 "Saved Filter"
Add a new pattern (or patterns) to the library to support allowing a user to save a filter for re-use later.

USE CASE:
* Users want to be able to save sets of filters to easily return to common filter criteria they use

REVIEWERS:
Serena, Catherine

**ARCHIVED REFERENCES AND LINKS FROM WHEN THIS WAS ADVANCED FILTERING:**
[Filter use cases](https://docs.google.com/a/redhat.com/document/d/1DJq-LdnF

[2017-07-14 14:03] mcarrano opened #307 "Fly-Out Panel"
Need a standard fly-out panel.

Overlay panel (http://openshift.github.io/openshift-origin-design/web-console/4-patterns/overlay-panel)
This is how OpenShift is using it: (http://openshift.github.io/openshift-origin-design/web-console/5-components/order-from-catalog)

[2017-07-14 14:11] mcarrano opened #308 "Add information about standard usage to the Icons page on the PatternFly website"
Want to identify and communicate standard icons that should be used for common objects and actions. Earlier work on icon standardization can be found here:

Had started this effort in 2015/2016 - check with Leslie on work that Brian did from a formatting perspective to go here: (https://www.patternfly.org/styles/icons/ )
(https://docs.google.com/spreadsheets/d/1XdcTn8OOiFjZY8txviW79rifU21Y9-s_Oiv6

[2017-07-14 14:13] mcarrano opened #309 "Specify standard messaging for login errors"
We should have standard messaging for common login problems. Consider adding to Design tab of login pattern.

[2017-07-14 14:15] mcarrano opened #310 "Editable Dashboard"
Need design and implementation for editable dashboards in PatternFly.

Needed for OpenShift, CloudForms (4.6 release in Nov), OpenShift.io & iPaaS & RHV. What is best path forward.  Requires both design and dev input to identify requirements for layout engine.

[2017-07-14 14:19] mcarrano opened #311 "Right-Click Menu Recommendations"
PatternFly currently does not provide any guidance on use of right-click menus.

[Right Click menu recommendations](https://docs.google.com/document/d/13d12jMaALzTuzj1WeRr0PCnbPXJnqR0PAMFPG3lv0xY/edit) - general recommendation is to not use these (do we all agree with this?); should include as an overall guideline/recommendation.  Where should this be located?

[2017-07-14 14:22] mcarrano opened #312 "Add Tree-List pattern (variation of List View)"
The tree-list view is a new component that will allow the user to see a list view with hierarchical relationships (parent-child relationships).

Use Cases: As a user, I want to be able to see a list of items with context of their hierarchical relationships to other items in the list.

References: [Github story](https://github.com/fabric8-ui/fabric8-ux/issues/517)

Products Needing This: OpenShift.

[2017-07-14 14:24] mcarrano opened #313 "Support disabled rows in List View"
Want to support the ability to disable a row in a list view.  See (https://github.com/patternfly/patternfly/issues/676#issuecomment-312669489)

**JIRA Story:** https://patternfly.atlassian.net/browse/PTNFLY-2446

[2017-07-14 14:28] mcarrano opened #314 "Unify appearance of states in List, Card, and Table views"
Currently there is inconsistency between hover, selected, and disabled states for list, card, and table views.  These should be made more consistent.

[2017-07-14 15:50] mcarrano commented on #305
Need to reach agreement across UXS team about requirements before proceeding. @serenamarie125 will report back.

[2017-07-14 15:58] mcarrano commented on #311
Want to proceed forward with this.  Good candidate for a PatternFly design story.  Matt C to create corresponding story.

[2017-07-17 15:40] LHinson commented on #314
Research done on hover to date is here: https://docs.google.com/document/d/1ABGmLF_MxAoAGT7RFfFHukE5mjTiHzcc6CohiWOJmXw/edit

[2017-07-17 16:38] serenamarie125 commented on #308
@mcarrano I think that this Issue is identifying 2 problems
1st - primary nav items
2nd - formatting the icons into a display which Brian had done previously

Could we change this issue to be regarding icon formatting?  And then I will create another issue around Navigation icons?

[2017-07-17 16:43] serenamarie125 opened #316 "Common icons for VM Status"
Create common icons for VM Status

JIRA Story: https://patternfly.atlassian.net/browse/OSUX-49

[2017-07-17 16:45] serenamarie125 opened #317 "Topology View"
Design pattern documentation needs to be created.

Implementation already exists for this in the Angular PatternFly repo.

[2017-07-17 16:48] serenamarie125 opened #318 "Tile View - Expansion of a tile"
Enhance the current Tile View pattern to include the use case of expanding a tile.

Associated JIRA story: https://patternfly.atlassian.net/browse/OSUX-19

[2017-07-17 16:56] serenamarie125 opened #319 "Create common icons for general status"
Common icons for general status including : Running, Not Running, In Progress, Pending & Unknown

JIRA Story: https://patternfly.atlassian.net/browse/OSUX-8

[2017-07-17 17:13] mcarrano commented on #308
I have updated this issue as you requested @serenamarie125 . Please create a separate issue for Navigation icons.

[2017-07-17 20:45] mcarrano commented on #319
@serenamarie125 @LHinson I have created https://patternfly.atlassian.net/browse/PTNFLY-2447 for adding these new icons to pf-icon font.

[2017-07-18 11:59] serenamarie125 opened #320 "Common Login Errors"
Document best practices around common login errors

[2017-07-18 12:01] serenamarie125 opened #321 "Context Selector"
New design pattern

JIRA : https://patternfly.atlassian.net/browse/OSUX-17

[2017-07-18 12:01] serenamarie125 opened #322 "Delete Confirmation"
New pattern

[2017-07-19 12:51] catrobson commented on #312
@mindreeper2420 is working on contributing this pattern.  Adam, feel free to also assign yourself to this issue if you'd like!

[2017-07-19 15:59] mcarrano commented on #240
Looks like this was resolved so closing out this issue.

[2017-07-19 15:59] #240 closed

[2017-07-19 18:28] mcarrano commented on #99
There is a story for cleaning this up: https://patternfly.atlassian.net/browse/PTNFLY-2427. Will update when done.

[2017-07-20 14:52] mcarrano commented on #279
@LHinson I think all this work has been completed.  Is this still an open issue? If not, please close.

[2017-07-20 14:54] mcarrano commented on #303
Looks like this has been address so I will close.

[2017-07-20 14:54] #303 closed

[2017-07-20 14:55] #304 closed

[2017-07-20 15:11] mcarrano commented on #314
A story has been added to the PatternFly backlog: https://patternfly.atlassian.net/browse/PTNFLY-2428

[2017-07-20 15:20] mcarrano commented on #320
This is a duplicate of Issue #309 . Will close.

[2017-07-20 15:20] #320 closed

[2017-07-20 18:13] serenamarie125 opened #325 "Experimental Features"
Experimental features pattern will allow users to enable UI areas that are considered "experimental" so users can try them out but know that they are still possibly volatile.  This pattern consists of a empty state showing that there is an experimental feature that can be enabled, and then the working state which highlights the page or page section as experimental while the user is working with it

[2017-07-20 18:15] serenamarie125 opened #326 "Inline Notification Enhancements - Truncation & Expansion"
-- Overview --
Often messages used in inline notifications are extremely long.  Need the ability to truncate the text, and provide a mechanism to expand the notification to view the entire message.

Use Cases: <tbd>

References: OSUX-22

Products: OpenShift

Scope of work: <tbd>

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info: <tbd>

[2017-07-20 18:16] serenamarie125 opened #327 "Object Details"
-- Overview --

Use Cases:

References: OSUX-22

Products: CloudForms, RHV

Scope of work:

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info:

[2017-07-20 18:18] serenamarie125 opened #328 "Modal Overlay Panel"
-- Overview --

Use Cases:

References: OSUX-18 (https://patternfly.atlassian.net/browse/OSUX-18)

Products: OpenShift, OpenShift.io

Scope of work:

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info:

[2017-07-20 18:24] serenamarie125 opened #329 "TreeView AutoMagically Expand"
-- Overview --
Enhanced optional behavior of a tree which "automagically" expands folders to see the first leaf node.  This improves usability and was added to CloudForms.

Use Cases:

References: CFUX-260 (https://patternfly.atlassian.net/browse/CFUX-260) ... need to move this to OSUX

Products: CloudForms

Scope of work:

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info:

[2017-07-20 18:26] serenamarie125 opened #330 "Global Search"
-- Overview --
Global search is a need from many products in the RH Product Portfolio

Use Cases:

References: CFUX-262 (https://patternfly.atlassian.net/browse/CFUX-262) ... need to move this to OSUX

Products: CloudForms

Scope of work:

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info:

[2017-07-20 18:30] serenamarie125 opened #331 "Wizard enhancements - support help"
-- Overview --
Enhance the wizard pattern to provide support for help

Use Cases:

References: None yet

Products: Management Products

Scope of work:

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info:

[2017-07-20 18:37] serenamarie125 opened #332 "Modal Enhancements - Help Support"
-- Overview --
Enhance the modal pattern to include optional help support.

Use Cases:

References: None yet

Products: Management Products

Scope of work:

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info:

[2017-07-20 18:41] serenamarie125 opened #333 "Toast Notification Enhancements - truncating and expansion"
-- Overview --
Often messages used in toast notifications are extremely long.  Need the ability to truncate the text, and provide a mechanism to expand the notification to view the entire message.

Use Cases: <tbd>

References: OSUX-22

Products: OpenShift

Scope of work: <tbd>

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info: <tbd>

[2017-07-20 18:44] serenamarie125 opened #334 "Slider pattern"
-- Overview --
Need a slider component

Use Cases: References: CFUX-250

Products: CloudForms

Scope of work: 

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info:
--

[2017-07-20 18:46] serenamarie125 opened #335 "Group By functionality"
-- Overview --
Provide the ability to have a "Group By" functionality which groups list view or card view items in a hierarchical manner

Use Cases:

References:

Products: CloudForms

Scope of work:

Stakeholders/Reviewers: @serenamarie125, @mcarrano, @Mgranfie

Other Info:

[2017-07-20 19:05] catrobson opened #336 "Subsystem status pattern"
-- Overview --

Use Cases:

References:

Products: OpenShift.io, Customer Portal

Scope of work:

Stakeholders/Reviewers: @catrobson, @mcarrano, @Mgranfie, @jeperry

Other Info:

[2017-07-20 19:22] #307 closed

[2017-07-24 19:23] cshinn opened #337 "Sorting icons for other languages"
Sort icons for alphabetic and numeric are using A-Z and 1-9. This doesn't translate so we should consider adding an alternative for non-english languages. There are alternative sort icons with short and long bars, but I am not sure how applicable this is to text.

[2017-07-28 12:55] serenamarie125 opened #340 "Errors & Validation documentation have invalid links"
There are 2 invalid links in the Errors and Validation (http://www.patternfly.org/pattern-library/forms-and-controls/errors-and-validation/) documentation under Forms and Controls.

I assume that Spinner should go here: http://www.patternfly.org/pattern-library/widgets/#spinner
But unsure of Progress, possibly http://www.patternfly.org/pattern-library/widgets/#progress-bars

@mcarrano @Mgranfie @L

[2017-07-31 13:42] serenamarie125 opened #341 "Need a Select/Unselect All capability for all view types"
Need a Select/Unselect All mechanism throughout view types (List View, Card View & Table View) when checkbox selection in enabled

[2017-07-31 13:42] serenamarie125 opened #342 "Table View - opposing mockups for Select All"
Mocks in the Table View Overview & Design don’t match for Select All - one shows a Show All link, and the other shows a checkbox in the first column header

[2017-08-02 14:35] mcarrano commented on #340
I will take this one. I do have a story in the PatternFly backlog as: https://patternfly.atlassian.net/browse/PTNFLY-2427  so I can just fold this work in there.

[2017-08-02 15:54] mcarrano opened #346 "Add Embedded Wizard to Wizard Pattern"
Want to provide a design for a wizard that is embedded in a page (vs. presented in a modal) that can be added to the existing Wizard pattern.

[2017-08-02 15:55] mcarrano commented on #346
A WIP pull request has been sent by @cshinn for review.

[2017-08-02 16:10] mcarrano commented on #108
This should be addressed as part of overall modularization of PatternFly library.  Closing this issue.

[2017-08-02 16:10] #108 closed

[2017-08-03 15:22] LHinson commented on #308
@serenamarie125 can we add hex values to the spreadsheet so that I can updated the table with a column with the appropriate hex values?

[2017-08-03 17:37] mcarrano commented on #121
I am going to close this. I think this should be taken up as part of the modularization of the pattern library and no need to track here.

[2017-08-03 17:37] #121 closed

[2017-08-03 17:47] mcarrano commented on #246
@LHinson do you know that status of this?  Should this issue be closed or is there still work to do here?

[2017-08-03 17:50] mcarrano commented on #270
@LHinson are you familiar with this issue?  Looks like this is unrelated to the design and should be closed here, but wanted to check.

[2017-08-03 17:52] mcarrano commented on #279
I believe this has been addressed and will close.  If there are still problems, please open a new issue.

[2017-08-03 17:52] #279 closed

[2017-08-03 18:05] LHinson commented on #270
Looks like it's resolved now and that the icon is indeed showing. I'll close. Thanks @mcarrano!

[2017-08-03 18:05] #270 closed

[2017-08-03 18:14] LHinson commented on #246
http://www.patternfly.org/pattern-library/forms-and-controls/filter/#/overview

This issue  has been addressed.

This issue has been addressed.

This issue has been addressed.

This is not addressed. The following actions are required:
* Review the following approach with stakeholders including @serenamarie125
  * Name (and others) are capitalized because they are labels which are themselves title

[2017-08-03 18:33] serenamarie125 opened #347 "Need responsive guidelines for the Wizards steps panel"
Being tracked by JIRA story: https://patternfly.atlassian.net/browse/OSUX-109

[2017-08-03 18:36] serenamarie125 opened #348 "Filter Panel with Faceted Filter"
Create a new faceted filter PatternFly Design pattern, documenting design and interaction for the following use case / requirements:

- Users should be able to filter a page with faceted filters
- Faceted filters should not be combined with simple filters

First version of faceted filtering should support :
- a single text field
- one or more categories including multiple filter values

[2017-08-03 18:41] Mgranfie commented on #348
Why would a user need these instead of a simple filter?... what problem
does this solve or requirement does this fulfill, that the current
filtering does not?

This is not clear to me... any insight would be helpful.
Thanks!

On Thu, Aug 3, 2017 at 2:36 PM, Serena Doyle <notifications@github.com>
wrote:

[2017-08-03 19:17] cshinn commented on #348
@Mgranfie: A faceted filter is better than our simple filter pattern for situations where the filter attributes are primarily ones with several distinct choices (publisher, or support level) rather than open-ended fields (name, date created, number of items). Being able to select check boxes rather than putting these in short dropdowns is easier.

Additionally, in pages such as catalogs where a us

[2017-08-03 19:20] mcarrano commented on #319
This is released in PatternFly.

[2017-08-03 19:20] #319 closed

[2017-08-03 19:29] LHinson opened #349 "PatternFly icon table update needed"
- Consolidate the font awesome and pf-icon tables
- include the hex color as a column

http://www.patternfly.org/styles/icons/

[2017-08-03 20:10] mcarrano commented on #308
Merged the existing pull request #343. Further updates will be handled through a new issue.

[2017-08-03 20:10] #308 closed

[2017-08-03 20:29] mcarrano commented on #348
@cshinn @serenamarie125 I have flagged this issue for 'requirements review'. As I know this can be a complex problem, I think it would be a good idea to share an initial concept for general review and discussion. Is there something rough you can share on this?

[2017-08-03 20:48] Mgranfie commented on #348
+1 on that idea Matt...

[2017-08-07 18:29] serenamarie125 commented on #348
So i think that my initial "Issue" was probably stated incorrectly, it's more for a need for a filter panel rather than a filter bar, and that the initial design pattern would be that it should support :

- a single text field
- one or more categories including multiple filter values

Does that make more sense @Mgranfie @mcarrano ?  IF so I can update the initial issue text :)

[2017-08-07 19:15] cshinn commented on #348
It seems to me that the most contentious and important issue here is the behavior of the filters rather than the appearance, so I think it's worth discussing the specifics here. These are the primary guidelines that I was planning on laying out in the documentation:
## Filter Behavior
- Filters between categories should be combined with a boolean AND operator (items must satisfy both to be shown)

[2017-08-07 19:57] ncameronbritt commented on #348
IMHO it's a little tough to boil down the behavior of the ANDs and ORs within a category to a single, simple rule. It depends on context.

If the items in a category are exclusive, then OR makes sense. For example, for a movie rating cannot be both PG and R, so a logical OR makes sense--I would expect to see both if I selected both. But for a category like movie genres, or some other kind of tag,

[2017-08-08 12:52] mcarrano commented on #348
@cshinn I think your logic makes sense. We did have some use cases for this within the storage console and I believe that's the logic we used. It would be interesting to test your design against our use cases to see if it will satisfy these requirements. @ncameronbritt I see your point about film genres, but it's hard to know what users would expect in this case. It we followed Chris' logic, the f

[2017-08-08 16:14] Mgranfie commented on #348
Question on how we document the filtering and results behavior. This has also come up with the Toggle Filter mechanism that @deernano Melody is working on. There are two ways to perceive how we document the filtering behavior:
1. How the end user perceives it, the sentence you make when selecting the criteria.
ie: I want to look for shoes in black, brown and tan. So to the end user it's an "AND"
2

[2017-08-09 15:57] mcarrano opened #353 "Adding new Help pattern to Forms and Controls"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ x] This is a new pattern
- [ ] This is an enhancement on an existing pattern
#### 2. If this is an enhancement, which application(s) will use this new pattern or enhancement?
#### 3. New Pattern Name: Help

This references a new PR submitted by Brian Jefferies as : https:/

[2017-08-09 15:59] mcarrano commented on #346
Pull request has been merged.

[2017-08-09 16:00] mcarrano commented on #312
Pull Request #324 has been merged.

[2017-08-09 18:57] Mgranfie opened #355 "Issue Template"
We are excited to have you contribute to PatternFly!<br>
To create a GitHub issue, first determine which type of contribution you are making, a pattern or a bug, and then remove text for the contribution type, that you will not need.

## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [ ] This is

[2017-08-09 18:58] #355 closed

[2017-08-10 14:51] mcarrano opened #356 "Provide better guidance on visual layout of content within List Views"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x ] This is an enhancement on an existing pattern

Improve visual guidelines and examples associated with the List View pattern to lead to better consistency of designs created from this pattern.  A detailed analysis and summary of list view issu

[2017-08-10 19:17] mcarrano commented on #348
@serenamarie125 to coordinate with Chris to call a mtg for preliminary review.

[2017-08-10 19:28] mcarrano commented on #349
Content looks good but need to address why "Copy to Clipboard" on hover of all table cells.  Should apply to first 4 columns, only.

Also Delete icon is not showing up.

[2017-08-10 19:39] #312 closed

[2017-08-10 19:43] #346 closed

[2017-08-10 19:55] serenamarie125 commented on #316
Icons were created by @jennyhaines , and added to PF by @andresgalante
Closed by https://github.com/patternfly/patternfly/pull/689

[2017-08-10 19:55] #316 closed

[2017-08-11 15:22] LHinson opened #357 "test"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [ ] This is an enhancement on an existing pattern
#### 2. If this is an enhancement, which application(s) will use this new pattern or enhancement?
#### 3. Title
#### 4. Problem Solving
###### *Does this pattern solve a common problem and has comm

[2017-08-11 15:25] #357 closed

[2017-08-12 23:25] LHinson opened #360 "pficon-remove and pficon-delete is redundant"
## For Bug contributions, please provide the following information...
- [X ] I would like to report a bug<br>

pficon-remove and pficon-delete is redundant. do we want both?

[2017-08-15 14:06] Mgranfie opened #361 "PatternFly.org contribution, revising and adding targeted webpages"
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
These are updates and additions to the current PatternFly.org pages to surface additional guidance access points and information around the contribution process.
#### 3. T

[2017-08-17 18:31] mcarrano opened #363 "Add Toggle Filter Pattern"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [x ] This is a new pattern
- [ ] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
#### 3. Title: Toggle Filter
#### 4. Problem Solving
###### This pattern allows users to quickly filter a

[2017-08-17 18:32] mcarrano commented on #363
PR #362 has already been submitted for this by @deernano

[2017-08-17 19:20] mcarrano commented on #360
Need visual team to create unique concepts for remove and test.  Need more research on usage. What products will this impact?  Do we also need to do the same for Create vs. Add? Next Steps:

1.@LHinson will send mailing to collect more data
2. Create new story for visual design backlog to generate concepts.

[2017-08-21 00:20] serenamarie125 opened #366 "Provide design guidance for a variation of the Trend Card with the values on the right"
*This is an enhancement on an existing pattern*

Currently, our [Trend Card](http://www.patternfly.org/pattern-library/cards/trend-card/#/design) supports two variations of a card with a single trend.  What's missing, is the ability to view the values on the right side, similar to
<img width="375" alt="screen shot 2017-08-20 at 8 17 19 pm" src="https://user-images.githubusercontent.com/12504403/29

[2017-08-21 16:16] mcarrano opened #369 "Recent changes not displaying on website"
## For Bug contributions, please provide the following information...
- [ x] I would like to report a bug<br>

Two pulled requests were merged last week, but these changes are not showing on the website. They are:
- #338 Add Experimental Features
- #358 Remove Forms and Input Controls from Forms and Controls. Update Input Controls.

Updated files are present in the design repo

[2017-08-21 18:22] mcarrano commented on #313
I did have a bit of discussion with @beanh66 around the requirements for this in Cloudforms. She writes:

"I know we needed disabled rows for Cloudforms but I can’t remember the exact use case. I want to say it was around the Inline edit pattern and how there were “disabled” rows that were unlike the rest because the item was either not configured or not in the appropriate state. The “disabled” ro

[2017-08-21 18:44] beanh66 commented on #366
@Mgranfie @serenamarie125 I'll work on getting this PR up from a design perspective.

[2017-08-21 19:11] catrobson commented on #328
@serenamarie125 would you be OK with the OSIO team picking up this contribution?  We'll start by gathering requirements and making sure that the Pattern we create does cover each of our use cases before creating any designs.

[2017-08-21 20:28] serenamarie125 commented on #328
@catrobson, we already have use cases and matching implementation.  Does it make more sense for me to prioritize having @beanh66 do this later this week?

[2017-08-21 20:49] catrobson commented on #328
No, it's not a rush.  I was just looking for something that Laura Wright could contribute to introduce her to the contribution process.  We can look for something else.

[2017-08-21 21:10] mcarrano commented on #328
Whoever does this, feel like the first step should be to share the use cases and make sure we have agreement.

[2017-08-22 12:55] Mgranfie commented on #328
If Laura takes this up, I would like to capture her experience... so please
lmk. Thanks!

On Mon, Aug 21, 2017 at 5:10 PM, mcarrano <notifications@github.com> wrote:

[2017-08-22 13:07] serenamarie125 commented on #325
@catrobson @mindreeper2420 can we close this issue?  The [Experimental features PR](https://github.com/patternfly/patternfly-design/pull/338) has been merged

[2017-08-22 13:13] serenamarie125 commented on #366
This is being tracked by https://patternfly.atlassian.net/browse/OSUX-130

[2017-08-22 13:13] beanh66 commented on #328
@catrobson @Mgranfie @mcarrano I have a working doc with use cases from the OpenShift perspective. It would be good to be sure we have the OSIO feedback/ use cases covered, as well as any other products. I can finish that up and send that doc out by the end of the day for review if that works?

[2017-08-22 13:43] serenamarie125 commented on #348
This is being tracked by https://patternfly.atlassian.net/browse/OSUX-109

[2017-08-22 13:50] mcarrano commented on #328
Works for me, @beanh66

[2017-08-22 14:05] catrobson commented on #325
Yes, closing.

[2017-08-22 14:05] #325 closed

[2017-08-22 17:06] Mgranfie commented on #328
Sounds good, works for me too!

On Tue, Aug 22, 2017 at 9:50 AM, mcarrano <notifications@github.com> wrote:

[2017-08-22 17:44] Mgranfie opened #376 "Visual diagram of the end to end design contribution process"
#### 1. Choose the type of contribution for this pattern:
- [x ] This is a new work, not a pattern
- [ ] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
#### 3. Title
Visual diagram, explaining the high level,  end to end contribution process for PatternFly designs
#### 4. Problem Solving
This diagram should a

[2017-08-22 19:53] mcarrano commented on #246
I will queue this up for UXS review to confirm this direction forward as proposed above.

[2017-08-22 20:06] mcarrano commented on #276
@kybaker Can you look at this and make a recommendation?  I am fine with @serenamarie125 's proposal put want to make sure there isn't an original rationale for this placement that we are missing.

[2017-08-22 20:39] mcarrano commented on #342
@LHinson Do we know what the recommended approach is for Select All?

[2017-08-23 13:45] beanh66 commented on #328
@serenamarie125 @catrobson @mcarrano @Mgranfie Here is the doc for the [Overlay Panel design](https://docs.google.com/document/d/1p03UVQ7NzDtsIneitoeXRmIPzF0aodSMVgfxZiAqgfU/edit#)

[2017-08-23 15:35] mcarrano commented on #122
@LHinson Want to get you opinion on this one.  This relates to the rework we set out to do a while ago for our documentation of Vertical Nav.  There is a story that I had started to works on (https://patternfly.atlassian.net/browse/PTNFLY-2341) but I think this got pushed to the backlog in favor of other priorities.

Question is whether to revisit this now or just defer until we refactor content f

[2017-08-23 15:43] mcarrano commented on #117
@LHinson Trying to decide what to do with this issue. I'm aware that @beanh66 is making some updates to the design page, but this issue references inconsistencies between design and Angular implementation.  Given our new repo strategy, does this issue belong here or does this need to get taken up by the Angular repo team?

[2017-08-23 16:45] beanh66 commented on #117
@mcarrano I'm not sure I follow the issues mentioned here. There are multiple examples in the design tab but the ones covered by the Angular implementation look okay to me. There is  currently a bug in the angular implementation that has to do with some odd spacing. @serenamarie125 created an issue for that [here](https://github.com/patternfly/angular-patternfly/issues/579). If there are other iss

[2017-08-23 17:01] mcarrano commented on #117
Thanks for looking @beanh66 .  This was something that came out of the audit activity that we did last December, but maybe it was already addressed as I don't really see the inconsistencies anymore either.  @LHinson let me know if you see an issue, if not I will just close this one.

[2017-08-23 17:09] mcarrano commented on #361
@Mgranfie and @LHinson Does this issue really belong in the design repo?  Seems like it identifies work that needs to take place on patternfly.org.  My preference is to keep website issues separate (from design contributions) and file against the 'patternfly-org' repo.  Do you guys agree?

[2017-08-23 17:32] Mgranfie commented on #361
@mcarrano I will move this to JIRA, as I think it belongs there... not sure why I put this here

[2017-08-23 19:04] LHinson commented on #361
@Mgranfie how is this different than the story that you have this sprint? https://patternfly.atlassian.net/browse/PTNFLY-2479

[2017-08-23 19:15] LHinson commented on #117
thanks @mcarrano and @beanh66 agreed that this one should be closed so I will do so!

[2017-08-23 19:15] #117 closed

[2017-08-23 19:54] LHinson commented on #369
Experimental features is available on the site now. See: http://www.patternfly.org/pattern-library/communication/experimental-features/

Need to figure out how to address removing items.

FYI @mcarrano

[2017-08-23 19:55] LHinson commented on #376
Same comment as previous issue seen here: https://github.com/patternfly/patternfly-design/issues/361

Think this belongs in jira vs coordinating contributions.

[2017-08-24 13:01] LHinson commented on #342
"Select all" needs work. We've had a number of different designs. Here's a blog post on a design that we tested... https://blog.patternfly.org/pagination-in-patternfly-second-round-cafeteria-testing/

@serenamarie125 how do you approach this in product?

[2017-08-24 14:31] LHinson opened #382 "Need a definition for log out"
- Define "Log out" as the appropriate approach for the action in the T&W section.
- Fix the masthead pattern to say "Log out" vs "Logout"
- Fix images http://www.patternfly.org/pattern-library/application-framework/masthead/#/design
- File a bug with core to update implementation

[2017-08-24 14:32] LHinson commented on #382
#380 fixes first two bullets.

@kybaker to help out with the image updates.

[2017-08-24 14:38] #361 closed

[2017-08-24 14:49] LHinson commented on #122
I think that this will be addressed with the website refactor and showcases (which show variations) so think we should close. Any concerns @mcarrano?

[2017-08-24 15:34] mcarrano commented on #382
Merged PR #380 to fix the text.

[2017-08-24 15:36] mcarrano commented on #122
I'm good with that.  Will close

[2017-08-24 15:36] #122 closed

[2017-08-24 19:31] LHinson commented on #276
@serenamarie125 Does this change have any impact on the responsive state? When you say, send a PR, do you mean to the design repo?

[2017-08-24 19:51] LHinson commented on #246
@serenamarie125 please review following approach and let us know if there is any concerns. I'm also going to ask Sj for guidance here.

- Name (and others) are capitalized because they are labels which are themselves title caps in the style guide.
- Tooltips are defined as sentence style caps in the style guide, and we think that syntax and input hints are similar enough to also belong as sentence

[2017-08-24 20:02] Essjaysee commented on #246
These approaches seem sensible, given the other guidelines have and the legacy styles we've seen in our own products (and, in my experience, many other enterprise IT products).

Hints are often written as sentence fragments, so I agree with the capitalization style, and we might also want to include that they don't require a period.

[2017-08-24 20:15] mcarrano commented on #366
Merged this PR.  Need to validate changes on website before closing this issue.

[2017-08-24 20:34] mcarrano commented on #313
Following the UXS-PF sync on 8/24, I looked at this again. Here is a link to the current Angular implementation http://www.patternfly.org/pattern-library/content-views/list-view/#/code/angular

If you select "Show disabled rows" you will see the current behavior.  Here everything is disabled including the expansion.  Based on the extended discussion, I propose that the only thing we change is to e

[2017-08-25 13:19] Rohoover commented on #305
All -  It looks like some work has started on this.

http://wraines-sandbox.rdu.redhat.com/packages?page=1&per_page=30

admin/changeme

Please note that this is Walden's sandbox so code is influx and not all functionality is working all the time. Also -- don't break his sandbox :)

[2017-08-25 13:29] beanh66 commented on #305
Thanks for sharing @Rohoover! I just started working on documentation for the design based on your HiFi mocks. Should have something up for review soon 👍

[2017-08-25 13:59] mcarrano commented on #305
@beanh66 I've added your name to this issue if you will be working on it.  Look forward to seeing your design proposal. @serenamarie125 did we ever have a chance to vet requirements on this at UXS level?

[2017-08-25 14:13] Mgranfie commented on #313
@mcarrano @serenamarie125 @LHinson I agree with the proposal above and allowing for the selection of a disabled row and some high level guidance on how to use the disabled row, allowing flexibility and openness around the criteria that cause disabling to occur...

[2017-08-25 19:13] LHinson commented on #246
@mcarrano let's review this in the next UXS Lead meeting

[2017-08-25 19:58] beanh66 commented on #328
@Mgranfie @mcarrano @catrobson @serenamarie125 Thanks for the feedback, I received a number of comments in the design/ requirements doc and I tried to respond to them all by now. Wondering what the best next steps are here since the PF design/dev review doesn't appear to be happening next week.

In the doc, I treated this as a generic pattern with the following options/variations for the Panel:
-

[2017-08-25 20:01] beanh66 commented on #305
Thanks Matt, that sounds great! My understanding was that this breadcrumb switcher was already vetted a long time ago, but I could be mistaken. I have HiFi mocks from Rox and I thought we were moving forward with getting this into some of the products. @serenamarie125 and @mcarrano let me know if that's not the case and I'll hold up on submitting a design PR.

[2017-08-28 15:18] mcarrano commented on #276
A new story has been added to the PatternFly backlog to address this.  See https://patternfly.atlassian.net/browse/PTNFLY-2523

[2017-08-28 15:33] mcarrano commented on #311
A new story has been added to the PatternFly backlog as: https://patternfly.atlassian.net/browse/PTNFLY-2524

[2017-08-28 15:49] mcarrano opened #387 "Horizontal Nav is outdated and inconsistent"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x] This is an enhancement on an existing pattern

The existing responsive behavior of the Horizontal Nav pattern (see http://www.patternfly.org/pattern-library/navigation/horizontal-navigation/) differs from Vertical Navigation (http://www.patter

[2017-08-28 18:44] mcarrano commented on #305
We discussed this in the management design sharing meeting today and decided that unless there is an objection, to move ahead to a PR based around design proposal from the Satellite team.  See link posted by @Rohoover above.  @beanh66 will add this to the existing Breadcrumb pattern as an alternative to the standard breadcrumb for navigating object details.

@serenamarie125 @catrobson @maryclarke

[2017-08-28 18:51] mcarrano commented on #328
Per our discussion, @beanh66 I'd like to propose that we have two new patterns.
1- Modal Overlay that I think addresses most OSUX requirements.  This should consider either the slide-down panel or modal window and when to use one or the other.
2- Modeless Overlay which sounds more like what OSIO is using.  (perhaps Laura can contribute this?)

I think that keeping these separate makes sense as the

[2017-08-28 19:13] mcarrano opened #388 "Need guidance on enabling/disabling submit buttons"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x ] This is an enhancement on an existing pattern
Existing Errors and Validations page should include guidance on when to perform validation and disable submit buttons.  Some suggestions include:

    * when one or more required fields are omitte

[2017-08-28 19:22] beanh66 commented on #328
Works for me @mcarrano 👍

[2017-08-28 19:26] mcarrano opened #389 "Inline Edit on Forms"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [ x] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
#### 3. Inline Edit on Forms
#### 4. This pattern allows for editing a value on a form without the need t

[2017-08-28 20:14] mcarrano opened #390 "Notification Drawer mockups inconsistent around position of caret on accordion control"
I've noticed that the mockups on this page (http://www.patternfly.org/pattern-library/communication/notification-drawer/#/design) and this page (http://www.patternfly.org/pattern-library/communication/notification-drawer/#/overview) inconsistently show the position of the caret within the header of each accordion panel (notification tab).

When the panel is open, the caret should always point down

[2017-08-29 13:47] catrobson commented on #305
I'm not certain where in Foreman to find this functionality.  Last time this was brought up I believe that @maryclarke and I had concerns about why we were doing a non-standard design for this functionality.  I'm not certain since I can't find it in that app where we stand today.

[2017-08-29 13:50] Rohoover commented on #305
@catrobson

It is not currently in Foreman. They are going to be removing two-pane view and this piece of design allows for the switch between table items that was currently possible with two-pane view.

[2017-08-29 14:24] kybaker opened #394 "Update Launcher Images"
- Convert launcher menu images to high fidelity.
- Update the launcher menu content to match the coded examples.

[2017-08-29 14:26] kybaker opened #395 "Update Masthead Images"
- Convert Masthead images to high fidelity.
- Update the icons to match the coded examples.

[2017-08-29 14:36] beanh66 commented on #305
@catrobson Sorry, I just submitted a PR with the proposed design before I saw your comment above, but I didn't realize there were still design concerns around this feature. @maryclarke @mcarrano @serenamarie125 Let me know how you want to proceed! Happy to schedule a meeting if that's best 👍

[2017-08-29 19:08] mcarrano opened #397 "Filter Bar"
This is a proposal for a new Filter pattern that replaces the [existing Filter pattern](http://www.patternfly.org/pattern-library/forms-and-controls/filter/) to document generic behaviors of the filter bar that apply universally to all supported filter types.

The pattern should address the following:
* How the filter bar integrates with the overall [Toolbar](http://www.patternfly.org/pattern-libr

[2017-08-29 19:10] mcarrano commented on #397
@cshinn I created this new issue to track the generic Filter pattern we spoke about today and assigned in to you. Let me know if this correctly summarizes the requirements or if I missed anything. I'm tentatively calling this "Filter Bar" but open to suggestions.

[2017-08-29 19:19] mcarrano opened #398 "Basic Filter"
We want to re-write the current [Filter pattern](http://www.patternfly.org/pattern-library/forms-and-controls/filter/) as a sub-component of the Filter Bar (see #397) .  Basic Filter (working title) includes a category/attribute selector and corresponding input method (text field, touchspin, datepicker, etc.) to input filter value(s).

[2017-08-29 21:08] #395 closed

[2017-08-30 14:43] serenamarie125 commented on #305
@catrobson @maryclarke I sent an email with our previous thread from July as well as some additional information around intended product usage.  I was under the impression that we were good to go with the use case & requirements around this pattern.  I think the remaining questions are clarifying why we are going with the suggested approach. Is that the case ?

[2017-08-30 14:45] catrobson commented on #305
Yes, that's accurate @serenamarie125.  @beanh66 fine with you submitting the PR, I'll go review that and ask specific questions there if I have them.

[2017-08-30 16:00] mcarrano commented on #397
@cshinn I happened to be looking at the Pagination pattern this morning (http://www.patternfly.org/pattern-library/navigation/pagination/#/design) and noticed that it also talks about layout of filter bar area (not sure why).  You might want to take a look at this and let me know if we need to update this for consistency with what you are proposing. Actually I'm not sure why this is relevant to pa

[2017-08-30 19:59] mcarrano opened #402 "Modeless Overlay Panel"
This is a new pattern that specifies a modeless container that can be used to hold tools or other content that are useful to keep open while the user maintains access to the main UI.
###### *Does this pattern solve a common problem and has community interest?*
#### 5. Use Cases + Requirements
#### 6. References
###### *If you know of any other PatternFly designs that will be impacted or depend on

[2017-08-30 20:02] mcarrano commented on #402
@catrobson I created this new issue to address the Modeless Overlay that I believe Laura will work on.  Feel free to fill in any requirements or references, as needed.  I would assign to Laura but I can't find her in the list (not sure about her GitHub handle). You may need to forward to her so she can assign herself.

[2017-08-30 20:07] catrobson opened #403 "Custom filter builder"
We are excited to have you contribute to PatternFly!<br>
To create a GitHub issue, first determine which type of contribution you are making, a pattern or a bug, and then remove text for the contribution type, that you will not need.

## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [x] This is a new pattern
- [ ] This is

[2017-08-30 20:29] mcarrano opened #404 "Inline Components for Tabs"
- [ ] This is a new pattern
- [ x] This is an enhancement on an existing pattern
#### This will update the existing Tabs pattern to allow for components to be placed inline with tabs.
#### 4. Problem Solving
###### *Does this pattern solve a common problem and has community interest?*
#### 5. Use Cases + Requirements
#### 6. References
Existing Tabs pattern (on Widgets page) http://www.patternfly.

[2017-08-30 20:50] LHinson commented on #366
@mcarrano i've rebuilt the site and confirmed that this is on the site therefore closing the issue.

[2017-08-30 20:50] #366 closed

[2017-08-30 23:27] LHinson commented on #349
The copy to clipboard issue should be addressed in the file on the patternfly-org repo, not the .md on patternfly-design. This is beyond my technical understanding of how to address. I've filed an issue against that repo here: https://github.com/patternfly/patternfly-org/issues/459

I do not view this as high priority therefore recommend closing the issue here and we will address the issue on patt

[2017-08-31 13:46] mcarrano commented on #387
Created PatternFly story: https://patternfly.atlassian.net/browse/PTNFLY-2525 assigned to @deernano

[2017-08-31 13:58] mcarrano commented on #349
Makes sense @LHinson I will close.

[2017-08-31 13:58] #349 closed

[2017-08-31 14:01] mcarrano commented on #382
@LHinson I believe this issue has been resolved. If you agree, please go ahead and close.

[2017-08-31 14:09] mcarrano commented on #313
Confirmed that this change is live on the site. Will close.

[2017-08-31 14:09] #313 closed

[2017-08-31 15:09] LHinson opened #405 "Notification Drawer: Expanded View for PatternFly"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [X] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
OpenShift
#### 3. Title
Notification Drawer: Expanded View - Recommendations about the amount of content

[2017-08-31 15:20] #382 closed

[2017-08-31 19:10] catrobson commented on #336
This pattern has gone through some turmoil, and might not be the right solution to make a pattern from.  Therefore, I plan to close this issue and redact this contribution.

[2017-08-31 19:24] LHinson commented on #405
Adding @serenamarie125 to just take a look at this and advice.

[2017-08-31 19:31] mcarrano commented on #342
Need further research and design to take place.

[2017-08-31 19:40] mcarrano commented on #336
Will go ahead and close

[2017-08-31 19:40] #336 closed

[2017-09-01 14:04] yih-wang commented on #311
@mcarrano @LHinson @Mgranfie I have done some research on right-click menu and finished the first draft of the guidelines, please have a review and feel free to leave comments. Thanks! https://docs.google.com/a/redhat.com/document/d/1tv7XSQXE9HbDXyo6jhNRpWnm2C4e5cYINebVxDxpNec/edit?usp=sharing

[2017-09-01 14:35] mcarrano commented on #311
I think that your research and recommendations make sense @yih-wang . I just had one small comment. @LHinson and @Mgranfie let us know what you think and what next steps should be.

[2017-09-02 11:10] LHinson commented on #405
@mcarrano @serenamarie125 After seeing how the current implementation _can_ handle additional content in a way that looks good. I don't think this is an issue. I _was_ concerned when seeing skinny columns with lots of text however that has been resolved with layout adjustments.

Closing this one.

[2017-09-02 11:10] #405 closed

[2017-09-02 11:23] LHinson opened #406 "Login Enhancements"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [X] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
Keycloak
Identity Management
#### 3. Title
Login Screen
#### Problem
The existing login design issues caus

[2017-09-04 07:56] zhutaoredhat commented on #276
Hi @serenamarie125 @mcarrano I had updated the mockups. The updates:
1.The toast notification changed to be top aligned under the application bar.
2.Added the close button on the notification bar and the button will be recommended in the user guide. When the message interrupts the user, the user could click it to close quickly!
[Uploading toast-notification-update.png…]()

The toast notification w

[2017-09-05 09:36] yih-wang commented on #388
@mcarrano  @LHinson I did some research on improving recommendations for form validation. Please have a look and welcome any feedback.
https://docs.google.com/a/redhat.com/document/d/1gXWWj42h_yCPDh8_Xn6ZWhc2AyFSjV6tfHojg7SfLo4/edit?usp=sharing

[2017-09-05 16:05] mcarrano commented on #276
@zhutaoredhat Just a couple of comments:

1) I don't think we should use the center justified notification (last example). This becomes too similar to the inline notification. The idea of the toaster alert is to just have a transient alert that pokes out from the right edge of the window.

2) In the case of horizontal navigation, I'm wondering if this should be positioned below the menu or below t

[2017-09-06 02:54] zhutaoredhat commented on #276
@mcarrano Thank you for your feedback. +1 for comment 1.
Matthew Carleton identified that we would not use a "variable" so have updated the story to reflect this.
Some horizontal navigations are without masthead, the drawer will be below the navigation. So I think position it below the menu will looks more consistent.

[2017-09-06 11:21] deernano commented on #387
@mcarrano
Hi Matt, just updated the Horizontal Navigation Overview and Design part. Since theres a lot changes. I made a google doc version first for comments. Please help to review it. Thank you~
https://docs.google.com/document/d/1mpYKI53BG9vmGCnlQvenu7Ev5U6_6EqeFGfYIUJOa7A/edit#heading=h.5fpwsjtoqqhg
What I've changed:
1.Changed the position of the hamburger menu
2.Add responsive behavior
3.Add

[2017-09-06 13:04] matthewcarleton commented on #276
@mcarrano yup, I agree with this. @zhutaoredhat I think we will end up using a single variable to define the position but there won't be multiple variables defined. If it needs to be changed you can just change the single variables value.

[2017-09-06 17:59] mcarrano opened #408 "Hover behavior for Toast Notification not specified on Design page"
- [x ] I would like to report a bug<br>
The Design page for Toast notification does not specify how long the notification should be visible or what happens when the user hovers over the toast alert. This information is present on the Overview page but should exist in both places.

[2017-09-06 21:21] mcarrano commented on #387
@deernano Thanks for summarizing this content in a Google doc and considering consistency between design and current code examples. I left some comments in the document. Here are a couple of general pieces of feedback to consider:

1. The treatment of the masthead in some of the mockups is outdated and no longer consistent with the latest masthead design. I believe that the code samples for horizo

[2017-09-07 05:30] zhutaoredhat commented on #276
@matthewcarleton I agree with you~

[2017-09-07 13:07] Mgranfie commented on #387
Great work Melody! it might be interesting to loop Cat into this convo.
Melodies solution is the same solution we looked at to address the deep
level navigation in .io and mobile, in .io, in a responsive manner, as the
pull right panels were not a mobile solution, without the back button.

-Monica

On Wed, Sep 6, 2017 at 6:14 PM, mcarrano <notifications@github.com> wrote:

[2017-09-07 13:43] mcarrano commented on #404
This topic was discussed in the biweekly CSS meeting on 9/6 and it was noted that placing buttons or other components inline with the tab bar leads to difficulties with responsive behavior. Perhaps there are other solutions to this use case. @maryclarke and @jgiardino an alternate approach supported by PatternFly can be seen here in the context of Canvas View (http://www.patternfly.org/pattern-lib

[2017-09-07 13:54] mcarrano commented on #353
Needs to have a site.md file created and added to Design folder.

[2017-09-07 14:14] matthewcarleton commented on #387
@mcarrano @deernano @LHinson I agree Matt, I think we should stick to one way of doing it. The drilldown method is a bit more graceful as it allows for more space and doesn't require scrolling as often. I also think visually the drilldown is easier to consume.

[2017-09-07 15:24] lwrigh opened #409 "Modeless Overlay"
## For Pattern contribution proposal, tell us about your idea...
#### 1. Choose the type of contribution for this pattern:
- [X] This is a new pattern
- [ ] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.

This is not an enhancement.

#### 3. Title
Modeless Overlay
#### 4. Problem Solving
An overlay panel that

[2017-09-07 18:14] beanh66 commented on #409
@lwrigh I thought we decided this would actually be a separate pattern rather than an enhancement to an existing pattern. For my submission the pattern is called "Modal Overlay" and exists in the Forms and Controls folder. My understanding was that your submission would be "Modaless Overlay" and would be located in the same folder in PF but a separate pattern. @Mgranfie @mcarrano Do you agree?

[2017-09-07 18:24] Mgranfie commented on #409
@chart yes, this makes sense and was how I understood it.

One question that comes to mind, when I read this.... is... are the
position and modality dependent?

-Monica

On Thu, Sep 7, 2017 at 2:15 PM, Colleen Hart <notifications@github.com>
wrote:

[2017-09-07 18:29] mcarrano commented on #409
Yes, this should be submitted as a new pattern and located in Forms and Controls. Title should be Modeless Overlay.

@lwrigh there was already an issue opened for this here: https://github.com/patternfly/patternfly-design/issues/402 If this has more complete information, I will close the old one. Let me know what you prefer, but would rather not keep both open.

[2017-09-07 18:33] lwrigh commented on #409
@mcarrano That works for me. I can update this one accordingly and submit it as a new pattern.

[2017-09-07 18:43] mcarrano commented on #402
@lwright opened a new issue #409 with more complete proposal so I will close this as a duplicate.

[2017-09-07 18:43] #402 closed

[2017-09-07 19:03] suzannehillman opened #410 "The user icon section (number 8) of the masthead needs additional research"
## For Pattern contribution proposal, tell us about your idea...
(delete section if filing a bug)

#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x ] This is an enhancement on an existing pattern

#### 4. Use Cases + Requirements
###### *Specify the use case, requirements and what problems do we believe users have, that we intend to solve? ANd, does this p

[2017-09-07 19:04] suzannehillman commented on #410
I'm unable to select myself as the owner, and cannot change the amount of work that it says it'll be.

I expect a medium to large amount of work, but it's hard to estimate given that I don't know what those terms mean when applied to UX research work.

[2017-09-07 19:20] maryclarke commented on #404
We have decided to go a different direction, so closing this issue.

[2017-09-07 19:20] #404 closed

[2017-09-07 19:25] mcarrano commented on #314
@kybaker can you take a look at prior recommendation and let us know whether we need a corresponding visual story.  OSIO has some priority around resolving gray hover states.

[2017-09-07 19:32] LHinson commented on #406
@maryclarke identified that Identity management has similar requirements and will dig those up and surface them here.

[2017-09-07 20:21] mcarrano commented on #410
@suzannehillman I think it's true that we don't really provide any guidance about what goes in this menu. The reason we made this a dropdown is that there could be multiple items that would be placed here like User Settings, Language Selector, Change Password, as well as Log Out, for example.  I can see the argument that in some cases a single button at the top level would suffice (if you only hav

[2017-09-07 20:24] mcarrano commented on #347
@LHinson to do a final review and merge if ready.

[2017-09-07 20:25] mcarrano commented on #305
This PR has been merged.  Verify changes correctly displaying on site before closing.

[2017-09-07 20:26] mcarrano commented on #328
PR has been merged. Verify changes correctly display on site before closing.

[2017-09-07 23:03] deernano commented on #387
@mcarrano @Mgranfie @matthewcarleton
I will change the design to the latest veision mirrors the vertical navigation first.
For the multi-level navigation state. I have a question. If we use drill down only, when the user wants to see the third level content of a multi-level navigation, they need to click twice and go back twice. And we recommended to use horizontal navigation when:
 "There are a s

[2017-09-08 06:33] guillaumevincent commented on #410
@mcarrano here the problems I see:

 * one more click to do an action
 * discoverability (as you said) if you put a new item inside your drop-down good luck to tell the user.
 * extra javascript

Users already know that those actions are in the top right corner.
But ~~hide~~add a language selector inside your dropdown and ask the user to change the language of the site.

Extra javascript is anothe

[2017-09-08 12:55] Mgranfie commented on #410
Great conversation here!

To offer some additional perspective, as Matt mentioned, typically the
items grouped under the User menu are user related and are not frequently
accessed, therefore are nested in the menu, as not to clutter the UI and
the down arrow provides an affordance to let user know there are more
options here.

Localization is another consideration, so taking into account if the
ad

[2017-09-08 13:11] mcarrano commented on #387
@deernano Sorry to not get back to you sooner.  We did talk about this yesterday and decided we will not change the implementation of this to match the vertical navigation as earlier stated. At this point the horizontal navigation is not frequently used and we don't want to invest in re-writing this code. So I think what that means is that the stacked approach that you specified is closer to what

[2017-09-08 14:30] mcarrano commented on #321
@jennyhaines I will pass this issue over to you for adding the high-fi images. When you are ready to send a PR, please just link it here. Thx.

[2017-09-11 04:25] suzannehillman commented on #410
A few questions based on what people have said so far:

a) why is 'change password' included separately from settings? My guess is that folks expect people to be changing their password a lot, but I question the chances of that actually being the case?

b) I can imagine that one would want to be able to find the language change piece quickly and easily if it's relevant to one's ability to use an a

[2017-09-11 04:25] suzannehillman commented on #410
Oops. Wrong button. :)

[2017-09-11 07:10] deernano commented on #387
@mcarrano ok I get it, Thank you ~

[2017-09-11 12:59] Mgranfie commented on #410
Hi Suzanne,

That close button is poorly placed and has gotten me a few times too!

You raise some good questions. I have not seen change password command in
this menu, were you thinking about the Settings or Account info or Log Out?

I don't know the history of the Language command being surfaced on the user
menu, and can ask around a bit, unless someone jumps in here to offer some
background.

I

[2017-09-11 16:23] mcarrano opened #411 "Full product logotype should be displayed in responsive states on mobile devices"
## For Pattern contribution proposal, tell us about your idea...
(delete section if filing a bug)
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [ x] This is an enhancement on an existing pattern

#### 4. Use Cases + Requirements
###### Currently, when collapsing the vertical navigation to it's responsive/mobile size, the text-based logotype is not displaye

[2017-09-11 17:46] ncameronbritt commented on #314
As discussed in the MGMT UX sharing on 9/11/17, maybe a simpler version of this issue is: Should the hover state on tables be blue if the rows are not interactive.

[2017-09-11 17:48] lwrigh commented on #409
@mcarrano Am I still in need of a review before I continue onto submitting the final design documentation?

[2017-09-11 18:44] mcarrano commented on #409
@lwrigh there are a couple of ways we can approach this. Do you feel like there are significant open issues of questions that we should address before you proceed too far? If so, I would recommend pulling together a few folks and walking through your design proposal with them to get some feedback. If you feel more confident and/or you've done the due diligence to vet your proposal with other, you

[2017-09-11 19:08] mcarrano commented on #314
If we go with a light-blue hover state for either list or table views as the OS console team is selecting, we will need a different selected state for list view rows. I'm not entirely sure what the right answer is but agree this needs to be simplified. I have assigned this to myself and will try to articulate some options that can be reviewed.

[2017-09-11 19:16] mcarrano commented on #411
PatternFly story https://patternfly.atlassian.net/browse/PTNFLY-2547 has been created to further investigate options and make some recommendations.

[2017-09-11 20:36] lwrigh commented on #409
@mcarrano I think I'm going to go down the path of asking for more feedback on the design and content before I start working on the final design submission.

I had a chance to catch up with Monica today and she was able to give me more direction with the next steps in the contribution process.

[2017-09-12 02:36] junezhang commented on #406
@mcarrano, @zhutaoredhat and @yih-wang would like to work on this task.

[2017-09-12 02:52] junezhang commented on #309
@mcarrano, currently @zhutaoredhat  and @yih-wang are doing the Login Improvement. so we'd like to work on this issue too.

[2017-09-12 15:04] mcarrano commented on #276
@zhutaoredhat Yes, please proceed with a PR for this. I actually think that just replacing the current mockup on the Overview page with #1 will be sufficient.  Not sure what the second mockup is trying to communicate. Are we saying that the toast alert will always be on top of other content? Is that true @matthewcarleton ? If that's the case, then maybe include this with a statement that reflects

[2017-09-12 15:16] mcarrano commented on #311
@LHinson @Mgranfie @catrobson @serenamarie125 @jeperry @maryclarke Please see recommendations summarized by @yih-wang in the Google Doc referenced above. I'd like to get your comments and feedback on this before we proceed further.

[2017-09-12 15:25] mcarrano commented on #388
@LHinson I am comfortable with these recommendations. Please take a look and let me know if you agree. I think that next steps would be to add these recommendations to Errors and Validation pattern (http://www.patternfly.org/pattern-library/forms-and-controls/errors-and-validation/) after we run by UXS team for preliminary review.

[2017-09-12 16:22] matthewcarleton commented on #276
I agree @mcarrano I don't think we need anything but the first one. The toast will sit on top of notification drawer but I don't think that needs to be explicitly stated.

[2017-09-12 16:31] Mgranfie commented on #311
Great work here! I added some comments on the use cases and guidelines.. I
was not sure if this was solely research and how much would roll into the
design. Hope the feedback is useful...

-Monica

On Tue, Sep 12, 2017 at 11:36 AM, mcarrano <notifications@github.com> wrote:

[2017-09-12 16:52] LHinson commented on #353
Jira story created and will be pulled in this sprint. Assigning to myself.
https://patternfly.atlassian.net/browse/PTNFLY-2550

[2017-09-12 19:01] maryclarke commented on #311
This looks great to me!

[2017-09-12 19:19] kybaker opened #414 "Update Breadcrumb Pattern Images to High Fidelity"
Convert all images from mid-fi to high fidelity on the Overview and Design tabs.

[2017-09-12 21:45] bleathem opened #416 "The `url-js-extra` front matter attribute in empty-state site.md file needs to be an array"
In PR #385 a `url-js-extra` attribute was added to the `pattern-library/communication/empty-state/site.md` file needs to be an array, as in the file referenced in the comments of the PR:
https://github.com/patternfly/patternfly-design/blob/master/pattern-library/content-views/card-view/site.md

[2017-09-13 21:04] Mgranfie commented on #409
@lwrigh can you please place a link to the Google Doc in the References in the Issue above...

[2017-09-14 07:13] dabeng commented on #416
The related PR has been submitted. Please review https://github.com/patternfly/patternfly-design/pull/419

[2017-09-14 13:18] LHinson commented on #353
@bkjeffer Want to take a look at this one? Let me know if you have any questions!

[2017-09-14 13:32] mcarrano commented on #314
I did some analysis on this to look at how we are representing state across the three primary content views (card, list, and table). @jennyhaines helped me by doing some quick mockups to explore some options. You can see this summarized here: https://docs.google.com/a/redhat.com/document/d/1qoAetrAZVVEFq8so2tlkP7eRJaCkITskooOMV4LjxzI/edit?usp=sharing

In short, the proposal is to use a slightly li

[2017-09-14 15:02] mcarrano commented on #305
There is a pending PR #415 for updating with high res images

[2017-09-14 15:04] mcarrano commented on #328
Verified. Will close.

[2017-09-14 15:04] #328 closed

[2017-09-14 19:18] mcarrano commented on #410
Next steps... Research current usage across products and make recommendations.

[2017-09-14 20:43] mcarrano commented on #314
This will be queued up for implementation. @jennyhaines we will need the RGB values of the lighter blue color to use for the list view hover state. Thanks again for your help!

[2017-09-14 20:56] mcarrano commented on #321
Merged PR #412 .  Verify changes present on site before closing.

[2017-09-15 02:31] serenamarie125 commented on #410
Unsure if you are aware of the definitions that are already referenced in PatternFly

- [Masthead documentation](http://www.patternfly.org/pattern-library/application-framework/masthead/#/design) references:
1. My Settings
1. Switch Language
1. Log Out
- [Language selector](http://www.patternfly.org/pattern-library/forms-and-controls/language-selector/#/design) references:
1. Switch Language

[2017-09-15 02:37] serenamarie125 opened #420 "Fix Typo in Image in Language Selector pattern"
The image on the design tab of the Language Selector pattern has a typo.  "Logout" should be updated to "Log Out"

![image](https://user-images.githubusercontent.com/12504403/30464032-2120ddac-999d-11e7-8adc-cf5ca5210471.png)

[2017-09-15 16:02] mcarrano commented on #276
Merged #417 Verify changes on the website before closing.

[2017-09-15 16:03] bkjeffer commented on #353
Just updated - let me know if something else is needed.

[2017-09-15 17:22] kybaker commented on #314
@mcarrano @jennyhaines The lighter blue looks good to me.

[2017-09-15 17:29] LHinson opened #421 "Comments pattern hi-fi visuals"
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x ] This is an enhancement on an existing pattern

Comments pattern hi-fi visuals: http://www.patternfly.org/pattern-library/communication/comments/#/overview

FYI @kybaker @mcarrano

[2017-09-15 17:52] #414 closed

[2017-09-15 17:59] mcarrano commented on #305
Merged PR #415 to updates hi-res images. Verify before closing this issue.

[2017-09-15 18:03] kybaker commented on #420
@serenamarie125 Added a story in the visual backlog for this.

[2017-09-15 18:03] kybaker commented on #421
@LHinson Added a story in the visual UXVDN backlog for this.

[2017-09-15 18:56] LHinson commented on #305
@mcarrano I rebuilt the site. You can see changes here: http://www.patternfly.org/pattern-library/navigation/breadcrumbs/#/design

[2017-09-15 20:12] mcarrano commented on #305
Thanks @LHinson  Will close this out then.

[2017-09-15 20:12] #305 closed

[2017-09-16 02:00] LHinson opened #422 "Images for Responsive wizard do not match docs"
Images for responsive wizard do not match the actual behavior.

...however the images show the button bar fixed.

[2017-09-16 14:55] suzannehillman commented on #410
@mcarrano I'd like to be point on research for this. What do I need to do to stay within existing guidelines around research within Patternfly?

@serenamarie125 I had seen the masthead reference after I'd already started investigating the dropdown question, in part because I hadn't realized that was the term d'art. I hadn't seen the language selector reference at all, so thank you!

It's not clear

[2017-09-16 14:56] suzannehillman commented on #410
@Mgranfie I had mentioned password change because @mcarrano had in their comment. :)

[2017-09-18 15:00] deernano commented on #411
@mcarrano
Product logotype responsive state research
https://docs.google.com/document/d/1EYC705bk65wyl-ZFKTDa9_iC3JkD1X2KikvXik2Psl0/edit#

[2017-09-18 15:38] mcarrano commented on #410
@suzannehillman I've assigned you to this issue, and after discussing with @LHinson , here's how I think you should proceed.

As a first step, it would be good to get more information about how projects that currently use PatternFly have used this menu and what option do they include there.  Besides the ability to log out, it would be interesting to know what other types of user settings they supp

[2017-09-18 16:06] mcarrano commented on #422
@kybaker How should we handle this? Is this something you or someone else on the visual team can update or should I put in "help wanted" list?

[2017-09-18 16:09] mcarrano commented on #347
PR #365 has been merged. Need to verify changes on site before closing.

New issue #422 has been filed to update mockups for consistency with text.

[2017-09-18 17:29] suzannehillman commented on #410
@mcarrano Yes, this sounds good to me! Thank you. :)

[2017-09-18 18:53] LHinson commented on #347
@mcarrano I'm rebuilding the site.

[2017-09-18 20:11] LHinson opened #423 "Clarification about Toast Notification behavior"
The toast notification pattern states:

It's not clear whether or not just the toast being hovered should remain or if all toasts should remain if one is hovered. For that reason, we've had a bit of discrepancy in implementation between repos.

The pf-react implementation (in progress and not yet merged), leaves all toasts on the screen when one is hovered. The angular-pf implementation, leave onl

[2017-09-19 14:33] Mgranfie commented on #311
@mcarrano @maryclarke It would be useful to consider moving some of the design information from this guideline, for context menus, to a base, standard menu component. This would include information such as the use of separators, groupings of commands, order of commands, responsive scrolling, and other general menu guidelines, leaving this variation on a menu to focus on the behaviors and rules for

[2017-09-19 15:11] kybaker opened #424 "Convert Guidelines Images to High Fidelity"

[2017-09-19 15:22] kybaker commented on #422
@mcarrano I will add it to the visual design backlog.

[2017-09-20 15:16] kybaker opened #426 "Convert Language pattern images to high fidelity"
Convert images under design and overview to high fidelity.

This issue also solves: https://github.com/patternfly/patternfly-design/issues/420

[2017-09-20 20:00] beanh66 commented on #334
Initial documentation can be found here: https://docs.google.com/document/d/1nwMNgHCgEmoFpq4gsQyhU1xwGGGlYy_JQFcglxreTZo/edit#

PR is in progress.

[2017-09-20 22:56] suzannehillman commented on #410
Oh, another question: I figure that folks within RedHat are using Patternfly, but might not be reading the mailing list. Does anyone know if there's a way for me to collect information on that?

[2017-09-21 14:32] catrobson commented on #311
The recommendations in this doc look great to me as well!  Thanks @yih-wang!

[2017-09-21 15:28] kybaker commented on #424
Merged

[2017-09-21 15:28] #424 closed

[2017-09-21 15:29] kybaker commented on #426
Merged #427.

[2017-09-21 15:29] #426 closed

[2017-09-21 15:43] #394 closed

[2017-09-21 15:45] kybaker commented on #420
@LHinson This was fixed, merged, and can be closed - Convert Language Selector to High Fidelity #427.

[2017-09-21 15:47] kybaker commented on #421
@LHinson This was merged and can be closed - Convert comment images to high fidelity #428

[2017-09-22 13:43] mcarrano commented on #410
I can forward your email to our internal RH mailing list @suzannehillman and perhaps that will get a few more hits. Maybe also try posting a question to the PF Slack channel?  @LHinson any other suggestions?

[2017-09-22 13:58] mcarrano commented on #406
Research and preliminary recommendations are summarized here. https://docs.google.com/a/redhat.com/document/d/1cqfOsR9iw3rw9bB1etj-svMmil_HvVg4Z1oPIFvJlS0/edit?usp=sharing

Please review @serenamarie125 @catrobson @maryclarke @jeperry @kybaker

[2017-09-22 14:06] mcarrano commented on #411
The document above contains some research and options for this ^^^

Please review and comment @serenamarie125 @maryclarke @catrobson @jeperry @kybaker

[2017-09-22 17:39] mcarrano commented on #347
Verified that changes are live. Will close.

[2017-09-22 17:39] #347 closed

[2017-09-22 17:40] mcarrano commented on #321
Verified. Will close.

[2017-09-22 17:40] #321 closed

[2017-09-22 17:47] mcarrano commented on #276
Verified. Will Close.

[2017-09-22 17:47] #276 closed

[2017-09-22 17:49] mcarrano commented on #387
Verified. Will close.

[2017-09-22 17:49] #387 closed

[2017-09-22 17:54] mcarrano commented on #420
Will close.

[2017-09-22 17:54] #420 closed

[2017-09-22 19:46] mcarrano commented on #411
Let's hold on this until we have more info on future direction of RH product branding.

[2017-09-22 19:55] mcarrano commented on #406
@mcarrano will follow up with proposed next steps.  Consider if there are additional requirements we should consider.

[2017-09-22 20:01] mcarrano commented on #423
Per UXS review, want all to remain if any is hovered on.

[2017-09-22 20:42] mcarrano commented on #309
Created JiRa story https://patternfly.atlassian.net/browse/PTNFLY-2556 for this work.

[2017-09-23 08:57] LHinson commented on #353
Hey @bkjeffer I never saw a PR come through on this one. Did you send one?

[2017-09-23 15:08] bkjeffer commented on #353
Oh, I updated it but didn't realize I had to do another PR. Will create
one.

On Saturday, September 23, 2017, Leslie <notifications@github.com> wrote:

--
*Brian Jefferies*
Red Hat University
919-754-4035

Better technology. Faster innovation. Powered by community collaboration.
See how it works at redhat.com*.*

[2017-09-25 15:06] Mgranfie opened #430 "JUNK for Test"
We are excited to have you contribute to PatternFly!<br>
To create a GitHub issue, first determine which type of contribution you are making, a pattern or a bug, and then remove text for the contribution type, that you will not need.

## For Pattern contribution proposal, tell us about your idea...
(delete section if filing a bug)
#### 1. Choose the type of contribution for this pattern:
- [ ] Thi

[2017-09-25 15:09] #430 closed

[2017-09-26 15:20] mcarrano commented on #411
After discussions with @deernano @matthewcarleton and @kybaker we arrived at a proposal to go to a 2 line header where the first line with the logotype collapses on scroll. You can see a demo of that here: https://codepen.io/matthewcarleton/pen/bogyKg  See this JIRA story for the complete discussion: https://patternfly.atlassian.net/browse/PTNFLY-2547

@serenamarie125 @catrobson @maryclarke @jeper

[2017-09-26 15:54] mcarrano commented on #406
Design recommendations for a variety of login page templates are summarized in an InVision document here: https://redhat.invisionapp.com/share/59DNSUUZT#/255230613_1 @serenamarie125 @catrobson @maryclarke @jeperry please review and comment.

https://patternfly.atlassian.net/browse/PTNFLY-2559 created to track feedback and next steps.

[2017-09-26 15:59] mcarrano commented on #311
@serenamarie125 can you look at this when you have a chance and let us know if you are OK with the recommendations?

[2017-09-26 19:42] mcarrano commented on #423
A PatternFly Story has be created to make these updates. Ref https://patternfly.atlassian.net/browse/PTNFLY-2555

[2017-09-26 19:46] mcarrano commented on #408
This will be fixed as part of https://patternfly.atlassian.net/browse/PTNFLY-2555

[2017-09-27 02:21] junezhang commented on #390
@mcarrano, @zhutaoredhat will fix this issue.

[2017-09-27 09:23] zhutaoredhat commented on #390
@mcarrano I had fixed this bug and pulled the request. https://github.com/patternfly/patternfly-design/pull/433 Please have a review~

[2017-09-27 15:34] mcarrano commented on #314
@zhutaoredhat will make updates to the design documentation to reflect this. There is a PatternFly story created here: https://patternfly.atlassian.net/browse/PTNFLY-2553  @jennyhaines can you communicate the RGB you used for this to make sure we get this right?  @andresgalante will be updating CSS styles to make sure we keep this in sync.

[2017-09-27 16:16] jennyhaines commented on #314
Hi @mcarrano - The hex for that light blue is #edf8ff
Thanks!

[2017-09-28 14:05] mcarrano commented on #353
Need to verify before closing.

[2017-09-28 14:07] LHinson commented on #353
This has been added to the site and can be seen here: http://www.patternfly.org/pattern-library/forms-and-controls/help-on-forms/

Closing this issue @mcarrano

[2017-09-28 14:07] #353 closed

[2017-09-28 14:09] LHinson commented on #410
I think that makes sense @mcarrano

[2017-09-28 19:52] mcarrano opened #436 "Mockup on Errors and Validation not consistent with latest guidance"
- [x ] I would like to report a bug on, design documentation, visual or interaction design inconsistencies, feedback or suggestions<br>

The mockup on [Errors and Validations page](http://www.patternfly.org/pattern-library/forms-and-controls/errors-and-validation/) is not consistent with latest guidance on displaying buttons on forms. Should be Save and Cancel rather than Save changes and Close.

[2017-09-28 20:04] mcarrano opened #437 "'Field Level Help' and 'Help on Forms' are inconsistent and redundant"
## For Bug contributions, please provide the following information...
(delete section if proposing a design)
- [x ] I would like to report a bug on, design documentation, visual or interaction design inconsistencies, feedback or suggestions<br>

The new [Help on Forms](http://www.patternfly.org/pattern-library/forms-and-controls/help-on-forms/) pattern contains redundant information with [Field Le

[2017-09-28 20:06] mcarrano commented on #437
@LHinson I just noticed this today while reviewing some of the Forms and Controls content. I think our intent was to remove Field Level Help when we added Help on Forms, but want to verify. There was a recent update to the hi-fi mockups for Field Level Help that did not make it to the new pattern so this should also be updated.

[2017-10-02 13:58] LHinson commented on #437
+1 @mcarrano for both issues. We need work with @bleathem to understand how to address these types of things so that we know what to do in the future.

[2017-10-02 14:09] mcarrano commented on #437
I have added the 'Help Wanted' tag and we will see if this is something we can get in during the next sprint to make the needed corrections.

[2017-10-05 14:25] mcarrano commented on #409
Looks like this is now live on the website so will close.

[2017-10-05 14:25] #409 closed

[2017-10-05 16:56] Mgranfie commented on #409
Fantastic PatternFly addition!! Thanks everyone!

On Thu, Oct 5, 2017 at 10:25 AM, mcarrano <notifications@github.com> wrote:

[2017-10-05 19:25] mcarrano commented on #411
Per 10/5 UXS mtg lets move forward. I will create needed stories.

[2017-10-05 19:26] mcarrano commented on #311
I will create design story.

[2017-10-05 19:27] serenamarie125 commented on #311
These look great!  Thanks @yih-wang

[2017-10-05 19:30] mcarrano commented on #422
@LHinson will follow up with @matthewcarleton to confirm behavior of the buttons whether modal or embedded.

[2017-10-05 19:34] mcarrano commented on #334
@jennyhaines will create hi-fi visuals and send a separate PR.

[2017-10-05 19:37] jennyhaines commented on #334
That's right!

[2017-10-05 19:46] mcarrano commented on #337
See font-awesome solution http://fontawesome.io/icon/sort-amount-asc/ Will move to To-Do queue for future work but not high priority per 10/5 UXS call.

[2017-10-05 19:50] mcarrano commented on #389
Per @catrobson this is a current need for OpenShift.io. Will move to ToDo list.

[2017-10-06 13:44] mcarrano commented on #390
Verify that changes are live on the website before closing.

[2017-10-06 15:14] maryclarke opened #439 "Two-Column List Layout"
We are excited to have you contribute to PatternFly!<br>
To create a GitHub issue, first determine which type of contribution you are making, a pattern or a bug, and then remove text for the contribution type, that you will not need.

## For Pattern contribution proposal, tell us about your idea...

#### 1. Choose the type of contribution for this pattern:
- [X] This is a new pattern
- [ ] This is

[2017-10-09 13:36] mcarrano commented on #388
The recommendations outlined by @yih-wang here (https://docs.google.com/a/redhat.com/document/d/1gXWWj42h_yCPDh8_Xn6ZWhc2AyFSjV6tfHojg7SfLo4/edit?usp=sharing) do conflict with earlier recommendations as stated on the Buttons on Forms page here: https://docs.google.com/a/redhat.com/document/d/1gXWWj42h_yCPDh8_Xn6ZWhc2AyFSjV6tfHojg7SfLo4/edit?usp=sharing

@serenamarie125 @catrobson @maryclarke @jepe

[2017-10-09 17:24] catrobson commented on #388
@mcarrano Thanks for pointing us to this.  I think the disable of the submit button came from teams who were working on UIs like the RHCI installer where there was a one-page experience and the button and content were always visible.  In these situations, the disabling of the button does make sense.  I agree with @yih-wang's suggestion that in the cases of long scrolling-page forms, this does not

[2017-10-09 18:41] andresgalante commented on #314
Hi @jennyhaines that color is not on our color pallet: https://www.patternfly.org/styles/color-palette/

If it's ok with you I'll create a PR with pf-blue-50 `#def3ff`, what do you think?

[2017-10-09 18:50] jennyhaines commented on #314
Hi @andresgalante - So does that mean that the selected (non-hover) state is #bee1f4 , and the hover state would be #def3ff (one tint lighter in the color palette)?

[2017-10-09 18:56] lizsurette commented on #388
@mcarrano Some additional comments to @catrobson's...

1) "When a required field is not filled or a wrong format is input, we recommend showing a validation as the widget loses focus." - I think this is a good idea, but one thing to be careful about is that all of the widgets support something like this consistently.

2) I have a case similar to the RHCI UI that Cat mentions for OpenStack where we

[2017-10-09 19:31] andresgalante commented on #314
@jennyhaines it'd be the same color active and hover :(
@kybaker Can we add a new color to the color pallet?

What about the new list? https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/list-pf.html

@mcarrano Should it follow the same blue? I think that if we change it, it will break OpenShift

[2017-10-10 00:07] mcarrano commented on #314
I'm a little confused about this question @andresgalante . I though that we were changing from gray to blue on hover per the request of the OpenShift team. Is that not the case?

[2017-10-10 03:43] zhutaoredhat commented on #390
Hi @mcarrano It looks well on PatternFly.org. Please close this task~

[2017-10-10 09:00] yih-wang commented on #309
@mcarrano @LHinson I summarised common error conditions and some initial recommendations can be found in this document: https://docs.google.com/a/redhat.com/document/d/1Ct6WqRhOzyBhqyT9ZNJ_bPdLUocMPDZDZlPVNqSFjoQ/edit?usp=sharing Please take a look and feel free to leave comments. Thanks.

[2017-10-10 13:11] cshinn commented on #398
Initial documentation has been created and is available here https://docs.google.com/a/redhat.com/document/d/1Jjx0kNe6qb4lCK26w5wbDriRmObenw6CeTqwY5J4eqs/edit?usp=sharing

[2017-10-10 13:11] cshinn commented on #397
Initial documentation has been created and is available here https://docs.google.com/a/redhat.com/document/d/1Jjx0kNe6qb4lCK26w5wbDriRmObenw6CeTqwY5J4eqs/edit?usp=sharing

[2017-10-10 13:11] cshinn commented on #348
Initial documentation has been created and is available here https://docs.google.com/a/redhat.com/document/d/1Jjx0kNe6qb4lCK26w5wbDriRmObenw6CeTqwY5J4eqs/edit?usp=sharing

[2017-10-10 13:18] mcarrano commented on #390
Thanks @zhutaoredhat . Will close.

[2017-10-10 13:18] #390 closed

[2017-10-10 14:41] andresgalante commented on #314
@mcarrano me too. So, let me know what to do and I'll do it.

We have 2 types of lists and @jennyhaines is proposing a color that is not on our color pallet. I can absolutely change it if you think that's ok. I am just pointing out what I am required to do so we are all aware of the consequences.

[2017-10-10 15:01] mcarrano commented on #314
I'll defer to @kybaker and @jennyhaines on the exact color and whether we need to add this as a new color to the palette.

[2017-10-10 15:31] jeff-phillips-18 commented on #314
I would suggest adding it to the palette. Applications may want to reference the same value to be consistent in other instances.

[2017-10-10 17:05] kybaker commented on #314
@jennyhaines @andresgalante @mcarrano I agree with Jeff here. The cost of adding it is outweighed by the potential for promoting consistency. We should add it. @mcarrano  can you add a story for updating the color palettes and the CSS to reflect this change?

[2017-10-11 01:02] serenamarie125 opened #443 "Shuttle Selector/Dual Pane Selector - New Design Pattern"
#### 1. Choose the type of contribution for this pattern:
- [x] This is a new pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
Satellite is using this pattern, and this can be used in other Management products.
#### 3. Title
"Shuttle Selector" Or "Dual Pane Selector" were original thoughts, although unsure if this is recognizable by all
#### 4. Use

[2017-10-11 01:03] serenamarie125 commented on #443
Assigning to myself, since this will be contributing back from the Mgmt side

[2017-10-11 14:09] suzannehillman commented on #410
I've gotten some replies through the email list and @mcarrano's forward. I'll be asking for info on the slack channel shortly.

I'm not sure how many people are using patternfly's design patterns in general, so I can't tell if the number of replies I've gotten is small or not!

I'm beginning to wonder how well known the terminology in patternfly is: eg, willl people looking for top nav bar think t

[2017-10-12 05:54] junezhang commented on #437
@mcarrano @LHinson please help to review this PR.

[2017-10-12 18:51] mcarrano commented on #389
Work is currently in progress as https://patternfly.atlassian.net/browse/PTNFLY-2580

[2017-10-12 18:54] mcarrano commented on #246
Work in progress as https://patternfly.atlassian.net/browse/PTNFLY-2583 (Update Filter pattern) and https://patternfly.atlassian.net/browse/PTNFLY-2584 (Update terminology and wording.

[2017-10-12 18:55] mcarrano commented on #411
Work to make these changes to the library in progress as https://patternfly.atlassian.net/browse/PTNFLY-2581

[2017-10-12 20:44] #408 closed

[2017-10-12 20:44] #423 closed

[2017-10-13 15:12] mcarrano commented on #397
@cshinn I just reviewed your document and left a bunch of comments. These are mostly around various details, but I really like the overall approach. Great job pulling this together! If it would help, I'd glad to meet live to review my comments with you.

So do I understand from your document that we would have three new patterns? Filters, Textbox Filters, and Checkbox Filters? I think that makes s

[2017-10-13 15:16] mcarrano commented on #348
@cshinn So given your document, is the Faceted Filter solution what you are now calling the Checkbox Filter? If so, I'd advise renaming or closing this issue to avoid confusion.

[2017-10-13 20:05] cshinn commented on #398
@mcarrano works for me, I would expect that the three sections of the document went into three different pages though.

[2017-10-13 20:09] mcarrano commented on #403
@sjcox-rh can you please be sure to attach the requirements you are gathering here?  Thx.

[2017-10-16 17:23] LHinson commented on #246
Jira story 2584 is completed and site has been updated http://www.patternfly.org/styles/terminology-and-wording/#capitalization

[2017-10-16 18:20] LHinson opened #448 "Wizard Angular Code Tab is blank"
http://www.patternfly.org/pattern-library/communication/wizard/#/code/angular

The angular code tab is blank. You should be able to see:  http://www.patternfly.org/angular-patternfly/#/api/patternfly.wizard.component:pfWizard

[2017-10-16 18:22] LHinson opened #449 "Canvas View code tab"
The Canvas View page is here: http://www.patternfly.org/pattern-library/content-views/canvas-view/#/code/angular

The code tab should be disabled for html/css however should display angular code: http://www.patternfly.org/angular-patternfly/#/api/patternfly.canvas.component:pfCanvasEditor

[2017-10-18 07:07] zhutaoredhat commented on #389
Design Document:
https://docs.google.com/document/d/1Z94cNbL_8TJJZLPPWExRFkovYliID5WmEL9_-2nrjZ8/edit?ts=59e657e4#
The PR:
https://github.com/patternfly/patternfly-design/pull/452
@mcarrano The document have been pull request. Please have a review~ Great thanks.

[2017-10-18 08:38] yih-wang commented on #388
@mcarrano Agree with @catrobson and @lizsurette's comments. We could have a general rule for common forms and a specific rule for wizards. I added a paragraph to the end of the doc (https://docs.google.com/a/redhat.com/document/d/1gXWWj42h_yCPDh8_Xn6ZWhc2AyFSjV6tfHojg7SfLo4/edit?usp=sharing). If we all agree the solution, I can move forward with updating the pattern in PatternFly.

[2017-10-18 15:53] mcarrano commented on #406
Today a meeting was held with @mcarrano, @LHinson , @catrobson , Amy Glass, and Stian Thorgerson, and Stan Silvert (KeyCloak project) to discuss next steps.  The following action items were captured:

* Keycloak needs Way to log into corporate Single Sign-On login. This is use case where the user signs on once to gain access to multiple applications within an organization. Need to communicate hier

[2017-10-19 00:04] catrobson commented on #389
Sorry it took me so long to get to a review @zhutaoredhat - I had two items I was hoping we could add to this pattern that I added to the google doc.  Otherwise the proposal looks great!  Thanks for working through this.

[2017-10-19 07:33] zhutaoredhat commented on #389
@catrobson Thanks for your suggestion. That's great. I had pulled a new request to update it.

[2017-10-19 14:11] mcarrano commented on #406
New PatternFly stories created:
* Add single-sign on: https://patternfly.atlassian.net/browse/PTNFLY-2602
* Visual design for new login screens: https://patternfly.atlassian.net/browse/PTNFLY-2603

[2017-10-19 14:38] mcarrano commented on #334
Confirmed changes on site. I will close. Thanks, everyone who worked on this!

[2017-10-19 14:38] #334 closed

[2017-10-19 16:02] mcarrano opened #459 "Need better guidance on selecting date and time"
#### 1. Choose the type of contribution for this pattern:
- [ x] This is a new pattern
- [ ] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
#### 3. Title: Date and Time
#### 4. Use Cases + Requirements
* User wants to set a date, time, or date and time.
* User wants to set a date range for filtering.
We curre

[2017-10-19 18:47] mcarrano commented on #246
All PRs have been merged. Verify changes on website before closing.

[2017-10-19 19:37] mcarrano commented on #443
Let's move forward with use case any discovery work.

[2017-10-19 19:44] mcarrano commented on #439
After further discussions with @andresgalante and CSS team, will close for now

[2017-10-19 19:44] #439 closed

[2017-10-19 19:50] mcarrano commented on #459
@serenamarie125 will consider if we have a resource to work on this.

[2017-10-19 20:01] jeperry commented on #459
Sam Linville worked on a date range picker, so when this is picked up we should look at this. https://redhat.invisionapp.com/share/ZBCBL4UP6#/screens/256225779

[2017-10-19 20:13] mcarrano commented on #410
@suzannehillman just wanted to check in on this. I understand that you had some conversation with @Mgranfie about shifting focus to look at general menu guidelines. Should I keep this issue open? Do you or @Mgranfie want to create a new issue to describe work you will be doing going forward?

[2017-10-19 20:23] mcarrano commented on #437
Looks like this is complete, so will close. Thanks @junezhang !

[2017-10-19 20:23] #437 closed

[2017-10-20 01:34] serenamarie125 opened #460 "Typo in Filter Mockup"
- [x] I would like to report a bug on design documentation

Two images on the Filter Design page : http://www.patternfly.org/pattern-library/forms-and-controls/filter/#/design  "Status has ben mispelled (Stauts)
![image](https://user-images.githubusercontent.com/12504403/31801305-365ff232-b515-11e7-8b2b-09b839ffa90c.png)
]

[2017-10-20 13:02] LHinson commented on #460
Hey @zhutaoredhat Would you be able to fix this one? FYI @mcarrano

[2017-10-20 15:13] LHinson opened #461 "Inconsistent menu (vertical nav) behavior"
[Issue](https://github.com/patternfly/patternfly/issues/790#issuecomment-337901644) filed with patternfly stating:

[2017-10-20 18:17] andresgalante commented on #314
I'll close this issue since this PR is open https://github.com/patternfly/patternfly/pull/798

[2017-10-20 18:17] #314 closed

[2017-10-23 04:34] zhutaoredhat commented on #460
@LHinson No problem. I had fixed it and pulled a new request. https://github.com/patternfly/patternfly-design/pull/463/files
Please have a review~

[2017-10-23 05:57] yih-wang commented on #406
Thanks @mcarrano, I will take the single-sign on task. Will we be responsible for the visual design, or the brand team will work on it?

[2017-10-23 15:42] suzannehillman commented on #410
Hi @mcarrano,

Yeah, it might be wise to close this and open a new issue. I need to chat
more with @mgranfie about what we're thinking first. :)

On Thu, Oct 19, 2017 at 4:13 PM, mcarrano <notifications@github.com> wrote:

--
https://suzannehillman.com/portfolio.html

[2017-10-23 16:22] Mgranfie opened #464 "Standard Menu UI's"
UI specifications for standard menu designs, are needed, so that designers and developers can implement consistent menu solutions in our applications.

#### 1. Choose the type of contribution for this pattern:
- [X] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
Capturing current implementations of menus and

[2017-10-23 16:39] guillaumevincent commented on #406
Hello,
this feature will be really useful for us too.

Here the actual login screen we use:

![screenshot-2017-10-23 distributed ci](https://user-images.githubusercontent.com/943762/31901171-fb4203f2-b820-11e7-8055-0a21b7dedf5e.png)

There is some issue on the mobile experience also:

![screen shot 2017-10-23 at 18 37 41](https://user-images.githubusercontent.com/943762/31901282-45c73ad2-b821-11e7

[2017-10-23 17:34] LHinson commented on #461
Red Hat QE also noted an issue with hover to open vertical nav menus. See https://bugzilla.redhat.com/show_bug.cgi?id=1491622

[2017-10-23 18:01] mcarrano commented on #110
I've created a PF story for this as https://patternfly.atlassian.net/browse/PTNFLY-2610 and moving back to discovery queue as more requirements research is needed here.

[2017-10-23 18:58] mcarrano commented on #410
OK. I will close this in favor of the new issue that was created.

[2017-10-23 18:58] #410 closed

[2017-10-23 19:02] mcarrano commented on #406
Someone from the Visual team will handle the visual design story, so we just need the SSO template from you, @yih-wang . Thanks for taking this on!

[2017-10-23 19:23] mcarrano commented on #337
Created PF story https://patternfly.atlassian.net/browse/PTNFLY-2609 to address this by adding a second variant to the Sort pattern.

[2017-10-23 19:39] mcarrano commented on #388
@yih-wang Sorry to take so long to get back to you on this, but yes, let's move forward with your suggestion and update the pattern accordingly by sending a PR.

[2017-10-23 19:41] mcarrano commented on #436
@yih-wang Since you are working on the Errors and Validation page, I wanted to assign this small issue to you also. It just requires that we make sure that the mockups on this page are consistent with our button labeling standards.

[2017-10-24 09:10] yih-wang commented on #388
@mcarrano @LHinson Added the new rules to the existing [Errors and Validations](http://www.patternfly.org/pattern-library/forms-and-controls/errors-and-validation/) page. A PR was sent: #465 . Plz have a review, thanks.

[2017-10-24 11:53] beanh66 opened #466 "Add a loading state to the base dashboard card pattern"
This is an enhancement to an existing pattern to add a loading state to the base dashboard card.

- The pattern is needed for MIQ and the Angular implementation is in progress [here](https://github.com/patternfly/angular-patternfly/issues/658)
- Users have to wait for dashboards to load when there is a lot of data to present and a loading state would distinguish which cards needed time to load
- W

[2017-10-24 16:22] sjcox-rh commented on #403
Here is the link for the requirements doc for the custom filter builder. Please review and let me know if you have any questions.

Thanks!

https://docs.google.com/a/redhat.com/document/d/1bbPI_jPig3PrvfrVTQUoKB36BkYd0PEie2ylURysXUg/edit?usp=sharing

@mcarrano @maryclarke @serenamarie125 @LHinson @catrobson @lizsurette

[2017-10-26 02:42] serenamarie125 commented on #466
@beanh66 I think we need a Loading label here ... let's chat

[2017-10-26 02:51] serenamarie125 opened #467 "Add guidance for a loading state to the Card View"
This is an enhancement to an existing pattern to add a loading state note to the card view.

When there are performance issues, users have to wait for the view to load.  We should give guidance around using a loading state ( which would likely be a Large Spinner control with the "Loading" text below it).

Note that on the design page of this pattern, we are already giving guidance around if the vi

[2017-10-26 02:52] serenamarie125 opened #468 "Add guidance for a loading state to the List View"
This is an enhancement to an existing pattern to add a loading state note to the list view.

When there are performance issues, users have to wait for the view to load.  We should give guidance around using a loading state ( which would likely be a Large Spinner control with the "Loading" text below it).

Note that on the design page of this pattern, we are already giving guidance around if the vi

[2017-10-26 02:54] serenamarie125 opened #469 "Add loading state guidance to the Table View"
This is an enhancement to an existing pattern to add a loading state note to the table view.

When there are performance issues, users have to wait for the view to load.  We should give guidance around using a loading state ( which would likely be a Large Spinner control with the "Loading" text below it).

Note that on the design page of this pattern, we are already giving guidance around if the v

[2017-10-26 03:01] serenamarie125 opened #470 "Add guidance to the login page re: a failed login attempt"
This is an enhancement to an existing pattern ([login page](http://www.patternfly.org/pattern-library/application-framework/login-page/
)) to include additional documentation regarding a failed login attempt.

Currently our documentation states that we should show an informational or error message about the failure.

We should include documentation stating that both the user name and/or password a

[2017-10-26 12:32] sdash-redhat opened #472 "Saved Filter"
I have created a PR regarding this:
https://github.com/patternfly/patternfly-design/pull/471

## For Pattern contribution proposal, tell us about your idea...
Many times while using a filter component, the user applies a set of filters and get the result. Later on he wishes to filter the data set using the same criteria, he has to again select those criteria again. Current proposal helps the user

[2017-10-26 14:19] catrobson commented on #470
agreed with this solution for more security

[2017-10-26 14:21] catrobson commented on #469
@serenamarie125 Agree for first load.  In some of our implementations, we're also seeing lazy load taking time, and in this case I think clearing out the table doesn't make sense.  Do you think a lazy load solution for spinners is another separate issue/contribution?

[2017-10-26 14:27] catrobson commented on #472
This is a duplicate issue with https://github.com/patternfly/patternfly-design/issues/306.  This issue has some more detail so I'll let you handle which issue you want to keep around @mcarrano

[2017-10-26 15:49] mcarrano commented on #246
This is all set. Will Close. Thanks, @zhutaoredhat .

[2017-10-26 15:49] #246 closed

[2017-10-26 17:16] mcarrano commented on #306
Since @sdash-redhat has opened a new issue #472 , I will close this one as a duplicate.

[2017-10-26 17:16] #306 closed

[2017-10-26 17:48] mcarrano commented on #388
@yih-wang  Please see http://www.patternfly.org/pattern-library/forms-and-controls/buttons-on-forms/ As part of this PR or as a separate PR, so you think we need to update this pattern at all? See the section on Enabling/Disabling Actions.

[2017-10-26 20:31] mcarrano commented on #110
I have marked this story as 'Help Wanted' in case anyone is interested in taking it on. As a first step, we should research and understand all relevant product use cases and requirements. Want to understand how we are supporting drill-down in product now, what are valid options, and make recommendations to guide designers towards consistent solutions.

FYI @catrobson @serenamarie125 @maryclarke  T

[2017-10-26 21:36] beanh66 opened #473 "Visual inconsistencies with the empty state shown on the Filter pattern"
### Bug: Visual inconsistencies with the empty state shown on the **Filter** pattern.
- The Filter pattern should remove empty state examples and just link to the Empty State pattern.
- A Filter example should be added to the Empty State pattern so there is only one place to maintain empty state visuals.
- All Content View patterns currently do this effectively.

### Empty State:
<img width="1025"

[2017-10-26 21:36] beanh66 commented on #473
FYI @LHinson @serenamarie125

[2017-10-26 22:01] beanh66 opened #474 "Visual inconsistencies with showing Filter Results on various patterns"
### Bug: Visual inconsistencies with the Filter Results text
* Results can either be shown as "X Results" or when filters are applied, the count, or "X of Y" is displayed. There is also "X of Y" selected for cases where multi select is enabled with checkboxes.
* We are inconsistent in how those results/ counts/ selections are displayed.
* These counts appear on the following patterns:
1. Paginatio

[2017-10-26 22:03] beanh66 commented on #474
FYI @serenamarie125 @cshinn

[2017-10-26 22:16] beanh66 commented on #474
Including examples below:
<img width="1026" alt="screen shot 2017-10-26 at 6 03 40 pm" src="https://user-images.githubusercontent.com/18057044/32079434-9dea7892-ba78-11e7-9ec2-e9a769ab9d65.png">
<img width="1029" alt="screen shot 2017-10-26 at 6 03 50 pm" src="https://user-images.githubusercontent.com/18057044/32079435-9df662ba-ba78-11e7-984a-45bab00f01f3.png">
<img width="1027" alt="screen shot 2

[2017-10-26 22:23] beanh66 opened #475 "Remove masthead details from Vertical Nav and link to the Masthead pattern instead"
### Bug: Remove masthead details from **Vertical Nav** design tab and link to the Masthead pattern instead
- On the Vertical Navigation pattern's "Design" tab, there is a "Masthead Design" section with an image and details. This should be removed and simply provide one sentence with a link to the dedicated **Masthead** pattern.
- The image on the overview tab can likely be removed as well and just

[2017-10-27 06:36] zhutaoredhat commented on #246
@mcarrano No problem~

[2017-10-27 07:49] deernano commented on #411
@mcarrano  Please review the PR of responsive state. Thank you !
https://github.com/patternfly/patternfly-design/pull/476

[2017-10-27 08:54] yih-wang commented on #388
@mcarrano Yes, I think we should clarify it will happen only in one-page design. The button should always be enabled in other cases. I'll update it together in #465 .

[2017-10-27 13:24] mcarrano commented on #474
@beanh66 Thanks for filing this. I am aware that we have lots of inconsistency in this area. Since @cshinn is reworking the Filter pattern, I'd like to hold off on making immediate updates, but then we should definitely go back into each of these other patterns and make them consistent.

[2017-10-27 13:41] beanh66 commented on #474
No problem @mcarrano, I figured that might be the case so I tagged @cshinn in case it overlaps with any of his work. It was something we ran into with Angular implementations and trying to get everything more consistent. I'm happy to revisit the issue following the filter updates and assist with any more changes as needed!

[2017-10-30 14:00] deernano commented on #411
@mcarrano Updated, please review again~

[2017-10-31 07:44] yih-wang commented on #436
@mcarrano This issue has been solved in #465 . I think it can be closed. Thanks.

[2017-10-31 13:34] Mgranfie opened #478 "Visual design + review of PatternFly.org Contribution web pages"
We are excited to have you contribute to PatternFly!<br>
To create a GitHub issue, first determine which type of contribution you are making, a pattern or a bug, and then remove text for the contribution type, that you will not need.

## For Pattern contribution proposal, tell us about your idea...
(delete section if filing a bug)
#### 1. Choose the type of contribution for this pattern:
- [ ] Thi

[2017-11-02 03:37] yih-wang commented on #470
@serenamarie125 I'm just working on the guidelines of error message in login page. I can take this task and finish the document.

[2017-11-02 06:07] zhutaoredhat commented on #460
@serenamarie125 This bug had been fixed. could you help me close this task please?

[2017-11-02 14:06] mcarrano commented on #460
@zhutaoredhat @serenamarie125 @LHinson I have verified and merged #480 I will close this.

[2017-11-02 14:06] #460 closed

[2017-11-02 15:02] mcarrano commented on #475
After discussing with @beanh66 I agree that it's redundant to have this documentation in two places and we should just update this to point to Masthead pattern where complete documentation exists.

[2017-11-02 15:07] mcarrano commented on #473
Discussed with @beanh66 and we agreed to keep documentation of null filter result empty state with the filter pattern as this is directly related to Filter behavior. We should still review visual look & feel for consistency and determine if changes should be made. Specific questions concern font treatment, background colors, and use of buttons vs. links.

@kybaker can you take a look at this and g

[2017-11-02 15:24] mcarrano commented on #470
Thanks for taking this one @yih-wang . I have assigned you.

[2017-11-02 15:27] mcarrano commented on #469
@serenamarie125 is there someone assigned to work on this? (and also #467)

[2017-11-02 15:28] beanh66 commented on #473
@kybaker FYI @jennyhaines may have started some work on empty state patterns in the context of OpenShift last sprint. FWIW, I think the main concern was the inconsistency between the font size/ weights and not really related to the link/button. Both look fine to me, just a question of which we should be using. It might be as simple as showing the filter empty state as an alternative example (links

[2017-11-02 15:43] mcarrano commented on #472
@sdash-redhat @catrobson Because we are currently working on revising our overall filter framework (see #397 ), I'd like to hold off on doing a final review of #471 until that is in. I think the best approach here will be to specify how the save and recall actions should integrate with the overall Filter pattern that @cshinn is working on and them document the details of the Save interactions in a

[2017-11-02 17:50] jennyhaines commented on #473
@beanh66 I like the idea of using the font sizes/weights from the PatternFly Empty State pattern, and just including a link rather than a button at the bottom, since the action doesn't seem imperative.

[2017-11-02 17:55] rhamilto commented on #461
*If* hover is going to persist, I recommend it only be used on non-touch devices since browsers like mobile Safari convert the first "click" to hover.

[2017-11-02 19:12] mcarrano commented on #403
@sjcox-rh I think we are good to move forward with a preliminary design based on feedback. Please also consider how this will integrate with the filter framework that @cshinn is working on.

[2017-11-02 19:31] mcarrano commented on #475
@LHinson Do you agree with making this change? If so I will add to our backlog.

[2017-11-02 20:06] LHinson commented on #475
+1 Thanks @mcarrano @beanh66

[2017-11-03 03:21] zhutaoredhat commented on #460
@mcarrano Thank you~

[2017-11-06 14:38] mcarrano commented on #475
https://patternfly.atlassian.net/browse/PTNFLY-2618 has been created to make this update.

[2017-11-06 21:02] mcarrano commented on #311
Per discussion with @andresgalante am recommending that we put this on hold for now as there is no easy custom right-click menu solution for Chrome. If there is a product need, we will require a custom component and should revisit this pattern at that time. A story has been created in the PF backlog as https://patternfly.atlassian.net/browse/PTNFLY-2619 as a cross-reference for this.

[2017-11-07 18:59] mcarrano opened #485 "Ensure consistent use of hand vs. pointer across patterns"
Hand and pointer cursor are used inconsistently relative to list or card actions, selection, and drill down. These differences can be seen in the sample implementations for the following patterns:

List View: http://www.patternfly.org/pattern-library/content-views/list-view/#/code
Card View: http://www.patternfly.org/pattern-library/content-views/card-view/#/code
Notification Drawer: http://www.pa

[2017-11-08 06:20] yih-wang commented on #109
@mcarrano I went over the Overview page of List View (http://www.patternfly.org/pattern-library/content-views/list-view/) but haven't detected the bug. Can you please check if the issue still exists. If so, I can fix it.

[2017-11-08 16:17] mcarrano commented on #109
@yih-wang I think what this is referring to is the fact that the example at the top of the Overview page shows what the list view will look like when it wraps because it's too wide to fit the container. But if you click the link to view the full page example, you'll actually see that all the elements are inline. You'll also see that the examples below look different. That was the confusion when so

[2017-11-09 14:58] LHinson opened #486 "Update Masthead Utility Icons with Hover"
Update the images (seen on the bottom of the page) for the masthead [1] to include the light gray hover background (as seen on the horizontal example [2]). Update the text to specify this hover behavior. So instead of:
*It should be visually indicated when a user hovers or selects an icon from the Masthead.

It should read:
* The icon color changes to white and has a light gray background to visua

[2017-11-09 15:32] mcarrano opened #487 "Add icon and recommendation for external links"
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [ x] This is an enhancement on an existing pattern
#### 2. Icons; Terminology and Wording
#### 3. Title
#### 4. Use Cases + Requirements
###### *When we have a link that goes to an external site, there is currently a recommendation to use an icon, but that icon is not specified. Recommend using 'fa-external-lin

[2017-11-09 20:33] mcarrano commented on #473
@kybaker please take a look and let me know next steps.

[2017-11-09 20:43] mcarrano commented on #311
This capability is needed in product. @serenamarie125 will follow-up with potential implementation from RHEV team for contribution.

[2017-11-09 20:45] mcarrano commented on #459
@serenamarie125 will look at whether there is an available resource.

[2017-11-09 20:55] mcarrano commented on #388
Merged this PR. Validate changes on site before closing.

[2017-11-09 21:00] mcarrano commented on #436
Merged pr #465 Validate changes to site before closing.

[2017-11-10 03:27] junezhang commented on #486
@LHinson, Haley @yih-wang  would like to take this issue.

[2017-11-10 09:35] yih-wang commented on #486
@LHinson I found the style of user icon is not the latest version in PatternFly. So I replaced all user icons in the images. Also, I think the icon should be grey when not selected but it used to be white, modified too. Please have a review in #489 , thanks.

[2017-11-10 13:30] serenamarie125 commented on #487
Suggestion ... this is what is used in OpenShift
<img width="137" alt="screen shot 2017-11-09 at 9 09 19 pm" src="https://user-images.githubusercontent.com/12504403/32660539-4ef1f4f2-c5f1-11e7-90ca-a75aecc2eddd.png">

I'd also suggest that we recommend that external links are brought up in a new browser/tab, based on the browser preference

[2017-11-10 14:24] mcarrano commented on #487
Agree @serenamarie125 I was thinking the same.

[2017-11-10 14:56] cshinn commented on #487
I would sort of expect this documentation to exist in the terminology and wording section along with the other link documentation. Does that make sense?

[2017-11-10 15:02] mcarrano commented on #487
@cshinn  Yes. If you look at the Terminology and Wording page, there is already mention of of this, but the icon is not called out. I think this issue just requires to small updates:

1- the text on Terminology and Wording.
2- Add this icon to the recommended list of 'fa' icons in the Icons table here: http://www.patternfly.org/styles/icons/

[2017-11-13 01:11] junezhang commented on #486
@LHinson @yih-wang For https://github.com/patternfly/patternfly/issues/828, we also need to update the designs in Notification Drawer.
http://www.patternfly.org/pattern-library/communication/notification-drawer/

[2017-11-13 08:17] yih-wang commented on #486
@LHinson @junezhang @mcarrano I went over all the patterns with masthead in PatternFly and found we don't have a general rule for icon appearance in different states (default/hover/selected). So the mockups are not consistent in different patterns.

- Horizontal Navigation page: Default to be grey, have a grey background when hovering, have a ground and highlighted when selected.
![horizontal navi

[2017-11-13 13:32] mcarrano commented on #486
@yih-wang We certainly should make sure we are being consistent wherever the masthead appears. Let's get your first PR reviewed and merged and then we can look at some of these other cases. I've asked @kybaker to just take a look at your visuals. Thanks for raising this.

[2017-11-14 16:28] sjcox-rh commented on #403
@mcarrano perfect! Should I go ahead and create a story in PatternFly's backlog? and sorry for the delay, just got back from PTO

[2017-11-14 17:24] jeperry commented on #485
There are two concerns
- Guidance for when to change cursors from pointer (default) to hand
- Guidance for when to (or not to) use styling to change the appearance of objects on hover

I think it is ok for this issue to focus on the former and not the latter, but both need to be addressed.

I think we should define a general rule that we should always change the cursor to hand if over an item that

[2017-11-14 17:33] mcarrano commented on #403
Yes, go ahead and create a story in the PatternFly backlog @sjcox-rh and you can link it here.

[2017-11-16 20:18] mcarrano opened #492 "Use of tables versus lists for displaying data (Table List hybrid needed?)"
Currently, there seems to be some confusion about when to use a table or a list view, what the differences are, and whether a new variation is needed that combines list and table behaviors.

Reference the following email discussion:

        Many teams have been running into the need for a hybrid table/list.  Something that looks like a list, but functions more like a table.  We've started gatheri

[2017-11-16 20:23] mcarrano opened #493 "Inline Alert"
This is a pattern that started rolling into OpenShift.io designs because the existing patterns were not quite doing the job for our use cases.  The idea is to use a vertical line on rows or cards that have issues associated with them as an aggregate status designating some issue, to help guide the user's eyes towards that row/card.  I'm not sure if this should be an extension of the existing patte

[2017-11-16 20:27] mcarrano opened #494 "Pinned rows in List View"
This is a pattern that was identified for Openshift.io as well, where they wanted the ability to allow users to pin a few results to the top of the returned results list so they could also quickly find those objects.  This would be an added capability to the List View pattern.

[2017-11-16 21:18] #348 closed

[2017-11-16 21:18] #397 closed

[2017-11-16 21:18] #398 closed

[2017-11-16 21:21] mcarrano commented on #436
Verified on website.

[2017-11-16 21:21] #436 closed

[2017-11-16 21:22] mcarrano commented on #388
Verified.

[2017-11-16 21:22] #388 closed

[2017-11-16 21:24] mcarrano commented on #389
PR #452  merged and verified

[2017-11-16 21:24] #389 closed

[2017-11-17 20:26] kybaker commented on #473
@mcarrano Please make a story for this and we can work with @serenamarie125  to prioritize it against the other stories.

[2017-11-17 20:54] mcarrano commented on #473
A story where @kybaker ?

[2017-11-19 13:12] serenamarie125 opened #495 "Language Selector documentation needs to update imagery"
This is a bug with the existing Language Selector pattern

The [design section of this pattern](http://www.patternfly.org/pattern-library/forms-and-controls/language-selector/#/design) includes an image of the Login Page.  The button on this page should be "Log In" rather than a single word.

Current image included in pattern:
![language_05](https://user-images.githubusercontent.com/12504403/32990

[2017-11-19 13:24] serenamarie125 opened #496 "Inconsistent terminology used in Notification Drawer"
The existing [Notification Drawer pattern](http://www.patternfly.org/pattern-library/communication/notification-drawer/#/design) has inconsistencies with the pattern.

In the accordion, there is italicized text indicating the number of "new" events.  The pattern also has a "Mark All Read" link.  These two terms are conflicting.  The italicized text should read "unread" rather than "new".  The conc

[2017-11-19 13:32] serenamarie125 opened #497 "Some content view images need minor updates to use "Active Filters" rather than "Active filters""
A few of the content view patterns include images which use inconsistent labels.  "Active filters:" should be changed to "Active Filters:" in the following images:
- http://www.patternfly.org/pattern-library/content-views/list-view/img/standard-list-view.png
- http://www.patternfly.org/pattern-library/content-views/card-view/img/single-select-card-view.png
- http://www.patternfly.org/pattern-libra

[2017-11-19 14:17] serenamarie125 commented on #473
@mcarrano I can create a story on the OSUX board and get it contributed from management side
FYI @kybaker

[2017-11-20 13:59] mcarrano commented on #473
I would be fine with that @serenamarie125 . I was going to create a PatternFly story but I'm good either way. I guess it depends on who will do the work. Thoughts @kybaker ?

[2017-11-20 19:24] mcarrano commented on #341
Related issue: #342

[2017-11-20 19:35] mcarrano commented on #497
We should review and update all content view patterns to reflect updated filter bar design.

[2017-11-20 19:39] mcarrano commented on #342
This issue has a dependecy on #341 . Need to resolve how Select all should work on all view types (Table view and others) and make appropriate updates to all examples.

[2017-11-20 19:41] mcarrano commented on #341
See earlier research on pagination and selection in content views here: https://blog.patternfly.org/pagination-in-patternfly-second-round-cafeteria-testing/

[2017-11-20 19:52] kybaker commented on #473
@mcarrano I think it would be better to have Serena do it. It can then get prioritized against MGMT work since it was Colleen who created this.

[2017-11-20 20:14] mcarrano commented on #473
I'm good with that. @serenamarie125 when you create the story, just link it here.

[2017-11-22 15:37] serenamarie125 opened #498 "Need a pattern for Session Timeout"
Would like a new design pattern to describe a situation when the session is about to expire, and they will be logged out.

The Use Case is that there has been no activity in a certain amount of time, and that the system will log out, unless the user decides to continue the session.

We had some conversation around this with designs, and came up with the following suggested design:
<img width="464"

[2017-11-27 15:18] #466 closed

[2017-11-27 17:21] suzannehillman commented on #464
Hi all! I'm attaching the existing information I collected around the masthead user dropdown, and there's a few things to be aware of based on conversation with @Mgranfie:

* The correct wording and capitalization for logging out is "Log Out".
* OpenShift is still in progress - there's a section for 'now' and a section for 'in progress'. The former only has a single item in the menu (see Catherine

[2017-11-27 17:22] suzannehillman commented on #464
[Masthead user dropdown - Sheet1.pdf](https://github.com/patternfly/patternfly-design/files/1506865/Masthead.user.dropdown.-.Sheet1.pdf)

[2017-11-27 19:11] sjcox-rh commented on #403
Here is the conceptual design story in Jira:

https://patternfly.atlassian.net/browse/PTNFLY-2649

[2017-11-28 15:23] #486 closed

[2017-11-30 16:07] ssilvert opened #500 "Need icon enahancements"
As I understand it, there is currently a very limited set of icons that are known to work well with PatternFly.
https://www.patternfly.org/styles/icons/

Keycloak needs to allow administrators to select and/or upload icons that will eventually be displayed in PatternFly templates.  The very limited icon set and even more limited color use will make for a poor user experience.

The use case for thi

[2017-11-30 16:38] mcarrano commented on #470
@yih-wang Do you consider that this has been addressed by your new login page designs?

[2017-11-30 16:40] mcarrano commented on #422
@LHinson @matthewcarleton Can you comment on this issue? Is it still pending?

[2017-11-30 16:44] mcarrano commented on #406
Interaction design has been reviewed and is summarized here: https://redhat.invisionapp.com/share/2DE6FA656#/screens/255230615. Need guidance on next steps.

[2017-11-30 16:49] mcarrano commented on #360
@LHinson @kybaker Thoughts about next steps on this? I am going to move back into backlog as I'm not aware of any activity. Let me know if there's someone who can pick this up.

[2017-11-30 17:00] mcarrano commented on #411
Merged #476 . Verify changes on website.

[2017-11-30 18:11] kybaker commented on #360
@mcarrano Sounds good.

[2017-11-30 18:21] serenamarie125 commented on #360
@mcarrano do we need a visual differentiation between the two?  I'd suggest that next steps would be research rather than having icons created.

[2017-11-30 19:03] mcarrano commented on #360
+1 @serenamarie125 I think that's what we had previously agreed. In any case we need someone to pick this up.

[2017-11-30 20:16] mcarrano commented on #500
@catrobson to follow up and get more info.

[2017-11-30 20:20] catrobson commented on #494
Patternfly-ng implementation demo: https://rawgit.com/patternfly/patternfly-ng/master-dist/dist-demo/#/list

[2017-11-30 20:24] catrobson commented on #494
@bdellasc - I'll create an issue for you to contribute this design change into PatternFly in our fabric8 backlog

[2017-11-30 20:26] mcarrano commented on #493
Need recommendation from visual design on best way to proceed.

[2017-11-30 20:49] #487 closed

[2017-11-30 21:04] mcarrano commented on #472
@sdash-redhat we would like to get this moving again now that base filter pattern has been updated. @catrobson will be in touch about next steps on revising your proposal. I am updating title to Saved Filter to better reflect the expected functionality and not confuse with #403

[2017-12-01 07:50] yih-wang commented on #470
@mcarrano I already added the guidance to the beginning of the Server-side Errors. It will be updated to PatternFly together with the login templates.

[2017-12-04 10:04] yih-wang commented on #470
@serenamarie125 @catrobson @mcarrano When I'm writing the new Login Page Document. I'm thinking of maybe it's better to just clear the password field when an error message occurs. In most cases, errors come up because of typos. Keep the username will save time and effort for users. I think clearing password field is also safety.
I stuck a comment in the guideline document. You can also find some r

[2017-12-04 14:48] mcarrano commented on #470
This suggestion by @yih-wang seems more in line with what I typically see. Does anyone see a problem with this approach?

[2017-12-04 16:53] mcarrano commented on #411
Verified.

[2017-12-04 16:53] #411 closed

[2017-12-05 10:28] yih-wang commented on #406
@mcarrano @LHinson I have sent a PR #501 to fix this issue. Please have a review. Thanks.

[2017-12-05 23:04] amysueg opened #502 "Help on Forms: Using the "i" information icon looks cluttered on the page"
The UX team working on Fuse Ignite Online has a question about appropriate usage and design intent related to the "Help on Forms" "i" information icon on field labels on a page. Referencing this page in Patternfly: http://www.patternfly.org/pattern-library/forms-and-controls/help-on-forms/

The attachment is a design we are currently working on. Working with the writer, we've determined that each

[2017-12-06 22:21] bdellasc commented on #494
@mcarrano Here is the [draft](https://docs.google.com/a/redhat.com/document/d/1kJBAW8MibLjBzA12ocjFisLLMlUbQUgUuGuQAhuVrkY/edit?usp=sharing) of what I've written so far for the pinned items. I haven't added any images to the document yet. I figured once I knew what aspects I was writing about, I could add some images based on where the text content lands.

[2017-12-07 15:57] mcarrano commented on #494
@bdellasc I reviewed your document and left a couple of comments. I think it would be good to have a bit more detail before doing a complete review. For example, what does the pin look like in the context of our current list (and table?) views. It looks like this is adding another potential icon at the front of the row. What does this look like if both selection and expansion are also supported? I

[2017-12-07 18:29] mcarrano commented on #470
This issue is addressed as part of #501

[2017-12-07 18:31] mcarrano commented on #309
This issue is being addressed as part of PR #501

[2017-12-07 21:04] mcarrano commented on #502
Discussed this issue during UXS-PF review meeting. Several issues questions were raised:
* Do field-level help (info) icons need to be blue in their default state? This may draw undue attention to them and makes the page feel visually cluttered. Consider changing default icon color to drak-gray and only change to blue on hover (like other tool icons in PF).
* Do we need better guidance on when to

[2017-12-07 21:09] mcarrano commented on #472
@sdash-redhat per discussion with @catrobson I understand that you will move forward with this by making changes to [Filter](http://www.patternfly.org/pattern-library/forms-and-controls/filter/) to indicate integration points and add a new pattern called Saved Filter to the Forms and Controls section of the library by updating your existing PR.

Let me know if you have any questions or if this doe

[2017-12-12 20:45] mcarrano opened #505 "Improve Recommendations for Form Field Labeling (Required fields and info tips)"
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x ] This is an enhancement on an existing pattern ([Field Labeling](http://www.patternfly.org/pattern-library/forms-and-controls/field-labeling/))

Current recommendations for designating required fields on forms specify that a red asterisk should be placed to the right of the field label. However it is unclea

[2017-12-12 20:55] mcarrano commented on #505
@nlcwong I have created this new issue and assigned to you. I did a bit of research on prior work. There are two Jira stories from last year:

* https://patternfly.atlassian.net/browse/PTNFLY-1688 is the design story
* https://patternfly.atlassian.net/browse/PTNFLY-1829 is the implementation story

Seems that there were issues with how to indicate optional fields so that was dropped. You should co

[2017-12-13 21:53] kybaker commented on #493
@mcarrano - I can see the potential value in highlighting a row in a list which calls the users attention. The issues I see in the examples above on each row there is 3 different ways of highlighting a single issue. This creates so much visual noise that it makes it difficult to scan the list defeating the purpose.

Additionally the row highlight itself relies only on color to differentiate betwee

[2017-12-14 14:25] serenamarie125 commented on #326
This is also needed by ManageIQ.  The current suggestion is the following:

If the message is over a certain number of characters (120?), add an ellipses.  Include a View More link as an additional line

When the View More link is clicked:
- Change the link labels from View More to View Less
- Display the entire message
- Add a vertical scrollbar if there are more than 5 total lines (including Vie

[2017-12-14 15:56] mcarrano commented on #502
This issue will be considered together with #505.

[2017-12-14 20:52] mcarrano commented on #493
Per Dec 14 PF-UXS meeting, @kybaker will work thru design issues with OpenShift team and we will revisit this at a later date for next steps (i.e. do we see a pattern contribution here).

[2017-12-14 22:13] mcarrano opened #506 "File Upload"
- [x ] This is a new pattern
- [ ] This is an enhancement on an existing pattern

This is a proposal for a new pattern to support file upload.

#### 4. Use Cases + Requirements
* Browse to select a file to upload
* Allow the user to select a file on their desktop and drag & drop it onto the web app for upload.

[2017-12-14 22:14] mcarrano commented on #506
@catrobson I have created this new issue, as requested. Please feel free to add further requirements or details, as needed.

[2017-12-14 22:16] mcarrano opened #507 "Row expansion for tables"
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [ x] This is an enhancement on an existing pattern
#### 2. If this enhancement or new pattern was made for an application, specify which one.
Table View

#### 4. Use Cases + Requirements
###### * As a user, I want to expand a row in a table to reveal more detail about this entry.

[2017-12-14 22:17] mcarrano commented on #507
@catrobson I've added this new issue as you requested. Please feel free to add more detail or design proposals and we can discuss further.

[2017-12-15 13:47] serenamarie125 opened #508 "Add Actions pattern for guidance on Toolbar actions"
This is an enhancement to the Kebab Menu documentation.

To aide with learnability, a "More Actions" tooltip should be available on the Kebab Menu.

[2017-12-15 15:13] mcarrano commented on #508
Let's consider this part of a new pattern that concerns "Actions" whether they occur in a toolbar, listview, or other.

[2017-12-15 15:17] mcarrano commented on #461
Investigate what the accessibility issues are here.

[2017-12-15 16:06] mcarrano commented on #494
@catrobson @serenamarie125 @maryclarke @jeperry Please review the preliminary design concept here and provide feedback: https://docs.google.com/a/redhat.com/document/d/1kJBAW8MibLjBzA12ocjFisLLMlUbQUgUuGuQAhuVrkY/edit?usp=sharing

Note that this is still a work in progress but it would be good to get more feedback on the overall concept before further detailing the design.

[2017-12-18 16:50] catrobson commented on #494
Looks good to me

[2017-12-19 18:54] mcarrano commented on #505
Related OpenShift story can be found here: https://patternfly.atlassian.net/browse/OSUX-373

[2017-12-21 17:23] mcarrano commented on #406
Three PR's have been merged and new patterns are now live on website. Needs to be updated with hi-res mockups.

[2017-12-21 17:24] nlcwong commented on #505
@mcarrano  @serenamarie125  @LHinson @beanh66
Can folks please review my findings and recommendations?
https://docs.google.com/a/redhat.com/document/d/1PcxszZ1S53Oacf7XZddnvba42RjMGr5R_QtQHZUqq98/edit?usp=sharing

[2017-12-21 17:25] mcarrano commented on #470
@serenamarie125 I believe this issue has been addressed as part of the documentation for new login page (http://www.patternfly.org/pattern-library/application-framework/login-page/). Please verify and close if you feel like this has been addressed.

[2017-12-21 17:27] mcarrano commented on #309
This has been addressed as part of #501 that was just merged. Will close.

[2017-12-21 17:27] #309 closed

[2018-01-02 20:54] mcarrano commented on #505
@nlcwong Thanks for posting this. I have reviewed your document and left comments. In general I think that you recommendations make sense. @serenamarie125 @catrobson @maryclarke @jeperry please also review. One question I have is whether we should concern ourselves with left-aligned labels at all. As far as I know, all PatternFly forms use right-aligned labels. Are there instances where we would w

[2018-01-02 20:58] mcarrano commented on #502
@amysueg See recommendations made against #505 Does this address your concerns?

[2018-01-03 19:44] jeperry commented on #505
LGTM. I am ok if left aligned is kept in this pattern JIC an app author is needs to use that alignment for some reason.

[2018-01-04 14:48] mcarrano commented on #337
A new PatternFly story, https://patternfly.atlassian.net/browse/PTNFLY-2659, has been opened to do user testing on icons for sort and determine whether there are better alternatives to the current Sort icon.

[2018-01-04 15:53] mcarrano commented on #406
There are three open PRs to further update the visual designs: #509 , #510 , #511 . To reduce redundancy, I am going to close this issue out and track further comments per these PRs.

[2018-01-04 15:53] #406 closed

[2018-01-04 21:08] mcarrano commented on #461
@Mgranfie will follow-up to determine:
- What are current accessibility issues?
- Are short term fixes we should pursue?
- Is there an opportunity to better document?

[2018-01-04 21:25] mcarrano commented on #508
Should consider whether tooltip should be a standard element of the menu component or is this a new design pattern that specifies use of actions?

[2018-01-04 22:05] LHinson commented on #461
to clarify, follow up with Jenn

[2018-01-08 13:11] priley86 opened #516 "DataTable - sort state clarification"
Hello PatternFly Design ;)

I noted during the development of the data tables pattern in React that our language on data table column sorting could be a bit further detailed. Currently the documentation [here](https://github.com/patternfly/patternfly-design/blob/master/pattern-library/content-views/table-view/design/design.md) states:

I think we could probably further enhance this language after

[2018-01-08 13:12] priley86 commented on #516
@serenamarie125 @mcarrano do you agree with these language updates?

[2018-01-08 16:24] mcarrano commented on #516
@priley86 It looks like the "unsorted" state is necessary in Rectabular because they support multicolumn sort. The current Table View pattern was modeled on the Datatables jQuery plugin here which looks like it does not support multi-column sorting (https://datatables.net/). Maybe the first question is whether we should support multi-column sorting for implementations that can support it or take t

[2018-01-08 19:09] mcarrano commented on #508
@cshinn had done some earlier work on Actions that was never published to the PatternFly website. See https://docs.google.com/document/d/1zDF8JoT9oDBr__KGS4uBE5X9VkMfxlFG5tPqSc1P6UU/edit?usp=sharing

I think that this provides a good starting point for documenting Actions as a new pattern and would be the right place to address the tooltip issue. This pattern could be generalized to make it clear

[2018-01-08 19:56] jeperry commented on #508
Agree this is the right place. i think this is a very obvious thing to have a high level pattern for and would be much appreciated.

[2018-01-08 19:57] catrobson commented on #474
@cshinn @mcarrano any resolution on what direction we'd like this to head in?  It appears that this is still an issue, and I'm not clear on how to direct our patternfly-ng implementation of this.

[2018-01-08 20:34] mcarrano commented on #474
I think that the current direction should be what's specified in the revised Filter pattern here: http://www.patternfly.org/pattern-library/forms-and-controls/filter/#/design. Do you agree @cshinn ? The problem is that all of the views that use filtering have not been updated to reflect this design.

[2018-01-09 01:59] serenamarie125 commented on #508
+1.  @mcarrano can we all review Chris' doc, and then I'll create a OSUX story for him to formally contribute Actions to PF?

[2018-01-09 12:25] michpetrov commented on #516
@mcarrano FYI the current implementation of table view supports [multiSort](https://datatables.net/reference/option/orderMulti) and has it enabled by default

[2018-01-09 14:04] maryclarke commented on #505
LGTM too

[2018-01-09 14:37] maryclarke commented on #494
LGTM

[2018-01-09 14:58] mcarrano commented on #508
Yes, let's do that. If you haven't already done so, please take a few minutes to review the Google doc (it's short!) and feel free to comment. We can move forward from there.

[2018-01-09 15:29] jeperry commented on #494
made a minor comment but also LGTM

[2018-01-09 16:18] mcarrano commented on #516
I actually did not realize that, so thanks for pointing it out @michpetrov . I do note however that the method used in the Datatables component differs from the Rectabular approach. Right now there is no mention in the design documentation about this capability so it is somewhat hidden.

Let me get further input on this to identify the path forward. It may be that we just update the documentation

[2018-01-09 21:40] catrobson commented on #474
After reading that description, I am assuming that means that by default, when no filter is applied, the text would just say "xx items" - so we don't account for pagination and trying to say "currently showing xx of yy items" in this space.  This is fine with me, but just wanted to verify since I had to make that assumption rather than clearly know it from the text.

[2018-01-09 21:44] mcarrano commented on #474
That was my assumption, also, @catrobson . Can you confirm @cshinn ?

[2018-01-09 21:55] cshinn commented on #474
@catrobson @mcarrano yes, the current pattern does not address pagination or selected items. The filter results bar could either read "xx items", or if it makes more sense in the context, the bar could simply be removed

[2018-01-10 04:42] junezhang opened #517 "Registration Pattern"
## For Pattern contribution proposal, tell us about your idea...

When comparing the Log In Designs with downstream usage, we found in the PatternFly library, there is no registration pattern. we also communicated with Amy and Tiffany.  Suggested to create a registration pattern in PatternFly.

#### 1. Choose the type of contribution for this pattern:
- [x] This is a new pattern
- [ ] This is an e

[2018-01-10 04:42] zhutaoredhat opened #518 "The title size is inconsistent between Pattenfly.org and Code of PatternFly"
http://www.patternfly.org/styles/typography/
https://rawgit.com/patternfly/patternfly/master-dist/dist/tests/typography-2.html
The font size and style of h2 and h3 are different between the typography guide of Pattenfly.org and code of PatternFly.

[2018-01-10 12:50] beanh66 commented on #505
Thanks @nlcwong, the document LGTM 👍

[2018-01-10 15:20] mcarrano commented on #518
@kybaker can you take a look st this and tell us which one is correct?

[2018-01-11 17:24] mcarrano commented on #494
@serenamarie125 have you had a chance to look at this?

[2018-01-11 17:27] mcarrano commented on #502
I am going to close this issue out as I believe it has been addressed by #505

[2018-01-11 17:27] #502 closed

[2018-01-11 17:29] mcarrano commented on #508
@catrobson @maryclarke can you review Chris' doc (see above) and let us know if you are good to proceed with adding Actions as a new pattern?

[2018-01-11 17:34] mcarrano commented on #470
I don't think we ever resolved details of what happens after a failed login attempt because of a mis-typed userid or password. Currently design specifies that only password field is cleared and a message "The account or password you entered is incorrect."   I think it is a good approach that balances usability and security. @serenamarie125 and @catrobson do you still have concerns with this?

[2018-01-11 17:48] cshinn commented on #508
@mcarrano I'm working on bringing that doc in line with more current patterns (its about three years old at this point) but I should have a PR up in the next couple days to check out

[2018-01-11 18:10] catrobson commented on #470
@mcarrano yes, this works for me.  I know the team had created a bunch of variants, but from a PatternFly recommended solution I agree this is what we talked about as a good balance of usability and security.

[2018-01-11 19:24] serenamarie125 commented on #494
I see a need for the pattern.  I have questions as to if this is a Pin or a Freeze as well as if things that are "pinned" should remain in the order that the user set, or sorted as well.

[2018-01-11 19:45] beanh66 commented on #485
@jeperry I'm not sure I'm following. Why wouldn't we want to change the cursor for the check box?

[2018-01-11 20:59] catrobson commented on #494
I think the way that this pinning works you just mark and item as "pinned" or "unpinned" in the data set - you have no way to really control its order in the pinned set.  Therefore keeping the same sort as the data set, with pinned items shown first, makes sense.

If we were discussing something like freezing cells in a datasheet where I can choose a set of cells, then I agree that the order shoul

[2018-01-11 21:02] jeperry commented on #485
@beanh66 it seems that intuitively we would, but from best I can tell, its 'normal' to not change the cursor for checkboxes. Can you find examples anywhere that have cursor changes on checkboxes?

[2018-01-11 21:09] Mgranfie commented on #494
The pinning I have been using with email is close to what you are
describing Cat. With the exception that it does keep an order within the
pin items, in this case they have deemed date as the priority for ordering.
Ours could be generic, as you suggested, which would be order added, or we
could allow them to choose one of their data attributes.

So would our default order just be as added and they

[2018-01-12 12:58] catrobson commented on #494
@Mgranfie As Brian's document attempted to capture, they are ordered by the same sort order applied to the list in the filter bar.  So if the whole table is ordered by date, the pinned items would be too.  If you change the order to name A->Z, they would both be ordered by name.  In this case you would get Pinned items A->Z, then non pinned items A->Z in your list.

[2018-01-12 14:04] beanh66 commented on #485
@mcarrano I do think the clickable items should have the cursor change to the pointer, but to me that is an implementation issue, not design. It sounds like we need an issue in the PF core repo to address each of these. I brought up the issue specifically around the notification drawer needing the cursor change when hovering over a row in the drawer (because clicking a row will mark a message as r

[2018-01-12 17:20] mcarrano opened #521 "Mobile design for Login Screen"
## For Pattern contribution proposal, tell us about your idea...
(delete section if filing a bug)
#### 1. Choose the type of contribution for this pattern:
- [ ] This is a new pattern
- [x ] This is an enhancement on an existing pattern

We have recently published new designs for our standard PF login screens here: http://www.patternfly.org/pattern-library/application-framework/login-page/ This in

[2018-01-12 18:08] amysueg commented on #521
thank you @mcarrano

[2018-01-12 21:28] matthewcarleton commented on #521
👍 @mcarrano

[2018-01-12 21:41] ncameronbritt opened #523 "Extend modeless overlay pattern"
- [ ] This is a new pattern
- [X ] This is an enhancement on an existing pattern

The proposed extension to the [Modeless Overlay pattern](http://www.patternfly.org/pattern-library/forms-and-controls/modeless-overlay/) would allow greater flexibility in terms of sizing and positioning. This could be useful for providing contextual help or actions in situations when the user still needs access to t

[2018-01-15 12:41] andresgalante commented on #505
Hi @nlcwong at first glance there are several problems aI see on moving the * to the left and even more if we want it to be fixed and generate a gap on non required fields.

The result on the browser in most scenarios and viewports would not be close to what the drawings show.

If this was tested and proves to be a big UX improvement I would suggest building it out to spot the implementation chall

[2018-01-15 21:11] cshinn commented on #508
I've run across an interesting challenge with respect to the tooltip. Because the more actions kebab is often close to the edge of the screen, any tooltip above it will get cut off. ![screen shot 2018-01-15 at 4 07 42 pm](https://user-images.githubusercontent.com/3300756/34961747-9cb2111c-fa0e-11e7-846e-c5eaf30227b7.png)

A tooltip to the side will have to overlap other parts of the toolbar, which

[2018-01-15 22:13] mcarrano commented on #508
Hmmm... So are you saying that our tooltips won't adjust when they intersect with the window boundary?  @andresgalante thoughts about this?

[2018-01-15 22:19] cshinn commented on #508
@mcarrano they can adjust, but as far as I know, you'd end up with something like the second image. Which seems sub-optimal

[2018-01-16 16:31] mcarrano opened #526 "Document guidelines for using tabs"
## For Pattern contribution proposal, tell us about your idea...
(delete section if filing a bug)
#### 1. Choose the type of contribution for this pattern:
- [x] This is a new pattern
- [ ] This is an enhancement on an existing pattern

We currently support two different tab styles in PatternFly that can be applied separately or in combination. See https://rawgit.com/patternfly/patternfly/master-d

[2018-01-16 16:49] mcarrano commented on #526
Note that we currently support including a dropdown menu within a tab. It's not clear what the use case is for this other than collapsing the tab bar into a dropdown when the window width is decreased. Is this pattern currently being used in existing applications? Consider whether this pattern is needed as part of generating these guidelines.

[2018-01-17 14:37] ncameronbritt commented on #523
Closing issue based on discussions on requirements doc.

[2018-01-17 14:37] #523 closed

[2018-01-18 20:25] nlcwong commented on #505
After talking with various UX team members about the feasibility of things, I've updated the recommendations of the required field as well as include some more design explanation of the field level help's interactive behavior since I'm also proposing a change to how it visually looks as well.
 Also included is a section on research potential.

[Form Field Labeling - Enhancement ](https://docs.goog

[2018-01-18 20:30] serenamarie125 commented on #443
Here's an initial document written by @Rohoover .  @mcarrano @maryclarke @catrobson @jeperry please take a look.

[2018-01-18 20:49] mcarrano commented on #521
@catrobson will follow up with @amysueg to recommend path forward.

[2018-01-18 20:55] beanh66 opened #530 "Update the Checkbox Filter design pattern to include transparency on the filter panel"
- This could be considered an enhancement or a bug on an existing pattern
- Angular Pattern made a change due to an issue that surfaced in OpenShift:
 https://github.com/patternfly/angular-patternfly/pull/701
- The style of the current checkbox filter panel was preventing users from seeing results in cases where there was a single result hidden behind the panel. Making the panel slightly transpare

[2018-01-18 22:36] nlcwong commented on #505
I have closed out the [related OpenShift design recommendation story](https://patternfly.atlassian.net/browse/OSUX-373) and created a new one that will track the [research of the recommendation](https://patternfly.atlassian.net/browse/OSUX-435)

[2018-01-19 03:58] jeperry commented on #505
I'm skeptical that any test of web forms as designed here is going to provide actionable data or even be a good use of time/resources. Imagine you are a test subject, and we ask you to fill out a short form. You're just going to fill out the entire form, right? People skip fields when it is convenient or the form is long. The test environment is artificial, and test subjects generally want to do w

[2018-01-19 15:52] mcarrano commented on #530
I understand the problem, @beanh66 , but before we make this update I'd like to get some additional opinions here. Right now, I'm not aware the we have semi-transparent panels anywhere in PatternFly so this would be a styling add. @andresgalante and @kybaker I would be interested in getting your thoughts about this.

Did you also consider other alternatives? I agree that it's a problem that the pa

[2018-01-19 16:49] mcarrano commented on #443
Thanks for moving this along @Rohoover . Overall is looking good. Left a few comments in your document.

[2018-01-19 17:17] mcarrano commented on #485
@andresgalante @matthewcarleton wanted to get your opinion on this. Do you feel you need design guidance here or is it fair to say that hover over any interactive element should always produce a hand cursor? If the later, then I will just file bugs for the instances called out by @beanh66 . There are a number of inconsistencies in this regard in our HTML/CSS examples.

Regarding the checkbox quest

[2018-01-19 18:13] beanh66 commented on #485
Gotcha, thanks @mcarrano!

[2018-01-19 18:54] matthewcarleton commented on #485
@mcarrano I agree, there should be no reason why an interactive element doesn't have the hand cursor on hover.

[2018-01-19 19:24] mcarrano opened #532 "Embedded Wizard - Issues with responsive implementation of current design"
The current [embedded wizard design](http://www.patternfly.org/pattern-library/communication/wizard/#) does not support responsive layout. The layout assumes a fixed height in order to correctly place the left-hand sub-step navigation and the button bar. Given that the absolute height of a user's browser window is variable, it is not clear how to calculate that height.

Request is to reconsider ne

[2018-01-19 19:25] mcarrano commented on #532
@matthewcarleton and @LHinson I have filed this new issue to take up the embedded wizard design and ask whether we should eliminate or rework this option. Feel free to add comments or further background.

[2018-01-21 15:52] serenamarie125 commented on #526
@mcarrano I think it was used in Satellite when they were using Horizontal nav - @Rohoover is that the case?

[2018-01-21 15:57] serenamarie125 commented on #505
@jeperry the reason we wanted to perform testing was because some of our designs expressed concern with the suggestions.  We thought that cafeteria testing would be helpful to show that the proposed designs doesn't raise any concerns with the participants.

[2018-01-22 14:32] Rohoover commented on #526
@serenamarie125

I don't recall them in the horizontal nav, but in the content pages themselves. See screenshot from the Content Hosts details page:

![screen shot 2018-01-22 at 9 31 11 am](https://user-images.githubusercontent.com/18266453/35225739-1acacf92-ff57-11e7-845d-6b0a22d64393.png)