[2021-06-11 07:52] yih-wang opened #1060 "Combine drag&drop handler and expandable ability in the table view"
There is a [table](https://marvelapp.com/prototype/bh91013/screen/75676607) in Keycloak that needs to include the drag&drop handlers and the expandable ability at the same time. I'm curious about whether it is feasible.

@edewit is currently working on this feature. He's combining the [drag&drop component](https://www.patternfly.org/v4/components/data-list/#draggable) with the [expandable table](h

[2021-06-11 12:26] MariSvirik commented on #1054
@mcarrano Thank you, Matt. Sorry for bothering you, but can I use this design?
I'm talking mainly about embedded pagination.
<img width="484" alt="Screenshot 2021-06-11 at 14 06 52" src="https://user-images.githubusercontent.com/51960547/121685550-5bf13c80-cac0-11eb-9cab-b631161def01.png">

It's currently used. The number of items can be huge and an endless scroll or 'View more' version wouldn't w

[2021-06-11 14:58] mcoker commented on #1060
Hi @yih-wang we are working on an enhancement this sprint to add a draggable table. You would have the ability to make rows both draggable and expandable. Would you be able to use this once it's supported? FWIW here is what it should look like with expandable rows

<img width="842" alt="Screen Shot 2021-06-11 at 9 56 35 AM" src="https://user-images.githubusercontent.com/35148959/121706556-5b927a80

[2021-06-11 15:19] mcoker commented on #1046
Hi @katierik to change the background color, you just need to define these 2 variables, and you can replace the colors with the ones appropriate for your design.

* `--pf-c-progress__bar--before--BackgroundColor: var(--pf-global--BackgroundColor--200);` - the base/grey color
* `--pf-c-progress__indicator--BackgroundColor: var(--pf-global--primary-color--100);` - the progress status fill color
* `-

[2021-06-11 18:13] mcarrano commented on #1054
Yes, you can make that using the Menu component and placing a Pagination component in the footer. I made that here:

![Screen Shot 2021-06-11 at 2 10 35 PM](https://user-images.githubusercontent.com/6619860/121731452-f3ee2680-cabe-11eb-9d63-41b62dbc4582.png)

Here's the code for that:

`<Menu activeItemId={activeItem} onSelect={this.onSelect}>
        <MenuContent>
          <MenuList>

[2021-06-11 19:02] mcarrano commented on #913
@mceledonia @beanh66 @gdoyle1 Is this something that is still needed by OpenShift? If not I'd like to close it out. The issue has been hanging around for a while without any activity. If it's still needed, I can get it on the roadmap, but I don't really see any barriers to making this.

[2021-06-11 19:11] mcarrano commented on #892
Potentially consider this issue together with the task drawer modifications: https://github.com/patternfly/patternfly/issues/2993

[2021-06-11 19:19] mcarrano commented on #1034
Would this be solved by the implementation of https://github.com/patternfly/patternfly/issues/1625?

[2021-06-11 19:46] mcarrano opened #1061 "Competitive design review"
Want to review competitive design systems and applications to identify trends and best practices to drive the next generation PatternFly visual looks & feel.

* Identify systems to review
* Define criteria
* Report on results
* Discuss and identify areas for improvement and further concepting

Related notes: https://docs.google.com/document/d/1tVDyeKQb23igfM72XAdmQ9_0lADujNRmSzoj9MnCJuA/edit?usp=s

[2021-06-13 12:46] shirimordechay commented on #879
See updated design [here](https://marvelapp.com/prototype/gfa4i5b/screen/80132907). Changes were made according to the feedbacks above and ACM/ AI/ OCM designers' requirements.

@andybraren @nirfarkas @imjoyjean @AdamJ @mcarrano please take a look.

[2021-06-14 07:37] edewit commented on #1060
@mcoker that looks great, but I'm not sure it will solve our problem. We use the data list and the problem is that the rows in the expandable panel are no longer draggable individually, but the whole panel gets moved. If that is not the case with this table then it will work.
![image](https://user-images.githubusercontent.com/51133/121855704-f2597400-ccf3-11eb-86cc-634f801f8409.png)
_dragging the

[2021-06-14 11:11] doruskova commented on #1043
@mcarrano Updated mocks with a design specification. Includes only the version without borders and with a fill.

Examples https://marvelapp.com/prototype/73043j4/screen/80030545 (without borders) and https://marvelapp.com/prototype/73043j4/screen/80030543 (with a fill)
Design specification https://marvelapp.com/prototype/73043j4/section/1382710

[2021-06-14 13:52] mcarrano commented on #1043
@doruskova these look good. But are you proposing that we would support both versions? Is there a reason to have both?

@mcoker can you also take a look and let us know if you see any problems here. I think this would just be implemented as a new styling variant of the Tree View, but let me know if you see it differently.

[2021-06-14 14:49] garrett commented on #1034
I think https://github.com/patternfly/patternfly/issues/1625 is solving @itsptk's case.

We're talking about two different concepts for tab overflow though:
1. **Overflow wrapping**: When a smaller, often fixed set of tabs are used for navigation, the tabs could wrap to make it easy to jump between items on smaller screens (especially mobile).
2. **Overflow menu**: Similar to how browsers handle l

[2021-06-14 14:58] mcoker commented on #1043
@mcarrano yep agree. It can be tricky to do this sort of thing, so we may learn more once we start, but LGTM!

[2021-06-14 15:34] doruskova commented on #1043
@mcarrano  I don't propose to support both versions. But, I hope I remember this correctly and on a PF Design share, we agreed to include both versions in Marvel for now and get feedback from @mcoker if it's feasible to implement the version without borders (because the lines need to be perfectly aligned with a title) and if it's not possible, then try to use the version with a fill because it sti

[2021-06-14 15:36] mcoker commented on #1060
Moving to react - cc @tlabaj @kmcfaul

[2021-06-14 15:46] mcoker commented on #1043
@doruskova I think both should be possible.

[2021-06-14 17:45] mcarrano commented on #1043
In that case, is the version without borders or fills the preferred choice?

[2021-06-14 18:40] mcarrano commented on #879
This looks great @shirimordechay . I left a couple of comments on the Marvel deck. We can discuss more when we meet.  @vconzola also had a requirement for a compact version. Maybe a version with no labels fulfills that need? Vince, what do you think?

[2021-06-14 18:59] mcarrano commented on #1010
@doruskova Can you repost what is the final design solution for this? I'm a bit confused going through the comments. I can open a core issue then to create a demo.

[2021-06-14 19:09] mcarrano commented on #914
Closing as this currently feels beyond the PatternFly scope.

[2021-06-14 19:09] #914 closed

[2021-06-14 21:25] katierik commented on #1046
@mcoker Thank you for the demo! I'm going to pass this on to my dev team.

[2021-06-14 21:27] katierik commented on #1050
I have not gotten user feedback on this specifically, it is something logged as a bug internally.

[2021-06-15 07:56] doruskova commented on #1043
I'd go with the version without borders.

[2021-06-15 08:11] doruskova commented on #1010
@mcarrano I've added these two examples https://github.com/patternfly/patternfly-design-kit/issues/384
to a template file and now we'd like to have them as a demo. So I think that you can open the core issue for it :)

[2021-06-15 12:55] gdoyle1 commented on #913
AFAIK we did still want to use a component like this within OpenShfit and OCM .. I believe ACM also wanted to. I think what would be most helpful is having a demo and some sort of guidelines around when to use something like this! @mcarrano

[2021-06-15 14:12] mcarrano commented on #913
OK. I will keep this open. I see this as basically just a mini-dashbaord. @mceledonia I am going to assign you so perhaps you can consider this use case while you are looking at dashboard demos here: https://github.com/patternfly/patternfly-design/issues/752

[2021-06-15 14:26] mcarrano commented on #1010
Thanks @doruskova . I have opened https://github.com/patternfly/patternfly/issues/4148 to begin implementation.

[2021-06-15 15:14] gdoyle1 commented on #892
[This Marvel](https://marvelapp.com/prototype/g8idd54) is now up-to-date with the new masthead icon and the variations of how it should work. I added an example flow of how this could look as well! This will be dependent on #1059 being completed first, and I will be working on that this week

[2021-06-15 20:00] vconzola commented on #879
@shirimordechay I see you added a compact (inside a table cell) version as an example. Compressed spacing with a single label for the current (or last) step. That's exactly what I need. Thanks.

[2021-06-17 19:23] gdoyle1 commented on #1059
Created the icon and attaching here. Following the directions of the doc, I will also open an issue in the patternfly core repo and attach the file so the icon can be added into the web and desktop font.

[task.svg.zip](https://github.com/patternfly/patternfly-design/files/6672733/task.svg.zip)

[2021-06-17 19:29] gdoyle1 commented on #892
I completed #1059 and created a PF core issue to get that icon into the webfont. I believe this issue is now ready to be moved to development @mcarrano !

[2021-06-18 16:54] andybraren commented on #879
Thank you for all of these updates @shirimordechay, this is great!

- In the horizontal version, are centered labels like @coreyvickery's design no longer an option? I can imagine centered labels looking a bit nicer visually in some (but not all) scenarios.
- Somewhat related to centered labels, @mcarrano previously suggested "it would be great to left align the label of the first item and right a

[2021-06-18 21:01] mcarrano opened #1062 "Resolve icons to use for Helper Text component"
A new Helper text component was added that supports dynamic field validation per [this design](https://marvelapp.com/prototype/6jehce7/screen/78511266) but also existing use cases for field validation as in the Form component. During implementation, we noticed that different icons are being used for error and success states. Seems like these should all be consistent. Here's what this currently loo

[2021-06-20 07:24] shirimordechay commented on #879
@andybraren Good point about the centered labels. I guess we can make it optional to change the alignment @mcarrano WDYT?

Regarding the last item alignment, it looks odd with right alignment for anything containing more than 1-2 words, especially with the sub-text IMO

[2021-06-21 14:02] mcarrano commented on #879
@shirimordechay I am OK with allowing the option to center rather than left-align labels. However, I'm wary of supporting two options if there are not clear criteria for when to use one or the other. @andybraren are there specific cases you can think of where you would want centered vs left-aligned labels?

[2021-06-21 14:09] mcarrano commented on #859
@mceledonia does the Marvel link above represent your latest designs? If not can you please post them here? I'd like to close this issue since there has been no activity for a while. We can reopen or start a new issue when there are new requirements to address.

[2021-06-21 14:25] mcarrano commented on #1043
Have opened https://github.com/patternfly/patternfly/issues/4177 to begin implementation.

[2021-06-21 14:26] mcarrano commented on #994
This has been addressed by https://github.com/patternfly/patternfly-design/issues/1043.  Opened https://github.com/patternfly/patternfly/issues/4177 to track core implementation.

[2021-06-21 14:26] #994 closed

[2021-06-21 14:26] mcarrano commented on #1020
This has been addressed by https://github.com/patternfly/patternfly-design/issues/1043. Opened https://github.com/patternfly/patternfly/issues/4177 to track core implementation.

[2021-06-21 14:26] #1020 closed

[2021-06-21 14:35] mcarrano opened #1063 "Dark theme topology"
Propose a design solution for a dark theme Topology view.

[2021-06-22 18:06] mcarrano commented on #892
I have opened the following core issues to begin implementation work:

https://github.com/patternfly/patternfly/issues/4186 to add tasks to the notification drawer component.
https://github.com/patternfly/patternfly/issues/4185 to add tasks variant to the notification badge.

[2021-06-22 18:16] mcarrano commented on #1046
@katierik can I close this one out? Is there anything else you need from a PatternFly perspective?

[2021-06-22 18:21] mcarrano commented on #1054
@MariSvirik will the above work for Satellite? Let me know if we need to discuss further, but I'm hoping that we can somehow solve this using existing components.

[2021-06-22 20:31] MariSvirik commented on #1054
@mcarrano I think it will work and there is no need for further discussion. The assigned dev plans to tackle this issue in the very near future.

[2021-06-23 13:51] mcarrano commented on #970
Proposed designs from @bgliwa01

![back to top.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/f9709480-8da1-4b0b-be4e-732f188b51ed)

[2021-06-23 14:24] andybraren commented on #879
@mcarrano One example would be Red Hat's product trial flows for [RHEL](https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux/try-it) or [Ansible](https://www.redhat.com/en/technologies/management/ansible/try-it) which use a similar-looking component with (very short) centered labels within a centered card.

I can't think of an in-product example where we do the same today, but a

[2021-06-23 14:41] mcarrano commented on #970
@bgliwa01 Here is the feedback from the PatternFly design share meeting on June 23:

* Prefer full text version (“Back to top”) from a content perspective.
* Prefer side by side  + 16px spacing (bottom right option). Have we considered icon after text vs before? It also might make sense to try reducing the font size.
* The component should include a drop shadow to indicate that it is floating over

[2021-06-23 14:51] mcarrano commented on #879
That makes sense @andybraren . Those product trial flows are probably using web components per @coreyvickery 's designs. So maybe we should have a version that is more in line with those? But I'm still not sure how to differentiate these. What do you think @shirimordechay @mceledonia ?

Other than that, I think this is pretty complete. I think the only thing left would be to create a visual spec w

[2021-06-23 18:40] mcarrano commented on #1062
@doruskova can you take a look at this issue? It was raised during implementation of the new helper text. We can discuss more when we meet on Friday.

[2021-06-23 18:52] mcarrano commented on #859
Per verification of the above with @mceledonia , I am going to close.

[2021-06-23 18:52] #859 closed

[2021-06-24 09:43] doruskova commented on #1062
@mcarrano Yeah, I'll take a look at it. Do you have a link to the PR with the implementation so that I can take a look?

[2021-06-24 14:55] mcarrano commented on #1062
It was just released this week. Take a look here: https://www.patternfly.org/v4/components/helper-text

[2021-06-27 12:14] shirimordechay opened #1064 "Allow multiple files upload in FileUpload component"
Currently, the FileUpload component allows only a single file upload. a multiple file uploader is needed for several use cases and probably would be beneficial to many more. for example, a user/ SRE reporting a bug in OCM/ OpenShift will be required to upload a number of files such as logs, screenshots, .etc.). this cannot be completed by using the current FileUpload component.

**The design enhan

[2021-06-28 08:16] shirimordechay commented on #879
I think allowing the centered labels doesn't change the component much and it makes sense to add it. I don't think much differentiation is needed, it's just a small visual tweak IMO. @mceledonia WDYT?

Regarding the visual spec, it should all be in the [mockups](https://marvelapp.com/prototype/gfa4i5b/screen/80215316) but please take a look and let me know if something is missing @mcarrano . the s

[2021-06-28 14:26] mcarrano commented on #1064
@shirimordechay thanks for creating this issue. I will get it on the roadmap. Do you have any requirements around timing/availability? Right now I am scheduling into Q4.

[2021-06-28 14:44] #836 closed

[2021-06-28 14:45] #792 closed

[2021-06-28 14:47] #990 closed

[2021-06-28 14:48] #932 closed

[2021-06-28 15:13] #1010 closed

[2021-06-28 15:14] mceledonia commented on #1042
Looking through the PF documentation on cards and their selected states, it looks like we already offer a solution which solves this problem. The issue seems to be we offer 2 different selected states for multi-select versus single select.

Here it is shown in the design documentation:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/30935938/123660539-c1079a80-d801-11e

[2021-06-28 15:23] mcarrano commented on #892
@gdoyle1 can you paste a link to your Sketch artwork here so we can make that into a template? Thanks!

cc @doruskova

[2021-06-28 15:51] gdoyle1 commented on #892
Yes, of course! In [this folder ](https://drive.google.com/drive/folders/1rX-JM-fsxFpBnRmnr9RWFRCHyCyyOCWk?usp=sharing) you'll find the Sketch file for both task tracker and expandable inline alerts. I also included the svg for the new task icon which has already been added to PF core! @mcarrano @doruskova

[2021-06-28 17:35] lboehling commented on #1042
Hey @mceledonia! Just wanted to give some background behind the existing single select/bulk select card states. There are a couple product use cases where cards in a primary-detail view (where single selecting a card triggers the details drawer to open) co-exist with a checkbox multi-select for completing bulk actions (such as delete, share, etc.) in the toolbar. The original designs decided to re

[2021-06-28 19:00] mcarrano commented on #1042
Yes, thanks for reminding us of that @lboehling . I don't think that radio button selection is really the right thing for primary/detail use cases, although it could work for other things. @mceledonia did you consider using a background fill here like we are already doing for Toggle groups? https://www.patternfly.org/v4/components/toggle-group

[2021-06-29 07:19] shirimordechay commented on #1064
I think Q4 should be fine! thank you @mcarrano

[2021-06-29 14:10] mceledonia commented on #1042
Thanks for the context there @lboehling! I can see why this wouldn't be a great solution there. @mcarrano I have tried the background fill and I think it is a solid option. Here's what that looks like, I'm wondering if we should also do the border as well. The border will somewhat conflict with the browser focus state but that might not be a big issue, that is illustrated below:

![image](https://

[2021-06-29 17:41] mcarrano commented on #1042
I'm happy with this. What do you think @lboehling . If we are good with this, I can present at next week's PF design share. I know that you are on PTO @mceledonia .

[2021-06-30 13:49] mcarrano opened #1065 "Investigate nav styling for dark theme"
For dark themed pages, we may want to provide better differentiating between navigation and the content area of the page. Currently navigation and content tend to blend together as can be seen in this screenshot from the OpenShift Dev Console POC.

![Screen Shot 2021-06-30 at 9.47.52 AM.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/5c9bc7b5-b711-454d-b050-badb87b5ff12)

[2021-06-30 16:15] mceledonia commented on #1065
So far I think this is the most successful version I've come up with:
- Same background color (100) as content
- Border instead of shadow - the use of shadow here is not consistent with our usage guidelines, where shadows are reserved for elements that overlap other elements on the z-axis.

Going to keep messing around to see if I can find some similar solutions, but this is worth getting some fee

[2021-06-30 18:40] mcarrano commented on #1065
@mceledonia I left a couple of comments in Marvel. While I get your point about shadows, I wonder if we should still consider it. I thought it helped create the appropriate separation between the menu and body of the page.

[2021-06-30 19:24] mceledonia commented on #1065
I agree, and we can always make an exception.

[2021-07-01 12:11] doruskova commented on #1062
@mcarrano I've updated mocks for a feedback session. https://marvelapp.com/prototype/6jehce7/screen/80602884
I used "static" icons only for our password strength meter to keep consistent visual elements. There are two versions

- Version 1 - it's my preference. Just change icons and the text is grey
- Version 2 - used colorful helper text. However, I think it's too much and the text should be grey

[2021-07-01 13:35] mcarrano commented on #1062
Thanks @doruskova . I do agree with you about the colored text. So right now we do support red text for simple form validation errors (https://www.patternfly.org/v4/components/form/html). I don't think we would change that. I think we could handle this a couple of ways:

* Make the text coloring optional and provide design guidance on when to use it.
* Keep the same structure of the component as w

[2021-07-01 13:39] doruskova commented on #1062
@mcarrano Absolutely agree!

[2021-07-01 14:41] mcoker commented on #1062
@mcarrano sounds good to me!

[2021-07-01 15:11] mcarrano commented on #1046
Closing. We can reopen if there are still issues for PatternFly to address.

[2021-07-01 15:11] #1046 closed

[2021-07-01 15:17] mcarrano commented on #1054
Looks like we are all set then. I will close, but let me know if you have more questions.

[2021-07-01 15:17] #1054 closed

[2021-07-01 15:21] mcarrano commented on #1034
Thanks @garrett . I will add this to our roadmap for more consideration.

[2021-07-01 15:45] mcarrano commented on #1058
@gdoyle1 We were discussing this today and have some questions about the design and best way to solve this. Do you know who will pick this up on the OS team when you leave?

[2021-07-01 15:56] gdoyle1 commented on #1058
Shiri Mordechay will! @mcarrano

[2021-07-01 18:05] beccaglass commented on #1027
newest doc:
https://docs.google.com/document/d/17jhcgkUgpw7f9Ixf9ew8RfcivSck9mdv_Yw6fIZhlAs/edit?userstoinvite=rblackbu%40redhat.com&ts=60ddcbea&actionButton=1#heading=h.au2hnxprb8tl

[2021-07-01 20:39] mcoker commented on #1049
Hey @garrett, I see how that can be a problem. We make the assumption that PatternFly is the main design system used and that our [global styles](https://github.com/patternfly/patternfly/blob/main/src/patternfly/base/_globals.scss) are being imported (which include [`font-size` delarations for heading elements](https://github.com/patternfly/patternfly/blob/0853dbc02fa5bdc83ac57cec14a55f13518cd50d/

[2021-07-01 21:33] mcoker commented on #1057
@mcarrano looks like this is a result of implementing compound expansion - https://github.com/patternfly/patternfly/issues/721 (PR is https://github.com/patternfly/patternfly/pull/1067)

As best I can tell, it looks like the design called for regular indentation on a nested table, and assumed a nested visual hierarchy would be achieved through the padding on the expandable section. You can see tha

[2021-07-02 14:04] mcarrano commented on #1065
Looks good. I will close.

[2021-07-02 14:04] #1065 closed

[2021-07-05 08:25] garrett commented on #1049
I understand that there's no way to know what will happen with a mashup of every other framework... but PatternFly 3 is kind of special.

It was clearly messaged during the time of the PF4 release that PF3 and PF4 are intended to be able to coexist, to ease transitions from one to the other.

Cockpit is a pretty big project maintained by a relatively small team; we do have most things mostly switc

[2021-07-06 14:43] mcarrano commented on #879
@shirimordechay Yes, I see the specs now. They look great. Let go with an option for centered labels with the default being left-aligned. I left a comment to just add that mockup and then I think this is ready for handoff to development. Thanks.

[2021-07-06 15:44] mcarrano commented on #1062
I've opened https://github.com/patternfly/patternfly/issues/4205 for core implementation. Thanks @doruskova

[2021-07-08 21:26] jgiardino opened #1066 "Enhancement request for Tab component to support disabled tabs with tooltips"
A use case for having a disabled tab has come up in recent discussions. This use case is similar to the one where an action displays but is disabled with a tooltip explaining why the user can't access the action. In the case of tabs, the tab includes contents which are not available to the user due to lack of permission to access the contents.

We did discuss the approach to enable the tab and dis

[2021-07-09 18:04] mcarrano commented on #1066
@jgiardino Seems like a reasonable thing to support. Delivering this by September will be challenging given that we don't currently have disabled states for tabs. I think best case I can try to slot this into our September 15 release. Will that work?

@lboehling would you be able to pick up the design work in the upcoming PatternFly sprint (starting next week)?

[2021-07-12 14:45] mcarrano commented on #879
Opened https://github.com/patternfly/patternfly/issues/4214 to begin core implementation. Thanks for all your work on the @shirimordechay !

[2021-07-12 21:04] mcoker opened #1068 "Create plain text variant for dropdown component"
Similar to the options menu, it's a plain toggle with text (not an icon, which is what `.pf-m-plain` is for currently)

[2021-07-13 14:59] jgiardino commented on #1066
Thanks for the update, @mcarrano!

@dlabaj What do you think about the timing?

The September timeframe is for early eval, whereas GA is targeted for Nov.

[2021-07-13 20:44] mcarrano opened #1069 "Add blog highlights to website home page"
I've long felt that while our home page looks good visually, it does not really convey that much useful information - or maybe at least my take from looking at it so often. I wonder if we can/should use this space to expose some of the content we post in our Medium blog, training tutorials, and/or similar content. I think some of the existing static content could be moved to an About or Get Starte

[2021-07-14 14:31] itsptk commented on #1042
At the design share there was a questions how OpenShift is using cards for Quick Starts (with Labels, etc,) so I figured I'd include a few screens here. Let me know if there is any other info would be helpful for this issue!

![quickstart](https://user-images.githubusercontent.com/54860125/125639633-be1eddd2-31fc-48d7-aed5-da17c31af5bd.png)
![quickstart_hover](https://user-images.githubusercontent

[2021-07-14 14:38] mcarrano commented on #1042
Thanks @itsptk . This is definitely helpful!

@mceledonia we discussed this during today's design share meeting, and I think this OpenShift example would be a great one to focus on since it uses both graphics and labels.

[2021-07-14 16:19] mcarrano commented on #1042
Another example...

We use cards in the virtualization space when users want to create a vm via the wizard. So when users choose to create Virtual Machine from a template, we surface the templates available in the cards view.

Please let me know if you have any questions or need any additional examples.
Thanks,

Yifat

![image](https://user-images.githubusercontent.com/6619860/125656807-4c84616d-5

[2021-07-14 17:55] lboehling commented on #1066
@mcarrano I can take on this issue for this sprint!

[2021-07-14 18:22] beccaglass commented on #1067
sent out this proposal to the platform team a while ago for alignment: https://docs.google.com/presentation/d/1vncKF_dPbsfZBvxXHrZAAAkIb__JHjsbEbHjmjhV6lw/edit#slide=id.ga2df05fa69_0_133

[2021-07-15 15:29] mcarrano commented on #1027
I've opened https://github.com/patternfly/patternfly/issues/4225 to begin core implementation.

@beccaglass when done with your final designs, please post in both places and I can mark this as complete. Thanks for all your efforts on this!

[2021-07-16 08:26] pacospace commented on #964
@evwilkin @mcoker any update on this issue? :) Thanks!!

[2021-07-16 15:08] mattnolting commented on #1011
@mcarrano @gurbirkalsi I'd use the composable table like this: https://8vy1x.csb.app/

[2021-07-16 18:42] mcarrano opened #1070 "Composable advanced search"
Create a composable Search input for supporting advanced search use cases. This will support attribute-value as well as boolean search expressions. See a list of requirements and proposed designs here: https://docs.google.com/document/d/1KzM9pyQzMJjwukfksw8cJ4xIbSCbtCLOlvqgsf10XoI/edit?usp=sharing

Some additional requirements can be found in this issue: https://github.com/patternfly/patternfly-de

[2021-07-20 14:46] evwilkin commented on #964
Hi @pacospace - we've done quite a bit of work investigating this issue but it appears to be a limitation of Gmail as opposed to much we're able to do on our end.  Here's the summary:
- Opening the table generated (your HTML code above) in a browser and copy/pasting the page contents from the browser into an email seems to work well visually, except that the hover styles are lost.
- Gmail CSS supp

[2021-07-21 08:38] terezanovotna opened #1071 "Expandable control in toolbar: usability issue"
I came across this pattern in Insights, and I would love the team to reconsider it as it seems to me we are introducing an anti-pattern, which concerns me.

PF Component:
https://www.patternfly.org/v4/components/data-list/react-demos/#expandable-control-in-toolbar

**Issues:**
- considering the toolbar is the primary action in our UI, having it as a primary action is unhappy location
- from resear

[2021-07-22 13:00] katierik commented on #1071
I'm a big fan of Proposal 2 - Moving it to the table header. I think this would also work fine when the bulk select is in the table header as the bulk select can be aligned with the checkboxes and the expand all can be aligned with the expansion arrows.

[2021-07-23 01:28] kunyan opened #1076 "Allow set size for Avatar"
**Describe the issue. What is the expected and unexpected behavior?**

The `Avatar` component should be able to support set size for it.

* sm
* md
* lg
* xl

**Please provide the steps to reproduce. Feel free to link CodeSandbox or another tool.**

**Is this a bug or enhancement? If this issue is a bug, is this issue blocking you or is there a work-around?**

**What is your product and what relea

[2021-07-26 09:43] doruskova commented on #1071
Agree! And it takes a lot of space! I'm a huge fan of version 2

[2021-07-26 14:23] mmenestr commented on #1071
@mcarrano - wanted to point your attention to this issue! To refresh your memory, my original design had the expand all icon in the header (just like they are asking for here), but we had decided to have the "expand all" button placed in the toolbar because you had expressed wanting the data list and table to have the same design solution for expand all.
But I agree with them that it looks weird i

[2021-07-26 15:55] mcarrano commented on #1071
@mmenestr I know that we had explored some of these different options before arriving at the current recommendation. Didn't we do usability testing on this or am I mistaken? I think there were problems with Proposal 2, but I can't remember what they were. I would need to find the history on this. Proposal 1 would certainly work, but there might be concerns about visibility.

I'm not opposed to cha

[2021-07-26 17:23] mmenestr commented on #1071
@mcarrano you're right that we did conduct a test, but the test was testing using an icon in the header of a table, vs. using an action button with the words "expand all" at the toolbar level. The test did not include a version where the expansion icon was in the toolbar. Here are [the test results](https://docs.google.com/presentation/d/13IVeSebbUziANv54Xyxv-2q8Om2OOWd1mxWNMG-2j3E/edit#slide=id.p

[2021-07-27 16:22] seanforyou23 commented on #970
Was wondering, this component seems to have an awful lot in common with [SkipToContent](https://www.patternfly.org/v4/components/skip-to-content) and JumpLinksItem from the [JumpLinks](https://www.patternfly.org/v4/components/jump-links) component. Other than the styling/positioning and maybe animation, what is the difference in terms of behavior for what BackToTop should do?

Just wanted to ask i

[2021-07-27 16:41] mcarrano commented on #970
@mcoker thoughts about the above?

[2021-07-27 20:07] bgliwa01 commented on #970
![back to top](https://user-images.githubusercontent.com/51342070/127220429-de657fe2-a122-4a9e-9667-e6419a425ac4.png)

[2021-07-27 22:14] mcoker commented on #970
@seanforyou23 it seems like the main overlap is that they're both a primary button as a link that takes you to an anchor on the page, though the skip to content component uses the primary button as it is and this component deviates from the default styling in a number of ways - padding, border-radius, font-size, and box-shadow. Like you mentioned there will also be positioning, and likely animatio

[2021-07-28 08:10] terezanovotna commented on #1071
thanks for finding all the links, I see there was a lot of work done. From what I am reading, I think Proposal 2 could work as an alternative to the current design. Happy to chip in my thoughts if you are going to discuss it on the PF call @mcarrano

[2021-07-28 13:19] katierik commented on #1071
Proposal 2 is also the most similar to the version which was tested & the proposal that came out of the test (Slide 19).

[2021-07-28 14:53] kywalker-rh opened #1072 "New Pattern: Non-actionable card"
## Requesting new features, enhancements, or design changes to PatternFly
- We have the need to show a card that cannot be clicked within a catalog primary-detail view.
- Currently the cards are only selectable or actionable, but for our use case we want to show cards that preview future features, but aren't currently actionable.
- This is currently being used in RHODS. This is a proposal to get t

[2021-07-28 17:42] mcarrano opened #1151 "Button guidelines: add guidance on placement of a Test button"
On multiple occasions people have asked where to place a Test button in a form when the user is encouraged to test configuration changes before saving. We should add this topic to the Button guidelines.

[2021-07-28 17:57] mcarrano commented on #1072
@mceledonia this issue was raised in today's PF design share by @kywalker-rh. It seems like we should consider this as part of the restyling for selected cards and tiles. So a card/time would have the following states available: normal, hover, selected, and disabled (or unavailable).

[2021-07-29 12:37] seanforyou23 commented on #970
Makes sense @mcoker, there could be some benefit but after hearing the other considerations (especially the naming) I think you're probably right - not worth the effort. Thx for entertaining the question!

[2021-07-29 18:47] lboehling commented on #1066
Here is my design suggestion for disabled state styling across PF tabs--

![image](https://user-images.githubusercontent.com/46571616/127548848-41e2b45a-7847-47e3-8ab4-f969fec7d815.png)

@mcarrano @jgiardino @dlabaj

[2021-07-29 20:16] mcarrano opened #1073 "Editable label affordance"
A new editable label group is being introduced in release 2021.10. A preview can be seen here: https://patternfly-react-pr-6065.surge.sh/components/label-group  It was pointed out that there is currently no affordance to indicate when a label is editable or not. Should there be? If so, what would that look like?

[2021-07-29 20:34] mcarrano commented on #1066
@lboehling I think this works. Are these the same gray values for disabled that we are using for buttons?

@mceledonia @mcoker can you also review?

[2021-07-29 20:47] mcoker commented on #1066
@mcarrano lgtm

[2021-07-30 13:59] kuklas opened #1074 "State timeline chart"
This chart proposal is for Research Optimization in c.rh.c Insights. It might be the closest in visuals to stack chart from patternfly https://www.patternfly.org/v4/charts/stack-chart, but it looks bit different.

We were looking for a way to show multiple data types in a chart without losing colors from main page. We have this view in [main page ](https://marvelapp.com/prototype/geig8bh/screen/80

[2021-07-30 15:34] indraraj opened #1075 "Add optional disable prop to ToggleGroup component."
**Describe the issue. What is the expected and unexpected behaviour?**
There is no way to disable `<ToggleGroup>` as a whole. There should be a prop like `disable` for ToggleGroup to do it.

**Is this a bug or enhancement? If this issue is a bug, is this issue blocking you or is there a work-around?**
Enhancement
Currently to disable the ToggleGroup I had to disable the ToggleGroupItem individuall

[2021-07-30 18:24] bgliwa01 commented on #970
![Default - mobile xs](https://user-images.githubusercontent.com/51342070/127696016-014d540c-09c2-4452-a7e6-73fc7206c31d.png)
![backtotoppage](https://user-images.githubusercontent.com/51342070/127695970-eb2e40fc-3e92-407f-8cbf-5f8ac112d3a5.png)

[2021-07-30 18:26] mcarrano commented on #970
Thanks @bgliwa01 . I have opened a new core issue here to begin implementation: https://github.com/patternfly/patternfly/issues/4255

[2021-07-30 18:32] mcarrano commented on #1066
I've opened a new core issue here: https://github.com/patternfly/patternfly/issues/4257

[2021-07-30 19:00] mceledonia commented on #1066
These look good to me!

[2021-08-02 14:02] mcarrano commented on #1066
I'm going to call this complete then. Thanks for your work on this @lboehling !

[2021-08-03 10:48] nirfarkas commented on #879
The current design of the stepper doesn't align well with what we have inside the Assisted Installer/Central infrastructure Management. The steps in those are not linear, meaning, it's not that "Control plane" is being installed and only then "Workers" are being installed, they're being installed simultaneously. The same applies to the "Operators" and "Finalization" steps. Another thing is that th

[2021-08-03 13:41] mcarrano commented on #879
@nirfarkas the stepper is intended to show the progress of a sequential, step-by-step linear process. If that's not what you have, then maybe the stepper is not the right solution. If you want to set up some time to discuss, that will be fine. I would need to see more details about the task you describe above to be able to comment further.

[2021-08-03 17:52] matthewcarleton commented on #879
I agree, what you are proposing does seem like a variation of the PF stepper, maybe it could be a modified version of it.

[2021-08-03 19:25] mcarrano commented on #1041
@lboehling please see my questions above. Other than fixing the drawer demo, is there any more action that is needed? If not I will close.

[2021-08-03 19:58] lboehling commented on #1041
Thanks @mcarrano! I just spoke with Jenn and we agree with all of your comments above.  No more action is needed, and we're fine with closing this issue.

From Jenn -- "...as for the quick starts, since those are getting spun up into a separate project, I would also expect that project to manage any updates it might need regarding the drawer design or behavior."

[2021-08-03 20:28] mcarrano commented on #1041
Thanks @lboehling and @jgiardino . I will close.

[2021-08-03 20:28] #1041 closed

[2021-08-03 21:03] redallen opened #1077 "Interaction design for drag and drop"
React needs drag and drop interaction design and colors. The implementation will use [react-beautiful-dnd](https://react-beautiful-dnd.netlify.app/?path=/story/*) or a partial implementation of it.

## Draggable area
Should we default to only allowing a toggle button to drag, or anything on the item?

Option A
![image](https://user-images.githubusercontent.com/47335686/128082309-eaa9d71f-2a38-4945

[2021-08-04 10:12] nirfarkas commented on #879
Thanks Matt!
I think I need to set a meeting around it with all stakeholders.
I'll send you an invitation.
Nir

On Tue, Aug 3, 2021 at 4:41 PM mcarrano ***@***.***> wrote:

[2021-08-04 14:40] beccaglass commented on #1027
final designs & specs: https://docs.google.com/document/d/17jhcgkUgpw7f9Ixf9ew8RfcivSck9mdv_Yw6fIZhlAs/edit?ts=60cb76dd#heading=h.ea3lujnv46vp

[2021-08-04 17:19] mcarrano commented on #1027
Thanks, @beccaglass !

[2021-08-04 20:34] mcarrano opened #1079 "File upload enhancements"
This is a collection of specific requests for File Upload

[2021-08-04 20:36] mcarrano commented on #1079
@cgrayes I created this epic to consolidate the two file upload issues that I mentioned this morning since you will likely be working on these together. Feel free to post any comments, questions, or interim deliverables here. Thanks for taking this on!

[2021-08-05 14:06] mcarrano opened #1080 "Label enhancements"
This epic aggregates enhancements to labels and label groups.

[2021-08-05 14:13] mcarrano commented on #1080
@gonoraj I created this epic and assigned to you to cover enhancements for labels and label groups that you may be working on. You can post any updates or design proposals here if you want to cover both issues together.

[2021-08-05 14:57] mcarrano commented on #1033
@MariSvirik I reviewed this with our React devs. We should be able to support reordering items in the right-hand list as in the design. Changing this to an ordered (numbered) list will be a problem, so I don't expect we can support that. IMO, the numbers are not needed as long as the user can reorder the items in the list by dragging.

We have had some problems with our existing drag & drop implem

[2021-08-09 06:15] xprazak2 commented on #1033
Thank you for doing this. The numbers are nice to have but not a necessity.

[2021-08-09 14:18] #937 closed

[2021-08-09 14:19] #772 closed

[2021-08-09 14:20] #1006 closed

[2021-08-09 14:20] #769 closed

[2021-08-09 14:21] #958 closed

[2021-08-09 14:22] #881 closed

[2021-08-09 14:26] #1059 closed

[2021-08-09 14:33] mceledonia opened #1081 "Consider refining/tightening use cases for tooltip and popover"
@mcarrano

I think everyone is aware of the tooltip vs popover confusion we run into every now and then which has led to discussions around expanding the functionality of either the tooltip or popover component.

 I’m wondering if an easy solution to this is to bring the tooltip back to its roots and restrict it to essentially being a “tool tip” - pretty much a description or label of an icon acti

[2021-08-09 15:17] #1062 closed

[2021-08-09 17:38] mcarrano commented on #1058
Should this be handled by the browser password manager ?

[2021-08-10 14:11] doruskova commented on #1025
@mcarrano I was exploring this issue and here are my thoughts because I'm not sure if I understand this issue correctly:

1. On a cloud platform we usually use the compact pagination at the top of the table (smaller space) and then full pagination at the bottom [Marvel link](https://marvelapp.com/prototype/cf5fj8i/screen/81372798). That means that you always get a number of items because it says "

[2021-08-10 20:08] mcarrano commented on #964
Based on the above, I am going to close this issue. Can revisit in the future if there is still something needed from PatternFly.

[2021-08-10 20:08] #964 closed

[2021-08-10 20:12] mcarrano commented on #1068
Can we use the Context Selector here, instead? Maybe useful for constrained spaces?

[2021-08-10 20:27] mcarrano commented on #1075
@tlabaj I'm OK with supporting this. Do you see any downside? If not I will transfer back to React and get on our roadmap.

[2021-08-10 20:34] mcarrano commented on #1076
Consider whether we should support a `height` and `width` prop for the React component. If we decide to support fixed sizing, need to determine what those would be.

[2021-08-11 06:06] edewit commented on #1025
@doruskova on keycloak we have a list of users these users don't directly from the database but from 3rd party systems so getting the total number of rows is not an option. I now use `toggleTemplate` to remove the total amount, but I still have it displayed on mobile layout.

[2021-08-11 07:11] doruskova commented on #1025
@edewit So, if I understand correctly. You need pagination without the total number of items and it's difficult because the PF component uses it everywhere and it's not customizable. Is this correct?

[2021-08-11 09:35] edewit commented on #1025
Exactly it can be configured to not have the total number, but it will show it on mobile.

see:
Normal layout
![image](https://user-images.githubusercontent.com/51133/129005883-9cd98158-4a8b-4f9e-85ad-3f34577968a7.png)
Same page on mobile:
![image](https://user-images.githubusercontent.com/51133/129006110-6694fff9-68e1-48f3-9318-5f21df7fdc31.png)
The `toggleTemplate` attribute is only used for the

[2021-08-11 12:11] doruskova commented on #1025
@mcarrano It seems more like a technical issue than a design issue. WDYT? Is possible not to show the number of total items on a mobile? Can we tweak the component easily to make this possible?

[2021-08-11 12:54] mcarrano commented on #1025
@edewit @doruskova I guess that the only design question here is what do we display if we remove the total item count? Just "1-7" in the mobile toolbar example above? Maybe that's the best we can do, but it  feels like that does not give the user much information. Let me know your thoughts. If that's the only solution, then I will pass this over to development to add that as a new variant when it'

[2021-08-11 13:17] doruskova commented on #1025
@mcarrano Yeah. If we talk about only compact mobile pagination, then I think that it's the only design solution. What about showing only "1 - 10" but keep the arrows (see a screenshot) so that the user can browse the pages? At least for the full bottom pagination to keep any value? Unfortunately, the compact would show only "1-10" at the top.
![Mobile xs - pagination](https://user-images.githubus

[2021-08-11 15:03] mcarrano commented on #1025
The more I think of it, maybe for mobile, we should just hide the upper page count entirely and only have the footer pagination control. What do you think @edewit @doruskova ?

[2021-08-11 15:41] mcarrano commented on #1067
@jeperry @Rohoover @katierik Can any of you clarify exactly what is needed from PatternFly here? Looks like @beccaglass has done a design exploration from a cloud platform perspective and posted recommendations above. There is nothing there that cannot currently be achieved with the current Tile component. Perhaps we would add this information to our design guidelines? Let me know what you think w

[2021-08-11 15:45] mcarrano commented on #1074
@terezanovotna @kuklas We discussed and the best next step would be to explore this issue via a proof of concept. Right now, all of our charts are based on Victory charts and it's no clear whether we would need to pull in a different charting package for this. We will welcome any collaboration on this.

@evwilkin @nicolethoen I'm going to transfer this over to React so we can schedule this as a Po

[2021-08-11 15:58] mcarrano commented on #1058
Additional mockups from @sharimordechay: https://marvelapp.com/prototype/c7j2b6b/screen/80220648

[2021-08-11 16:03] mcarrano commented on #1050
This is not something I'm willing to address at present. But we can revisit this again if it continues to come up.

[2021-08-11 16:03] #1050 closed

[2021-08-11 20:03] mmenestr opened #1082 "Modify date picker experience"
We have 4 questions/requests coming out of the c.rh.c team that have to do with the date and time picking experience currently offered by PF.

**First request**
Wondering if it would be possible to create a new "select list" component for date picking, which includes a list of relative date ranges. Additionally, when a date range is picked from the list, we would want the actual dates to be writte

[2021-08-11 20:37] mcarrano commented on #797
This issue seems pretty stale at this point, so closing it out. We can always open a new issue if/when this comes around again.

[2021-08-11 20:37] #797 closed

[2021-08-12 13:10] doruskova commented on #1025
@mcarrano I think it's a great idea! Agree with that.

[2021-08-16 07:39] pacospace commented on #964
Thanks you very much @mcarrano @evwilkin @mcoker @mattnolting for looking into this and find a possible solution! I will check it out!!

[2021-08-17 14:09] mcarrano commented on #1025
@mcoker if we want to just hide the top pagination below the mobile breakpoint, is that a change to the Pagination component or the Toolbar? Would this be considered breaking? If so, I think we should add the option. Let me know your thoughts.

[2021-08-17 14:45] ianw opened #1083 "Allow Icon on DescriptionListTerm"
I think it would be great if you could do `<DescriptionListTerm icon={<AnIcon />}>...` in the same way you can do `<ListItem icon={<AnIcon />}>` and have it format correctly.  It feels like they have similar use-cases where some visual indicator of the term can be helpful for quick identification.

![Screenshot_2021-08-16_15-40-22](https://user-images.githubusercontent.com/108448/129516283-d6bb994

[2021-08-17 18:05] mcarrano commented on #1061
The review was completed. Methodology and a summary of results can be found here: https://docs.google.com/document/d/1oXiPrHAoVyz4sksPOWjGjBNkMOrhidBtswEriepy61E/edit?usp=sharing

[2021-08-17 18:05] #1061 closed

[2021-08-17 18:54] mceledonia commented on #1042
@mcarrano I have a new proposal for this which involves a little more interaction, but from a brief conversation with @mcoker it sounds like it shouldn't be an issue.

The idea is that the hover state is a light blue bottom bar, then on selection the bar doubles in height, shifts to our primary blue color, and also shifts the card position up. The card position shift would not push other cards or

[2021-08-17 19:02] lboehling commented on #1042
I really love this solution @mceledonia! I'm thinking this proposal could translate well for our row selection styling in data lists/tables too if we choose to align.

[2021-08-17 21:35] mcoker commented on #1025
@mcarrano it would be a breaking change, and a change to the toolbar I'm assuming since users may want to show it or use it outside of a toolbar. Though the pagination in the toolbar is in a toolbar item (`<ToolbarItem>` or `.pf-c-toolbar__item`), and toolbar items take a prop to hide/show at various breakpoints. The prop to use here would be `visibility={{ default: 'hidden', sm: 'visible' }}` whe

[2021-08-18 13:58] mcarrano commented on #1025
@mcoker Yes, I think that works if I understand it correctly. So I think that you are saying we can optionally hide the pagination via a prop at mobile breakpoints? What are the next steps on this then? Do I need to then open a core issue to add these classes and update our demos?

[2021-08-18 14:31] mcoker commented on #1025
@mcarrano yep! You could also open a react issue to update those examples, too.

[2021-08-18 15:21] ajacobs21e commented on #1076
Here are two places I'm using the avatar at larger sizes:
Profile - 134px diameter in this example
https://marvelapp.com/prototype/7597af3/screen/81391914

User menu - 64px here
https://marvelapp.com/prototype/7597af3/screen/81391915

[2021-08-18 19:20] mcarrano commented on #1033
The result would look something like this:

![Dual-list-reorderable.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/5f8927b4-bac0-47a4-843a-9c1e6e19a048)

If we are all good with this, I will open a core issue to start implementation.

cc @mcoker

[2021-08-18 19:27] mcarrano commented on #1070
Here is an initial proposal: https://marvelapp.com/prototype/h0aciih/screen/81407361  Comments welcome.
cc @mcoker @nicolethoen @mceledonia

[2021-08-19 12:22] SpyTec opened #1084 "Pagination for unknown page count"
Paginated endpoints may sometimes utilize a cursor-based pagination to optimize for performance or simply not show the total count or total pages. While this is good for improving performance, it means we have no way of knowing how many pages there will be

This poses an issue for the current PF pagination, as all the designs and the React implementation requires count to work properly

One design

[2021-08-19 13:16] mcarrano commented on #1084
@SpyTec A similar issue was raised here: https://github.com/patternfly/patternfly-design/issues/1025 See the discussion. Changing the total page count to "many" is an interesting idea we had not thought of.

cc @doruskova

[2021-08-19 20:37] mcarrano commented on #1076
Thanks for posting these @ajacobs21e .

@mceledonia @mcoker Do you think it would be useful to have some set sizes. Based on the usage I'm seeing, perhaps a sm, med, and large where small is for masthead use and then medium and large based on Allie's mocks. The advantage is that this would encourage consistent sizing.

@kunyan Would these sizes work for you? Did you have uses for an avatar that di

[2021-08-19 20:59] mcarrano commented on #1071
What if we just replaced the icon for expand all? Yes, we could move the tool to the table header, but I think that the fundamental problem is that the icon so firmly implies that the thing to the right is expandable. I looked at some other options. Existing in PF today we have

`fa-expand` ![Screen Shot 2021-08-19 at 4.55.48 PM.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/69

[2021-08-19 21:28] mcoker commented on #1076
@mcarrano agree, sounds good to me.

[2021-08-20 09:44] kunyan commented on #1076
@mcarrano LGTM

[2021-08-20 15:28] mmenestr commented on #1071
I had already looked at using that first icon, but we concluded it would be confusing - to me it implies more of a "expand screen" than expand role, and same with the second icon.

I think the double arrow would work great though if we do change directions with the icon. I think it would even help clarify it as an expand all icon if we keep it in the toolbar + the study we conducted was with a dou

[2021-08-20 16:28] imjoyjean commented on #1073
@mcarrano and I were discussing the [Auto-complete input](https://docs.google.com/document/d/11U-lJ6B7l6uGPW6A-lgteFREY874mzBhy1LxHZfNQb8/edit#) for search and editing labels. The suggestion was to include the behavior of autocomplete for inputting and editing labels in this issue.

Specifically in context of ACM and OCP, this modal is used to add labels, and can we provide an interaction there fo

[2021-08-20 19:09] mcarrano commented on #1033
Opened https://github.com/patternfly/patternfly/issues/4319 to begin core implementation.

[2021-08-20 19:24] mcarrano commented on #1085
Let's revisit these demos based on current thinking about filtering.

[2021-08-20 20:28] jknilans opened #1086 "Support for country level phone formatting"
**Describe the use cases and requirements of the new feature or enhancement you are requesting.**
- This component can be used anywhere where users will need to either provide or read a phone number in a way that allows for quick recall and recognition.
- This feature will convert phone numbers from a generic number, e.g. 8662733428 into a country-specific format, e.g. +1 (866) 273-3428 automatica

[2021-08-20 20:58] mcarrano opened #1087 "Search input demo(s)"
Want to create a demo of the Search input component that shows how it can be used in context to demonstrate the following functionality:

        - Support of complex queries (with multiple operators: and, not, or, =, >,<...)

        - Combination of composable search input and value-attribute filters (without being limited by each other)

        - Fulltext search for names / descriptions / mess

[2021-08-23 14:42] mcarrano opened #1088 "Type-ahead select: support key-value filtering"
Want to add the ability to use a type-ahead select for selecting multiple key-value pairs as shown in the examples for ACM in this doc: https://docs.google.com/document/d/11U-lJ6B7l6uGPW6A-lgteFREY874mzBhy1LxHZfNQb8/edit?usp=sharing

[2021-08-23 14:59] mcarrano commented on #1022
I am going to transfer this over to the core repo to create a spike for investigating this further. Here is some related Slack conversation:

This will be for a breaking change release?
2:06
There is a new CSS feature coming called accent-color that colors checkboxes, radios, range, and progress elements
2:06
https://web.dev/accent-color/
That would be a more native way to style those elements rat

[2021-08-23 15:04] mcarrano commented on #1067
@maryshak1996 I am going to move this back into the design backlog until we have more information.

[2021-08-24 12:34] andrew-ronaldson commented on #1077
@mceledonia @mcarrano Here are some of the design options I am working on. https://marvelapp.com/prototype/h198be4/screen/81623894

[2021-08-24 15:16] gonoraj commented on #1073
Hi @mcarrano @imjoyjean ! I put together [this doc](https://docs.google.com/document/d/1OZfDXRqbc9Y5d1gWhXVhv2I1z_MI1z5PdobNbyfSVKw/edit?usp=sharing) with options for editable label affordances and auto-complete behavior.

A brief summary is:
- 2 possible solutions for affordances, although styling might still need adjustments
- Designs for auto-completing a new label, and for editing a label. The

[2021-08-24 21:14] mcarrano opened #1089 "Filter patterns"
A collection of issues that address requirements for supporting advanced filtering use cases from the toolbar. See this doc for related examples and requirements.

https://docs.google.com/document/d/18hJEGg9zywWoCQkSOkytHEMlu1TiYiZFaHk6-yZp1BA/edit?usp=sharing

[2021-08-26 15:39] jessiehuff opened #1125 "Create demo to show how alerts can be used in forms and modals"
**Describe the issue. What is the expected and unexpected behavior?**
Frequently in product, our Alert component is being combined with our Form and Modal components, but we don't have a demo showing this interaction. We have an Invalid with form alert example, but I think it would be helpful to show the full interaction that could happen between a modal, a form, and hitting the submit button to c

[2021-08-30 14:21] #861 closed

[2021-08-30 14:21] #867 closed

[2021-08-30 14:46] mcarrano commented on #1058
Per discussion with @sharimordechay @mcoker @mceledonia will approach this as a demo. Add to roadmap.

[2021-08-30 18:52] mcarrano commented on #1088
Here is an initial proposal for how this could work by enhancing existing search input behavior.

![Type-ahead-attribute-value.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/04992b08-57b8-4f5f-ae8f-0817cfe08429)

[2021-08-30 19:33] imjoyjean commented on #1088
wondering what this would look like at scale? If there were 5 key-value pairs, would the search bar expand to be bigger or would the extra key-values that don't fit be truncated?

[2021-08-30 20:16] mmenestr commented on #1088
Yeah, good question Joy! When you look at how the github key:value search works, it basically shifts everything to the left when you type more things than can fit in the bar, so that you always see the most recent thing you typed in. Maybe we could do that? Cause I definitely don't think the search bar should expand to be bigger as the user types haha

[2021-08-30 20:26] mcarrano commented on #1076
I will add this to the PatternFly roadmap. Currently planning into Q1 2022.

[2021-08-31 11:48] MariSvirik commented on #1088
In my opinion, enlarging the search field shouldn't be an option. That's what Satellite does in some places.
The truncated text would be problematic as it limits legibility. Also, I'm not a big fan of scrolling right and left to read the entire query. Unfortunately, I can't think of a better solution (maybe just chips under the search bar - that would accommodate more pairs)

Is there any reasonin

[2021-08-31 19:45] mcarrano commented on #1088
@mmenestr @imjoyjean @MariSvirik Good question about how this should scale. The expectation is that we would build this off of the existing type-ahead select multiple component. That is currently implemented so it can hide items after a certain threshold is reached and wrap items once the content no longer fits the width of the container. I recorded a screen capture video to show what that looks l

[2021-08-31 20:22] mcarrano commented on #972
I will be revisiting this issue as we have recently received multiple requests for this type of functionality. My research has uncovered some fairly common patterns for a visual query builder that relies on form-based input. Here are some links:

https://www.lightningdesignsystem.com/components/expression/
https://dribbble.com/tags/query_builder
http://ui-patterns.com/patterns/rule-builder

@marsh

[2021-08-31 20:31] trahman73 commented on #972
@mcarrano Yes, the examples are pretty much what we had in mind with the requested functionality. The composable search input sounds like a nice approach to achieve this.

[2021-09-01 15:39] nicolethoen commented on #972
I agree! :)

[2021-09-01 15:49] mceledonia commented on #1048
OpenShift has a need for this with their badges/labeling system which currently uses custom badges where they should be using labels. We are hoping this can be implemented for a refresh of their resource badge styling which is not yet prioritized.

Since I have some designs for those already I'll paste them here with a quick spec - basically comes down to reducing the spacers/padding and a smaller

[2021-09-01 16:55] andybraren commented on #1048
Related OpenShift discussion:
https://issues.redhat.com/browse/ODC-5537

[2021-09-01 20:49] Rohoover commented on #1088
Just wondering if this allows for search strings?... subtracting/filtering out vs. adding chips?

Like I want all things that start with the Letter A, and have a green status but not with the label dev.

[2021-09-01 21:29] mcarrano commented on #1088
@Rohoover No, this component would not solve for that use case. This would only address the case of wanting to filter on multiple labels/tags. There is a separate issue that I am working on for a general query builder here: https://github.com/patternfly/patternfly-design/issues/972  It may be that these can be combined into a single solution, but I have not been able to find that sweet spot yet. W

[2021-09-03 15:33] nicolethoen commented on #1086
I believe that this could already be accomplished as drawn up in the marvel wireframe using a MenuToggle + Menu + third party data source to build the country dropdown, and possibly a TextInput + country specific formatting/validation to build the input.

[2021-09-03 15:37] kywalker-rh commented on #1072
@mceledonia I added a visual spec into the description above, and also added it to the Marvel. If you need more info please let me know.

[2021-09-03 18:56] mcarrano commented on #1072
Thanks @kywalker-rh and @mceledonia . I am going to close this out and will open a new core issue to pass along to development.

[2021-09-03 20:42] mcarrano commented on #1088
I did some additional work on this to address the overflow (scalability) case that was raised above. I don't think there is a perfect solution to this, but you can see some ideas here: https://marvelapp.com/prototype/15dbe4c9 Comments welcome. I will also be presenting this at next week's PF design share.

[2021-09-07 17:28] maryshak1996 commented on #1011
Final visual design here: https://marvelapp.com/prototype/5d421g0

[2021-09-08 13:59] redallen commented on #1077
See https://github.com/patternfly/patternfly-react/pull/6258 .

[2021-09-09 13:43] mcarrano commented on #1029
I have opened https://github.com/patternfly/patternfly/issues/4360 and will move this along for development.

[2021-09-09 13:45] mcarrano commented on #1072
Opened https://github.com/patternfly/patternfly/issues/4359 to begin development. Will close this design issue. Thanks @mceledonia @kywalker-rh.

[2021-09-09 13:45] #1072 closed

[2021-09-09 13:49] mcarrano commented on #1011
Thanks @maryshak1996 ! I have opened https://github.com/patternfly/patternfly/issues/4365 to move this along to development.

[2021-09-09 13:50] #1070 closed

[2021-09-09 14:02] mcarrano commented on #826
This use case is being covered pretty well by the designs being proposed here: https://github.com/patternfly/patternfly-design/issues/1064 Will close this request in favor of that issue.

[2021-09-09 14:02] #826 closed

[2021-09-09 14:14] mcarrano commented on #1071
After giving this some thought, I agree that we should proceed with implementing Proposal 2 as shown above. I think the better usability this affords in worth the inconsistency it creates between data lists and tables. I've opened https://github.com/patternfly/patternfly/issues/4366 and will get this on our roadmap. Thanks for raising this issue @terezanovotna .

[2021-09-09 14:22] cgrayes commented on #1064
Here is the latest proposal that I will iterate on.
[Multiple File Upload - High Fi.pdf](https://github.com/patternfly/patternfly-design/files/7137326/Multiple.File.Upload.-.High.Fi.pdf)

[2021-09-09 15:56] mcarrano commented on #1088
I have made some updates based on feedback from the Sep 8 design review and comments on the [Marvel deck](https://marvelapp.com/prototype/15dbe4c9/screen/81845426) and opened https://github.com/patternfly/patternfly-react/issues/6290 to begin development in our upcoming sprint. Let me know if you have further feedback.

Note that this is only one of several issues we will be addressing to provide

[2021-09-10 19:56] nicolethoen opened #1091 "New: Composable collapsable panel"
We need a composable component that is designed to be a custom content panel which overlays other content.

For example, the advanced search form found under `SearchInput` `React-Demos` on the website.
The form is placed in something that looks like a `Menu` but a menu is designed to have `MenuItems` as children. We need a more flexible, general use panel than a `Menu`

[2021-09-13 12:15] jhiadlov commented on #1066
@mcarrano Hello, I have been working on this issue in the Sketch library, and I would like to know, should I also add a disabled state for horizontal tabs with icons? :)

[2021-09-13 14:53] mcarrano commented on #1066
Yes. No reason that disabled tabs can't work with or without icons.

[2021-09-15 13:05] mcarrano commented on #1091
@mcoker do we need an actual design story for this? I assume that we already know what the styling needs to be based on similar components. Any reason we just can't create this directly in Core?

[2021-09-15 18:56] mcoker commented on #1091
@mcarrano I think that would be fine. At a minimum, this could just be a box that we can use to put things in. We could also consider if this box needs structural elements, like a header, footer, etc (like a card).

Another question is - could we use something like this with the menu component (place the menu list inside) and other components that pop out in a panel on other things, or would we du

[2021-09-15 21:15] mcarrano commented on #1091
@mcoker not sure how to answer this, but we can discuss further. Given the above, I will transfer this over to core and get it on the roadmap.

[2021-09-16 11:02] sunilmalagi commented on #1081
Hi Michael and Matt, I have adjusted spacing around the tooltip and popover.  Here is the marvel link with couple of variations.  Please let me know if you have any feedback:
https://marvelapp.com/prototype/ch6id28

[2021-09-17 13:38] mcarrano commented on #1081
@sunilmalagi Thanks for posting these. I definitely think think the tighter spacing looks better. Do you have a preference for 24px or 16px spacing? My opinion is that the 16 px spacing looks fine for popover but maybe a little tight for the tooltip? @mceledonia what do you think?

[2021-09-17 15:10] srambach commented on #1029
@mceledonia @lboehling @mcarrano How should a disabled link look in the banner?

[2021-09-17 17:48] mcarrano commented on #1029
Do we need a disabled link? Are inline text links ever disabled? I don't think we are talking about link buttons here, are we?

[2021-09-17 17:51] srambach commented on #1029
I'd rather put it there because if not, someone someday is going to. I was planning to make sure all of these work:
![Artboard 1](https://user-images.githubusercontent.com/19825616/133832282-97a56f40-47b5-42e7-a9e8-9ba369524d59.png)

[2021-09-17 17:52] srambach commented on #1029
I was planning to make all of these work, because someday someone is going to do it.
![image](https://user-images.githubusercontent.com/19825616/133832442-10d09790-47dc-4e7a-a321-358fd99925f8.png)

[2021-09-17 17:55] srambach commented on #1029
And for the record, they actually all pretty much come along for free, except the disabled link button.

[2021-09-17 18:04] mcarrano commented on #1029
OK. @mceledonia @lboehling thoughts on styling?

[2021-09-20 12:50] sunilmalagi commented on #1081
@mcarrano Thank you for your feedback.  I agree with you 16px padding for both Popover and Tooltip, I think you are looking at 8px padding for the tool tip (which looks little tight..)

[2021-09-20 15:19] #1085 closed

[2021-09-20 15:19] mcarrano commented on #1085
Duplicated by https://github.com/patternfly/patternfly-design/issues/1045  Closing...

[2021-09-20 16:53] bgliwa01 commented on #991
Here is the updated design with the feedback from the design share: https://marvelapp.com/prototype/15bb10j4

@mcarrano

[2021-09-20 18:07] nicolethoen commented on #991
I do believe that it is already a feature that consumers can create their own keyboard shortcuts. Let me look at the API again and remember how

[2021-09-20 18:19] nicolethoen commented on #991
I found it! I believe if they use the `editorDidMount` prop, they can add an editor command using the monaco key codes like the code snippet:
[code]
monaco also has an example of this on their [documentation](https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandalonecodeeditor.html#addcommand) and [playground](https://microsoft.github.io/monaco-editor/playground.html#intera

[2021-09-21 14:19] mcarrano commented on #972
Here is a preliminary design for a PatternFly visual query-builder: https://marvelapp.com/prototype/68j18e3. This is largely modeled after the Lightening Design expression builder component here: https://www.lightningdesignsystem.com/components/expression/

Comments and feedback are welcome.

[2021-09-22 11:17] kuklas commented on #972
Hi, I was working on putting together a condition builder for Policies in Insights: https://marvelapp.com/prototype/74h9j8g/screen/80778309. Just an observation that I came across a case where the condition starts with an operator "NOT" (for example: not facts.yum_repos = "Red Hat Satellite Tools 6.5 (for RHEL 6 Server) (RPMs).enabled") So I was trying to fit an optionable operator in front of the

[2021-09-22 11:41] andrew-ronaldson commented on #1038
This styling for the secondary actions dropdown is being used in console today for Network policies. Can this be brought up at the next sprint @mcarrano ?

[2021-09-22 11:50] doruskova commented on #1042
@mceledonia Could you add a spec for this styling so that I can make it available in our Design kit? Thanks!

[2021-09-22 15:35] nicolethoen commented on #972
This should be possible - and would be an doosy of a form to build, even as a demo.
But I like it! I believe the intricacies of turning the form into a valid query string to be displayed in the input would be the hardest part.

[2021-09-22 20:58] mceledonia opened #1092 "Update PatternFly logo to use Red Hat Display"
We switched PatternFly's base font quite some time ago, but the logo still uses our old base font of Overpass. It would make sense to update the logo to match our new base font. Since it is a logo lockup, it would make the most sense to use Red Hat Display. This issue is for tracking/awareness.

[2021-09-24 14:09] mcarrano commented on #1067
We have not gotten further input or activity on this for more than a month, so I am going to close. We can revisit again in the future if needed.

[2021-09-24 14:09] #1067 closed

[2021-09-24 15:50] mcarrano commented on #1075
Will add this to our roadmap. Currently scheduling into Q1 2022.

[2021-09-27 17:58] mcarrano commented on #991
Thanks @nicolethoen .  So if the consumer creates these and wants to make them displayable to the user as in this design, is that already built into Monaco or do we need to make an enhancement?

[2021-09-27 18:29] nicolethoen commented on #991
We shouldn't need to make an enhancement. The consumer can build a toolbar, display it on top of a Code Editor, and put whatever they want into it. And they can also program the editor to add keyboard shortcuts. So they should have all the pieces they need (they just need to make sure they are not adding keyboard shortcuts that conflict with monaco's many preexisting short cuts).

[2021-09-28 03:58] xianli123 opened #1093 "An enhancement proposal for multiple select"
## Requesting new features, enhancements, or design changes to PatternFly

- Use case
In our design, we want to use the [PF4 multiple select](https://www.patternfly.org/v4/components/select/#multiple) (the "isCreated" is marked) to help users select or create a resource type.

- Requirements
I found that the user was not prompted to type some characters to create a new item. It's a bit confusing.

[2021-09-28 14:03] vjwilson opened #1096 "Right-hand in-page table of contents on docs pages is hidden below 1450px"
On current PatternFly docs, the in-page table of contents (TOC) is hidden when the browser width is below 1450px.

[code]

Often, I keep my browser windows narrow, either to fit them side-by-side on a large monitor, or simply because the resolution I use on my 13-inch MacBook is 1440px wide. So, I rarely see that right-hand side table of contents.

I think this hurts discoverability, and makes it

[2021-09-28 15:51] megan-hall opened #1094 "Proposal to add timestamp component"
[MARVEL MOCKUP
](https://marvelapp.com/project/5998141)

**Goal**
Document requirements and align on a design that works across product areas to communicate time across our products in a consistent way.

**Background**
Currently OCP has a custom timestamp component. We would like to propose to contribute this to Patternfly and make any necessary design changes based on current in console feedback

[2021-09-29 13:48] cgrayes commented on #1064
The latest high-fi design
[Multiple File Upload - 9-29-2021pdf.pdf](https://github.com/patternfly/patternfly-design/files/7252417/Multiple.File.Upload.-.9-29-2021pdf.pdf)
.

[2021-09-29 14:43] lboehling commented on #1064
Hi @cgrayes! Thanks for sharing these designs at the PF design share. These are looking great! I have a couple small visual suggestions I wanted to mention on the call, but didn’t want to take too much time.

1. We don’t show the blue border in the collapsed states for accordion or expandable data list rows, so I think we should be consistent and not show it in the collapsed state here either.
2.

[2021-09-29 14:47] cgrayes commented on #1064
Thanks @lboehling I will take a look and make the changes.

[2021-09-29 15:16] mcarrano commented on #1025
An additional idea proposed by @spytec is to substitute the word "many" for the total page count when using the full pagination. That is summarized in #1084 and here:

[2021-09-29 15:19] mcarrano commented on #1084
@SpyTec I am going to close this issue in favor of #1025 that is already on our roadmap. We will go with your solution to substitute the word "many" when the exact number of pages is not known.

[2021-09-29 15:19] #1084 closed

[2021-09-29 15:22] mcarrano commented on #968
I am going to move this to our design backlog but will not add to the roadmap until or unless we have a specific product use case for this.

[2021-09-30 09:35] doruskova commented on #1042
@mcarrano Is this styling going to replace the current one or do we still want to keep it? Just wondering if we should override the previous style for a selected card or create a new one in Sketch because if anyone used the current style with a blue border on a top and I'll change the current style > it'll change every component using this style. For example, we use the current style for a static

[2021-09-30 14:37] mcarrano commented on #1042
@doruskova I think this is still a TBD. Maybe hold before making any design kit changes just yet.

[2021-10-01 14:34] starpit opened #1095 "ProgressStepper design proposal: "minor' waypoints"
I like the ProgressStepper proposal. I would like to suggest that you consider a requirement for “minor” waypoints. See the attached screenshot (from Roon). Note how it has little dots, versus the big and iconified circles. The little dots signify waypoints that are relevant, but perhaps of lesser interest.

<img width="307" alt="signal path" src="https://user-images.githubusercontent.com/4741620/

[2021-10-01 14:35] starpit commented on #1095
Side opinion: personally, I prefer the spacing and generally thinner border approach in the Roon app?

[2021-10-01 14:54] evwilkin commented on #1096
@vjwilson thanks for the suggestion, agreed that this could be a useful addition. We'll send this through design to determine what the appearance/interaction and look to tag you for review once it's built out.

[2021-10-02 00:59] starpit commented on #1095
fwiw, with a few small tweaks

<img width="1392" alt="iter8 notebook with progress stepper" src="https://user-images.githubusercontent.com/4741620/135698858-367c31bd-1253-46d7-b48c-941229fe57d6.png">

[2021-10-06 14:01] ajacobs21e opened #1097 "Reconsider language log in vs sign in"
Log in page designs recommend using the term "log in"
https://www.patternfly.org/v4/components/login-page/design-guidelines

Corporate style guide also recommends "log in"
https://source.redhat.com/groups/public/word-nerds/red_hat_word_nerds_wiki/corporate_style_guide#l

Keycloak is our upstream single sign on offering used by both the downstream RH SSO and sso.redhat.com. Keycloak uses the term "

[2021-10-07 16:20] mcarrano commented on #1025
Following discussion with @mcoker @srambach and @mceledonia we decided to modify this approach slightly. "Many" will now be used in the item count and number of resulting pages will not be reported when the total item count is unknown. So in the example above, it would read:

"1-10 or many" with the page set to show the current page only (no total page count).

[2021-10-08 14:40] nicolethoen opened #1098 "Consider how we could retire component demos on PF.org"
Currently, when we want to demonstrate a component's use in some relevant context or demonstrate a components possible relationship to a different component, we build a `demo`.
Often enough, `demos` are the way we'd be inclined to highlight the implementation of more complex feature requests.

Our `examples` for each component are intended to be a simple way to demonstrate the various states and s

[2021-10-08 14:43] nicolethoen opened #1099 "A more visual/catalog-like representation of all our components"
We'd like to brainstorm an additional way for people to browse and navigate to component docs. A catalog-like, visual representation was proposed. A POC could be built by PF Labs.

- Dynamically built using design guidelines -> each item could include description of usage + image
- Laid out like a catalog with cards for each component
- Components grouped by purpose?
- Allows for more robust keywo

[2021-10-11 14:38] mcarrano commented on #1081
@doruskova This issue tightens the spacing for tooltips and popovers a bit. We should make corresponding changes to the Sketch kit. Can you open an issue? @sunilmalagi perhaps you can make those updates? Thanks.

[2021-10-11 14:39] #848 closed

[2021-10-11 14:39] #889 closed

[2021-10-11 14:39] #955 closed

[2021-10-11 14:40] #877 closed

[2021-10-11 14:43] #879 closed

[2021-10-11 14:43] #1042 closed

[2021-10-11 14:51] doruskova commented on #1081
@mcarrano Opened an issue and tagged @sunilmalagi if she wants to make an update :)

[2021-10-13 17:25] andrew-ronaldson commented on #923
@mcarrano I am working on a large table with lots of columns so this would be a great addition to help legibility. My first thought was an alternating background colour on the rows but this might be better because it is more specific to the user's cursor.
![Screen Shot 2021-09-30 at 11.16.48 AM.png](https://images.zenhubusercontent.com/60c9e465bcdbcf20d43c7f02/a033658e-6a9c-4520-8e0e-897e6509f9e2)

[2021-10-14 03:18] nlcwong opened #1101 "Include pagination to the Dual List Selector"
This is a request for enhancement to the dual list selector to include a way to paginate through a list of items on either list selectors.

Cost Management has encountered a severe performance issue (experience of the UI hanging for over a minute) with loading in excess of 40,000 items into the dual list selector.  We are hoping that having pagination as an added feature on the lists, this could h

[2021-10-15 16:43] mcarrano opened #1106 "Drag and drop demo"
Want to add some more representative examples to show how to use the Drag & Drop component.

Design input pending

[2021-10-20 13:30] mcarrano commented on #1048
Yes, the intent is that the compact modifier can be applied to any label color or style.

[2021-10-21 12:54] Ron-Lavi opened #1102 "Add table striped rows"
In addition to the discussion about hovering: https://github.com/patternfly/patternfly-design/issues/923
are there any plans of adding table-striped where each second row has a greyed background?
something similar to https://community.theforeman.org/t/apply-table-pf4-classname-and-use-pf4-pagination/25640/5?u=laviro

just for an example I used here the CSS styles:
[code]
![](https://community.thef

[2021-10-21 14:46] mcarrano commented on #923
Based on our preliminary discussion, we will get this on our roadmap. I think that the preference will be for stripped rows as suggested by @andrew-ronaldson and @laviro (see #1102). @mmuzikar will that work for you? My concern with only highlighting the rows on hover it that it implies interactivity, which is not necessarily the case.

[2021-10-28 16:19] nicolethoen opened #1107 "disabled menu item w/ tooltip solution that follows best practices"
As we begin refactoring the existing dropdown-like components to use the new Menu component, we recognize that there has not been uniform consistency regarding how we handle attaching tooltips on disabled menu items.

There is currently no recommended or implemented solution for the doing this on the new Menu component.

Some existing dropdown-like components are allowing for browser focus on the

[2021-10-28 20:45] #1080 closed, assigned to gonoraj

[2021-11-01 15:08] #1038 closed

[2021-11-01 15:10] #1025 closed

[2021-11-01 15:18] #1048 closed

[2021-11-01 15:27] mcarrano commented on #991
@doruskova reassigning to you to take another look at this. Need to better define what we are using in the popover. Labels? Chips?

[2021-11-01 15:27] #1081 closed

[2021-11-01 16:12] mcarrano commented on #752
@doruskova I'd like you to work on this in conjunction with looking at the Dashbar issue (#913). I think it would be great to end up with a set of Dashboard demos that included both full page dashboards and dashbars. I have been working on design guidelines for dashboards. There is a PR up here: https://github.com/patternfly/patternfly-org/pull/2702 You may want to start by reviewing that to get a

[2021-11-02 13:49] doruskova commented on #991
@nicolethoen Hey Nicole! I'd like to ask if I understand your comments above correctly. Does it mean that these shortcuts already exist in the Monaco editor or PatternFly team need to implement them from scratch? I'm just trying to figure out if we need to use PF labels for showing these shortcuts or we can use existing Monaco shortcuts. Thanks for your reply!

[2021-11-05 13:56] mcarrano opened #1108 "Define editable label group interactions"
Currently we lack a standard for performing CRUD interactions on a label group. Users should be able to execute the following interactions on a group. These may be supported together of separately depending on application needs;

* Create a new label (Add label) - This will add a new label to the group. New labels may be created dynamically or constrained to using existing labels.
* Edit an existi

[2021-11-05 16:16] mcarrano commented on #1106
@andrew-ronaldson this is an issue that was opened a while ago. Should these use cases be incorporated as part of the drag & drop demo that you are working on? https://github.com/patternfly/patternfly/issues/3765

[2021-11-08 14:49] doruskova commented on #991
@mcarrano I reached out to Nicole and she told me that the Monaco editor already has a way to configure any keyboard shortcuts we'd like and also comes with most of the standard keyboard shortcuts built-in. That said, I'm going to wait for the implementation and then bring these shortcuts to the Design kit to be sure about design specs such as size, etc.

[2021-11-10 14:46] mcarrano commented on #1107
Per 11/10 discussion, we propose to close and ensure that Menu has consistent behaviors with other components. OK with you, @jessiehuff

[2021-11-10 14:49] rbertucat opened #1109 "Typeahead Multi Select: filter is reset after select"
**Describe the issue. What is the expected and unexpected behavior?**
Unexpected behavior in the following user story:
As a user working with the `Select` component example as linked below
- I enter 'new' in the type ahead input text,
- I see the filtered result,
- I select the first option (New Jersey),
- My filter has been reset, so the filter input text is removed after the first selection
![im

[2021-11-15 16:00] megan-hall commented on #1064
Final marvel prototype: https://marvelapp.com/prototype/69jc198

[2021-11-15 16:12] mhuin opened #1110 "make itemCount optional in Pagination"
The idea would be to simply display "results x - y of **many**" when the item count is not known. Sometimes, due to performance issues, an endpoint won't provide the amount of results.

[2021-11-15 16:13] mhuin commented on #1110
wrong place to open this

[2021-11-19 20:04] jessiehuff commented on #1107
That's ok with me. I think it makes the most sense to follow the pattern that we came up with for disabled button where it's in a "partially abled state" like in [this PR](https://github.com/patternfly/patternfly-react/pull/3801) and in the docs [here](https://www.patternfly.org/v4/components/button#aria-disabled-button-with-tooltip). I do think it's a little weird that we have examples of static

[2021-11-19 20:04] #1107 closed

[2021-11-22 16:29] mcarrano commented on #1064
@doruskova @mmenestr This is currently in implementation. See the final design linked above. Seems like we should have this in the Sketch template and we will need docs. Can you open related issues and link them here?

@megan-hall would you be willing to create design documentation?

[2021-11-22 16:34] mcarrano commented on #1088
@mmenestr This has been implemented as a demo here: https://www.patternfly.org/v4/components/text-input-group/react-demos  Not sure how or where this should be documented for designers. Should it be part of the Filter guidelines? I don't think there is any impact of the Sketch library, but please review @doruskova

Please link any related issues top the epic. Thanks.

[2021-11-22 20:40] mmenestr commented on #1077
Design doc issue: https://app.zenhub.com/workspaces/design-doc-workspace-5f08c64d6a6ef2001d56a458/issues/patternfly/patternfly-org/2459

[2021-11-23 08:46] doruskova commented on #1088
@mcarrano You're right! It doesn't have an impact on the Sketch library. Everything should be there :)

[2021-11-23 08:49] doruskova commented on #1064
@mcarrano Yes! Here's the Design kit issue https://github.com/patternfly/patternfly-design/issues/1064
@megan-hall Could you send me a sketch file so that I can add it to our template file? Thank you!

[2021-11-23 20:44] mcarrano commented on #1109
After reviewing this in design, we decided that it does make sense to provide the option to not reset the filter each time an item is chosen. This will save the user the need to reenter characters if the goal is to select multiple items with the same prefix. Will transfer back to React and add to the roadmap.

[2021-11-24 07:27] sunilmalagi commented on #1102
Hi @mcarrano @mceledonia ,
Here are the variations for stripped rows, I have reused to the existing table pages from PF and tried with couple of subtle color variations, there are existing screens at the beginning and followed by variations option 1, 2, 3 & 1A, 2A ,3A... let me know for any feedback if you have:

https://marvelapp.com/prototype/2ccbf976

Thank you

[2021-11-24 15:04] mcarrano commented on #1102
These looks great @sunilmalagi . I'm leaning towards the lightest gray variation as I think the others call too much attention to this. But I'll defer to @mceledonia on that. I see that you also considered expanded rows, but what happens if a highlighted row is expanded? Does the background color extend to the expansion or does the expanded panel remain white? Would be good to see what that looks

[2021-11-24 15:56] sunilmalagi commented on #1102
Thank you @mcarrano , I have included the screens with bg color applied for expanded rows.. please see the last 3 screens, and the expanded area remains white because it appears heavy if the entire area filled with any shades.

[2021-11-26 10:46] KKoukiou opened #1112 "SearchInput: please add a dark theme variant"
You use this component with custom CSS on the patternfly site.
![Screen Shot 2021-11-26 at 11 44 46](https://user-images.githubusercontent.com/14921356/143568944-75680de4-13b5-4945-9797-6153d3d0c542.png)

In cockpit we also use something similar in the navigation,
![Screen Shot 2021-11-26 at 11 44 56](https://user-images.githubusercontent.com/14921356/143568981-a305998c-1b50-415d-a529-8ceeaed7bc1e

[2021-11-29 15:32] megan-hall commented on #1064
@doruskova Here is a link to the sketch file: https://sketch.com/s/55446f68-c5d0-4845-94dc-6d8385e3f523

@mcarrano No problem - happy to help with design documentation.

[2021-11-30 09:30] mmenestr commented on #1088
@mcarrano created this design doc issue: https://app.zenhub.com/workspaces/design-doc-workspace-5f08c64d6a6ef2001d56a458/issues/patternfly/patternfly-org/2759

Left a comment for you in that issue for more clarification...

[2021-11-30 15:15] doruskova opened #1111 "Chart enhancements for Malware Detection"
@mcarrano  Currently, in Malware Detection which is a brand new app in Insights, we use a simple bar chart to present a number of analyses that have been provided each day on a number of systems. We'd like to add the information if malware was detected, for example, add a red icon with an exclamation mark. That's why we need some new pattern because it seems that it's not possible with the current

[2021-11-30 20:27] gonoraj commented on #1073
Updated designs for this with the added dashed underline are in [this document](https://docs.google.com/document/d/1ReoW10DzrrWxdAnzwuXbeTMdGXpFfiIAE9JHu-43o4U/edit?usp=sharing) as well as in the image below
![editable-labels](https://user-images.githubusercontent.com/33614237/144122323-0dd11875-a886-47cc-a298-fc419df79cd9.jpg)

[2021-11-30 20:56] maryshak1996 commented on #1015
Reviewed these designs with @mcarrano and I think that we are comfortable with this design for now.
I've mocked up the component pages in the context of the 'Card component page' and the 'Accordion component page'.
[Marvel doc here](https://marvelapp.com/prototype/h964d3h) | [Sketch file here](https://www.sketch.com/s/0085290d-2966-45c4-9d4b-e11e44c9600d)

[2021-11-30 22:28] mcarrano commented on #1073
This looks good @gonoraj . Just a couple small nits...

1. It feels like to me the underline should only extend to the end of the text label and not fill the gap between the label and the close button. Did you have a reason for extending that line?

2. While implementing this, @srambach pointed out that the spacing between the text and the underline is smaller than in other places where we use thi

[2021-12-01 09:10] garrett commented on #985
We're looking forward to animation on new items; it'd solve a usability finding we had back in 2018 (which still exists and would affect every app using PatternFly).

Here's a probably-relevant CSS technique for animating new items that was recently covered:
https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/

The important CSS is `animation-fill-mode: backwards;`

Accordin

[2021-12-01 14:55] mcarrano commented on #1102
I agree. @mceledonia what are your thoughts?

[2021-12-01 18:34] JustinXHale commented on #1094
[[Marvel](https://marvelapp.com/prototype/2cf6171g/screen/83867765)]

Who would have thought TIME was such a big issue. I've designed a slight modification to the current timestamp component. After researching I believe a simple underline. I've always toyed with using a few different formatting options, which can be seen in the marvel.

@mceledonia and I talked to the visual aspects on this compon

[2021-12-01 18:35] JustinXHale commented on #1094
[Marvel]

Who would have thought TIME was such a big issue. I've designed a slight modification to the current timestamp component. After researching I believe a simple underline. I've always toyed with using a few different formatting options, which can be seen in the marvel.

@mceledonia and I talked to the visual aspects on this component and I believe we came to a happy consensus on the shades

[2021-12-01 18:49] mcarrano commented on #962
Closing in favor of https://github.com/patternfly/patternfly-design/issues/1099

[2021-12-01 18:49] #962 closed

[2021-12-01 19:57] mcarrano commented on #1094
Thanks @JustinXHale . I just have a couple of questions...

We've started to use the dotted underscore as an affordance in other places. Here, for example, is the way we are using this for the progress stepper: https://www.patternfly.org/v4/components/progress-stepper#with-help-popover We should make sure the spacing, etc. is consistent. But it does raise a question about interaction. Here and in

[2021-12-03 09:59] sunilmalagi commented on #1102
Hi @mcarrano, here is the marvel link, https://marvelapp.com/prototype/2ccbf976.  Out of 3 different color variants, the team decided to go with "PF Black 100" for striped rows.  You can see 2 slides for the reference how the rows appear when you choose to go with "PF Black 100" for the alternative rows / expanded rows.

[2021-12-03 15:10] mcarrano commented on #1102
Excellent. Thanks @sunilmalagi !

[2021-12-03 18:14] mcarrano commented on #1101
@nlcwong is this still an issue for you? If not, I'd like to close.

[2021-12-06 14:46] nicolethoen opened #1126 "add full width bottom border variant for nested tabs"
Per @mceledonia's comment here: https://github.com/patternfly/patternfly-react/pull/6645#issuecomment-985611375

[2021-12-07 01:52] nlcwong commented on #1101
@mcarrano I need to consult with @dlabrecq one more time to understand if its a lost cause to pursue vs. finding another pattern to use instead.

[2021-12-07 20:47] mcarrano commented on #1112
Make sure we leverage the existing Search input component for this.

[2021-12-07 21:35] mcarrano commented on #1086
@jknilans Sorry to take so long to get back to you on this request. We are trying to limit bundling of 3rd party libraries into PatternFly and don't feel like this is something we should support directly. I'm wondering if this is something that would be more appropriate as a PatternFly extension. If you have existing code for this built on top of core PatternFly components, perhaps it can be share

[2021-12-08 15:52] lboehling commented on #972
Here is a link to the latest designs: https://marvelapp.com/prototype/6c42d7d

[2021-12-08 17:07] nicolethoen commented on #1094
I think that the eventual implementation of this component will need to be flexible enough for people to define their own format. No matter what the official recommendation of PF, people are going to have reason - language, available space, etc - to want something other than the official recommendation.

Another thing I don't know is what types of formats or data people are starting with that they

[2021-12-08 17:45] JustinXHale commented on #1094
agreed. as far as accessibility with screen readers, its something i have not looked into, but 100% will, should be easy for me to test too

[2021-12-08 19:36] mcarrano commented on #1102
@MariSvirik Please see the above Marvel link that contains a design proposal for optional striped rows in tables. Our current thinking is to utilize our lightest gray (Black-100) to keep this minimal. Let me know if you think this will meet your needs for Satellite.

[2021-12-09 16:43] andrew-ronaldson commented on #1106
Here is a [marvel link](https://marvelapp.com/prototype/hcdjc54) that shows some drag interactions. For the card example I have some variations for @mcoker and @mcarrano to review. Let me know what you think

[2021-12-09 19:21] mcarrano commented on #1106
Looks good @andrew-ronaldson

@mcoker we were especially interested in your looking at the last slide. This has some different options for placement of the drag icon inside of a card. Are any of those easier or harder from a code perspective? I think we all liked the icon in to the left of the card title with the body indented, but were not sure what issues that might create. The other options are

[2021-12-09 20:59] imjoyjean opened #1113 "Attribute-value filtering enhancement to support comma-separated approach for multiple values in 1 key"
## Requesting new features, enhancements, or design changes to PatternFly
- For the attribute-value filtering demo, currently each entry of a key-value pair turns into one chip, regardless of whether or not the pair has the same key as the others.
- In ACM/ACS, the pattern that existed groups the values with the same keys in one chip. E.g., cluster: name1, name2. It saves space and also is easier

[2021-12-09 21:02] imjoyjean commented on #1113
FYI @mcarrano

[2021-12-10 14:25] dlabrecq commented on #1111
Victory based charts are basically layered SVGs, so you can combine multiple chart types.
This example looks like a simple scatter chart (for the alerts), combined with an area chart.

Victory's scatter chart supports SVG symbols like star, square, diamond, circle, triangle, etc.
See https://formidable.com/open-source/victory/docs/victory-scatter/#data

For PatternFly's interactive legend feature,

[2021-12-10 15:22] dlabrecq commented on #1111
Some additional notes...

1. Displaying a different tooltip layout for just the alerts may be tricky and we'll need a POC for that.
2. A vertical line is typically used when showing all data points in a tooltip (i.e., at the same time). Otherwise, the tooltip's pointer would appear closer (almost touching) the data point.
3. Although the y-axis label has been omitted, the horizontal line for the a

[2021-12-14 22:23] mcoker commented on #1106
@mcarrano I think they're all about the same difficulty. I created a POC for the variation you mentioned - https://github.com/patternfly/patternfly/pull/4568

[2021-12-15 14:12] mcarrano commented on #1106
@mcoker thanks for creating this POC.

@andrew-ronaldson @mceledonia please take a look at this. Now that I see it, I'm wondering if this approach creates too much white space. Thoughts?

[2021-12-15 15:18] mcoker commented on #1106
@mcarrano you're welcome. I forgot to mention there are 2 updates in this POC:

Draggable variant - https://patternfly-pr-4568.surge.sh/components/card#draggable
Card view (compact cards) - https://patternfly-pr-4568.surge.sh/demos/card-view/html-demos/card-view/

[2021-12-15 15:25] mceledonia commented on #1106
It does feel like quite a bit of white space, on smaller cards it could be almost 1/4 of the card width. It might be worth checking how it looks on smaller cards or in context of a screen that uses smaller cards.

I am still leaning towards the versions with the icon either inline with the header or as the furthest icon in the top-right.

[2021-12-15 15:25] mcarrano commented on #991
@mmenestr is this something we should add to our design guidelines?

[2021-12-15 15:29] #1064 closed

[2021-12-15 15:34] mcarrano commented on #1102
@doruskova @mmenestr This should be added to the Sketch kit and design docs as a new feature for tables. Might be good to have some guidance on when to use this for tables.

[2021-12-15 15:39] doruskova commented on #1102
@mcarrano Issue for Sketch was created https://github.com/patternfly/patternfly-design-kit/issues/487

[2021-12-15 16:25] gbraad opened #1115 "Button order for the Wizard is counter intuitive/not following established convention"
I would like to put the discussion around the button order for the Wizard forward as an issue. It seems this was brought up in https://forum.patternfly.org/t/wizard-button-placement/ but never got a conclusion. I believe the

[code]

![](https://forum.patternfly.org/uploads/default/optimized/1X/c69cdbe5e4041c845bf2bf290376457af9f62b3f_2_690x443.png)

is very counter intuitive when used with a desk

[2021-12-15 21:48] mcarrano commented on #1108
Some earlier work was done on this here: https://github.com/patternfly/patternfly-design/issues/753

[2021-12-16 16:04] mceledonia commented on #1092
The difference is difficult to notice, so I'm going to recommend that we hold off on updating this until we do a full logo refresh.

![image](https://user-images.githubusercontent.com/30935938/146406261-53e82444-b7b1-4ab1-83b4-c1b9b8605eff.png)

[2021-12-16 22:17] bdellasc opened #1114 "Creating custom PatternFly icons - translation from a Google Doc to a wiki"
Spoke with @mcarrano and as a result, we thought it made sense to submit an issue here.

**Why?**
- In some cases, PatternFly and Font Awesome do not have the icon someone using PatternFly might need. When this situation arises, a custom icon might need to be created.
- Technical design theory/guidelines for creating custom icons for PatternFly are hidden behind a firewall in a Google doc
- Making

[2021-12-17 16:09] mceledonia commented on #1106
Some solutions here use a more interactive solution where the icon appears on hover/focus, is that something we want to consider? It might open the door to using a smaller icon in a tighter space since the additional interactivity will make it more prominent. It also has the benefit of not adding much additional noise to these lists and layouts which already have a lot going on.

[2021-12-17 16:16] #1092 closed

[2021-12-18 08:03] gbraad opened #1116 "Allow for an optional step in the Wizard"
After a lot of quick-and-dirty hacks, I was finally able to get an optional step in the `Wizard`. Only when the option for OpenShift is chosem we need to ask for the necessary pull secret. When you would choose Podman, it would not need this.

![image](https://user-images.githubusercontent.com/1894/146633820-5e24a7ac-000e-4e79-952b-7e2a76c9fa18.png)

I came up with the following:
  * define a stat

[2021-12-18 22:53] mairin commented on #1115
@gbraad we override this in the ChRIS UI too. Folks were struggling with it.

[2021-12-19 04:44] gbraad commented on #1115
@mairin I found this: https://github.com/FNNDSC/ChRIS_ui/blob/99dc7e1287ae73d945e6cd1110bc4de00a462355/src/components/feed/CreateFeed/CreateFeed.tsx#L365-L390, but here the order is `[ Next ]   [ Back ]` ?

[2021-12-20 15:05] mcarrano commented on #1086
Per the comment above, I'm going to close this out. We can always reopen this discussion in the future if needed @jknilans .

[2021-12-20 15:05] #1086 closed

[2021-12-21 05:11] nding-anges opened #1117 "Show and hide password action in read-only form"
## Requesting new features, enhancements, or design changes to PatternFly
-Currently, in our Managed Kafka connectors design, we need to provide show/hide password action in the review step of creating connector wizard, which is a form in read-only format and it gives the user a high-level preview of the property's configurations. But the password needs to be hidden by default and the user can cli

[2021-12-21 09:33] mmenestr commented on #1102
Design doc issue here: https://github.com/patternfly/patternfly-org/issues/2783

[2021-12-21 09:35] mmenestr commented on #991
@mcarrano I am leaning towards no, since it's something that's built in and wouldn't affected a designer. Unless I'm misunderstanding and a designer would have to indicate that they want the keyboard shortcuts surfaced..?

[2021-12-21 14:17] mcarrano commented on #991
@mmenestr I think the later, but maybe we hold on this until we have an actual implementation.

[2021-12-21 14:22] mcarrano commented on #1117
@nding-anges we do have an implementation of this here: https://www.patternfly.org/v4/components/login-page/react/showhide-password/

@mcoker any reason we couldn't apply this same approach to a read-only field to implement the designs above?

[2021-12-29 16:13] svenna opened #1124 "Tree view, make it possible to click text without collapse/expand happen"
It is hard to use the current Tree view as both navigation and selection as a click toggles the expansion of the node
if it has children.
It would be nice to be able to configure the treeview to handle both when an item is a pure navigation item
and the case where it is both navigation and clickable. The basic idea would be that the left box in the image below
toggles expansion and the right box t

[2022-01-03 13:58] doruskova opened #1118 "Add File icon to a PF set of icons"
@mcarrano @mcoker My intern @jhiadlov was working on a Multiple File Upload template and there is a file icon that is not included in our current set of icons. I downloaded it from Font Awesome. However, I guess it should be added to our official set on the website and Design kit.

https://fontawesome.com/v5.15/icons/file?style=solid

[file-solid.svg.zip](https://github.com/patternfly/patternfly-d

[2022-01-04 15:07] mcarrano commented on #1118
I guess that makes sense. @mceledonia @bdellasc do you see any issue? Here's where this is used: https://www.patternfly.org/v4/components/file-upload---multiple#file-upload-status-expanded

[2022-01-04 16:15] bdellasc commented on #1118
Looks good to me, @mcarrano. @doruskova. @mcarrano we should just be sure a description is submitted with the icon for inclusion into the icon table. Looks like we've done a pretty good job of that for what's in there so far. Something like: "Represents a file"

Side note @mcarrano: For the status indicator icon in the [icon table](https://www.patternfly.org/v4/guidelines/icons), I noticed we have

[2022-01-04 16:58] mcarrano commented on #1118
@bdellasc No, we don't currently have any effort or plan to do that. Do you think it is necessary or realistic to come up with a recommended tooltip for every icon?

[2022-01-04 17:12] bdellasc commented on #1118
@mcarrano I guess that effort would fall under "accessibility" and/or "content strategy"? I don't know where the line is between the toolkit providing this stuff vs the consumers of the toolkit adding tooltips into their implementation that uses the toolkit? Not sure if there have been any decisions around those sorts of topics, because the line is blurry there, for sure.

[2022-01-04 18:31] mcarrano commented on #1118
In any case, the toolkit does not add these tooltips automatically. They are only presented on this page as a guideline or recommendation. Part of the issue is that for many of these icons, the appropriate tooltip is dependent on context making it difficult to come up with a "one size fits all" recommendation.

[2022-01-04 18:49] bdellasc commented on #1118
@mcarrano that makes sense. Thanks for following up!

[2022-01-04 20:05] andrew-ronaldson opened #1119 "Table column resizing using drag interaction"
## Requesting enhancements to PatternFly table component
- This could be another possible enhancement to the great work being done in tables. Following the addition of horizontal scrolling and column management I propose we offer users the ability to resize table columns by dragging the column edge.
- When working in tables that have several columns the width assigned to each column can become too

[2022-01-04 21:15] mcarrano opened #1120 "Sticky Toolbar demo"
Want to define a full page demo that shows use of a sticky toolbar in context.

[2022-01-05 00:01] mcoker commented on #1117
@mcarrano the show/hide password feature looks like it's built into the login component. An input group could be used to pair a read only text input/form control with a button that toggles the button type dynamically like this - https://codepen.io/mcoker/pen/YzrvzxV

[2022-01-05 16:29] mcarrano opened #1121 "Designer training and onboarding"
Develop a PatternFly design onboarding workshop that can be offered to new or existing designers to introduce them to working effectively with PatternFly. Topics to be covered include:

* Working with the Sketch design kit
* How to contribute to PatternFly
* Requesting new features or enhancements

This document summarizes the overall workshop plan: https://docs.google.com/document/d/1gfA605EfQpY-

[2022-01-06 16:42] maryshak1996 commented on #1069
On hold due to larger IA changes in progress that could effect the homepage, but here is my work in progress file: https://www.sketch.com/s/8c0acc28-9136-46ad-bcff-13cd5f861231

[2022-01-06 19:05] maryshak1996 commented on #1096
Here are is my proposal based on a couple of iterations and conversations with the team @mcarrano : https://marvelapp.com/prototype/7bcja40

[2022-01-06 19:53] andrew-ronaldson opened #1122 "Highlighting new table rows when filters are applied"
## Requesting PatternFly table enhancements
This is a unique product use case where our PF table is logging traffic and we allow users to refresh the data manually or by time interval. If a user has applied filters to the data (ex: Show only data matching Source: Pod A) and they refresh the data it would be helpful to identify the new rows in the table.

NOTE: Because each column has ascending / d

[2022-01-06 20:43] #1102 closed

[2022-01-06 20:54] mcarrano commented on #1122
@andrew-ronaldson As discussed, I'm fine to let you run with this and ideate on some potential visual solutions that we can discuss further. In thinking more about this, I wanted to call your attention to this solution we implemented a while ago for indicating favorited items in a table: https://www.patternfly.org/v4/components/table#composable-favoritable-implemented-with-sortable

Yours is not e

[2022-01-06 21:02] mcarrano commented on #1096
@maryshak1996 I like this, but can we make this with existing PF components? If not, what are we missing? Do we need something that is like an expandable header? Maybe something like this?  https://www.patternfly.org/v4/components/expandable-section#disclosure-variation I had been thinking we would just use a standard dropdown, but I do like the look of what you propose here.

[2022-01-07 13:32] andrew-ronaldson commented on #1122
thanks for this @mcarrano. I had thought about something similar but I hadn't drawn it up when I shared in the meeting. I've seen blue dots used to indicate new items and thought I'd try something like that. I'll share progress next week.

[2022-01-11 13:33] doruskova commented on #752
@mcarrano I'm adding my updates on this issue. I created a guide for responsive layout - [link](https://docs.google.com/document/d/1_6wNCRzfmh16sMCLCCG66DrzO28xdTJkI168-9JlVDk/edit?usp=sharing)

And here's the marvel that shows examples of responsive dashboard https://marvelapp.com/prototype/d642i6g/section/1537267

And then I was trying to figure out the example for a demo. However, I think we sh

[2022-01-11 16:45] mcarrano commented on #1108
@pankajshivpuje as discussed, I'm assigning this out to you. We should be addressing the following two scenarios:

* The user can edit and define new labels that are added to a group.
* The user can only choose labels that are already defined in the system (can add and remove but not edit).

Thanks for taking this on.

[2022-01-12 16:35] katierik opened #1123 "Request: Additional Information panel for Wizards"
In wizards, we sometimes need to provide a good amount of information to the user about the step they are completing and the context around it.
Traditionally this would be done with a link to docs (sending user out of context, not focused on the exact step at hand), or tooltips (small) or expanding directions (inline).

I am proposing a pattern in which an informational panel can be optionally add

[2022-01-12 19:51] andrew-ronaldson commented on #1106
This is the latest [design guideline](https://docs.google.com/document/d/1xkxKgTo5BjgzLv4-R8sYQfVWQshNzjyixa5z3mZbuvM/edit?usp=sharing) documentation. Thanks @mcarrano @mmenestr for reviewing.

[2022-01-12 20:46] mcarrano commented on #1106
Thanks @andrew-ronaldson . I've opened https://github.com/patternfly/patternfly/issues/4605 to begin implementation.

[2022-01-13 19:25] mcarrano commented on #752
@doruskova just to follow up/summarize what we covered in the meeting today, sounds like next steps are to create mocks of responsive versions of the existing dashboard example and to work out the scrolling technique for the dashbar. Once that is complete, we should be in good shape to review with dev. Thanks!

[2022-01-14 19:21] mcarrano commented on #1118
Going to transfer this to patternfly-org to update the website. @doruskova you may need a separate issue to add this to the designkit. This should be a standard font awesome icon.

[2022-01-14 19:27] mcarrano commented on #1123
@katierik we should be able to do this with existing components but will look to create as a new demo and get on our roadmap. If you need something sooner we can work with you (or your developer) to provide guidance.

[2022-01-14 19:56] mcarrano commented on #1119
Follow up with @tlabaj regarding feasibility

[2022-01-14 20:40] mcarrano commented on #1124
@svenna thank you for bringing this to our attention. We agree that it makes sense to allow parent nodes to be used for navigation as well as exposing successive levels of the tree. We will get this on our feature roadmap as an enhancement to TreeView.

[2022-01-14 21:04] mcarrano commented on #1101
@nlcwong @dlabrecq is there still an issue here or can we close this?

[2022-01-14 21:12] mcarrano commented on #1111
@doruskova Does the feedback from @dlabrecq address your questions? Do you still feel like further work is required from PatternFly?

[2022-01-16 02:55] nlcwong commented on #1101
We can close this as I'm going to have to figure out an alternative component to use for my use case since there are too many constraints involved.  Thank you @mcarrano

[2022-01-17 14:59] #1101 closed

[2022-01-17 21:45] mmenestr commented on #1116
@gbraad Have you considered using a progressive wizard for this use case? A progressive wizard only shows you the steps as you reach them. So in your case, you could hide step 3 and 4, until a user has made a selection in Step 2. If in Step 2 they choose OpenShift, the next step would be "Provide pull secret", but if they choose Podman, then the next step would be "Review selection". And the user

[2022-01-18 05:24] gbraad commented on #1116
If I am not mistaken, the progressive does not show the total possible steps. This to me sounds like a bad indication of needed effort. Most people drop out of filling a questionnaire if they do not see progress or the end goal. I wanna prevent this unknown.

[2022-01-18 16:12] mmenestr commented on #1116
That is true, it doesn't show the next steps.I wonder if you could do a hybrid situation, where you change the steps as the user goes, instead of using this custom disablement solution.

So, you'd show all the presumed steps at all times, but if the user in step 2 chooses Podman, and therefore doesn't need to do the "provide pull secret" step, then you could hide that step as soon as they press ne

[2022-01-18 21:20] mcarrano commented on #1126
I transferred this to design so we could clarify exactly what we want these demos to look like. For reference, here is the original design issue: https://github.com/patternfly/patternfly-design/issues/853

[2022-01-19 11:19] doruskova commented on #752
@mcarrano Adding examples of responsive dashboards https://marvelapp.com/prototype/d642i6g/screen/84702324

The next thing, I'll explore is the scrolling technique. Current implementation wraps up the content. I think it should be an optional choice for everyone who needs to show more cards, columns, etc.

[2022-01-19 11:20] doruskova commented on #913
@mcarrano Adding dashbars with responsive layout.
Basic - https://marvelapp.com/prototype/d642i6g/screen/84703403
With chart - https://marvelapp.com/prototype/d642i6g/screen/84703118
Expandable - https://marvelapp.com/prototype/d642i6g/screen/84702896

[2022-01-19 20:25] mcarrano commented on #963
@nicolethoen @tlabaj This is an old issue that I was just revisiting. Do you understand what the purpose of the "custom row wrapper" example is in the Table documentation. @lboehling 's point, which I agree with is that this seems to duplicate the styling for selectable rows, which it is not. Do we need this example or should we change it?

[2022-01-19 20:53] nicolethoen commented on #963
This example demonstrates how you can apply custom styles to specific rows. The user can define a rowwrapper that applies styles or modifications to rows and they can define their own logic as to when those adjustments would be applied to a row and when it wont be.

We could update the styles in the example to be almost anything. Maybe people like highlighting certain rows so they stand out for a

[2022-01-19 21:24] mcarrano commented on #963
Thanks @nicolethoen . Yes maybe we just want to update this example.

@andrew-ronaldson This could relate to the row highlighting issue you were working on. Maybe we use this capability to demonstrate how to highlight newly arriving rows? Just a thought...

[2022-01-20 19:39] mcarrano opened #1127 "Design refresh: create initial concept storyboard"
Create an initial storyboard to communicate high level design concepts and themes for a PatternFly visual refresh.

* Include both light and dark theme mockups
* Include a selection of key/common screen types from product to highlight important aspect of the design.
* Create in the form of a presentation that can be shared with key stakeholders to get directional buy-in.

[2022-01-20 19:48] mcarrano opened #1128 "Define updated PatternFly visual language"
Define the foundational visual language to drive design of other PatternFly elements. Visual language should include:
* color palettes,
* typography,
* icons,
* themes,
* borders/shadows,
* layout/spacing

Document these decisions in an initial style guide that can be applied to create components moving forward.

[2022-01-20 19:52] mcarrano opened #1129 "Explore use of Red Hat icon set in PatternFly"
Explore next steps and issues for replacing current font awesome and pficons with Red Hat icon set:
* Explore technical issues
* Identify what's missing and what will be needed from the Brand team to make this possible.

[2022-01-20 20:00] mcarrano opened #1130 "Create updated design library"
Create/update design library to embody new visual language. This will be a critical tool for building out components. The design library should embed the visual language defined by https://github.com/patternfly/patternfly-design/issues/1128.

Explore theming - i.e., switching between light and dark themes
Explore use of tools - Sketch vs Figma

[2022-01-20 20:21] mcarrano commented on #1047
This will be considered as part of a larger visual design refresh effort.

[2022-01-20 20:21] #1047 closed

[2022-01-21 10:37] nding-anges commented on #1117
@mcarrano @mcoker Thank you! and sorry for the late reply. Just thinking about using the text input /form control with a button that you just shared will make the user feel this is editable, but in our review UI, it is read-only. so our developers customized this component by hiding the input field. it looks like this:
<img width="1017" alt="屏幕快照 2022-01-21 下午6 34 21" src="https://user-images.gith

[2022-01-21 14:52] mcarrano commented on #1117
@nding-anges I agree with you that the fields feel like they are edit boxes in the original mockups and this is better. We don't have any specific guidance or pattern for this currently in PatternFly as I don't believe it has come up before. Feel free to bring this to the PF design share meeting sometime if you want more feedback from other designers, but for now, I am glad you found a good soluti

[2022-01-21 14:52] #1117 closed

[2022-01-24 16:09] mmenestr commented on #1073
Opened design guideline issue to address this here: https://app.zenhub.com/workspaces/design-doc-workspace-5f08c64d6a6ef2001d56a458/issues/patternfly/patternfly-org/2822

[2022-01-24 16:09] doruskova commented on #1073
Opened design kit issue https://github.com/patternfly/patternfly-design-kit/issues/496

[2022-01-24 16:27] #1073 closed

[2022-01-24 19:24] andrew-ronaldson commented on #1120
Here is a link to the Sketch file demo of a sticky toobar https://www.sketch.com/s/41516374-5f4b-4000-9cf6-043637852501

Here is a quick demo video as well.

https://user-images.githubusercontent.com/28658548/150850159-5663e41b-3e1a-408a-a1b0-40d8b451dbea.mov

[2022-01-25 21:05] lboehling commented on #972
Here is the latest round of designs for query builder: https://marvelapp.com/prototype/6c42d7d. I've focused on the actual component here and will provide more in-context/usage examples once we've agreed on these designs.

Please review and let me know what you think!

FYI @mcarrano @mturley

[2022-01-25 21:57] mcarrano commented on #972
@lboehling In general, I think this is looking great. I did have a bit of a hard time differentiating between adding a criteria, a nested group, and a new condition. I think I see the difference but might be difficult for users to grasp. It might make sense to work through some actual queries and see how one would construct them.

The only thing that is potentially missing for me is any mention of

[2022-01-27 19:56] mcarrano commented on #1120
@nicolethoen does this meet the needs for creating a full page sticky tool bar demo? If so, I will open a new React issue to create this.

[2022-01-28 12:06] doruskova commented on #913
@mcarrano Hey Matt! I'm adding an update on the carousel for dashbars. Here's the link on a marvel mock that reflects a dashbar with a carousel on a desktop and then on mobile. https://marvelapp.com/prototype/d642i6g/screen/84887918

My opinion is that it's just too much on a desktop version. I can't imagine using it and scrolling through so many options even though it has "only" 2 pages. It can h

[2022-01-28 19:26] mcarrano commented on #752
@mcoker please take a look at the mockups above. I'd like to create core and React dashboard demos from these. If there are any issues I can set up some time for us all to meet. Thanks.

[2022-01-28 19:28] mcarrano commented on #913
Thanks @doruskova Per our discussion today, I am going to keep this issue open but place it on hold unless and until we have a specific request for a scrollable dashbar. Thanks for all your work on this.

[2022-01-28 19:35] mcarrano commented on #1076
Thanks @mceledonia !

@mcoker Do you see any issues? If not, I will open a core issue to queue this up for implementation.

[2022-01-28 23:31] mcoker commented on #1076
@mcarrano LGTM!

[2022-01-31 08:51] doruskova commented on #913
@mcarrano Do we want to have a demo for dashbars as well? Or is it only for a dashboard?

[2022-01-31 14:06] mcarrano commented on #913
@doruskova I think that we should fold a dashbar example into the dashboard demo. Did you include one in your dashboard demo mockups?

[2022-01-31 14:36] doruskova commented on #1112
@KKoukiou Hey Katerina! I've been working on this. Can you add some pictures of how Cockpit is using this type of component in navigation? On the PF website, there is just an icon in the beginning and then the search input appears. Is it the same for Cockpit?

[2022-01-31 15:33] doruskova commented on #913
@mcarrano No, I didn't because it's almost always placed above the table or data list. The exception is in OpenShift where it's used above a dashboard. I can add it into a demo mockup. But, it's doesn't reflect the most usual use case.

[2022-01-31 15:39] mcarrano commented on #913
I see. I'm still thinking that it makes the most sense to present this as a variant of a dashboard (i.e. as part of the same demo) rather than a unique thing. But I agree that it makes the most sense to show a dashbar above something with a table view. Do you agree with that @doruskova or would you rather see Dashbar presented as a unique demo?

[2022-01-31 15:52] mceledonia opened #1131 "Update Tooltip + Popover design guidelines and examples"
Re: #1081 CC @mcarrano @mmenestr

### Tooltip + popover use case clarification

I don't think we ever got around to updating the design guidelines or .org examples of these as they relate to the above issue. I remembered this issue and shared on a product meeting after some inconsistencies were pointed out between the usage of tooltips vs. popovers, and got some good feedback/thoughts from @jgiard

[2022-01-31 16:01] doruskova commented on #913
@mcarrano Ok, I'll add it to a mockup with a dashboard and we can explain the usage in Dashboard guidelines.

[2022-01-31 16:43] mcarrano commented on #1119
@tlabaj can you take a look at this when you get a chance and let me know if this is easily supported with our existing React table? And if not, what the scope of work to support it would be? Thanks.

[2022-01-31 16:53] #1111 closed, assigned to nobody

[2022-01-31 17:20] nicolethoen commented on #1120
looks good to me! @mcarrano

[2022-01-31 19:23] mcarrano commented on #1131
@mceledonia I think your analysis makes sense, also. However, we already have an implementation for what you are calling a "definition tooltip" (we call it a description list) that is different from that. We are using a popover that is triggered on_click like field help on a form. See https://www.patternfly.org/v4/components/description-list#term-help-text I'd worry that it would be breaking to ch

[2022-01-31 19:33] srambach commented on #972
@lboehling Logic wise, I think your options are solid. I don't think you need "or any" because you could do that by putting each into a separate "or all" condition. `a OR ANY(b, c, d)` would be like `a OR ALL b OR ALL c OR ALL d`
Saying "and none" is a little different from the example we looked at, which was "and not," but I think you can still create the same queries using separate criteria:
`a

[2022-02-01 08:20] KKoukiou commented on #1112
Hey :) in cockpit right now we have something completely custom for the navigation,
![Screen Shot 2022-02-01 at 09 19 16](https://user-images.githubusercontent.com/14921356/151934328-fbddb0fb-f616-43ef-a7e1-1972d37228e9.png)

I was planning to port this to something more close to what PF4 offers. I guess the answer is not very helpful, sorry!

[2022-02-01 14:31] doruskova commented on #1112
@mcarrano @KKoukiou Hey y'all! Adding an update on this issue. I identified two use-cases: search input in masthead and search input in navigation (Cockpit). I was trying to be as consistent with our current search input as possible and create only one component for both places.
The mock describing these use-cases and their designs is [here](https://marvelapp.com/prototype/hgh0dj1/screen/84944952)

[2022-02-01 15:38] mcarrano commented on #1112
@doruskova This is a great start. Also want to get @mceledonia in the loop.

My main question is what does it mean to put a search control above the navigation? Is the intent to search or filter the navigation menu? It it's a global search, should we always place this in the masthead? @KKoukiou would be interested to know how this is being used in Cockpit. What are we searching?

[2022-02-01 16:55] KKoukiou commented on #1112
In cockpit this is used to filter the navigation items.
![Screen Shot 2022-02-01 at 17 55 32](https://user-images.githubusercontent.com/14921356/152013934-61298211-c74c-4df1-b955-79fb38705849.png)

[2022-02-01 19:29] mcoker commented on #752
Hey @mcarrano @doruskova, looks good - a few questions:

* Events list looks like notification drawer items, which are tied to the notification drawer. Can we use inline alerts there instead?
* In the row of pathway cards at top:
  * Confirm there is no border between cards on mobile
  * Text in each card (on desktop) shouldn't fill the available space
* In status card - is the "notifications" sec

[2022-02-02 22:31] mmenestr commented on #1131
I feel like this can be boiled down to 3 different tooltip/popover types:

1. Icon tooltip: limited to "Hover-triggered label of an icon action" like you said
![image](https://user-images.githubusercontent.com/51165119/152247849-eba8e14c-1c0a-488b-addb-e0a174403ebc.png)

2. Click popover: A popover activated on click, which is what we have today to for bigger descriptions, with ability to add acti

[2022-02-03 09:48] jgyselov opened #1137 "Switch: show both a checkmark and a label"
**Describe the issue. What is the expected and unexpected behavior?**

We wanted to add checkmarks to our switches to make them more distinguishable by value when they're disabled. But because our switches already have a label, adding the checkmark isn't currently possible.

![image](https://user-images.githubusercontent.com/87187179/152315523-0b169726-67fd-461e-be36-5bd24db1abf5.png)

We would li

[2022-02-03 15:12] MariSvirik opened #1132 "Expand all cards button - new feature"
In the new redesign of the Satellite, we use a lot of cards that are expandable. We are looking for a design solution to expand/collapse all cards at once to help users with dealing with the displayed information.
Here is an [issue](https://github.com/theforeman/foreman/pull/9054) for the Host detail tab (opens by @amirfefer) with a discussion and an implementation of the feature. There is also ad

[2022-02-03 17:32] mcarrano commented on #1132
@MariSvirik I don't believe there is any reason this could not be implemented now using existing PatternFly components, so I think this is more of a question on whether we would establish a new design pattern for this. This might be a good topic for our next PatternFly design share to see if others have a similar use case or feedback on your design options. Would you be interested in presenting th

[2022-02-03 19:50] mcarrano commented on #752
@doruskova @mcoker I have opened core issue https://github.com/patternfly/patternfly/issues/4659 and added to milestone 2021.03 in the hopes that we can work out the remaining design questions before starting the next sprint.

[2022-02-03 19:56] mcarrano commented on #1120
I've opened a new React issue here and will close out this design issue: https://github.com/patternfly/patternfly-react/issues/6889 Thanks for your work on this @andrew-ronaldson

[2022-02-03 19:56] #1120 closed

[2022-02-04 09:19] doruskova commented on #752
@mcoker I'll try to answer here :)

- I don't know what's used in this existing React component https://www.patternfly.org/v4/components/card/react-demos#event-view
- Yep, you're right. There is no border between columns on mobile. It comes from this demo https://www.patternfly.org/v4/components/card/react-demos#horizontal-card-grid
- Ooh, it should fill the space. My bad. The implementation looks

[2022-02-04 12:49] MariSvirik commented on #1132
@mcarrano I already added the topic to the agenda. I hope we can agree on a pattern for that.

[2022-02-08 09:22] doruskova commented on #1112
@mceledonia What do you think? I guess that the bordered version works in both places.

[2022-02-10 22:10] mcarrano commented on #1015
I've opened https://github.com/patternfly/patternfly-org/issues/2843 to address both this and the TOC issue and will close this one out. Thanks for your efforts on this @maryshak1996 !

[2022-02-10 22:10] #1015 closed

[2022-02-10 22:10] #1096 closed

[2022-02-14 15:43] doruskova commented on #1034
@mcarrano Adding my update on this issue :)

Some ideas for a mobile version:
- Dropdown on a mobile - [mock](https://marvelapp.com/prototype/hi2b48a/screen/85189104)
- More menu on a mobile - [mock link](https://marvelapp.com/prototype/hi2b48a/screen/85190729)
- Icon menu on a mobile - [mock link](https://marvelapp.com/prototype/hi2b48a/screen/85191227)

However, this issue is also about a deskto

[2022-02-14 17:01] mcarrano commented on #1076
Note that in the course of implementation we modified the supported sizes so the smallest is 24px and the largest in 128px. We found that 16px was too small to be useful. So final sizes are:

--sm 24px
--md 36px
--lg 72px
--xl 128px

With `md` being the default.

cc @mmenestr @doruskova for sketch kit and documentation follow-up

[2022-02-14 18:31] mmenestr commented on #1076
design guidelines issue: https://app.zenhub.com/workspaces/design-doc-workspace-5f08c64d6a6ef2001d56a458/issues/patternfly/patternfly-org/2847

[2022-02-14 19:53] mcarrano commented on #1115
@gbraad we did have some discussion about this. While I think you raise many valid points, we have decided not to make a change at this time. Many projects are using the Wizard today with the current button placement and changing this arrangement will be potentially disruptive. I will keep this request open for future consideration, however.

[2022-02-14 21:45] mcarrano commented on #1034
@doruskova It's great to see these options. I agree that we should have a general approach that can work for lots of things nav items, buttons, chips, etc. Basically it's a horizontal list of buttons that can take different forms. Maybe share this out at a future team meeting and we can compare the different options?

[2022-02-15 03:11] gbraad commented on #1115
I understand. While not default, considering a property to allow the swap to happen? Anyway, we fixed by overriding this as to match the OS and moved the buttons to the right.

[2022-02-15 08:19] doruskova commented on #1076
design kit issue: https://github.com/patternfly/patternfly-design-kit/issues/509

[2022-02-15 11:09] doruskova commented on #1034
@mcarrano Yes! I put it on the agenda :)

[2022-02-15 13:26] doruskova opened #1133 "Create Patternfly logo as an icon"
@mcarrano Currently, we use the PatternFly logo as an official placeholder for some of our components such as the Application launcher, cards, tiles. However, it's an SVG image for the Sketch library, and not an icon that would take a place in the "Brands" category.
I was asked why do we use Gitlab icons in the Application launcher because the implementation is using the PF logo and it looks like

[2022-02-17 17:55] lboehling opened #1134 "Add ability to filter items in a submenu in the composable drilldown menu"
I'd like the ability to filter items in a submenu in the composable drilldown menu. This requirement has come from ongoing design work for the new PF query builder. The filtering would only apply to the items in the current submenu that the user has drilled into.

Including some potential placements in the mocks below. I think I'm leaning towards Option A, as I think it would be nice to have the b

[2022-02-21 20:06] mmenestr commented on #1116
@gbraad yes, I think that would make sense^

[2022-02-22 20:16] mcarrano commented on #1132
@MariSvirik looks good. Do you need anything more from PatternFly or can I close this out?

[2022-02-22 20:54] mcarrano commented on #1134
@lboehling do you have a recommendation on which option we should implement?

[2022-02-23 08:29] MariSvirik commented on #1132
I don't. Thank you.
Let's put it to the PF4 guidelines!

[2022-02-23 16:55] adithyaakrishna opened #1138 "[Enhancement] - New Icon For Entity Shape - Patternfly/React-Icon"
**Describe the issue. What is the expected and unexpected behavior?**
Currently `patternfly/react-icons` does not have the below icon (Entity Icon)  and would really love to see as part of the icons package

<img width="26" alt="Screenshot 2022-02-21 at 10 58 28 PM" src="https://user-images.githubusercontent.com/23498248/155366265-d2148626-035c-4a23-b41c-d675de9bcc20.png">

**Please provide the st

[2022-02-24 15:37] mcarrano commented on #1124
@nicolethoen @tlabaj any reason we couldn't just create a new variant of the Tree view that works as described above? I would see this as similar to the checkbox variant that we already have where the caret is used to toggle the node open/close and clicking on the label would select the node for navigation. Thoughts?

[2022-02-24 21:03] mcarrano commented on #1116
@mcoker any reason this can't be implemented this way?

[2022-02-24 21:37] #1077 closed

[2022-02-24 21:38] mcoker commented on #1116
@mcarrano I don't see why not, though I think a react dev should chime in on how to best do that and if we need to do any work to make it easier.

[2022-02-24 22:01] mcarrano commented on #1116
@nicolethoen @tlabaj any input here?

[2022-02-25 12:45] doruskova commented on #1112
@mcarrano Here's the final design with a border. The design spec is here: https://marvelapp.com/prototype/hgh0dj1/screen/85392551

Full interaction in a masthead: [link](https://marvelapp.com/prototype/hgh0dj1/section/1551184)
Interaction in nav: [link](https://marvelapp.com/prototype/hgh0dj1/section/1551171)

[2022-02-25 16:35] mcarrano commented on #1112
Thank you @doruskova . I just left a couple of comments in the Marvel deck to hopefully help clarify what the spec is. So as I read this, the way I interpret it is that the Navigation variant is just a re-skinning of the existing Search input component, and the Masthead variant represents a new behavioral variant of the component that supports the ability to expand and collapse from the icon. Is t

[2022-02-25 16:36] mcarrano commented on #1112
@mattnolting perhaps also take a look to see if you foresee any issues with adding this in the masthead as an optional component.

[2022-02-25 16:52] doruskova commented on #1112
@mcarrano I answered your questions in Marvel. :) I agree with you. My understanding of this component is the same. It's a new behavior of our search input from an icon that's been already implemented for the PF website. It's a search input for a dark background only. I don't think it should be a problem to place this component in places other than navigation and masthead. But, I'm not aware of an

[2022-02-25 21:14] lboehling commented on #972
Updated UI designs can be found here: https://marvelapp.com/prototype/6c42d7d

Based on reviews, we have decided to go with a progressive disclosure approach to the query builder.
Here is a clickable [prototype](https://marvelapp.com/prototype/hj089ge) to better show the progressive disclosure interaction.

I'll add another comment to this issue once I add the in-context examples and flows.

[2022-02-28 21:44] mcarrano commented on #913
Thanks for your efforts on the @doruskova . I am going to close this one as you've included the mocks as part of the dashboard issue here: https://github.com/patternfly/patternfly-design/issues/752

[2022-02-28 21:44] #913 closed

[2022-02-28 21:48] #1106 closed

[2022-03-03 17:43] mcarrano commented on #1124
@nicolethoen @tlabaj After discussing in today's design team meeting we decided that we should just proceed with this as requested and not introduce any special visual styling or affordance. We were wary of introducing a new menu pattern and felt the new behavior would be easily discoverable.

Therefore I am going to transfer this back to dev for implementation. we would leave all current behavior

[2022-03-03 19:14] andrew-ronaldson commented on #963
This was the example I created for highlighting rows in a table when the table refreshes and adds new data.
<img width="1801" alt="Screen Shot 2022-03-03 at 3 11 55 PM" src="https://user-images.githubusercontent.com/28658548/156635790-1794e6a3-d219-437d-9fc5-e3bcb82b361b.png">

[2022-03-03 19:39] lboehling commented on #972
I updated the specs based on feedback from the last design share: https://marvelapp.com/prototype/6c42d7d. I also added in the in-context examples, and linked the flows that Margot has been working on :)

[2022-03-04 13:10] nicolethoen commented on #1124
I'll note that i also created this issue to track the inconsistent interaction pattern for the treeview with checkboxes. It is sort of related I think. Not sure if it needs core work first either.

https://github.com/patternfly/patternfly-react/issues/6991

[2022-03-04 14:27] mcarrano commented on #1124
@nicolethoen Yes, I agree with this. @mmenestr can you also take a look for a second opinion?

[2022-03-04 16:35] mcarrano commented on #1124
The following core issue will be used to track follow up work: https://github.com/patternfly/patternfly/issues/4724 It's on our roadmap for Q2. Closing this in design.

[2022-03-04 16:35] #1124 closed

[2022-03-04 19:42] #1122 closed

[2022-03-04 20:17] andrew-ronaldson commented on #1095
Here is a design I put together @starpit @mcarrano. I wanted to ask a few questions about the use case for this feature. The screenshot shows some potential use cases but wanted your product details as well.

1. The first example is subtasks in the main step. Like parts of a form. If the user is meant to interact with these minor waypoints (clickable) I think a wizard or progressive form would ser

[2022-03-08 21:37] heyethankim opened #1136 "Accessibility Guideline on Chart Color Usage Needs to be Added"
## Requesting new features, enhancements, or design changes to PatternFly
Designers and engineers need to be better guided which color combination is best for users. For the "Alerting," we use green for success and red for failure but they are being used along with different icon sets and texts.

<img width="156" alt="image" src="https://user-images.githubusercontent.com/84546841/157329018-20eac14

[2022-03-08 22:22] mcarrano commented on #1136
@heyethankim I agree that our documentation in this area is pretty weak. Is this something that you would be willing to help us with?

[2022-03-09 16:41] andrew-ronaldson commented on #963
@mcarrano I used primary blue .pf-color-blue-400 but reduced the opacity to 50%. Originally we were going to fade this out over a few seconds to show the new data added to the table.

[2022-03-09 17:05] mmenestr commented on #1136
I think there's definitely room for added color guidance in terms of when to use which color (ie: green for success, red for failure). But when it comes to accessibility issues, rather than advising the usage of different colors depending on the context (which could lead to confusion/inconsistency when it comes to "when" one should use green vs blue, for example) my suggestion would be to **use ot

[2022-03-09 19:19] mcarrano commented on #963
I've opened https://github.com/patternfly/patternfly-react/issues/7037 to address this in React.

[2022-03-09 19:19] #963 closed

[2022-03-10 16:39] #1076 closed

[2022-03-10 16:43] #752 closed

[2022-03-10 17:24] mcarrano commented on #1018
@christianvogt We had a similar issue come in recently and as a result agreed to rework the visual appearance of the switch which should address these concerns. Therefore I am going to close this. You can follow updates to the switch in this new issue here: https://github.com/patternfly/patternfly-design/issues/1137

We will also be re-considering our overall visual system for a future PatternFly

[2022-03-10 17:24] #1018 closed

[2022-03-11 07:45] jgyselov commented on #1137
Thank you, @mcarrano :pray:

[2022-03-11 15:51] mcarrano commented on #1138
@adithyaakrishna can you provide more information about what project you are working on, when this is needed, and some more content (like a screen shot of where this will live or details about the use case).

[2022-03-14 13:18] heyethankim commented on #1136
Yes, I agree. The PF template displays the second option ("adding more text in the chart"). I think we should add it to the PF chart section. The tricky part is that the visualization doesn't mean much for color blind people if we allow green/red color combination.

<img width="791" alt="image" src="https://user-images.githubusercontent.com/84546841/158178664-14ed1f54-d78f-4e0a-a06f-b3266714c923.p

[2022-03-14 18:25] JustinXHale commented on #1094
The marvel has been updated @mcarrano .. it is posted at the top of the description

[2022-03-15 14:03] tlabaj commented on #1119
@mcarrano it look like there is an extension for `reacttabular` called 'reactabular-resizable'.  We could possible pull this in to the table.  I propose creating a react spike issue to investigate the effort and feasibility.

[2022-03-15 14:14] tlabaj commented on #1119
I have opened a spike issue [#7067](https://github.com/patternfly/patternfly-react/issues/7067) in patternfly-react.

[2022-03-15 17:45] mcarrano commented on #1131
Opened https://github.com/patternfly/patternfly-react/issues/7072 to add this option to the React component. @mmenestr can you open whatever doc issue we need to update design docs? Thanks.

[2022-03-15 20:09] mcarrano opened #1139 "Define header styling for React examples on website"
Many of our React examples are written to include optional settings that allow a single example to show the affect of changing component properties. These are currently just exposed as part of the example itself which can sometimes make it difficult to differentiate the actual example from the controls associated with it. The need is to create a visual template for these examples that can apply st

[2022-03-16 00:30] evwilkin commented on #1139
Related issues:
- https://github.com/patternfly/patternfly-org/pull/2867#issuecomment-1062003617
- https://github.com/patternfly/patternfly-react/pull/7061#issuecomment-1068492131

[2022-03-16 14:29] doruskova commented on #1137
@mcarrano @jgyselov Hey there! I'm adding an update on this issue [here](https://marvelapp.com/prototype/2e2bga6g/screen/85707981)

- I've added an option with a label and checkmark
- I've changed colors for the switch when it's off and when it's disabled because the disabled state needs to be lighter than it is now.
- I used a darker color `#8A8D90` (black-500) for an off-switch and `#D2D2D2`(dis

[2022-03-16 18:49] mmenestr commented on #1131
Already created here https://github.com/patternfly/patternfly-org/issues/2871
@mcarrano

[2022-03-16 19:20] mcarrano commented on #1131
Thanks @mmenestr Going to close this then.

[2022-03-16 19:20] #1131 closed

[2022-03-16 19:25] mcarrano commented on #1137
I think this looks great @doruskova My only question is whether we still need an option with a label and no checkmark. Should we always have a checkmark to emphasize the on state?

[2022-03-18 15:52] mcoker opened #1140 "Design guidance for using tabular numbers"
With the latest [Red Hat font](https://github.com/RedHatOfficial/RedHatFont) updates, we can enable tabular numbers, which will tell the browser to use the monospace font for any numbers used.

You can enable tabular numbers on any block on a page - either the entire page, a section of the page, a component, a random element within a component, etc.

It would be great to:
* Write usage guidelines/

[2022-03-18 18:05] mcarrano opened #1141 "Recommend website IA changes based on UX research results"
Evaluate results of the just completed IA study and recommend updates to the PF website as a result.

[2022-03-21 12:49] doruskova commented on #860
@mcarrano @mcoker I agree that this change is not going to have an impact on designers because they still get HEX code for the color. It might help designers to read and define colors because the HSL color model is more intuitive and human-friendly. A huge advantage of this (HSL) color model is the maintenance because you can tweak one aspect of the value and don't have to change all values. That

[2022-03-22 09:45] doruskova commented on #1138
@mcarrano Currently, we're integrating Insights Advisor recommendations into PCM (Product case management) and we want to use the same labels with icons that reflect Total risk value. We want to make both labels visually consistent for a user because it represents the same thing. However, one of the icons is custom (critical total risk) and it's not available on PatternFly. Would it be possible to

[2022-03-22 17:44] septatrix commented on #754
Could someone please explain how to use the dark theme? I do not find any reference to it in the docs...

[2022-03-22 21:08] mcarrano commented on #754
@septatrix dark theme is not yet available for general use. We currently have an alpha version that we are testing with selected projects and don't have any firm date on when this might be fully supported. If you can provide us with more information about your project and need for dark theme, that would be helpful. Thanks.

cc @evwilkin

[2022-03-22 22:15] septatrix commented on #754
I am investigating alternative ui frameworks (to our current in-house solution) for the management and status dashboard of a new product. At this stage PF as well as IBM's framework look very promising for our vision of the look and seem to provide most required components/features.

A feature which would be very welcome is if it were possible to select the dark mode without js (so no switch via a

[2022-03-23 10:30] doruskova commented on #1138
@mcarrano I followed the tutorial and created the SVG file. I opened this issue https://github.com/patternfly/patternfly/issues/4747 based on the guide. I need a review that it's good to go so that I can update the Icon exporter and patternfly-icons.zip.
When it comes to a timeframe > sooner is better.

@adithyaakrishna Do you want to add anything? :)

[2022-03-23 12:47] mcarrano commented on #754
@evwilkin @mcoker ^^^

[2022-03-24 18:20] mcoker commented on #1126
@mcarrano looks good to me.

[2022-03-24 19:00] mcarrano commented on #1095
@starpit any feedback on the above?

[2022-03-24 19:19] mcarrano commented on #1126
Great. Will just transfer this back to Core then.

[2022-03-25 14:15] mcarrano commented on #1119
@andrew-ronaldson we've opened a spike to investigate the technical feasibility of this a bit more before we can commit to it. Please keep us posted if your priority for this changes.

[2022-03-25 18:17] mcarrano commented on #1137
Per design review meeting on Mar 23, we will keep the current options and add a new one to include both a label and checkmark. Opened a new core issue here: https://github.com/patternfly/patternfly/issues/4755  Thanks @doruskova !

[2022-03-25 18:20] mcarrano commented on #1121
@mmenestr I assume this issue can be closed. Can you just attach your final slides here? Thanks for all your efforts on this!

[2022-03-25 18:44] jessiehuff opened #1142 "Consider updating selectable components design (card, tile)"
We've noticed that a lot of the selectable components (i.e. Card, Tile, etc.) aren't always very accessible to screen readers. When talking about the issue and potential solutions, we started to wonder if the cards/tiles/plain boxes provide the proper affordance that they are selectable (for all users, not just for a11y), especially regarding single- vs multi-select. A lot of other examples of thi

[2022-03-28 04:29] pankajshivpuje commented on #1108
Here are the links to the final designs:
[Marvel](https://marvelapp.com/prototype/2d90c04g/screen/85343000)

[Design Document](https://docs.google.com/document/d/1XfP0mgrIrTSUTTClCMl3hvU_CVE14jJmVv-LEOXdfuY/edit#heading=h.ntrodcuix31b)

[2022-03-28 13:43] mcarrano commented on #1108
Thanks for all your efforts on this @pankajshivpuje .

@doruskova @mmenestr can you review the final designs and open any Sketch kit or doc follow-on issues we need? Thanks.

[2022-03-28 15:43] arburka opened #1143 "Enhance the text-Input group to place chips beneath the toolbar."
In Fleet Management, we plan to expand what inventory can be filtered to include Insights Facts and use the [text-input group](https://www.patternfly.org/v4/components/text-input-group/react-demos/#attribute-value-filtering) as our filtering component.

Using the text-input group to filter views allows for faster filtering, can be completed without going back and forth from keyboard to mouse, and

[2022-03-28 17:31] mcarrano commented on #1143
cc @mmenestr Let's discuss.

[2022-03-28 17:46] heyethankim commented on #1136
An initial findings were shared in the IxD meeting:
[Recording](https://drive.google.com/file/d/1MGEuB7QiW0eNbQS90yVe1_9IKT5hX6Yr/view)
[Accessibility findings on PF Chart Colors](https://docs.google.com/document/d/1QjHW7bJpYmmziHEfQq4yRFRpnfkVqWt7yZcFhXxQTrw)
[Raw data](https://docs.google.com/spreadsheets/d/1Y6iOsL0rvwmlMLISjBlvdAM-iAEPwLCi5hxAZeu5j70)

[2022-03-28 17:50] mmenestr commented on #1121
Slides: https://docs.google.com/presentation/d/1PU2klcbXKq-lwtE9uUVkepdyB2H-wDp1FiJeb99jwHg/edit#slide=id.gd1f4b8db54_0_79

[2022-03-28 20:21] mcarrano commented on #1143
@arburka Thanks for filing this issue. Everything you say here definitely makes sense. The current Attribute-value filter demo under text-input-group is just one example, but not necessarily the best approach in all cases. @mmenestr is currently working on an issue to clarify our filter guidance (https://github.com/patternfly/patternfly-design/issues/1045) so we will include this into the mix.

[2022-03-28 20:44] mmenestr commented on #1108
https://github.com/patternfly/patternfly-org/issues/2888

[2022-03-29 18:53] mmenestr commented on #1108
@pankajshivpuje just looking at your final mocks, and wondering if for the second variation (where a user has to pick from a set list of label names), we could have the dropdown come out of the "Add label" label, instead of creating a whole new label from which to choose from. In your current design, there seems to be a weird in-between state where you have a select menu as a label, but the label

[2022-03-29 19:13] mcarrano commented on #1108
I agree @mmenestr . This would both clarify the interaction and become easier to implement since the current solution requires us to define a selectable label which is something we don't currently support.

[2022-03-29 20:38] pankajshivpuje commented on #1108
@mmenestr @mcarrano I was thinking about similar approach before I draw my suggested design. Here are few things to think about:
1. The 'Add Label' button design may look different than what you see in other scenarios.
2. If user needs to correct a label text/selected value, then user will have to delete the label and go through the process of adding another with the correct text/value.
3. The emp

[2022-03-30 15:33] mmenestr commented on #1108
1. I don't think we necessarily have to change the "Add label" button to a classic dropdown toggle, I think we could probably do a custom implementation or implement the ability to use a label as a dropdown in PF itself. @mcarrano do you agree?
2. There isn't really much room for error in this scenario since they can only select an option from a set list, no? I think it's ok to make them delete an

[2022-03-30 18:19] mcarrano commented on #1108
I was thinking something similar. The user would click the "Add label" button and it would open a menu where they could select the label they want to add. This could just be a contextual menu like you would typically get on right-click. After selecting an option, it gets inserted into the group. Yes, there would me no way to change the selection if you picked the wrong item by mistake, but as @mme

[2022-03-30 18:47] pankajshivpuje commented on #1108
Great, thanks for the feedback. I have updated both [Marvel](https://marvelapp.com/prototype/2d90c04g/screen/85343000) and the [design document](https://docs.google.com/document/d/1XfP0mgrIrTSUTTClCMl3hvU_CVE14jJmVv-LEOXdfuY/edit#).

Let me know if anything else is needed to close this issue.

[2022-03-30 20:51] mcarrano commented on #1108
Thanks @pankajshivpuje . Looks good to me. @mmenestr ?

[2022-03-31 01:37] mmenestr commented on #1108
I just have one more comment on scenario 1 which I left in the marvel.

Though, for scenario 3, now that i'm looking at it more closely, do we want to explicitly say what the modal should look like with all the options, or are we leaving that up to product teams? Because if we do want to recommend a way of laying it out, I think we should consider making some tweaks to clarify the form and how it

[2022-03-31 04:15] pankajshivpuje commented on #1108
That's good point @mmenestr I feel that we should build in the flexibility in this component and let the product teams decide what works best for them.
[Marvel ](https://marvelapp.com/prototype/2d90c04g/screen/85343000)and [Design doc ](https://docs.google.com/document/d/1XfP0mgrIrTSUTTClCMl3hvU_CVE14jJmVv-LEOXdfuY/edit#)is updated.

[2022-03-31 13:09] nicolethoen commented on #1143
@mcarrano is this more simply solved by using a Text input group as the search input on a Toolbar? The toolbar can render the applied filters as chips already?

[2022-03-31 13:43] mcarrano commented on #1143
Yes, I think so. There's no reason this can't be built today with existing components.

[2022-03-31 15:07] adithyaakrishna commented on #1138
@doruskova @mcarrano @mcoker Thank you so much for the new icon 💯 🚀

[2022-03-31 19:56] nicolethoen commented on #1143
I think we could wire up a toolbar -such as in [this example](https://www.patternfly.org/v4/components/toolbar#with-custom-chip-group-content) - with a text input group instead of the multiple dropdowns. Then, instead of the text input group displaying attribute-value pairs as chips in the text input group, it could render them in the chip groups that the toolbar builds.

I could try writing up a

[2022-04-01 12:30] mmenestr commented on #1108
Looks great @pankajshivpuje thanks for making those updates!  @mcarrano should be good to go now!

[2022-04-01 17:05] nicolethoen commented on #1143
@mcarrano I played with it some, and I do think the current implementation of Toolbar does limit us a little bit. We would need to make an update to the react implementation (and possibly the core implementation). Right now, you need to have a separate control for each category/chip group. So having multiple chip groups associated with the same control will complicate the component.

The thing tha

[2022-04-01 18:51] mcarrano commented on #1143
Thanks @nicolethoen I will add this to the roadmap then. I agree this is something that consumers will likely want to do. Do you think this needs to start in core?

[2022-04-04 10:48] doruskova commented on #1108
https://github.com/patternfly/patternfly-design-kit/issues/524

[2022-04-04 12:06] doruskova commented on #1137
@mcarrano Yes! Thanks a lot! I'll open the issue for a design kit.

[2022-04-04 13:23] nicolethoen commented on #1143
possibly - it may be hard to know until we start evaluating exactly the changes we will need to make to enable this.

[2022-04-04 16:18] chloenayon opened #1144 "Title: Consider aligning the popover close with the end of content"
We've noticed that the close button on a popover does not align with the end of the popover content.
This is consistent with the examples of popovers in the [documentation](https://www.patternfly.org/v4/components/popover/):

![Screenshot from 2022-04-04 18-06-25](https://user-images.githubusercontent.com/11710246/161585769-1553c222-e899-42b3-982c-f6e2628d84fa.png)

How about aligning the button w

[2022-04-07 15:21] #1108 closed

[2022-04-07 15:23] #1138 closed

[2022-04-07 15:24] #1137 closed

[2022-04-07 20:35] mcarrano opened #1146 "Reconsider design of component pages on PF website"
Want to rethink design of component pages on PatternFly website. Some known issues include:

* Long pages require lots of scrolling. Are there ways to better organize to reduce the need to scroll?
* Better differentiate controls/knobs from examples themselves and have a more standard way to present examples.
* Consider order of tabs and how to introduce a component before jumping into React exampl

[2022-04-07 20:37] mcarrano commented on #1139
Close in favor of this larger issue. https://github.com/patternfly/patternfly-design/issues/1146

[2022-04-07 20:37] #1139 closed

[2022-04-08 19:38] nicolethoen opened #1147 "all new issues should automatically add 'needs triage' label"

[2022-04-11 14:33] #1147 closed

[2022-04-12 12:21] garrett opened #1168 "dropdown and menu items - danger state (for delete / remove actions)"
**Is this a new component or an extension of an existing one?**

Existing component would be the dropdown and menu items.

**Describe the feature**

When there's a delete or remove action on a kebab menu, it should communicate that it's a dangerous action.

**Are there visuals for this feature? If applicable, please include examples for each state and for varying widths**

For Cockpit, we have bee

[2022-04-12 18:57] lboehling opened #1149 "Consider/Add new icon for opening quick start drawer"
The PF Quick Start team is looking for an icon (which will be paired with a link) to indicate that the quick start/in-context documentation panel will be opening in a drawer _beside_ the current view, not redirecting the user away from their view. Before I go through the [process](https://github.com/patternfly/patternfly-design/wiki/Creating-custom-icons) of adding a new custom icon, I wanted to s

[2022-04-12 20:37] mcarrano commented on #1149
@lboehling I will pull this into the current design milestone. Do you want to add this to the agenda for our weekly sync on Thursday? We can discuss. Also, is this needed by a specific deadline?

[2022-04-13 15:39] wise-king-sullyman opened #1162 "Tabs - demos are unclear as to what they're highlighting"
**Is this a new component or an extension of an existing one?**
Tabs

**Describe the feature**
Additional documentation that describes what is being showcased in [each demo for the Tabs component](https://www.patternfly.org/v4/components/tabs/react-demos/) (at least where reasonably) would be beneficial.

Additionally, some of the names currently used (such as Tables and tabs, auto width tabs) don

[2022-04-17 16:30] simrandhaliw opened #1150 "Status controls for number input component"
## Requesting enhancement to the Number Input PF component to add status controls

### Requirement
The RHOSAK design team has come across a use case that requires a warning state for the number input field (in this case, the field label is Partitions).

A user can create multiple Partitions using this form. When they reach the Partition limit, we want to display a warning state but not truly enfor

[2022-04-18 18:49] mcarrano commented on #1034
Thanks for your efforts on this @doruskova . I have opened https://github.com/patternfly/patternfly/issues/4800 to begin implementation.

[2022-04-18 18:53] mcarrano commented on #860
Let's consider this done for now. While we could move in this direction for PF4, after discussing with @mcoker we agree that this would be something to consider as part of an overall visual refresh. Will close.

cc @mceledonia

[2022-04-18 18:53] #860 closed

[2022-04-18 19:01] mcarrano commented on #1094
Thanks for your efforts on the @JustinXHale . I have opened https://github.com/patternfly/patternfly/issues/4801 to move this along to development.

[2022-04-19 19:56] mcarrano commented on #1119
@andrew-ronaldson We've completed our investigation of the technical feasibility of this. Turns out that it can be added without too much difficulty on top of our legacy (Rectabular) table implementation, but not so easily with our newer composable table approach. You can read more here: https://github.com/patternfly/patternfly-react/issues/7067. Do you have any idea of what your project is using

[2022-04-21 12:22] Fewwy opened #1175 "[PieChart] - [docs update]"
**Is this a new component or an extension of an existing one?**
I would like you to update the PieChart documentation and add my example to it

**Describe the feature**
My example uses the Tooltip component that wraps the ChartLabel.
The Patternfly Tooltip documentation contains class examples only and not a functional component.

https://codesandbox.io/s/vigorous-wozniak-ke604g?file=/index.js:0-1

[2022-04-21 19:37] #1034 closed

[2022-04-21 19:41] #1094 closed

[2022-04-21 21:33] mcoker opened #1152 "Guidance for presenting dark theme on website/workspaces"
tl;dr - We need a way to show dark theme stuff on the website and in our development workspaces. How should we do that?

As we build out dark theme support and integrate into products, the PF and products teams need to be able to reference dark theme things on the website (and in our core/react/org workspaces, which use the same theme as the website). I suppose there are 2 approaches here:

1. We

[2022-04-22 19:21] andrew-ronaldson commented on #750
@mcarrano Here is a [link](https://marvelapp.com/prototype/1774e319/screens) to the latest mockups using jump links instead of the Wizard styling. I'll record a separate demo and share soon.

[2022-04-22 19:37] mcarrano opened #1153 "TreeJack study to validate proposed website IA changes"
Perform a TreeJack study to validate website changes proposed here: https://docs.google.com/document/d/1u6KlJ16vsSzQJvbK6YFkzhiobT6zz2FhuPufCV_zuaE/edit?usp=sharing

[2022-04-22 19:38] mcarrano commented on #1141
Proposed website changes are documented here: https://docs.google.com/document/d/1u6KlJ16vsSzQJvbK6YFkzhiobT6zz2FhuPufCV_zuaE/edit?usp=sharing  Next steps will be to perform a TreeJack study to validate this before advancing to development. Also want to create a template for demo pages to more clearly identify them as demos and link to components used.

Opened:
https://github.com/patternfly/patter

[2022-04-22 19:38] #1141 closed

[2022-04-22 19:40] andrew-ronaldson commented on #750
Here's the quick demo video.  https://images.zenhubusercontent.com/61041252/3501db97-077e-449e-a780-3631c49ddd59/screen_recording_2022_04_22_at_4_38_17_pm.mov

[2022-04-22 19:42] andrew-ronaldson commented on #750
Here's the demo recording.
https://user-images.githubusercontent.com/28658548/164783252-a75d2163-aa21-4546-a5d0-98b094a2bc54.mov

[2022-04-22 19:46] mcarrano commented on #1098
@nicolethoen do you feel like the recent website IA restructuring proposal addresses this or does this issue call for a more fundamental look at demos and why we need them?

[2022-04-22 20:24] mcarrano commented on #750
Thanks @andrew-ronaldson . I have opened https://github.com/patternfly/patternfly/issues/4805 to move this along and create a demo that shows how to make this. @mmenestr we will probably need a design doc issue also for follow up.

[2022-04-25 14:14] nicolethoen commented on #1098
@mcarrano I think we have addressed this :)

[2022-04-25 14:26] heyethankim commented on #1136
Will discuss the followings with @mceledonia @dlabrecq

- Color & Texture association (35 +)
- Review Victory chart

Reference

- [Trello Colorblind Friendly Mode](https://wearecolorblind.com/examples/trello-colorblind-friendly-mode/)
- [HighChart](https://www.highcharts.com/demo/advanced-accessible/grid-light)

[2022-04-25 15:26] mcarrano commented on #1098
Great. Will close then.

[2022-04-25 15:26] #1098 closed, assigned to nobody

[2022-04-25 17:58] tlabaj commented on #1116
@mcarrano @mcoker We should be able to this from the React side.  We would probably want to add a `disabled` prop to the `WizardStep` interface.  If true, we would skip the step when next is clicked and the next step is disabled.  We would also disable the step in side nav.

[2022-04-25 20:13] mcarrano commented on #1116
Sounds good @tlabaj . I will transfer to React and get this onto the roadmap then. Thanks for this suggestion @gbraad .

[2022-04-28 08:42] doruskova opened #1158 "Label - Add gold label to PF labels"
The current PF labels include orange labels only and we're using orange (Important total risk) and gold labels (Moderate total risk) in Advisor for RHEL, OpenShift, and Ansible.
We're integrating this info into Product case management and we want to keep it visually consistent. However, the PCM team wants to use PF labels directly instead of creating custom styles.
Would it be possible to add gold

[2022-05-02 14:28] #1063 closed

[2022-05-04 14:18] bmignano opened #1154 "Add onboarding card pattern"
## Requesting new features, enhancements, or design changes to PatternFly
New feature request for an onboarding pattern. Today, I don't think we don't have any formal onboarding experience across products. This feature could also be a variation of / enhancement to the card component, but with additional specific guidelines regarding when to use it, where, content, etc. App Studio would like to use

[2022-05-04 15:07] nicolethoen opened #1155 "Consider adding official design to incorporate text into log in via social accounts"
A discussion about Log in modal's design guidelines lead to a conversation about possibly expanding the official design or recommendations to include more text in the social icon buttons to describe their purpose.

Here is an example for Ansible's use case of having multiple GitHub log in options. I'm using the PatternFly split button dropdown component in the updated mockup below.

![image](https

[2022-05-04 19:35] mmenestr commented on #1045
For now, have contacted the UXD Research team to potentially do a research study about this. See issue here: https://issues.redhat.com/browse/UXDR-1489.

Closing until we have an update with that.

[2022-05-04 19:35] #1045 closed

[2022-05-05 10:45] doruskova commented on #1130
@mcarrano Can I take this issue? I think it's related to the conversation we had last week.

[2022-05-05 13:14] heyethankim opened #1156 "PF Dark Theme Text Color"
## Requesting new features, enhancements, or design changes to PatternFly
The current dark theme text color is #FFFFFF, which is flashy and uneasy to users' eyes. This gets highlighted even on the review step on the wizard, for example.

![image](https://user-images.githubusercontent.com/84546841/166930319-2cbf478e-1642-4805-9fbe-8fc1b511cb5c.png)

The below is the exploration on the two backgroun

[2022-05-05 13:17] mcarrano commented on #1156
@mceledonia thoughts?

[2022-05-05 13:17] heyethankim commented on #1156
FYI. @mceledonia

[2022-05-05 13:18] heyethankim commented on #1156
Matt. @mceledonia and I discussed this issue. He wanted me to file the issue here.

[2022-05-05 14:09] imjoyjean commented on #1156
Thanks for opening this issue, @heyethankim , will be great for ACM!

[2022-05-05 18:02] mcarrano commented on #1150
@simrandhaliw after discussing this more with the PatternFly team, we agree that this enhancement makes sense. I am going to transfer this over to development and add it to our roadmap. Do you need this in any specific timeframe? Right now we are scheduling into Q3.

[2022-05-06 14:20] #1119 closed

[2022-05-06 19:15] heyethankim commented on #1136
@dlabrecq gave us a demo to @mceledonia and me today.

<img width="562" alt="image" src="https://user-images.githubusercontent.com/84546841/167201649-54aa73c5-7cec-422c-be55-9f2093abc8d8.png">

- Created a POC (the Victory chart doesn't support this out of the box)
- Using 5 textures that are automatically rotated. @mceledonia will look into if he could add more textures. This could be used for Da

[2022-05-06 19:38] mcarrano opened #1157 "Create fake table data to drive React table demos"
It would be great if all of our table demos can be built off the same same data set both for consistency and to make demos easier to implement. Create a data table with 50-100 entries to pass to the React team for implementation. This can just be generated in the form of a spreadsheet.

[2022-05-09 18:21] mcarrano commented on #1143
I am going to transfer this issue to React to get it into a future milestone. Sounds like the solution will be to create a React demo that shows this. If core refactoring is needed, we can open a core issue at that time.

[2022-05-09 18:39] dlabrecq commented on #1136
The PR below includes a link to live examples.
https://patternfly-react-pr-7390.surge.sh/charts/patterns/

[2022-05-10 16:24] thatblindgeye opened #1159 "Banner - variant should be indicated by more than just color"
cc @mcarrano

Context for this issue: https://github.com/patternfly/patternfly-react/issues/5890#issuecomment-1122357757

The issue linked above aims to resolve a lack of context of banner variant/severity for screen reader users. As noted in the linked comment above, users who do not rely on a screen reader but have a color deficiency may have trouble understanding the variant/severity of a banne

[2022-05-11 17:51] mmenestr opened #1160 "Opening/Closing drawer in wizard design"
We are releasing a demo for a drawer inside of a wizard, but for now, the demo is static - ie: the drawer is open at all times.

We should create a design/demo where a user has the ability to open/close a drawer within a modal.
This would include:
- Adding a close button in the drawer
- Adding a button to open up the drawer again

The second bullet might have multiple use cases - ie: should the dr

[2022-05-12 16:10] #750 closed

[2022-05-12 18:07] mmenestr commented on #1160
Katie mocks for similar idea: https://marvelapp.com/prototype/e6f0b14/screen/68862127

[2022-05-13 14:52] heyethankim commented on #1136
@dlabrecq
- Added 15 unique SVG textures (patterns)
- Didn't define the order and the textures repeat after 15th

@mcarrano
- Colors stand out more (than textures) in the legend
- Pattern is an approach to tackle red/green differentiation issue
- What's an effective approach for somebody has difficulty differentiating colors?
- Need further investigation on the design side (we should be able to re

[2022-05-13 18:30] mcarrano commented on #1158
@doruskova Is this needed in any specific timeframe? I'm currently scheduling into Q3.

[2022-05-16 02:28] dlabrecq commented on #1136
The PatternFly color theme does not contain red & green together. If users encounter a donut chart with red & green; for example, it's because someone overrode the default PatternFly color pattern.

In that case, devs provide charts with a hex value, so we really don't know what colors are in use. Therefore, we probably couldn't apply a pattern (automatically) for that special case.

Note that the

[2022-05-16 09:14] doruskova commented on #1158
@mcarrano Adding design spec for a gold label https://marvelapp.com/prototype/df6d576/screen/86794697
The only thing I changed is the icon color to keep accessibility and contrast. I have no concerns when it comes to border color because blue, green, purple, and cyan are using a light shade and the main thing that needs to be accessible is the text and icon. The outline version is using a grey bor

[2022-05-16 14:54] mcarrano commented on #1158
@doruskova I think this looks good, except that shouldn't the text for the bordered version be colored as for other labels using one of the dark values from the Gold palette? Interesting about the orange label. I'm OK with creating an `orange-50` color for this purpose. @mceledonia @mcoker can you also take a look?

[2022-05-16 21:30] mmenestr commented on #1160
Add design for mobile interaction

Figure out a way to toggle the drawer panel
- Should the panel be closable in all viewports or just mobile?
- When it's closable, what's the trigger to re-open it?
Handle the drawer panel differently on mobile so it doesn't cover the main area
- Don't show it (doesn't seem ideal)
- Move it to come after the content or in some other kind of presentation that isn't

[2022-05-17 09:11] doruskova commented on #1158
@mcarrano The text in bordered/outline version is using always black-900 (`#151515`)
https://www.patternfly.org/v4/components/label#outline

[2022-05-17 09:19] doruskova commented on #1158
@mcarrano Yes, you're right. The mock is fixed now :) https://marvelapp.com/prototype/df6d576/screen/86794697

[2022-05-17 16:10] dlabrecq commented on #1136
I understand products are using red-green, but these are custom colors. It's important to note that the charts don't have this red-green combination in any theme, so we cannot apply a pattern automatically in this scenario.

That said, the chart themes do have multi-color combinations of blue-yellow and green-blue color. These color combinations are also accessibility issues. The multi-color chart

[2022-05-18 18:08] mcarrano opened #1161 "Revisit wizard styling for dark theme"
It has been reported that appearance of an in-page wizard in dark theme is inconsistent with treatment of other pages. Looks like this is a result of the wizard background being styled to work for a modal use case, and this does not carry over so well when the wizard is placed within a page.

We should revisit this and come up with new styling recommendations that can be implemented in the dark th

[2022-05-18 22:20] mcoker commented on #1158
@mcarrano sounds good to me. It's a pretty simple change so I put up a PR here so you can see it - https://github.com/patternfly/patternfly/pull/4863

[2022-05-20 13:41] dlabrecq commented on #1136
The patterns were pulled from v3.0.3 of the script below, which uses the MIT license.
https://github.com/highcharts/pattern-fill/blob/master/pattern-fill-v2.js

[2022-05-23 18:07] pankajshivpuje opened #1163 "Delete confirmation"
## Requesting design recommendations/demo for delete confirmation
While working on delete component feature for App Studio design, I came across several variations of delete confirmation modal designs across RH products. The primary use case to support this feature is the ability for the user to be able to delete a said object from the system. Delete is a detrimental action so when user decides to

[2022-05-24 17:51] #1158 closed

[2022-05-24 18:29] heyethankim commented on #1136
@dlabrecq I totally agree. The issue is a bit complicated since there are many factors that don't accommodate for us. As I suggested, could we discuss what we could do in the short term? Since I brought up the issue, more products are using the Red/Green combination, which we wanted to avoid. Then we could discuss more robust solution in the long term without hurting 91.5% of customers. Here are a

[2022-05-24 20:26] mmenestr commented on #1160
@mcarrano here is my final proposal, let me know what you think:

1. **Non-dismissable wizard panel [[mock](https://marvelapp.com/prototype/9389af6/section/1619656)]:**
Launch panel from a link button with icon (idea is anyone could take this and customize it as needed).
Mobile view works the same way - panel opens and closes from left to right and covers the whole body. No matter what, the modal

[2022-05-25 14:11] mcarrano commented on #1160
This looks good @mmenestr . But I think in the comment above you confused dismissable and non-dismissable as the mocks don't align with the description. My only question is why the drawer is constrained to the body/content area of the wizard in one version but not the other. Wouldn't we want that to be consistent?

[2022-05-25 16:37] mceledonia opened #1164 "Consider revising shadow on navigation to better align with our shadow usage guidelines"
Currently our navigation component has a drop shadow behind it. This was carried into dark theme where it is more prominent due to being used as a visual separator between the navigation and the page.

We previously established rules around shadow usage - that they should only be used on elements overlapping other content. For example toast alerts, dropdown menus, and popovers.

The navigation has

[2022-05-25 17:05] mceledonia commented on #1164
I found a mockup from my dark theme working file which uses a border for the nav so it is likely this slipped through the cracks:
![image](https://user-images.githubusercontent.com/30935938/170320343-efa3aba1-e7fc-47d1-b0af-50bf5adeee79.png)

[2022-05-25 18:03] mcarrano opened #1165 "Responsive behavior for vertical tabs"
Per the discussion here: https://github.com/patternfly/patternfly/pull/4850  We should consider usage of vertical tabs and how they respond on small viewports. The outcome would be to specify a new demo for Tabs that features vertical tabs.

[2022-05-25 20:24] jessiehuff opened #1166 "Topology - Pipeline designs"
Jeff has been working on taking a look at ODC pipeline and integrating this feature into PF Topology. ([Epic for this effort with ODC example here](https://issues.redhat.com/browse/UXDENG-124).) While working on this effort though, we've realized that it would be beneficial to have some designs/visuals to help with the effort.

@jeff-phillips-18 @andrew-ronaldson Are there any details to this effo

[2022-05-25 20:27] jessiehuff opened #1167 "Topology - list view alternative"
While working on a topology list view alternative (slated for AppStudio use), we've determined that we will need some visual designs to help with its development.

@jeff-phillips-18 @andrew-ronaldson @mceledonia

[2022-05-26 14:31] dlabrecq commented on #1136
A developer can certainly apply patterns to specific colors, but it would be a manual process for custom red/green color combinations.

What I don't understand is the hesitation to use patterns with other color combinations? A user could also enable patterns via a toggle if desired -- that could be a guideline.

In the examples above, red/green are the only two colors displayed by the charts above

[2022-05-26 19:49] mmenestr commented on #1164
I think that's fine if you're planning on keeping the navigation the same color as the header background.. though in general, I wonder if we should make the navigation darker so there's more contrast between the header and nav? But lighter than the black area surrounding the table

[2022-05-26 19:56] mcarrano commented on #1146
Some ideas here: https://docs.google.com/presentation/d/1K-VBEwKtTMVnwvRxrjvSBOx-9jsdaAubm9V2ZeOt-sI/edit?usp=sharing

[2022-05-27 13:56] heyethankim opened #1169 "Quick Start - Floating/Docking"
## Requesting new features, enhancements, or design changes to PatternFly
Now we are introducing multi-cluster switcher for 4.10 and customers can navigate through ACM from OCP. This may lead customers to have 5 (?) different columns.

<img width="1888" alt="image" src="https://user-images.githubusercontent.com/84546841/170713211-3174e605-ff0e-4399-81da-a508c67d8730.png">

Although the example abo

[2022-05-27 17:33] heyethankim opened #1170 "Quick Start & Breakpoint"
## Requesting new features, enhancements, or design changes to PatternFly
When a Quick Start is displayed, all other components are resized except the navigation as below.

<img width="1871" alt="image" src="https://user-images.githubusercontent.com/84546841/170760403-6c2e8cf8-5273-4a41-a038-0bf51ed620a1.png">

<img width="1872" alt="image" src="https://user-images.githubusercontent.com/84546841/1

[2022-05-27 18:38] mmenestr commented on #1154
@mcarrano Brie created this doc to document this: https://docs.google.com/document/d/1ugeSwI9t7iJ7HyQxuMhqCocWnI5okXGVZv5eARyP1Yc/edit#

If I remember correctly, the plan was to share this doc out to get feedback on which approach we should take to determine what to implement.

I'm wondering if we should send this out as an email, or share it in the general channel for people to give feedback in t

[2022-05-27 20:09] mcarrano commented on #1154
I suggest sending somethings out on Slack - the PF design channel, general channel in UXD or both - requesting feedback. Then maybe put this on the agenda at the next design share meeting.

[2022-05-30 08:11] mareklibra opened #1171 "ExpandableSecation's toggleText can accept ReactNode"
## Requesting new features, enhancements, or design changes to PatternFly
- Describe the use cases and requirements of the new feature or enhancement you are requesting.

By having that, the ExpandableSection text (default, expanded, collapsed) can be enriched for an Icon or other React components.

- Explain *why* this feature is needed and/or why these requirements cannot be met using existing c

[2022-06-01 06:58] mareklibra commented on #1171
@mcarrano Works for me. Thank you. Closing here.

[2022-06-01 06:58] #1171 closed

[2022-06-02 15:29] mmenestr commented on #1160
Design doc issue: https://github.com/patternfly/patternfly-org/issues/2987

[2022-06-02 15:31] mmenestr commented on #1125
Design doc issue: https://github.com/patternfly/patternfly-org/issues/2988

[2022-06-02 18:17] #1160 closed

[2022-06-02 20:03] maryshak1996 commented on #1099
Link to final designs: https://marvelapp.com/prototype/hjbd30h
--> Note: the illustrations for the catalog cards will created throughout the next month or so, and I collateral issues for those will be made shortly.

[2022-06-03 13:29] mcarrano commented on #1146
Going to close this out. I've opened a set of follow on issues for tracking design work.

https://github.com/patternfly/patternfly-org/issues/2991 (create way to expose "knobs")
https://github.com/patternfly/patternfly-org/issues/2990 (add component descriptions)
https://github.com/patternfly/patternfly-org/issues/2989 (add intro-text above tabs to component pages)

There is also an existing issue

[2022-06-03 13:29] #1146 closed

[2022-06-03 13:38] mcarrano opened #1172 "Create component illustrations for catalog view [Master ticket]"
Need to generate illustrations for populating cards per the designs here: https://marvelapp.com/prototype/hjbd30h/screen/86590461

[2022-06-03 13:38] mcarrano commented on #1099
Thanks @maryshak1996 . The designs look great. I've opened follow up issues to begin implementation.

Create component catalog page: https://github.com/patternfly/patternfly-org/issues/2992
Create illustrations for cards: https://github.com/patternfly/patternfly-design/issues/1172

Will close.

[2022-06-03 13:38] #1099 closed

[2022-06-06 07:29] doruskova commented on #1161
@mceledonia Could you send me a link to a dark theme? I don't know what's the most up to date implementation and design :D

[2022-06-06 18:46] mcarrano commented on #1125
@pankajshivpuje I think this is fine, except that I'm having trouble understanding what we should use the approach with the inline alert at the top of the page, and when we do not. For example, for short forms contained in a modal, this feels unnecessary since the entire form is in view. For longer forms, I think it's very helpful. Thoughts? Is it that the alert with links is a more accessible sol

[2022-06-07 21:00] maryshak1996 commented on #1172
@mcarrano I have created this spreadsheet here for the illustrations to be tracked with: https://docs.google.com/spreadsheets/d/15s7JE-yF_fa0DdATZfR6Kty4QY4m8kDIXEbGeiNlvec/edit#gid=0
I'm not sure if Angela, Shayna, and Sylvana are all on GitHub, but I was curious if we should create an issue for reach of them or if we should just have this issue here and track statuses in that spreadsheet?

[2022-06-10 04:32] dlabrecq commented on #1136
Please consider replacing the term "textures" with "SVG patterns". Our examples demonstrate how to create custom patterns using SVG `pattern` elements. Textures describe surfaces like rough, soft, bumpy, etc.

[2022-06-10 13:42] heyethankim commented on #1136
Here is the updated verbiage and, as we discussed, I think this should be added to "[Colors for Charts](https://www.patternfly.org/v4/charts/colors-for-charts/)."

@mcarrano
Please open an issue to update that.

@dlabrecq
Your PR adds a new page that has SVG pattern examples?

@mceledonia
Any progress on the examples we could include to the Colors for Charts page?

**Colorblind-friendly chart colo

[2022-06-12 06:22] dlabrecq commented on #1136
@heyethankim Yes, the examples show how to create custom patterns using the SVG `pattern` element. Upon the next PatternFly milestone release, the page will be located here:
https://www.patternfly.org/v4/charts/patterns

There is also an existing "About" page, which provides design guidelines. This may be a good candidate for the pattern guidelines. You can find that here:
https://www.patternfly.o

[2022-06-13 09:21] doruskova commented on #1125
@mcarrano Agree. I think that for short forms in modal or wizard we should point out the given place with an error without an inline alert. We can use https://www.patternfly.org/v4/demos/password-strength or https://www.patternfly.org/v4/components/form#invalid with a helper text under the text field.
I would use the inline alert with other invalid form inputs in a longer form where more inputs ar

[2022-06-13 20:16] andybraren commented on #1169
A related feature may be the ability to pop the Quick Start / in-context Help drawer out into its own separate tab/window to be placed onto another screen or made larger without taking up additional in-window space. Basically like a `target="_blank"`. Not sure if there's an existing open enhancement idea for that. Maybe the icon for that behavior could be `fa-external-link-alt`.

[2022-06-13 21:44] andybraren commented on #1169
A good example of the floating behavior Ethan described: in Google Cloud Platform, clicking "View help FAQs" displays a movable window that persists across the Console.

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/9122899/173450249-aee4dfa3-209f-4440-8112-99fd49d54fec.png">

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/9122899/173450

[2022-06-14 09:08] doruskova commented on #1161
@mcarrano @mceledonia I fixed the background for a wizard because it didn't match with a page background.
Dark wizard in modal https://marvelapp.com/prototype/963bhhh/screen/77631616
Dark wizard within page https://marvelapp.com/prototype/963bhhh/screen/87475108

[2022-06-14 09:23] doruskova commented on #1165
@mcarrano I got feedback that OpenShift is using vertical tabs. Here's their design: http://openshift.github.io/openshift-origin-design/designs/administrator/future-openshift/user-preferences/

Maria Svirikova from Satellite used them here: https://marvelapp.com/prototype/1121a8de/screen/72413287
Margot can imagine using them on a Settings page.

[2022-06-14 13:39] mcarrano commented on #1165
@doruskova these examples are very helpful. So I guess the question is what do we expect to happen when we shrink the screen. For other things like this, like wizard steps and jump links, the vertical menu changes to a dropdown. Should we be doing the same thing here?

[2022-06-15 11:40] doruskova commented on #1165
@mcarrano I'll prepare mock for it :))

[2022-06-15 19:33] simrandhaliw opened #1173 "Requesting new toggle button component to trigger drawer"
### Requirement
The API Designer design team has come across a use case that requires including a count of issues in the toolbar section on the Editor page. This count of issues would trigger a side drawer that lists the issues. The count changes based on whether the user resolved the issue(s) or not.

Currently, there are no PF components that support this use case properly. While exploring some

[2022-06-15 20:50] jgiardino opened #1174 "layout and styling for page-level actions"
After drilling down to a page that provides a resource-level view, there are actions we display in the table view kebab menu that we want to surface in this page, too.

This seems to be a common use case, to surface resource-level actions in a dropdown in the page header of the resource-level view. We'd like some guidance regarding overall layout and visual styling of this type of dropdown menu so

[2022-06-16 13:49] jhiadlov commented on #1157
Hi,
I made a fake table with some strings and number values. Could you please check it and tell me if I should change something? :) Thank you.

https://docs.google.com/spreadsheets/d/1-sqIbCpmFfmID0fByWZSOBpn99ocGyT2KoUZ5B_s3zo/edit?usp=sharing

@mcarrano

[2022-06-16 16:01] mcarrano commented on #1155
While I understand the merit of this, after floating this with projects, there does not seem to be a significant cross-project need for this functionality. Will close and we can revisit in the future, if needed.

[2022-06-16 16:01] #1155 closed

[2022-06-16 18:19] nicolethoen commented on #1157
It looks good. I only wonder if we should have anything more complex than strings and numbers? anything with labels or links or particularly long values or anything like that?

[2022-06-17 11:49] doruskova commented on #1157
@nicolethoen Yeah, I agree. Maybe we should add, for instance, a URL and description column that shows longer text.

[2022-06-17 15:03] mcoker commented on #1164
@mcarrano @mceledonia nope, should be fine. Here are some screenshots. Though we do still support a "light" variant of the nav - would we leave the shadow or use a border there, too?

### Screenshots of this update
<img width="2322" alt="Screen Shot 2022-06-17 at 9 56 50 AM" src="https://user-images.githubusercontent.com/35148959/174324312-c55dc1dd-af27-4293-8c32-653dfcb7510a.png">

<img width="23

[2022-06-17 19:36] mcarrano commented on #1174
Thanks for entering this @jgiardino . I will consider how we can best address this in PatternFly and get back to you.

[2022-06-21 18:34] dlabrecq commented on #1136
FYI, it came to my attention that each chart has it's own design section.

If you want to add guidelines related to a pie chart; for example, that page can be found here:
https://www.patternfly.org/v4/charts/pie-chart/design-guidelines

Similarly, design guidelines for patterns would be located here:
https://www.patternfly.org/v4/charts/patterns/design-guidelines

[2022-06-22 14:02] mcarrano commented on #1175
@Fewwy @tompsota I have similar concerns with @nlcwong and @dlabrecq about this design. Can you say more about _why_ this is needed? Is there a specific use case that the current pie chart examples won't satisfy?

[2022-06-22 17:00] mcarrano commented on #1173
@mmenestr I see that you placed this on our design sync meeting for tomorrow so just assigning to you for now for follow-up.

[2022-06-22 19:48] andrew-ronaldson commented on #1166
Here are the latest [designs](https://marvelapp.com/prototype/iadc037/screen/87580725) for this. I'll add follow up stories as needed to address product use cases.

[2022-06-22 19:48] #1166 closed

[2022-06-22 19:49] nicolethoen opened #1176 "Tables - how to handle tables with empty column headers/cells"
Our automated accessibility tests are beginning to flag empty table headers - such as the <th> above selectable columns with a checkbox, for example.

https://dequeuniversity.com/rules/axe/4.2/empty-table-header

![175120368-994642e0-56eb-443c-93d9-de886479c0ae](https://user-images.githubusercontent.com/26305082/175123640-9a502ed9-1c3b-41a7-b99e-0ae3ccab6c24.png)

There may be an accessible soluti

[2022-06-23 11:25] Fewwy commented on #1175
@mcarrano It was requested by the UX designer, "the PieChart should be readable from the first glance"

[2022-06-23 20:48] mcarrano commented on #1164
I agree, also. I have opened core issue https://github.com/patternfly/patternfly/issues/4925 to perform this update.

@doruskova does this require a design kit update?

[2022-06-24 07:26] doruskova commented on #1164
@mcarrano Yes. I opened the issue for it https://github.com/patternfly/patternfly-design-kit/issues/557

[2022-06-24 12:43] #1164 closed

[2022-06-28 15:05] jgiardino commented on #1174
I wanted to expand on this bullet point with a couple of examples that have been explored

* There is a primary action that we want to highlight in addition to a dropdown menu of less important actions

In some cases, we have tabs, and there can be a primary action that we want to display for that tab along with the contents.
<img width="1102" alt="image" src="https://user-images.githubusercontent

[2022-06-28 15:37] pankajshivpuje commented on #1125
@mmenestr @mcarrano My apologies for responding late. I have completed all updates as suggested. Here is the updated [design doc](https://docs.google.com/document/d/1rXzEXvrs4_2vES-076z6ogdxTp2mC_o9DYWWxC4JXFI/edit#heading=h.ijuhbjlfru3l) and [Marvel](https://marvelapp.com/prototype/de1cb01/screen/86477649). Please let me know if any other updates are needed.

[2022-06-28 21:32] mcarrano commented on #1125
Thanks @pankajshivpuje. Looks good to me. @mmenestr do you see any additional issues?

[2022-06-29 14:22] mcarrano commented on #1129
@mceledonia The following issue/question just comes to mind about this...

Currently we support a subset of font awesome icons + pficons. However, we give projects that latitude to use any fa icon in their product and in fact have imported the complete fa set into React icons. I know that many products do use icons that are outside of our recommended set. If we are to have a more RH specific icon

[2022-06-30 08:21] jhiadlov commented on #1157
I added 2 columns: Last modified and URL. I am not sure what exactly should I put in the URL, so I added a link to RedHat offices 😅 Is it alright like this?

[2022-06-30 13:43] mcarrano commented on #1157
Thanks @jhiadlov . Yes, I think this is better. Can you also create a Sketch mockup with a table that uses some of this data? Maybe the first 15-20 rows? That will give us a better idea about what this will look like in context. Thanks!

[2022-06-30 18:40] mmenestr commented on #1125
Just looked at it once more and there are still minor changes to make - it's the same change in every image (removing the icon next to the helper text, and making the helper text regular weight font)

[2022-07-01 14:39] mcarrano opened #1177 "Create handoff documentation for Penta theme"
Need to document visual elements in preparation for creating other deliverables and a PoC.

[2022-07-01 14:43] mcarrano opened #1178 "Explore griding / layout concepts for PatternFly 5"
Want to explore use of a layout grid or similar methods for easing the handoff from design to development that can be applied as part of the visual refresh effort.

[2022-07-01 14:49] mcarrano opened #1179 "Explore translation of the new visual look & feel to mobile"
Take existing mocks and explore how these will translate to use on small/mobile viewports.

[2022-07-01 15:08] mcarrano commented on #1173
@simrandhaliw I've added this to our feature roadmap. Currently I am scheduling out into Q4, but let me know if you are needing to hit any specific release targets.

[2022-07-05 19:16] nicolethoen commented on #1176
Another possibility is to replace empty `th` cells with empty `td` cells since they don't cause the same axe warning. Maybe even a combination of `aria-label`s and `td` cells may work...

[2022-07-08 18:42] mmenestr commented on #1162
Created this doc with a quick "audit"/thoughts on the current tab demos that exist for us to discuss next week @mcarrano https://docs.google.com/document/d/1q3aaFfL8h9Lyoz0awVD_1uwpdfyQtW48rIn16uFK8-I/edit#heading=h.kf8vtn57hzik

[2022-07-08 21:46] mcoker opened #1180 "About modal and login page visual refresh"
The question came up today about whether we could update the about modal to use the modal component (it uses its own version of a modal currently), and we discussed whether the about modal in the modal component needs to be a component or if it could just be a modal demo. Currently the about modal has a really specific layout and built-in background image (that is quite large), but the question wa