[2020-05-27 20:35] mcarrano commented on #856
Transferring over to patternfly-design-kit to make Sketch library updates.

[2020-05-28 20:23] gdoyle1 commented on #852
Adding my working doc to this issue: https://docs.google.com/document/d/1KxHroyNISjapzprhqyTML1Qhe42e0mK72zlM7VtX2CI/edit?usp=sharing. Meeting with Michael tomorrow to discuss more

[2020-06-01 19:35] lboehling commented on #846
Here are the full-page demo mocks!
Marvel: https://marvelapp.com/5996ff7/screen/69836554
Sketch: https://www.sketch.com/s/2e4e5751-e94f-4507-87ef-04f5546ac9df/v/JAVo25/

@mcarrano

[2020-06-01 19:59] mcarrano commented on #809
Per discussion with @rachael-phillips I will mark this complete and move on to patternfly-design-kit for follow-up.

[2020-06-01 20:47] mcarrano commented on #846
Looks good. @mceledonia and @mcoker can you also take a look to see if there are any issues?

[2020-06-02 19:29] mcarrano opened #859 "Topology View component"
Review proposed topology contribution to provide design input,

@mceledonia @LHinson feel free to add more detail here.

[2020-06-02 19:47] #841 closed

[2020-06-03 12:01] doruskova commented on #829
@mcarrano Menu with icons and specification have been added [here](https://marvelapp.com/8cdg211)
Also, I added some examples of additional features for a future [here](https://marvelapp.com/8cdg211/screen/69897125)

[2020-06-03 13:57] mcarrano commented on #814
Have opened https://github.com/patternfly/patternfly/issues/3151 for core implementation.

[2020-06-03 13:58] mcarrano commented on #815
Have opened https://github.com/patternfly/patternfly/issues/3151 for core implementation.

[2020-06-03 14:06] mcarrano commented on #816
Have opened https://github.com/patternfly/patternfly/issues/3151 for core implementation

[2020-06-03 14:35] mcoker commented on #846
@mcarrano lgtm. Do you think removing the expanded row borders (blue left border and divider between the expanded row and expanded contents) will be considered a breaking change?

[2020-06-04 12:48] doruskova commented on #763
@mcarrano I changed the color of the line for a better contrast [here](https://marvelapp.com/8cdg211/screen/69932685)
And the [next screen](https://marvelapp.com/8cdg211/screen/69941311) shows some examples of where we can or we shouldn't apply the splitter.

[2020-06-04 13:25] mcarrano commented on #763
This definitely looks better IMO @doruskova . @mceledonia can you confirm? It will be helpful to identify the gray values to be used here for implementation.

Regarding the usage, I don't agree about the drawer. We have two types of drawers, one the splits the space and pushes the content and another that overlays content. In either case, I could see a case for resizing the drawer . In the overlay

[2020-06-04 13:29] gdoyle1 commented on #834
@mcarrano I spoke with @lboehling and we were thinking we'd approach content views like so:
- If you are only designing for a card view (no ability to switch to another content view), the cards should be on a gray background
- If you have a card view that can also be switched to a list or table view (esp anytime you are dealing with master detail), the cards should be on a white background

[2020-06-04 13:49] mcarrano commented on #834
I think that makes sense @gdoyle1 . But not sure exactly what you mean by "sticky compact bottom toolbar." We currently have bottom pagination. Are you saying that we would just make that sticky? If we do that for Card view, would we also do that for lists and tables?

@mcoker Any reason we can't have sticky pagination an the bottom of the viewport?

[2020-06-04 14:23] doruskova commented on #763
@mcarrano oooh it makes sense. Thanks for this clarification! I'll change the guide.

[2020-06-04 14:57] mcoker commented on #834
@mcarrano nope, should work fine. I dropped the bottom pagination in after the card grid here and it works as expected. The spacing isn't correct, but I think we can work on that or maybe create page sections that are sticky, and a user would place the bottom pagination in a page section with no padding that is sticky.

![Jun-04-2020 09-52-46](https://user-images.githubusercontent.com/35148959/837

[2020-06-04 16:18] mcarrano commented on #834
Thanks @mcoker . So maybe we need to add the top shadow to the full bottom pagination like we do for the mobile?

[2020-06-04 17:46] gdoyle1 commented on #834
@mcarrano By sticky I mean if you were showing 15 cards per page, when you scroll, the pagination would stay in the same spot as it is now. I think it'd be good to make that change for list and table views too (since I think we did that on mobile already as shown above?)

[2020-06-04 22:23] mcoker opened #860 "Investigation into HSLa() colors"
We can do a lot of really cool things in CSS using the `hsl/hsla()` color functions.

* Define colors by individual values for hue, saturation, and lightness. This allows us to modify contrast, light/darkness, etc by modifying a single part of the function as opposed to redefining the color entirely.
  * Great for theming (light/dark theme, high contrast, etc)
* Introduce an alpha layer for transp

[2020-06-05 15:12] mcarrano commented on #860
Very interesting @mcoker . I see the potential value of this. But if we did this, would it impact consumers of PatternFly at all or would this be totally hidden to the if they are just using the color variable system? My concern would be replacing the familiar color system with something that will be less familiar to many designers and developers.

[2020-06-05 23:32] mcoker commented on #860
Users wouldn't be impacted, as long as we represented each hex color as its `hsla()` equivalent.

Agree, what we have now works fine. The only thing I wish we had sometimes is alpha channel for transparency, but we have ways around it. I think it would really be up to the designers as to whether this sort of thing would be beneficial by evaluating things like creating color palettes by adjusting H

[2020-06-08 14:21] #774 closed

[2020-06-08 15:47] #814 closed

[2020-06-08 15:48] mcarrano commented on #815
Design is complete. Have opened patternfly/patternfly#3151 for core implementation. This issue will be closed.

[2020-06-08 15:48] #815 closed

[2020-06-08 15:49] mcarrano commented on #816
Design is complete. See patternfly/patternfly#3151 to track core implementation. This issue will be closed.

[2020-06-08 15:49] #816 closed

[2020-06-08 18:53] nlcwong commented on #764
Design doc: https://docs.google.com/document/d/1HMlBDpK8VO2O8YWdnIdKiyiYiy7tFVUnDwrrvTp8Lk4/edit

[2020-06-08 21:05] mcarrano opened #862 "Inline alert/error message demo"
We currently have no guidance about how to display inline messages that result from validating information on a page that occurs after clicking a Submit button or other validation. Inline alerts are useful for providing global messaging at the top of a page (or a modal) but are less appropriate for inserting into the body of a page.

It would be helpful to define some typical use cases and mockups

[2020-06-11 19:26] KendraMar commented on #861
Becca and I brought up something similar today (june 11) at the cloudredhat.com design share for sources. The wizard has kicked of a process and can't notify the user thru the wizard that it fully succeeded ( the backend to do this doesn't exist). Instead, we can only say "hey, we started the process! go to this other page to see if it completed successfully."

[2020-06-11 21:27] gdoyle1 commented on #852
@mcarrano @mceledonia
Abigail and I have come up with some examples of dashboard cards!

Sketch link: https://www.sketch.com/s/de7746b0-e6f4-4f65-86dc-6cc54de64d0c
Marvel link: https://marvelapp.com/eb14d81

We wanted to receive some feedback before moving onto seeing how the cards could be placed in a dashboard. We realize that the cards will be completely dependent on the type of data that the u

[2020-06-15 13:30] mcarrano commented on #861
@katierik @KendraMar What I think we could do here is to open up the "default" style alert to take any icon. We chose the bell because it was the most generic thing we could think of, but I can see where you might want to use a more meaningful icon here.

Would this satisfy the request? Do you have any specific timeframe when this is needed?

[2020-06-15 15:24] gdoyle1 commented on #834
@mcarrano @mcoker
Here's the finalized mockup (and the [marvel project](https://marvelapp.com/76i0a3f) if you need it):
![Card view with sticky bottom toolbar - desktop](https://user-images.githubusercontent.com/30870144/84675769-b29e5780-aefa-11ea-8c5b-657734f82fa1.png)

[2020-06-15 15:24] doruskova commented on #829
@mcarrano I've updated the mocks with an[ action item on the right side](https://marvelapp.com/8cdg211/screen/68897369). The action should be triggered on a hover. I was trying to make it as universal as possible and I think that using kebab is the most universal solution that covers most of the use-cases. But, IMHO should be possible to add any type of action (icon) on the right side depending on

[2020-06-15 15:26] gdoyle1 commented on #768
Related to #834 - I'll take a look at the research provided and then add mocks for sticky headers and footers for tables, data lists, and card views

[2020-06-15 15:30] mcarrano commented on #852
@gdoyle1 happy to see where this is headed. I did leave some comments in the Marvel deck. We can discuss when we meet.

I'm wondering whether a better approach is to define some different generic types of cards independent of content, i.e. a chart card, a status card, and list/details card, and common elements like the header and footer that can be assembled into a variety of card solutions. Maybe

[2020-06-15 15:31] gdoyle1 commented on #829
@doruskova Awesome, that looks good to me! I think the only thing I was wondering is if the icon button should be shown all the time or only on hover?

[2020-06-15 20:51] KendraMar commented on #861
let's talk at design share on Thurs, June 18? I'm always partial to the info icon, but couldn't argue against the bell.

[2020-06-15 21:07] mcarrano opened #863 "Introduce Modal Alert variation of a modal"
We currently have design guidance on modal alerts here but not a simple way to include icons within the modal title area. https://www.patternfly.org/v4/design-guidelines/usage-and-behavior/modal#types-of-modals Want to create new modal variant that takes an icon to reflect known status conditions similar to an alert.

[2020-06-15 21:17] mcarrano commented on #829
This looks good @doruskova . Good question about hover. What were your thoughts?

@mcoker can you also take a look here? The general goal is to support an action in a menu item independent of selecting the item (like we do for favorites now). How much can we generalize that? Does it make sense to drop anything there like a single action or a kabob menu as shown? Or do we need to restrict this to s

[2020-06-15 21:35] mcarrano opened #864 "Investigate inconsistent font weights in Red Hat Text font"
Transitioning from Red Hat Display to Red Hat Text has resulted in headings displaying bolder than expected. This seems to be a result of no true Medium weight. Investigate with the RH font team to identify next steps, if any.

[2020-06-16 20:02] matthewcarleton opened #866 "Add border radius to Primary styled dropdown to match primary button"
The primary dropdown was meant to inherit the same properties as the primary button style but the border radius got dropped at some point. It would a nice enhancement to add this 3px border radius to the primary dropdown.
<img width="146" alt="Screen Shot 2020-06-16 at 4 59 51 PM" src="https://user-images.githubusercontent.com/287880/84822277-cdec8e00-aff2-11ea-90c9-68315f661177.png">
```+```
<img

[2020-06-16 21:23] mcarrano commented on #866
@mceledonia @mcoker what are your thoughts?

[2020-06-16 21:51] mcoker commented on #866
Here are some screenshots of what that might look like

<img width="604" alt="Screen Shot 2020-06-16 at 4 43 30 PM" src="https://user-images.githubusercontent.com/35148959/84831220-90870100-aff0-11ea-9919-2a118e71d878.png">

<img width="618" alt="Screen Shot 2020-06-16 at 4 44 34 PM" src="https://user-images.githubusercontent.com/35148959/84831289-b1e7ed00-aff0-11ea-8002-d54b31d21e78.png">

<img w

[2020-06-17 09:14] doruskova commented on #829
@mcarrano @gdoyle1 I think that the icon should be shown only on hover, because imagine that every item in the menu will have, for example, the kebab. It would be messy and look like this:
![kebab](https://user-images.githubusercontent.com/32618096/84879569-ad244700-b08b-11ea-810d-fb977acba333.jpg)

[2020-06-17 14:23] matthewcarleton commented on #866
Curious what @mceledonia thinks here - but it feels like we might need the ability to add a modifier? Is that overkill?
For the same reason the dropdown looks odd without rounded corners in the context of a primary button it kind of looks weird beside a dropdown with no border radius.

[2020-06-17 15:19] mcarrano commented on #866
@matthewcarleton I think the problem here is that the answer really depends on what you are placing the primary dropdown next to. The examples that @mcoker shows above illustrate this. It may be that we should never put two dropdown menus together like this. What do you see as the main usage for a primary dropdown?

[2020-06-17 19:44] mcarrano commented on #802
Vertical tabs were implemented as part of the 2020.07 release. https://www.patternfly.org/v4/documentation/react/components/tabs  There is a separate, but related issue here for scrollspy navigation. https://github.com/patternfly/patternfly-design/issues/792 Closing this one out.

[2020-06-17 19:44] #802 closed

[2020-06-18 18:37] mmenestr commented on #759
Possible other idea on how to present this --
![image.png](https://images.zenhubusercontent.com/5e750f70a086dc7bdce718bd/d369c85d-8d73-46ad-a8d3-dccec5c2a691)

[2020-06-19 14:17] mcarrano opened #867 "Drill-down tree menu"
Need a drill-down tree menu that allows the user to navigate a hierarchical tree of items for selection or actions. See related discussion in #829.

[2020-06-22 12:25] doruskova commented on #829
@mcarrano added a placeholder icon for an action item on the right. Link [here](https://marvelapp.com/8cdg211/screen/69215826)

[2020-06-22 14:11] mcarrano commented on #864
This issue was resolved by reverting back to using Red Hat Display for headings. Closing this out.

[2020-06-22 14:11] #864 closed

[2020-06-22 14:25] mcarrano commented on #829
I am going to move this to development for the basic collapsible tree pattern as described in the Marvel deck. A new issue has been opened to address the drill-down tree menu as a separate component. See #867.

Thanks for all your work on this @doruskova

[2020-06-22 14:48] mcoker commented on #829
@mcarrano sorry for the delay

The favorites button is a specific action button for the dropdown menu item. And it's generalized so that you can put any kind of icon in it you want. That said, it wouldn't work as a dropdown toggle currently - though it could potentially work as a dropdown if a user were to attach the upcoming context menu to it.

That said, we could extend this to general use of t

[2020-06-22 20:35] ajacobs21e opened #868 "Tooltip for dark theme"
Requesting a tooltip with a white background that is suitable for dark theme and/or over a dark area of the screen.
Design (by @coreyvickery):
https://xd.adobe.com/spec/3e62e93c-8338-4f31-5040-3b81f0ed5c71-4853/screen/9a5cafe6-30a9-431a-8958-174c033c2b0f/

[2020-06-22 20:40] ajacobs21e opened #869 "Avatar, dark"
Requesting an alternate background for the default avatar that can be used on a light background. The existing avatar is in a white circle which does not show up on a white background.

Design by @coreyvickery:
https://xd.adobe.com/view/625bf486-bece-40e9-ae28-844bfb06219c-3708/

[2020-06-22 20:59] mcarrano commented on #868
@mceledonia do you see any issue with adding a light tooltip? Do you think this should automatically change according to theming or be a consumer choice?

[2020-06-22 21:36] mcarrano opened #870 "Revisit modular dropdown design approach"
Revisit and update the modular dropdown design analysis to consider additional feature requests and ensure maximum extensibility.

https://docs.google.com/document/d/1GyVgog_SbErqbYyF08_N2rfLDUgwAVbdKP5udBjdxYI/edit?usp=sharing

[2020-06-22 21:45] mcarrano opened #871 "Introduce Tree menu"

[2020-06-22 21:54] mcarrano commented on #834
@mcoker Please take a look at the final design here. What are the updates required for this? Is it an update to the Card View demo or the Pagination component?

[2020-06-22 22:49] ajacobs21e commented on #868
Is it possible to be both? There could be a use case where I have an area of the screen that's dark but am using the light theme.

[2020-06-22 22:53] ajacobs21e opened #872 "Horizontal card"
Requesting a card that could show an image, logo, or video side by side with text, resulting in a card that is wider than it is tall.
Design by @samliville
https://sketch.cloud/s/jeL2W

[2020-06-22 22:57] ajacobs21e opened #873 "Marketing card with larger spacing and text"
Requesting variations for a card to support larger spacing, headlines, text, and CTAs for marketing contexts.
Designs by @awatkins-rh
https://www.sketch.com/s/9713de1d-eb6e-48f7-9d75-2e46f569bc48

[2020-06-22 23:03] ajacobs21e opened #874 "Disclosure, marketing context"
Requesting a disclosure component for the marketing context.
https://www.sketch.com/s/f6a52c25-8657-4680-9d3e-4c09131e6ed0/p/disclosure

This is similar in function to the `expandable` component in PF4 but with more visual weight. Visually it is similar to a single accordion.

[2020-06-22 23:10] ajacobs21e opened #875 "Horizontal jump links"
Requesting a horizontal version of vertical jump links (https://github.com/patternfly/patternfly-design/issues/792)
Jump links will navigate a user to a section lower on the same page. The band housing the horizontal jump links could also house other things, such as a logo or button.

Design:
https://www.sketch.com/s/f6a52c25-8657-4680-9d3e-4c09131e6ed0/a/mYbkyw
https://www.sketch.com/s/f6a52c25-8

[2020-06-22 23:12] ajacobs21e opened #876 "Restyle tertiary navigation"
Requesting secondary horizontal navigation.

The RH web site systems use a horizontal 'megamenu' style navigation which is similar to PF4's horizontal navigation. Some sites have secondary navigation with links to other pages. I don't see a PF4 horizontal secondary navigation.

Ideally this would not be confused with horizontal jump links (in page nav) https://github.com/patternfly/patternfly-desi

[2020-06-22 23:16] ajacobs21e opened #877 "Strength indicator"
Requesting a strength indicator. I need it for a password strength indicator but there may be other use cases for a strength and/or completion indicator for a form.
The component should have some sort of label to indicate strength (low, med, high etc) and possibly have the option to show helper text for tips to improve the strength.

[2020-06-22 23:22] ajacobs21e opened #878 "Search page?"
Red Hat's web site systems need a uniform design for a search page and search results. While some of this is probably going to be Red Hat specific, there may be other elements that could be part of PF4. For example, most of the PF4 filters seem geared toward a table / list context rather than a whole page search.

Things this could include:
- larger search bar & search button
- page level filters

[2020-06-22 23:26] ajacobs21e opened #879 "Progress stepper"
Requesting a horizontal stepper to show progress through a workflow, similar to the PF3 wizard: https://www.patternfly.org/v3/pattern-library/communication/wizard/
It would be able to show completed, active, and not yet started steps. It could be numbered or just icons. It should be flexible to handle different branches in the flow, for example the answer to one step could change the number or ord

[2020-06-22 23:28] ajacobs21e opened #880 "Popover, dark"
Requesting a darker colored popover to use in contexts where it is difficult to see the white popover against the background. Here is an example of a popover on top of a table and it gets lost
![image](https://user-images.githubusercontent.com/6415742/85344730-7fd9fd80-b4be-11ea-8882-5d21461a1fed.png)

[2020-06-22 23:32] ajacobs21e opened #881 "List variants - horizontal rule and icons"
Requesting an additional variant for a list to separate list items by a horizontal rule

[2020-06-22 23:36] ajacobs21e commented on #754
Designs from @coreyvickery https://xd.adobe.com/view/f329a7a4-b030-4bb8-ab3f-58b17830d1e2-a67a/

[2020-06-22 23:43] ajacobs21e opened #882 "Comments"
Requesting a design for comments on a page.

Many of our websites have areas where users can create a discussion or leave comments on published articles. We need a design for what these comments look like and the accompanying user info.

Comments will need to display:
- User alias / name
- Post date (localized to viewing user)
- Avatar (linkable to profile)
- Public or private flag - private messa

[2020-06-23 01:42] gdoyle1 commented on #851
@mcarrano this is something we can go with for now! It follows the exact same functionality as the application launcher but for a select menu. Also fyi this mockup includes a search filter within the select menu as well.

<img width="898" alt="Screen Shot 2020-06-22 at 9 41 39 PM" src="https://user-images.githubusercontent.com/30870144/85351206-2929ef00-b4d1-11ea-878e-627a48d06865.png">

[2020-06-23 12:36] mcarrano commented on #872
@mcoker any reason we can't create cards like this now?

[2020-06-23 12:50] mcarrano commented on #874
Would an accordion work here @ajacobs21e ?

[2020-06-23 12:53] ashton commented on #873
I don't think these designs are mine hahaha

[2020-06-23 13:23] mmenestr opened #883 "New tabs have a lot of white space"
The new tab designs look great, but seem to have incorporated more white space than they used to have, making the tabs taller, and adding more white space to designs.

With the recent PF effort of reducing white space, I wonder if we should revert the spacing back to what it used to be - or at a minimum reduce the top and bottom spacing to 8px (and leave the left and right spacing to 16px if that

[2020-06-23 13:29] ajacobs21e commented on #874
@coreyvickery do you have more requirements on when a disclosure is needed instead of an accordion?

@mcarrano one difference is the location of the caret. Expandable and data list have the caret on the left and accordion has it on the right. In a full width example like the top one here, a user might not notice the caret all the way on the right
https://xd.adobe.com/spec/3e62e93c-8338-4f31-5040-3

[2020-06-23 13:29] ajacobs21e commented on #873
@ashton oops sorry about that, autofill failed me!

[2020-06-23 13:35] ashton commented on #873
Hahaha no problem

[2020-06-23 13:53] ajacobs21e commented on #883
The intention of making the tabs larger was to increase the click target, which had been a complaint with the old tabs

[2020-06-23 13:57] mmenestr commented on #883
Ah! Ok, I didn't know that @ajacobs21e  - in that case I can just go ahead and close this. It just seemed contradicting to me at an initial glance, but that makes sense :)

[2020-06-23 13:59] gdoyle1 commented on #883
@ajacobs21e @mmenestr We might want to keep this alive depending on what comes out of the conversation between Michael and Matt Nolting! Seems like there are two stories going on right now that we need to find a single outcome from :)

[2020-06-23 14:29] gdoyle1 commented on #852
We made some updates on the cards based off the last bit of feedback:
https://marvelapp.com/eb14d81

[2020-06-23 15:41] mcarrano commented on #851
Thanks for this @gdoyle1 . I have opened https://github.com/patternfly/patternfly/issues/3209 to track the core implementation.

[2020-06-23 15:53] mcarrano commented on #876
@ajacobs21e we do have a secondary horizontal nav that we call "tertiary" navigation: https://www.patternfly.org/v4/documentation/react/components/nav#tertiary  Would that work or is this really a new menu? Do you have any mocks that show what this might look like?

[2020-06-23 16:05] ajacobs21e commented on #876
@mcarrano This is a little out of date but something like this is what we need (the grey bar)
![image](https://user-images.githubusercontent.com/6415742/85427406-b6108f00-b549-11ea-8f3d-2f4b0c5c72c3.png)

@coreyvickery @starryeyez024 I think the tertiary nav meets our needs. Are there any other requirements that aren't met by this component?

[2020-06-23 19:44] tlabaj opened #884 "Ability to have radio buttons in tables"
@mmenestr commented on [Tue Jun 23 2020](https://github.com/patternfly/patternfly-react/issues/4436)

Currently, tables in PF only support checkboxes. Would be useful to have tables that support radio buttons as well, without having to customize the component!

**Use case in cloud.redhat.com:**
Users have the opportunity to create a role from an existing role, and are presented with a table contai

[2020-06-23 19:45] tlabaj commented on #884
moved to design repo

[2020-06-23 20:20] mcarrano commented on #842
Closing this issue in favor of https://github.com/patternfly/patternfly-design/issues/845

[2020-06-23 20:20] #842 closed

[2020-06-23 21:20] mcarrano commented on #884
@mmenestr Let's discuss. I'm wondering if there's another way to solve this. How large is the list of roles likely to be?

[2020-06-23 21:34] mmenestr commented on #884
If I had to give a best guess, I would say the list of roles would probably be around 30+ items long

[2020-06-24 00:03] mcoker commented on #872
@ajacobs21e since the card's title/body/footer elements don't have to be a direct descendent of the card component currently, you could create a card component wrapper, then use a layout inside the card and place the card's title/body/footer elements somewhere in the layout.

Here's an example using HTML/CSS https://codepen.io/mcoker/pen/qBbmJJZ and one using react https://codesandbox.io/s/awesome

[2020-06-24 13:05] mcarrano commented on #872
Thanks for investigating @mcoker . So given that, what would you recommend here? Should we add a horizontal variant of the Card component to handle this layout option?

[2020-06-24 13:31] mcarrano commented on #884
@lboehling did you design a selectable row state for tables? I think so, but it may have only gotten implemented for the Data list. I would prefer to use that existing approach rather than introduce radio buttons to reflect row selection.

[2020-06-24 20:12] mcoker commented on #872
@mcarrano potentially. It sounds like we should solve it in a way that lets users use any layout they want in a card (as opposed to just a horizontal layout).

The problem currently is that we need to make some assumptions about how users will build their card so that we can apply the correct layout and spacing. Currently we assume this basic structure, with the exception that someone could just u

[2020-06-25 16:00] coreyvickery commented on #874
@ajacobs21e I don't have any concrete requirements, but I've always thought that it's up to the designer to figure out based on the content they have to work with. The link below has an example of a Disclosure that displays cross-links on a redhat.com search page.

https://www.redhat.com/en/search/RHEL

In this case, the Disclosure is displaying cross-links to another website (Customer Portal). I

[2020-06-25 18:15] trahman73 commented on #884
@mcarrano The Ansible Platform teams would also be interested in support for single select radio buttons in tables. We also have some additional use cases where the resource title can also be a link to it's details page. In this case, selecting the entire row would not work. Example:

![image](https://user-images.githubusercontent.com/13351591/85775911-37a12200-b6ee-11ea-9a26-429eb7d58dde.png)

[2020-06-25 20:26] coreyvickery commented on #876
@ajacobs21e Not 100% sure since we don't use this navigation on redhat.com.

@dcaryll Do we need to spec anything else for Allie? If not, I think this looks good.

[2020-06-26 08:50] ziccardi opened #890 "Modal dialog positioning: support top positioning"
With PF4, the modal dialogs are now centered both horizontally and vertically, while with PF3 they were put on the top of the page.
A discussion about this has already been done here: https://github.com/patternfly/patternfly/issues/2980

However, having the Dialog centered has its drawbacks too: if you have some expanding content that makes the dialog expand vertically, you will see the dialog mov

[2020-06-26 12:31] dcaryll commented on #878
@ajacobs21e this would be a great project for the Website System Architecture team to help drive. I know it's probably already on their roadmap, just maybe not priority. But they could help to consolidate requirements.

[2020-06-26 14:22] doruskova commented on #867
@mcarrano I'm adding a mocks to the multilevel drill-down menu -[ link here](https://marvelapp.com/66b0059). It's still in progress, but it should be finished the next week.

[2020-06-26 17:21] coreyvickery commented on #869
# Avatars

## Light theme
<img width="300" alt="Def av light" src="https://user-images.githubusercontent.com/45767595/85883662-33304400-b796-11ea-9e2a-4c84475baf3e.png">

### Colors

- Border: $pf-color-black-400 (#b8bbbe)
- BG: $pf-color-black-200 (#f0f0f0)
- Person: $pf-color-black-300 (#d2d2d2)
- Shadow: $pf-color-black-400 (#b8bbbe)

## Dark theme
<img width="300" alt="Def av dark" src="https:

[2020-06-26 17:21] coreyvickery commented on #869
@ajacobs21e @mcarrano Added specs for default avatars.

[2020-06-29 12:01] doruskova commented on #867
@mcarrano Mocks for a drill-down menu have been updated. [Link here](https://marvelapp.com/66b0059).
Does this approach work for you all @nlcwong @aprilma419 @ajacobs21e @yih-wang
I think that the menu with breadcrumbs needs to be tested on someone because I don't know if it's not confusing for the users. I appreciate your thoughts and comments.

[2020-06-29 13:12] nlcwong commented on #867
@doruskova The drill down looks great.  Yes, we'll definitely need to test the breadcrumb because the name of the step would more than likely be long and perhaps repetitive. Have we thought what it might look like truncated (the bookends of the breadcrumb that is)?

[2020-06-29 16:24] mcarrano commented on #846
Design work is complete. Opened https://github.com/patternfly/patternfly/issues/3221 to update core demos.

[2020-06-29 19:17] mcoker commented on #834
@mcarrano I'd need to do a POC/spike to see what the best way to do it will be.

[2020-06-29 20:52] lboehling opened #886 "Empty State/Create Card Variation for Card View"
We have found the need for an “empty state” variation of the card component to be used in card view.

An implementation used to exist in a past version of Fuse Online, and we are looking to add this behavior back in. When migrating to PF4 we swapped the empty “create” card for a primary button in the card view toolbar, but feel that it is not as discoverable/intuitive.

This empty state should vis

[2020-06-29 20:53] mcarrano commented on #834
Fair enough @mcoker . I've opened https://github.com/patternfly/patternfly/issues/3225 to track this.

[2020-06-29 21:05] bdiring commented on #886
We have a use case for this in a "Create project" wizard for Migration Toolkit for Applications:
![image](https://user-images.githubusercontent.com/54444091/86056028-c5507a80-ba2a-11ea-8cfe-0ed0f1e5fc80.png)

[2020-06-30 07:47] terezanovotna opened #887 "Sketch bug - Tabs do not align"
When using combination of Tabs - selected and default from the latest Sketch file, they do not align.

<img width="592" alt="Screen Shot 2020-06-30 at 09 43 42" src="https://user-images.githubusercontent.com/36040135/86098450-69cbce80-bab6-11ea-96aa-992ee93c491e.png">
Here is an examle of default tab and selected tab and they don't align with each other

<img width="353" alt="Screen Shot 2020-06-3

[2020-06-30 11:47] katierik commented on #886
I have used this pattern in a concept design for users being able to choose "favorite reports" (wireframe below)
![Xnip2020-06-30_07-46-26](https://user-images.githubusercontent.com/23172038/86122428-d2f71600-baa5-11ea-8cdc-b8b0ba51696f.jpg)

[2020-06-30 15:53] gdoyle1 opened #888 "Enhancement to in-page Wizard variation: Make left-panel sticky"
## Enhancement to in-page Wizard variation

**Use case**
In OpenShift, when creating a virtual machine, we have the option of creating one with an in-page wizard. When you scroll through the content of step 1 (or any step), you lose context of where you are.
<img width="1017" alt="Screen Shot 2020-06-30 at 11 51 22 AM" src="https://user-images.githubusercontent.com/30870144/86148160-44e05700-bac8-

[2020-06-30 16:29] mcarrano commented on #888
@mcoker What are your thoughts on this? I would be in favor of making this the default behavior for a wizard if that's easy enough to do.

[2020-06-30 19:15] ajacobs21e commented on #872
@mcoker here are some examples: https://www.sketch.com/s/1c8ae19e-07bb-4e92-9c14-057d9ca9b251/a/3gPoRr
Those all have the text on the right but it could be on the left as well.

[2020-07-01 15:43] gdoyle1 commented on #852
@mcarrano Here are the final cards! I added some more examples of the status cards to support use cases @Rohoover brought up and spoke with her about those options. https://marvelapp.com/eb14d81

I mentioned this to @mceledonia , I added a lighter version of an inline alert there too and I know we talked about supporting that in PF. I was wondering if I could take a follow-up issue to design those

[2020-07-01 20:08] mcarrano commented on #786
@dlabrecq @nlcwong I saw that some updates have been released in the PatternFly Charts package as of the latest release. Has this issue therefore been addressed or is there more to do here?

[2020-07-01 21:41] nlcwong commented on #786
@mcarrano I think the only thing I have in mind is if we need to update the PF documentation section to include the tooltip enhancements or do we just leave it up to the react documentation to point out the fact that we now have a vertical bar and tooltip with chart legend type of information in.  Either way, it has been checked into the code as far as I understand things.

[2020-07-02 01:27] dlabrecq commented on #786
The latest PatternFly charts package now includes a component to help display a tooltip legend. And if that does not fit future design needs, I also included a custom tooltip example which demonstrates how developers can create a custom tooltip using their own HTML / CSS layout in the chart's SVG.

+1 for the PF documentation. Although there is now a tooltip legend, there are also multiple tooltip

[2020-07-02 14:00] mcarrano commented on #786
Thanks @dlabrecq and @nlcwong . In that case I will close this design issue.

I have opened a documentation issue here and agree this should be added to our Charts usage guidelines: https://github.com/patternfly/patternfly-org/issues/1919  @nlcwong any interest in contributing that?

[2020-07-02 14:00] #786 closed

[2020-07-02 15:24] nlcwong commented on #786
Sure!

NATALIE WONG

SENIOR UX INTERACTION DESIGNER

Red Hat <https://www.redhat.com/>

300 A Street, Boston, MA 02210

nwong@redhat.com    T: +1-857-770-0627    M: +1-508-963-6144
<https://red.ht/sig>

On Thu, Jul 2, 2020 at 10:00 AM mcarrano <notifications@github.com> wrote:

[2020-07-02 18:10] ajacobs21e commented on #867
@doruskova The drill down menu doesn't meet my req of needing to go back to the top in one click. The breadcrumb version could work. If you do testing please let me know, I can provide my examples for testing and probably can help recruit (if not help with the actual test).

[2020-07-02 19:32] mcarrano commented on #861
My proposal here is to open up the alert and allow the consumer to substitute a different icon for the default alert to handle this kind of use case. @mcoker what would be involved in doing this? Would you need any input from design or can I just more this to core to make that change?

[2020-07-02 19:38] mcarrano commented on #873
@ajacobs21e @awatkins-rh the link in the description appears to be private. Can you share it out?

[2020-07-02 19:48] mcarrano commented on #792
We should also include a horizontal version of this component as described in the issue here: https://github.com/patternfly/patternfly-design/issues/875

Design:
https://www.sketch.com/s/f6a52c25-8657-4680-9d3e-4c09131e6ed0/a/mYbkyw
https://www.sketch.com/s/f6a52c25-8657-4680-9d3e-4c09131e6ed0/a/Da0Aj2
These are differentiated from tabs by putting the highlight line on top rather than the bottom.

[2020-07-02 19:51] mcarrano commented on #875
I combined this with #792 (attached the referenced designs) and noted that jump links need the ability to be vertical or horizontal. Prefer to track this as one new component and therefore will close this out.

[2020-07-02 19:51] #875 closed

[2020-07-02 20:01] mcarrano commented on #879
@ajacobs21e do you have examples of how this might be used? We made a conscious decision to not support a horizontal stepper in PatternFly 4 due to responsive design concerns. Would like to better understand the requirement for this.

[2020-07-02 20:05] mcarrano commented on #881
@ajacobs21e when you say a list variant, do you mean a new variant of this Simple List component? https://www.patternfly.org/v4/documentation/react/components/simplelist  Can you say more about what's driving the need for this?

[2020-07-02 20:05] ajacobs21e commented on #879
@dcaryll do you have a screenshot of the product trial progress bar?

[2020-07-02 20:09] mcarrano commented on #883
@mceledonia @mattnolting I think this was addressed, but can you confirm?

[2020-07-02 20:12] ajacobs21e commented on #881
I think it would be more a variation of https://www.patternfly.org/v4/documentation/react/components/list

It's something that's currently used in a marketing context. Here are some examples:
https://xd.adobe.com/spec/3e62e93c-8338-4f31-5040-3b81f0ed5c71-4853/screen/5bf4b81c-d880-4395-8d80-bb17dec75843/Card-list

[2020-07-02 20:14] mcoker commented on #861
@mcarrano is it expected that the user would use another icon font icon (font awesome, pf-icons, etc) or an icon from the patternfly react-icons library? Or would we want to support any sort of custom icon/format there?

[2020-07-02 21:13] mmenestr commented on #862
**My initial thoughts are the following:**
- Always use inline validation as a default.
- Optionally: you can also choose to add an inline alert at the top of the form or page to emphasize the error states. However, it should never be used on its own (unless there is nowhere to do inline validation) .
- If you have inline validation along with the inline alert, you do not need to go into detail ab

[2020-07-03 05:10] aprilma419 commented on #867
@doruskova These look great! I like how you did the approach of breadcrumb navigations, the only concern of mine is I'm not sure about the breadcrumb dropdown, what happens if the level list is very long(like 10 levels)? Will the dropdown menu be in a fixed height? Thanks.

[2020-07-06 14:51] mcarrano commented on #862
This looks great @mmenestr . I agree that it's hard to envision circumstances where you would need this outside of a form. I thin that the design you propose if fine for validation errors on things that are not form fields, except that I would sway the order of the text and icon to be consistent with the way that other alerts appear. @mceledonia thoughts? There are just a couple of things to consi

[2020-07-06 15:42] mmenestr commented on #862
@mcarrano I agree looking back that the icon would be better on the left, and text on the right!
As for left-aligned labels, i'm thinking it would still sit underneath the label like this:
![image](https://user-images.githubusercontent.com/51165119/86611832-3d63f680-bf7d-11ea-8c7d-92fa26a5ccff.png)

My thinking in general in terms of placement (and i'm just thinking out loud here), is that as a us

[2020-07-06 15:45] gdoyle1 commented on #852
@mcoker Do you mind taking a look at the examples here? ^

[2020-07-06 19:59] mcarrano commented on #862
I think this makes sense @mmenestr .

@mcoker do you see any problems with this approach?

[2020-07-07 15:24] dlabaj commented on #836
Application Services are looking at standardizing on the Monaco Editor going forward.  The editor is used by both OpenShift and CodeReady.  Might be good to standardize on that editor if we choose to go that route.

[2020-07-07 19:38] mcarrano commented on #874
Consider whether this can be achieved with an expandable card.

[2020-07-07 19:41] mcarrano commented on #879
What is the expected responsive behavior of this?

[2020-07-07 19:44] mcarrano commented on #880
This issue is dependent on resolution to how dark theming will be implemented. Need to consider how elements like buttons or other controls that can exist inside of a popover would behave.

[2020-07-07 19:49] mcarrano commented on #883
@mmenestr can you verify if this is still an issue with the latest PF release (2020.08) and close if not? We think this has been addressed.

[2020-07-07 19:49] coreyvickery commented on #874
@mcarrano Seems to function the same, but stylistically, we would need a border around that card so it kind of resembles an Accordion panel. See this issue that I wrote for more details.

https://github.com/patternfly/patternfly-elements/issues/829

[2020-07-07 19:54] mmenestr commented on #883
Seems like it was addressed since all I'm seeing in the documentation is these 'shorter' tabs, so i'll close.
![image](https://user-images.githubusercontent.com/51165119/86835473-2c44e380-c06a-11ea-9d84-9f8ed7bafe46.png)

[2020-07-07 19:54] #883 closed

[2020-07-07 20:22] mcoker commented on #888
@mcarrano @gdoyle1 I created an issue here to add that enhancement - https://github.com/patternfly/patternfly/issues/3255

@mcarrano do you want to add it to the roadmap? I've put it in the backlog for now.

[2020-07-07 21:29] mcarrano commented on #861
Yes, we would restrict the icon to currently supported icon types, only. I've opened https://github.com/patternfly/patternfly/issues/3257 to track implementation and will get this on the roadmap.

[2020-07-07 21:34] mcarrano commented on #866
Per discussion with @mcoker and @mceledonia we will make this change. I will transfer to Core for implementation and add to roadmap.

[2020-07-07 21:59] gdoyle1 commented on #836
Started working on this! There are a couple different variations here but I think it's a good proposal to bring to the PF stakeholder meeting. https://marvelapp.com/prototype/b284chd
@mcarrano

[2020-07-08 00:43] serenamarie125 commented on #836
Curious re: the Monaco Editor - if we decide to standardize that, how does it affect your designs @gdoyle1 ?

Have you looked at the Monaco playground, It has 3 different color themes as well as a couple of other features which are interesting: https://microsoft.github.io/monaco-editor/monarch.html

[2020-07-08 13:25] ajacobs21e commented on #878
Initial requirements gathering for pagination: https://docs.google.com/document/d/1hr2V3Dt2PYeH-3y1fpr8e0umkSnG1EYk-6pm1E_LBOM/edit

[2020-07-08 13:25] ajacobs21e commented on #878
@maryshak1996

[2020-07-08 14:18] mcarrano commented on #836
@gdoyle1 I reviewed your Marvel deck and left a few comments. Related to @serenamarie125 's comment, it does look like we would standardize on the Monaco editor so it might be worth looking at what that is capable of. You can see some examples here: https://microsoft.github.io/monaco-editor/playground.html

[2020-07-08 15:11] maryshak1996 commented on #878
thanks @ajacobs21e :) I've got some work in progress stuff as well that I can share here, and will look at what we both have to see if there's any gaps in PF components, and mock up some examples with both of our contexts in the same styling :)
Here's my doc: https://docs.google.com/document/d/1HZJnIBgTnBTpL9FOas3KopmOGYNEMfN3OoHuQqejP50/edit

[2020-07-08 18:40] mmenestr commented on #858
Looking at the above designs/conversation, there have been a few updates to the Form design guidelines that would affect these future demos. Here are the main takeaways and screenshots to illustrate what the demos should look like! Let me know if more are needed.

1. The form itself should be laid out the same, but the Cancel button should be a secondary button. Ultimately, the basic form demo sho

[2020-07-08 21:07] mcarrano commented on #858
This looks good to me. In addition to the above examples, do you think it's useful to show an example of a form in a modal, @mmenestr ? Maybe we can put all of the demo examples in a Marvel deck so it's easier to follow for implementation? There is so much history here, it becomes hard to follow. Once we have that I will open a clean issue for core implementation of these as demos.

[2020-07-09 12:11] doruskova commented on #867
@nlcwong @ajacobs21e @aprilma419 Sorry for my delayed answer. Thank you for your comments. I've added a screen with a truncated name [here](https://marvelapp.com/prototype/66b0059/screen/70988488) and how the breadcrumbs behave when you go more levels deep [here](https://marvelapp.com/prototype/66b0059/screen/70992097).
I agree that the breadcrumb dropdown can't include, for example, 20 items. I t

[2020-07-09 13:26] mcarrano commented on #867
This is a tough question @doruskova . I agree that it gets messy if you drill down more than 5 levels, but maybe that's an information architecture problem and not our problem to solve from PatternFly. So I think that just expanding the breadcrumb to a flat list of parent nodes is good enough and we don't worry about how long that list can be. What do you think about making a clickable prototype o

[2020-07-09 13:39] mcarrano opened #891 "Splitter demo"
Create mockups for a demo to show general usage of the drawer component that includes both a horizontal as vertical drawer with a splitter bar and representative content.

[2020-07-09 13:40] doruskova commented on #867
@mcarrano I agree. And I'll prepare the prototype for testing next week.
@ajacobs21e Can you send me your examples? It would be awesome.

[2020-07-09 16:51] gdoyle1 commented on #836
Thanks for the feedback @serenamarie125 @mcarrano ! I made some updates here that Matt will share today at the PF stakeholder meeting: https://marvelapp.com/prototype/b284chd. In short, yes we will be using the Monaco editor as the code editor and will be building on top of it! @serenamarie125

[2020-07-09 17:44] mceledonia opened #892 "Feature request: Expandable notifications (inline + toast)"
We've had a few use cases pop up for an expandable function within notifications. During the last alert design refactor I came up with some designs around this which I'll attach below, these might work but it's worth noting they were sort of a quick concept rather than a fully thought out design.

Given the recent product requests I feel like it would be a good idea to get this on the roadmap.

<i

[2020-07-09 18:03] gdoyle1 commented on #892
@mceledonia I have something super similar to this although I'd think of it more of a "toast modal"... similar to when you upload files to google drive
<img width="412" alt="Screen Shot 2020-07-09 at 2 02 53 PM" src="https://user-images.githubusercontent.com/30870144/87074461-e5332b80-c1ec-11ea-9620-d745089fa58f.png">

[2020-07-09 18:11] mceledonia commented on #892
@gdoyle1 Yeah definitely, that seems to me like an expandable toast which also has a much more flexible range of content that it can hold. Want to get @mcarrano's thoughts on this too!

[2020-07-09 18:44] ncameronbritt commented on #892
I'd like something similar for inline alerts:
![Screen Shot 2020-07-09 at 2 44 16 PM](https://user-images.githubusercontent.com/8974593/87078511-bf108a00-c1f2-11ea-8fb0-4291203b7abd.png)

[2020-07-09 20:53] mcarrano commented on #892
@mceledonia Sounds like there are multiple use cases for something like this. Can you also take a look at this request: https://github.com/patternfly/patternfly-design/issues/874  The use case is entirely different but it strikes me that these are pretty much the same things.

[2020-07-10 16:09] mcarrano commented on #870
I have made some updates to the design document here: https://docs.google.com/document/d/1GyVgog_SbErqbYyF08_N2rfLDUgwAVbdKP5udBjdxYI/edit?usp=sharing

[2020-07-10 20:01] mcarrano commented on #858
@mmenestr can you take a look at this issue: https://github.com/patternfly/patternfly/issues/2489 We should make sure that we cover this type of a layout as part of the demo. It's just basically asking for a group of stacked radio buttons, I think. Thanks!

[2020-07-10 21:33] mcoker commented on #852
@gdoyle1 @mcarrano how would you like for me to evaluate these? It looks like most/all of these can be built using existing components and layouts.

[2020-07-13 14:35] mcarrano commented on #852
That was what I wanted to know @mcoker . I have opened https://github.com/patternfly/patternfly/issues/3278 for core implementation and will get this on the roadmap.

[2020-07-13 15:09] mceledonia commented on #754
Update on the dark theme effort:

@mcoker and I did an initial test of a hands-off dark theme approach where we adjusted the global variables to the dark color palette. This was successful so we're working now on applying it to the rest of the system where we can check and audit each component.

Open/ongoing design tasks:

- Refine new gray palette with colorbox
- Solve new input styling per @ajac

[2020-07-13 15:24] gdoyle1 commented on #836
Based on feedback and implementation discussion, @mcarrano opened a POC issue in the React repo [here](https://github.com/patternfly/patternfly-react/issues/4514) to explore `variation 1` in the Marvel project [here](https://marvelapp.com/prototype/b284chd/screen/70964526). We will explore all actions presented on Screen 4 and see how feasible it will be to create that on top of the Monaco editor.

[2020-07-13 16:15] mcoker commented on #862
@mcarrano this looks fine to me. Just to confirm, we're creating a demo to show alternate placement of the form error message

* Associated with the form label versus the control (displaying under the label)
* Associated with a group of controls (eg, a group of inline checkbox controls)
* An inline alert message - at the top of the form and/or the top of the page

[2020-07-13 17:09] mcarrano commented on #862
Yes, that sounds like a good summary to me @mcoker Do you agree @mmenestr ?

I will go ahead and open a new core issue to get this into the implementation queue.

[2020-07-13 17:24] mcarrano commented on #862
OK. I've opened https://github.com/patternfly/patternfly/issues/3282  @mmenestr can you place the design recommendations in a Marvel deck or similar and attach them to that core issue for reference? Thanks.

[2020-07-13 17:28] mmenestr commented on #862
@mcarrano I still need to finalize the placement of an inline error for a group of controls. It would **either** be underneath the label, or underneath the controls, so from my understanding it would be either or for the first two bullets, not both. But let me know if that wasn't your takeaway from the meeting!
The third bullet is right though! You'd have a demo with an inline alert appearing at t

[2020-07-13 20:59] mcarrano commented on #754
Thanks for posting this update @mceledonia . I have opened this issue in the core repo that may also require some design support to help audit current variable usage: https://github.com/patternfly/patternfly/issues/3211

[2020-07-13 21:59] mmenestr commented on #858
Here are the demo mocks:
- [Vertical form demo](https://marvelapp.com/prototype/eh3c7d4/screen/71128973)
-[Horizontal form demo](https://marvelapp.com/prototype/eh3c7d4/screen/71128976)
- [Stacked radio buttons demo ](https://marvelapp.com/prototype/eh3c7d4/screen/71129134)(with 8px spacing between buttons)
- [Full page vertical form demo](https://marvelapp.com/prototype/eh3c7d4/screen/71128974)

[2020-07-13 22:06] mcarrano commented on #862
OK. I will keep this design issue active then. @mcoker I will push the implementation out to milestone 11 in this case.

[2020-07-14 07:59] cntlsn opened #893 "Fix Toolbar > Top background component"
The Toolbar > Top background component includes a bottom border (a light inner shadow) that is inconsistent with the current PF implementation of the Toolbar component.

It would be good to remove it to keep consistency across the different instances of the library.

[2020-07-14 13:12] mcarrano commented on #893
@cntlsn can you be more specific about what you are referring to? Is this on the website? The Sketch kit?

[2020-07-14 14:18] gdoyle1 commented on #851
@mcarrano can I close this since core implementation was completed?

[2020-07-14 16:09] mcarrano commented on #851
It's still waiting for implementation in React.

[2020-07-14 16:12] dcaryll commented on #876
@ajacobs21e @coreyvickery here are some instances where we need to solve for secondary/tertiary nav. Not sure if horizontal always works.

- https://www.redhat.com/en/open-source-stories/farming-for-the-future
- https://www.redhat.com/en/about/brand/standards ("Contents" link on the right)
- https://origin-www-cms.redhat.com/en/command-line-heroes (must be on VPN, prod is broken right now)

[2020-07-14 16:18] itsptk commented on #889
Just to mention, the existing Accordion styling seems like decent option for conveying general grouping as well. @lizsurette @mceledonia

![image](https://user-images.githubusercontent.com/54860125/87449628-6adb2080-c5cb-11ea-88fc-c3172232f3f9.png)

[2020-07-14 16:37] lboehling commented on #889
Apicurio Studio API Editor has a lot of repeating/nested field groups. In the updated UI, each card will have a read-only/edit mode (edit mode enabled on card click) and the contents of these cards can have varying levels of grouping complexity. I used a divider line to separate groups with a few repeating fields and an expandable row to separate more complex groupings (I removed the expanded row

[2020-07-14 18:12] mcarrano commented on #858
The mocks look good @mmenestr . I only had one comment. @mceledonia can you also take a look at these?

[2020-07-15 14:04] maryshak1996 commented on #845
Marvel deck: https://marvelapp.com/prototype/5ajfj8fhttps://marvelapp.com/prototype/5ajfj8f
Sketch Cloud: https://www.sketch.com/s/a552bfaf-8c51-4898-a87e-44b7ca34c89f

[2020-07-15 14:42] maryshak1996 commented on #865
I think that this covers what we need: https://marvelapp.com/prototype/8i964cj
@mcarrano @mceledonia @lboehling

[2020-07-15 20:37] mcarrano commented on #865
Works for me!

[2020-07-15 20:39] mcarrano commented on #845
@mcoker when you get a chance, can you look at Mary's mocks for this? It's something I'd like to queue up for milestone 11. It's pretty equivalent to a chip group, but let us know if you see any issues. Thanks.

[2020-07-15 21:18] mcoker commented on #845
@mcarrano @maryshak1996 lgtm. A couple of questions - will this be adding a vertical layout variation (that doesn't exist on the current chip group)? And is there specific behavior/layout for the responsive groups, or do the labels/buttons just wrap as space allows like the chip group behaves currently?

[2020-07-16 02:34] gdoyle1 commented on #893
This is supposed to be in the design-kit repo! Do you mind transferring it over @mcarrano ?

[2020-07-16 08:43] cntlsn commented on #893
Sorry! I meant to add the issue to the design-kit repo! Transferring it over there.

[2020-07-16 12:54] mcarrano commented on #845
@mcoker Yes, for a label group we want the vertical layout that does not exist of a chip group. I guess that would also need to scroll if the number of chips exceeds the height of it;'s container. As for responsive behavior, yes, I think that wrapping would be the default. I also speculated whether at a mobile breakpoint you might want the horizontal group to convert to a vertical pop-up group, bu

[2020-07-16 16:59] mcarrano opened #894 "Update PatternFly home page design for vertical navigation"
We are currently in the process of updating the PatternFly website to move from the hybrid (horizontal primary+vertical secondary) navigation to a more flat nav approach with a single collapsible menu on the left side of every page. In the course of making this change, we see that the styling of the home page may need to be updated. Below is a screenshot of what this looks like in the current proo

[2020-07-16 20:27] jcaianirh opened #895 "NotificationBadge: new unread state looks too much like browser focus state"
This is a request to change the design for the Notification Badge when in an unread state. See pics below. The unread state and the browser focus state are too common. When added to openshift, comments were added to the ui forum that the notification badge had a bug and was stuck in the focus state.

Browser focus state:
![Screen Shot 2020-07-16 at 3 17 37 PM](https://user-images.githubusercontent

[2020-07-16 23:14] mcoker commented on #845
@mcarrano

From the designs, I imagine you could have either a horizontal or vertical group, and you can put those groups on a page, in a popup, etc, and we can include the ability to switch between horizontal and vertical layouts at breakpoints if that's needed. That's really straight forward.

Are you thinking about behavior like the overflow menu, except instead of actions being put into a drop

[2020-07-17 06:35] doruskova commented on #867
@nlcwong Can you send me your examples? I think that Allie has the same requirement, but I want to be sure that it covers your use case too :)

[2020-07-17 13:16] mcarrano commented on #845
@mcoker Yes, this is what I was thinking. Hard to know if that's useful within context. @maryshak1996 thoughts?

@marshmalien You had originally filed this request. Do you think having the label group collapse into a single icon with a popover at a certain breakpoint would be useful or would you just expect the group to just wrap?

[2020-07-17 16:18] marshmalien commented on #845
@mcarrano We would expect the label group to wrap at a given breakpoint instead of collapsing into an icon.

[2020-07-17 18:25] mcarrano commented on #845
Thanks, @marshmalien . In that case, let's just stick with the wrapping behavior @mcoker . So we would have the vertical/pop-up group just as a separate layout variant. If someone wanted the overflow behavior I described, they could code that on the consumer side.

[2020-07-17 18:55] mceledonia commented on #895
Let's go with a blue fill here rather than the border. And no ( ! ) icon in the bell, only the attention state should have that.

<img width="567" alt="image" src="https://user-images.githubusercontent.com/30935938/87821263-8b121600-c83d-11ea-87e4-52a4fcfb8006.png">

[2020-07-17 20:28] mcarrano commented on #895
@mcoker @evwilkin We weren't sure what the process should be for adding the bell with "!" It's not part of our current icon set, but hopefully can be included in this update.

[2020-07-20 17:03] mmenestr commented on #862
Here are the mocks: https://marvelapp.com/prototype/4j6agce
I'm thinking just one example with vertical form, and one with horizontal? But open to any suggestions here.

I also edited the form guidelines to add in some guidance about this. You can find it in [this doc](https://docs.google.com/document/d/19gVVVJxnaP8eS8sw5as_BwgJnAJVlYkZlpXtWE_QrXE/edit#), in the error and validation section. Whate

[2020-07-21 14:02] evwilkin commented on #895
@mceledonia do we have a design update here?  I think we're trying to push this through design, core & react for this current milestone.  It looks like your note mentions no ! in the bell and Matt's asks about adding an icon with the ! in the bell, hoping you can clarify and we can move forward here.
cc @mcoker

[2020-07-21 14:21] evwilkin commented on #895
Please disregard above - I see now the unread state won't have the ! in the icon, and the attention state will have the ! in the icon. I will look into how to get this new icon added.

[2020-07-21 14:37] evwilkin commented on #895
Core issue: https://github.com/patternfly/patternfly/issues/3308

[2020-07-21 18:24] evwilkin opened #897 "enhancement(ContextSelector): Look into rendering content before searchbar"
## Requesting new features, enhancements, or design changes to PatternFly
Explore rendering content before the searchbar, per contribution here: https://github.com/patternfly/patternfly-react/pull/4517

[2020-07-21 21:09] coreyvickery commented on #879
@ajacobs21e Here is one we used a long time ago.

https://xd.adobe.com/view/2c764d19-3e2a-44d0-8fa0-9ff8df223702-7925/

[2020-07-22 16:53] evwilkin commented on #851
React issue: https://github.com/patternfly/patternfly-react/issues/4528

[2020-07-23 07:37] aprilma419 commented on #836
Hi @serenamarie125!  In our Keycloak project, we are doing the read-only code snippet redesign, and would like to know what kind of read-only code snippet/editor Openshift is using right now?

[2020-07-23 13:04] doruskova commented on #867
@nlcwong @ajacobs21e @mcarrano @aprilma419 Hey all, I've recently finished the testing of breadcrumbs with multilevel-drill-down menu and I have some interesting inputs that I'd like to solve somehow.

I'll share with you the highlights:
- The multilevel breadcrumbs work well (yay!) in general.
- It wasn't confusing for the participant to use (...) three dots to open the dropdown with previous cat

[2020-07-23 19:50] ajacobs21e commented on #867
@doruskova What about something like this for the hidden breadcrumb hierarchy?
![image](https://user-images.githubusercontent.com/6415742/88331904-54cc0f00-ccf3-11ea-8b27-5ea48c8a0b17.png)

Something that shows hierarchy but is only nested by a few pixel each time so we can show more of each level

[2020-07-24 02:24] aprilma419 commented on #867
@doruskova I've heard the same comments on this issue from our developers as well, what I did was using arrows instead of a list to indicate the hierarchy of sub-levels in the dropdown as the image showed.

<img width="521" alt="Screen Shot 2020-07-24 at 10 19 46 AM" src="https://user-images.githubusercontent.com/44431015/88355464-3b7c9e80-cd97-11ea-9e71-e2043a963034.png">

[2020-07-27 13:14] mabashian commented on #859
👋 I'd love to give some input from the AWX perspective if you all would be interested.  Not quite sure who to reach out to but I'd be happy to give a quick demo of a feature in our application that would be using this Topology component.

[2020-07-27 13:55] doruskova commented on #867
Thank you so much for your ideas! I created the screen with possible designs [here](https://marvelapp.com/prototype/66b0059/screen/71536522). I would like to keep the simplicity of collapsible breadcrumbs as much as possible. Let me know what you think.

[2020-07-27 14:27] mcarrano commented on #862
@mmenestr Yes. I think this is a good solution. Please just link the Marvel doc to the Core issue and we can move this forward. Thanks!

[2020-07-27 14:53] mcarrano commented on #879
@coreyvickery I think that a basic stepper like this in PatternFly makes sense. However, what would you expect the experience to be if someone were to access this page from their phone? The model starts to break down there.

[2020-07-27 16:56] evwilkin opened #898 "Create "Community" page for PF website"
We want to add a "Community" page to patternfly.org which would link to PatternFly Elements as a community project built around PatternFly, and it could also house any other similar projects, accessibility info, events/updates from the PF team, and anything similar outside of our normal PF agenda that we need a place to communicate.

[2020-07-27 16:57] coreyvickery commented on #879
@mcarrano I guess I'd expect it to reduce in visual size, but the experience that we needed a stepper for didn't apply to mobile, so we didn't mock anything up for small screens. Happy to discuss further in Wednesday's meeting if you can make it.

[2020-07-27 17:56] mcarrano commented on #879
Yes, let's discuss further on Wednesday.

[2020-07-27 19:58] mcarrano commented on #858
@mceledonia @mcoker Please take a look at the mockups attached above. If you are good with these, I will open a new core issues to get this into the queue for implementation. Thanks.

[2020-07-27 20:12] mcarrano commented on #865
Opened https://github.com/patternfly/patternfly/issues/3331 for core implementation.

[2020-07-27 20:21] mmenestr commented on #863
Here is what i'm thinking for a simple icon on the left of a modal header.

This is what it would look like with a 16px icon, and 8px spacing:
![image](https://user-images.githubusercontent.com/51165119/88588083-fb325000-d024-11ea-98e6-6ea46057b69c.png)

To me, the icons seems very small here, but i'm respecting the 16px icon sizing choice. Here is what it looks like with the icon being 24px, and

[2020-07-29 00:11] gdoyle1 commented on #863
@mmenestr 24px icons look like they fit better here with the default modal header text size. Thoughts @mceledonia ?

[2020-07-29 12:58] doruskova commented on #867
@mcarrano I created the version we're talking about yesterday. The hidden breadcrumbs should appear in the same window. Here's the link https://marvelapp.com/prototype/66b0059/screen/71597941
It includes two versions.
- The first one with a button on the right side. The second without the button.
- Version A shows expanded breadcrumbs and current categories from the last parent node.
- Version B s

[2020-07-29 13:51] ajacobs21e commented on #867
Thanks @doruskova ! I agree the version without the button makes more sense. It gives more room for longer labels. I added a comment in marvel, if it doesn't make sense I can draw out what I'm thinking.

[2020-07-29 15:37] garrett opened #900 "missing open formats (such as SVG) for designs"
PatternFly designs are nowhere to be found on the website.

There's reference to Sketch, but that's macOS only.

Open source communities need to be able to access all content, including designs, to be truly open. This means having everything in formats that people can access from a variety of platforms and tooling. In the case of design, publishing SVGs (or even PDFs) would be essential. (Currentl

[2020-07-29 15:51] mairin commented on #900
^ All of this. I'm re-implementing everything from scratch in Inkscape and not even confident that I'm getting the scaling and fonts correct, because there's no reliably-rendering version like PDF or PNG output to use as a guide. The interns I have onboarded onto the project I work on that uses PatternFly have also suffered from a poor experience as they use the FLOSS tools as well. The system nee

[2020-07-29 16:06] garrett commented on #900
Agreed! :100:

Andreas and I have also spent so many hours making and remaking design assets based on pixel-peeping the website. And then the the widgets change every PF release in subtle ways, so it's back to the "hamster wheel" yet again. And this is just trying to play catch-up with the public-facing assets.

We cannot even participate in design suggestions or get previews of what's being discu

[2020-07-29 20:50] mcarrano commented on #867
@doruskova I had similar feedback as @ajacobs21e . See my comments in the Marvel deck. If it's confusing, then maybe the 3 of us can jump on a call. Thanks!

[2020-07-30 13:30] gdoyle1 commented on #768
Here's what I've come up with so far! https://marvelapp.com/prototype/79affd0 - feel free to comment on the marvel. I will be gathering more feedback today at the PF weekly stakeholder meeting as well

cc: @mcarrano @katierik @KendraMar

[2020-07-30 14:05] katierik commented on #768
This looks good!
I wonder how it would work with a situation like this, with tabs? (This is one of the *exact* screens that we are considering adding a sticky header to)
![Xnip2020-07-30_10-03-47](https://user-images.githubusercontent.com/23172038/88932375-fb606480-d24b-11ea-833f-5832a6f99dc4.jpg)

[2020-07-30 14:11] gdoyle1 commented on #768
@katierik thanks for adding that use case! I'll add an example of that to the marvel project too

[2020-07-30 20:21] maryshak1996 commented on #848
WIP design: https://marvelapp.com/prototype/24g4a7g6

[2020-07-30 20:48] marshmalien opened #972 "Feature: Query builder component"
**Query builder / Advanced search tool**

Feature request to add a component that builds advanced filter queries. Queries could be made of groupings, joins, conditions, and different operators. There is an area in our application that allows advanced users to create a custom filter string. A contrived example would be if the user wanted to search for users in a specific group, they could write cre

[2020-07-30 21:05] mcarrano commented on #848
Designs are looking great @maryshak1996 .

@ajacobs21e please take a look and see if the left-hand filter approach would satisfy your needs.

[2020-07-31 15:00] ajacobs21e commented on #882
Potentially similar use cases:
Dash - RHcert chat
@fionayhlin  - Ansible catalog approval UI

[2020-07-31 15:31] ajacobs21e commented on #878
Potentially similar use cases:
Page level pagination
- Web use cases: blog, catalog, search, etc

Filters outside of a toolbar

- Rox - [SAP context selector](https://marvelapp.com/prototype/24cg5g7g/screen/71540168) (maybe)
- Shaks - [catalog view](https://github.com/patternfly/patternfly-design/issues/848)
- Brie - OpenShift operator hub
- Vince - tree view for a filter, on its own page
-

[2020-07-31 16:35] ajacobs21e commented on #797
@mcarrano is there a plan for when we'll start work on #2 from Michael's deck?

[2020-07-31 17:26] fionayhlin commented on #882
@ajacobs21e use case in catalog on this approval transcript:
<img width="1142" alt="Screen Shot 2020-07-31 at 1 25 14 PM" src="https://user-images.githubusercontent.com/49918197/89060594-4607dc80-d331-11ea-98b4-cfa95fab0a8a.png">

[2020-07-31 17:38] mcarrano commented on #797
No, not really @ajacobs21e . Are there specific things that you are looking for? From this statement I don't know what we're referring to.

cc @mceledonia

[2020-07-31 17:43] ajacobs21e commented on #797
Here's a list that was started a while ago of potential components to get an RCUE treatment https://docs.google.com/document/d/1_yNchMcfEH7RqRwGZa2zCPmDoooaCWfEc_W5jbajC1U/edit?ts=5e458a38#

[2020-07-31 17:52] mcarrano commented on #797
None of this is currently on our roadmap. I'm not sure what prior conversations or assumptions may have taken place. Once we complete the theming work, which is currently focused around dark theme, it will be easier to do this. But right now it's not clear what the priority would be or who owns this effort. It's really downstream from PatternFly.

@LHinson any background to add?

[2020-07-31 17:56] ajacobs21e commented on #797
Yes it's for our downstream which ideally would be a collaboration between PF and the PF web group that would be using the downstream

[2020-07-31 18:20] mmenestr commented on #862
@mcarrano can we close this or not yet?

[2020-07-31 19:52] mcarrano commented on #862
Yes, this is complete. But I'm not closing design issues immediately so we can use them to link any ongoing work.

[2020-07-31 20:01] matthewcarleton opened #902 "Consider a pattern for smaller use cases for alerts that aren't covered by the inline variation of the component."
In the console we see scenarios like this (look at OpenShift OAuth enabled toggle)
![image](https://user-images.githubusercontent.com/287880/89072646-516a0080-d34f-11ea-870b-a8702a978e9c.png)
Interested what others think about PF providing this or if there is similar needs in other products outside of OpenShift.

[2020-07-31 20:56] mcarrano commented on #902
@matthewcarleton we have been looking at this sort of thing. See the designs attached to this issue: https://github.com/patternfly/patternfly-design/issues/862  They were primarily targeted at placing an inline alert in the context of a form, but I think could similarly work for a definition list like this.

Thoughts @mmenestr ?

[2020-08-03 09:41] andreasn commented on #900
Looking at the [official Patternfly documentation](https://www.patternfly.org/v4/get-started/designers), it does seem I would need to expense a second laptop from work in order to consume Patternfly, since I don't own a Mac.

After some brief web searching, it seems Sketch is capable of exporting SVGs, so maybe that could be a route?

For reference, here is the widget template we use for Cockpit,

[2020-08-03 10:53] garrett commented on #900
There's a npm/yarn installable Sketch-to-SVG command line tool that convinces Sketch to export everything as SVG. (It can do this by default, but I'm not sure how the Sketch document is set up.) Perhaps this would help, if the Sketch document is not set up properly in Sketch? https://github.com/eBay/SketchSVG (It's macOS only, of course, as it relies on Sketch itself.)

We cannot really do anythin

[2020-08-03 12:58] mmenestr commented on #902
@matthewcarleton just to make sure I understand the use case, does a user get the warning after making a toggle change, to tell them that they have to save this change somewhere for it to stick?

[2020-08-03 17:57] mcarrano commented on #870
Following discussion with @mcoker we concluded that more consideration is required on how to accomplish this to deliver required React components. I will close this design investigation for and allow further discussion to take place in the context of https://github.com/patternfly/patternfly/issues/1429.

[2020-08-03 17:57] #870 closed

[2020-08-03 20:13] maryshak1996 commented on #878
@ajacobs21e I made some new updates to the marvel deck above if you wanna give it another look!

[2020-08-04 16:09] itsptk commented on #902
The use case shown here is when a user flips that toggle in the UI, they need to confirm the action to then write it to the backend (that they did intend to flip it.) There is no save/cancel buttons at the bottom of the page, all editing is happening inline. I don't know the exact history but I guess it was thought that [these toggles](https://github.com/openshift/console/blob/c07050bccf2e2c1d9400

[2020-08-04 17:26] mmenestr commented on #902
@itsptk Oh so they would confirm the change by clicking "Confirm change"? If that's the case I feel like this is a use case all together, but the styling is very similar to what I designed for in-line error messages for non text form inputs:

![image](https://user-images.githubusercontent.com/51165119/89324971-22f16b80-d656-11ea-8997-107820f22f75.png)

[2020-08-04 19:44] mmenestr commented on #863
**Final decision:** Go with 24px icon in the modal header.
Here are the specs fro both a compact modal and large modal. Everything else in the modal would work the same as any other modal, the only difference is the ability to have an icon on the left of the header, and switch it to other icons for other use cases (although the demo should probably have an exclamation-triangle icon as shown).

![i

[2020-08-04 20:42] mcarrano commented on #863
I have created https://github.com/patternfly/patternfly/issues/3374 for core implementation.

[2020-08-04 20:59] mcarrano commented on #761
@mcoker any reason that this would be different than just adding an icon in front of the label on a button? Do we need any core work to make this happen or perhaps just create a new example?

[2020-08-04 21:00] mcarrano opened #903 "Introduce Label group component"

[2020-08-04 22:41] mcoker commented on #858
@mcarrano @mmenestr a few questions:

Vertical form - the form field error/help text does not push down the fields below it. However the form component currently does push down content to make room for the error text. Just want to confirm whether or not we need to update anything regarding that?

Stacked radios - would that same 8px gap apply to other things that you should be able to stack in a f

[2020-08-04 22:54] notklaatu commented on #900
Adding myself here so I can track progress.

The proprietary dependencies of Patternfly make it impractical (or impossible?) for someone running only open source to contribute or fully utilize what Patternfly offers.

[2020-08-05 13:12] mcarrano commented on #858
@mcoker Just a couple of comments...

* Yes, I think we are wanting to introduce the 8px spacing between any stacked form elements.  I know this came up recently in a separate issue where someone wanted to stack a group of radio buttons.

* Regarding the max-width, yes, we intend the form to have a max-width that is smaller than the page. This will prevent form fields that take the full width of t

[2020-08-05 13:31] mmenestr commented on #858
@mcoker +1 on everything Matt said and then regarding the form being pushed down when there's an error - it should stay how it works now - pushing the content below it to keep the spacing consistent with or without extra text. That's just an error in my mock so no need to update anything on that front! Thanks!

[2020-08-05 14:19] garrett opened #1003 "UX: Typeahead entry clears when dropdown dismissed"
## Background

In Cockpit, we're using a PF4 typeahead as a remote-system directorly selector. (You type and/or click around with a mouse to select a directory to create a storage pool for virtual machines.)

## Description of the problem

Typing (including pasting with the keyboard) works. However, if an entry is not selected either with the mouse or via the keyboard (by pressing down and hitting

[2020-08-05 14:27] mcoker commented on #858
@mmenestr @mcarrano thanks! Designs LGTM.

[2020-08-05 17:31] mcarrano commented on #858
Thanks for your efforts on this @mmenestr . I've opened https://github.com/patternfly/patternfly/issues/3380 to track core updates and will get this into a future milestone.

[2020-08-05 19:09] rachael-phillips commented on #894
Hey @mcarrano and @redallen I discussed with Margot, and our recommendation is to change the white body of the "Hello we're PatternFly" section to the grey used on other body pages. It's #FAFAFA on the colors page. https://www.patternfly.org/v4/design-guidelines/styles/colors

That is the only change you should need to make for now. Please let me know if you have any follow-up questions! If you wo

[2020-08-06 14:12] garrett commented on #900
I just got off a call with several people on the PatternFly team and they said they will figure out the best way to export SVG and PNG files so that we can use them in Inkscape (and other tools).

Meanwhile, a first pass might be a PDF export, as that is most likely easier to export than SVG. (It could be something like "print" to a PDF, for example.) It probably won't be ideal, but it should be a

[2020-08-06 14:18] garrett commented on #900
_Additionally_, not open format related, but still design related:

The PatternFly team will post information on the website, with links, to help us all get more insight to what's happening on the design side of things. This will probably be in the form of links to a ZenHub board (which requires a GitHub account, as it has GitHub integration) and a MarvelApp link (which should allow anyone — even

[2020-08-06 14:40] mcarrano commented on #900
Based on discussion with @garrett and @andresasn we will investigate an approach for exporting assets from Sketch to SVG. We agreed that an ideal solution would be automated and would result in a bulk export of assets when we post a new version of the Sketch kit. These assets could then be posted to an accessible location TBD.

In addition, design requests and work in progress can always be viewed

[2020-08-06 15:44] garrett commented on #900
@mcarrano: Thanks again for talking with us about this and helping us find a solution! We appreciate it so much!

[2020-08-06 15:45] garrett commented on #900
Note to all (especially stale-bots :wink:): Please keep this issue open until we have the exports solved and automated. :grin:

[2020-08-06 15:53] mcarrano commented on #900
@garrett I did a quick experiment to export from Sketch to PDF. Here is the result of exporting our template file. https://drive.google.com/file/d/1SCavFPundU_SthBwswsss_By64UthdSj/view?usp=sharing I'm sharing via Google Drive as the resulting file is too large to upload here. If this is useful long term we can find a location on GitHub to push it. The same information is available here on Sketch

[2020-08-06 16:32] garrett commented on #900
@mcarrano Thanks for the quick conversions!

I've downloaded the zip file from the Sketch link and also converted the PDF to SVG with Inkscape (with a little scripting). Then I took all of that and put it in a git repo @ https://github.com/garrett/patternfly-design-exports — just intended to be a WIP place to put stuff for the time being.

(We'll do all of this more officially soon.)

The Sketch →

[2020-08-06 16:35] garrett commented on #900
@mcarrano: Oh, right — I set the license to MIT on the repo. Is that correct? It's what PatternFly is licensed under. Is that what the designs should be licensed under as well?

[2020-08-06 17:35] mcarrano commented on #900
@garrett I have asked @gdoyle1 to take the lead on this from the PatternFly side, and she can work with you figuring out the details.

As for the repo, @evwilkin or @dgutride can you answer the question about licensing? We do already have a repo set up for the Sketch design kit here, https://github.com/patternfly/patternfly-design-kit. We can decide later whether to just use that as a repository o

[2020-08-06 18:41] mcarrano commented on #892
@jessiehuff @jgiardino We were discussing this request today as an enhancement to our toast alert and I wanted to run this past you to see if this would be an accessible solution for screen reader or keyboard users as I know this was a general concern with actions inside toasts.

[2020-08-06 19:49] mcarrano commented on #902
@matthewcarleton @itsptk now I understand better what the ask is. Sounds like this is more than just wanting a static alert and more like an inline edit use case. We do have support for that here: https://www.patternfly.org/v4/documentation/core/components/inlineedit It's a bit different from what you've designed. We do not have a React demo of this at the moment, but basically any element on the

[2020-08-06 21:39] jgiardino commented on #892
My recommendation varies depending on whether this is a toast or not.

If not a toast, then the [WAI-ARIA disclosure pattern](https://www.w3.org/TR/wai-aria-practices-1.2/#disclosure) could be used.

But toasts are a bit more complicated. I would argue that interactive elements in a toast notification are not easily accessible by screen reader users or keyboard only users, assuming that toast noti

[2020-08-07 07:45] doruskova commented on #867
@mcarrano @ajacobs21e @nlcwong @aprilma419 I'm adding the mock that we discussed the last time https://marvelapp.com/prototype/66b0059/screen/71809215
Please, let me know if this approach will work for you. I used dropdown for multiple breadcrumbs, so you can see the whole structure and go back every time you want. Also, it should be possible to select a parent node with all children from the menu

[2020-08-07 14:54] mcarrano commented on #867
This looks great @doruskova . I just left a couple of questions/comments. I have reservations about placing this pattern inside of a dropdown as shown in the last example, but I don't have a better idea. I think it works. What do others think?

[2020-08-07 15:01] mcarrano commented on #892
Thanks for the detailed explanation @jgiardino . Based on this, is this functionality you would still want to have for toast alerts @mceledonia and @gdoyle1 ? It seems like it could work but also raises a11y complications.

[2020-08-07 15:23] matthewcarleton commented on #902
@itsptk I wonder after looking at this if the pattern should be to edit the setting in a modal. I don't know of any other settings in the details view that do this type of inline edit. WDYT? I know there is a larger effort around future enhancements for inline edit of the details view that could maybe tackle this.

[2020-08-07 15:36] itsptk commented on #902
Yeah I agree, this definitely seems to be an outlier in the OCP console. I was taking a look at the inline edit case and do think that could probably be used for this particular editing/confirm case. Agreed that this could be included in the larger inline conversion effort.

Of note is that this error message can also be shown if the change is confirmed and the change fails to write to the backend

[2020-08-07 16:01] itsptk opened #904 "Consider (optionally) not indenting Accordion headings to align with other form controls"
The PF Accordion component style adds left padding to the Accordion toggle, which causes it not to align with the rest of the normal form field headings. Could the Accordion be changed to remove this left padding, or perhaps have an option to not include it? The OpenShift console is already doing this today with custom code.

Existing Accordion behavior (with gap to left of heading):
![image](http

[2020-08-07 18:33] mcarrano commented on #902
Given all of this. Is there a reason to keep this issue open @matthewcarleton ? Is there still a PatternFly ask here?

[2020-08-07 18:49] #851 closed

[2020-08-07 19:54] matthewcarleton commented on #902
@mcarrano I think what @mmenestr has already done for forms will cover requirements. Given that we've determined this is not the recommended approach for the details page I'm ok with closing this. Thanks everyone for the lively chat!

[2020-08-07 19:54] #902 closed

[2020-08-07 21:03] mcarrano commented on #894
@rachael-phillips thanks for looking into this. @redallen @evwilkin I'm handing this off to you guys for implementation then.

[2020-08-08 02:41] aprilma419 commented on #867
@doruskova These are awesome. Just wondering are we going to have an action link or button somewhere on this dropdown component? For example, like a “Move here" button.

[2020-08-10 13:01] mcarrano commented on #867
That could be useful. @doruskova perhaps look at how Google does this? I think we could add an optional action at the end of the menu or something like that.

[2020-08-10 14:16] gdoyle1 commented on #897
@mcarrano @mceledonia Here's what I came up with for this! Let me know what you think.
![Context selector](https://user-images.githubusercontent.com/30870144/89792360-71898480-daf2-11ea-952e-d05aa13c4f9f.png)

[2020-08-10 16:01] gdoyle1 commented on #853
Attaching the google doc that @abichen has started here: https://docs.google.com/document/d/1_LFmUOEWuCkGxywuMx-YCiQytrROAKpt_54ql8nlX5M/edit?usp=sharing

[2020-08-10 17:00] amysueg commented on #792
FYI @dlabaj @srambach

[2020-08-10 20:35] mcarrano commented on #897
@gdoyle1 I think this works. So in this case, is All projects just another menu item that's pinned to the top of the menu? Does it get filtered like other items in the list?

[2020-08-11 07:32] aprilma419 commented on #867
Hi Matt@mcarrano, I have a question about the breadcrumbs usage for this tree menu. As for my example, I have regular long breadcrumbs displaying on a header of a page(the image below), will the new collapsible breadcrumbs fit in this header? Or it just fit in a tree menu?

![image](https://user-images.githubusercontent.com/44431015/89869649-3ae16600-dbe7-11ea-8b40-548277967a33.png)

[2020-08-11 13:00] mcarrano commented on #867
@aprilma419 We were not considering this as a general purpose extension to the Breadcrumb component. If this is something you need, I recommend opening a new design issue for it and we can consider it. Thanks.

[2020-08-11 14:13] gdoyle1 commented on #897
Yes, that was what I was thinking! @mcarrano

[2020-08-11 14:19] dgutride commented on #900
@mcarrano  - everything in PatternFly should be licensed under MIT

[2020-08-11 14:34] gdoyle1 commented on #900
@garrett Hey Garrett! When you get a chance, do you mind trying these accordion symbol svgs out? I have exported them with the padding which I was hoping would give you more of an indication of the exact spacing.
[Accordion.zip](https://github.com/patternfly/patternfly-design/files/5057532/Accordion.zip)

I noticed a couple things where these svg exports differ from Sketch:

1. The text styles do

[2020-08-11 16:00] doruskova commented on #867
@mcarrano @aprilma419 Thanks for bringing this question about action items in a breadcrumb menu. I've explored the Google way, but the problem is that they don't show something like this in a breadcrumb. They use the context menu that triggers the "Move to" action and then a simple drill-down menu appears.

This breadcrumb/dropdown shows the path you went through. If I change something in this dro

[2020-08-11 16:17] mceledonia commented on #890
I'm alright with changing our default behavior over back to this given the issues with center alignment that @garrett has outlined above.

The measurements you've suggested sound good to me, `spacer--xl` for desktop and `spacer--sm` for mobile.

@mcarrano were there any issues with the PF3 approach? I believe the change to centering was more of a quick stylistic decision rather than one which unde

[2020-08-11 16:20] mceledonia commented on #895
I want to leave this open @mcarrano, OpenShift recently has implemented this and decided to remove the unread state due to their seemingly unique situation of almost always having some form of unread alerts. Given that scenario, the unread indicator isn't very useful, but the blue fill is also a bit distracting when it is now less of an indicator and more of an always-present state. I think OpenSh

[2020-08-11 16:26] mcoker commented on #890
@mceledonia it's not a breaking change in the code.

[2020-08-11 16:32] mceledonia commented on #843
This is something we should support. I think the contextual help icon should exist in the modal header as shown by @andreasn screenshot above. Here is what I'm thinking for spacing/positioning, we can stack the help icon with the close icon as the built in padding for icon buttons is plenty.

<img width="463" alt="image" src="https://user-images.githubusercontent.com/30935938/89923545-c13d7e00-dbc

[2020-08-11 17:50] mcarrano commented on #867
I was thinking about adding a footer to the menu like for the Google Move To action here:

![Screen Shot 2020-08-11 at 1 24 32 PM](https://user-images.githubusercontent.com/6619860/89928748-4aa47e80-dbd6-11ea-9783-494a9b37581b.png)

But one could argue that this behavior could apply to any select menu and not just a drill down so I'd rather solve in a more general way. @aprilma419 if this is somet

[2020-08-11 17:53] mcarrano commented on #895
OK. I am pulling back to design. We can discuss further.

[2020-08-11 17:56] mcarrano commented on #890
It's technically not a breaking change, but I would still want to offer this as an option rather than changing the default behavior globally. @kybaker do you have any recollection of why we chose to center align the modals in PF4?

[2020-08-11 20:34] ziccardi commented on #890
@mcarrano I believe the reasons are described here: https://github.com/patternfly/patternfly/issues/2980#issuecomment-625338553
My 2 cents: I too prefer to have an option rather than changing the default behaviour.

[2020-08-12 02:28] aprilma419 commented on #867
@mcarrano Actually we need both drill-down menu and multi-level breadcrumb components for our designs. As for the drill-down menu, I think the dropdown with the action button at the footer works for our case as well.

I will open a new issue about the breadcrumbs, not only for Keycloak, I'm also summarizing breadcrumb usage for Middleware Integration apps, which have similar problems here.

[2020-08-12 03:31] aprilma419 opened #909 "Collapsible multi-level breadcrumbs"
## Requesting a collapsible breadcrumb for multiple levels
In the Keycloak Groups feature, breadcrumbs on a page header can have more than 5 levels(5-10 levels). Currently, we're using "**...**" to collapse the middle levels of breadcrumbs for Keycloak Groups feature on a page header which Pattrnfly doesn't have right now, and using a simple dropdown to indicate the users the collapsed levels.

<i

[2020-08-12 08:30] doruskova commented on #867
@mcarrano I agree with you. I've added the version where the button is at the bottom https://marvelapp.com/prototype/66b0059/screen/71918537

But, as you mentioned, we should consider and explore this more to make action items like this flexible and suitable for other types of menu.

[2020-08-12 08:40] garrett commented on #900
@gdoyle1: Thanks for working on this!

---

## Overall

I think it looks good overall!

## content.svg exports

When exporting the SVG at 96 DPI (default), the resolution is 106×145. Here's the export @ 1:1:
![Content](https://user-images.githubusercontent.com/10246/89986697-35cef600-dc7d-11ea-9521-51d6b5f007b8.png)

Here's a 2x:
![Content@2x](https://user-images.githubusercontent.com/10246/899868

[2020-08-12 12:41] mcarrano commented on #867
Thanks @doruskova This looks great.

@mcoker @christiemolloy Wanted to give you a preview of this as we were discussing our overall approach to menus. Please see the last comment regarding adding an action footer to a menu. I think this could be a useful option. Thoughts?

[2020-08-12 13:28] christiemolloy commented on #867
Thanks @mcarrano this helps a lot!

[2020-08-13 13:06] MariaAga commented on #897
@gdoyle1 Hi! the 'before searchbar' is needed for us to also add a 'mange projects' button with the 'all projects' button, how will this work with this design?

[2020-08-13 13:32] gdoyle1 commented on #897
@MariaAga does the "manage projects" item act as an action? Right now, all these menu items will be changing the context of the page so that it shows the data related to all projects, my project, openshift cluster, etc.

[2020-08-13 13:35] MariaAga commented on #897
The "manage projects" item acts as a link to a "manage projects" page

[2020-08-13 17:39] mcarrano commented on #897
@MariaAga @gdoyle1 If we want to add actions like this to a menu, I wonder if the better way to do this would be to add a footer to the menu. I have been working with @doruskova on some designs here to address a similar use case: https://github.com/patternfly/patternfly-design/issues/867 I'd like to have a consistent approach that can work across a variety of types of menus. Thoughts?

[2020-08-13 17:55] gdoyle1 commented on #897
Thanks for bringing that up @mcarrano ! I took a stab at creating something that is more consistent with that...
<img width="614" alt="Screen Shot 2020-08-13 at 1 55 13 PM" src="https://user-images.githubusercontent.com/30870144/90169525-b0c30a00-dd6c-11ea-8407-45b2720fe956.png">

[2020-08-13 20:58] mcarrano commented on #767
This is very old and not clear who needs it. I am closing.

[2020-08-13 20:58] #767 closed

[2020-08-17 14:09] #894 closed

[2020-08-17 14:13] mcarrano commented on #846
Design work is complete but we decided to put a hold on implementation for concerns about visual breaking changes. Closing the design issue.

[2020-08-17 14:13] #846 closed

[2020-08-17 14:24] mcarrano commented on #890
I've opened https://github.com/patternfly/patternfly/issues/3405 for core implementation.

[2020-08-17 14:27] mcarrano commented on #843
@mcoker do you see any issues with this?

[2020-08-18 13:33] mceledonia commented on #843
After discussion with @mcoker we may have to approach this a bit differently due to how the close action is implemented in modals. From what I gather it may just mean that we shift the help icon position to the end of the modal title rather than stacking it with the close icon.

[2020-08-18 13:41] mcarrano commented on #897
This looks good @gdoyle1 . Do you have a preference between these? I feel like the link style button is more appropriate here, but don't feel strongly about that. Would also be great to get your thoughts @mceledonia .

[2020-08-19 14:01] mmenestr opened #911 "Update new website page background color"
Currently, the background grey color in the preview website is F0F0F0, but it should be changed to  FAFAFA (to match what the current background color is on today's website!

[2020-08-19 14:30] abichen opened #912 "Add Filter Tree"
OpenShift would like to add a function to filter by conditions in the Nodes list with a [filter tree](https://marvelapp.com/prototype/5ccdhg2/screen/71956643).

The tree view has been released in [PF core](https://www.patternfly.org/v4/documentation/core/components/treeview#with-checkboxes) and is detailed in [#3206](https://github.com/patternfly/patternfly/issues/3206). Currently we don’t support

[2020-08-19 19:35] lboehling commented on #884
After speaking with @mcarrano and @mmenestr, we've decided that our recommendation is to move forward with enabling radio buttons in lists/tables for single-row select (Option 1 in Marvel deck).

Design explorations: https://marvelapp.com/prototype/909de61/screen/72064645

[2020-08-19 21:07] mmenestr commented on #884
Also, here is a screen recording of current work on implementing this on cloud.redhat.com (this is still in staging)

[radio buttons in table.zip](https://github.com/patternfly/patternfly-design/files/5099305/radio.buttons.in.table.zip)

[2020-08-20 17:44] abichen opened #913 "Introduce Dashbars"
OpenShift is looking to implement dashbars that provide users with meaningful summaries of the content below it. We're hoping to contribute this back downstream and introduce it to PatternFly.

![Screen Shot 2020-08-20 at 1 44 55 PM](https://user-images.githubusercontent.com/66273283/90806679-59ccb000-e2eb-11ea-8846-3252fc3dddd0.png)

**Details**
- [Doc](https://docs.google.com/document/d/1LV7fe-x

[2020-08-21 08:44] edewit opened #1025 "Pagination without total number of items"
In some scenarios it's to expensive to get the total number of items. It would be nice if we could still use the Pagination component without that.

[2020-08-25 19:50] maryshak1996 commented on #848
Same link as before (https://marvelapp.com/prototype/24g4a7g6), but would love to get some feedback on the two left side panel options: catalog panel as it's own perscriptive component vs a panel with dictated spacing that user can put whatever components they want in.
@mceledonia @mcarrano @lboehling

[2020-08-25 20:06] lboehling commented on #905
@mmenestr @mcarrano Apicurio Studio's current implementation has collapse/expand all for the sections in the api editor. This context menu is accessed via right-click on the arrow icons. This behavior isn't within a data list or table, but thought it might be a good reference!

 ![Screen Shot 2020-08-25 at 3.58.20 PM.png](https://images.zenhubusercontent.com/5cf531f8d8501ed6b9d4c7ad/857c06f5-99ad-

[2020-08-26 17:45] gdoyle1 commented on #900
@garrett Thank you so much for such a detailed response! I wanted to update you telling you I'm looking into this and plugins that we could use so I don't have to manually go through our 100+ symbols and export them as SVGs (hence why it's taking a little longer to find a solution for this). In summary, I seriously appreciate your detailed response and I am working on a solution!!!

[2020-08-26 20:11] gdoyle1 commented on #897
@mcarrano here's the most recent mock that we discussed!
<img width="645" alt="Screen Shot 2020-08-26 at 4 08 41 PM" src="https://user-images.githubusercontent.com/30870144/91351641-9e0df380-e7b6-11ea-83fe-734a741e94c2.png">

Here is the marvel as well: https://marvelapp.com/prototype/7ahigh3

[2020-08-27 10:30] garrett commented on #900
@gdoyle1: Thanks for the update!

I agree :100: — having it automated is definitely the right approach. Thanks for working on this!

[2020-08-28 15:52] #858 closed

[2020-08-28 15:52] #863 closed

[2020-08-28 15:54] #829 closed

[2020-08-28 15:54] #763 closed

[2020-08-28 15:55] #888 closed

[2020-08-28 18:36] mcarrano commented on #777
@rachael-phillips This request is quite stale. Is it still something that is needed in the Dev Console?

[2020-09-01 15:11] doruskova commented on #880
@mcarrano In progress https://marvelapp.com/prototype/b6f31d1

[2020-09-01 20:10] mmenestr opened #914 "Create "Tour" Demos"
Want to create a demo page for tours, that we could eventually add a design guidelines tab for.
Would need to create mocks, or can pull from current implementation of open shift or DMN tours for example.

There are three types of tours we could have demos for:
1. Guided tours
2. Task walkthroughs
3. Interactive tutorials

Here's a deck with more information on the tours: https://docs.google.com/pr

[2020-09-01 22:01] rachael-phillips commented on #777
Hey Matt, I just chatted with DevTools team, and we can close this. I will close now, and feel free to reopen if deemed relevant. Thanks for following up on this!

[2020-09-01 22:01] #777 closed

[2020-09-02 18:11] mcarrano commented on #904
@itsptk did you consider using the Expandable section for this rather than the Accordion? See https://www.patternfly.org/v4/documentation/react/components/expandablesection  Discussed with @mceledonia and we agreed this might be a better approach.

[2020-09-02 18:15] mcarrano commented on #906
@ncameronbritt @maryshak1996 I think this has been addressed, but let me know if there is still an issue here to look at.

[2020-09-02 20:28] mcarrano commented on #792
@lboehling for your reference, here is a vertical jump link implementation that is already available in PatternFly Elements: https://patternflyelements.com/elements/pfe-jump-links/demo/#section2 It would make sense if we can stick relatively close to this approach as long as it satisfies other product use cases. You can reach out to @ajacobs21e if you have questions about this.

[2020-09-02 20:37] mcarrano commented on #913
@beanh66 @jcaianirh is there anything more you can tell me about this requirement? I discussed today with @mceledonia and @mcoker and it seems like this is something that can be built today using existing PF layouts and components. We could potentially create a demo if that's useful, but other than that, we are not sure if there is a PatternFly action required.

[2020-09-02 20:49] mcarrano commented on #781
@lwrigh @lizsurette is there still a product need for this? The original issue is quite old. We expect to be introducing both a horizontal drawer and draggable splitter component over the next two releases that would enable this functionality. The ability to go full-screen is opened in our backlog but not currently scheduled. We can also build a patternFly demo to show how these can be used togeth

[2020-09-03 16:56] lwrigh commented on #781
No problem for the time being this component isn't needed anymore.

[2020-09-03 17:23] TheRealJon commented on #904
@mcarrano I think we considered this on initial implementation, but the Expandable section component doesn't represent hierarchy as well as Accordion. The child fields are not indented and there is no visual representation of grouping like the blue border you get with accordions. I think the decision probably came down to the fact that accordions more closely matched our use case and required less

[2020-09-03 17:43] mcarrano commented on #781
Thanks, @lwrigh . I am going to close in that case. We can always revisit in the future if that changes.

[2020-09-03 17:43] #781 closed

[2020-09-03 17:50] mcarrano commented on #904
Thanks for the feedback @TheRealJon . When you say "fieldset" component, how does that relate to what's being requested in this issue here: https://github.com/patternfly/patternfly-design/issues/889? It may be that we should allow form sections to be collapsible.

I understand what you are saying about the Accordion and the Expandable sections. The problem is that the Accordion was not really desi

[2020-09-03 18:24] TheRealJon commented on #904
I didn't know about #889  but it does seem pretty closely related. Definitely seems like that issue is starting to get some attention again, so I can comment on that and add in these other considerations for the design.

[2020-09-03 18:29] mcarrano opened #915 "Consider demos needed for Toolbar and Filters."
Currently we have a set of HTML Toolbar demos here: https://www.patternfly.org/v4/documentation/core/demos/toolbar These demonstrate the layout of a Toolbar with various filter configurations. Want a set of React demos that address Toolbar and Filters as separate entities. Goals:

* Show how different toolbar items and groups can be used.
* Demonstrate filter usage for filtering data in tables usi

[2020-09-03 18:33] TheRealJon commented on #904
IMO, I think the best solution would be for the component that comes out of #889 to meet our use cases for the Operand creation form so that we can move away from using the accordion component. I believe that would make this issue obsolete.

[2020-09-03 19:28] TheRealJon commented on #889
@itsptk @mcarrano I think that this enhancement could replace #904 if we add a few more considerations. IMO, the OpenShift Operand creation forms should use something like what is proposed here instead of the `Accordion` component. Here are a few constraints to consider for use in the Operand creation form (I'll call the component a 'fieldset' for easy reference):
- A fieldset shall support an opt

[2020-09-04 12:54] doruskova commented on #867
@mcarrano I played with breadcrumbs and I identified breadcrumbs problems for each option [here](https://marvelapp.com/prototype/66b0059/screen/72512507)
And created possible solutions for each menu [here](https://marvelapp.com/prototype/66b0059/screen/72512506)

[2020-09-04 15:00] mcarrano commented on #759
@bmignano Is this still something that's needed?

[2020-09-04 15:25] mcarrano commented on #867
Thanks @doruskova . In looking at these, I have a preference for the third option (collapsible) but It might make sense to mock these up in code to see how they feel. Other thoughts?

[2020-09-08 21:13] mmenestr commented on #905
I've mocked up 3 different options to get feedback on!
**[Option 1:](https://marvelapp.com/prototype/91had53/screen/72599164)** Action button in toolbar
**[Option 2:](https://marvelapp.com/prototype/91had53/screen/72599165)** Action button in toolbar kebab
**[Option 3:](https://marvelapp.com/prototype/91had53/screen/72599166)** Arrow in toolbar, left of the bulk select icon

I personally like Opti

[2020-09-09 13:36] mcarrano commented on #905
@mmenestr I agree with you that Option 3 is the best choice and I like that it will give us a consistent approach for either lists or tables. The only thing I'd like to reconsider is the icon. I feel like the ">" is confusing because it normally implies that the content following it will be expanded which is not the case here. What about using the Expand and Collapse icons like in @lboehling 's ex

[2020-09-09 15:07] maryshak1996 commented on #905
@mmenestr I definitely agree that option 3 seems like it would give the most consistent experience between lists and tables :)

[2020-09-09 15:29] mmenestr commented on #905
@mcarrano I see what you're saying about the icons, but no matter what icon we use, I feel like the same thing could be said! From an icon stand point alone, I personally think the arrow makes more sense because it's in line with what's already being used in the rows themselves. Whereas the icon in Lucia's screenshot is looks more like an expand window icon to me - but maybe that's just me! Anothe

[2020-09-09 15:33] mmenestr commented on #905
Here is what it could look like using the patternfly "expansion" icon though!

![image](https://user-images.githubusercontent.com/51165119/92620027-319ff380-f290-11ea-918c-e758c5e7441f.png)

[2020-09-09 16:09] lboehling commented on #905
I agree that the icon should be consistent with the other "expand" caret icons used in the rows, but I also think it is kind of difficult to differentiate the expand all from the row expansion at a glance. What if we used an enclosed caret? It would be distinguished from expand single row, but would still use essentially the same icon.
<img width="62" alt="Screen Shot 2020-09-09 at 12 05 31 PM" sr

[2020-09-09 16:56] bmignano commented on #759
@mcarrano We have this today in OpenShift so it would be great if it could be added to PatternFly! Here's what we have implemented today:
<img width="1792" alt="Screen Shot 2020-09-09 at 12 56 41 PM" src="https://user-images.githubusercontent.com/40238481/92629167-e986ce00-f29b-11ea-8daa-00492d52f1b4.png">

[2020-09-09 17:29] gdoyle1 commented on #872
As shared today during the PF design share meeting, @mcarrano OpenShift has a similar need for a horizontal card! We would be looking to get a horizontal card component like this in by our 4.8 release, which is planned for November/early December.

I've attached the specifications here to what we'd need for OpenShift and possibly how it could apply to other product cases as well!

![horizontal car

[2020-09-09 17:57] mcarrano commented on #759
OK. I will get this onto the PatternFly roadmap @bmignano

[2020-09-09 18:01] mcarrano commented on #759
@mcoker See the screenshot above. Would it be straight forward to add an optional badge to menu items in the checkbox select? Would you require anything from design?

[2020-09-09 18:07] mcarrano commented on #872
Thanks @gdoyle1 I've bumped this up to our 2020.15 release (mid November). Is this something you think you can take the design lead on?

[2020-09-09 18:52] gdoyle1 commented on #872
@mcarrano Yup that's fine with me!

[2020-09-09 20:13] mcoker commented on #759
Just from testing it, looks like the read background color is the same as the hover/focus background on the menu item. Is that OK?

<img width="286" alt="Screen Shot 2020-09-09 at 3 12 40 PM" src="https://user-images.githubusercontent.com/35148959/92648364-ec3eee80-f2ae-11ea-978e-5f73b03635e8.png">

[2020-09-09 21:12] mcarrano commented on #759
Good catch @mcoker . In that case we may need to consider this more in design. @bmignano did you encounter that in the OS implementation? If so, how did you work around it?

[2020-09-10 14:58] jcaianirh commented on #759
@mcoker @mcarrano for openshift we don't have a hover state over selections in the dropdown. The below state doesn't change when selections are hovered.

![Screen Shot 2020-09-10 at 10 57 50 AM](https://user-images.githubusercontent.com/35978579/92749848-8147f300-f354-11ea-83f9-dfae30fa46a2.png)

[2020-09-10 17:00] maryshak1996 commented on #889
@mcarrano @lboehling @bmignano I took another stab at this stuff, given the new use cases provided.
My initial thought is -- can the form grouping needs be supported with what currently exists with the tree view, since that allows for nesting, multi-level drill dow, and indentation?
I did also play around with something very similar to what @lboehling included in her Apicurio mocks, and it seems l

[2020-09-10 19:31] maryshak1996 commented on #848
@mcarrano I've applied feedback based on the PF design sync yesterday and chatted with @rachael-phillips a bit too. Feedback seems to have slowed on this, so unless you have any other thoughts, I think that we can consider these designs complete!
Marvel: https://marvelapp.com/prototype/24g4a7g6
SketchCloud: https://www.sketch.com/s/381a44dc-d625-4d90-80e0-d98e802c6035

[2020-09-10 19:57] mcarrano commented on #889
@maryshak1996 I don't see the tree-view as related to this since that's something more like a menu vs a form container. That said, I think you basic approach works, however I'm not sure about putting actions inside of the caption/header area. Do others think they belong there or as part of the body of the form inside of the section?

@TheRealJon @itsptk please also take a look and let us know if t

[2020-09-10 20:52] lboehling commented on #889
Adding some more design explorations here (using the use cases provided in this issue): https://marvelapp.com/prototype/5dfae4f/screen/72667640

I wanted to explore what these repeating, nested, and/or collapsing fieldsets could look like if we used a combination of indentations and divider lines, and relying less on borders to block off entire sections.

@mcarrano @maryshak1996 @bmignano

[2020-09-10 22:05] itsptk commented on #889
Of note is that these forms in OpenShift can be fairly deeply nested today. Here is an example I quickly found that has 4 levels deep. I wasn't sure if this particular request was intended to handle nested sections as well.

![image](https://user-images.githubusercontent.com/54860125/92813796-eec54500-f38f-11ea-9d20-7f544061213c.png)

[2020-09-11 13:32] TheRealJon commented on #889
Looking at @itsptk 's screen cap, I realized I forgot a constraint:
  - A fieldset shall support optional help text

Also, one thing that I think works really well with the current implementation (using the accordion component) is the blue border on the left. It makes the hierarchical structure very apparent without overwhelming the page with borders. I'm wondering if we could do something similar

[2020-09-14 14:15] mcarrano commented on #898
@abigaeljamie can you attach your proposed content here and I will move this over to Dev for next steps.

[2020-09-14 14:29] abigaeljamie commented on #898
Sure! Here is the link to the content: https://docs.google.com/document/d/13RD3FmaABC99Nz_jHyg4CZsiXvFoIzuh85-ZhfCHeJY/edit?usp=sharing Thanks, @mcarrano !

[2020-09-14 17:54] mcarrano commented on #898
Thanks for your work on this @abigaeljamie . I have opened a new issue to implement the page in the org repo here: https://github.com/patternfly/patternfly-org/issues/2109 Will close this one out.

[2020-09-14 17:54] #898 closed

[2020-09-14 19:55] mcarrano commented on #771
@yih-wang It's been a while since we connected on this. We have since introduced a new [Search input component](https://www.patternfly.org/v4/components/search-input). This does not have all of the features you requested, but I think it would make sense to extend that component.

Is this still something that is needed or have your requirements changed? I currently have this on our roadmap for Dece

[2020-09-16 21:20] gdoyle1 commented on #900
@garrett Tried exporting all symbols as svgs here! https://github.com/patternfly/patternfly-design-kit/blob/master/PatternFlyLibrarySVGs.zip

Was wondering if you had feedback on this proposal for the process of updating that .zip file in the future:
1. Continue to overwrite that same file, keeping track of dates that the file was uploaded through commit messages
OR
2. Create a new folder for the

[2020-09-17 08:05] andreasn commented on #900
For me I would have a slight preference of git commit dates, since it's kind of built in and less noisy. I don't think there is any strong reason for keeping older versions of the library.

[2020-09-17 08:22] garrett commented on #900
Would it be possible to commit the SVGs directly to a git repo instead of a ZIP file? A zip file has to be decompressed, so it's not immediately useful, and git does not handle zips all that well, whereas SVGs are handled very well by git, as they're text-based.

If a file doesn't change between snapshots, git would detect that, so it would also help to show what really changed between releases. A

[2020-09-17 19:20] mcarrano commented on #843
I think we can call this design issue complete. I've opened https://github.com/patternfly/patternfly/issues/3474 to track the core implementation. Thanks for your efforts on this @mceledonia !

[2020-09-17 19:28] gdoyle1 commented on #900
@andreasn @garrett added here: https://github.com/patternfly/patternfly-design-kit/tree/master/Symbol-SVGs. Let me know if that works!!

[2020-09-17 19:31] mairin commented on #900
@garrett @andreasn do you think there's any shot at scripting a conversion of these to inkscape symbols?

[2020-09-18 01:31] gdoyle1 commented on #900
@mairin I'm meeting with a PF developer tomorrow and pass this idea by him! Will keep you updated.

[2020-09-18 07:23] garrett commented on #900
@gdoyle1 Thanks for adding the SVGs directly!

However, they shouldn't be in a date-based directory. If the same files are in different directories, git cannot version control them, and we wouldn't be able to see the changes.

Please move the directories one level higher, so that instead of:
https://github.com/patternfly/patternfly-design-kit/blob/master/Symbol-SVGs/2020-10-17/Accordion/Content.sv

[2020-09-18 07:26] garrett commented on #900
It's probably possible to automate the conversion of the SVGs to symbols. However, I haven't found Inkscape symbols to be useful _at all_, as they're not editable and they also don't preserve stroke width. (Unless I'm missing something or they've changed in the past few years since I've looked at them.) I would be more than happy to be wrong about this though! :grin:

[2020-09-18 13:15] gdoyle1 commented on #900
Will do!

[2020-09-18 13:21] mairin commented on #900
@garrett I find them super handy if not a complete solution. If I need to change text I unlink the clone easy peasy.

[2020-09-21 14:37] garrett commented on #900
I've been looking into this today and it creates a mammoth-sized file.

Meanwhile, I split out the icons as a stand-alone symbol set. Here's a zip of the icons (as GitHub doesn't allow uploading SVGs directly):

**[🠟 pficon-symbols.svg.zip](https://github.com/patternfly/patternfly-design/files/5256029/pficon-symbols.svg.zip)**

I've removed the duplicates and also did not include the brand logos (

[2020-09-21 14:43] gdoyle1 commented on #900
@garrett Is that how you'd prefer this to be uploaded to GitHub? When I pulled it into sketch everything was stacked over one another and pretty impossible to sort through. We can easily just remove duplicates and brand logos if that's necessary from the upload I made!

[2020-09-21 14:53] garrett commented on #900
@gdoyle1: This is just a test and only contains a subset of the icons. And the icons aren't even the right size, sadly. I'm new to this whole symbol thing and have been trying to figure it out all day. I know the icons are at least something @andreasn and I could also benefit from immediately, if we could get them working.

@mairin: I have a forked repo with some changes that make gulp work again

[2020-09-21 15:17] #865 closed

[2020-09-21 15:32] mcarrano opened #916 "Add top positioning to Modal guidelines"

[2020-09-21 15:49] #834 closed

[2020-09-21 19:50] mmenestr opened #917 "Create label group"

[2020-09-21 19:52] mmenestr commented on #917
Accidentally created... closing but really, "deleting"

[2020-09-21 19:52] #917 closed

[2020-09-21 20:18] mmenestr commented on #885
**Here is my proposal:** https://marvelapp.com/prototype/7c5cdhd/screen/72928590

Basically, instead of modifying the small empty state which is mostly used in tables and wizards, where there is enough space, I would add a new variation called extra-small, that could be used in cards and not have any icons.
I modeled the specs after the current implementation of the card empty states in the Insigh

[2020-09-22 13:27] mcarrano commented on #885
This looks good @mmenestr . My only question/concern is how this works with the overall structure of the card that has a header, body, and footer and whether this makes more sense as a variation of the Card rather than as a new empty state pattern. @mceledonia @mcoker please also take a look.

[2020-09-22 13:59] mmenestr commented on #885
@mcarrano You could have two options:
1. Either keep the card header, and just add the empty state to the body:
![image](https://user-images.githubusercontent.com/51165119/93892191-403bd100-fcba-11ea-8a88-0dc92425621a.png)

2. Or have no card header, just a card background with an empty state inside it.
![image](https://user-images.githubusercontent.com/51165119/93892150-30bc8800-fcba-11ea-9cb7-b3

[2020-09-22 14:32] mcoker commented on #885
@mmenestr your proposal for this as an xs variation of empty state sounds perfect.

[2020-09-22 19:42] gdoyle1 commented on #872
Incorporated the web cases from above here too!
Marvel: https://marvelapp.com/prototype/5e55293

[2020-09-23 15:03] lboehling commented on #889
Updated designs can be found here: https://marvelapp.com/prototype/5e57if3/screen/72963171

[2020-09-23 15:16] mmenestr commented on #905
Here are the [poll results](https://www.strawpoll.me/20988259/r) from the PatternFly meeting:
![image](https://user-images.githubusercontent.com/51165119/94030487-df7cc900-fd8b-11ea-9eaa-4e522bb84fe5.png)

Seems that most people liked the classic arrow, mostly based on a visual and consistency stand point!

@mcarrano Not sure what to do about the placement! I personally would leave it as is becaus

[2020-09-23 17:18] mmenestr commented on #764
Here are [the mocks](https://marvelapp.com/prototype/12e47bhj) to this issue. Based on the PF meetings, the design is close to finalized - just need to tweak a few things, and will update this issue once i'm done. Also, based on the PF meeting, it seems like the preferred mobile layout was the toggle view ([here is the poll link](https://www.strawpoll.me/20988264/r)).

[2020-09-23 19:59] mcarrano commented on #905
I am OK going with this approach for lack of a better answer. Agree that the behavior will be easily learned and having a tooltip will help. Since this is just an element in the toolbar, it will be easy to change or customize. @trahman73 not sure if you saw this at the PF design share this morning, but if not, please take a look at this design. Do you feel like this will satisfy your Ansible requi

[2020-09-23 20:01] trahman73 commented on #905
@mcarrano Thanks Matt, yes I did see it this morning at design share and feel that this would cove the Ansible use cases nicely.

[2020-09-23 20:17] mmenestr commented on #905
In that case @mcarrano, here is the final proposal with all the details and explanation of the functionality:  https://docs.google.com/document/d/1zEtmy0z4DfTDwZNei-Wgd-04ox8H3NQxA8z18-109QU/edit#

And here are the basic mocks again: https://marvelapp.com/prototype/92g763j/section/1136353

[2020-09-24 13:27] terezanovotna opened #918 "Demo for viewing selected items in a label group"
In cloud.redhat., we are using a modal with table that has a lot of content.
When 5 items are selected and I am on a different page (we have 147 pages), the user doesn't get to see what he has selected on previous pages. We would like to see a consistent solution in PF
<img width="340" alt="Screen Shot 2020-09-24 at 15 24 59" src="https://user-images.githubusercontent.com/36040135/94151015-2c3ecd8

[2020-09-24 15:36] mmenestr commented on #918
Also want to add that the RBAC solution is also being used in Ansible - @trahman73

[2020-09-24 16:11] mcarrano commented on #918
@terezanovotna I am fine with following the solution that @mmenestr offered if that works for you. Were you thinking that something should be integrated more with the table component? I did want to draw your attention to this issue which is currently in the queue for implementation: https://github.com/patternfly/patternfly/issues/1860 It's OpenShift's solution to a similar problem. I'm not saying

[2020-09-24 16:40] terezanovotna commented on #918
@mcarrano thanks for a quick reply!

I like the favoriting items approach - but that would not work for this use case.

I was mostly wondering if we want to include this pattern in pf documentation so others can use it. We came across this issue in a usability test and with having this pattern in our design system, it would have been prevented.

- show n numbers selected in the UI (dropdown with n

[2020-09-24 17:49] mcarrano commented on #918
I'm Ok with endorsing this approach in the design documentation, just not sure where that belongs. Thoughts @mmenestr ?

[2020-09-24 18:07] mmenestr commented on #918
@mcarrano @terezanovotna If we did decided to mention it in documentation, i'd include it in the table documentation as a "Way to show selections to users as they go" kind of solution!

With that being said, since this is technically not a pattern that's offered by PF, and it's just a custom solution implemented in c.rh.c, I don't know that we should include it in the design guidelines.. @terezano

[2020-09-24 19:13] mcarrano commented on #885
In that case, I think we can move this forward. I've created a new core issue here: https://github.com/patternfly/patternfly/issues/3513 Thanks for your work on this @mmenestr .

[2020-09-24 19:32] mcarrano commented on #889
The designs are looking good @lboehling . @TheRealJon @itsptk @maryshak1996 @mceledonia @bmignano does this also work for you?

[2020-09-24 19:35] mcarrano commented on #905
@mcoker @mattnolting can you take a look at the designs posted above? If we go with this approach of adding a collapse/expand all button to the toolbar, will this require any core changes or can this be moved directly to React?

[2020-09-24 19:49] mcoker commented on #905
It looks like you should just be able to drop the button in an icon group with the bulk select

<img width="832" alt="Screen Shot 2020-09-24 at 2 48 26 PM" src="https://user-images.githubusercontent.com/35148959/94192831-18dd3380-fe75-11ea-9182-b6c2426e8488.png">

[2020-09-24 20:38] lboehling commented on #792
Here are the updated designs
Marvel: https://marvelapp.com/project/5200771
Sketch: https://www.sketch.com/s/e6c01dec-8567-436c-b633-eda045100a37/v/WMyrWq

I kept the vertical jump links designed by Allie and Sam the same but added in a second label alignment option for the horizontal jump links. I also included in-context product examples for both vertical and horizontal jump links.

It would be g

[2020-09-24 20:38] drcoolsanjeev opened #919 "Enhance table component to support sorting in mobile view"
### Description
In current version of PF, there is no default feature to sort any column in mobile view.

### Workaround
To support this I have to create a seperate section in toolbar to allow user to select the column and the option for sorting.

### Suggestion
It would really be nice if PF provide sortable in mobile view as a default feature in next release. As it seems table are used widely in

[2020-09-24 21:09] ajacobs21e commented on #792
Love it!! Thanks @lboehling

[2020-09-24 21:12] mcarrano commented on #795
Any objection to closing this? It has been idle for over 6 months. Can reopen if this becomes a critical need once more.

[2020-09-25 13:30] terezanovotna commented on #918
I initially wanted to have it as PF solution, but then realized there is nothing to build as it is already composed from pf components.

Love the approach of "way to show selections as they go"

[2020-09-25 13:40] mcarrano commented on #918
So can I close this out? Is there anything to do here on the PatternFly side of things?

[2020-09-25 13:44] mmenestr commented on #918
@mcarrano @terezanovotna See, I saw this more as a "demo", like primary-detail for example. Primary detail is just a "compilation" of a bunch of different components put together to create a pattern, and this would essentially be the same thing. So I feel like there could be a case for making this a PF pattern/demo. It could be a feature that people add as an option into their modal or wizard tabl

[2020-09-25 13:54] trahman73 commented on #918
@mmenestr I agree with the PF demo approach, as we are already using this pattern to show selected info in Ansible Tower and Analytics.

[2020-09-25 17:38] mcarrano commented on #918
OK. That makes sense. In that case I have renamed this to more appropriately reflect what the ask is and tagged it as a demo.

[2020-09-25 19:05] mcarrano commented on #792
This is looking great @lboehling . I just had one minor comment about heading styles that I left in the Marvel deck.

I did want to ask about horizontal jump links as this is something I'm less familiar with. What's the difference between these and tabs? Is it just that the contents of the page scrolls rather than being replaced?  Visually would these just be tabs that have different behaviors ass

[2020-09-25 19:09] ajacobs21e commented on #792
Yes that is the difference - navigating to a new section within the same page vs swapping out the content in the section. The design is meant to be complimentary between tabs and jump links but with the highlight line on the opposite side to distinguish between the components.

[2020-09-28 15:50] bmignano commented on #889
These look great to me, thanks @lboehling @mcarrano !

[2020-09-28 15:54] maryshak1996 commented on #889
@mcarrano @lboehling I think that this is looking great :)

[2020-09-29 07:39] terezanovotna commented on #918
@mcarrano thanks Matt. Looking forward to seeing it in Patternfly!

[2020-09-29 14:54] mcarrano commented on #900
Is there anything more to do here from a PatternFly perspective? If not I will close this out.

[2020-09-29 14:58] mcarrano commented on #905
So can this just be handed off directly to React in that case @mcoker ?

[2020-09-29 15:01] gdoyle1 commented on #900
@mcarrano I'm not sure if I can do anything more with the SVGs especially since we want to be inclusive to all design tools. So transferring them into symbols for specific programs I think should be something that the users do? But I'm open to other thoughts/feedback!

[2020-09-29 15:24] mcoker commented on #905
I think so. WDYT @mattnolting? Do you think an icon group works there or do we need unique element for the expand all action?

[2020-09-29 15:38] redallen commented on #919
cc @mcarrano

[2020-09-29 17:54] mcarrano commented on #919
@drcoolsanjeev based on the design here, looks like the way to make this work would be to pass handling of sorting off to the toolbar when the table transforms to stacked columns (as you are suggesting). See https://www.patternfly.org/v4/components/table/design-guidelines#tables-on-mobile  Unfortunately we don't have a demo of this. I'm not sure what a better solution would be since in the mobile

[2020-09-29 19:50] mcarrano opened #920 "Create graphics for new Community page on website."
Visual design support is needed to create graphics for a new Community page on the PatternFly website. A preliminary version of the page can be seen here: https://patternfly-org-pr-2167-v4.surge.sh/v4/community

cc @abigaeljamie @evwilkin

[2020-09-29 20:03] bgliwa01 opened #921 "[Icon Request] Request for "New" and "Not Started" Icons"
Use case and requirements of icon
- The new icon being used in OpenShift is very similar to the pf icon for pending. OpenShift wants to make all uses of the pending icon in the console consistent.
- The not started icon needs to be created for the pipeline and build decorator in topology
                     As a developer, if i ADD a pipeline during my creation process:
                         s

[2020-09-29 20:07] gdoyle1 commented on #921
@bdellasc @rachael-phillips @cshinn @mcarrano Wanted to get all of your eyes on this to see if you have any input on status icons used within OpenShift. We've tried creating the table here to show what is currently implemented vs. being proposed! That circle + asterisk is something I created combining 2 Font Awesome icons

[2020-09-30 08:11] garrett commented on #900
1. Keep the SVG exports up to date. :wink:
2. Mention the SVG files on https://www.patternfly.org/v4/get-started/design and that they work with Inkscape, Illustrator, etc.

But as far as the symbols: I agree with @gdoyle1 that it's out of scope for this particular issue. If someone figures out a good way how to convert the SVGs into symbols, then I'd ask that it would be included _somehow_.

I did

[2020-09-30 13:41] mcarrano commented on #900
Thanks @garrett . Yes, we do plan to update regularly, and add a mention on the Get Started/Design page as you suggest. There is an open website issue here: https://github.com/patternfly/patternfly-org/issues/2152

I am going to close this then. Thanks for all the work on this @gdoyle1 . I am glad we were able to find a workable solution!

[2020-09-30 13:41] #900 closed

[2020-09-30 16:29] itsptk commented on #904
Agreed, closing and watching component that comes out of #889

[2020-09-30 16:29] #904 closed

[2020-10-01 19:59] bdellasc commented on #921
@gdoyle1 Thanks for sharing this! As for my 2¢:
- For "not yet started", the power-off icon doesn't feel quite right to me. I think the empty circle is the better option (plus it would round out the set below, and it might make sense to name it with the same format as the other three):
     - pf-icon-resources-almost-empty
     - pf-icon-resources-almost-full
     - pf-icon-resources-full
     **-

[2020-10-05 14:23] mcarrano commented on #905
Per discussion on 9/30, core work should not be required and therefore I have opened the following issues directly in React to begin implementation:

Add expand/collapse all to Data list: https://github.com/patternfly/patternfly-react/issues/4942
Add expand/collapse all to Table: https://github.com/patternfly/patternfly-react/issues/4943

[2020-10-05 14:39] mcarrano commented on #764
Have opened https://github.com/patternfly/patternfly/issues/3556 to begin implementation.

[2020-10-05 14:44] mcarrano commented on #872
Have opened two new issues to begin core implementation:

* Introduce a collapsible card: https://github.com/patternfly/patternfly/issues/3554 This feature will be available for any card and is required to support the OpenShift designs included in the mocks.

* Add a horizontal card demo: https://github.com/patternfly/patternfly/issues/3555 Basic implementations of the horizontal card show not req

[2020-10-05 14:47] mcarrano commented on #889
I have opened https://github.com/patternfly/patternfly/issues/3557 to begin implementation in PF core. Thanks for your work to bring this to closure @lboehling !

[2020-10-05 14:51] mattnolting commented on #905
@mcoker I think the `icon group` works, as well as `pf-m-space-items-none` 👍

[2020-10-05 15:09] mcarrano commented on #792
I have opened https://github.com/patternfly/patternfly/issues/3558 and https://github.com/patternfly/patternfly/issues/3560 to begin core implementation. Per discussion with @mcoker , this will be split into two parts, the first to create a new Scrollspy component and a second to create a full page demo that shows the scrollspy nav in context.

Thanks for your work on the @lboehling !

[2020-10-05 15:38] mcarrano commented on #881
@ajacobs21e just taking a closer look at this. So if I understand correctly, the ask is to have more variety of list styling for presentation of static content as lists, correct? I think this has also come up from product where you want to list a set of items but bullets don't make sense.

I looked at the XD examples and I see a variety of things besides that horizontal separators? Would you expec

[2020-10-05 15:47] ajacobs21e commented on #881
Yes, it's an additional list style.
The list with icons is used on the web as well so we should probably include that in PF too. Should I make a new story for that or can this story cover both new styles?

[2020-10-05 16:36] mcarrano commented on #881
Thanks @ajacobs21e . We can use this issue to cover both. I've updated the title accordingly.

[2020-10-05 17:26] mmenestr commented on #764
@mcarrano after talking with @mcoker and Katie from the react team, I decided to make the dual list have its own custom list implementation instead of using the tree view. The reason being, I wanted to tweak multiple things about the tree view component, including the way a selection is shown, the spacing, the font size and the badge positioning. Despite this, implementation should still be relati

[2020-10-05 20:16] mcarrano opened #922 "Reconsider placement and usage of Teriary nav component"
There has been a lot of confusion about usage of the Tertiary nav variant. Common questions include:

* How are tertiary nav and tabs different (they look the same)
* If tertiary nav is used, where should it live on the page?
* What is the correct placement and spacing of page header elements including tertiary nav or tabs (if used), the page title, breadcrumbs (if used)

There is currently a Tert

[2020-10-05 21:48] mcoker commented on #922
Here is the current spacing for reference. We have 3 types of page sections - one for the tertiary nav, one for breadcrumbs, and one for a generic page section (title, text, table/data-list, cards, etc)

Tertiary nav: in our designs always comes first. It has 16px top padding, 0px bottom padding. The space between the tertiary nav and whatever comes after it is defined by the padding of the thing

[2020-10-06 19:36] #906 closed

[2020-10-06 19:53] mcarrano commented on #919
This may also be a problem for other header actions like bulk selection.

[2020-10-06 22:04] bgliwa01 commented on #775
![pf-default_select](https://user-images.githubusercontent.com/51342070/95265035-5be8c080-07fe-11eb-8a2e-0ec01752255e.png)
@matthewcarleton @mcarrano @andybraren Here is my suggestion, please let me know your thoughts! Thanks

[2020-10-07 12:52] mcarrano commented on #775
@mceledonia @mcoker thoughts?

[2020-10-07 15:47] mmenestr commented on #764
@mcoker I made the edits we talked about (change selection state to use the same state as in simple list, and indented the items inside a folder as intended). Let me know if there's anything else to edit!

[2020-10-07 15:53] abigaeljamie commented on #920
I submitted this as a request via the Visual Design team's request form a couple weeks ago. I put the due date as 2 weeks from when I submitted (10/14). @mceledonia will be taking on this work 👍

[2020-10-07 18:22] mcoker commented on #775
@mcarrano @mceledonia I added a couple of demos here https://patternfly-pr-3568.surge.sh/components/form/html-demos/

They're both the same form, but in the [2nd "modified" form](https://patternfly-pr-3568.surge.sh/components/form/html-demos/#modified), I've updated the select component and form select default text color (nothing is selected) to match the placeholder text color.

[2020-10-07 18:45] mcarrano commented on #775
In looking at these examples, it seems like the placeholder for the select is darker than the placeholder for the text field. Was that intentional @bgliwa01 ?

[2020-10-07 18:49] bgliwa01 commented on #775
@mcarrano are you talking about in Michael's demos? if so, in the default or in the modified?

[2020-10-07 20:46] mcarrano commented on #775
Yes, in @mcoker 's demo. I believe that the 'modified' version was intended to show the effect of applying your styling change to the CSS.

[2020-10-07 21:06] mcoker commented on #775
@mcarrano sorry, the preview on surge wasn't working for some reason. I rebuilt it and it looks OK now. Do you mind looking again? https://patternfly-pr-3568.surge.sh/components/form/html-demos/

it should look like this

<img width="1270" alt="Screen Shot 2020-10-07 at 4 06 49 PM" src="https://user-images.githubusercontent.com/35148959/95387969-1fc56680-08b7-11eb-8bea-19b12227033d.png">

[2020-10-08 07:59] mmuzikar opened #923 "Add highlight to hovered over row in tables"
## Use cases
Visually aiding users to link action items (which are usually on the right hand side) to the proper row (usually the name or id is the first item of the row). User can easily mistake one row for another one.

## Why
By highlighting the row cursor is over, the user can easily see if they are selecting the right row.

This is mainly an enhancement for the table component, but other list

[2020-10-08 17:41] mcarrano commented on #923
Thank you for your request @mmuzikar . I do understand how this can be a problem. We will further discuss possible approaches to this.

cc @mcoker @mceledonia

[2020-10-08 17:49] mcarrano commented on #775
That looks better @mcoker. But to my eye, the placeholder for the Select is still slightly darker that the placeholder for the type-ahead field above. What do you think @mceledonia ? Also looks like the "v" in the Select control is lighter.

![Screen Shot 2020-10-08 at 1 46 46 PM](https://user-images.githubusercontent.com/6619860/95495187-0d0d6900-096d-11eb-8093-62589afaa95f.png)

[2020-10-08 18:19] bgliwa01 commented on #775
I see what you are saying now @mcarrano! good eye! It was not by design, I thought we were using black-600 for all of the text.

[2020-10-08 19:06] mcoker commented on #775
Ah thanks for calling that out. There is a bug in PF where the placeholder text color isn't being applied correctly. Should be fixed now - https://patternfly-pr-3568.surge.sh/components/form/html-demos/. Also updated the arrow color.

[2020-10-08 19:09] mcoker commented on #775
I also pushed a fix to align the form select's arrow with the others, you should see that in a few minutes when the build finishes. I'll also add a PR to fix that in PF.

[2020-10-08 19:48] lboehling opened #924 "Wizard - Optional Finish Button Location Guidance"
When creating a connector in Debezium, only the first two steps in the wizard are required for users to complete a configuration. The last three steps are optional, so there is a requirement to have a "finish" button shown on the 2nd-4th steps of the wizard so users can complete the configuration without having to click through any additional optional steps.  We're hoping to get guidance on where

[2020-10-08 20:14] lboehling opened #925 "Validation Guidance on Optional Steps within Wizard"
We're hoping to get some more guidance/clarification on Validation placement and behavior within the wizard.

How should the validation button show when all fields within a step are optional and validation is **not required** to move onto the next step in the wizard, _but_ if a user chooses to fill out these fields then they _will_ require validation?

For example, the Debezium UI currently uses t

[2020-10-08 20:39] mcarrano commented on #924
@lboehling Thanks for filing this. I think it's something we should have guidance on. Do you know if this is using the PatternFly Wizard component? If so, need to investigate if those buttons can be customized without a code update.

What's the timeframe within which you need this?

[2020-10-08 20:46] mcarrano commented on #925
@lboehling why do we even need a Validate button? What I would expect is to see a Next button and upon clicking that button, the software does the validation is needed. If validation is successful, it simply advances to the next step. If not, errors will be returned on the page and the user will be kept on the current step until they are corrected. That's consistent with our current implementation

[2020-10-08 20:47] jgiardino commented on #925
Just to add some more details for this one, when chatting with the engineering team, they mentioned that validation could be split up within a wizard step (e.g. different section of inputs in the form on one page could have a separate validate button). One reason they provided in support of this pattern was that they were "not sure they can always nail down the bad properties." 🙃

[2020-10-08 22:21] gildub opened #930 "Missing ResourcesEmptyIcon to complement the ResourcesFullIcon"
@patternfly/react-icons has:
* `ResourcesAlmostEmptyIcon`
* `ResourcesAlmostFullIcon`
* `ResourcesFullIcon`

Meanwhile there are no `ResourcesEmptyIcon` to complete them.

This would be a great enhancement for us (github.com/konveyor/virt-ui) to be able to create a PipelineSummary component such as:
![mockup](https://user-images.githubusercontent.com/1901741/95519428-57223900-09c5-11eb-87a5-c8aba8

[2020-10-09 14:44] felixedel opened #926 "Scrolling via keyboard not working on initial page load"
**Description:**
When using a simple page layout like the one shown in the demo pages e.g. https://www.patternfly.org/v4/documentation/react/demos/masterdetaildemo/master-detail-full-page or https://www.patternfly.org/v4/documentation/react/demos/pagelayout/default-nav the page's content is not scrollable via keyboard (spacebar, pageup/down, arrow keys, ...) by default. You first have to click som

[2020-10-09 15:01] maryshak1996 commented on #876
@ajacobs21e not sure if you've seen any of this yet, but @mindreeper2420 has been working on some explorational design work around a trending nav, and I'll be weighing in on the design side too. Do you want to be looped into those conversations?

[2020-10-09 15:15] ajacobs21e commented on #876
@maryshak1996  yes please! It's not exactly the same as the Portal subnav but I am hoping we can align the two as much as possible

[2020-10-09 15:29] maryshak1996 commented on #876
@ajacobs21e cool! I'll keep you in the loop :) adam has been sharing his work with us here, if you wanna check it out: https://redhat-developer.github.io/design-manual/components/topic-nav

[2020-10-09 17:39] ajacobs21e opened #927 "Show password option for login page"
Requesting to add in an option for a way to show the password on the login form.

I propose adding a link button below the password field, right aligned
![image](https://user-images.githubusercontent.com/6415742/95614401-6db3a900-0a34-11eb-9017-56afe6a89c0b.png)

I also tried an icon but Michael and I think the text link is more obvious and clearer about what it does
![image](https://user-images.g

[2020-10-09 18:11] ajacobs21e commented on #927
@katierik uses the icon:
![image](https://user-images.githubusercontent.com/6415742/95617376-54612b80-0a39-11eb-9b1d-9a7a9bf83c91.png)

[2020-10-09 19:26] lboehling commented on #925
Spoke with @mcarrano  today, and our suggestion is to default to built-in validation when users click "next." However, if you want to have an explicit option to validate or "test" a set of fields before moving forward with the rest of the configurations within that step, then you should provide a validation button for the specific fieldset and consider changing the button copy to “Test [basic conn

[2020-10-09 19:56] lboehling commented on #924
Spoke with @mcarrano  today. We think that it makes the most sense to place the "Finish" button close to the next button, and make it a secondary button so there are not two conflicting primaries. This button order/styling in combination with grouping all of the optional steps in the wizard should make it clear that the latter steps are optional and users can choose to finish the wizard on an earl

[2020-10-12 09:50] terezanovotna commented on #918
having this in a demo - would help us keep consistency - https://github.com/RedHatInsights/frontend-components/pull/772

[2020-10-12 09:58] terezanovotna commented on #918
<img width="737" alt="Screen Shot 2020-10-12 at 11 58 33" src="https://user-images.githubusercontent.com/36040135/95733329-46eab200-0c82-11eb-903f-1d94d8826799.png">

[2020-10-12 13:16] jgiardino commented on #925
Thanks for discussing this! This approach sounds good to me.

In the case where the user clicks a step in the wizard instead of the Next button, I'm assuming the validation would happen in that case as well? Or is the recommendation to always disable step navigation in this scenario, and require the Next button? If the latter, I'm wondering in the case where the user goes back and makes edits, sho

[2020-10-12 14:11] tiffanynolan commented on #924
I think this is a good alternative, but I'm not sure how intuitive this is at first glance. As someone new to the UI, I would (do) not understand the difference between Next and Finish unless I actually clicked them. I know we're trying to keep the actions simple, but in this case, what if we were more explicit and had something that mentioned going to the final review step instead? The "Finish" t

[2020-10-12 18:11] mceledonia commented on #921
+1 to Brian's suggestions

- New: I think the asterisk inside the circle is the best option there
- Not yet started: Empty circle feels a little odd without the context of the rest of the resources icon set. I guess it feels less like an empty circle that could be filled, and rather just a circle. That being said I think it would still be a useful icon to add to round out that set as `pf-icon-reso

[2020-10-12 19:06] bgliwa01 commented on #921
@mceledonia I just realized we use the minus-circle icon for remove in openshift so that one won't work...

[2020-10-12 20:02] #795 closed

[2020-10-12 20:44] nlcwong opened #928 "Enhance select list to include a "view more" option for option overflow"
Could there be an enhancement made to select component to include a row at the bottom of the list to allow the user to view more options that could be listed in the select?

I have a case (cost management's settings) where there could be thousands of options listed in a select component's list. I would like to know if there is guidance or a single solution we should go with.

I have seen two solut

[2020-10-13 18:49] mcarrano commented on #928
@nlcwong It would be a relatively easy enhancement to provide the option to navigate off to a modal or another page to manage the list. We are in the process of introducing an enhancement to the Context selector component to do that here: https://www.patternfly.org/v4/components/context-selector/html#with-footer  Supporting a 'View more' option to load more items into the list would be a better ap

[2020-10-14 03:26] ajacobs21e commented on #877
![image](https://user-images.githubusercontent.com/6415742/95940020-64676b00-0dab-11eb-97ec-ac756e5642a2.png)
I modified the progress bar component to put the bar chart in line with the label and value text

[2020-10-14 15:47] mcarrano opened #931 "Tree-Table component - responsive behavior"
Want to introduce a tree-table component based on the Cloud Platform implementation.  You can see a live demo here: https://cloud.redhat.com/docs/api This works well for desktop, but need to consider what layout and interaction should be for mobile.

[2020-10-14 16:30] beaumorley commented on #921
If you are going to go with the (...) for "not started, we are thinking of using the circle within a circle for "stopped" in Che. This came up on our internal team call. Currently the stopped icon in Che is a circle with a slanted slash through it which is already used for "canceled".

[2020-10-14 18:58] bgliwa01 commented on #921
Here is the proposed icons for new and not started @mceledonia

![New and Not started icons](https://user-images.githubusercontent.com/51342070/96033141-b650d500-0e2d-11eb-8570-a925069c9bf0.png)

[2020-10-15 10:48] gildub commented on #930
@mcarrano, thanks for following-up.
The project is for the Migration Toolkit for Virtualization GUI (link in the description).
The time-frame is really tied as we have a code freeze for Beta in matter of few weeks.

[2020-10-15 15:50] ajacobs21e commented on #754
Dark theme buttons needed for Web https://sketch.cloud/s/3WK1w/a/w0bEb9

[2020-10-15 15:53] ajacobs21e commented on #877
"We found that meters with a variety of visual appearances led users to create longer passwords. However, significant increases in resistance to a password-cracking algorithm were only achieved using meters that scored passwords stringently"
From https://users.ece.cmu.edu/~lbauer/papers/2012/usenix2012-meters.pdf

[2020-10-15 20:08] maryshak1996 opened #932 "Need a way to indicate to user that filters are applied when catalog filter panel is closed"
On desktop default, the filter panel is open on the [catalog view](https://github.com/patternfly/patternfly-design/issues/848#event-3545675093), but at any time the user can click the 'Filter' icon in the toolbar to toggle it shut. If the user applies filters and then toggles it shut (or goes to a smaller screen-width, where it is closed by default, they would not have a way of knowing that they a

[2020-10-19 21:00] gdoyle1 commented on #853
Here's what I came up with for this demo! https://marvelapp.com/prototype/5fba0cj
@mceledonia @mcarrano if you could take a look and leave comments on the Marvel, that'd be great

[2020-10-20 14:35] gdoyle1 commented on #873
@mceledonia @mcarrano @ajacobs21e @awatkins-rh

Checked the sketch file out and I think we'd just add a "large" spacing version of the card component... I tried spec-ing out the examples provided here:
![MarketingCardProposal](https://user-images.githubusercontent.com/30870144/96601446-057c8700-12c0-11eb-9532-cb49b9f8d6cf.png)

[2020-10-20 15:35] mmenestr commented on #886
Just created these mocks for different possibilities https://marvelapp.com/prototype/f869h61
Essentially, we can either use the already created "cards" provided by PatternFly **OR** we could have a new card variation exclusively for this use case. Not sure if these are variations that could already be made with the current card implementation or if it would have to be a whole new card.. Either way

[2020-10-20 17:59] mcarrano commented on #886
Thanks for the options @mmenestr . I would be in favor of building this out of existing card + xs empty state, but interested to hear what others thinks.

[2020-10-20 19:56] maryshak1996 commented on #891
@mcarrano I put together these three examples of the splitter in context -- I'd love to get your thoughts :)
https://www.sketch.com/s/3fe9a72b-a9c3-4d12-a02d-c843c41128d4

[2020-10-20 20:22] mcarrano commented on #930
@gildub this is something that I think we should ask, but it will be difficult to complete in time for your beta release. I discussed this with @mturley and @vconzola and they suggest that you stick with the `ResourcesAlmostEmptyIcon` for now. We will get this into the queue to add to our core icon set first and then it can be added to react-icons.

[2020-10-21 13:40] bdellasc commented on #921
@bgliwa01 "Not started" looks good to me. Was there a reason we abandoned the asterisk in the circle idea for "New"? A number of people (including me) felt that the empty hourglass wouldn't be obviously different enough from the one with sand in it. The thought was the asterisk is used in other software to indicate "new".

CC @mcarrano @mceledonia

[2020-10-21 15:04] bdellasc commented on #930
I don't think it was needed when the set was originally done, but it probably makes sense to add it

[2020-10-21 15:34] mturley commented on #930
Since it would just be a plain grey circle, I might just throw together a quick and dirty CSS-based solution to render something that matches the size and stroke width of the other icons. Definitely not a priority for us, but nice to have.

[2020-10-21 18:11] bdellasc commented on #930
If we were going to do that, I'd rather we just do it consistently with SVGs using the process Gina and I put together here (see Scenario one): https://docs.google.com/document/d/1b023B1QnCiYuoIvDJ1aUMZwk9Yk12drfmDuCfL44yyw/edit?usp=sharing

This would actually be a good test run for that procedure to make sure it's complete/accurate

[2020-10-21 19:37] mcarrano commented on #891
These look great @maryshak1996 . I definitely agree that the Primary detail and card view with a horizontal drawer would make great demos. Less sure about whether we would ever add a splitter to the Notification drawer (although we could). What are your thoughts @mceledonia ? Is that something you could see us supporting?

@mcoker @nicolethoen This is directly related to our conversion from the ot

[2020-10-21 20:08] mcarrano commented on #754
Adding links to component audit results: https://docs.google.com/document/d/1FFI4b0YIDcjgkX8sameeAHzkHuxYkIGWtgQFN3tgv9s/edit?usp=sharing and dark theme conversion spreadsheet: https://docs.google.com/spreadsheets/d/1nIXNC-4CJfEWYPMYpgQl3rr_aMRPOdx_Vjs-t08GjQk/edit?usp=sharing

[2020-10-21 20:14] ajacobs21e commented on #873
The other difference is marketing cards have rounded corners. @coreyvickery @dcaryll Is there a significant need to have rounded corners for a marketing context?

[2020-10-21 21:54] coreyvickery commented on #873
@ajacobs21e It was a decision that was made a long time ago to 'soften' the look of our layouts since they're longer and more open.

[2020-10-22 15:23] mturley commented on #930
Oh I just meant as a temporary placeholder in my product. but yeah, true, I should do it that way either way

[2020-10-22 17:47] ajacobs21e commented on #848
@mcarrano @maryshak1996 sorry for taking forever to get to this! I do like this design a lot and it meets the needs for the web space. The only thing I would want to consider is to make the category label different than its contents. What about a blue highlight like the accordion? Or making the text bold or blue when expanded? Or making the categories bigger / bolder all the time?

[2020-10-22 19:14] mcarrano commented on #921
@mceledonia @bgliwa01 and I met today to discuss this. We decided to stick with what's proposed above with the qualification that we name the New icon something more use case specific like "New process" to differentiate it from a general purpose New icon that could be added in the future. I will open a core issue to implement these in the icon set and tag you to attach the related SVGs.

[2020-10-22 19:54] mcarrano commented on #891
Opened a new core issue to build out these layouts placing a Splitter in a drawer. https://github.com/patternfly/patternfly/issues/3610

[2020-10-22 20:51] gdoyle1 commented on #873
Updated to add the ability to add rounded corners! The only thing is I'm not sure how that should be applied to the existing cards - can the rounded corners only be applied to the "large" card?
![Proposal](https://user-images.githubusercontent.com/30870144/96928645-dfedaa00-1486-11eb-915a-6c3e2477c206.png)

[2020-10-22 20:58] coreyvickery commented on #873
@ajacobs21e @gdoyle1 @mcarrano Is it a business requirement to round corners on all cards or are we just trying to match styles across websites?

[2020-10-22 21:07] gdoyle1 commented on #873
@coreyvickery Personally, I have not heard another use case of needing rounded corners on cards from product teams, so I'd say it's not a "business requirement" although I'm not sure I understood your question. I'm also not as up to date with the web use cases.

My thoughts were that we could:
1. Give all users the _option_ to use rounded corners on cards
2. Not provide that option to users, and i

[2020-10-22 21:17] mcarrano commented on #873
Yeah, we have no requirement to apply rounded corners across the system. We could introduce a rounded card as an option for marketing use cases. But I would not wanted to open the door for inconsistent usage in product.

@mcoker do you have any thoughts here?

[2020-10-23 16:01] lboehling commented on #886
Thank you @mmenestr!

Yeah, I think the gray background without the dashed line could be confused for a disabled card. I'm also in favor of building this from the existing card + xs empty state too. Looking at the designs, I think I prefer the variation without a header since the action is repeated almost directly below in the button, and since there is pretty limited space. I'm also wondering if

[2020-10-23 16:07] mmenestr commented on #886
@lboehling to clarify, since the idea is to use an xs empty state, those capabilities/choices would be built in already. So you could choose if you want to keep or remove a header, you could choose what button type you wanted etc! I was just showing different variations in the mock but we don't necessarily have to specify which one one should use, since they're all capabilities of the xs empty sta

[2020-10-23 16:13] mcarrano opened #934 "Consider additional variants for the Context selector"
The current Context selector component works for a very specific use case and does not fit the needs for all recommended menu placements. Consider whether we should create additional variants of this component to allow for placement in a masthead, above the vertical navigation and at the top of a page.

Do we need dark as well as light versions? Plain and bordered toggles?

[2020-10-23 16:15] amysueg opened #935 "Enhance static drawer component to enable background color change"
- The designs for provisioning a Managed Kafka instance include a wizard that requires some supporting information to let the user know more about the cost of certain selections.
- The design proposes a right-hand pane in the wizard for this information.
- The current **static drawer component** presentation includes only a vertical separator between the page content area and the right-hand drawer

[2020-10-23 16:31] amysueg opened #936 "Ability to add a pill label or "tag" to a disabled tile"
- The designs for provisioning a Managed Kafka instance include a wizard that displays a choice of a cloud provider.
- For the initial release, only one cloud provider will be available (Amazon Web Services)
- The design proposes some kind of marker to indicate that the other two choices are not yet available but will be at some point in the future.
- A tooltip *could* be used but is not ideal as

[2020-10-23 20:26] mcoker commented on #873
Agree, I think the easiest way would be to add it as a variation.

That would be an issue with a generic modifier. One thing that could help is calling the modifier something specific indicating the use case, not just the visual change. eg, something like `pf-m-marketing` vs `pf-m-rounded-corners`. Is it the case that most/all marketing uses of the card should have rounded corners, or only some?

[2020-10-26 17:28] mcarrano commented on #936
@amysueg is there a link to the design you are trying to implement (Slide 20 in what doc)? Seems like a reasonable request but would like to see what you are trying to accomplish. Thanks.

[2020-10-26 17:38] jgiardino commented on #936
I was making some edits, so it's now [slide 23](https://docs.google.com/presentation/d/1OsvwZApq9LqfLHK9SJzJDjy7H7xBoM1El345PmwAz_g/edit?usp=sharing).

[2020-10-26 17:40] jgiardino commented on #936
Also, if you're interested, slide 25 includes some comments provided by other team members regarding this use case.

[2020-10-26 17:41] mcarrano commented on #775
I have opened https://github.com/patternfly/patternfly/issues/3623 to move this along for core implementation.

[2020-10-26 17:55] amysueg commented on #936
thanks @jgiardino -- @mcarrano looks like I left off the link to the design with Slide 20! sorry!

[2020-10-26 17:58] mcarrano commented on #930
I've opened a new issue here to add this icon to the core icon set. That will need to happen before adding to React-Icons. https://github.com/patternfly/patternfly/issues/3624

[2020-10-26 20:25] #920 closed

[2020-10-26 20:25] mcarrano commented on #920
Thanks for working on this @mceledonia . I'm going to close this design issue as we should be all set here.

[2020-10-26 20:54] mcarrano commented on #895
@jcaianirh @mceledonia I think we solved this with the latest notification badge design. Please confirm. If yes, I will close this.

[2020-10-26 20:55] jcaianirh commented on #895
@mcarrano confirm!

[2020-10-26 21:26] mcarrano commented on #936
Thanks @jgiardino . So is the proposal here to just add a label to the right of the title then? @mcoker @tlabaj is it possible to do that now? To just add a Label component following the title text in a Tile?

[2020-10-26 21:28] mcarrano commented on #895
Closing then...

[2020-10-26 21:28] #895 closed

[2020-10-27 15:41] gdoyle1 commented on #853
[WIP google doc](https://docs.google.com/document/d/1dCbpJfvp3Sk-6A5rVtCJcAFdVlw7tTGjYXlwH4Ljai8/edit?usp=sharing) for tab design guidelines

[2020-10-27 20:48] jgiardino commented on #936
I was envisioning more of a footer 🤷 but am curious what @amysueg was envisioning, and am also open to suggestions (including ideas that are doable with existing components).

For a rough example, I cobbled this together using the inline code editor in PF.org, but it needs some help.

![image](https://user-images.githubusercontent.com/21063328/97359682-836a0080-1873-11eb-8138-3f9ca8303dba.png)

[2020-10-27 21:34] amysueg commented on #936
I agree @jgiardino about the placement. I was imagining this label as a header or footer.

[2020-10-27 21:56] mcoker commented on #936
@mcarrano technically you can but it would be better if the title and label were part of a layout so you could control the alignment, spacing, etc. Here are a couple of examples using the pf.org site preview editor.

<img width="886" alt="Screen Shot 2020-10-27 at 4 55 53 PM" src="https://user-images.githubusercontent.com/35148959/97366431-54548e80-1875-11eb-855d-025003ded43e.png">

You can use a

[2020-10-28 13:26] jeudy100 opened #943 "Add option to hide dropdown carot in typeahead select component"
**Describe the issue. What is the expected and unexpected behavior?**
We are using the typehead select to filter through a list, but we need the typeahead to look like an input by removing the dropdown carot. It doesn't seem like there is an option to replace or hide the carot in the current typeahead select component. Would it be possible to add a prop that would hide the carot or a new typeahead

[2020-10-28 15:29] mcarrano opened #937 "Demo draggable rows in Data list"
Draggable rows capability was added to the Data list component here: https://www.patternfly.org/v4/components/data-list/react#draggable  This was defined in the context of table column management for a very simple list, but it's unclear how this should work for more complex list types. Some questions:

* Where does the draggable affordance live if there are other elements like checkbox select and/

[2020-10-28 18:06] mceledonia commented on #891
@maryshak1996 @mcarrano These look good to me!

[2020-10-28 18:31] mcarrano commented on #891
Thanks @mceledonia . I will move this over for implementation then.

[2020-10-28 22:31] mcoker commented on #937
Also is there anything we should take into consideration for a row that is both selectable and draggable, since you can click anywhere in a row to select it? I'm assuming the draggable button in the row would behave like a kebab action in the row - clicking on the drag button only allows you to drag a row and stops the normal selection event when clicking on a row. It would be good to demo that an

[2020-10-29 15:24] mcarrano opened #938 "Inline alert for dark theme"
The current inline alert styling with a "pastel" background might be too bright against a dark background. Evaluate design options.

[2020-10-29 15:25] mcarrano opened #939 "Badge for dark theme"
Current badge does not work on a dark background. Is there a solution that will work on both? Do we need a unique dark theme badge?

[2020-10-29 15:25] mcarrano opened #940 "Banner for dark theme"
Need to re-evaluate banner colors against a dark background.

[2020-10-29 15:25] mcarrano opened #941 "Button for dark theme"
Evaluate current button variants against a dark background and recommend any needed customizations to work for dark theme. Concerned that just flipping black to white breaks existing visual hierarchy.

[2020-10-29 15:37] mcarrano opened #942 "Label for dark theme"
Explore how current Label colors work against a dark background and recommend modified colors to be applied through CSS variables. A consistent approach between Inline alerts and Labels would be desirable to reduce the number of unique new variables.

[2020-10-29 16:51] coreyvickery commented on #873
@mcoker The intention is for all cards used in marketing contexts to have rounded corners. If they don't appear to on some older pages, they're probably in some backlog to be updated at some point.

Here's a decent example of a marketing page with lots of cards with rounded corners.

https://www.redhat.com/en/technologies/all-products

[2020-10-29 17:51] anujsingla commented on #943
Thanks @mcarrano for quick response. We are using typehead in our project and need this feature ASAP.
Shall I raise a PR for this improvement?

[2020-10-30 19:00] mcarrano commented on #943
@anujsingla sounds like what you really want is a search input like this with type-ahead support added: https://www.patternfly.org/v4/components/search-input Is that right?

I've discussed this with some other folks on the team and we all agree that the Select is intended for selection from a dropdown menu, so hiding the affordance to open the menu does not make sense here. If you wanted to explor

[2020-11-02 19:12] ajacobs21e commented on #876
Tertiary nav demo https://www.patternfly.org/v4/components/page/react-demos/tertiary-nav/

[2020-11-03 14:26] ajacobs21e commented on #876
@mceledonia @lboehling When using the RCUE red for a highlight, I think it looks bad with blue text
![image](https://user-images.githubusercontent.com/6415742/97994628-7b4e1b80-1db3-11eb-9f6f-79eee6c0fb9f.png)

Here are two options we could do
1) Keep all text black and just use the red highlight to indicate selected item & hover state
![black](https://user-images.githubusercontent.com/6415742/979

[2020-11-03 15:11] #897 closed

[2020-11-03 15:12] #885 closed

[2020-11-03 18:24] coreyvickery commented on #876
@ajacobs21e Definitely more of a fan of #2.

[2020-11-03 18:50] garrett opened #944 "Spinner: time travel paradox"
_Great Scott! Strange things are afoot at the Circle, K?_

Spinners spin clockwise as they're abstract representations of the forward motion of the hands of a clock.

PatternFly's spinner moves counterclockwise (or [anticlockwise in the UK](https://wikidiff.com/counterclockwise/anticlockwise)), indicating that waiting on something to finish will finally happen _in the past_ somehow. :wink:

Additi

[2020-11-03 19:14] mcarrano commented on #929
This feels like a duplicate of https://github.com/patternfly/patternfly-design/issues/915  Going to close.

[2020-11-03 19:14] #929 closed

[2020-11-03 20:15] mcarrano commented on #923
This would best be satisfied by introducing optional row stripping rather than a hover effect that implies interactivity. We will get this on the roadmap as a future enhancement.

[2020-11-03 20:30] mcarrano commented on #927
@ajacobs21e I will get this on our roadmap. Do you need this in any particular timeframe?

[2020-11-03 20:49] mcarrano commented on #935
@amysueg we will get this on our roadmap. Do you need this in a particular time period?

[2020-11-03 21:03] mcoker commented on #936
@mcarrano @jgiardino my apologies, I misread Tile as Title! To add a label like in @jgiardino's screenshot, I would use a layout in the tile body to manage the spacing/positioning. Here's a demo - https://codesandbox.io/s/elastic-moser-4km8n?file=/index.js

[2020-11-03 21:43] mcarrano commented on #933
@gdoyle1 looks like you transferred this back to patternfly-design. Is there anything more to do here? If not I will close.

[2020-11-03 21:47] gdoyle1 commented on #933
@mcarrano Yes transferred this to patternfly-design to become an epic to then add patternfly-design-kit issues to it! I assume this is done from a design standpoint though, so should be good to close

[2020-11-03 22:05] #933 closed

[2020-11-04 13:25] doruskova commented on #942
@mcarrano I'm adding a mock for labels [here](https://marvelapp.com/prototype/963bhhh/screen/74197638) and the color palette [here](https://marvelapp.com/prototype/963bhhh/screen/74194783)

[2020-11-04 14:25] mcarrano commented on #942
Thanks @doruskova . @mceledonia please also take a look.

It would be great to see these in the context on a full screen mockup, if possible. I think we need to see how these balance with pother elements on the screen.

[2020-11-04 14:28] doruskova commented on #942
@mcarrano Sure, it's still in progress. I need to find a balance for labels and inline alerts together.

[2020-11-04 15:06] mcarrano commented on #925
@lboehling @jgiardino Just wanted to follow up on this. We could pursue a couple of options for reflecting progress while validation is taking place. A progress bar would work if you could reflect progress from the backend. We also recently introduced this button with a built in spinner: https://www.patternfly.org/v4/components/button#progress  Maybe use that variant for the Next button?

[2020-11-04 15:45] doruskova commented on #942
I've added a [darker version for labels](https://marvelapp.com/prototype/963bhhh/screen/74197638) and a specific example in a page [here](https://marvelapp.com/prototype/963bhhh/screen/74204341)

[2020-11-04 15:48] jgiardino commented on #935
@mcarrano The best timeline I have at the moment is by summit. Does that help?

[2020-11-04 16:22] KKoukiou opened #945 "feat(Popover): add alert variation"
In Cockpit in one of the design mockups, our designer used an alert variation of the PF4 Popover.
The screenshot looks like this:
![98124041-f4806800-1eb2-11eb-8da1-f89c070647f2](https://user-images.githubusercontent.com/14921356/98128517-50012480-1eb8-11eb-85d0-0f399940e732.png)

Do you think that's something that you would like to support upstream?
If not feel free to close the issue.

[2020-11-04 16:43] mcarrano commented on #935
Yes, that should  e doable @jgiardino . So I assume by March 2021 would work then?

[2020-11-05 15:20] mcarrano opened #946 "Investigate dark theme styling for read-only text fields"
Consider styling for read-only fields use in any component that supports a read-only appearance, e.g. Clipboard copy, File upload, text input, etc. Does lighter gray really afford read-only? Are there other ways to afford this? Research what other design systems are doing.

[2020-11-05 15:30] mcarrano opened #947 "Define border colors for text fields and dropdown components"

[2020-11-05 15:32] mcarrano commented on #947
@mceledonia I'm assigning this to you, although I'm not sure if there's more work to do here beyond our exploration today.

cc @mcoker

[2020-11-05 15:38] mcarrano opened #948 "Group headers for dark theme"
Consider restyling for group headings in all dropdown menus.

* Do dark theme versions provide enough contrast?
* Are there other styling options we should consider to differentiate headers and menu items?

[2020-11-06 15:50] ajacobs21e commented on #927
Thanks Matt. By end of Q1 would be great.

[2020-11-06 17:05] maryshak1996 commented on #753
@mcarrano here is what I've come up with so far - I'd be interested to hear your thoughts on how we structure these demos since there are several different ways that we could categorize them.
https://marvelapp.com/prototype/bd077ag

[2020-11-06 21:13] mcarrano commented on #753
Good question @maryshak1996 . I think the question becomes what are the major use cases for applying labels and then how do the demos illustrate those. I'd like to bring @bmignano into this conversation as she is working on design guidelines for labels and label groups. I think the demos should be closely coupled with the design guidelines documentation so perhaps you can collaborate. Thoughts?

[2020-11-09 11:03] doruskova commented on #921
@mceledonia @bgliwa01 Could you add related SVGs for these icons so that I can update our symbol library? Thank you :)

[2020-11-09 18:33] bmignano commented on #753
Thanks for adding me to the conversation @mcarrano ! The labels [design guidelines](https://www.patternfly.org/v4/components/label/design-guidelines/) are actually up already if those would be helpful for you @maryshak1996 ! I think the demos you linked are looking great. One thing I'd mention is that they don't seem to include dismissible labels which is a feature we highlight in the design guide

[2020-11-09 23:00] mmenestr commented on #886
Here is the final proposal with all the details @mcarrano: https://marvelapp.com/prototype/f869h61/screen/74368154
Please let me know if i'm missing anything!

[2020-11-10 16:11] mcarrano commented on #886
These look good to me @mmenestr .

@mcoker can you give this a look and let us know if you see any issues? My assumption is that we would just add this to the Card View demo leveraging existing Card and Empty state components. But let me know if you see anything that would require more rework.

[2020-11-10 23:03] gdoyle1 commented on #853
[Updated this marve](https://marvelapp.com/prototype/5fba0cj)l to contain specs for each variation! @mcarrano

[2020-11-11 11:53] shirimordechay opened #949 "Real-time format checker for long naming requirements"
In a number of name fields in the OCP console, we have a long validation list of naming rules but we do not provide all requirements upfront. The validation occurs on submission and only one error in the field is shown even if the value has a large number of errors.

This type of immediate feedback exists only on one rule at a time (https://www.patternfly.org/v4/components/form#invalid)

**Suggest

[2020-11-11 14:52] mcarrano commented on #945
Per discussion in Nov 11 Cockpit meeting, can we accomplish this using utility classes as a more general approach? Thoughs @mcoker ?

[2020-11-11 16:13] mcarrano commented on #853
Thanks @gdoyle1 . @mcoker can you review this and let me know if you see any issues? If not, I will open a new core issue to get this into the upcoming sprint.

[2020-11-11 17:28] mceledonia commented on #921
@doruskova @mcoker Here are the two icon files for "new-process" and "not-started." These are the two we concluded on adding to the set with no other changes.

Please let me know how they work!
[newprocessnotstarted.zip](https://github.com/patternfly/patternfly-design/files/5525717/newprocessnotstarted.zip)

[2020-11-11 19:30] maryshak1996 commented on #753
thanks @bmignano and @mcarrano :) I just chatted with Brie a bit and tweaked things a bit to align this more closely to what's happening in the documentation

[2020-11-11 20:47] mcarrano opened #950 "Responsive toolbar buttons/dropdowns"
As we shrink the width of a toolbar, want to reduce labeled items like buttons or dropdowns to something only represented by an icon to save space. Reference this OpenShift design: http://openshift.github.io/openshift-origin-design/designs/administrator/future-openshift/log%20toolbars/  This should be controlled by setting an appropriate responsive breakpoint.

@jcaianirh anything to add here?  @m

[2020-11-12 12:03] nirfarkas opened #951 "Popovers trigger event - making our popovers affordability better"
Currently, our popovers over interactive elements in OpenShift are triggered by "OnClick" event, which makes them less affordable and a non-predicted pattern.
It will be useful to explore the idea of making them behave as "persistent tooltip" which means they will be triggered by "OnHover" event and keep their persistence behavior.
Here's [a presentation](https://docs.google.com/presentation/d/19q

[2020-11-12 12:09] nirfarkas commented on #949
+1 for this!
 Here's an [implemented demonstration](https://cddirector.io/cdd/sign-in.jsp) of something very similar.

[2020-11-12 13:29] KKoukiou opened #952 "Modal: should we support disabling the 'Close' button on the modal header when cancel is disabled?"
This is more of a discussion topic/design guideline question:
If you agree it's a nice feature, I am happy to work on it in the react side at least - otherwise just close it.

So in Cockpit we have many modal dialogs, which perform operations that can't be cancelled when the primary button is clicked. For example deleting a VM's disk, formatting a storage device and so on. In this case, we keep th

[2020-11-12 13:44] jknilans commented on #949
+1 - We created our own version of this using existing PF components for a validation state. Here's how we implemented it in our site.

<img width="608" alt="instant-validation" src="https://user-images.githubusercontent.com/25486044/98947426-3026bd80-24c3-11eb-9aee-a29546004655.png">

[2020-11-12 14:28] mcarrano opened #953 "Hint for dark theme"
Reconsider design of Hint for dark theme. Similar issues to inline alerts.

[2020-11-12 14:38] mcarrano opened #954 "Favorites for dark theme"
Need to specify static, selected, and hover colors to be applied everywhere dark theme is supported.

[2020-11-12 14:47] mcarrano commented on #880
cc @mceledonia

[2020-11-12 15:05] yuvalgalanti commented on #949
+1 for that, totally needed in the OCP console today

[2020-11-12 15:38] mcarrano commented on #952
I think this makes sense @KKoukiou .

@mcoker @tlabaj what would we need to do to enable this? Is it just adding a React prop?

[2020-11-12 16:10] mcoker commented on #952
@mcarrano we use a plain button there, so applying the `disabled` attribute should disable the button and apply the appropriate disabled styles.

[2020-11-12 16:23] mcoker commented on #921
These have been added to core, and will be available in react this release - https://pf4.patternfly.org/icons

[2020-11-12 16:28] doruskova commented on #921
@mceledonia They're available in a Sketch library :) It worked well. Thanks!

[2020-11-12 19:47] mcarrano commented on #876
Per discussion with @mceledonia @mcoker @ajacobs21e @coreyvickery  and @gdoyle1 we decided that this issue is best satisfied by restyling the existing tertiary nav component to be more usable as a secondary horizontal nav for web and other related use cases. Specifically, want to:

* Consider how this should be visually differentiated from tabs
* How this can work well for either PatternFly or RCU

[2020-11-12 19:58] mcarrano commented on #873
Opened https://github.com/patternfly/patternfly/issues/3670 for core implementation to include "large" card variants and separately introduce the ability to add rounded corners to any card.

[2020-11-12 20:12] mcarrano commented on #753
This is looking great @maryshak1996 . It would be good to get some more eyes on this. Perhaps present at the next PF design share. I'm wondering if this covers common tagging use cases. Also, I don't see anything about label groups. Should we also consider label group usage (e.g. label groups with category labels)? I believe these were being used extensively in Ansible. @trahman73 I believe you ha

[2020-11-12 20:21] trahman73 commented on #753
Thanks @mcarrano We are using the PF Label Group component below for some use cases in Ansible.

https://www.patternfly.org/v4/components/label-group

[2020-11-12 20:50] mcarrano commented on #753
Do you have any screen shots or mockups to reflect that usage @trahman73 ?

[2020-11-12 22:49] trahman73 commented on #753
@mcarrano One case for us is using a label group to show selected items on a list.

![image](https://user-images.githubusercontent.com/13351591/99005766-6722c080-250f-11eb-93cd-737aa31145d2.png)

[2020-11-13 00:18] mcoker commented on #950
Assuming you can pass HTML, we have utilities that hide/show things at breakpoints https://codepen.io/mcoker/pen/OJXrrXR

We could also look at building something into these components that allows for this.

[2020-11-13 15:40] maryshak1996 commented on #753
@mcarrano I was curious about this 'label group' peice as well, but I wasn't sure if this should be covered in this demo or not (since the 'label group' is it's own navigation item on the site)

[2020-11-13 17:11] mcarrano commented on #753
Yeah, that's a fair question @maryshak1996 . I'd say let's cover everything here and then we can figure out how to divide this up within the website.

[2020-11-14 14:32] ssbarnea opened #955 "PatternFly needs a native Log Viewer component"
Lots of application need to display command line output from executed commands, either looking as a just console/terminal output (ANSI enabled) or just like log tailing.

Please note that this refers to a static terminal view, not an interactive ones, more of a log viewer which user may want to configure to limit its size, display of line numbers and eventually soft-wrapping or rows.

At the most

[2020-11-16 14:01] doruskova commented on #938
@mcarrano Here's the update for inline alerts https://marvelapp.com/prototype/963bhhh/section/1189946
I also took a look at toast alerts because I think that inline and toast should look the same. It seems that the only difference is in placement.

[2020-11-16 14:17] doruskova commented on #953
@mcarrano Updated hint: includes grey and a blue version with examples https://marvelapp.com/prototype/963bhhh/section/1189947

[2020-11-16 15:57] maryshak1996 commented on #753
@mcarrano I added two label group examples to the marvel :)

[2020-11-16 16:01] mcarrano commented on #953
Thanks for creating these options @doruskova . What do you think @mceledonia ?

[2020-11-16 16:02] mcarrano commented on #938
These look good to me @doruskova . Can you also take a look @mceledonia ?

[2020-11-16 22:45] mcoker commented on #853
Yep this all looks good to me. A couple of notes:

We don't support this kind of card layout out of the box. I would probably build that by using a page section with a grey background with a grid layout inside, with cards for the main section and 2 cards on the right. I'm also assuming that would need to be responsive? And also assuming that the Tab Content panel (the thing that changes based on t

[2020-11-16 23:23] mcoker commented on #945
@mcarrano We recently added text color utilities, so a utility class could be used on the title text. But we don't have border utilities, so I don't think a user could accomplish the red top border without custom code.

[2020-11-17 00:12] mcoker commented on #886
@mcarrano @mmenestr looks good to me. One thing is that the empty state is vertically centered in the card. This won't happen automatically since card contents are aligned to the top, and while the empty state component's content is horizontally/vertically centered in the empty state component, when placed in a card the empty state is only as tall as it needs to be to hold it's content. It ends up

[2020-11-17 08:54] ssbarnea commented on #955
I am one of those contributing to https://zuul-ci.org/ which recently migrated from pf3 to pf4.  As Zuul is fully opensource and community driven, there is no fixed date for having it ready. I already posted a message on the mailing list to invite others to engage on this.

Keep in mind that it would be a good idea to limit the initial ANSI support to the basic 3-4 bit support and avoid scope cree

[2020-11-17 14:10] mcarrano commented on #955
Thanks for providing this additional information @ssbarnea . We will review this request against other priorities and get back to you with next steps.

[2020-11-17 14:15] ssbarnea commented on #955
Thanks too! As a note, I am expecting pf team to implement it but it would be very useful if it could guide us regarding which steps should be followed.  Based on who has time, we may be able to progress to having such a component.

[2020-11-17 14:31] mcarrano commented on #886
@mmenestr What are your thoughts? I don't so much mind that it aligns to the top like this, but if we want it to vertically align to the center, perhaps we can just construct the demo with a bullseye layout like you suggest @mcoker . That will at least provide other developers with an example of how to construct this.

[2020-11-17 15:35] mmenestr commented on #886
Yeah @mcoker I actually want empty states to remain aligned to the top when they're not inside a card, so I think for this use case, using the bullseye layout for inside a card would be the best way to go!

[2020-11-18 18:59] ssbarnea opened #956 "clipboard copy element does not have a thin variant"
One of the most common use cases for [clipboard-copy](https://www.patternfly.org/v4/components/clipboard-copy/react
) element is to provide an easy way to copy content that is likely needed for pasting in another place, while also reducing the cluttering the UI with generated text (GUID) that has no visual value for humans.

A classic use case would be to provide ability to copy a long GUID or che

[2020-11-18 19:40] ajacobs21e opened #957 "Visited style for links"
Requesting a design exploration for a visited style for links. Possibly also for other elements (navigation, tabs, buttons, etc?)
@mceledonia

[2020-11-18 19:41] ajacobs21e commented on #957
@dcaryll @coreyvickery FYI

[2020-11-18 20:44] mcarrano commented on #886
Sounds good. I've opened a new core issue here and will add to a future milestone: https://github.com/patternfly/patternfly/issues/3687

[2020-11-18 20:54] mcarrano commented on #853
I'm not sure there's a good reason to complicate this. @gdoyle1 is there any good reason to have this two column layout here or can we demonstrate the same tabs functionality with something more standard?

Regarding the vertical tabs, it's a great question what happens to this when you switch to mobile. It may be a similar problem to what we are doing with jump links. Seems like the vertical tabs

[2020-11-18 21:09] mcoker commented on #853
@mcarrano re: vertical tabs, a user could use either the flex or grid layout to create a responsive layout that goes from stacked on mobile to split on a desktop viewport width. I think along with that, we would need to extend the tabs component so that a user can specify either a vertical or horizontal layout at different breakpoints. And then it would be up to the user to specify the tabs change

[2020-11-19 13:52] mceledonia commented on #947
Here's what I'm thinking for border colors -

- Default: New black-200
- Hover/active/focus: Blue-300
- Disabled/readonly: None

![image](https://user-images.githubusercontent.com/30935938/99674779-7ee4d200-2a44-11eb-9f6b-4deb6c1b2054.png)

[2020-11-19 13:56] mceledonia commented on #946
Here's what I've come up with for both disabled and read-only:

I think for both we can remove the bottom border. For disabled, we can change the background and text colors to lower contrast and make them feel more muted/disabled. For read only, I think we can leave everything as-is, and the missing border does a good job of creating a read-only look.

New disabled colors
- Background: New dark th

[2020-11-19 16:02] doruskova commented on #942
@mcarrano @mceledonia Here's the update. I took it from a different side and I didn't use colorful bg at all and I was trying to keep the pastel colors for a text and icons.
Here's the visual and example in a table: https://marvelapp.com/prototype/963bhhh/section/1189948
Here's the clickable hover state with more variations (my preference is a grey border): https://marvelapp.com/prototype/963bhhh/

[2020-11-19 16:52] mcarrano opened #958 "Introduce secondary horizontal nav"
Currently we support a horizontal tertiary navigation that can be used for local navigation within the body of a page. https://www.patternfly.org/v4/components/navigation#tertiary  The current approach has some problems:

* It is visually similar to horizontal open tabs and introduces confusion about when to use tabs vs tertiary navigation.
* It does not work well for mobile (https://github.com/pa

[2020-11-19 19:48] gdoyle1 commented on #853
@mcarrano @mcoker Updated that card view so we no longer have that problem!
![horizontal tabs with grey bg](https://user-images.githubusercontent.com/30870144/99716592-4cec6380-2a76-11eb-9c5e-7cdd4a3b393b.png)

[2020-11-20 07:11] pacospace opened #964 "Use patternfly in gmail"
As a user of patternfly,

I would like to send an email with a nice interface using patternfly templates.

Unfortunately, they don't seem to work in Gmail. I would like to know why and in that case how to use them.

Thank you very much for your attention and help.

[2020-11-20 09:11] coreyvickery commented on #957
@ajacobs21e @mceledonia For text links, here's a list of links with a 3:1 contrast ratio with surrounding text.

https://www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/working-examples/G183/link-contrast.html

I don't mind a purple color (or another color on black) for visited text links as long as it passes contrast standards. As for text in other components, I have no idea, that might require a m

[2020-11-20 15:00] mcarrano commented on #942
Want to converge on only one label style for dark theme (Filled labels) with outlined hover style.

[2020-11-20 15:53] doruskova commented on #942
Mock's been updated - includes only 1 version for a dark theme.

[2020-11-20 16:04] mcarrano opened #959 "Switch for dark theme"
Evaluate switch styling for dark theme and recommend changes. Known issues based on initial audit:

* Check mark should be dark color //
* “Off” state colors should get darker //
* “Disabled” state colors should change

[2020-11-20 16:52] mcarrano commented on #942
Looks good to me. Thanks @doruskova

[2020-11-23 10:00] doruskova commented on #953
[Updated mock](https://marvelapp.com/prototype/963bhhh/section/1189947) - includes only the grey border version that we agreed on.

[2020-11-23 12:19] doruskova commented on #959
@mcarrano @mceledonia Here's the update on the switch component https://marvelapp.com/prototype/963bhhh/section/1197904

[2020-11-23 14:51] mcarrano commented on #959
Looks good to me @doruskova . What do you think @mceledonia @mcoker ?

[2020-11-23 15:38] mcarrano commented on #853
Thanks @gdoyle1 . I have opened https://github.com/patternfly/patternfly/issues/3700 to track core implementation. I have also opened a new issue here to implement responsive versions of vertical tabs that should work with this demo: https://github.com/patternfly/patternfly/issues/3698

[2020-11-23 16:03] #845 closed

[2020-11-23 16:04] #862 closed

[2020-11-23 16:08] #921 closed

[2020-11-23 16:08] #930 closed

[2020-11-23 18:49] hstastna opened #960 "PF4 Modal component is not draggable/movable"
We are missing the draggable/movable ability regarding the PF4 React `Modal` component. This is more like a feature request.

Sometimes it is very unpleasant not to see the important info under the dialog window. Having it draggable would solve such problems in any UI.

This could be relatively easily solved by using the PF3 component, but the effort is to go forward and to use only the PF4 compon

[2020-11-24 15:44] mattreid opened #961 "Toolbar filter field clear button 'x' should have a hover state"
## Requesting new features, enhancements, or design changes to PatternFly
- Describe the use cases and requirements of the new feature or enhancement you are requesting.
The current toolbar design includes an 'x' button to quickly clear the field, but it doesn't have a hover state, or change the mouse cursor to the hand icon to look interactive. Other clear x's like those used in [labels](https://

[2020-11-24 16:08] maryshak1996 commented on #881
I did some initial ideas @mcarrano @ajacobs21e but ran into a couple instances where I have questions about the type of direction we want to take an what the use case is that we are trying to support. I left some annotations my early design here: https://marvelapp.com/prototype/7gc36d1

[2020-11-24 16:33] ajacobs21e commented on #881
@maryshak1996 Here's a use case from the marketing side: https://docs.google.com/document/d/1QWuD8l2nH3oFqz0IUad1S9V23lEIDYUtBxcSjDRX7Zg/edit#heading=h.oiftjocoex3
It's kind of between the list with small icons & list with large icons. Although it probably would be closer in format to the 'list with small icons' just with an option to use a slightly larger icon size

[2020-11-24 18:37] mcarrano commented on #881
@maryshak1996 These look good. As I understood this issue, it's strictly about styling a standard HTML list item (i.e. a list created by an <li> tag and does to apply to interactive menus like the Simple List. There is a related issue here that shows some additional usage examples: https://github.com/patternfly/patternfly/issues/1635  Right now, the [List component ](https://www.patternfly.org/v4/

[2020-11-24 19:20] mcoker commented on #959
Looks good!

[2020-11-24 19:49] mmenestr commented on #759
I'm wondering if we could do what was proposed above, but change the badge color to a darker grey, just like was done for tree view and dual list to take the hover state into account!
I think the only proposal I'd make is potentially right aligning the badges so they are all ultimately vertically aligned with each other? But I don't feel too strongly, and I know that for tree view they're placed r

[2020-11-25 15:26] mcarrano opened #962 "Define tertiary level for PF website navigation"
The current webiste navigation is based on the PF vertical navigation and supports nesting one level deep (i.e., a two-level expandable navigation). There are cases where we can use an additional level of nesting to break up pages with large amounts of content and reduce the number of items that require a new first-level section.

Explore visual design solutions that address this problem.

[2020-11-30 14:32] bdellasc commented on #930
@evwilkin yes, we should add it to the set and add the appropriate description to the table. If it makes it easier, I can create that matching circle in SVG form, just so we're consistent with the other icons, then post the file here.

[2020-11-30 15:48] mcarrano commented on #901
See additional comment on the PF forum here: https://forum.patternfly.org/t/disabled-buttons-styles/391

[2020-11-30 16:14] bdellasc commented on #930
@evwilkin, here's the SVG file for Resources Empty (I used the same circle element from the other resource state icons):
[resources-empty.zip](https://github.com/patternfly/patternfly-design/files/5617086/resources-empty.zip)

[2020-11-30 16:43] mcoker commented on #930
@bdellasc is that any different than the icon on https://patternfly-react.surge.sh/icons?

<img width="150" alt="Screen Shot 2020-11-30 at 10 43 17 AM" src="https://user-images.githubusercontent.com/35148959/100637817-eb8b8680-32f8-11eb-83a6-a7b59d999da2.png">

[2020-11-30 17:29] bdellasc commented on #930
@mcoker I'm not sure/can't tell by looking at it - looking back at the thread here, @mturley mentioned throwing together this icon as a stopgap. I was just following up with an actual SVG exported from our Sketch source file (like we've done with all the others). I used the same circle that is used in the other status icons, so it matches perfectly with all the other status icons. Just wanted to f

[2020-11-30 17:37] mturley commented on #930
Thanks @bdellasc . I didn't end up using a stopgap since we have the real `ResourcesEmptyIcon` available in the package now as of https://github.com/patternfly/patternfly/issues/3624. I agree it should be added to the site. @redallen do you know what we need to do there?

[2020-11-30 17:42] redallen commented on #930
To add it to patternfly.org we need to add an entry to https://github.com/patternfly/patternfly-org/blob/master/packages/v4/src/content/design-guidelines/styles/icons/icons.js.

[2020-11-30 18:36] mturley commented on #930
@redallen thanks. done. https://github.com/patternfly/patternfly-org/pull/2296

[2020-12-01 15:53] mcarrano commented on #937
@beccaglass @lboehling I know that you were looking at further considering the design for draggable data list rows. Perhaps you can consider what should happen in this case when there are multi-line items as per this request: https://github.com/patternfly/patternfly/issues/3712

[2020-12-01 19:20] lboehling opened #963 "Update/Revisit Custom Row Wrapper Visuals"
The current example for custom row wrappers on the PF website is conflicting with our styling for selected rows. Can we revisit the visuals for this and provide an example that's differentiated from the existing selected state?

https://www.patternfly.org/v4/components/table#custom-row-wrapper

![image](https://user-images.githubusercontent.com/46571616/100786199-c9b8ff00-33df-11eb-90dd-143f6c12ff

[2020-12-01 19:54] maryshak1996 commented on #881
ahhhhh that makes more sense @mcarrano and @ajacobs21e thanks for that extra context :) I think that I was able to simplify the design so that it's aligned with just the basic list component, and I also lightened it up a bit in visual styling as well. Let me know what you think. Same link as before, but here it is again just in case: https://marvelapp.com/prototype/7gc36d1

[2020-12-01 21:29] mcarrano commented on #955
@dgutride @evwilkin Any thoughts on this? I know we currently have a Console extension in patternfly -react but not sure if that can be leveraged here.

cc @tlabaj