[2022-07-11 14:50] simrandhaliw commented on #1173
Great! Thanks, @mcarrano!

[2022-07-11 15:34] #1176 closed

[2022-07-11 18:14] pankajshivpuje commented on #1125
@mmenestr design doc and marvel are now updated. Sorry, I just wanted to circle back with individual product sketch files before making these changes.

[2022-07-11 18:18] mcarrano commented on #1153
Report on findings: https://docs.google.com/presentation/d/1_R38if7P_eXkMrt2aOemxn2m76EjTElL/edit?usp=sharing&ouid=103273273844469477521&rtpof=true&sd=true

Proposed IA changes: https://docs.google.com/document/d/1u6KlJ16vsSzQJvbK6YFkzhiobT6zz2FhuPufCV_zuaE/edit?usp=sharing

[2022-07-11 19:36] nicolethoen commented on #1157
My only concern is that tables with links run the risk of having the same link text in every row, and technically that's an accessibility violation unless all the links go to the same URL. I guess in your mocked data, all the URLs are the same, so that actually would not be a violation, but is that an expected use case?

Links as mocked data would be a little more realistic, i think, if they are a

[2022-07-11 20:19] mcarrano commented on #1157
@nicolethoen these links don't actually need to be to a live site, correct? If so, what we could do is to make it a link to the server object represented in each row, for example, http://www.redhat.com/en/office-locations/US-node1, http://www.redhat.com/..../USnode2, etc. Would that work?

[2022-07-11 20:26] nicolethoen commented on #1157
It would work - my only question is would we want the URLs written out completely, or would they want more readable/meaningful link text?

If it's the latter, we should consider how we'd recommend people building tables with links so that all the links don't have the same link text

[2022-07-11 20:32] mcarrano commented on #1157
@nicolethoen Maybe ideally it would be the later. But I thought that the point of having a URL would be to should how long strings should get truncated. Otherwise I don't think whether this is a link or not matters so much. Does that make sense?

[2022-07-11 20:58] yichen1yu commented on #1159
[Here](https://marvelapp.com/prototype/17i95gf4/screens) is the banner with icons, along with two use case samples. Icons are the same set that used for alert to keep consistency. https://marvelapp.com/prototype/17i95gf4/screens

[2022-07-12 11:31] nicolethoen commented on #1157
that makes sense to me!

[2022-07-13 10:29] jhiadlov commented on #1157
@mcarrano so should I replace status with labels? And also, should I make the URL in this form "http://www.redhat.com/en/office-locations/US-node1"?

[2022-07-13 10:43] jhiadlov commented on #1165
Work in progress :)

[2022-07-13 13:22] doruskova commented on #1161
@mceledonia Can you take a look? :))

[2022-07-13 13:57] jhiadlov commented on #1157
https://marvelapp.com/prototype/2ff7ahj6/screen/87992955 it's done :)

[2022-07-14 13:37] garrett opened #1181 "[ProgressStepper] - indicate progress between (long-running) steps"
**Is this a new component or an extension of an existing one?**
Progress Stepper component

**Describe the feature**
Display in-between progress for steps that take a while.

For the new Anaconda (OS installation for Fedora, RHEL, CentOS, Alma, Rocky, etc.) implementation using PatternFly, during a usability test, there wasn't enough granular feedback for the process. The stepper component was use

[2022-07-14 13:50] doruskova commented on #1175
@Fewwy @mcarrano I would remove the numbers from a pie and leave them in legend only and tooltip when you hover over. I think it's not necessary to have numbers inside of the chart. Colors can be different and it can cause contrast issues.

[2022-07-14 16:03] andrew-ronaldson commented on #1151
Based on feedback in the PF meetings and product examples I tried this as an inline "test configuration" action on specific inputs. If this action is for an entire form it is more in-line with our existing form validation. Here are some [screens](https://marvelapp.com/prototype/b3aaaed) that show start, in-progress and final state based the test.

[2022-07-14 20:54] mcarrano commented on #1163
Discovery doc from @pankajshivpuje : https://docs.google.com/document/d/1l8BDhnNeXEQlFWus1dUbdgoFKZcHhVHYS_MlznKonOc/edit#

[2022-07-15 08:10] jhiadlov commented on #1157
Done :) every time I write something new into table, all data are changing values, I mean the numbers, but they are always in the range I set. Would it be that a problem?

[2022-07-15 08:39] jhiadlov commented on #1165
Here are mockups for vertical tabs. I was thinking about 2 options:

1. I made an expandable version and design as it is used with Jump links where the content is just moving down.
https://marvelapp.com/prototype/dj6cag1/screen/87992357

2. I made Drop down version and design as it is used in Wizard and the content is covered with drop down.
https://marvelapp.com/prototype/dj6cag1/screen/87992418

[2022-07-15 10:19] nicolethoen commented on #1157
I like it! :)

[2022-07-15 13:52] mcarrano commented on #1157
Thanks @jhiadlov This looks great! I will close this issue as completed.

[2022-07-15 13:52] #1157 closed

[2022-07-15 13:55] mcarrano commented on #1165
@jhiadlov I think either of these would work. @mcoker @mattnolting can you also take a look at this and let us know if either of these solutions will work for transforming the vertical tabs to something that works on mobile?

[2022-07-15 17:59] mcarrano commented on #1161
Thanks for your work on this @doruskova . I have opened https://github.com/patternfly/patternfly/issues/4978 to implement, and will close this design issue.

[2022-07-15 18:24] mcarrano commented on #995
Per discussion with @mceledonia @mcoker , this should be easy, but requires more design consideration. How exactly should this animation take place? Fade in? slide in?

[2022-07-15 18:36] mcarrano commented on #1000
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:36] #1000 closed

[2022-07-15 18:37] mcarrano commented on #1002
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:37] mcarrano commented on #1001
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:37] #1001 closed

[2022-07-15 18:39] mcarrano commented on #899
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:39] #899 closed

[2022-07-15 18:39] mcarrano commented on #983
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:39] #983 closed

[2022-07-15 18:40] mcarrano commented on #984
No longer relevant

[2022-07-15 18:40] #984 closed

[2022-07-15 18:41] mcarrano commented on #996
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:41] #996 closed

[2022-07-15 18:41] mcarrano commented on #997
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:41] #997 closed

[2022-07-15 18:42] mcarrano commented on #998
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:42] #998 closed

[2022-07-15 18:43] mcarrano commented on #999
Will address as part of https://github.com/patternfly/patternfly/issues/4979

[2022-07-15 18:43] #999 closed

[2022-07-19 18:59] mcoker commented on #1165
AFAIK the plan was to use the sidebar component to manage the layout as the jump links component does. We have demos of jump links here:

collapsed on mobile:
https://www.patternfly.org/v4/components/jump-links/html-demos/vertical-jump-links-collapsed-on-mobile/

expanded on mobile (does not overlay the content):
https://www.patternfly.org/v4/components/jump-links/html-demos/vertical-jump-links-ex

[2022-07-19 19:08] jessiehuff commented on #1170
It seemed like based on the discussion I had with the others at the Design Share meeting, they thought this was probably more of a product by product case and that we should let products handle it individually.

[2022-07-19 19:08] #1170 closed

[2022-07-19 20:59] mcarrano commented on #1165
That's fine @mcoker . So does this give you what you need to restart work on this issue then? https://github.com/patternfly/patternfly/issues/3915

[2022-07-19 22:47] mcoker commented on #1165
@mcarrano yep 👍

[2022-07-20 13:18] doruskova commented on #1160
@mmenestr Are the mocks up-to-date? Can i use them for Sketch kit?

[2022-07-21 14:37] mmenestr commented on #1160
@doruskova - replied on Slack

[2022-07-21 15:41] mceledonia commented on #1136
Example of using color brightness to better distinguish between items
![image](https://user-images.githubusercontent.com/30935938/180255620-adb7fbe3-5dc2-4cef-8e6c-25c741a6a8d7.png)

Example of using SVG Patterns to better distinguish between items
![image](https://user-images.githubusercontent.com/30935938/180256114-94b17d81-d618-4bda-99d4-8f8a85e32d50.png)

[2022-07-21 15:56] mcoker commented on #1151
@mcarrano this looks good to me, although the button looks like an inline link button and that button doesn't support the progress state, so we would need to add that support.

[2022-07-21 16:09] mcarrano commented on #1151
Yeah, I thought that would be the case. I've opened https://github.com/patternfly/patternfly/issues/4994 to add that variant.

[2022-07-22 14:04] heyethankim commented on #1136
Tried it on the simulator. I like the first option better because of the immediate feedback. Wonder if you would like to try it using gray as you said.

<img width="764" alt="image" src="https://user-images.githubusercontent.com/84546841/180455767-ae357f66-a1c3-421b-a8f3-ba3dbebec69b.png">
<img width="761" alt="image" src="https://user-images.githubusercontent.com/84546841/180455846-6532d3ce-7af7-

[2022-07-25 13:10] mcarrano commented on #1136
I agree that the first option is clearer.

[2022-07-26 12:11] garrett commented on #1181
I've implemented the mockup in basically 5 lines of CSS (mainly to set colors and a width for percentage), where the percentage is exposed as a number (representing a percentage), which React can modify.

Demo:
https://codesandbox.io/s/unruffled-benji-cx657r?file=/progress-demo.scss

Screenshot:

![stepper progress](https://user-images.githubusercontent.com/10246/181002618-7867dd8a-9566-4856-9641-

[2022-07-26 12:43] garrett commented on #1181
I've made a modified second demo which has closer-to-ready SCSS (tying it to the widget), adding it as a pf-m- variant, uses success and current colors, and adds a transition:

https://codesandbox.io/s/staging-dream-6wrzt8?file=/progress-demo.scss

[2022-07-27 15:50] mcarrano commented on #977
Going to transfer this into core to add to our feature roadmap.

[2022-07-27 15:57] mcarrano commented on #1136
@mceledonia I presented your proposal during the PF design share meeting today. The response to the first option was positive. Some questions/concerns were:

- Does this approach work for more than 2 colors or for other than red/green? Does it need to?
- Is the less saturated color created by modifying the base color (i.e. reducing the lightness or saturation) of do we need to specify RGB values?

[2022-07-28 11:05] Fewwy commented on #1175
I think we can close this issue

[2022-07-28 13:03] #1175 closed

[2022-07-28 13:51] yichen1yu commented on #1168
Examples and possible options: https://marvelapp.com/project/6367752

[2022-07-28 19:28] dlabrecq commented on #1136
@mcarrano The charts do utilize the PatternFly color variables by default. Although, that is in the form of a color scale. An ordered list of color variables, defined by PatternFly.

Not sure how easily that can be overridden for individual charts? We might want to have a conversation with M. Coker about how this would be best applied?

[2022-07-28 19:41] dlabrecq commented on #1136
@mcarrano The charts do utilize the PatternFly color variables by default. Although, they are in the form of an ordered list of PatternFly color variables (i.e., a color scale). Each color scale is associated with a chart theme, blue, yellow, multi-color, etc.

Note that the default color scales / themes used by the chart do not utilize red and green. If folks are using these colors together, a de

[2022-07-28 19:51] dlabrecq commented on #1136
@mcarrano The charts do utilize the PatternFly color variables. PatternFly defines chart variables as an ordered list, which is applied as the chart's color scale. Each PF color scale is associated with a theme; blue, yellow, multi-color, etc.

Note that the color themes used by the chart do not utilize red and green together. (In fact, red does not appear anywhere in PF's chart color scales.) If

[2022-07-29 17:26] mcarrano commented on #1165
@doruskova @jhiadlov Thanks for your efforts on this. I am close this as completed.

[2022-07-29 17:26] #1165 closed

[2022-08-02 12:38] smckinno commented on #1172
Here is the final marvel link of all the images!
https://marvelapp.com/prototype/702eg8i

[2022-08-02 14:50] edonehoo opened #1182 "Consider making PF site top nav tabs sticky."
Consider making any top nav tabs on the PF site sticky to the top of the window, similar to the TOC.

- This is an enhancement suggestion based on the [design system competitive analysis.](https://docs.google.com/presentation/d/161XsZ6NrUSgnCkaA1e_96oxWY72VsJAa2SVmtIEhWJg/edit#slide=id.g547716335e_0_260)
- These would function similar to [Carbon's implementation.](https://carbondesignsystem.com/co

[2022-08-02 14:54] edonehoo opened #1183 "Consider adjusting the visual design of PF's left nav menu."
Consider better visually distinguishing the PF site left nav menu from the site's background.
- This is an enhancement suggestion based on the [design system competitive analysis.](https://docs.google.com/presentation/d/161XsZ6NrUSgnCkaA1e_96oxWY72VsJAa2SVmtIEhWJg/edit#slide=id.g547716335e_0_260)
- The idea is to have more distinction, inspired by [Carbon](https://carbondesignsystem.com/components

[2022-08-02 14:57] edonehoo opened #1184 "Examine the threshold for responsive site resizing."
Consider adjusting the window size where the PF site is swapped to mobile.

- This is an enhancement suggestion based on the [design system competitive analysis.](https://docs.google.com/presentation/d/161XsZ6NrUSgnCkaA1e_96oxWY72VsJAa2SVmtIEhWJg/edit#slide=id.g547716335e_0_260)
- It feels like the site swaps to mobile (?) at larger windows than expected, though this may have intentional reasoning

[2022-08-02 14:59] edonehoo opened #1185 "Consider adding functionality to quick copy heading links."
Consider adding functionality to quick-click copy links to headings on the site.

- This is an enhancement suggestion based on the [design system competitive analysis.](https://docs.google.com/presentation/d/161XsZ6NrUSgnCkaA1e_96oxWY72VsJAa2SVmtIEhWJg/edit#slide=id.g547716335e_0_260)
- Clicking the link icon beside headings snaps you to a more specific URL (for example, https://www.patternfly.org

[2022-08-02 15:03] edonehoo opened #1186 "Consider making webpage sections collapsible."
Consider making sections on component pages collapsible.

- This is an enhancement suggestion based on the [design system competitive analysis.](https://docs.google.com/presentation/d/161XsZ6NrUSgnCkaA1e_96oxWY72VsJAa2SVmtIEhWJg/edit#slide=id.g547716335e_0_260)
- For example, consider making prop subsections (such as https://www.patternfly.org/v4/components/table#props) collapsible to make it easi

[2022-08-02 15:03] edonehoo opened #1189 "Consider making webpage sections collapsible."
Consider making sections on component pages collapsible.

- This is an enhancement suggestion based on the [design system competitive analysis.](https://docs.google.com/presentation/d/161XsZ6NrUSgnCkaA1e_96oxWY72VsJAa2SVmtIEhWJg/edit#slide=id.g547716335e_0_260)
- For example, consider making prop subsections (such as https://www.patternfly.org/v4/components/table#props) collapsible to make it easi

[2022-08-02 21:07] srambach opened #1187 "Icon colors specified don't match implementation"
[The colors page](https://www.patternfly.org/v4/guidelines/colors) gives icon status colors that don't seem correct - and aren't what is in [alert](https://www.patternfly.org/v4/components/alert/) even though it specifically says what the colors are. They don't even seem to match what's shown in the examples on the color page.

@mcarrano @mceledonia

[2022-08-03 20:53] simontalusan commented on #1173
Here are the links to the proposed design:
Sketch: [https://www.sketch.com/s/de96f297-317d-451b-abcc-8b9a4b87afdc
](url)
Marvel: [https://marvelapp.com/prototype/idfijd4/screens](url)

[2022-08-04 14:55] yichen1yu commented on #1168
Sketch editable link: https://www.sketch.com/s/82eb6c6a-5ae2-442c-952d-5c0d575f6b06

[2022-08-04 14:56] yichen1yu commented on #1159
Sketch editable link: https://www.sketch.com/s/573c5ca7-e1b9-4b65-adfa-4a7834c6de08

[2022-08-04 15:31] garrett commented on #1168
Apologies, but I can't see any of those mockups.

First mockup link:

![image](https://user-images.githubusercontent.com/10246/182887009-a5ae6ee7-39b0-473a-9d28-1ac3e78a25cf.png)

Second mockup link:

![image](https://user-images.githubusercontent.com/10246/182887092-73c518cc-b72b-4178-b207-00c99498f7a6.png)

[2022-08-04 15:40] yichen1yu commented on #1168
Hi Garrett, could you try this link : https://marvelapp.com/prototype/1803675e

[2022-08-05 14:22] mcarrano commented on #1173
Thanks @simontalusan . I have opened https://github.com/patternfly/patternfly/issues/5012 to begin implementation of this.

@simrandhaliw see the designs attached. After a few iterations, we modified your original designs to use a plain button with a badge to the right. We discussed use of the toggle button as your original design showed, but decided against that as it was primarily intended for u

[2022-08-05 15:31] mcarrano commented on #1172
Sketch file link: https://www.sketch.com/s/7bec720b-7f77-4f22-99a1-a48735c0b147

Google doc with instructions for creating new illustrations: https://docs.google.com/document/d/16hy-fOLvoiTOpNODrhByX9yr7v45Nq5UsSmX_MeZDBk/edit?usp=sharing

Folder of png images: https://drive.google.com/drive/folders/1HAcKpiRGP4q0ttLXyDoEJhQGnJ0Un0O9?usp=sharing

@maryshak1996 @mmenestr welcome your thoughts on whe

[2022-08-05 15:43] mcarrano commented on #1159
@mmenestr @doruskova Do we need follow up doc and design kit issues for this? I think so. If you agree, please add when you get a chance. Thanks.

[2022-08-05 19:58] mmenestr commented on #1159
I think it should be added yes - [created this issue](https://github.com/patternfly/patternfly-org/issues/3117) @mcarrano

[2022-08-06 15:51] lclay2 commented on #1181
@garrett , thanks for your brainstorming around this! In your proposed design above (afaik) the bar is calculating progress between steps 1-2, 2-3, rather than overall progress. If so it requires the availability of realtime, detailed intra-step progress (%, or other calculations) between all of the steps. That might impose a functional limitation.

To make the design solution more feasible if tha

[2022-08-06 15:52] lclay2 commented on #1181
cc @mkolman@redhat.com  ^^

[2022-08-08 15:04] garrett commented on #1168
Thanks! That's a lot better.

Here's an inline image of both options:

![image](https://user-images.githubusercontent.com/10246/183448598-f70b272a-1d72-4aea-9526-23276db54e33.png)

I think since it is a destructive action, it does make sense to highlight that — therefore I prefer option 2, with its hover state of a red background. As pointed out above in this thread, GitHub basically uses option 2

[2022-08-08 15:54] lclay2 commented on #1181
@garrett - By "between" I meant Step x has been completed, now Step next is in progress. We might be talking about the same thing?
- Regarding your statement that the current progress for the step (in terms of %) is usually known during the install process or could be easily computed, it would be helpful to have that confirmed by the team.
-Notwithstanding, I have a question regarding the visual i

[2022-08-08 18:51] lclay2 commented on #1181
I asked @mkolman@redhat.com, about what's possible wrt computation and it sounds like they can provide status on the number tasks completed, but no estimate on how long each task will take to complete. So the progress bar could get stuck for minutes/tens of minutes at a time & then zoom over much of its remaining length in seconds.

[2022-08-09 10:16] doruskova commented on #1159
Yes! @mcarrano I created an issue for it https://github.com/patternfly/patternfly-design-kit/issues/564

[2022-08-09 10:43] garrett commented on #1181
Yeah, in the demo I made, the current progress is in red. (I did use the green and red for demo purposes to show that they're not the same, but could be.) If we do know the progress and want to show that it's continuing, we could use animation like you're suggesting in the places where that's red.

I've revised the demo to make it use the same color for previous and current. I've also added an alt

[2022-08-09 12:02] lclay2 commented on #1181
Thanks @garrett , personal opinion, I really like the addition of the blue outline and coloring the completed segment blue. My hesitation is the partial segments, at least for the installer use case that I'm working with.

For now, we have opted to use the "out of the box" stepper component in the way that @shirimordechay  describes above. We think this will be an improvement because it offers mor

[2022-08-09 13:50] heyethankim commented on #1169
**User research (07-2022)**
[Quick Start Floating/Docking](https://drive.google.com/file/d/1o6nTD-GaxbG31X8qEfyqJ9A5vOlzoFuI/view?usp=sharing) (2:11)

As the last person pointed out, we are curious to know how they would react to a separate browser window. Would there be any preference there? Another thing we could consider is, as the 3rd person pointed out, the interaction between the contents an

[2022-08-09 14:54] garrett commented on #1181
It is! The demo I posted is some additional CSS that you can adapt to override the component a little if you'd like it without having to wait for an official implementation. (That's what the demo is doing, of course.)

Of course, an official implementation would be better. :wink:

---

By the way:

We do this kind of thing often enough with Cockpit, where we either find issues with PatternFly comp

[2022-08-10 14:13] mcarrano commented on #1181
@garrett @lclay2 I like the addition of the blue outline and coloring of the completed segment, also, and would be in favor of making that enhancement. I'm not completely sold on the progress indicator, however. From the mockups you are showing, it's a bit unclear to me whether we have completed step 2 and are progressing to set three or if step 2 is still in progress. We don't currently have an i

[2022-08-17 20:15] imjoyjean commented on #1168
@garrett thank you for sharing this at the playback today! I like option 2 because it matches the colors for the danger button in PF, as well as how it makes it clear that it is a dangerous action.

[2022-08-18 14:00] #1172 closed

[2022-08-18 14:01] #1159 closed

[2022-08-18 14:13] mcarrano opened #1188 "Create process for adding new component illustrations"
Now that an initial set of illustrations has been created for the component catalog on the PF website, need to establish process and procedures for updating this library when new components are added. This is a follow up to: https://github.com/patternfly/patternfly-design/issues/1172

See prior issue for initial illustrations and draft documentation. This information currently lives on Google driv

[2022-08-18 16:07] mceledonia commented on #1168
Here's a proposal for option 1 with dark theme as well, a few notes....
- Proposing we suggest to use a divider to separate destructive actions from non destructive actions when they coexist in a menu.
- Our lighter destructive color in dark theme actually wasn't accessible over the background highlight color (which it should be as that is our lightest bg color), so I'm proposing an update to red-

[2022-08-22 16:25] mceledonia commented on #1177
Going to suggest we put this on hold for a bit while we work to align base level styles with other design teams.

[2022-08-25 16:41] mmenestr commented on #1162
Marvel: https://marvelapp.com/prototype/9766ieg

[2022-08-25 16:42] mmenestr commented on #1162
Design doc issue: https://github.com/patternfly/patternfly-org/issues/3159

[2022-08-26 18:44] #1173 closed

[2022-08-26 18:51] mcarrano commented on #1168
@mmenestr can you open an issue to add design guidelines for this (if you haven't already done so). I think it makes sense for this to be part of the Menu component. Do you agree?

[2022-08-26 18:55] mcarrano commented on #1162
Opened https://github.com/patternfly/patternfly/issues/5058 to begin implementation.

[2022-08-26 20:20] mmenestr commented on #1168
Yes I agree @mcarrano - opened this issue: https://github.com/patternfly/patternfly-org/issues/3165

[2022-08-26 21:11] mcarrano commented on #1168
Thanks @mmenestr . Closing the design issue in favor of https://github.com/patternfly/patternfly/issues/5057

[2022-08-26 21:11] #1168 closed

[2022-08-30 16:07] mcarrano commented on #1162
Thanks for your work on this @mmenestr . Will close.

[2022-08-30 16:07] #1162 closed

[2022-08-30 16:19] mcarrano commented on #1189
Hi @edonehoo . Per our conversation today, I am assigning this out to you to work on. It's not a high priority from my standpoint so work on it as you have time and we can discuss more. I guess the big question is how the collapsible sections play with the jump links navigation that is part of the TOC.

[2022-08-30 19:23] mcarrano commented on #1187
This appears to be a doc issue. Will transfer to patternfly-org. Let's bring the Colors page in line with current implementation.

[2022-09-01 14:08] jgiardino opened #1190 "Search Input - client side validation"
In the App Services Kafka service, Some of the properties that a user can filter on have requirements on what characters can be used, specifically the Name property. When the user tries to filter by Name and specifies an invalid character in the search input, we display an error icon in the search input on submit and provide a reason why the value was not applied as a filter via tooltip text, as s

[2022-09-02 15:48] mcarrano commented on #1184
Thanks for submitting this @edonehoo , but adjusting this breakpoint could have a negative effect on certain examples that need more width, so we will not make any change at this time.

[2022-09-02 15:48] #1184 closed

[2022-09-07 16:20] mceledonia opened #1191 "Revisiting tile component design"
Recently the RHDS team shared a design for [link tile](https://xd.adobe.com/view/245762a7-2368-48b8-9090-079916cbd7c1-7104/), which has refined visuals as well as a functional difference from the PatternFly tile — it acts as a link rather than a radio button. This sparked a discussion on the beta tile component and its flexibility where I noticed we placed some arbitrary constraints on the layout,

[2022-09-07 20:28] smckinno opened #1192 "Color coded tool tip"
## Requesting new features, enhancements, or design changes to PatternFly
- Describe the use cases and requirements of the new feature or enhancement you are requesting.
 I am requesting a tool tip that uses color to help enhance the experience when a user hovers over a graph and can thus have the color associated on the graph to be on the tool tip.
- Explain *why* this feature is needed and/or wh

[2022-09-08 13:40] nicolethoen commented on #1190
This is likely not perfect - but maybe demonstrates a POC using a handful of PF components
https://codesandbox.io/s/elegant-wu-7nc58x?file=/index.tsx

[2022-09-08 16:22] mcarrano opened #1193 "PatternFly visual refresh - design iteration"
Based on the results of the visual study summarized here (https://docs.google.com/presentation/d/1Ui2kNFBsF4tOKvF8CnrOmFh8K3HUitVR2SnUtAlNLKk/edit?usp=sharing) want to iterate of our design proposal. Some revised objectives:

* Take a more incremental approach that deviates less from the current design.
* Look to align more closely with Brand and the RH design language effort.
* Emphasize "dark" a

[2022-09-09 14:10] mceledonia commented on #1191
Update here from the recent design sync - Let's remove the layout restriction (add support for left-aligned content) and not worry about adding the link variant in PF quite yet. CC @mcarrano to confirm.

[2022-09-12 16:40] JustinXHale commented on #995
I've been working on this issue and have created a few possible solutions.
[Figma Prototype](https://www.figma.com/proto/XLVyWWRD1IlW1eFSSWzQTw/Animated-Banner?node-id=32%3A7&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=32%3A25&show-proto-sidebar=1) [Figma Board](https://www.figma.com/file/XLVyWWRD1IlW1eFSSWzQTw/Animated-Banner?node-id=7%3A41)

With each, the expectation is the banner to

[2022-09-12 18:25] mcarrano commented on #995
Thanks for posting @JustinXHale . These look good. It would be great to present these at Thursday's sync meeting for more feedback. Can you add this to the agenda?

[2022-09-12 18:43] JustinXHale commented on #995
Unfortunately I cannot @mcarrano, I will be on PTO in Las Vegas having a miserable time lol.

[2022-09-12 20:22] mcarrano commented on #995
Yeah, no one ever has much fun there LOL. Maybe next week, then,

[2022-09-13 16:06] mcarrano commented on #1190
We will start this in core and get it on our roadmap. Any timeline we should be aware of @jgiardino ?

[2022-09-13 16:12] mceledonia commented on #1192
@smckinno Our chart tooltips actually are a separate implementation as they're packaged with Victory, our charting library, rather than utilizing the PatternFly tooltip component. [This does have support for colored legend squares](https://www.patternfly.org/v4/charts/tooltip-chart) which could be another design solution to what you're proposing. Do you think this would work for your use case?

[2022-09-16 01:36] nicolethoen opened #1194 "test issue"
## Requesting new features, enhancements, or design changes to PatternFly
- Describe the use cases and requirements of the new feature or enhancement you are requesting.
- Explain *why* this feature is needed and/or why these requirements cannot be met using existing components.
- If this is for specific applications, list them here along with any dates that you need this for.
- Link any detailed

[2022-09-16 01:36] #1194 closed

[2022-09-19 19:03] mmenestr opened #1195 "Review icon color usage [specifically inside inputs and dropdowns]"
I propose that we establish a more concrete pattern around icon colors. Currently, we have an established pattern for colors of stand alone icons, but not for color of icons used inside an input/dropdown/button. The reason I believe we should create some standard around this is that there has been some confusion around designers, and the guidance is not very clear right now.

After discussing with

[2022-09-19 20:00] #1089 closed

[2022-09-19 20:23] mcarrano commented on #1078
This looks like a duplicate of #1115. Will close this.

[2022-09-19 20:23] #1078 closed

[2022-09-20 12:38] smckinno commented on #1192
@mceledonia  That could work for this use case, thanks!

[2022-09-20 13:14] mcarrano commented on #968
Per discussion today with @mceledonia @lboehling @mmenestr we agreed this should be closed. If nav items are unavailable we should either hide or display and empty state.

[2022-09-20 13:14] #968 closed

[2022-09-22 15:55] mcarrano opened #1196 "Revisit design recommendations for animation"
A team of designers had previously looked at requirements for adding animated transition effects to PatternFly components. Their work is summarized [here](https://docs.google.com/document/d/1x8IiTnYEJm183STPdTWb0fcUxMFZCA9B0atnyFezRTs/edit?usp=sharing) and in this epic: https://github.com/patternfly/patternfly-design/issues/978

We should revisit and revise these recommendations as needed to prepa

[2022-09-22 16:40] mcarrano opened #1197 "Revisit visual affordance for expanded rows"
Want to revisit visual affordance placed on expanded rows in tables and data lists. The current blue border does not work well in all cases.

cc @lboehling Anything you would add here?

[2022-09-22 16:51] mcarrano commented on #1115
Let's make this update in the context of the next major release. Transferring to Core.

[2022-09-22 18:33] mcarrano opened #1198 "Replace icons with illustrations in Empty State"
Want to update the [Empty state component](https://www.patternfly.org/v4/components/empty-state) to include custom illustrations in place of large icons. We would offer a limited set of standard illustrations that consumers could choose from or add their own. Standard illustrations should cover most major use cases.

[2022-10-03 14:16] yannnz opened #1199 "Add popover for enabled tab"
### **Requirement**
The RHOAD design team has come across a use case that requires a popover in an enabled tab to provide additional description of the tab itself. The use case here is the Rulesets tab.

There are two proposed options to have the popover popped up: hovering or clicking the question-circle icon.

### **Design samples**

![Screen Shot](https://user-images.githubusercontent.com/10469

[2022-10-03 18:44] mcarrano opened #1200 "Update PF design kit with major release changes"
The PF Sketch design kit will require updating to incorporate design changes made for the PF major release.

[2022-10-06 16:46] mcoker opened #1216 "Tree view - layout and clickable area issues"
* `.pf-c-tree-view__action` (actions at the end of the row/node) should be a flex layout to remove space between actions. This would still allow users to pass a flex layout there if they want to control the spacing.
* The node toggle element should be a container with a plain button component inside instead of a button itself.

Would like others/design feedback on these - cc @mmenestr @mceledonia

[2022-10-06 19:49] mcarrano commented on #1149
@lboehling I can take things from here and generate the required PR. Do you also have the updated `icon-exporter.sketch` file?

[2022-10-06 20:28] Misjohns opened #1201 "Color variant of the spinner when on backdrop"
## Requesting new features, enhancements, or design changes to PatternFly
Enhancement to the existing [backdrop with spinner](https://www.patternfly.org/v4/components/backdrop#with-spinner) pattern. The current implementation uses a #0066C spinner on a #030303, .62 backdrop. The contrast ratio is only 1.07:1, WCAG 2.1 requires a contrast ratio of at least 3:1 for graphics and user interface compon

[2022-10-06 20:28] Misjohns opened #1220 "Color variant of the spinner when on backdrop"
## Requesting new features, enhancements, or design changes to PatternFly
Enhancement to the existing [backdrop with spinner](https://www.patternfly.org/v4/components/backdrop#with-spinner) pattern. The current implementation uses a #0066C spinner on a #030303, .62 backdrop. The contrast ratio is only 1.07:1, WCAG 2.1 requires a contrast ratio of at least 3:1 for graphics and user interface compon

[2022-10-09 16:08] jhiadlov commented on #1140
I added Red Hat Mono font to the text style in sizes 12, 14, and 16. Also 2 color variations for white and black backgrounds. I updated the numbers in tables with RH Mono in the template file.

[2022-10-12 16:31] mcoker opened #1204 "Dark theme - surface colors that represent elevation"
We have `background-color-300` that we use for things that float on top of other things - drawer panel, menu, popover, tooltip, etc.

As mentioned in office hours, it may also be useful to have some sort of similar indication for things like sticky elements which float in a similar way to a drawer panel - eg, page sections, table headers, toolbars, etc. Or maybe things like (non-flat) cards, and a

[2022-10-13 15:38] mcarrano commented on #1149
A PR has been opened to add this icon to the core icon set and the design repo is updated. Will close.

[2022-10-13 15:38] #1149 closed

[2022-10-14 16:55] edonehoo commented on #1189
So what I was envisioning was something like this:
<img width="690" alt="image" src="https://user-images.githubusercontent.com/105813956/195897728-af378071-cde0-41f5-814d-eab938accb80.png">

- Everything would start as expanded, users can click the headings/component titles to collapse as needed
- Clicking a specific component link in the TOC would open a component table if it was already manually

[2022-10-14 17:55] mcarrano commented on #1189
@edonehoo This is looking good. Just a couple of questions/thoughts:

* We don't really have an expandable section/header like this in our library but perhaps we should. @evwilkin would we be able to implement this on the website with existing components or would it require something new/custom?
* Given your mockup, I wasn't sure whether this is just intended for Props sections or for everything o

[2022-10-18 13:34] jamestalton opened #1212 "Colors - PF colors for severity levels"

[2022-10-18 13:34] jamestalton opened #1219 "Colors - PF colors for severity levels"
Several products need colors to indicate severity levels.
Instead of the products each defining these separately PF should provide those colors.
That way that can be used for icons, text, and charts consistently.
In addition, PF can adjust the colors for the PF dark theme.

Different use cases might have a different number of severity levels, usually 3, 4 or 5.

Examples: Lowest, Low, MediumLow, M

[2022-10-20 13:55] garrett opened #1215 "Bug - Page headers - inconsistent with shadow, no shadow, border, no border"

[2022-10-20 20:40] mcarrano opened #1205 "Toggle components between light and dark themes"
on the patternfly.org website, We currently don't have a good way to toggle component previews between light and dark themes. Start with considering what the ideal interaction would be and what visual issues might occur in previewing dark theme components. Provide moockups to describe the interaction.

[2022-10-24 17:09] nicolethoen opened #1206 "test"

[2022-10-24 17:10] #1206 closed

[2022-10-27 14:27] mcarrano commented on #1140
@jhiadlov thank you for your work on this. I don't think there's anything further to do at this time, but @mceledonia can you take a look at this issue in general and let me know if you think this is something we need to add to our typography guidance?

[2022-10-27 19:46] lboehling commented on #1197
@tiyiprh some background for this issue:

We did try to solve for this in the past but there were some issues when implementing and decided to revert back (https://github.com/patternfly/patternfly-design-kit/issues/222), but I think it's worth revisiting. I'm question whether the expanded rows need a left blue border at all -- it competes with our selected row state which also uses a blue border a

[2022-10-27 20:42] tiyiprh commented on #1198
- Updated [design guidelines doc](https://docs.google.com/document/d/1QeWaZQW8jO1VsIoB0jNE18IfiCjsARa2B8N5eN8Vos0/edit#heading=h.f1i9r3kx92gy) with new empty states
- Icons are from the [RH Brand Assets Library Standard Icons](https://drive.google.com/drive/folders/1YMP7wtoWgSAovc4OuMHdUZwVqwjnvwPg)

Recommended icons:
- Generic empty state: [Community icon](https://drive.google.com/drive/folders/

[2022-10-27 23:29] nlcwong opened #1207 "Tree table to include sort, horizontal scrolling, and sticky column"
## Requesting enhancements to tree table component

Use case:

For the Hybrid Committed Spend program, we need a way to show the cost of the users' Red Hat spend by grouping them in departments and from there a list of products that summed up that spend per department. To accomplish this, we would like to use a tree table to show the relationship of the departments, but then provide the user with

[2022-10-31 19:22] mcarrano opened #1208 "Test new feature request"
## Requesting new features, enhancements, or design changes to PatternFly
- Describe the use cases and requirements of the new feature or enhancement you are requesting.
- Explain *why* this feature is needed and/or why these requirements cannot be met using existing components.
- If this is for specific applications, list them here along with any dates that you need this for.
- Link any detailed

[2022-11-01 15:14] mcarrano commented on #1154
@zhenpesky I'm assigning this issue out to you per out discussion yesterday. Feel free to add updates here as you work on this. Thanks for taking this on.

[2022-11-01 21:28] tiyiprh commented on #1197
@mcarrano @lboehling Sorry just getting to this issue now! Would you be able to provide some more insight on the issues with implementing the previous proposed solution? Thanks!

[2022-11-03 15:56] mcarrano commented on #1197
For reference. Here are some earlier designs from @lboehling : https://marvelapp.com/prototype/2380g666/screen/69239260

[2022-11-03 16:02] mcarrano commented on #1198
Opened https://github.com/patternfly/patternfly-org/issues/3273 to update design docs. Want to hold on update until this change is made in v5 release.

[2022-11-03 18:33] mcarrano commented on #1174
We will add design guidance to reflect our recommendations. https://github.com/patternfly/patternfly-org/issues/3267 is opened to track that. @mmenestr can you add a link to your recommendations here and I will close this design issue. Thanks.

[2022-11-03 19:04] mmenestr commented on #1174
Recommendations at bottom of this [doc](https://docs.google.com/document/d/1TA6uBuNIyA5F1X2rmz0pSUs0vkc7TYT1Rp-_fkQg-xo/edit).

[2022-11-03 21:03] #1174 closed

[2022-11-04 18:06] mcarrano opened #1284 "Empty state - replace icons with brand illustrations"
Want to replace the existing PF-Icons coming from our icons set with illustrations pulled from the [RH Brand Asset Library](https://drive.google.com/drive/folders/1YMP7wtoWgSAovc4OuMHdUZwVqwjnvwPg). Want to do this in a way that allows products that use the existing icons to maintain those icons but changes the default for PatternFly v5 and forward. Design issue with more detail here: https://gith

[2022-11-04 18:07] mcarrano commented on #1198
Thanks @mcarrano for your work on this. Opened https://github.com/patternfly/patternfly/issues/5217 to begin development.

[2022-11-04 18:07] #1198 closed

[2022-11-08 14:19] lclay2 opened #1209 "[New pattern request] Clock widget to compliment the "calendar-month" component"
**Requesting new feature**
- Requesting a clock widget to compliment the "calendar-month" component.
- The general use case is offering Date/Time settings during an installation. The date/time can be inferred from the system. The user will review the proposed current date and time, and accept it if it’s accurate or they will need to adjust it to arrive at the correct date/time.
- To enable the use

[2022-11-09 21:55] jgiardino opened #1210 "[new icon] processor"
I'm working on a project where a user can create a processor for handling events coming in from a source before the event payload is routed to a sink (i.e. a target destination, like sending a slack message or running an ansible playbook).

@lboehling recently created icons that we can use for sources and sinks, so having a processor icon that is visually similar would be ideal:
https://github.com

[2022-11-10 14:39] edonehoo commented on #1189
@mcarrano RE "Given your mockup, I wasn't sure whether this is just intended for Props sections or for everything on the page." - personally I was just thinking that this would be useful for the props section because that's what I found myself wanting as I used the site. But the argument surely could be made for more page sections too. It'd be interesting to see what others think.

And your third

[2022-11-10 17:41] mcarrano opened #1211 "Reconsider click, select, and expand afforances for cards, lists, tiles, and tables"
The current PatternFly 4 visual affordances for indicating selection and expansion for [cards](https://www.patternfly.org/v4/components/card), [lists](https://www.patternfly.org/v4/components/data-list), [tiles](https://www.patternfly.org/v4/components/tile), and [tables](https://www.patternfly.org/v4/components/table) have been problematic. Some current issues include:

* Current designs are not

[2022-11-10 17:44] mcarrano commented on #1211
@pankajshivpuje @tiyiprh I have opened this new issue and assigned to both of you to work together on a more consistent approach that spans components. I will close the existing issues assigned to you. Let me know if you have any questions.

[2022-11-10 17:44] mcarrano commented on #1197
Closing this in favor of https://github.com/patternfly/patternfly-design/issues/1211

[2022-11-10 17:44] #1197 closed

[2022-11-10 17:45] mcarrano commented on #1142
Closing this in favor of https://github.com/patternfly/patternfly-design/issues/1211

[2022-11-10 17:45] #1142 closed

[2022-11-10 22:10] JustinXHale commented on #995
I've updated the prototype
[Figma Prototype](https://www.figma.com/proto/XLVyWWRD1IlW1eFSSWzQTw/Animated-Banner?node-id=143%3A522&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=143%3A425&show-proto-sidebar=1) | [Figma Board](https://www.figma.com/file/XLVyWWRD1IlW1eFSSWzQTw/Animated-Banner?node-id=7%3A41)

![image](https://user-images.githubusercontent.com/91554933/201215638-f2cf084a-8021-4

[2022-11-11 14:31] mcarrano commented on #995
@JustinXHale Thanks for posting this spec. I think this looks great.

@mcoker @srambach how do you want to handle this? I know we have a larger issue to look at animations for PatternFly 5. We should include this in the mix. Do you want be to open a core issue specifically for this update or roll it into an existing issue/epic?

cc @mceledonia

[2022-11-11 15:12] srambach commented on #995
From my perspective, it would be nice to have separate issues for implementation collected in to this epic https://github.com/patternfly/patternfly/issues/4979

[2022-11-15 01:43] evwilkin commented on #1189
We can get near this using the Expandable Section component as seen in the screenshot below.  This does maintain the full listing of jump links, but would require adjustments to jump links to track scrolling correctly for sections hidden when collapsed.  Additional layout/styling adjustments would need to be considered to determine how the expandable toggle and header link should display as they c

[2022-11-15 01:43] #1189 closed

[2022-11-15 21:28] mcoker commented on #1212
To add to this, I think we should consider all of the types of states we want to be able to support and theme, as well as simple uses of colors that may overlap with states. For example, for "red" things, we have:

* "red" as a literal variation - labels and banners
* "invalid" - an invalid value for a form element
* "error" - something bad happened, an error alert for example
* "attention" - noth

[2022-11-16 19:58] #995 closed

[2022-11-16 20:10] mcarrano opened #1214 "Add data-sink and data-source icons to repo and PF website"
Update SVG folder and Icon Exporter file to add these new icons. Updated icon exporter file: https://rhux.slack.com/files/UF8L5QWKS/F04ABFASQQ4/icon-exporter.sketch

[2022-11-17 20:33] lboehling commented on #1178
Next steps identified for this work would be to enhance our design guidelines for the existing layouts. I opened an issue for updating the design guidelines here https://github.com/patternfly/patternfly-org/issues/3283.

FYI @mcarrano @mmenestr

[2022-11-17 22:06] mcarrano commented on #1178
Thanks for your efforts on this @lboehling . I will close in favor of the new issue above.

[2022-11-17 22:06] #1178 closed

[2022-11-18 15:12] pankajshivpuje commented on #1163
Here are the latest proposal for [delete confirmation modal](https://docs.google.com/document/d/1l8BDhnNeXEQlFWus1dUbdgoFKZcHhVHYS_MlznKonOc/edit#)

[2022-11-21 18:43] mcarrano commented on #988
We will stick with the current functionality. Seems complex and has not been highlighted as a problem.

[2022-11-21 18:43] #988 closed

[2022-11-21 18:44] #987 closed

[2022-11-21 18:48] mcarrano commented on #985
Covered here for inclusion with PatternFly 5: https://docs.google.com/spreadsheets/d/1jjm2nXvqLsObuhSZ-cbII7d22WQ98W5r1ycC9BwJCIk/edit?usp=sharing

[2022-11-22 15:50] heyethankim commented on #1136
ACM chart color combination research (November 2022):
https://docs.google.com/presentation/d/1ZiDAXhEUE-PaX408mEkC70O4sCb78oxQ3kX5SrpibUo/edit#slide=id.g547716335e_0_220

[2022-11-28 18:41] #1192 closed

[2022-11-29 21:09] mcarrano commented on #1212
@mcoker @mceledonia Should we be considering this as part of our global variable refresh?