[2020-12-02 10:57] ssbarnea commented on #955
I am afraid that an interactive console is totally different that what I describe here. If what I seen as react-console is more of a react-tty which will never be able to cover for "log viewing". A terminal(TTY) has a fixed/limited number of lines, a web page does not.

I  hope that I described the use-case well enough, the expectation is to have a pre-like component which renders text quickly and

[2020-12-02 14:11] ajacobs21e commented on #881
@maryshak1996 it's perfect!

[2020-12-02 19:09] ajacobs21e commented on #957
IBM uses purple-600

[2020-12-02 19:50] mcarrano commented on #753
@mcoker When you get a chance, please take a look at Mary's designs and let us know if you see any issues: https://marvelapp.com/prototype/bd077ag

[2020-12-02 21:59] mcarrano commented on #859
Latest topology mocks (WIP) from @mceledonia for review: https://marvelapp.com/prototype/2738eg76/screen/75141013

[2020-12-03 13:27] doruskova commented on #868
@mcarrano Here's the updated mock with example https://marvelapp.com/prototype/963bhhh/section/1210399

[2020-12-03 13:27] doruskova commented on #880
@mcarrano Here's an updated mock with an example https://marvelapp.com/prototype/963bhhh/section/1210399

[2020-12-03 14:44] doruskova commented on #880
@mcarrano updated mock that we agreed on at the meeting https://marvelapp.com/prototype/963bhhh/section/1210399

[2020-12-03 14:44] doruskova commented on #868
@mcarrano updated mock that we agreed on at the meeting https://marvelapp.com/prototype/963bhhh/section/1210399

[2020-12-03 15:22] mcarrano commented on #880
Thanks @doruskova Can you also add here the proposed change for the light theme popover (i.e. heavier shadow we proposed)?

[2020-12-03 16:03] doruskova commented on #880
@mcarrano I think that we need to discuss it again because the last proposal to use a grey 600 is not working in the popover in combination with labels. Labels are using grey 600. That's why I used grey 700.

[2020-12-03 19:16] #943 closed

[2020-12-03 19:50] mcarrano commented on #952
Transferring this to React to add a new Prop and will get this on the roadmap.

[2020-12-03 19:59] mcarrano commented on #957
Makes sense to support this as an opt-in at a global level for standard text links, only. But would not want this to be default behavior as it might not make so much sense for product.

[2020-12-03 20:08] mcarrano commented on #950
I am going to close out this design issue as it seems like these responsive toolbar issues are being explored as part of this PR: https://github.com/patternfly/patternfly-react/pull/5196

[2020-12-03 20:08] #950 closed

[2020-12-03 20:13] mcarrano commented on #945
Per discussion with @mcoker and @mceledonia we decided that it makes sense to support pop-over alert types similar to modal alert as seem here: https://www.patternfly.org/v4/components/modal/html#default-alert  Should include an icon + colored text in popover header for accessibility. Border treatment seems unnecessary.

I will add this to our roadmap.

[2020-12-03 20:20] mcarrano commented on #936
@jgiardino did the suggestion from @mcoker address this? If so, can I close this out?

[2020-12-03 20:28] mcarrano commented on #932
@maryshak1996 I have moved this to our design backlog for further consideration. After discussing with @mceledonia it's not clear that placing a show/hide control in the toolbar is the best approach. We were thinking about perhaps making the filter panel a collapsible/resizable panel like a drawer. Let's discuss.

[2020-12-03 21:57] jgiardino commented on #936
Yes, @mcarrano. And thanks for the suggestion, @mcoker. I'm good with handling this within the app vs building it into the component.

[2020-12-03 21:57] #936 closed

[2020-12-03 22:01] mcarrano commented on #951
@tlabaj any reason we couldn't add the option to trigger a popover on hover vs click? I think providing that flexibility would be the best way to address this request.

[2020-12-03 22:24] mcarrano commented on #925
@jgiardino @lboehling Do we still need to keep this open? Is there any action you are looking for from PatternFly at this point?

[2020-12-04 20:59] mcarrano commented on #955
@ssbernea thanks for clarifying. Now I think I understand what you are looking for. I will check across projects to see if we can capture requirements and get this onto our PatternFly roadmap.

[2020-12-07 15:51] beccaglass commented on #937
@mcarrano mocked up options here: https://marvelapp.com/prototype/2754jdc6/screen/75277643

Let me know what you think!

[2020-12-07 16:15] mcarrano commented on #759
I think that your proposal makes sense @mmenestr . Sorry it took so long to reply! I think that having the badges left-aligned after the label makes more sense because it reinforces the association. @mceledonia can you also take a look and let us know what you think?

[2020-12-07 18:51] maryshak1996 commented on #881
@mcarrano made the updates mentioned in the last PF design sync:
- Indicated Hover + Default on the mockup
- Made the icon color use the standard icon color (bit darker grey)

[2020-12-07 18:56] mcarrano commented on #881
Looks good @maryshak1996 .

@mceledonia can you also verify?

[2020-12-07 19:14] mcoker commented on #753
@mcarrano this mostly looks OK to me. As custom demos, it should be fine, it's just worth noting that labels are taller than regular text line-height, so they may change the space of the element they're placed in. For example, when used in a card title:

Title is 64px tall without a label:
<img width="325" alt="Screen Shot 2020-12-07 at 1 10 25 PM" src="https://user-images.githubusercontent.com/35

[2020-12-07 20:57] mcarrano commented on #753
That's a good catch @mcoker . Is there any reason for the labels to be inside a text area? Could we just have a Label Group here and add or remove labels from the group?

[2020-12-07 21:22] mcarrano commented on #964
@goern @pacospace to just follow up on @evwilkin 's point, we could assign a PatternFly designer to work with you in defining an email template that follows PatternFly styling guidelines, but it would be left for you to implement this. If you want to go in this direction, it would help to understand more about what you need to see in this template. Do you have any type of preliminary design or lay

[2020-12-07 21:45] bmignano commented on #753
@mcarrano we included labels inside a text area because that's a use case in OpenShift that we have today. We haven't moved over to PF labels yet which is probably why I hadn't run into this issue before :). This is how we allow users to add and delete labels. @mcoker what would be the best way to try to replicate this interaction given this constraint?
![edit-labels](https://user-images.githubuse

[2020-12-07 23:58] mcoker commented on #753
@bmignano from your screenshot above, one way to do it would be to create a fake "textarea" form control component variation, using a regular `<div>` with `contenteditable` and `resize` properties to mimic the HTML native `textarea`. From there, you can put whatever you want in it.

Using that, I created this demo using the label group component and placing a custom text input in the label group a

[2020-12-08 05:57] nding-anges opened #965 "Wizard -Required Steps Indication Guidance"
We're hoping to get some more guidance/clarification on the indication of the required steps within the wizard.
When creating a connector in Debezium, only the first two steps in the wizard are required for users to complete a configuration and the last three steps are optional. So there is a requirement to indicate the required steps on the wizard.
The current design is using the asterisk (*) as

[2020-12-08 08:24] pacospace commented on #964
Hi @mcarrano we have one component that create reports and send them by email: https://github.com/thoth-station/slo-reporter

you can run locally after cloning the repo:

[code]
and the result will be shown in the browser.

This is an example of the HTML produced:

[code]

but the same result cannot be visualized in gmail mail:

![Screenshot from 2020-12-08 09-23-09](https://user-images.githubuser

[2020-12-08 14:13] doruskova commented on #940
@mcarrano Adding an update [here](https://marvelapp.com/prototype/963bhhh/section/1215235)

[2020-12-08 16:19] mcarrano commented on #940
Thanks @doruskova . Let's review when we meet this week.

cc @mceledonia @mcoker

[2020-12-08 16:46] mcarrano commented on #753
@mcoker I'm wondering if we should extend the Label Group component to encapsulate this functionality. What do you think?

[2020-12-08 16:53] mcoker commented on #753
@mcarrano like an editable label group? I think that would work. We could also see if it makes sense to support in the inline edit component.

[2020-12-08 17:08] mcarrano commented on #965
@nding-anges We currently do not have a way to indicate required steps in a wizard as you are showing in this design. While it is not documented anywhere, the approach that I've see others take is rather that marking steps as required, you can include a button to skip the optional steps that appears after the user completes the first two steps. I had earlier discussed this approach with @lboehling

[2020-12-08 20:40] lboehling opened #966 "Enhancement for Labels: Add spinner"
Can we add support for placing a spinner within the label component? This would greatly help with "in progress" status labels.

[2020-12-08 21:18] mcarrano commented on #753
Yes, I think an editable Label Group would make sense. @maryshak1996 @bmignano perhaps you can spec that out as a new component in the design mocks? I think this is pretty straight forward, but there may be some design considerations I'm not thinking of.  Thanks.

[2020-12-08 21:33] mcarrano commented on #966
@mcoker @tlabaj could this work now by just replacing the icon with a spinner component by passing in in via a prop?

[2020-12-09 13:53] yih-wang commented on #771
Hi @mcarrano, I just had a discussion with the engineering team. We still need this component and it's better to have that before February 2021. As we'll apply this search feature in the release next year.

The Search input component is not suitable for our use cases because we cannot support real-time searching. And we do need multiple attributes as limitations in one search.

[2020-12-09 15:14] mturley commented on #949
Probably getting ahead of myself, but just a thought for later: once this gets to the React implementation stage, we should consider not integrating it directly with the bare TextInput component and maybe instead providing a validation helper function and some separate component to display the results. If it's built into the field component I anticipate that conflicting with (or being redundant wi

[2020-12-09 15:14] mceledonia commented on #949
Wanted to add a quick change to @jknilans version above since it already seemed to use FA icons -

<img width="524" alt="image" src="https://user-images.githubusercontent.com/30935938/101647694-08197400-3a07-11eb-9da2-052210e4f2ce.png">

Using secondary text color to create emphasis on remaining/incomplete items. The idea being that once you did them they are less relevant than those which are inc

[2020-12-09 15:59] mcarrano commented on #771
@yih-wang I took another look at your designs. We can modify the Search Input to only trigger the search when you click the search button (not real-time searching), and drop down a panel when you can construct any search form you want for advanced searching. Parsing the contents of a search string in the form of an attribute-value pair would be the responsibility of the application using this, I t

[2020-12-09 19:05] mcoker commented on #966
@mcarrano currently it only works with a small spinner. We would need to make a change to get it to work with a medium spinner.

small
![Dec-09-2020 12-45-38](https://user-images.githubusercontent.com/35148959/101675316-4458ce80-3a1f-11eb-9daa-2f26e0bfdf8d.gif)

medium

![Dec-09-2020 13-05-19](https://user-images.githubusercontent.com/35148959/101675322-46bb2880-3a1f-11eb-87f5-db65f10dc726.gif)

[2020-12-09 19:26] mcarrano commented on #772
Let's consider this as an enhancement for description lists.

[2020-12-09 20:04] #768 closed

[2020-12-09 20:04] #884 closed

[2020-12-09 20:07] #905 closed

[2020-12-09 20:57] mcarrano opened #967 "Update filled labels to work on a gray background"
Filled labels need a border to be differentiated when used against a gray background. See comments here for more discussion: https://marvelapp.com/prototype/bd077ag

[2020-12-09 21:00] mcarrano commented on #753
I am going to mark this as complete and have opened the following new issues:

* https://github.com/patternfly/patternfly/issues/3741 to introduce an editable Label Group.
* https://github.com/patternfly/patternfly/issues/3742 to introduce a Labels demo per these designs.
* https://github.com/patternfly/patternfly-design/issues/967 to update filled label designs to work against a gray background.

[2020-12-09 21:16] mceledonia commented on #881
Looks good to me, thanks @maryshak1996 @mcarrano !

[2020-12-09 21:22] mcarrano commented on #881
Opened https://github.com/patternfly/patternfly/issues/3743 for core implementation. Thanks @maryshak1996 !

[2020-12-09 21:49] mcarrano commented on #966
I think that using a small spinner is sufficient. What do you think @lboehling ?

[2020-12-10 15:24] mcarrano commented on #955
Attaching this Google doc as a place to capture cross-project requirements: https://docs.google.com/document/d/1AnOzU-1jm6wV_sDNJkjObKF5lASLlj5dT1-wrP_gjKQ/edit?usp=sharing  Feel free to add requirements, use cases, or examples, as needed.

[2020-12-10 19:00] matthewcarleton opened #969 "Enhance selected state for cards"
We've been using the selected state for cards and have heard feedback that it's not obvious enough that the card is selected.
I wonder if we could solve this by just adding a border around the whole card rather than just the top.

This seems to be related to the discussion that happened here: patternfly/patternfly#2470
 FYI @gdoyle1

[2020-12-10 19:06] mceledonia commented on #969
@matthewcarleton Can you drop some quick screenshots of them in the product context? Or send them to me in slack if there's sensitive information.

[2020-12-10 19:24] gdoyle1 commented on #969
Here's what it looks like in the OCM wizard for reference: @mceledonia

![image](https://user-images.githubusercontent.com/30870144/101819564-6e7bc080-3af3-11eb-9b50-3ae9be107c6a.png)

[2020-12-11 04:07] yih-wang commented on #771
@mcarrano That sounds great! Thanks! The timeline makes sense as that I meant before Feb ends. If you need any f2f discussion, feel free to find a time in my calendar :)

[2020-12-11 14:54] #946 closed

[2020-12-11 14:55] #942 closed

[2020-12-11 14:55] #938 closed

[2020-12-11 14:56] #953 closed

[2020-12-11 14:56] #959 closed

[2020-12-11 14:56] #868 closed

[2020-12-11 15:00] mceledonia commented on #939
![image](https://user-images.githubusercontent.com/30935938/101918680-a3415380-3b97-11eb-9cdb-ff37720264c0.png)

Badge styling

Default
Fill - #36373A
Text - #FFFFFF

Unread
Same as regular theme!

[2020-12-11 17:25] mcarrano commented on #771
@yih-wang I've done some work on the design with the goal of getting this into our January milestone to begin work on implementation. I would like to extend the existing Search input component to cover your use case as I think this is the natural placement of this. Here is a link to my preliminary design: https://marvelapp.com/prototype/276i4086/screen/75410726

Let me know if this works, If we ne

[2020-12-11 18:09] ajacobs21e commented on #792
horizontal jump links demo from redhat.com https://xd.adobe.com/view/0455e4fb-7d1f-4d15-9b63-1c10fb6979bc-5106/

[2020-12-12 13:54] matthewcarleton opened #970 "Back to top component"
For pages that have a lot of content, it would be nice to drop in a back to top component.
In OCP there are quite a few pages that could use this.

[2020-12-14 16:21] #886 closed

[2020-12-14 16:36] mcarrano commented on #970
@matthewcarleton do you have any designs for this? Couldn't this be accomplished by just adding a button or link in the page that navigates back to the h1 heading at the top of the page? Unclear why we would need a new component.

[2020-12-14 18:28] matthewcarleton commented on #970
We don't have a design for it. It did strike me as something that PF could deliver because we could have a consistent icon as well as any scrolling animation that would be applied. You could just have a simple "Back to the top" anchor that takes you back to the top but it would be nice to have a more polished/consistent element across the different products.

[2020-12-14 20:31] mcarrano commented on #937
Thanks for updating @beccaglass . @mcoker @mceledonia @kmcfaul please give this another look and let us know if you see any more issues. What changes do you think we might need on the core and/or React implementation to realize this behavior?

[2020-12-14 20:42] mcoker commented on #937
@mcarrano seems straight forward to me. On the core side, looks like we just need to [update the drag icon alignment](https://github.com/patternfly/patternfly/issues/3712) and the ghost row styles.

[2020-12-14 21:31] mmenestr commented on #931
I don't have much background on this issue, but I just want to mention that the example that's linked to in this issue isn't really a normal tree-view because the content inside the expansion is "on-par" with the content in the rest of the rows in the table.

In other words, I usually think of the items inside a tree view folder as subsets of its parents, unrelated to the rest of the folders/or it

[2020-12-14 21:33] mmenestr commented on #931
I left a comment and then deleted it after studying the example a little bit more - so please ignore haha

[2020-12-15 17:14] gdoyle1 opened #971 "Improve distinction of interactive vs. non-interactive lables"
Today, it's difficult to distinguish if a label is clickable or not. In OpenShift, we are trying to come up with some conventions to make that distinction more clear. We originally were thinking of only using outlined labels for non-interactive cases and filled labels for interactive cases... but even the outline/fill styles don't seem like they're enough to make it clear that the label is interac

[2020-12-15 20:35] mcarrano commented on #771
Preliminary design options for review and comment: https://marvelapp.com/prototype/276i4086

[2020-12-16 15:37] evwilkin commented on #955
@mcarrano FYI OpenShift is currently testing an [existing logger vs custom building their own solution](https://github.com/redhatinsights/logger-demo), we will work with them to get a demo of their progress in the new year. Juntao has been working on building a [toolbar example for the logger](https://github.com/patternfly/patternfly-react/issues/5174) in PatternFly as well. We may be able to comb

[2020-12-16 18:40] bmignano commented on #971
Agree that we need a way to distinguish clickable and non-clickable labels! We use labels fairly frequently throughout the OpenShift console and there's no way to know if you can interact with them unless you hover over each one individually.

A couple thoughts to consider on the suggestion above:
* The Update label on Chrome opens a menu, so I think the kebab makes sense there. But if we use that

[2020-12-16 19:06] mcarrano commented on #971
I think this is something we can consider, however I agree with @bmignano that the kebob is not the best choice here. @maryshak1996 can you take a look at this and let us know if you have any ideas? Since you are re-thinking visual design of the labels, I think it would be good to throw this request into the mix.

cc @mceledonia

[2020-12-16 21:14] mcarrano commented on #927
@mceledonia @ajacobs21e I discussed these options today with @mcoker . The second option (show/hide icon at right of the field) would be easy to implement. We could add a tooltip to make this more discoverable if needed. The preferred option with the "Show password" action right-aligned in the space below the field could potentially cause wrapping issues if the text associated with the checkbox we

[2020-12-16 21:29] ajacobs21e commented on #927
Icon it is!

https://www.sketch.com/s/b6e64fc8-2a0c-4c7f-9cd6-87e2c3679d80/a/vVb49e

[2020-12-17 01:39] mcarrano commented on #771
@yih-wang I made some updates to accommodate feedback from the meeting today. Here is the latest set of designs: https://marvelapp.com/prototype/276i4086  Let me know if this will work for you. Next steps will be to review with our technical team. I'd like to get this into the development sprint that starts after the US shutdown.

@mceledonia it would be good if you can also take a look. The only

[2020-12-17 13:01] yih-wang commented on #771
@mcarrano Thanks for the updates! The designs look great! I left some comments on the wireframe. The timeline sounds good to me, thanks!

[2020-12-17 14:57] mcarrano commented on #972
@marshmalien @trahman73 Looks like this request had gotten lost in the pile. Sorry about that. Is this still something you need for Tower?

There is a similar issue that I am working on now (https://github.com/patternfly/patternfly-design/issues/771). Here are some proposed designs: https://marvelapp.com/prototype/276i4086/screen/75508504  This does not have all of the features that you list, but

[2020-12-17 15:44] mceledonia commented on #954
@mcarrano @doruskova @mcoker

<img width="747" alt="image" src="https://user-images.githubusercontent.com/30935938/102509704-d92d7e80-4054-11eb-93d6-c9021dcc066d.png">

[2020-12-17 15:45] doruskova commented on #954
@mceledonia Looks great!

[2020-12-17 15:47] mcarrano commented on #927
Let's go with the icon approach then. For implementation, besides creating a new Login page variant, it occurs to be that we will need to add this icon to our icons set as it does not exist there now. Looks like we will want to use 'fa-eye' to show the password and 'fa-eye-slash' to hide it. @mcoker @bdellasc can you remind me what versions of font awesome icons we package? far vs fas?

[2020-12-17 15:58] mceledonia commented on #948
Here are some headers from the topology work and a conversion to dark theme, they use 14px menu items though so I might need to update that or propose it as an additional change.

<img width="622" alt="image" src="https://user-images.githubusercontent.com/30935938/102511387-bb611900-4056-11eb-98e6-c65eba412483.png">

@mcarrano @doruskova @mcoker

[2020-12-17 16:12] doruskova commented on #880
@mcarrano Updated design here > need a feedback https://marvelapp.com/prototype/963bhhh/screen/75172511

[2020-12-17 16:13] #939 closed

[2020-12-17 16:13] mcarrano commented on #939
Looks good @mceledonia

[2020-12-17 16:16] mcarrano commented on #954
Thanks @mceledonia !

[2020-12-17 16:16] #954 closed

[2020-12-17 16:41] mcarrano commented on #940
Need one more iteration on the red banner.

[2020-12-17 16:46] mcarrano opened #973 "Update popover shadow for better visibility"
As part of the work on defining a dark theme popover, we identified an opportunity to make Popover on a light background be more easily differentiated from the background. Even though this is visually breaking, we believe all users will benefit.

Designs here: https://marvelapp.com/prototype/963bhhh/screen/75172511

cc @doruskova @mceledonia

[2020-12-17 16:47] mcarrano commented on #880
I have opened https://github.com/patternfly/patternfly-design/issues/973 to track proposed changes to the light theme popover and will mark this as complete.

[2020-12-17 16:47] #880 closed

[2020-12-17 16:54] mcarrano opened #974 "Update menu section header style for better readability"
During the work on dark theming we identified an opportunity to improve the readability of all menu section headers to better differentiate them from them menu items themselves. This is a visual breaking change that we believe will benefit all users.

![image.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/48aac706-f5c7-46a5-baef-061f7ff131a8)

cc @mceledonia

[2020-12-17 16:56] mcarrano commented on #948
I have opened https://github.com/patternfly/patternfly-design/issues/974 to also propose this update for light theme components using grouped menu items and will mark this issue as complete.

[2020-12-17 16:56] #948 closed

[2020-12-17 18:45] mcarrano commented on #937
Opned https://github.com/patternfly/patternfly/issues/3765 to begin core implementation of this demo. Thanks for you work on this @beccaglass !

[2020-12-18 14:45] bdellasc commented on #927
I believe fas is included automatically in the toolkit while far has to be specifically chosen by the consumer. @mcoker or @evwilkin can weigh in/correct me if my recollection is wrong.

[2020-12-18 15:28] mmenestr commented on #915
Here is a marvel project I created with filter demo proposals: https://marvelapp.com/prototype/7i0dj2d
Let me know what you think!
Tried to have one demo per filter type mention in the design guidelines.

[2020-12-18 16:36] mcarrano commented on #927
I have opened https://github.com/patternfly/patternfly/issues/3770 for core implementation.

[2020-12-18 16:51] mcarrano commented on #771
Opened https://github.com/patternfly/patternfly/issues/3771 to begin core implementation.

[2020-12-18 19:12] evwilkin opened #975 "Wizard: Add enhancement to swap Next & Back buttons"
OCS is using PF Wizard and are looking to reverse the placement of the Next and Back buttons:
- https://bugzilla.redhat.com/show_bug.cgi?id=1909121

[2020-12-18 19:18] evwilkin commented on #975
@mcarrano replied directly to request:

[2020-12-18 19:18] #975 closed

[2020-12-18 21:18] mcarrano commented on #915
Thanks @mmenestr This should be all set!

[2020-12-18 21:21] mcarrano opened #1085 "Filter demos"
Create demos of various filtering use cases based on the designs here: https://marvelapp.com/prototype/7i0dj2d

[2021-01-04 18:44] lboehling commented on #966
+1, I'm fine with the small spinner! @mcarrano @mcoker

[2021-01-04 19:08] lboehling opened #976 "Inline editable card"
There are multiple “editor” experiences in the app services space that need a more efficient inline editing/edit mode behavior than what is currently supported in PF.

We’ve come up with a design solution that we like for edit mode but want to bring this over to PF for further input/design exploration. The main value of our proposal is that it gives users 1) the ability to quickly scan existing co

[2021-01-04 19:23] mcarrano commented on #966
Sounds good @lboehling . Can I close this issue out then? @maryshak1996 do you think it would be worth adding this as a demo use case?

[2021-01-05 15:34] mcarrano commented on #878
Reviewed this again and I think this would make a good PatternFly demo for building a full page web search. Will look to get this on the roadmap for sometime later in 2021.

[2021-01-05 15:43] mcarrano commented on #892
@mceledonia I've assigned this to you for further consideration. Seems like there are some accessibility considerations and we should decide if this is something we want to get on the PatternFly roadmap or if there are alternate approaches.

[2021-01-05 16:03] amysueg commented on #965
I think that the recommendation to add the Finish button after the user completes the required steps is the right way to go, and I agree with @mcarrano  that we should add that to the documentation/guidelines for Wizards. Thanks for bringing this up, @nding-anges

[2021-01-05 16:11] mcarrano commented on #965
Thanks @amysueg . I have opened https://github.com/patternfly/patternfly-org/issues/2335 to track requested documentation updates and will close this out.

[2021-01-05 16:11] #965 closed

[2021-01-05 18:57] jschuler commented on #951
@nirfarkas You can control the Popover's visibility manually though the `isVisible` prop. You could do something similar to this example:
https://codesandbox.io/s/nifty-jones-or1y5?file=/index.js
Would this come close to what you're looking for? Thanks -

[2021-01-05 20:33] mceledonia commented on #970
I think this will be relatively simple from a visual perspective, some kind of pill-shape button anchored to bottom center or right and floating on top of the page content.

A big consideration here is covering important information at the bottom of the page. Therefore it would be good to consider how the user would remove the button if necessary. Sometimes this can be covered by tying the appeara

[2021-01-05 20:35] mceledonia commented on #968
Going to take a look at this, for real this time!

[2021-01-05 20:45] mcarrano commented on #976
Based on conversation with @mcoker and @mceledonia we would want to allow inline edit to be applied to the content of a card upon click. This would be enabled in the React component. Styling of the card ideally would be the same as any other selectable card.

[2021-01-05 20:54] mcarrano commented on #961
@mattreid what you are seeing is the result of the browser adding the clear button inside of the field when the user is entering text. This is browser dependent. Chrome adds a clear button and Firefox does not. We would need to override the browser's native behavior to fix this. As an alternative we do have a custom search input where we control the appearance of the clear button as seen here: htt

[2021-01-05 21:02] mcarrano commented on #976
@lboehling we will get this on the PF roadmap. Is there a specific timeframe in which it is needed? I am also going to retitle this as "Inline editable card" to better reflect the enhancement we would make.

The only problem I see with the proposed design is some potential ambiguity about what will happen when you select a card. For your current use case the proposed design makes sense, but what i

[2021-01-05 21:03] matthewcarleton commented on #970
ya that's a good point @mceledonia
I think it would be very useful to have in OCP for sure. There are many long lists there :)

[2021-01-05 21:20] mcarrano commented on #970
@matthewcarleton we will get this on our roadmap. Is this needed in any particular timeframe?

[2021-01-05 21:24] mcarrano commented on #963
We will definitely take a look at this @lboehling . The example you are referencing is not reflective of any specific PatternFly design direction. Is this something you are using in product? If so, let me know what product and whether you need this in any specific timeframe.

[2021-01-05 21:36] #966 closed

[2021-01-05 21:42] mcarrano commented on #925
@lboehling @jgiardino I am going to close this out. If you think this solution is something we should document on the website, feel free to open an issue in https://github.com/patternfly/patternfly-org

[2021-01-05 21:42] #925 closed

[2021-01-06 07:38] nding-anges commented on #965
Thanks @mcarrano

[2021-01-06 08:00] manstis commented on #976
@mcarrano Personally speaking (having a real life use case and feedback) we want to avoid the need to explicitly enter editing mode as is the current pattern for inline editing. Users did not want to have explicit actions to edit a field nor commit or cancel the change. We are developing an _editor_ and, if you consider the operation of (all?) most third party editors the User simply clicks on a f

[2021-01-06 18:24] gdoyle1 opened #977 "Enhance toast alerts to include indication of time before they disappear"

[2021-01-06 18:24] gdoyle1 opened #978 "Animation"
There have been many product requests for animation to be included in the PF system over the past year. This epic will capture those requests and any ongoing (or completed) work that has come out of the [UXD animation working group](https://docs.google.com/document/d/1x8IiTnYEJm183STPdTWb0fcUxMFZCA9B0atnyFezRTs/edit?usp=sharing).

The thought is that each animation will be applied to a component a

[2021-01-06 18:55] maryshak1996 commented on #967
I have the design solutions we deided on for both this issue and #971 linked here
https://marvelapp.com/prototype/553965i

[2021-01-06 18:57] maryshak1996 commented on #971
Designs for this topic as well as #967 can be seen here: https://marvelapp.com/prototype/553965i
Basically, we are not going to dictate to a designer how to differentiate (or if they need to differentiate) between clickable and not clickable labels. Instead, we will include a section in the labels guidelines around strategies for differentiating the two if it’s needed in a product.

- If you have

[2021-01-06 19:04] maryshak1996 opened #979 "We need a more diverse set tones in our red family -- specifically a midtone red"
Working on labels updates, it became clear that we are lacking options in our red color palette. The new heavy red labels need to have a subtle red outline, which just can't be achieved with what we have now.  @mceledonia we've talked a bit about this already
Current:
![image](https://user-images.githubusercontent.com/19824574/103809741-f2a86180-5027-11eb-931a-8d54b9c4dede.png)
Proposal:
![image](

[2021-01-06 19:23] mcarrano commented on #971
Thanks for including these notes @maryshak1996 .

So I think we would move this issue over to documentation then. @bmignano @mmenestr do you know if we already have an open issue for labels guidelines or should I transfer this over to the -org repo for further tracking?

[2021-01-06 20:15] bmignano commented on #971
Sounds good! @mcarrano I believe Margot made this issue to cover these additional guidelines: https://github.com/patternfly/patternfly-org/issues/2329

[2021-01-06 20:56] beanh66 commented on #970
Good idea @matthewcarleton, might be a POC-worthy thing to just vet out in the console and contribute back possibly!

[2021-01-06 21:46] mcarrano commented on #971
OK. In that case I am going to close this issue in favor of that open documentation story.

[2021-01-06 21:46] #971 closed

[2021-01-06 21:48] mcarrano commented on #967
Looks good to me @maryshak1996

[2021-01-08 09:30] doruskova commented on #940
Update on red banner. Mock is [here](https://marvelapp.com/prototype/963bhhh/section/1215235). I'm taking back what I said the last time. The new red looks fine. I changed the CSS in a demo and it looks good. See below:
![patternfly-pr-3686 surge sh_components_banner_html-demos_basic_](https://user-images.githubusercontent.com/32618096/103998322-34f2af80-519c-11eb-868c-2aab8dd3a174.png)

[2021-01-08 09:52] doruskova commented on #941
@mcarrano Update on hover states (lighter background) for buttons[ here](https://marvelapp.com/prototype/963bhhh/section/1224558)

[2021-01-08 14:39] mcarrano commented on #940
Looks good. Will close per our 8 Jan meeting.

[2021-01-08 14:39] #940 closed

[2021-01-08 15:53] mcarrano opened #980 "Calendar for dark theme"
Evaluate and define styling for the Calendar month component in dark theme.

[2021-01-08 15:57] mcarrano commented on #980
@mceledonia I opened this issue to track dark theme calendar updates and assigned to you per our discussion.

[2021-01-11 14:18] mceledonia commented on #892
Thanks again for the assessment @jgiardino! That's very helpful.

I'm personally a fan of option 2 since the user would be taught that they can find more details in the notification drawer after a single experience. If it is difficult at all for them to navigate to the notification drawer, that would be a separate issue that needs to be addressed. We could also tie the functionality of expandable

[2021-01-11 14:30] mceledonia commented on #892
I do think it could be nice to have some additional functionality for toast alerts specifically for keyboard users. If we can detect navigation method (maybe a focus state triggers this?) we could pause the timeout on the toast to allow it to persist as long as needed until the user navigates away.

[2021-01-11 15:29] mcarrano commented on #960
Per discussion with @mcoker @mceledonia, we should support this by allowing the user to reposition the modal by clicking and dragging in the header area, only. Will transfer this issue to core and place on the PF roadmap for future implementation.

[2021-01-11 16:02] mcarrano opened #981 "Add show/hide password to Login page documentation"

[2021-01-11 16:05] mcarrano opened #982 "Add guidance on advanced search using attribute-value pairs"

[2021-01-11 16:52] #908 closed

[2021-01-11 18:21] gdoyle1 commented on #892
@mceledonia For OpenShift, I don't think the connection with notification drawer would be possible. We only include warning and critical alerts in there as well as update recommendations today. We'd most likely only use toast notifications for states of actions related to events. For example, after the deletion of resources has completed, we'd use a success toast with "20 resources deleted" or som

[2021-01-11 20:10] gdoyle1 opened #983 "Enhance navigation items and groups to animate upon selection"
**Medium priority**

Navigation items today don't have a smooth transition from default to selected states. Because of this, it seems a bit jumpy. Same goes for navigation groups where the expansion could be smoother. This issue is proposing to make those transitions smoother. Also it would be good to apply whatever animation comes out of this issue to similar components.

This [prototype](https:/

[2021-01-11 20:22] gdoyle1 opened #984 "Create an animated tour pattern"
**Low priority** - this should come after #914

This issue directly relates to #914 . When thinking about tour patterns, there is almost always animation involved. OpenShift has applied this already in their latest release, adding animation to point out specific items on the UI to bring them to their attention.

The animation group has done some exploration of what this could look like as well whe

[2021-01-11 20:26] gdoyle1 opened #985 "Animate reposition of elements on the page when adding or removing an item"
**High priority**

For example, when dismissing a hint pattern, making the removal smoother and moving everything else up. This type of transition can be used for similar patterns/components as well, such as:

- Inline alert (both appearing and dismissing)
- Dismissing a hint
- Dashboard cards
- Data list / table rows
- Expandable sections of page

[Here's the prototype](https://xd.adobe.com/view/

[2021-01-11 20:30] gdoyle1 opened #986 "Enhance inline alert pattern to appear smoothly"
Many products currently use inline alerts at a page level to relay an informative message of some sort. Sometimes the alerts appear based on an action the user takes within the UI. In this case, the animation team is proposing to include animation to smoothen the appearance of the alert.

Here's a [prototype](https://xd.adobe.com/view/31482658-3ae0-44ed-7261-37714bf1c616-4779/screen/ec7e0323-05be-

[2021-01-11 20:34] gdoyle1 opened #987 "Enhance error states on form fields"
**Medium priority**

When validating form fields today, we include an error state on a required field that the user did not complete. It's not always obvious which fields are not filled out and we force the user to scroll up and find it. This issue is proposing to:
1) Automatically scroll the form up to see the required fields that need to be completed (if there are many, scroll to the first one)

[2021-01-11 20:41] gdoyle1 opened #988 "Enhance toolbar to include animation when bulk selection is enabled"
**Low priority** On hold until we get feedback on if this is useful

In the case of bulk actions, only certain actions can be taken when items are selected. Those actions are usually different than the ones initially shown on the toolbar. It's difficult to include both on the toolbar after selection, since we are dealing with limited space and then have to somehow disable actions that are not appl

[2021-01-11 20:51] gdoyle1 opened #989 "Create an animated loading or creation state"
We have a few different data loading components available today: spinner and skeleton loading. These are sometimes difficult to use on pages where we aren't sure of what the data will look like and it is too long of a loading state to use a spinner. Another use case is for creation states - some products use building-centric full-screen animations to demonstrate something is being created (where t

[2021-01-12 07:00] Sk87313 commented on #989
i want to work on this....

[2021-01-12 10:58] nirfarkas commented on #951
@jschuler Thanks for your reply! This looks great! Is it possible to inject HTML & CSS into this popover? I'm interested in introducing links inside

[2021-01-12 13:57] doruskova commented on #941
@mcarrano Updated [design](https://marvelapp.com/prototype/963bhhh/screen/75558357) for secondary and tertiary buttons.
I noticed some issues in a primary button:
- The new blue color `#1FA7F8` doesn't have enough contrast with a white text in a button. The previous one works.
- If I use the new blue color > need to change the text to black, but the hover state uses `#0066cc`color which is a darke

[2021-01-12 16:44] maryshak1996 commented on #979
related to this: https://github.com/patternfly/patternfly-design/issues/753

[2021-01-12 21:39] coreyvickery commented on #973
@mcarrano @doruskova @mceledonia Feel free to answer now or we can wait until tomorrow, but is the only change increasing the size and opacity of the shadow? I ask because my teams wants to use this component on redhat.com.

[2021-01-13 15:35] ajacobs21e commented on #973
![Popover](https://user-images.githubusercontent.com/6415742/104473482-07867700-558b-11eb-8968-20cd434ae4e3.png)
Example of the popover in my table context

[2021-01-13 16:42] itsptk opened #990 "Allow ToggleGroup to have other selected state color than primary blue (and perhaps be shorter)"
In OpenShift, we've previously used a radio button control to allow the user to switch between two views of the same data (a form view and a code view) for creating and editing a resource. We'd now like to use the newer ToggleGroup control as it seems better suited for this purpose, however we find it's use of the primary blue for the selected state to sort of confuse the main call to action on a

[2021-01-13 17:10] mceledonia commented on #990
I'd like to propose changing the blue to a dark gray, see here:

<img width="663" alt="image" src="https://user-images.githubusercontent.com/30935938/104484286-1e32cb00-5597-11eb-8c86-f7988ce806cf.png">
<img width="664" alt="image" src="https://user-images.githubusercontent.com/30935938/104484304-2428ac00-5597-11eb-9e55-e46f78ba8b5d.png">

Quick spec -
Button background (default) - `$pf-color-whit

[2021-01-13 18:55] mcarrano commented on #990
Thanks @mceledonia @itsptk . I will look at getting this change on the PF roadmap.

[2021-01-13 20:08] itsptk commented on #990
Thanks @mceledonia ! I like that compact version a lot.

Two thoughts:
- I was advocating for the grey selected state but seeing it mocked up (with two toggles in particular) it seems like which of the two states represents "selected" can be kind of confusing. The darker selection option almost looks 'off' like a Switch, and the white one selected. I didn't think about this before.
- The in-contex

[2021-01-14 13:36] mceledonia commented on #990
@itsptk Good point about the selected vs non selected, I'm hoping that the fact it will always be accompanied by either text or icon should help to dodge that confusion, but definitely curious to hear others thoughts on it too. Regardless I'll try to think of something which is a little more obviously selected looking to see if we can come up with something even better.

[2021-01-14 17:24] mceledonia commented on #979
Our red color palette doesn't follow the same convention as our other colors, which causes us to run into issues like the above. Here's a quick visual:

<img width="777" alt="image" src="https://user-images.githubusercontent.com/30935938/104626023-69b2ab00-5663-11eb-89ac-91b15c251aa6.png">

This was most likely because of our alignment with the old brand system which did not include brighter reds,

[2021-01-14 19:11] gdoyle1 opened #991 "Include keyboard shortcuts in the PF code editor"
In OpenShift, we recently updated the keyboard shortcuts related to the editor to make them more accessible. I think it would be a great addition to the PF editor as well.

Screenshots of how it looks in OpenShift today
![image](https://user-images.githubusercontent.com/30870144/104637175-6d99f980-5672-11eb-99b3-c290ff2bf3e9.png)
![image](https://user-images.githubusercontent.com/30870144/10463718

[2021-01-14 19:15] mcarrano commented on #991
Thanks for submitting this @gdoyle1 . If you want to propose how to add this to the existing design, please feel free to include mockups. Otherwise I will add this to our design backlog and look to get it into our roadmap.

[2021-01-14 21:35] maryshak1996 commented on #772
@mcarrano @matthewcarleton @andybraren hey friends :) based on the conversations that I saw above, it *seems* like there has been a lot of thought put into the proposed design (grey dashed underline), so I mocked up that design and just provided accessible colors, if you guys want to take a look here: https://marvelapp.com/prototype/7j26ab6

[2021-01-14 21:53] mcarrano commented on #955
@mceledonia @andybraren I made further updates to my designs following our meeting yesterday. You can see those here: https://marvelapp.com/prototype/bia3j2d  Please take a look and feel free to leave comments. Note that this is still mostly focused on the toolbar and I have not yet addressed color coding or readability of the log data itself.

[2021-01-15 14:30] kevinhatchoua commented on #772
Hi @maryshak1996, what was the solution to address Jenn's point regarding the 'link' states?

[2021-01-15 14:37] mcarrano commented on #772
Looks good @maryshak1996 . I'd also like to add @mcoker and @mattnolting to this review. The proposal is to apply this optional label styling to the definition list component, only.

[2021-01-15 15:37] mattnolting commented on #772
@mcarrano @maryshak1996 This looks pretty straightforward to me, the approach being attaching a modifier to `.pf-c-description-list__term` and/or `pf-c-description-list__text` (which could be reused in, say body text if needed) to apply the underline.

Pertinent CSS properties:
[code]

[2021-01-15 21:40] mcarrano commented on #955
@mcoker See design mockups for the log viewer linked above. This is still a work in progress but I welcome any feeback.

[2021-01-18 09:40] manstis opened #992 "Hierarchical [inline] alerts/indicators"
Many applications provide validation of their content.

Many applications support hierarchical content.

It can be difficult for Users to determine what nested hierarchical content may be invalid.

A workaround is to provide a tree type component of all content and flag nodes in the tree as having errors.

Not all applications want a tree.

We (RH engineering) have been referred to PF "inline" ale

[2021-01-18 09:41] manstis commented on #992
@lboehling @amysueg @lclay2 FYI.

[2021-01-18 16:05] manstis commented on #992
This is potentially related to the work @maryshak1996 demo'ed in the "PatternFly Design Share - Dec 2"

See the meeting recording, where Mary presents the work (at ~14:30).

[2021-01-18 16:55] mcarrano commented on #992
@manstis I think this is a reasonable request. When you say "navigational element" looks like you mean any element that could be used to drill down to a more detail level view, like a button, and list/table row, or a card as shown in you screen shots. Is that right?

cc @mcoker @mceledonia

[2021-01-18 16:56] mcoker commented on #955
@mcarrano thanks, this looks fairly straight forward. Are the items/actions to the right of the toolbar something a product would add/change for what they need, or are those actions built in to our component?

If those actions are all defined by the user, the overflow menu doesn't currently support what's in the responsive design, though the behavior in the design is possible by hiding toolbar act

[2021-01-18 16:57] manstis commented on #992
@mcarrano Yes, precisely. Anything that will drill down.

[2021-01-18 17:26] katierik opened #993 "Table Toolbar - Reduce L&R spacing to match T&B"
Currently, toolbars have 24px L&R padding (XL breakpoint), which looks odd as the T&B padding is 16px:
![Xnip2021-01-18_12-00-22](https://user-images.githubusercontent.com/23172038/104946589-5156cf00-5988-11eb-9f72-999354ac3aef.jpg)

Proposal is to adjust this padding to 16px all around for all breakpoints:
![image](https://user-images.githubusercontent.com/23172038/104946535-37b58780-5988-11eb-99

[2021-01-18 18:49] mceledonia commented on #993
CC @lboehling @mcarrano @mcoker @mattnolting

I think this makes sense, the smaller spacing looks fine to me in the XL breakpoint. This is the same spacing we use in smaller breakpoints I believe.

As an aside, it does feel like we end up with a lot of empty space above the column headers here. To an extend that probably is unavoidable, but I wonder if there's something we can do to reduce it a bi

[2021-01-18 20:19] maryshak1996 commented on #772
Hey @kevinhatchoua what comment are you referring to? Maybe I'm missing it somewhere haha

[2021-01-18 20:21] maryshak1996 commented on #772
@mattnolting that approach definitely makes sense to me (assuming that the color be included in the css declarations as well as recommended in the marvel doc)

[2021-01-18 21:33] andybraren commented on #772
Your design spec is looking great @maryshak1996!

I think Kevin is referring to this bit from Jenn:

Right now OpenShift's UI changes the dotted underline's color to an almost imperceptibly darker shade of grey on hover (the middle one seen below) and that's it. Probably not clear enough. 🙂

Either a much darker color or maybe transforming into a non-dotted underline on hover seems like a viable s

[2021-01-18 21:50] kevinhatchoua commented on #772
@maryshak1996 This is the comment I was referring to. It dates back to 2019, so I was wondering if it was already addressed. :)

[2021-01-18 21:58] maryshak1996 commented on #772
@andybraren @kevinhatchoua ahhhhhhh thank you for clarifying! Ya I'll take a look at hover and focus states here too -- totally didn't consider those yet, so thank you!!

[2021-01-18 22:48] coreyvickery commented on #973
@ajacobs21e In this example, are you using what's on the PatternFly website right now or the updated pattern that's seen in the first post above?

[2021-01-19 02:38] ajacobs21e commented on #973
@coreyvickery my example is exploring three options for an updated pattern

[2021-01-19 14:52] mcarrano commented on #973
I think that our current plan is to update the default popover to use the large shadow to better differentiate the popover from the background. @doruskova is the large shadow in @ajacobs21e 's example consistent with your mocks? We may want to make sure we are all in agreement about this spec before I hand this over to development.

[2021-01-19 15:05] doruskova commented on #973
@mcarrano Yeah, I think it's consistent. I used` --pf-global--BoxShadow--lg` @ajacobs21e . I believe Allie used the same shadow.

[2021-01-19 18:08] #986 closed

[2021-01-19 20:33] maryshak1996 commented on #772
@andybraren @kevinhatchoua @mcarrano I updated this in the Marvel as well, but here's what I had in mind for hover and focus:

![image](https://user-images.githubusercontent.com/19824574/105089886-b20b0800-5a6b-11eb-9dd6-0666be984b69.png)

[2021-01-20 01:53] kevinhatchoua commented on #772
Thanks @maryshak1996 ! I think this is definitely a step in the right direction. Can you mock it up with a popover open within a form? just for context. Otherwise it LGTM.

[2021-01-20 13:52] mcarrano commented on #772
@kevinhatchoua just to clarify, we will not use this in a form. We decided to restrict this pattern to the definition list, only. Forms will still use the popover help triggered by the (?) icon.

[2021-01-20 14:42] mcarrano commented on #772
@maryshak1996 regarding the hover and focus states, I think that they are fine. Should be enough contrast. @mceledonia can you also take a look?

[2021-01-20 18:41] coreyvickery commented on #879
@mcarrano @ajacobs21e Here's what I've been working on for `Horizontal stepper` which will appear in our new trial experience flow soon. It's tentatively named `Progress stepper` to be free of labels such as orientation or device.

https://xd.adobe.com/view/a9362bd3-9f03-4db8-b79d-af9e6e0c03f8-fc65/

[2021-01-20 19:20] jcaianirh opened #994 "Treeview: Component needs a compact version for a sidebar use case in openshift"
**Describe the issue. What is the expected and unexpected behavior?**
For the story:
https://issues.redhat.com/browse/CONSOLE-2500

It would be desirable for the treeview component to also have a compact version that allows it to be rendered in a sidebar and take advantage of space saving patterns so a leaf node wouldn't display as a single word per line, etc.

**Please provide the steps to reprod

[2021-01-20 19:26] mcarrano commented on #879
Thanks for posting this @coreyvickery . Just a couple of questions. Did you consider using the PatternFly blue instead of the green for completed steps? I think this looks OK in isolation, but would be interesting to see this in the context of a page where this might be used. I'm also interested in your thoughts on responsive resizing, especially as all steps can no longer fit within the screen ho

[2021-01-20 20:38] coreyvickery commented on #879
@mcarrano @mceledonia Thanks Matt, I think exploring other colors is a good idea. I chose a green check for obvious reasons, it's not an RCUE thing.

Regarding responsive resizing, I am happy to explore how the component scales across screen sizes with Michael's help. The version I posted was only meant to be used at one size for a specific project.

[2021-01-20 20:53] coreyvickery commented on #970
@mceledonia Just for reference, this is what I created for our design system website. Obviously a big edge case, but just sharing because my team might need something official soon.

https://ux.redhat.com/

[2021-01-20 20:53] coreyvickery commented on #970
@mcarrano Forgot to tag you, see above.

[2021-01-21 13:34] gdoyle1 opened #995 "Animation the entrance of the banner component"
**MEDIUM**

Our banner component sits at the top of all pages but, other than the use of color and placement, there isn't a ton of prominence on it. And if it's in the same spot on the page for a while, users sometimes ignore it.

This story is to animate the appearance of that component - whether that be the first time the user comes to the page or just when it's added to the page itself.

[2021-01-21 13:41] gdoyle1 opened #996 "Animate the selection of multiple tabs"
**MEDIUM**

When we have multiple tabs in a row, there is an underline (or box overline if boxed tabs) that appears when the tab item is selected. This issue is to add some sort animation to that selection state when going back and forth between tabs.

[Prototype example](https://drive.google.com/file/d/1ekfc9kgGZxG3rag8mensjd92VK2ti48r/view?usp=sharing) is attached here. Make sure to consider ope

[2021-01-21 13:43] gdoyle1 opened #997 "Animation the expansion of the menu component"
**MEDIUM**

The menu component is used within many components, for example dropdowns and selects. Today it expands without any animation and just appears on the screen with a shadow.

This story is to animate the expansion so that it smoothly appears on the screen upon opening.

[Example prototype](https://drive.google.com/file/d/1q8z9ctEzlInEIWTTUql1an_1FccJDhqf/view?usp=sharing) to use

[2021-01-21 13:47] gdoyle1 opened #998 "Animate the hover states on components that have background color changes"
**MEDIUM**

Components like cards and buttons have a background change upon hover, whether it be a darker color, thicker border, or shadow. This story is to make that transition smoother and animate the appearance of that color.

[Example prototype](https://drive.google.com/file/d/1JtJq70VGr3T9fHpYJffOaSjbsuaCCspH/view?usp=sharing)

[2021-01-21 13:50] gdoyle1 opened #999 "Animate appearance of tooltips"
**LOW**

Tooltips today just appear without animation, which works well, but we'd like to create a version with animation as an optional variant. This story is to add animation upon the appearance of the tooltip (in relation to the object that has that tooltip). It will definitely help draw more attention to that item itself.

[Example prototype](https://drive.google.com/file/d/12-zG9QAK1LEa7TUyVB

[2021-01-21 13:59] gdoyle1 opened #1000 "Animate the transition of the on/off states of the switch component"
Instead of fully switching from white to blue (on/off states) of the switch, this issue is to add more of a smooth transition and animate that change in color. Definitely connects with #998

[Example prototype](https://drive.google.com/file/d/1jYMqh-qV0-YQJ10TJYbNQeyF2-n_xfl-/view?usp=sharing)

[2021-01-21 16:23] doruskova commented on #935
@mcarrano I took a look at this issue and I found a conflict with `#f0f0f0` (var black 200) that was used in this case. The same color is used in grey filled labels, badges and you can't put these components on a grey drawer that is using the same bg color. I was trying to find a different shade of grey and it looks that black 100 `#fafafa` would be fine. It's really close to white, but you can pu

[2021-01-21 16:28] mcarrano commented on #899
@gdoyle1 I added this to your animation epic for further tracking.

[2021-01-21 17:04] mcarrano commented on #955
Requirements for an MVP based on meeting with @andybraren @jcaianirh @evwilkin @mcoker @mceledonia Ryan Long and Alerxander Rivera can be found here: https://docs.google.com/document/d/16NXwf2u8gd8v69plMH4H4xWf0GsK1AWN0wpBu_Xg_GE/edit?usp=sharing

Updated designs based on feedback: https://marvelapp.com/prototype/bia3j2d

[2021-01-21 17:08] mcarrano commented on #935
Just as an aside, labels on a gray background are a known issue and we currently have an open issue to update the label designs to accommodate this (https://github.com/patternfly/patternfly-design/issues/967).

@doruskova could we also see what this looks like when we add a splitter? Part of my concern was whether we need to also have an alternate color for the splitter (should someone choose to a

[2021-01-21 17:10] jgiardino commented on #935
Our current plan is to only provide additional information. Having the option to include links and inline alerts and/or status icons could be something we will need as these requirements are further defined.

[2021-01-22 12:04] doruskova commented on #935
@mcarrano Thank you! The new labels solved this problem :) However,
- I like the white splitter more because visually it looks smooth and it's not too heavy on a screen. It says: "Hey, I'm here and you can use me if you need".
- The grey splitter looks more that it belongs to the content on the right. I don't like that the grey splitter looks too heavy. It doesn't need such attention IMHO.

I'd ke

[2021-01-22 14:35] gdoyle1 commented on #876
I started on this here: [Marvel project](https://marvelapp.com/project/5439793)

One of the major concerns I found with this is that the wording "tertiary navigation" is confusing. A lot of the time that this component is used, the horizontal navigation is used (within the masthead) as primary and then tertiary is used as "secondary". I tried coming up with other ways to approach secondary and ter

[2021-01-22 14:52] mceledonia commented on #980
![image](https://user-images.githubusercontent.com/30935938/105505961-89675600-5c97-11eb-97cc-82b58f961b80.png)

[2021-01-22 15:09] doruskova commented on #941
@mcarrano Updated design for buttons [here](https://marvelapp.com/prototype/963bhhh/screen/75558357)

[2021-01-22 19:39] mcarrano commented on #935
This looks great @doruskova I agree with you about the splitter. @mceledonia @mcoker can you also take a look? If there are no further objections, I will go ahead and open a core issue.

[2021-01-22 19:41] mcarrano commented on #941
Thanks @doruskova . I will close this then.

[2021-01-22 19:41] #941 closed

[2021-01-22 19:43] mcarrano commented on #876
Thanks @gdoyle1. Agree that the name "tertiary" nav is unfortunate, so maybe we would change that or just re-introduce this as Seondary navigation.

[2021-01-22 19:46] mcarrano commented on #980
Thanks @mceledonia .

@mcoker , maybe implement this in the prototype and we can take another look when we meet next week?

[2021-01-22 20:03] mcarrano commented on #909
@aprilma419 This issue will be solved as part of the solution for menu breadcrumbs here: https://github.com/patternfly/patternfly/issues/3491 It is already implemented in core and should be available as a React component in a coming release. Will close this design issue.

[2021-01-22 20:03] #909 closed

[2021-01-22 20:13] mcarrano commented on #967
Thanks for your efforts on the @maryshak1996 . I've opened https://github.com/patternfly/patternfly/issues/3810 to begin implementation.

[2021-01-22 20:17] mcarrano commented on #955
Opened https://github.com/patternfly/patternfly/issues/3811 to begin core implementation. https://github.com/patternfly/patternfly-react/issues/5341 for React implementation.

[2021-01-22 23:21] mcoker commented on #935
@mcarrano lgtm

[2021-01-24 15:01] nirfarkas opened #1001 "Animate the appearance and disappearance of the Modal component"
**HIGH PRIORITY**
After clicking any interactive element that fires up a modal, we should introduce the modal in a soft fashion, meaning fading it in. The soft fade-in will make the appearance of the modal less abrupt and add more finesse to the transition.
The above text also applies to the transition of closing the modal (e.g fade-out).
*This is only a rough concept and the animation is not fina

[2021-01-24 15:09] nirfarkas opened #1002 "Animate the expansion of the Modal component when more content is added"
**HIGH PRIORITY**
There are cases when a modal opens up and has a certain height to show its content & the user can interact with the content resulting in more content (for example, selecting a checkbox that reveals more options). In order to make the change of the modal's heights softer, we should introduce an animated transition.
* This animation is just a concept idea and not finalized.
![modal

[2021-01-25 13:07] doruskova commented on #937
@beccaglass Hey Becca, do you have any example of this feature in a context? I'm just wondering that it might be useful in our PF template.

[2021-01-25 15:35] mceledonia commented on #759
I am in favor of the right-aligned approach, it makes the list easier to scan and would avoid any issues with wrapping. As far as badges or just a regular text count, I think either could work, but I like the look of the first screenshot @mmenestr posted where it uses secondary text color.

I could see an oversized menu width causing some awkwardness, but that would be a result of a larger issue (

[2021-01-25 16:22] mcarrano commented on #951
@jschuler can you respond to the question above? If we are all set with this, I'd like to close it out.

[2021-01-25 16:24] mcarrano commented on #974
@mceledonia can you add specs here and I will open a core issue. Thanks.

[2021-01-25 16:26] mcarrano commented on #772
Opened https://github.com/patternfly/patternfly/issues/3808 to begin core implementation.

[2021-01-25 16:34] mcarrano commented on #973
Opened https://github.com/patternfly/patternfly/issues/3814 to begin core implementation. Will get this on the roadmap.

[2021-01-25 16:37] mcarrano commented on #935
Thanks @doruskova . I will move this along to be implemented. Core issue: https://app.zenhub.com/workspace/o/patternfly/patternfly/issues/3813

[2021-01-26 18:29] mattreid commented on #961
Oh, interesting. I assumed that was PF and not browser behavior. Not wanting to overwrite browser behavior makes sense to me, I'll look into the search input more, thanks @mcarrano

[2021-01-26 18:29] #961 closed

[2021-01-26 20:32] mattreid opened #1004 "Default "overfiltered" empty state has redundant text"
## Requesting new features, enhancements, or design changes to PatternFly
- Describe the use cases and requirements of the new feature or enhancement you are requesting.
The current text in the example empty state says "No results found
No results match the filter criteria. Remove all filters or clear all filters to show results." with a Clear all filters action underneath.

**Remove** and **Clear

[2021-01-26 20:55] mcarrano commented on #1004
@mmenestr Can you take a look at this? Do we intend the messaging to be as it is on the PF site? Thanks.

[2021-01-26 21:57] mcoker commented on #888
Hey @gdoyle1 and @matthewcarleton! We're working on this issue this sprint and I was curious if you could clarify something.

I filed an issue last year (https://github.com/patternfly/patternfly/issues/3255), that will make the in-page wizard layout behave the same as the modal wizard layout by introducing these changes:

* Keep the nav/steps sticky
* If there is overflow content in either the nav

[2021-01-27 14:15] matthewcarleton commented on #888
Hey @mcoker this looks great.
I'd be in favour of the sticky action footer (maybe it should be optional though?) We have a use case on the OpenShift side where having it sticky is very useful but I'm not sure if it's always the case. I know there is an argument for forcing users down the page so they can see everything available to them before they proceed.

[2021-01-27 15:36] mcoker commented on #888
@matthewcarleton thanks! I'll see what I can do! Also, not sure if this makes a difference, but I noticed there was no shadow on the wizard actions. In other layouts where we have layouts like this, the sticky section has a shadow where it overlaps a section underneath. I added one to [the codepen](https://codepen.io/mcoker/pen/XWjvVBq). Do you think that helps, and would help queue to the user th

[2021-01-27 18:45] matthewcarleton commented on #888
@mcoker yup! I think the shadow helps a lot and is a good idea. I still think the modifier is the right way to go if we can do it but the shadow is a nice addition to it for sure.

[2021-01-27 18:45] mcarrano opened #1006 "Auto-complete for Search Input"
Support optional auto-complete for the Search Input component. As the user types, the component will supply a list of possible matches allowing the user to pick from the list of available choices. This both reduces the burden on typing and makes it less likely the the user will enter a search term that does not exist. Want to support simple search use cases as well as attribute:value search use ca

[2021-01-27 18:53] gdoyle1 commented on #888
Nice @mcoker that definitely would help the use case mentioned above! We have a few areas in OCM where a sticky action footer would be useful too! And yes adding the shadow is a huge help - thank you!!!

[2021-01-27 21:06] mmenestr commented on #1004
This seems reasonable to me!

[2021-01-27 22:06] mattreid commented on #1004
That looks better to me, thanks!

[2021-01-28 16:41] mcarrano commented on #1004
@mmenestr are you suggesting that we should update the demos on the PatternFly site then? What do we say in the design guidelines for this use case?

[2021-01-28 17:00] mmenestr commented on #1004
Yes, that's correct - why not update the text in the demos! Hopefully it's a one string fix?

In the empty state design guidelines for this use case, this is the guideline and image accompanying it - it's kept quite vague.
![image](https://user-images.githubusercontent.com/51165119/106172012-43f7cc80-6160-11eb-89bd-86504ee94c06.png)

[2021-01-28 19:01] mcarrano commented on #1004
Opened https://github.com/patternfly/patternfly-react/issues/5395 to update the example and will close this design issue.

[2021-01-28 19:01] #1004 closed

[2021-01-29 16:57] mcarrano opened #1005 "Explore Input Group styling for dark theme"
Borders between elements in an Input Group need to be reconsidered for dark theme. Here's what it looks like now without making changes:

![Screen Shot 2021-01-29 at 9.10.49 AM.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/f0c37942-899a-4f1e-8d7d-55d6c785f363)

Want to be able to differentiate between elements (i.e. buttons and fields) without being too heavy-handed.

[2021-01-29 20:24] mcarrano commented on #1003
@garrett I'd love to get your opinion on @jessiehuff 's question above, also. I agree with your basic point that someone could enter text into the field and tab away thinking there entry would be saved as it is for any other text field only to find it wasn't. We could change this so tabbing out of the field commits the entry as you are suggesting, but it begs the question of what to do if they mak

[2021-01-29 21:44] mcarrano commented on #1006
@yih-wang I opened this new issue to define the auto-complete behavior associated with your attribute-value search input request (https://github.com/patternfly/patternfly-design/issues/771). I think that we would do something more similar to a Google search where as the user starts typing, a list of potential matches is exposed, like:

![Screen Shot 2021-01-29 at 4 33 32 PM](https://user-images.gi

[2021-02-01 08:04] yih-wang commented on #1006
@mcarrano This auto-complete makes sense to me. The only question here is I'm not sure whether the search in Keycloak can receive a complete set of attributes and/or values as an array of possible matches. I remember we have some limitations in this respect. @xianli123 will make a confirmation and get back to you.

[2021-02-01 15:12] mceledonia commented on #990
@itsptk @mcarrano Here is another option which hopefully is different enough from other styles on the page but will still fit in with the rest of the system.

![image](https://user-images.githubusercontent.com/30935938/106477308-03f15c00-6476-11eb-87bf-5c099fc1045f.png)

[2021-02-01 15:24] mceledonia commented on #974
**Text** - Size `$pf-global--FontSize--xs` -- Color `$pf-global--Color--200`
**Spacing** - All the same except change `padding-bottom` to `--spacer--xs`

@mcarrano @mcoker

[2021-02-01 15:30] #890 closed

[2021-02-01 15:30] #843 closed

[2021-02-01 15:33] #891 closed

[2021-02-01 15:46] mcarrano commented on #990
I think that's interesting @mceledonia . But then it starts to become a compact version of the Tile component (https://www.patternfly.org/v4/components/tile). So it begs the question of whether the approach here should be to create a new variant of the Toggle Group or a more compact version of the Tile component. Thoughts?

[2021-02-01 16:08] mceledonia commented on #932
@maryshak1996 @mcarrano What do you think about this approach? Having a "collapsed" state of the filter panel - this lets us place the badge/indicator there, and also retain awareness of the panel while it is closed but taking up minimal space.

This is a bit of a quick hack job and maybe it could have an arrow icon at the bottom, but to visualize the idea:
![image](https://user-images.githubuserc

[2021-02-01 16:09] #915 closed

[2021-02-01 16:11] mcarrano opened #1007 "Update images to reflect new label styling"

[2021-02-01 16:15] mceledonia commented on #969
@matthewcarleton @gdoyle1 @mcarrano

I think the selected state shown above is alright, but if we really need to push the emphasis we could go with something like this -

![image](https://user-images.githubusercontent.com/30935938/106485534-b2999a80-647e-11eb-8a7b-b853e4d5ec22.png)

[2021-02-01 16:17] mceledonia commented on #913
@mcarrano @mcoker

I wanted to loop back around on this, can we build this with existing components? This seems like it could be a demo of our dashboard layout, showing how it can be used in a more minimal fashion.

[2021-02-01 16:59] garrett commented on #1003
What if we don't add any more interactions, but add a tiny bit of messaging instead? Here's how I think that could work:

- If the value matches something in the list, the typeahead widget would act as it currently does.

- If the value doesn't match anything in the list and...

  - **`isCreatable` prop is set**: There could be a message about something being created. Perhaps an optional (but defa

[2021-02-01 18:01] matthewcarleton commented on #969
@mceledonia I like this, there's no confusion that this is in a selected state. What we have is good, but this is....gooder
🤔  😄

[2021-02-01 18:17] mceledonia commented on #1005
@doruskova @mcarrano @mcoker

Here's my proposal for dark theme input group styling, these are the same designs on our 2 main BG colors:
![image](https://user-images.githubusercontent.com/30935938/106500144-791d5b00-648f-11eb-8c47-c8c016d3446f.png)
![image](https://user-images.githubusercontent.com/30935938/106500155-7cb0e200-648f-11eb-814b-ad9aee9bd46b.png)

These differ from the current theme in

[2021-02-01 21:34] mcarrano commented on #969
I'm good with this, also.

@mceledonia I'd like you to just present this at the PatternFly design share. Since we are modifying an existing component, I want to make sure no one thinks this causes a problem. Assuming "no," I will put this on the PF roadmap.

[2021-02-01 21:41] mcarrano commented on #1003
@garrett I think this is a good approach. However it seems like in the first case you'd want some kind of confirmation, right? What if I just made a type and I didn't really want to create ExampleThing? How would I prevent it from getting created if `isCreatable` is set?

[2021-02-01 21:53] mcarrano commented on #932
I like this approach @mceledonia . What do you think @maryshak1996 ?

@mcoker can you also take a look at this? I'm wondering if this filter panel is really just an instance of the new Sidebar component you defined for Jump Links. I could see wanting to show/hide that for similar reasons. Maybe this is just a sidebar that can be show of hidden by clicking an icon. The icon and the contents of the

[2021-02-01 22:17] mcoker commented on #932
@mcarrano I can see that, there is a lot of overlap between the sidebar and an inline drawer. I hadn't thought of the sidebar having a collapsed state, though I don't see why it couldn't. I thought it was more of a side by side layout when there is horizontal space for the layout, and a stacked layout when there isn't. For a slide out panel, I assumed the drawer would be more suitable. This could

[2021-02-01 23:46] mcoker commented on #913
@mceledonia it looks like it - the only thing is the card content isn't an out of the box card, a user would have to use custom styles for that. We have an issue to build some dashboard card demos,  and looks like it would cover this use case. https://github.com/patternfly/patternfly/issues/3278

IIRC we were going to build the demos with custom styles that serve as examples of how to lay out dash

[2021-02-02 10:01] garrett commented on #1003
@mcarrano I was thinking about this within the context of a modal dialog, with delayed-apply (which we use a _lot_ in Cockpit), not within an instant-apply context. Thanks for pointing it out. You're right. When this is used for instant-apply, having a confirmation makes sense, especially if it's not easy (or even possible) to remove the created item.

Three different options for an instant apply

[2021-02-02 12:51] christianvogt commented on #754
@mcarrano when can we expect to have dark theme support?

[2021-02-02 15:32] mcarrano commented on #754
@christianvogt we have been working on this in the background and are almost complete with the design work. I don't currently have a firm target date for delivery, but do you have I time frame that you will need this for product? That might give us something more concrete to work towards. It is something I'm hoping that we can deliver in a Q2-Q3 timeframe.

[2021-02-02 16:06] mcarrano commented on #932
@mcoker Yeah, I think you make a good point that perhaps this panel is just a Drawer that can be collapsed (and possibly resized?). In that case, I wonder if we would just replace the "x" button with a "<-" to collapse and a "->" to expand. Or we can just use the existing splitter bar to let the user size the drawer as wide or narrow as they want. Although at some point the content becomes unusabl

[2021-02-02 16:27] jschuler commented on #951
@nirfarkas Yes you can put anything you want into the `bodyContent` of the Popover, for example
[code]

I'll close this issue, if you have any more questions feel free to comment anyways!

Thanks,
J

[2021-02-02 16:27] #951 closed

[2021-02-02 18:02] mcarrano commented on #1003
Thanks for this detailed analysis @garrett . What you are saying above all makes sense. @tlabaj is this validation something we could support now? Looks like we do support a callback attached to the `onCreateOption` prop, so I would assume that we could include code to prompt the user for validation before we added a new item. Is that correct? If so, it might make sense to create a demo for that a

[2021-02-02 20:58] mcarrano commented on #913
I will add to the backlog as a potential demo we could create using dashboard cards.

[2021-02-02 21:10] mcarrano commented on #993
Based on discussion with @mceledonia and @mcoker , we agree that this would be an overall improvement, however it risks being breaking and having unexpected consequences to current products. I will keep this issue open in our backlog as a future enhancement, but no immediate action is to be taken. Transferring to core repo for further tracking.

[2021-02-03 02:48] xianli123 commented on #1006
@mcarrano @yih-wang We've discussed attribute-value search with Keycloak dev team. Type-ahead is a great method for Keycloak. So we will support it. If possible, we can use auto-complete to search for attribute-value in Keycloak new design.

Our concern is the deadline. Keycloak has a very tight development schedule. We want to know when this component will be released?

[2021-02-03 13:51] mcarrano commented on #1006
@xianli123 We expect to have the basic attribute-value search (search input with an integrated search form) available in out next release in approximately two weeks - by Feb 19. But that will not include auto-complete which is something we will need to add later. If I prioritize that, we should be able to get that into a release next month.

[2021-02-03 15:54] ajacobs21e commented on #879
Ideally we should design this in a way that it could be clickable to navigate to each step

[2021-02-03 16:00] vconzola commented on #879
@mcarrano Here's a screenshot of the pipeline we're displaying in the migration toolkit UIs.
![Screen Shot 2021-02-03 at 10 58 45 AM](https://user-images.githubusercontent.com/22823035/106773371-fae7c280-660e-11eb-82ad-f28b83f74d8f.png)

[2021-02-03 16:04] ajacobs21e commented on #879
OpenShift pipelines modified canvas view example

![image](https://user-images.githubusercontent.com/6415742/106773806-7b0e2800-660f-11eb-8137-635823306c1a.png)

[2021-02-03 16:07] coreyvickery commented on #879
@ajacobs21e I see a few variants that could be included: Mine, a version of mine with links, Vince's compact version, and the OpenShift version above with a white background and a drop shadow. Do we also want to explore a vertical version or anything else, like mobile?

[2021-02-03 18:33] coreyvickery commented on #879
cc @mcarrano @mceledonia

[2021-02-03 21:10] mcarrano commented on #1006
@xianli123 I learned today that the Openshift team has implemented a similar auto-complete search. See the screen shot below. So even if this does not get into PatternFly in your required timeframe, perhaps there is an opportunity for code sharing?

![Screen Shot 2021-02-03 at 3 55 52 PM](https://user-images.githubusercontent.com/6619860/106809940-4b284a00-663a-11eb-9e60-9fb55da2e2a3.png)

If this

[2021-02-04 15:36] ajacobs21e commented on #879
I'll let @mattreid answer about openshift but I would imagine a version of Corey's with step labels could work.
@mattreid does your use case need branching? Or is that second row more like details on the 'build product' step?

[2021-02-04 16:45] mcarrano opened #1008 "Copy to Clipboard for dark theme"
Propose styling for Copy to Clipboard component seen in dark theme.

[2021-02-08 17:04] mcarrano commented on #1005
Looks good @mceledonia . I will close.

[2021-02-08 17:04] #1005 closed

[2021-02-08 17:24] mcarrano commented on #992
@manstis @amysueg @lclay2 @lboehling I discussed this request with our core developers and there is nothing that prevents you from building this today. So is the issue then that we should include this in our design documentation as a usage that we recommend? If so, I support doing that. I think this is a very legitimate usage of alert/status icons and I've done similar things myself in designs.

[2021-02-08 19:59] mmenestr commented on #759
Here is a new proposal, after talking to @mceledonia and @maryshak1996 who both like this suggestion.
I've added it to the [ppt I had presented](https://docs.google.com/presentation/d/1mT-lRbd5RrF2xfD4xBd77k09XGUmTzu_eqLTdSeB_Lw/edit#slide=id.gbadec78527_0_31) at the PF design share - but here's a screenshot with the gist. @mcarrano let me know what you think!

![image](https://user-images.githubu

[2021-02-08 20:28] lwrigh opened #1009 "Feedback on the copy to clipboard component"
## Requesting enhancements

Both @bgliwa01 and I have gotten feedback recently from the OpenShift dev console team about the copy to clipboard component being too clunky. In my situation, I am trying to use the copy to clipboard for adding code snippets to
 Quick Starts so the user can either copy the code snippet to their clipboard or run the code snippet in the terminal.

Design example:
<img wi

[2021-02-08 20:29] manstis commented on #992
Hi @mcarrano. That is correct and we do indeed build this today (the screenshots are taken from an application in development). The issue is that the approach is not currently documented as an accepted _pattern_ and as such proposal to use it has met with some resistance.

[2021-02-08 21:35] mcarrano commented on #974
Added a new Core issue here to implement: https://github.com/patternfly/patternfly/issues/3844

[2021-02-09 14:20] lclay2 commented on #992
@mcarrano, @amysueg, @manstis,
It would be helpful to know the "legitimate usage of alert/status icons" [in buttons] - if not a documented pattern, perhaps it would be possible to have an interim guideline?
- IIUC, the scorecard team is using a sort of breadcrumb trails of alert icons because the IA of the UI requires drilling down to content, so they need a way to propagate the alert messaging up

[2021-02-09 16:20] mceledonia commented on #850
@ajacobs21e @mcarrano This looks good to me!

[2021-02-09 18:47] mcarrano commented on #992
So sounds like this is mostly a documentation issue then and I will transfer it to our patternfly-org repo where we can track this. @mmenestr we should probably discuss where this documentation belongs. Probably as part of Alerts, although it involves more than just the alert component.

[2021-02-09 21:28] mmenestr commented on #912
@mcarrano here are the mocks I have for this pattern: https://marvelapp.com/prototype/6hbd4bj
I simply used the tree view component and place it into a menu.

There are 2 things that came up when I was making the designs:
1. Whether or not the folder should have a checkbox before it (to allow users to select everything inside a folder)
2. Whether the relationship between folders should be AND or O

[2021-02-10 15:51] mcarrano commented on #1009
@lwrigh I have assigned this to you as we discussed and pull it into our March 10 design milestone. Let's also consider this related issue as part of this: https://github.com/patternfly/patternfly/issues/3725

[2021-02-10 16:01] serenamarie125 commented on #754
@mcarrano OpenShift Console and Che/CRW are both eager to use the dark theme! I'm tagging @beaumorley here as well

[2021-02-10 16:34] mcarrano commented on #912
Thanks for posting this @mmenestr . You raise some good questions. Regarding the first question, yes, I think that we should follow our existing tree view pattern where folders as well as leaf nodes support selection. The second question is more difficult and starts to make me question what we are trying to accomplish by nesting a tree inside of a grouped menu like this. Could we just use a tree w

[2021-02-11 14:17] gdoyle1 commented on #876
Updated the Marvel based on our discussion @mcarrano @mceledonia https://marvelapp.com/prototype/fj0941h - @coreyvickery I tried adding a version of it that was sticky and had a shadow - like we discussed yesterday, you can obviously change the colors and such, but I wanted to try it out!

[2021-02-11 20:09] mcarrano commented on #876
This is looking good @gdoyle1 . I just have a couple of questions.

Did we agree to try creating space between the masthead and secondary nav when used with a horizontal primary? That was one way to get around the problem of the blue primary item sitting directly on top of the secondary bar. Or should we just not concern ourselves with the since it's not a configuration we recommend for product?

[2021-02-11 20:29] mcarrano commented on #1006
@yih-wang @xianle123 Here is a more fully developed design proposal for this feature. https://docs.google.com/document/d/1mFOuhoAJNBSWKHZKwz8T6OVk71OWNPhfAuVF1Jw3BAk/edit?usp=sharing  Let me know if this will meet you needs. @gdoyle1 perhaps also take a look from an OpenShift perspective?

@jessiehuff I's also love your input regarding keyboard interaction. I think using the Tab key for accepting

[2021-02-12 14:31] doruskova commented on #907
@mcarrano I'm adding an update on the active state for buttons and links :) [Mock is here](https://marvelapp.com/prototype/14210469/screen/76778608)

I've added a darker background or border color for buttons, except for the tertiary button because it's already black and needs to be different from a disabled state which is filled with a grey bg.
The question is an inline link because we can use de

[2021-02-12 21:39] jessiehuff commented on #1006
I agree, it looks like the Tab key can often be used for accepting an auto-complete string. When researching autocomplete search, it looked like almost all implementations followed a similar or the same pattern which actually matches our Typeahead Select behavior. For this I would expect the following for keyboard interaction:

- UP and DOWN: Cycles hover focus through auto-suggestions and input f

[2021-02-15 01:37] coreyvickery commented on #879
@ajacobs21e Do we need to combine this with the [Progressive Form](https://github.com/patternfly/patternfly-design/issues/750) issue or how do you think we should proceed with finalizing this component? I or we can design the three variants as outlined in my comment 11 days ago, but this will need to be wrapped up very soon as we're preparing to develop one of the Product Trial experiences.

[2021-02-15 13:47] ajacobs21e commented on #879
@coreyvickery Mobile could follow the same pattern as Wizard https://www.patternfly.org/v4/components/wizard/react-demos/in-page/ or it could use a vertical version like Progressive Form. If it's the former, I don't think this story needs to be combined with Progressive Form.

[2021-02-15 15:02] mcarrano commented on #879
Agree with @ajacobs21e . I wouldn't combine this with Progressive Form.

[2021-02-15 15:34] mcarrano commented on #850
I am going to transfer this directly to Core for implementation, then. Thanks @ajacobs21e @mceledonia .

[2021-02-15 15:50] ajacobs21e commented on #879
Matt Reid is on PTO, I pinged him to look at this when he's back

[2021-02-15 15:54] mcarrano commented on #907
@doruskova I think these look good. Not sure what to do about the tertiary button, however. Maybe add just a very pale gray fill? I'm not so concerned about active states for link buttons. But there is a related issue here: https://github.com/patternfly/patternfly/issues/3726 Maybe see if that helps with an answer.

@mceledonia @mcoker can you also take a look at this? Do we need to address any co

[2021-02-15 20:43] mcarrano commented on #759
I think this looks great @mmenestr . We will just need a spec for implementation.

@mcoker can you take a look at this to see if there are any issues? One question - can this be implemented so it can either be used in a dropdown as shown or within a drawer if we want to use the same approach in a Catalog view?

[2021-02-16 13:03] mceledonia commented on #869
@coreyvickery @ajacobs21e @mcarrano These look good to me!

[2021-02-16 14:29] mcarrano commented on #869
Great. I will transfer this to PF Core for implementation.

[2021-02-16 15:59] gdoyle1 commented on #1006
@mcarrano @yih-wang This would work very well for Openshift!! Design looks good. @bgliwa01 Do you want to check this out for the dev side as well? Made me think about your quick search and if you can have autofill for topology?

[2021-02-16 16:30] bgliwa01 commented on #1006
Yes! I also am doing a design for Pipelines right now that could use this. Another place to look in OpenShift is the metrics tab on metrics tab under monitoring on the admin side. I attached a screenshot
<img width="1678" alt="Screen Shot 2021-02-16 at 11 28 46 AM" src="https://user-images.githubusercontent.com/51342070/108092059-515ef300-704a-11eb-9dd5-691907e30ab0.png">

[2021-02-17 12:39] doruskova commented on #907
@mcarrano mock updated with a filled tertiary button for the pressed state. https://marvelapp.com/prototype/14210469/screen/76778608

[2021-02-17 14:44] mcarrano commented on #907
Looks good to me @doruskova . Thanks.

[2021-02-17 19:11] bgliwa01 commented on #1006
I talked with Andrew and Christian (OpenShift dev team) and they had some feedback - "So essentially the issue I saw upstream pretty much was “as the user types, show the autocomplete box”. But in reality, we want control over that, so the code around the Input field needs to determine that for our use-case. In this case, when the user hits the right keybinding or when they type '$('. Since those

[2021-02-17 19:19] maryshak1996 commented on #769
WIP proposal: https://marvelapp.com/prototype/142h0f9e

[2021-02-17 19:45] gdoyle1 commented on #876
@mcarrano @mceledonia Here are some options for space between the horizontal primary nav and the sub nav! I also included an outline like you asked about above in one of the versions, Matt

![sub nav examples](https://user-images.githubusercontent.com/30870144/108259211-d3284c80-712e-11eb-9c3f-4a95ed221e44.png)

[2021-02-17 21:04] mmenestr commented on #912
@katierik this is an issue for a similar use case that we are trying to achieve with the tagging filter (ie: tree view in select list). Do you mind chiming in here with your perspective/use case for the tree view?

[2021-02-17 21:28] mcoker commented on #759
This looks good to me. Thinking forward, just want to note we may consider how this count lives with other parts of a menu item. https://pf4.patternfly.org/components/menu#with-actions

Are you referring to the filter side panel items here? https://patternfly-react.surge.sh/extensions/catalog-view-filter-side-panel

[2021-02-17 21:37] tlabaj commented on #1003
@mcarrano For the question of maintaining what is entered in the text input, the answer is that we can do that.  But i feel it is an interaction decision on if we should.  I would not change the current default behaviour regardless of if we decide that interaction makes sense to implement.  We would probably need to add an additional prop fo the retained value to support what is being asked for.

[2021-02-17 21:55] mmenestr commented on #759
Yes @mcoker that's what he's referring to! Would want something like this:
![image](https://user-images.githubusercontent.com/51165119/108272963-f5c36100-7140-11eb-9f1c-00fed137dde5.png)

[2021-02-17 22:01] mmenestr commented on #759
@mcoker in terms of how this count would live with other menus types, I don't envision there being a need for a count for dropdown action menus, do you? I see this more in select lists that wouldn't have actions or favorites - ie: in filtering situations.

If you do though, I would probably space it the same way you have menus with favorites + an action:
![image](https://user-images.githubusercont

[2021-02-17 22:04] mmenestr commented on #759
Finally, here's the final idea with specs:
https://marvelapp.com/prototype/c18hjf1/screen/76910983

[2021-02-17 22:09] mcarrano commented on #876
I definitely prefer V1 @gdoyle1 as in the second version I still feel like the blue line is associated with the menu item below.

@mcoker if we want to change the offset of the blue select underline highlight on our primary horizontal nav, would you see that as a breaking change?

[2021-02-17 23:00] mcoker commented on #759
@mmenestr thanks!

They would need to be separate enhancements. Off the top of my head, I'm not sure of the best way to to implement the catalog view filter panel items from core. Since that's a react extension, there are styles associated with the catalog view filter panel, but they don't come from core. And the check component is the core component used for the filter items (checkbox + text), an

[2021-02-18 15:25] mcarrano commented on #759
Good points @mcoker . I guess that we need more discussion about how to build the filter panel. @mmenestr can you also add your design proposal to the issue here so we are sure to consider that when it comes time to implement the panel? https://github.com/patternfly/patternfly/issues/3472 Thanks.

[2021-02-18 15:43] mceledonia commented on #1008
@mcarrano @doruskova @mcoker What do you think about something like this? It is a departure from our light theme approach but I was running into issues when trying to differentiate clearly between default, read only, read only expanded, and disabled.

![image](https://user-images.githubusercontent.com/30935938/108381625-fa862480-71d5-11eb-95a9-df9928326939.png)

@mcoker This approach would require

[2021-02-18 17:27] mmenestr commented on #759
Oh yeah that would be a problem. I did my mock assuming all items would have an action/favorite, or none of them, not a mix of having and not having haha. Well hopefully that won't be an issue since I don't see anyone doing this sort of combo.

Here is the mock/spec for the catalog view: https://marvelapp.com/prototype/c18hjf1/screen/76941197

[2021-02-18 20:30] mcoker commented on #876
@mcarrano I think it would be fine. My only concern is changing anything that is part of the page chrome as it may seem unexpected, though it's a very small change and I wouldn't expect suspect it to have much/any impact.

[2021-02-18 21:47] gdoyle1 commented on #876
@mcarrano @mcoker I also tried extending the line a bit so it would be 16px longer than the nav item itself. I don't think that's a MUST have if we were to make this change though - was trying it out after @mceledonia 's suggestion!

[2021-02-18 22:56] mcoker commented on #907
@mcarrano @doruskova these look good to me. Just to confirm, if we update the inline link button, does that imply we'll update the global link styles to have the same active state styling?

[2021-02-19 16:00] mceledonia opened #1010 "Additional design support for more complex forms"
Our form designs seem to start to break down a bit with complexity beyond our basic examples. I think it will be worth exploring the addition of a bit more structure that could better support these more complex forms, at least to where they can look decent in terms of spacing and chunking. I also think our documentation can be improved to be more clear about spacing around certain parts of forms s

[2021-02-19 21:22] mcarrano commented on #1003
@tlabaj @garrett @jessiehuff I spent some more time thinking through the options. I agree with @tlabaj that we would not change the default behavior, but rather add a prop to enable a new behavior if we want to commit the value of the field when the component looses focus. When we enable that, here are some options for how I think this could work when `isCreatable` is set.

**Option 1**
The user t

[2021-02-22 14:58] #753 closed

[2021-02-22 14:59] #973 closed

[2021-02-22 15:00] #935 closed

[2021-02-22 15:59] mcarrano commented on #874
@ajacobs21e @coreyvickery I'm taking a look again at this issue. Since we already have multiple things like this in the library, I'd rather not add a new component for this. I feel like the designs for this are pretty close to the expandable card that we added since this issue was opened. You can see that here: https://www.patternfly.org/v4/components/card/#expandable The only difference I see is

[2021-02-22 18:43] lwrigh commented on #1009
Here are the latest design updates to the enhancements to the copy to clipboard components for inline and single line variations. These updates were made after the in progress design with @mcarrano, @mceledonia, and @mcoker.

![Enhancements to the copy to clipboard component](https://user-images.githubusercontent.com/20227374/108753702-11e54a80-7513-11eb-98ef-c90dac6a2d89.png)
[Enhancements to the

[2021-02-22 19:22] mcarrano commented on #1009
These are looking good @lwrigh . Let's review these at the next design share meeting to see if there is further feedback.

@coreyvickery please take a look at the Code snippet option. Would this also work for the Code Block component you were looking for?

[2021-02-22 19:53] lwrigh commented on #1009
That sounds good to me. I just added to the next design share agenda.

[2021-02-23 01:19] gurbirkalsi opened #1011 "Group table columns with nested structure"
### Requirement & Use Case
In order to provide insights into parent-child relationships between nodes present in the table column, the grouping of associated columns should handle nesting of table column rows.

This feature is required in cases where parent nodes in table columns describe shared relationships with their immediate children nodes. One could imagine a case where the parent in a table

[2021-02-23 11:33] KKoukiou opened #1012 "Are nested form groups supported?"
In Cockpit we have multiple dialogs with nested form groups. See for example the following:

![Screen Shot 2021-02-23 at 12 30 10](https://user-images.githubusercontent.com/14921356/108837814-1b35ec00-75d3-11eb-97a4-427a08adab76.png)

or:

![Screen Shot 2021-02-23 at 12 32 03](https://user-images.githubusercontent.com/14921356/108837856-29840800-75d3-11eb-865b-3baf76dd95d4.png)

PF4 right now does

[2021-02-23 18:53] mcarrano commented on #1012
@KKoukiou we do have this implementation of nested field groups within the Form component: https://www.patternfly.org/v4/components/form/html#field-groups This is only implemented in Core right now, but hopefully will be available in React in time for the next release. Will this meet this need?

[2021-02-23 18:58] mcarrano commented on #1011
Thanks for documenting this request @gurbirkalsi .

@jschuler @mattnolting what would it take to nest table column headers like this? Is this something that could be added to our current table implementation?

[2021-02-23 21:27] bgliwa01 commented on #931
Here is a link to a Marvel for this design https://marvelapp.com/prototype/60jcb75
cc @mcarrano

[2021-02-23 22:03] mcarrano commented on #931
Thanks for posting this @bgliwa01 .

@mceledonia @mattnolting @nicolethoen @mcoker this proposal addresses the potential responsive behavior for the Tree Table. You'll see that we are looking at using a drill-down pattern to access nested levels of the tree, which is a common mobile pattern. Do you think this will work?

From a design spandpoint, I'm just wondering if we would make the ">" button

[2021-02-24 06:44] KKoukiou commented on #1012
@mcarrano thanks for the pointer. That field groups feature is cool, but it's very different that our current usage of nested form groups.

Accurately, if you look at the screenshots above there are labels that are just shifted to the right, to show that they belong to and are changing according to the previous group option.

The link to the docs, shows the nested groups with expanders, which are

[2021-02-24 14:42] mcarrano commented on #1012
@KKoukiou I see what you are saying. So I think this is more of a question of how to achieve a layout like what you are showing above. We actually currently have a PR up for nesting form controls within a checkbox or radio button group. See https://github.com/patternfly/patternfly/pull/3884 Looks like you want a similar thing.

@mcoker any advise on the best way to achieve this? Could we somehow m

[2021-02-24 15:32] coreyvickery commented on #874
@mcarrano Are you saying that you want to restyle the Expandable card so that it matches an expanded Accordion panel? In marketing, we don't use a Disclosure that often, but we do use it, and it's nice that it pairs with the styling of an Accordion. Additionally, our Card component is very complex and has lots of rules, so I don't know if our developers would be happy adding more complexity to tha

[2021-02-24 16:09] coreyvickery commented on #1009
@mcarrano Looking at the PDF, I think the developers I work with are pretty dead set on using multiple colors. I think our teams just need to come to an agreement about what those fonts and colors need to be.

[2021-02-24 19:35] mcarrano commented on #1009
@coreyvickery So sounds like what you are looking for is syntax highlighting. I doubt that we would write our own syntax highlighter. In PatternFly 3, we supported [Google Code Prettify](https://code.google.com/archive/p/google-code-prettify/wikis/GettingStarted.wiki) that does this job. Do you think that would work? Looks like there is some ability to customize the styling if we wanted. Or are th

[2021-02-24 19:44] mcarrano commented on #874
@coreyvickery One of the reasons I suggested the expandable card was that in looking at your mocks, they seem to have a very similar structure to our cards with a header, a body, and a footer. But if you would prefer something that just provides a less structured container, I think that we can build this on top of the existing Exandable section component: https://www.patternfly.org/v4/components/e

[2021-02-24 21:01] mcoker commented on #1012
Hey @KKoukiou you could do that using `<FormSection>`s. Here's a demo - https://codesandbox.io/s/loving-galois-jezdx?file=/index.js

Would that work?

[2021-02-25 06:39] KKoukiou commented on #1012
OH sure, did not realize it can be used like that. thanks!

[2021-02-25 06:39] #1012 closed

[2021-02-25 07:50] KKoukiou commented on #1012
@mcoker when using FormSection for creating the nested fields, there is too much padding above the first child I feel. I will create an issue in patternfly repo.

![Screen Shot 2021-02-25 at 08 48 21](https://user-images.githubusercontent.com/14921356/109120599-72100280-7746-11eb-996f-d0c2ae76e2f5.png)

See above, the margin above Ipv4 network is bigger than the gap between form groups.

[2021-02-25 08:43] ssbarnea commented on #1009
I do think that the proposed new component should also have an example where the text to be copied is not visible, where you have only the copy button and the text is hidden, basically only the Copy icon should be visible, even if internally the element would exist.

There are cases where very limited space require for that approach. Still, I would find useful for these to also display the text to

[2021-02-25 14:31] mcarrano commented on #1009
Thanks for your feedback @ssbarnea . So are you saying that the text field would still exist in the structure, but just be hidden from view? I think that's an interesting idea, however I'm not sure if just placing the copy icon in a page with no other context would be confusing. Do you have an example of where this might be used?

[2021-02-25 16:10] christianvogt commented on #1009
I don't like the designs where the copy button is outside of the code snippet block. When you get to a examples where there are multiple code blocks with and without copy beside each other, it may not be clear what will be copied.
eg:
Run `this command` [C] `another command`.
`code that isn't copied` `command to copy` [C]

[2021-02-25 16:30] lwrigh commented on #1009
![Enhancements to the copy to clipboard component](https://user-images.githubusercontent.com/20227374/109184079-9e367e00-775c-11eb-9a5b-bea32188d2d2.png)
@christianvogt I brought that feedback to the PF this week and discussed it with them. I made edits to the inline and single line options to include the action buttons inside of the code snippet. What do you think?

[2021-02-25 16:34] mcoker commented on #1012
@KKoukiou ah hah, good point! I talked to @mceledonia and he agrees, and says that the spacing of the nested elements should be tighter than the regular spacing between form groups, to imply a grouped relationship. We have a "stack" variation that you can add to the control group in a form group that allows you to stack multiple elements that are all associated with a single label in a form group

[2021-02-25 16:38] christianvogt commented on #1009
@lwrigh this looks much better.
One question in regards to the spacing between normal text and the code blocks. In your mocks the spacing of the code block is adjacent to the normal text, meanwhile code blocks code blocks in katacoda and github have a whitespace inbetween:
![image](https://user-images.githubusercontent.com/14068621/109185177-beb30800-775d-11eb-87f2-8e157b97e113.png)
![image](https

[2021-02-25 16:44] lwrigh commented on #1009
There should ideally have the whitespace in between the text and code snippet. That will be addressed in the design doc which I'm in the middle of updating.

[2021-02-28 23:00] coreyvickery commented on #1009
@mcarrano We created our own (accessible) styles for syntax highlighting. I am happy to provide those values in case PatternFly ever adds custom syntax highlighting. I think we're good on the PFE team moving forward with finalizing that component.

[2021-03-01 08:24] KKoukiou commented on #1012
@mcoker this looks perfect. Thanks a lot :)

[2021-03-01 14:37] mcarrano commented on #1009
That sounds good @coreyvickery . If the PFE team does an implementation, perhaps that's something that can be contributed back to PatternFly so we don't need to duplicate effort.

[2021-03-01 15:43] coreyvickery commented on #879
@ajacobs21e @mcarrano Here's a new round of designs that will be discussed on Wednesday.

https://xd.adobe.com/view/9a5a5c65-9ba2-4f43-8a0e-fc86e54a95f1-cf09/

[2021-03-01 15:43] mcarrano commented on #1003
I have opened an issue here to add a new prop: https://github.com/patternfly/patternfly-react/issues/5502 This will enable a consumer to implement option 3 as described above.

[2021-03-01 16:19] mcarrano commented on #1008
@mceledonia did we ever do final/updated mocks for this? If so, can you post them here and I will close this out? Thanks.

[2021-03-03 15:54] gdoyle1 opened #1013 "Create tile with stacked logo demo"
On the c.r.h.c platform, we are using tiles that are stacked with the logo and name of provider in multiple places. We want to make sure that the logo sizes are consistent throughout the use cases (one being sources and the other being image builder - there will probably be additional use cases in the future as well). The problem today is that the sizes of the logos are different in both places. W

[2021-03-03 15:54] gdoyle1 opened #1067 "Create tile with stacked logo demo"
On the c.r.h.c platform, we are using tiles that are stacked with the logo and name of provider in multiple places. We want to make sure that the logo sizes are consistent throughout the use cases (one being sources and the other being image builder - there will probably be additional use cases in the future as well). The problem today is that the sizes of the logos are different in both places. W

[2021-03-03 18:34] mcarrano commented on #1003
We will follow the approach outlined in Option 3. Closing this design issue in favor of the React issue referenced above.

[2021-03-03 18:34] #1003 closed

[2021-03-03 18:42] mcarrano commented on #907
I have opened https://github.com/patternfly/patternfly/issues/3898 to implement these styles for Buttons. We can also consider other components later, as needed. Thanks for your work on this @doruskova

[2021-03-03 19:43] mcarrano commented on #931
I have opened https://github.com/patternfly/patternfly/issues/3900 for tracking core implementation.

[2021-03-03 19:51] mceledonia commented on #990
@mcarrano @itsptk Here are a couple more ideas -
<img width="311" alt="image" src="https://user-images.githubusercontent.com/30935938/109863537-c11ad380-7c2f-11eb-8fba-e7b15df2fe23.png">
<img width="318" alt="image" src="https://user-images.githubusercontent.com/30935938/109863558-c5df8780-7c2f-11eb-83a6-06a92ece94db.png">

The blue uses a different selected styling to try to differentiate a bit f

[2021-03-03 21:20] mcarrano commented on #759
I have opened https://github.com/patternfly/patternfly/issues/3902 to track core implementation as applied to the existing Select component.

[2021-03-03 21:24] mcarrano commented on #769
Thanks for you work on this @maryshak1996 ! I have opened https://github.com/patternfly/patternfly/issues/3904 to begin core implementation.

[2021-03-03 21:57] mcarrano commented on #1009
I have split this into two new Core issues to begin HTML/CSS implementation.

https://github.com/patternfly/patternfly/issues/3906 for making enhancements to Clipboard copy for the single-line and inline variants.

https://github.com/patternfly/patternfly/issues/3907 for introducing a new Code Block component.

@lwrigh can you separate out your design mocks and attach them to these separate issues

[2021-03-03 22:10] christianvogt commented on #1009
@mcarrano so far we haven't planned any implementation work on this. We'll be sure to coordinate if we get to it first.

[2021-03-04 15:36] mcarrano commented on #990
@mceledonia I definitely have a preference for the first version with the light blue for selection. IMO the gray buttons are too easy to confuse with disabled styles, and the dark gray selection might be too prominent and have a similar issue with the primary blue for drawing too much attention to the component when placed in a page.

[2021-03-04 18:37] itsptk commented on #990
+1! I like the light blue a lot.

[2021-03-05 14:35] ajacobs21e commented on #949
Yes, RH SSO could use this! @mcarrano is this on the roadmap yet? @mceledonia is your design baked enough that I can use it in wireframes?

[2021-03-05 14:44] mcarrano commented on #949
@ajacobs21e I do have this on the roadmap for availability in June.

[2021-03-08 21:02] mcarrano commented on #901
Need to evaluate what updates we might make and whether those would constitute a breaking change. Adding to the design backlog.

[2021-03-08 21:15] mcarrano commented on #1013
Transferring to PF Core to create demo layouts and will add to the roadmap.

[2021-03-09 21:04] mcarrano commented on #980
Evaluated in context of the dark theme PoC. Looks great. Will close this out. Thanks @mceledonia !

[2021-03-09 21:04] #980 closed

[2021-03-09 21:06] mcarrano opened #1014 "Skeleton for dark theme"
Need to update the Skeleton component designs for dark theme.

[2021-03-09 21:28] mcarrano opened #1015 "Website: Make it easier to differentiate component from the background on component pages"
When viewing component examples, it's sometimes hard to tell what's the component and what's the workspace background. Below is an example:

![Screen Shot 2021-03-09 at 4.24.05 PM.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/c1849758-1daa-43af-879e-2b996e39231a)

In this case it's easy to mistaken that example title/heading from the Card header.

Want to identify some styling

[2021-03-10 19:34] gdoyle1 commented on #876
Hey all @mcarrano @mceledonia @coreyvickery - I tried adding another menu on the left for the sub nav. I don't think we should go with that - it looks strange having two hamburgers stacked on top of each other. If we did this, I think we'd have to add a third level item (tertiary) to the left navigation in order to connect the groups.

![mobile version hamburger - secondary](https://user-images.gi

[2021-03-10 21:02] mcarrano commented on #876
I totally agree @gdoyle1 . So one solution (and maybe the only solution) is horizontal scrolling, which is what happens with our tertiary nav now. The other option would be to somehow combine the two menus into the vertical panel. So if you select a page with an additional level, you can drill down into it from from within the single vertical menu. I believe that's what you proposed @coreyvickery

[2021-03-11 13:17] doruskova commented on #877
@ajacobs21e Could you describe your use-case more so that I can imagine it better? Do you need it for a login page or somewhere else? Do you have any mocks where do you need to use the indicator? Thanks!

[2021-03-11 14:29] ajacobs21e commented on #877
Here are two examples that I'm using in my mockups. They're different pages but both for a password.

Example before typing:
https://marvelapp.com/prototype/98fd61b/screen/76733076

Example after typing:
https://marvelapp.com/prototype/98fd61b/screen/75352348

[2021-03-11 20:04] mcarrano commented on #752
Going to get this one back into the plan. Here's some documentation that @mceledonia created to go along with this: https://docs.google.com/document/d/1VYTC2VrjdlwWPwEF7oVcCT-ict16bb3kDUmfHf9lpQA/edit?usp=sharing

[2021-03-12 10:45] doruskova commented on #1014
@mcarrano @mceledonia Update on skeleton loading https://codepen.io/doruskova/pen/mdOvVQb

Background color: black 900 (`#0f1214`)
Card bg color: black 800 (`#1b1d21`)
Loading: black 600(`#36373A`)
Loading after (effect): black 500 (`#444548`)

[2021-03-12 14:34] mcarrano commented on #1014
Looks great. @mcoker let's add this to the prototype.

[2021-03-12 14:34] #1014 closed

[2021-03-12 16:15] mcarrano opened #1016 "Wizard for dark theme"
Explore wizard translation to dark theme.

[2021-03-12 22:04] christianvogt opened #1018 "inconsistent disabled state color for switch and others"
**Describe the issue. What is the expected and unexpected behavior?**
Let's compare some PF disabled states:
![image](https://user-images.githubusercontent.com/14068621/111002767-f91ec680-8353-11eb-9a98-490b8f9b083d.png)
![image](https://user-images.githubusercontent.com/14068621/111002779-0045d480-8354-11eb-933a-a340aaba3b31.png)
![image](https://user-images.githubusercontent.com/14068621/1110027

[2021-03-15 13:00] doruskova commented on #759
@mmenestr @mcarrano Do we need to include this feature also for toggles? Catalog view example is using "toggle with text" symbols and this issue requires adding this feature to a "dropdown menu item" symbol. There is different spacing. Thank you!

[2021-03-15 15:07] doruskova commented on #1016
@mcarrano @mceledonia Updated wizard https://marvelapp.com/prototype/963bhhh/screen/77631616

Default step: `$pf-color-black-500: #444548;`
Default step - text: `$pf-color-white: #fff`
Current step and text: `$pf-color-blue-300: #1fa7f8`
Disabled step and text:` $pf-color-black-200: #aaabac;`

Description below title: `$pf-color-black-50: #e0e0e0;`
Background color for the header: `$pf-color-black

[2021-03-15 19:34] mcoker commented on #876
@mcarrano the react component could watch the window size, and at a specified size, move the tertiary nav into the sidebar. Though I think we want to avoid react from having to watch the window size as I believe that can hinder page performance.

Another way, and maybe this is preferred, is the react component could copy the tertiary nav into the sidebar on page load if the user has specified, and

[2021-03-16 13:22] mmenestr commented on #759
@doruskova ideally we want to use it in both dropdown menu items AND catalog view, since the use cases are the same (ie: showing matches for that filtering option)

[2021-03-16 14:46] mcarrano commented on #1008
Final designs resolved in CSS prototype. Will close.

[2021-03-16 14:46] #1008 closed

[2021-03-16 15:06] mcarrano opened #1017 "Add guidance for usage of auto-complete in Search Input"

[2021-03-16 15:11] mcarrano commented on #907
No need to add to documentation or Sketch library. Will close.

[2021-03-16 15:11] #907 closed

[2021-03-16 18:59] mceledonia commented on #1018
I wonder if the disabled styling for the switch can be something other than a color change, for example switching from fills to borders. It would likely be an exception to the others which work better with the color change. We are going to transfer this over to design so I'll tag you with any updates.

[2021-03-17 16:56] coreyvickery commented on #874
@mcarrano So it sounds like we can't change the name after all or if we tried, it would break a lot of things. See Kendall's comment below. Can the marketing version of `Expandable section` simply be named `Disclosure`, but look and act the same?

https://github.com/patternfly/patternfly-elements/issues/829#issuecomment-789852893

cc @mceledonia @ajacobs21e

[2021-03-17 17:37] mcarrano commented on #874
@coreyvickery Yeah, we have the same issue with renaming things in PatternFly. Not sure I understand your question exactly. Are you just asking that the example on the PatternFly website within the Expandable section component be named "Disclosure?" Sure we can do that. But it would still live as a variant of https://www.patternfly.org/v4/components/expandable-section

[2021-03-17 17:56] coreyvickery commented on #874
@mcarrano Sort of, you don't have to change anything, I was just asking if we can keep the `Disclosure` name, but it will be styled and function like PatternFly's `Expandable section`.

[2021-03-17 18:48] mcarrano commented on #840
@garrett @andreasn This issue is quite old and I wanted to loop back around with it. We have been working on redesigning the visuals for our tertiary nav component to differentiate it better from Tabs. You can see those designs here: https://marvelapp.com/prototype/fj0941h/screen/76571549 In looking back at this, it seems like you were using tertiary nav where you should have been using tabs (this

[2021-03-17 19:18] mcarrano commented on #892
This is potentially needed for OS 4.9 (July 2 feature).

[2021-03-17 19:54] mcarrano commented on #874
Yes, I think we can.

[2021-03-17 21:00] gdoyle1 commented on #876
@mcarrano @mceledonia @mcoker We decided on just using the arrow overflow method, which matches what we're doing with horizontal nav today, but will open a follow-up issue to look more into the methods you described above.

Here's the marvel for edits to existing horizontal nav and a spec for the new subnav https://marvelapp.com/prototype/fj0941h. Please contact me if you need anything!

[2021-03-18 15:20] mcarrano commented on #876
Thanks @gdoyle1 !  I have opened two new core issues to track implementation:

https://github.com/patternfly/patternfly/issues/3935 - to add the new horizontal sub-nav variant.
https://github.com/patternfly/patternfly/issues/3936 - to update the tertiary nav demo to use this variant in a page.

[2021-03-18 15:24] mcarrano commented on #922
Opened https://github.com/patternfly/patternfly/issues/3936 to update demo of tertiary nav in a page using newly designed sub-nav as seen here. Design:https://marvelapp.com/prototype/fj0941h/screen/77719996 Will close this design issue.

[2021-03-18 15:24] #922 closed

[2021-03-18 18:55] mcarrano commented on #934
Based on discussion with @mceledonia and @mcoker seems like we should at least have a plain variant to use when a lighter weight context selector is desired. This will also work better inside the masthead and be more consistent with the design guidance. The component is currently built to adapt to the background of the page section where it is places. But would be nice to add dark and well as ligh

[2021-03-19 15:10] doruskova commented on #1016
@mcoker FYI

[2021-03-22 15:52] mcarrano commented on #1016
Looks good. Thanks @doruskova . Will close.

[2021-03-22 15:52] #1016 closed

[2021-03-22 19:19] katierik commented on #912
![image](https://user-images.githubusercontent.com/23172038/112046049-eb223000-8b21-11eb-9fcc-d964a082f308.png)
The use case we have for tagging in Insights is to have the ability to have both AND and OR relationships. In the example (just mocked it up quick for illustrative purposes) the user needs to have an OR relationship between subitems and an AND relationship between groups.

[2021-03-22 20:51] mmenestr commented on #928
Here is my proposal with both keeping it in the menu + having a modal: https://marvelapp.com/project/5558454

[2021-03-22 21:02] mcarrano commented on #928
@mmenestr Had you considered creating a footer like we have here: https://www.patternfly.org/v4/components/context-selector#with-footer? Ideally I'd like this to be something that is general to hold 'View more' or any other action you wanted to add. Thoughts?

[2021-03-23 13:57] doruskova commented on #877
@mcarrano @ajacobs21e Here's the update for the password strength meter. There are few variations of how to display the indicator and the description (guidance) for a password. https://marvelapp.com/prototype/6jehce7/screen/77881829

I like the first option where the indicator is below the input field and the description could be in the popover to save space. I'm curious about the feedback.

[2021-03-23 14:28] ajacobs21e commented on #877
@doruskova Thanks Marie! I left comments on the Marvel.
I plan on updating my help text to this component when it's available: https://marvelapp.com/prototype/5bjdj7c/screen/67735781

I have an idea of how to combine these two, let me mock it up and share here and see what you and @jknilans think

[2021-03-23 17:00] mceledonia commented on #932
@mcarrano Here's our latest design proposal, aligning with the behavior of the toolbar as it is a similar interaction pattern. I have two versions below - 1. The indicator appearing on its own line, extending the vertical height of the page header area. / 2. Appearing in-line with the rest of the page header toolbar actions when the space is available.

I would like to get more thoughts on these t

[2021-03-23 19:56] mmenestr commented on #928
I just added a [mock to show that option](https://marvelapp.com/prototype/c49ebi3/screen/77899796)! I think the only thing I wonder is how the interaction would work. If it opens up a modal I think the interaction is great, makes sense, and it helps that the button is always so visible, but when the "view more" just makes the menu scrollable, what should happen with the footer? Does the footer jus

[2021-03-24 03:29] nlcwong commented on #928
To give the sense of a menu becoming scrollable, i would think footer or inline link would always be at the end of the list never floating on top.

With that said, I like the inline link for a menu that becomes scrollable and a footer link for a menu that will launch a modal.

[2021-03-24 14:43] ajacobs21e commented on #877
https://marvelapp.com/prototype/5cjahdc/screen/77895654 Here are a pile of ideas, please tear them apart :D
@doruskova @jknilans @mceledonia @mcarrano

[2021-03-24 16:01] mcarrano commented on #990
Based on the feedback from today's PF design share meeting, let's plan to move forward with the light blue styling for selected states. @mceledonia can you attach a spec here? I will then open a core issue to move this into development.

[2021-03-24 19:56] mcarrano commented on #932
@mceledonia based on feedback from today's PF design share meeting, let's consider the following updates:

* perhaps separate the reporting of filters applied and showing/hiding the filter panel as separate concerns.
* consider a more general approach to showing and hiding the filter panel that could be generally applied to any drawer.

[2021-03-24 20:11] mcarrano commented on #877
Thanks for offering these options @ajacobs21e . Personally I like the one with the strength meter directly below the field and the requirements below that. But however we approach this, we should make sure these elements could be used separately or together. For example, I might just want the password strength meter by itself. Or I might want to use the real-time requirements checking for somethin

[2021-03-25 19:01] mcarrano commented on #874
A core issue is opened here to begin implementation: https://github.com/patternfly/patternfly/issues/3952

[2021-03-25 19:08] mcarrano commented on #928
@mmenestr I opened https://github.com/patternfly/patternfly/issues/3953 to begin implementation in our next sprint milestones. Please add your final designs to that issue when complete (and also here for reference).

[2021-03-25 20:25] mmenestr commented on #928
Final design: https://marvelapp.com/prototype/c49ebi3/screen/77975699

Went with "View more" inside the menu which would be located after the first 8-10 options. Clicking view more would surface more options which users could scroll through. At this point the list could become endlessly scrollable, with a spinner showing as options are loaded OR users could be made to click "View more" repeatedly

[2021-03-26 18:20] KKoukiou opened #1021 "Nav: are you interested in supporting a search functionality?"
In cockpit we have a custom search for our page sidebar, one of the features we actually miss from PF4 is the search. Is it something that PF4 would be interested to support?

Here is a screenshot of the feature in question.
![Screen Shot 2021-03-26 at 19 16 21](https://user-images.githubusercontent.com/14921356/112676059-4462ca00-8e68-11eb-9e53-8eba8f2ba763.png)

[2021-03-29 12:58] doruskova commented on #1010
@mcarrano @mceledonia Here's the update on form sections. I chose the last two examples from this issue.
https://marvelapp.com/prototype/g6f5ife/screen/78060220

Example 1 - [version with divider](https://marvelapp.com/prototype/g6f5ife/screen/78060220) and [without divider](https://marvelapp.com/prototype/g6f5ife/screen/78060223)
Example 2 -[ with divider](https://marvelapp.com/prototype/g6f5ife/

[2021-03-29 14:44] mcarrano commented on #931
See https://github.com/patternfly/patternfly/pull/3943 for current proof of concept. Will close the design issue.

[2021-03-29 14:44] #931 closed

[2021-03-29 14:46] mcarrano commented on #928
Thanks @mmenestr . I have opened https://github.com/patternfly/patternfly/issues/3953 to begin implementation.

[2021-03-29 15:18] mmenestr opened #1213 "Update icon implementation in Icons page"

[2021-03-30 15:59] bmignano opened #1020 "Enhancement to tree view pattern"
This enhancement request is related to the design mentioned in https://github.com/patternfly/patternfly-design/issues/994

We want to update the Schema explorer in OpenShift to use the [tree view](https://www.patternfly.org/v4/components/tree-view/). However, the tree view as is makes it very difficult to discern the different nodes in the tree and their respective levels. Something to note here a

[2021-03-30 17:35] mcarrano commented on #1020
@bmignano looks like this request is a duplicate of https://github.com/patternfly/patternfly-design/issues/994. Can you consolidate these into one issue/request? It will just make it easier to track. Maybe keep this one open and close the older issue? But it would also be useful to show the Openshift mock here.

[2021-03-31 14:14] mcarrano commented on #754
All design issues are complete so I am going to close this epic. Thanks for all your efforts on this @doruskova @mceledonia

[2021-03-31 14:14] #754 closed

[2021-03-31 18:00] mcarrano commented on #877
@ajacobs21e so looks like this is just a Javascript library that does the validation and not the UI. Is that right? I wasn't thinking that PatternFly would write it's own validation, so I suppose the consumer of our component could use this or anything else. What were your expectations?

[2021-03-31 18:37] ajacobs21e commented on #877
@mcarrano I don't have any expectations other than documenting this info somewhere so it doesn't get lost in my head :)

[2021-04-01 13:50] mcarrano commented on #1021
@KKoukiou I'm a little bit unclear what you are searching against. Where does the "contains" term come from?

[2021-04-01 13:51] doruskova commented on #877
@mcarrano @ajacobs21e Here's the update including the validation. https://marvelapp.com/prototype/6jehce7/screen/78177955
I don't know how do we want to approach this if we want to keep the indicator and validation separate or not, but my preference is still having the indicator below the field and validation below the indicator. Let me know your thoughts. Is even possible to use the validation fo

[2021-04-01 14:00] ajacobs21e commented on #877
@doruskova Thanks Marie. I still think this looks like a progress indicator for the validation requirements. I am wondering if we need the strength bar with the validation requirements.

What if it was something more like this?
![image](https://user-images.githubusercontent.com/6415742/113305514-1d295400-92d1-11eb-9a36-fcb526fb49e9.png)

[2021-04-01 14:27] doruskova commented on #877
@ajacobs21e Great point! Or we can have only unstructured text below the indicator without the icons that indicate the validation and make it confusing.
<img width="341" alt="Snímek obrazovky 2021-04-01 v 16 24 24" src="https://user-images.githubusercontent.com/32618096/113308769-c8a0cb80-9306-11eb-920b-6bcff27bb804.png">

[2021-04-01 14:32] ajacobs21e commented on #877
@doruskova Yeah I think that works much better if it's just simple help text like "Password must be at least 8 characters" etc.
And then if it's something more complicated like my example, we recommend using the validation list that Josh designed.

What do you think about using some kind of status indicator on the word? Maybe a label isn't the right thing to use but something like that.

[2021-04-01 14:38] doruskova commented on #877
@ajacobs21e I'd use what you have there, just without the label, haha.
<img width="468" alt="Snímek obrazovky 2021-04-01 v 16 37 24" src="https://user-images.githubusercontent.com/32618096/113310469-8ed0c480-9308-11eb-9d04-3d430512cda0.png">

[2021-04-01 14:46] ajacobs21e commented on #877
SOLD! :D

[2021-04-01 14:49] doruskova commented on #877
So, I assume that this is what we're proposing as a result. Correct? @ajacobs21e @mcarrano
<img width="720" alt="Snímek obrazovky 2021-04-01 v 16 49 07" src="https://user-images.githubusercontent.com/32618096/113312053-34386800-930a-11eb-97fd-f225caf3d3b7.png">

[2021-04-01 15:00] ajacobs21e commented on #877
Yes, although I would use a simpler example of the help text in the left one. I think our guidance should be that if the requirements for a given field are that complex, you should use the example on the right.

[2021-04-01 15:25] lboehling commented on #924
Hi @mcarrano and @tiffanynolan I've updated the designs for this issue: https://marvelapp.com/prototype/62dig4j/screen/78180859.

In order to not break the existing next/back pattern, I styled the optional finish button as a tertiary button and placed it in between the next/back buttons and the cancel button. I also changed the finish button to read as "Review and finish"--clicking this button wou

[2021-04-01 17:46] edewit opened #1022 "check box styles"
Check boxes look different in every browser wouldn't it be a good idea to have a checkbox that would use the defined patternfly colors e.g. `--pf-global--primary-color--100` for when it's selected?

[2021-04-01 17:58] mcarrano commented on #877
I agree that this is a good approach. Maybe present again at next Wednesday's design share for more feedback @doruskova . I think that validation list should be something that can be applied to any text field (for naming conventions, for example) so that should be separate. But that's really more of an implementation issue.

[2021-04-01 18:24] mcarrano commented on #924
I like the use of the tertiary button @lboehling . The only thing I'm wondering about is the placement of the alert. These Inline alerts were really designed to go at the top of a page, however I do see the desire to associate this more with the buttons. I wonder if there could be a lighter weight solution similar to what's displayed above the checkboxes in this form example: https://www.patternfl

[2021-04-05 13:07] tiffanynolan commented on #924
@lboehling I really like the new location and text on the button. Much easier to understand. I agree with @mcarrano about the location of the alert. I would expect to see it above the buttons and not below at the very least. Perhaps a new style is needed here but I do think the inline alert would be an acceptable solution.

[2021-04-05 15:32] mcarrano commented on #912
@mcoker Can you take a look at this? Our proposed solution is to just place a Tree view within a dropdown container as shown in the mockup above. Can that be built using existing components? If not, what would be needed? Assuming this does not require any new component variants, my suggestion will be to just create a demo and/or documentation to should this.

[2021-04-05 18:17] mcarrano commented on #1020
@bmignano there may be some implementation issues with this, but we will get it on the roadmap to investigate more. Is there a timeframe when this is needed?

[2021-04-05 18:31] bmignano commented on #1020
@mcarrano The implementation story has yet to be groomed and prioritized, so I'm not sure about a timeframe just yet, but I can certainly get back to you once I have a better idea.

[2021-04-05 18:39] mcarrano commented on #1022
Already have done exploration of adding custom Check and Radio controls. See previews here:

https://patternfly-next-pr-2745.surge.sh/documentation/core/components/check
https://patternfly-next-pr-2745.surge.sh/documentation/core/components/radio

WIP PR: https://github.com/patternfly/patternfly/pull/2745

Note: creating the custom check component would not update all instance of checkbox usage, e

[2021-04-06 06:53] KKoukiou commented on #1021
@mcarrano looks just in the top of the screenshot there is a search box where you can type to filter your navigation items.

[2021-04-06 19:06] mcarrano commented on #1021
@KKoukiou So is the intent then to filter nav items? I guess that you could put a Search input above the navigation like we do for the context selector in this example: https://www.patternfly.org/v4/components/context-selector/design-guidelines#navigation-level-impact  Other teams have done that. You would be responsible for writing the logic for implementing the filter.

Another way to think abou

[2021-04-07 04:18] mcoker commented on #912
@mcarrano you can p lace a tree view component in a dropdown menu. Here is an example using the react components.
 The dropdown click event would need to be updated so it doesn't close the menu when you click on something in the tree view - https://codesandbox.io/s/fervent-dew-2g5ii?file=/index.js

You can also use group titles in combination with the tree view in a dropdown menu in core, though I

[2021-04-07 06:40] KKoukiou commented on #1021
Sure, we have exactly this thing implemented. I was just wondering if you are interested to add support for it in the Nav component, since more teams use it. If not, feel free to close the issue.

[2021-04-07 13:09] mceledonia commented on #932
Here's a quick prototype I made to convey the idea. This solution would require us creating and shipping a custom icon, but that is something we can absolutely do thanks to the work of Brian and Coker! https://xd.adobe.com/view/dafffb62-bfa8-4fc4-ad35-001b409e70b1-8fac/

[2021-04-07 13:18] mcarrano commented on #1021
Thanks @KKoukiou . I have not had any other requests for this, so I am going to close. Can reopen in the future if there is a wider need.

[2021-04-07 13:18] #1021 closed

[2021-04-07 15:40] mcarrano commented on #912
Thanks @mcoker . I will create a issue to create a React demo of this.

[2021-04-07 15:49] mcarrano commented on #924
@lboehling I reviewed your designs during the PF design share meeting today. Use of tertiary Review and finish button makes sense. There were questions about whether we even need the alert. Feedback was that this seemed "heavy handed." Maybe this is not needed as part of this pattern? A consumer could always decide to add an alert. Placement might be more dependent on the content of the wizard pag

[2021-04-07 16:20] ajacobs21e commented on #877
https://www.nngroup.com/articles/password-creation/
the article says
_strength meters motivated users to create stronger passwords._
and also
_Note that indicating progress toward compliance isn’t the same as a strength meter._

but then no guidance on how to use both. oh well.

I asked my dev team if it's possible to show what parameter failed the strength checker so we can show that to users. Ev

[2021-04-07 18:24] mcarrano opened #1023 "Alert: add "plain" variant"
Add a plain variant of the Alert component. This is designed as a light-weight inline alert that can be placed any where in the page. Unlike the full inline alert, it would not have other actions associated with it. See https://marvelapp.com/prototype/852jaj9/screen/75866265 for an example of what appearance and placement might look like.

[2021-04-07 20:56] mcarrano commented on #976
Based on meeting today with @manstis @maryshak1996 @lboehling @mcoker @mattnolting @amysueg we will define a general design approach that can be built as a new PatternFly demo. This should address affordances for entering/exiting edit mode, committing changes, and the possibility for undoing changes.

I have opened a parallel documentation issue for incorporating these changes into design guidelin

[2021-04-07 21:10] lboehling commented on #924
Thank you @mcarrano! I like the idea of placing the message in a tooltip. I've updated the mocks accordingly. https://marvelapp.com/prototype/62dig4j/screen/78180859

[2021-04-08 03:19] jeperry commented on #877
@ajacobs21e my interpretation is that there is distinction between compliance (validity) and strength. The strength of a non-compliant password is irrelevant so we shouldn't refer to it as weak, it is just invalid.

Ex: If password must have 8 characters and at least one lowercase, one uppercase, and one number:
- 'passw0rd' is not valid, strength is moot
- 'Passw0rd' is valid but weak

My takeawa

[2021-04-09 11:39] pondrejk opened #1078 "Next/Back button position in wizards"
Having read [1][2][3] I see the "primary button on left" approach has some backing, though in case of Next/Back buttons it goes against what is common in majority of interfaces and will likely produce misclicks.

I wonder if we could reconcile the views and put the Back button above or below Next. This way primary button will still be on the left + not having those buttons on the same row will les

[2021-04-09 15:43] mcarrano commented on #1022
There was an older issue related to this that contains some good research and discussion. See https://github.com/patternfly/patternfly/issues/865. I think this is something that would be worth putting back on the roadmap for future consideration as this issue keeps coming up.

[2021-04-09 18:29] mcarrano opened #1026 "Visual design refresh"
This epic is opened to collect issues that should be considered from our next visual design refresh.

[2021-04-12 04:05] ajacobs21e commented on #877
I met with infosec and for RHSSO we do want to be showing both validity (the requirements checklist) and strength. I agree with Vince and @jeperry that strength is moot if the password is invalid. It is still useful to give feedback on the strength for passwords that meet complexity requirements. The more we can do to steer users to choosing good passwords, the better.
Here's how that can work (wi

[2021-04-12 14:18] jessiehuff commented on #978
Hey @mceledonia! 🙂   I'm curious if you've thought about the a11y considerations for these animations? I think, based on the working group doc, that most of your animations might fall under "motion animation" or "Animation from Interactions" that are under[ WCAG 2.3.3](https://www.w3.org/WAI/WCAG21/Understanding/animation-from-interactions). I think the big thing to note is that we should probably

[2021-04-12 14:44] #853 closed

[2021-04-12 14:45] #927 closed

[2021-04-12 14:45] #967 closed

[2021-04-12 15:48] #934 closed

[2021-04-12 15:50] mcarrano commented on #928
Design doc updates covered in patternfly-org/2206

[2021-04-12 15:56] mcarrano commented on #876
Design work is complete, so will close this.

[2021-04-12 15:56] #876 closed

[2021-04-12 15:56] mcarrano commented on #958
Here are the final designs for the new secondary nav: https://marvelapp.com/prototype/fj0941h

[2021-04-12 17:23] Rohoover opened #1027 "Update Vertical Navigation to be more scalable"
Currently the vertical navigation continually adds left-hand nav items that expand. For some applications, the length becomes quite long. The work-around of using secondary tabs in the content area is not idea since applications are already using one to two layers of tabs + a context selector in the header content area. Ideally, we would reintroduce sub menus similar to what was available for the

[2021-04-12 17:26] beccaglass commented on #962
@mcarrano starting to mock up some options for this issue... is there a use case that jumps out at you that I can use to show variations? I.e. In the current site, what are nested elements that would be grouped into a third level?

[2021-04-12 17:42] mcarrano commented on #932
Thanks @mceledonia . Do you recall what's needed to create the custom icon? Is it just an SVG of each? If you can provide those I will open  a separate issue to add these.

cc @bdellasc

[2021-04-12 17:49] mcarrano commented on #912
Opened a new React issue here to implement this demo: https://github.com/patternfly/patternfly-react/issues/5655.

[2021-04-12 17:56] mcarrano commented on #924
@mcoker @tlabaj can you review the above design proposal and let me know if there's value to adding this as a new Wizard demo? I'm OK to just have this approach documented as a standard design pattern if it's easy for a consumer to add custom buttons to the wizard footer or we could create a demo to show this if you think it would be useful.

[2021-04-12 18:05] trahman73 commented on #1027
The Ansible Automation Bundle is also limited in it's navigation choices by this in both our on-prem and cloud components. We are currently having to use a lot of sub tabs within the page as a means to get around this issue.

[2021-04-12 19:09] KendraMar commented on #1027
Yeah, hearing from Taufique and the Ansible folks about this as well.

The team favors the flyout approach that was available in PatternFly 3...we'd like to explore that.

[2021-04-12 19:20] mcarrano commented on #1010
We did just introduce the ability to create Field Groups (https://www.patternfly.org/v4/components/form#field-groups). These can be expandable or non-expandable. I wonder if we should be using those to help organize content.

[2021-04-12 20:32] mcarrano commented on #962
@beccaglass That's a great question. I know that I was involved in multiple discussions where this came up. One in particular concerned the UX Writing guidelines. This would naturally fit within the Guidelines category, but the document became too long and it was decided to break it up into multiple pages so we needed to pull "UX Writing" out to a top level section. The result of this is that it f

[2021-04-12 20:45] beccaglass commented on #962
@mcarrano yes, that definitely helps.

I mocked up three visual options to start with... I happened to group some of the 'Guidelines' elements to illustrate the pattern, but of course this just serves to show possible 3-level patterns, rather than imply how we'd change the grouping of site pages.

Let me know your thoughts!

Mocks: https://marvelapp.com/prototype/g8666ge/screen/78452062

[2021-04-12 21:07] mcarrano commented on #962
Thanks @beccaglass . Of your options, I think either the first or third are possible (or some combination). The second option is probably not workable because we already use horizontal tabs at the top of some of our pages. I'll set up some time with other team members to review these options.

[2021-04-13 07:49] doruskova commented on #1010
@mcarrano Yeah, it's basically the same thing :D So, I think that we should add this screen to our template file because we don't have a real example like this. https://marvelapp.com/prototype/g6f5ife/screen/78060220
Also, I looked at the template file and it looks that I need to update the existing screens because they're a little bit different from the implementation. However, we should emphasiz

[2021-04-13 08:44] KKoukiou commented on #985
Hi, we are really looking forward to this feature. Glad to see it in high priority already, In cockpit very often we feel like having a highlight / animatoin for new items in tables, lists etc will help the users follow better the activity.

[2021-04-13 12:43] doruskova commented on #877
@ajacobs21e @mcarrano I agree with Allie's approach. However, I've added the initial status for a strength meter because the user doesn't know that the meter will appear on the right after completion of all requirements. They could expect a different place because, for example, Apple has a strength meter below the requirements. https://marvelapp.com/prototype/6jehce7/screen/78472547

Also there is

[2021-04-13 15:30] beccaglass commented on #962
@mcarrano sounds good keep me posted. Am I correct in remembering that Patternfly3 had a flyout/nested menu component that was nixed for PF4?

[2021-04-13 16:20] mcarrano commented on #877
@doruskova I guess that I don't have a problem with hiding the strength meter until there is something that can be displayed. If we are to show it, not sure "waiting" is the right word, but don't have a better one. As for what the rules are about when  a password becomes valid, I don't think we can define that from a PatternFly perspective. We are just giving the product some valid options to util

[2021-04-13 16:29] mcarrano commented on #1010
You might want to ask @lboehling for an example as I think they were using this in one of the App Services products. Also OpenShift.

[2021-04-13 17:51] bgliwa01 commented on #919
Here is a marvel of the proposed design: https://marvelapp.com/prototype/g894bfa

cc @mcarrano

[2021-04-13 18:04] mcarrano commented on #962
Yes, that's correct. We were trying to avoid flyouts for PatternFly 4

[2021-04-13 18:19] mcarrano commented on #919
This looks good to be @bgliwa01 .

@mcoker @mattnolting can you also give this a look? The idea would be that when the table transforms into the stacked/mobile format, the Sort menu is also exposed within the toolbar. Do you see any problem with that approach realizing that the Toolbar and Table are separate components? Perhaps we would create a demo to show this.

[2021-04-14 11:06] doruskova opened #1028 "[Existing icon addition] Add eye and eye slash icons"
I'm working on a template file that includes an eye and eye slash icon. These icons have been used in a [Login page (React)](https://www.patternfly.org/v4/components/login-page/react/showhide-password/). And I need to get these two icons to PF icons set and Sketch library so that designer can easily use these icons that represent showing/hiding passwords. Both icons are available in Fontawesome ([

[2021-04-14 11:06] doruskova opened #1036 "[Existing icon addition] Add eye and eye slash icons"
I'm working on a template file that includes an eye and eye slash icon. These icons have been used in a [Login page (React)](https://www.patternfly.org/v4/components/login-page/react/showhide-password/). And I need to get these two icons to PF icons set and Sketch library so that designer can easily use these icons that represent showing/hiding passwords. Both icons are available in Fontawesome ([

[2021-04-14 12:15] doruskova commented on #877
@mcarrano Agree. So, let's make it simple and leave it without the initial state. Added this [version here](https://marvelapp.com/prototype/6jehce7/screen/78472547)

[2021-04-14 12:30] doruskova commented on #990
@mcarrano @mceledonia Could you add a design specification for the styling so that we can update it in a Design kit? I just want to ask, we have disabled state for the toggle group. What's the styling for the disabled states? And I noticed that we have a "light version" that is used on a grey background. Do we differentiate it here as well or is it only one version for grey and white background? T

[2021-04-14 13:48] mcarrano commented on #877
I like this much better @doruskova . If we all agree, can you update the document to only show what we consider the final version and move others to an archive page or just delete? I'd like to get this ready to hand off to development by next week. It should also be clear that while the strength meter is something explicitly associated with a password field, the validation checker is a pattern tha

[2021-04-14 13:50] mcarrano commented on #1028
I'm not entirely sure what needs to happen here. What do we need to do in order to pull additional font awesome icons into our PF set. @mceledonia @bdellasc can you advise?

[2021-04-14 13:53] doruskova commented on #877
@ajacobs21e are you ok with the second version without the initial state?
@mcarrano Here's the updated mock without the first version https://marvelapp.com/prototype/6jehce7/screen/78511266
Other versions have been archived.

[2021-04-14 14:53] bdellasc commented on #1028
Since both the eye and eye slash icons are already included in [font awesome free](https://fontawesome.com/icons?d=gallery&p=2&m=free), and not new/custom icons, I believe they are already in the toolkit as part of the Font Awesome font. We just need to document the icon in the icon list page here: [https://www.patternfly.org/v4/guidelines/icons/](https://www.patternfly.org/v4/guidelines/icons/).

[2021-04-14 18:19] lboehling opened #1029 "Add text link style for banner component"
The PF site currently doesn't have guidance on how to style links when using the banner component. I spoke with @maryshak1996 and we discussed that links in banners should be underlined and retain whatever text color is used within the banner (black or white). On hover, the link text should increase to medium weight and the cursor should change from the pointer to the hand cursor.

![image](https:

[2021-04-14 19:17] maryshak1996 commented on #976
@mcarrano  I chatted with @lboehling and we are going to divy up the work such that she will be working on some written documentation around guidance, and I will put together a designs for a demo that we should host.
With product obligations on both of your ends, we will probably have to continue this into next sprint.

[2021-04-14 19:46] mcarrano commented on #976
That sounds like a good plan. Thanks for the update @maryshak1996 .

[2021-04-15 14:02] ajacobs21e commented on #877
@doruskova yes this is great! Thank you.

I have one nitpick :)
![image](https://user-images.githubusercontent.com/6415742/114881842-5b466d80-9dd1-11eb-83eb-ba3fd0b79ed5.png)
Do you think the icon should move up a pixel or two so it's bottom aligned with the text?

Should we update https://github.com/patternfly/patternfly-design/issues/949 to use dots instead of the minus icon for the initial stat

[2021-04-15 14:14] doruskova commented on #877
@ajacobs21e Thanks for pointing this, it should be fixed now.

[2021-04-15 14:25] ajacobs21e commented on #877
@doruskova Perfect, thank you!

[2021-04-15 16:01] mcarrano opened #1030 "Add Search Input with submit button"
We currently have two solutions for basic text filtering in a toolbar. The [Search Input ](https://www.patternfly.org/v4/components/search-input) was introduced to support a variety of search and filter use cases. It supports type-ahead style searching and has a static search icon to the left of the text field as shown below:

![Screen Shot 2021-04-15 at 11.46.24 AM.png](https://images.zenhubuserc

[2021-04-15 16:32] rvsia opened #1031 "Selected tile looks almost the same as outlined one"
We have encountered an issue that a selected tile https://www.patternfly.org/v4/components/tile looks very similar to outlined one:

left: Selected        ------------------------                 right: Outlined

![Screenshot 2021-04-15 at 18 22 35](https://user-images.githubusercontent.com/32869456/114904904-a637a380-9e18-11eb-9b10-34fb38e14ff5.png)

This causes issues when users outline instead

[2021-04-15 16:34] rvsia commented on #1031
cc @beccaglass

[2021-04-15 18:24] mcoker commented on #919
@mcarrano that sounds good to me, seems like it would be a manual implementation and a demo on our end would be great for showing how it can be done.

[2021-04-16 10:23] karelhala opened #1032 "Dark skeleton"
Cloud.redhat.com is using skeletons in dark background, they are not really visible and are a bit off.

@epwinchell came up with a sollution to show different gradient. However I think others might benefit from this as well and we should backport it to PF styles.

[2021-04-16 15:31] mcarrano commented on #1027
I started a discovery document here to gather some requirements and prior work: https://docs.google.com/document/d/1Q5_KVOpA1IwRO9VCNfn9k4BqPfrhLXeL7JtJPYAWOeU/edit?usp=sharing

[2021-04-16 18:32] mcarrano commented on #877
@doruskova So just to be clear, did we just settle on the designs I see on this page? https://marvelapp.com/prototype/6jehce7/screen/78511266  Does that mean we are no longer using the process bar to indicate strength - just the icon and text above the field to the right and the validation/helper text below the field?

[2021-04-16 19:48] mceledonia commented on #1030
I think this is a great proposal, it will eliminate confusion of when to have the icon on one side vs the other.

[2021-04-16 20:33] beccaglass commented on #962
@mcarrano updated mocks and nav shown in context (both for PF site and c.rh.c)

https://marvelapp.com/prototype/g8666ge/section/1332343

[2021-04-16 21:15] gdoyle1 commented on #892
I've come up with some proposals in [this Marvel](https://marvelapp.com/prototype/g8idd54)! @mcarrano @mceledonia @jgiardino @jessiehuff if you all could take a look - I added some specific items about accessibility in there too (and hopefully my wording was right 😊)

[2021-04-19 07:55] doruskova commented on #877
@mcarrano Yes!

[2021-04-19 15:26] mcarrano commented on #892
Looks like a good start @gdoyle1 . I do have some comments/questions. Is this really an alert or more like a modeless window that can float on top on the page? I ask because it seems like the use case is more to report status of ongoing tasks rather than momentary events. Is that right?

If it's something that will be kept open on the user's screen, than I wonder if it should be movable and/or hav

[2021-04-19 15:28] mcarrano commented on #840
I am going to close for now and perhaps we can revisit once we introduce other changes to the tertiary nav styling.

[2021-04-19 15:28] #840 closed

[2021-04-19 15:50] mcarrano commented on #949
I've opened https://github.com/patternfly/patternfly/issues/4017 to implement this as a new feature called Rich Helper Text that can be applied to any form field. See designs here: https://marvelapp.com/prototype/6jehce7/screen/78511266 Going to close the design issue.

[2021-04-19 15:50] #949 closed

[2021-04-19 17:59] #919 closed

[2021-04-20 08:28] MariSvirik opened #1033 "Extra features/enhancement for dual list selector"
I have a use case where we need some additional features in the Dual list selector component. The use case is adding/removing Ansible roles in the Host detail page in Satellite.

1. As there can be more than 100 items on one side of the dual list, it's preferred to use **pagination components.** Combination of an endless scroll and search bar without knowing the name of the item is not a user-frie

[2021-04-20 12:24] gdoyle1 commented on #892
@mcarrano Yes it is more like a modeless window that can float on top of the page. And yes, it would be used to report ongoing tasks rather than momentary events! I agree it could be useful to move it around. You can collapse it currently although it won't be removed from the screen... I can explore minimizing it out of view as well.

Originally I was thinking it could appear in the same place as

[2021-04-20 13:57] mcarrano commented on #1033
Seems like a reasonable request @MariSvirik . I will need to get it on the roadmap. Is this needed in a specific timeframe? Right now I am scheduling out into Q3.

[2021-04-20 15:21] mcarrano commented on #1027
@beccaglass Per our discussion today, I'm reassigning this to you with the assumption that @mceledonia will work closely with you to consult on visuals.

[2021-04-20 20:29] MariSvirik commented on #1033
@mcarrano I was told we need to build the entire Ansible part in 5 months. Adding and removing Ansible roles (that is done via Dual list) is a crucial part of that implementation. Therefore if it's possible to prioritize at least an 'ordered list' and the 'drag and drop' features and schedule it for the very beginning of Q3, that would be great. The pagination could be added later.

[2021-04-21 10:29] garrett commented on #840
Just an update from the Cockpit side:

The main location where we used tertiary navigation as tabs was in the virtual machines page. Instead of using tabs, we are using a subpage where everything is in sections now.

However, we do have an open PR that is using tabs and it's hitting an overflow issue in mobile, much like mentioned in this issue.

It goes from this:

![Screenshot_2021-04-21 Netzwer

[2021-04-21 12:59] mcarrano opened #1034 "Reconsider approach to scrolling horizontal tabs on mobile"
There have been requests for a different approach to displaying horizontal tabs on mobile devices. Currently, horizontal tabs scroll when they no longer fit within narrow viewports. Usability concerns have been expressed with this. See this issue for example: https://github.com/patternfly/patternfly-design/issues/840

Want to consider alternative approaches like presenting tabs in an overflow menu

[2021-04-21 13:03] mcarrano commented on #840
@garrett Thanks for the additional feedback. I have opened a new/fresh issue to explore this in the context of Tabs here: https://github.com/patternfly/patternfly-design/issues/1034 I'm open to reconsidering our current approach to scrolling the tabs, but this may be difficult to achieve without introducing a breaking change to the existing component.

[2021-04-21 14:07] garrett commented on #1034
Thanks for opening this issue! :tada:

I'm looking forward with whatever solutions you and others may find.

[2021-04-21 14:38] doruskova commented on #1028
@evwilkin @mcarrano Thank you, Evan! The icons have been already added to a Sketch kit.

[2021-04-21 14:39] lwrigh opened #1035 "Design documentation needed for drag and drop interactions"
A proposal for introducing a [drag and drop pattern ](https://docs.google.com/document/d/1LpPj68HWkyT2oq6nJDBFg_WI9pk4BWimPbw7l8yWVvQ/edit?usp=sharing)was shared at the most recent design share meeting. In a PatternFly context we discussed that going forward it would make more sense to add more design documentation guidelines around consistent drag and drop behaviors, interactions, and visual desi

[2021-04-21 14:44] pacospace commented on #964
@mcarrano, @evwilkin do you have update on this issue? :)

[2021-04-21 15:43] bdellasc commented on #1028
Based on the example posted in the original comment on this issue, here's the proposed usage text for the icon table:

- fa-eye: Indicates the content of a component is currently obscured but can be revealed.
- fa-eye-slash: Indicates the content of a component is revealed but can be obscured.

CC @mcarrano @evwilkin @doruskova @mceledonia

[2021-04-21 15:48] mcarrano commented on #1035
@mmenestr we discussed adding this as a new general guideline since there is no such thing as a "Drag and Drop" component.  Going to transfer this over to org for doc tracking.

[2021-04-21 17:37] evwilkin commented on #1028
Moving to PF-Org repo for implementation as Sketch work is already complete.

[2021-04-21 17:42] evwilkin commented on #1036
Opened related Org issue https://github.com/patternfly/patternfly-org/issues/2461 to implement this change.

[2021-04-21 18:23] bdellasc commented on #1036
Should the icons be categorized as "Framework", not "Object"? Much like a dropdown arrow, ellipses, etc they're clickable and have an interaction associated with them? Sorry, I didn't catch this earlier.

@mcarrano @evwilkin @doruskova @mceledonia

[2021-04-21 20:13] mcarrano commented on #1036
@bdellasc perhaps we should use "hidden" vs "obscured" in the proposed usage? I think that's a word that people will be more likely to search on. Agree that "Framework" makes more sense for the category.

[2021-04-21 20:29] evwilkin commented on #964
@pacospace thanks for following up - we were not able to find a way to create a template like this using our existing code base that will work in Gmail.  One of our CSS developers has a background in email development and is going to take a look to see if we may be able to build out something custom that may work, and we'll follow up to report his findings.

[2021-04-21 20:43] bdellasc commented on #1036
@mcarrano - fine by me. I'll change the suggestion above to reflect that. Thanks!

[2021-04-22 06:09] yfrimanm opened #1037 "Request for a toggle/ option to switch between tile view and list view for VM templates"
n the April 2021 usability study, it came up that when users were creating VM from a template via the Wizard, they were presented with a tile view of the templates, but when they were viewing the VM templates, they were presented with a list view. Some users got confused between the views.
My request is for creating a toggle button to switch between a tile view and a list view for both pages.

[Go

[2021-04-22 07:01] doruskova commented on #1036
@mcarrano @bdellasc Framework works for me too. I'll update it in Sketch.

[2021-04-22 12:02] garrett commented on #1034
To illustrate, here are some cropped screenshots from a pending PR in Cockpit.

Normal:
![Screenshot_2021-04-21 Netzwerk - garrett Rain(2) - mod](https://user-images.githubusercontent.com/10246/115538934-af06fa00-a29c-11eb-9dc3-2db180578bb4.png)

Same tabs, in mobile:
![Screenshot_2021-04-21 Netzwerk - garrett Rain(3) -  mod](https://user-images.githubusercontent.com/10246/115538947-b3331780-a29c-

[2021-04-22 17:46] lwrigh commented on #914
For reference here is the Miro board guided tour inventory some of the OpenShift team has been working on https://miro.com/app/board/o9J_lJBwKPg=/. It features some of the current guided tour designs we have been considering.

After talking as a group about this, we think it makes sense to find a common layout for the guided tour. All of the designs overlap on things like number of steps, titles,

[2021-04-22 18:54] andybraren commented on #879
Here are a couple of recent examples of this pattern bubbling up in products. Consensus on a design like Corey's would be great. 👍

A forward-looking stepper mockup from OCM that shows the progress of a cluster installation in discrete steps, with left-aligned text:

![image](https://user-images.githubusercontent.com/9122899/115768450-4ee58600-a378-11eb-94db-a90c59da9582.png)

A work-in-progress s

[2021-04-26 16:24] coreyvickery commented on #879
@andybraren Should we try and combine what you are working on with what I designed?

[2021-04-26 17:45] #1036 closed

[2021-04-26 21:21] gdoyle1 commented on #892
@mcarrano @mceledonia @jessiehuff I made some updates based on our conversation today! https://marvelapp.com/prototype/g8idd54 I think the inline alert is in a good spot and I spoke with other OpenShift designers who still think that it'd be useful as a variant. Would appreciate feedback on integrating the ongoing tasks list into the notification drawer!

[2021-04-27 19:56] mcarrano commented on #892
@gdoyle1 I like the direction this is going. I agree that the expandable inline alert is in good shape and should be an easy enhancement. I left a couple of comments regarding the tasks in the drawer, but in general I like the direction. I think the tabs work to switch between Alerts and Tasks.

[2021-04-29 13:47] lwrigh commented on #945
Here is a first pass at incorporating different types of alerts into the popover. Let me know what you think.
![Alert popover variations](https://user-images.githubusercontent.com/20227374/116560926-d595e800-a8cf-11eb-9287-efb1ad1b31ba.png)

Here is an example of the danger alert popover in the Cockpit context.
![In context](https://user-images.githubusercontent.com/20227374/116560852-c6169f00-a8c

[2021-04-29 17:26] mcarrano commented on #945
I think these designs look great @lwrigh .

@mceledonia @mcoker can you also take a look and see if there are any issues?

[2021-04-29 17:56] AlexSCorey opened #1040 "Wizard SideNav Word Break"
If the name of a side nav item is close to taking up 100% of width when inactive, the increased font weight, when active, can push it onto a new line and be a bit uncomfortable for the user.  See the comment in other PR below.

https://github.com/ansible/awx/pull/10004#issuecomment-828785862

[2021-04-29 21:10] katierik opened #1046 "Would like option to use grey in charts"
I have a couple charts in the Insights for RHEL compliance application on cloud.redhat.com, which are meant to show the overall completion of something.
With the existing charts, we cannot change the color of the light blue to grey (as designed). The grey better represents that this is an incomplete amount than the light blue.

![image](https://user-images.githubusercontent.com/23172038/116618911-

[2021-04-29 21:20] gdoyle1 opened #1038 "Secondary actions dropdown"
We have come across a few different use cases in OpenShift, OCM and ACM where a secondary version of the `primary toggle` we have today would be useful. Mostly for the cases where we have a primary action on the page and multiple secondary buttons, where one may contain multiple actions.

I added my example we have in OCM that has to do with adding identity providers. I also attached the design th

[2021-04-30 02:22] andybraren commented on #879
@shirimordechay @nirfarkas @imjoyjean If @coreyvickery's design [here](https://xd.adobe.com/view/9a5a5c65-9ba2-4f43-8a0e-fc86e54a95f1-cf09/screen/a530854b-9999-4347-943a-f11f7bc02eae/) was available as a PatternFly component, would it meet the needs of OCM, ACM, and the Assisted Installer?

[2021-04-30 08:04] MariSvirik commented on #1033
@mcarrano I updated the issue according to the feedback during design share.

[2021-04-30 13:17] mcarrano commented on #1038
@gdoyle1 is there a reason you can't just use the default dropdown in these cases?

[2021-04-30 13:22] gdoyle1 commented on #1038
@mcarrano I guess not really other than the default dropdown doesn't create the same visual hierarchy as the secondary buttons do so it isn't _as obvious_ that it's an action. I'm going to have them use a default dropdown for the time being though

[2021-04-30 13:32] mcarrano commented on #1038
That's probably a good plan for the short term. I'd be open to reconsidering Dropdown styling in general to conform more to button variants rather than just adding a new variant. Maybe something to consider as part of a larger visual refresh.

cc @mceledonia

[2021-04-30 13:42] bmignano commented on #1038
I did run into this with a design I was working on, although we don't know that we will actually use it at this point. But, hypothetically if we were to have two action dropdowns and want one to be primary and one secondary, it does feel weird that the primary dropdown styling and actions dropdown styling are so different. I agree with Gina that they don't provide the same visual hierarchy that a

[2021-05-02 07:58] shirimordechay commented on #879
@abenari We can definitely use this component to show long process progress in OCM (Such as installing and uninstall)! We can add an "X out of Y steps" indication and a minimized version of this for the popover view we have today:
![image](https://user-images.githubusercontent.com/10331355/116806369-37a35700-ab35-11eb-9be0-0fafc1a0dc76.png)

[2021-05-03 11:40] nirfarkas commented on #879
In the Assisted Installer steps run simultaneously, so I'm not sure if this will fit us.

[2021-05-03 14:22] #771 closed

[2021-05-03 14:30] mcarrano commented on #1030
Opened https://github.com/patternfly/patternfly/issues/4036 to track this design and added to the feature roadmap.

[2021-05-03 15:11] mceledonia commented on #932
Here are the new icons for panel-open and panel-close, attached as SVGs. @mcarrano
[panel-open-close.zip](https://github.com/patternfly/patternfly-design/files/6415720/panel-open-close.zip)
<img width="244" alt="image" src="https://user-images.githubusercontent.com/30935938/116894591-3ee36700-ac00-11eb-93de-7e09dfa1fa2c.png">

[2021-05-03 15:20] bdellasc commented on #932
Did you add those icons to the Sketch exporter source file @mceledonia?

[2021-05-03 16:36] imjoyjean commented on #879
Yes @andybraren as you've pointed out, I think we'll (ACM) find something like this useful. (A version of it is being explored right now, including it turning vertical for responsiveness per Andy's links, similar to what Shiri has above in the tooltip, but with a bar on the left that fills as steps are being completed)
![image](https://user-images.githubusercontent.com/57908474/116904578-80c1dc80-

[2021-05-03 17:38] vconzola commented on #879
Is there a version of this with reduced size and spacing that will fit
inside a table row? That's a requirement for the migration tools.

Vince Conzola

Red Hat <https://www.redhat.com/>

100 E. Davie Street

Raleigh, NC 27609

***@***.***    T: 919-716-5041
M: 919-459-7865
<https://red.ht/sig>

On Mon, Apr 26, 2021 at 12:24 PM coreyvickery ***@***.***>
wrote:

[2021-05-03 17:48] bgliwa01 opened #1039 "Request for truncation component"
We have come across the need for truncation in the middle of a string in OpenShift to fit in a given amount of space. It would be helpful to have a component that truncates in the middle of the string, but only when there isn’t enough space. If truncated, it should automatically add a tooltip. The number of chars can vary to ensure it fills as much available space as possible.

[2021-05-03 18:14] mcarrano commented on #932
Thanks @mceledonia . I opened https://github.com/patternfly/patternfly/issues/4037 to add these to the core icon set. @bdellasc what do we need to do to add these to the website?

[2021-05-03 19:19] christianvogt commented on #1039
I would expect this component to be reactive to changes in width of the parent container. For example if a label were to be inside a resizable drawer. As the drawer width changes, the label truncation would adjust accordingly.

The same component should allow for specifying if truncation should occur in the middle or the end and supply the same tooltip when the text is truncated.

[2021-05-04 15:42] mceledonia commented on #990
Just realized I never added the spec here, see below!
![image](https://user-images.githubusercontent.com/30935938/117030638-d5ca2500-accd-11eb-8593-6670275d0387.png)

[2021-05-05 14:49] gdoyle1 commented on #1038
Andrew had an additional use case for this: https://marvelapp.com/prototype/8592c3a/screen/79048227

[2021-05-05 15:20] lboehling opened #1041 "Clarify responsive state guidelines and examples for Primary-Detail demo"
The Managed Kafka team is looking to add more clarification around the responsive behavior for the primary-detail demo in PF.

We discussed that we should update the PF guidelines and demos to include:

- an auto-dismissing details drawer when resizing to a smaller viewport (so the screen defaults to the primary view)
- a specific " <- Back to {{Primary Object}}" navigation action to the top left

[2021-05-05 15:28] lwrigh commented on #945
![In context](https://user-images.githubusercontent.com/20227374/117166916-cf52b080-ad94-11eb-9cda-aca5ede54919.png)
Here is an updated in context example for more clarity. My assumption is that the alert popover would act like a regular popover and would be invoked by the user clicking on the label/touch point.

[2021-05-05 16:28] itsptk commented on #1034
OpenShift has interest in something like this as well. There are certain resources that have additional horizontal nav items that vary in number. Generally there are 1-3 but sometimes there can be 10+. There might be other solutions to this particular problem but it seems like some way to represent the overflowed horizontal nav items would be appreciated, in this case even on desktop screen size.

[2021-05-05 16:51] andrew-ronaldson commented on #1038
My example is using expandable field groups with secondary buttons. In this particular case a secondary toggle would generate a new section of the form based on the selected dropdown option.

<img width="1039" alt="Screen Shot 2021-05-05 at 12 03 33 PM" src="https://user-images.githubusercontent.com/28658548/117177006-ea2e2080-ada6-11eb-8486-75e50a5b9e02.png">

[2021-05-05 19:07] jgiardino commented on #1041
Thanks for capturing this! You covered everything. We did discuss that if we're using an X like we have in a modal, that there should be an affordance that this is an overlay, which the modal has but the drawer does not. But having the X be replaced with a "<- Back to..." link might be cleaner on resize (i.e. I'm not sure how you could transition from a drawer to a modal).

Another thing worth men

[2021-05-05 21:16] mcoker commented on #945
@mcarrano @lwrigh looks great to me!

[2021-05-06 12:06] doruskova commented on #990
@mceledonia Thank youu! Could you also add spec for disabled ones? Not sure about the border color.

[2021-05-06 15:09] mcarrano commented on #1025
Need to consider the recommended design solution for this use case. Will add to our roadmap.

[2021-05-06 15:29] mcarrano commented on #1032
Thanks for filing this issue @karelhala. We are currently investigating a more global solution for dark theme so we rather handle this within that context. Sounds like you have a short term solution here? Therefore I am going to close.

[2021-05-06 15:29] #1032 closed

[2021-05-06 15:34] epwinchell commented on #1032
@mcarrano We came up with a custom solution for the Console Landing page, using some transparency when rendering over a background image: https://github.com/RedHatInsights/landing-page-frontend/pull/251 Thanks.

![Screen Shot 2021-05-06 at 11 33 54 AM](https://user-images.githubusercontent.com/1287144/117325719-fc6b9580-ae5e-11eb-991c-b606df40cf46.png)

[2021-05-06 15:36] mcarrano commented on #1034
Will get this on the roadmap. One potential solution is to take same approach as we use for [jump links](https://www.patternfly.org/v4/components/jump-links/html#expandable-responsive).

[2021-05-06 15:48] mcarrano commented on #1038
Let's consider updating the default dropdown style as part of our more global visual refresh.

[2021-05-06 16:03] mcarrano commented on #1040
Per discussion with @mceledonia and @mcoker we will update wizard sidebar styling to no longer make selected item bold. Will transfer to core and place on roadmap.

[2021-05-06 16:06] mcarrano commented on #1041
@mcoker please take a look.

[2021-05-06 17:34] mcarrano opened #1042 "Revisit selected states for tiles and cards"
Tiles and Cards have a similar issue with reflecting a selected state, Currently a blue border is used. However current browser versions also superimpose a blue border to indicate focus. This means that de-selected cards can look selected when they have focus. Need a solution that works for both of these components.

[2021-05-06 17:57] mcarrano commented on #1041
@lboehling @jgiardino We can consider revising/improving the demo and documentation moving forward, but I believe everything here can be implemented today with the current components. Is this something you feel like you have a dependency on?

[2021-05-06 18:01] mcarrano commented on #1037
@yfrimanm we currently have a toggle component described here: https://www.patternfly.org/v4/components/toggle-group There's no reason you can't use this in a toolbar to toggle between views. Is there something more that you need?

cc @mceledonia

[2021-05-06 19:12] christianvogt commented on #1039
[code]

[code]

I'm unsure if we really need an ellipsis at the start. The primary use cases are for middle and end.

When we want to display a label in a consistent manner without word wrap, we may be constrained to a specific width. eg within a gallery of cards. As such, depending on where the identifying information is most prevalent in the label, it may be more important for the user to be abl

[2021-05-06 20:05] mcarrano commented on #1039
cc @mcoker ^^^

[2021-05-07 13:06] yfrimanm commented on #1037
Thank you very much Matt! This seems like a good solution to what I need
there.

On Thu, May 6, 2021 at 2:01 PM mcarrano ***@***.***> wrote:

[2021-05-07 13:54] mcarrano commented on #1037
OK. In that case I will close this.

[2021-05-07 17:59] mceledonia commented on #990
@doruskova Disabled state will be the same as the current styling, just the fill and text color.
Fill: pf-black-300
Text: pf-black-600

[2021-05-10 15:03] mcarrano commented on #945
I have opened https://github.com/patternfly/patternfly/issues/4058 to begin implementation. Thanks @lwrigh !

[2021-05-12 07:35] doruskova commented on #1010
@mcarrano Yes!

[2021-05-12 15:35] coreyvickery commented on #879
@shirimordechay That's a great idea.

@vconzola Can you provide specs for the table? This component is responsive, so we can adjust it for small spaces.

https://xd.adobe.com/view/d20a1c17-375c-4c7f-6827-5fe2f8c2d92f-a43b/screen/cbf08024-32d6-4303-a15d-1542fac0b54e

[2021-05-13 15:14] mcarrano opened #1043 "Tree view enhancements"
Creating this epic to cover multiple tree view enhancement requests.

[2021-05-13 19:30] mcarrano opened #1044 "Add active state for Buttons"
Add active state styling to the button component per the designs here: https://marvelapp.com/prototype/14210469/screen/76778608

[2021-05-13 19:53] mcarrano commented on #773
This was opened for PF3 parity, but it has never been requested for PatternFly 4 so going to close.

[2021-05-13 19:53] #773 closed

[2021-05-13 22:08] mcoker commented on #1010
@mcarrano lgtm

[2021-05-14 14:49] mmenestr opened #1045 "Potentially revamp filters"
Want to potentially modify filters a little bit. This would include some visual changes, including having a "selected" toggle state when items within the select list are selected, not just when the toggle itself is selected.

This would entail getting rid of chips, and having this new visual treatment of the toggle as a replacement.

Here are some preliminary mocks from our initial explorations: h

[2021-05-14 19:18] mcarrano opened #1047 "Reconsider styling of dark vertical navigation"
There is a consensus that the contrast between the existing vertical navigation (dark nav) and the page content area is too high contrast and that perhaps we should consider design options for a softer look.

[2021-05-17 13:32] #872 closed

[2021-05-17 13:32] #764 closed

[2021-05-17 13:40] #775 closed

[2021-05-17 13:40] #873 closed

[2021-05-17 13:41] #759 closed

[2021-05-17 13:47] #928 closed

[2021-05-17 15:07] #1009 closed

[2021-05-17 17:45] mcarrano opened #1048 "Compact label"
Need a compact label variant for use in tables or anyplace where a smaller label is needed. See https://github.com/patternfly/patternfly/issues/4031 for further discussion about this.

cc @katierik

[2021-05-17 20:54] garrett opened #1049 "Alert title font size is unspecified and often incorrect when PF4 is mixed with other frameworks (including PF3)"
The PatternFly 4 alert title (`.pf-c-alert__title`) does not specify a font size (or even family). PatternFly assumes that this will be inherited from `.pf-c-alert`.

However, when other frameworks, which often specify a font-size and sometimes a different font-family are used in a project that also uses PatternFly 4, the alert fonts have the H4 styling applied instead.

The solution is to directl

[2021-05-17 21:45] andybraren commented on #879
Quick note: I've heard that ACM is aligning on something more like OCM's mockup, and OCM would like to align on something more like Corey's/PatternFly's design, so yeah, there's an opportunity here. 🙂

[2021-05-17 23:30] AdamJ commented on #879
+1 to a horizontal stepper - CIM would have a use for an officially supported model. Right now, we’re using a wizard, but it doesn’t really fit.

[2021-05-18 08:24] doruskova commented on #945
@lwrigh Hey Laura! Could you send me a spec file or a sketch file for this? Also, I guess that the warning yellow text color doesn't have enough contrast against the white background.

[2021-05-18 12:09] lwrigh commented on #945
@doruskova Thank you for mentioning that! Yes changing the yellow to be more accessible is totally cool with me.

[2021-05-18 14:27] mcarrano commented on #945
@lwrigh @doruskova I must have missed that. Yes we should use the darker gold color that we already use in alerts, not the yellow. @mcoker please take note.

[2021-05-18 14:44] mcoker commented on #945
@mcarrano yes, we'll mimic the way alerts is setup.

[2021-05-21 06:53] coreyvickery commented on #879
@mcarrano Here are my latest designs that we discussed in the smaller meeting. I can provide the XD source file if necessary. These could be considered final or ready for whatever will be added to them next.

https://xd.adobe.com/view/799b9517-3841-451b-a3d5-2867dd14ca44-2cc8/

[2021-05-21 10:54] ahileseverquote opened #1202 "PF background images affecting bundle sizes"
Hi. I've noticed when building React apps using Patternfly with Webpack that there are warnings related to asset sizes on the PF background images.

When building bundles, I am seeing the following warnings:

[code]

I'm using the same `url-loader` plugin config in my Webpack configuration as what's used in the [patternfly-react-seed](https://github.com/patternfly/patternfly-react-seed/blob/master

[2021-05-21 13:43] katierik opened #1050 "Change to cancel button makes it look misaligned"
The current placement of the cancel button in wizards is strange. It is not a consistent distance from the other buttons and appears misaligned.
![image](https://user-images.githubusercontent.com/23172038/119145999-2fde2080-ba18-11eb-84b5-6432a0439b79.png)

As per this discussion in patternfly slack (https://patternfly.slack.com/archives/CGR204RM2/p1620153087090100) this was an intentional change

[2021-05-24 13:15] doruskova commented on #1010
@mcarrano 2 new examples have been added to a template file.

[2021-05-24 13:56] mcarrano commented on #1010
Thanks @doruskova .

@mcoker do you think it would also be useful to build these out as demos?

[2021-05-26 15:20] mcarrano commented on #879
@coreyvickery this is looking good. Just to reiterate the points I made at today's PF design share meeting, for the horizontal version, it would be great to left align the label of the first item and right align the last item so the the first and last nodes can align to the edges of the enclosing container.

@andybraren @shirimordechay @imjoyjean @AdamJ if we move forward with this design, will th

[2021-05-27 13:15] andybraren commented on #879
- +1 on trying out left/right alignment of the labels in the first and last steps. In isolation centering looks great, but in the context of a full page with step labels of uneven lengths (like the screenshots above) the component may feel imbalanced otherwise.
- We may want to test out status icons other than the nicely-rounded success/error and empty. Every in-product example mentioned above inc

[2021-05-27 13:51] doruskova commented on #1043
@mcarrano I've been working on the compact version of a tree view and I have two versions.

- [With borders ](https://marvelapp.com/prototype/73043j4/screen/79699286) + [design spec](https://marvelapp.com/prototype/73043j4/screen/79700740)
- [Without borders](https://marvelapp.com/prototype/73043j4/screen/79700809)

The version with borders looks more organized IMHO and the advantage is that the e

[2021-05-27 14:04] mcarrano commented on #1043
@doruskova I kind of like the version without the borders better, but maybe that's just based on my preconceived notion of what this would look like. I wonder if the bordered version is too busy. What do you think @mceledonia ?

[2021-05-27 15:24] nicolethoen opened #1051 "Add optional timezone features to time picker"

[2021-05-27 15:51] dj-blake opened #1052 "isPrimary does not work for Split Button"
Setting the DropdownToggle to use primary button styling does not seem to work for a Split Button (Dropdown component), even though DropdownToggle already seems to support isPrimary for a regular Dropdown.

It looks like a regular Split Button:
![image](https://user-images.githubusercontent.com/6302852/119621517-cce5f280-be38-11eb-89f4-67a89dc9c1f1.png)

Would instead expect it to look something l

[2021-05-27 18:59] jkupferer opened #1053 "DateTimePicker Component"
## Description

A component that allows users to select a date and time, combining functionality of the DatePicker and TimePicker.

### Use Cases

* Select a time within working hours on work days.
* Select a time within the next 12 hours possibly overlapping midnight to the next day.

## Why this component is needed

While it is possible to stitch the DatePicker and TimePicker together, it puts a

[2021-05-27 22:21] mcarrano commented on #1053
@redallen @nicolethoen can you comment on this one? I'm not opposed to this from a design standpoint but I remember that we specifically rejected this approach during the React implementation. Can we review the pros and cons of this vs the current approach?

[2021-06-01 07:51] KKoukiou opened #1055 "Toolbar: when using the toggle version of the toolbar filters the toolbar unnecessarily takes too much vertical space"
Current patternfly:

![Screen Shot 2021-06-02 at 09 46 55](https://user-images.githubusercontent.com/14921356/120286453-8b34cc00-c2be-11eb-803e-95171c83d6ef.png)

Expected result:

![Screen Shot 2021-06-02 at 09 46 38](https://user-images.githubusercontent.com/14921356/120286456-8bcd6280-c2be-11eb-90ae-9ea61f08c9db.png)

Since we are dealing here with mobile mode, a few pixels are important to be

[2021-06-01 13:12] redallen commented on #1053
There's no technical reason we can't create a hybrid `DatetimePicker`.

Pros for this suggested design:
- Produces single `Date` value (great for devs)
- Can type Date + time in single field (better UX)
- Cleaner display

Cons for this suggested design:
- 2 separate pickers
  - One is a calendar in a Popover
  - One is a dropdown which will effectively be a setter
- How should validation work? Can

[2021-06-01 14:18] MariSvirik opened #1054 "Breadcrumb switcher"
For a redesign of Satellite/Foreman moving from PF3 to PF4 we need a breadcrumb switcher which is currently a [the component in PF3 ](http://foreman-storybook.surge.sh/?path=/story/components-breadcrumbbar--with-open-switcher) but not in PF4.
This component is used almost everywhere within the product and we would like to have it in PF4 for the next release that's coming in 5 months.

Current impl

[2021-06-01 19:59] mcarrano commented on #1053
Per discussion with @nicolethoen , it might make sense to create a new component that wraps the existing date and time together to make the combined solution easier to use. I'm not in favor of creating a new design for this, but would rather leverage the existing components where possible.

I will transfer this issue to `patternfly-react` and look to get it on the roadmap for further investigation

[2021-06-02 13:52] mceledonia commented on #1029
@mcoker Are we able to implement this in such a way that bolding the text on hover does not cause the text box to take up additional space? I know we have discussed workarounds for this in the past (bolded text states taking up more room causing layouts to shift) and decided to stay away from text weight style changes for interactive states. However in this instance I'm not seeing too many alterna

[2021-06-02 14:12] jknilans commented on #1029
Found this on CSS Tricks, may be of use in this situation: https://css-tricks.com/bold-on-hover-without-the-layout-shift/

[2021-06-02 14:21] mceledonia commented on #1029
Nice, that could be the solution! I was looking for alternative solutions and found that we might also be able to adjust the underline color without the text color, so something like this could be an alternative option.
![image](https://user-images.githubusercontent.com/30935938/120497026-116b1400-c38c-11eb-90b7-64e60d80874e.png)

![image](https://user-images.githubusercontent.com/30935938/1204972

[2021-06-02 14:27] mcoker commented on #1029
@mceledonia it's possible, but it's a hacky solution - @jknilans shared an article with how to do it.

It's also not something we can do with CSS alone, it requires special markup in the HTML, which means a user can't just include a regular link in the banner. They would need to use the special markup, or use a special component to include a link when using the react banner component. There is als

[2021-06-02 14:44] lboehling commented on #1029
Could we just have text links in banners always bolded and the hover just adds the underline? That way there is no text/layout change on hover. @mceledonia @mcoker

[2021-06-02 14:47] mceledonia commented on #1029
@mcoker Thanks for the explanation, sounds like it is worth exploring other design solutions if we don't have a clean way of ensuring users would use the required markup.

Just to recap the design issue here - our banner component offers multiple color variations which means a hyperlink style relying on color alone won't work as it will inevitably run into color contrast and legibility issues. Thi

[2021-06-02 19:59] mcoker commented on #1010
@mcarrano I think that would be fine, just to confirm this is just a demo of field groups using more complex content in the groups? We don't currently have a field group demo - only have the component example - so I think that would be a good addition.

[2021-06-04 07:41] MariSvirik commented on #1027
**More information about Satellite**
Satellite devs are willing to help with development. But it would be better to have someone from the PF4 team help them with CSS and PF4 classes, so there is no need to rebuild the component later.

**Dates**
To get it in the Satellite 7.0 release, we need designs by August at the latest, so devs have until November (dev freeze) to work on it.

[2021-06-04 15:47] mcarrano commented on #1051
Example of time zone usage from DMN/Kogito

![image.png](https://images.zenhubusercontent.com/5ce816524e6c594dc1b0df4d/80a5cefc-2f66-4ef0-994d-1d300272ae6a)

[2021-06-04 19:38] mcarrano commented on #1051
What it feels like this issue is calling for would be for PatternFly to return a date object that is calculated from the hh:mm:ss that is entered by the user +/- the offset from GMT based on the chosen timezone. Right now (per discussion with @nicolethoen) , the PF time picker component does not return a date object but rather leaves that calculation to the consumer.

There is a related request he

[2021-06-04 21:32] nlcwong commented on #1027
Cost Management for OpenShift used to be a two level navigation app, but when it needed to move over underneath the OpenShift pillar in cloud.redhat.com, Cost Management itself now became the first level nav option.  We had a need for the nav to support at least three levels so that cost management could maintain its original navigation flow.  Currently, we had to flatten our nav, but would like t

[2021-06-07 13:27] KKoukiou opened #1057 "pf-c-table: why do we need to much padding in the nested tables?"
I recently noticed that we have a local override locally to revert this rule for nested tables paddings.

https://github.com/patternfly/patternfly/blob/master/src/patternfly/components/Table/table.scss#L224

With your paddings our nested tables look like this:
![Screen Shot 2021-03-31 at 12 06 46](https://user-images.githubusercontent.com/14921356/113128181-d3c9fd80-9219-11eb-93c7-0a5c21e7ab84.png

[2021-06-07 14:16] gdoyle1 opened #1058 "Password generator"
In addition to the password strength indicator, this would be an enhancement to the input field that allows for a menu to appear once selecting the field (similar to typeahead) that presents a randomly generated value. We are going with a different way of approaching this for the time being in OCM, but it'd greatly improve the feature if we were able to do what I have below! My guess is that this

[2021-06-07 15:21] mceledonia commented on #1018
@mcarrano This looks like a good candidate for the visual refresh effort, refactoring/improving our approach to disabled states across components.

[2021-06-07 17:37] gdoyle1 opened #1059 "Add new task tracker icon"
For the task tracker demo in #892 , we are proposing to add a new icon within the masthead to be able to indicate tasks are occurring and to open/close the drawer that they live in. All I did was remove the circles from `fas clipboard-list` (https://fontawesome.com/v5.15/icons/clipboard-list?style=solid) and expand the lines to expand more of the width. I'm attaching the icon here. Not sure if thi

[2021-06-07 17:37] gdoyle1 commented on #892
@mcarrano I've finalized the wireframes for the task tracker here: https://marvelapp.com/prototype/g8idd54. It includes creating a new icon so I've created a pf-design issue for that in #1059 . Otherwise, this should be good to go!

[2021-06-07 19:11] mcarrano commented on #1029
Per discussion with @mceledonia @mcoker will pull this into the roadmap. Proposed solution looks good except for potential confusion of links and bolded text. @lboehling is this needed in a specific timeframe?

[2021-06-07 19:18] mcarrano commented on #1039
Moving to patternfly core and will get on the roadmap. @christianvogt do you have a specific timeframe when this is needed? Right now we are scheduling into Q4.

[2021-06-07 19:47] mcarrano commented on #1050
Here is the original issue that drove the change to the current spacing: https://github.com/patternfly/patternfly/issues/1894

[2021-06-07 19:53] mcarrano commented on #1052
Will transfer to patternfly-core and schedule on our roadmap for implementation. Currently scheduling into Q4.

[2021-06-07 20:02] mcarrano commented on #1055
I agree that this layout is not optimal when there are not more elements in the toolbar to use the space. In this case it would make sense for everything to layout in one row. @mattnolting can you look into this to see if there is a generic solution when using a toggle group.

[2021-06-07 20:09] mceledonia commented on #1059
@gdoyle1 Since you customized the icon, I think we should treat it as a custom PatternFly icon and take it through that process as we normally would. That basically entails getting it into the Icon Exporter sketch file and exporting SVGs at the proper specs for the dev team to add to our library.

@bdellasc has made an extremely helpful and informative guide for this which you can find [here](http

[2021-06-07 20:41] mattnolting commented on #1055
@mcarrano there isn't a generic solution for this, as all of this functionality is baked in to the `toggle-group`. I can see several approaches to the issue:
- Don't use the toggle group when you may not need to
- Create an `inline` variant
- Make the toolbar composable, which I would refer to @kmcfaul's expertise

[2021-06-07 21:01] katierik commented on #1050
The original issue is interesting, as the key problem seems to be "The click area of the cancel button is larger than it visually appears, causing possible user error."
Instead of moving the cancel button an arbitrary space away, this could have also been solved by reducing the click area of "Cancel". Or moving it to another anchoring point (such as the right corner, as shown above).

[2021-06-08 06:35] KKoukiou commented on #1055
@mcarrano if you think that a general solution for this it too much effort compared to the team's who might benefit feel free to close. I always open issues even for small work arounds we make locally to fit out needs, not all of them need to be solved :) Thanks!

[2021-06-08 12:45] #1055 closed

[2021-06-08 13:27] gdoyle1 commented on #879
Sketch file

[Progress steps.sketch.zip](https://github.com/patternfly/patternfly-design/files/6616838/Progress.steps.sketch.zip)

[2021-06-08 14:51] bdellasc commented on #1059
Thanks for the background @gdoyle1 and follow-up! +1 to @mceledonia 's suggestions about next steps!

[2021-06-08 15:42] mcarrano commented on #1046
@katierik there are really two separate issues here so let me address them both.

First regarding the donut chart shown in your comment above, I believe you can pass in custom color values for the segments. If there are questions about how to do this @dlabrecq should be able to help. You might also consider whether the [Donut Utilization Chart](https://www.patternfly.org/v4/charts/donut-utilizatio

[2021-06-08 20:26] KendraMar commented on #1027
Hi, Platform UXD provided 3 design options extending the current Pfly component expand/collapse option. We don't have a cascade/flyout option that we're confident would extend successfully to OpenShift and Satellite. This would need to come from a PatternFly effort.

I believe Satellite and Cost Management UXers have said that they don't need to immediately add third levels of nav to Satellite and

[2021-06-09 00:06] dlabrecq commented on #1046
There are multiple ways to provide your own custom colors, in addition to the existing color themes. For example, the donut chart has a `colorScale` property. You can also specify colors via `style` props. You can even create a custom theme with your own color scales.

You can find multiple examples here http://patternfly-react.surge.sh/charts/themed-charts#custom-colors

[2021-06-09 09:33] doruskova commented on #1043
@mcarrano [Updated mocks](https://marvelapp.com/prototype/73043j4/screen/79700590) - reflects the component in a context

[2021-06-10 17:39] mcarrano commented on #976
@lboehling I reviewed your document here: https://docs.google.com/document/d/1jTv9Ey8SAbE89nPf01T2FWhiHihi6iCAVKYW31Gueuk/edit?usp=sharing  I think this is a great summary of the problem and potential solutions. After reading this I wonder if the thing we are wanting to expose is really a demo of Inline edit or a separate/new demo called "Editor."  It definitely will make use of the Inline edit co

[2021-06-10 19:45] mcarrano commented on #1041
@lboehling @jgiardino I looked into this a bit more deeply. All of the behaviors that you are requested would need to be implemented as part of the Drawer component, I believe, since Primary-detial just uses the drawer. Let me try to address each of these requests in turn:

I'm reluctant to say that we should always dismiss the drawer when the viewport is resized as this might not be the right ans

[2021-06-10 19:55] mcarrano commented on #1050
I would be reluctant to change the click area since that would be a global change affecting everything that's a link-style button. We could consider changing the style to a secondary button to make the boundaries more obvious. Frankly, the current alignment has never bothered me @katierik . Is this something you had gotten feedback on from testing? I'm willing to revisit prior decisions, but only

[2021-06-10 20:37] mcarrano commented on #1054
@MariSvirik this was a component that existed in PatternFly 3 that we chose not to port over to PatternFly 4. This could pretty easily be built using existing components by placing a button either in the end node of the breadcrumb or immediately following the breadcrumb and use that to open a menu using the new composable Menu component: https://www.patternfly.org/v4/components/menu#filtering-with